{% extends "chords.html" %}

{% set title = "-30" %}
{% set handbook_unid = "34f142d255c3522bc325679d006af177" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЭЛЕКТРИЧЕСТВО - -30<br/>
</span><span style="color:red"> <br/>
-30<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
H------------------------------------------------------------------------<br/>
G-----------1-----------------1-----------------1-----------------1------<br/>
D-2-----0-2-2-5-5---2-----0-2-2-5-5---2-----0-2-2-5-5---2-----0-2-2-5-5--<br/>
A-2-0-2-----2-4---5-2-0-2-----2-4---5-2-0-2-----2-4---5-2-0-2-----2-4---5<br/>
E-0---------0-------0---------0-------0---------0-------0---------0------<br/>
  E         E G  E         E G  E         E G  E         E G<br/>
H------------------------------------------------------------<br/>
G-----------1--------------1--------------1--------------1---<br/>
D-2-----0-2-2-5--2-----0-2-2-5--2-----0-2-2-5--2-----0-2-2-5-<br/>
A-2-0-2-----2-4--2-0-2-----2-4--2-0-2-----2-4--2-0-2-----2-4-<br/>
E-0---------0----0---------0----0---------0----0---------0---<br/>
<br/>
   E<br/>
Сегодня на улицах снег,<br/>
A   G E<br/>
 На улицах лёд;<br/>
E<br/>
 Минус тридцать, если диктор не врёт;<br/>
G        A         E<br/>
 Моя постель холодна, как лёд.<br/>
E                   A G           E<br/>
 Мне не время спать;   не время спать.<br/>
E                            <br/>
 Здесь может спать только тот, кто мёртв;<br/>
    G  A E<br/>
Вперёд.<br/>
<br/>
  A              E<br/>
И я не прошу добра,<br/>
A       G     E<br/>
Я не жалею зла;<br/>
A              G          F<br/>
 Сегодня я - опять среди вас,<br/>
              E<br/>
В поисках тепла.<br/>
<br/>
Проигрыш: E E G – 4p.<br/>
<br/>
E<br/>
 Со мной никогда не случалось ничего<br/>
 A         G E<br/>
Лучше тебя;<br/>
E                          G A E<br/>
 Синий, белый - твои цвета;<br/>
E                         A G E<br/>
 Никогда, ничего лучше тебя.<br/>
E                                  G A E<br/>
 Никто из нас не хотел другого конца;<br/>
E                           G A E<br/>
 Никто из нас не хотел конца.<br/>
E                           G A E<br/>
 Никто из нас не хотел конца.<br/>
E                        G A E<br/>
 Я вижу тень твоего лица!<br/>
E                 G A E<br/>
 Тень твоего лица!<br/>
<br/>
И я не прошу добра,<br/>
Я не желаю зла;<br/>
Сегодня я - опять среди вас,<br/>
В поисках тепла.<br/>
<br/>
Проигрыш: E E G – 4p.<br/>
<br/>
E<br/>
 На улицах снег,<br/>
A   G       E<br/>
 На улицах лёд.<br/>
E<br/>
 Минус тридцать, если диктор не врёт;<br/>
G          A         E<br/>
 Того, что есть, никто не вернёт.<br/>
E                  A G           E<br/>
 Мне не время спать;  не время спать.<br/>
E<br/>
 Я вижу тень твоего лица.<br/>
    G  A    E<br/>
Вперёд, вперёд…<br/>
<br/>
И я не прошу добра;<br/>
Я не желаю зла.<br/>
Сегодня я - опять среди вас,<br/>
В поисках тепла! <br/>
<br/>
Заключение: E E G A – 16p. E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
