{% extends "chords.html" %}

{% set title = "007 (Shandy town)" %}
{% set handbook_unid = "e66665752cd3782bc3256b3d00704ab5" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - 007 (shanty town)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
007 (shanty town)<br/>
</span><i>D.Desmond<br/></i>
 <br/>
   D<br/>
0-0 <br/>
    D G<br/>
0-0-7 <br/>
A   D G<br/>
0-0-7<br/>
   A     D G<br/>
At Ocean 11 <br/>
         A                 D  G<br/>
And now rude boys have go wail <br/>
           A      D  G<br/>
Rude boys cannot fail <br/>
           A      D  G A<br/>
Rude boys cannot fail<br/>
<br/>
D              <br/>
 Dem a loot, dem a shoot, dem a wail <br/>
  G     A<br/>
Shanty Town <br/>
D              <br/>
 Dem a loot, dem a shoot, dem a wail <br/>
  G     A<br/>
Shanty Town <br/>
D<br/>
 Rude boy get other probation <br/>
  G     A  D G A D<br/>
Shanty Town<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
