{% extends "chords.html" %}

{% set title = "212-85-06" %}
{% set handbook_unid = "4cd292c0beaba9c5c325679d006aeee6" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕТИ ДЕКАБРЯ - 212-85-06<br/>
</span><span style="color:red"> <br/>
212-85-06<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: G Em G Em G…<br/>
G Em - 8p.<br/>
<br/>
G                      Em<br/>
Если бы я знал, что такое электричество,<br/>
    G             Em<br/>
Я сделал бы шаг, вышел бы на улицу,<br/>
   G                   Em<br/>
Зашёл бы в телефон, набрал бы твой номер<br/>
     G           Em<br/>
И услышал твой голос, голос, голос, голос, <span style="color:#333333">голос</span><span style="color:gray">, голос…<br/></span>
 <br/>
Проигрыш: G Em – 4p.<br/>
<br/>
Но я не знаю, как идёт сигнал,<br/>
Я не знаю принципа связи,<br/>
Я не знаю, кто клал кабель,<br/>
Едва ли я когда-нибудь услышу тебя, тебя, тебя... <br/>
<br/>
C D    G   C<br/>
  2-12-85-06<br/>
D    G   C<br/>
2-12-85-06<br/>
D    G   C   D         G     G/h     C    D<br/>
2-12-85-06 - это твой номер, номер, номер... <br/>
<br/>
Проигрыш: G G/h C D – 3p. G G/h… <br/>
G G/h C D – 2p. <br/>
<br/>
 G    G/h    C     D<br/>
- что это, Бэрримор?<br/>
G    G/h  C D<br/>
- это даб, сэр. <br/>
<br/>
Проигрыш: G - 4p.<br/>
<br/>
        G      G/h         C          D<br/>
А меня били-колотили во дороге во кустах<br/>
      G       G/h          C          D<br/>
Проломили мою голову в семнадцати местах. <br/>
G   G/h   C    D   G   G/h   C  D<br/>
<span style="color:#333333">Ах - ах - ах - ах - ах - ах - ах…<br/></span>
 <br/>
        G        G/h         C          D<br/>
Увы, недолго это тело будет жить на земле,<br/>
   G        G/h         C          D<br/>
Недолго это тело будет жить на земле,<br/>
     G          G/h        C        D<br/>
Спроси об этом всадника в белом седле,<br/>
   G        G/h         C          D<br/>
Недолго это тело будет жить на земле... <br/>
     G         G/h          C             D<br/>
Вот женщина, завязанная в транспортном узле,<br/>
     G          G/h        C        D<br/>
Вот женщина, верхом на шершавом козле,<br/>
     G           G/h      C         D<br/>
Вот женщина, глядящая на белом стекле,<br/>
   G        G/h         C          D  G G<br/>
Недолго это тело будет жить на земле... <br/>
<br/>
Проигрыш: G G/h C D – 2p.<br/>
<br/>
   G        G/h C D<br/>
Гитара чух-чух<br/>
   G    G/h C D<br/>
Гитара о…<br/>
  G         G/h    C D G G/h C D<br/>
Гитара Ерхо и Лабадай<br/>
<br/>
Проигрыш: <br/>
C C G G/h F G C D G C C Em C<br/>
<br/>
   C               C C D <br/>
Гитара Ерхо и Лабадай<br/>
<br/>
G     G/h   C   D    G  G/h C  D<br/>
- Ведь это ты, Мирон, Павла убил!<br/>
<span style="color:#333333">  G  G/h C D <br/></span>
- Опаньки.<br/>
<span style="color:#4D4D4D">G     </span><span style="color:#5F5F5F">G/h    </span><span style="color:gray">C    D    </span><span style="color:#969696">G G/h C D<br/></span>
- Фитилёк-то притуши, коптит.<br/>
<span style="color:#4D4D4D">   G       G/h      C   D<br/></span>
А вот идут радости плоти…<br/>
<br/>
Проигрыш: G G/h C D – 7p.<br/>
<br/>
   G        G/h        C          D<br/>
В мире есть семь, и в мире есть три,<br/>
      G        G/h        C       D<br/>
Есть люди, у которых капитан внутри,<br/>
      G        G/h         C       D<br/>
Есть люди, у которых хризолитовые ноги,<br/>
      G        G/h          C        D<br/>
Есть люди, у которых между ног Брюс Ли,<br/>
      G        G/h        C          D<br/>
Есть люди, у которых обращаются на "Вы",<br/>
      G        G/h          C        D<br/>
Есть люди, у которых сто четыре головы,<br/>
        G        G/h          C          D<br/>
Есть загадочные девушки с магнитными глазами,<br/>
          G       G/h        C          D<br/>
Есть большие пассажиры мандариновой травы, <br/>
      G          G/h     C             D<br/>
Есть люди, разгрызающие кобальтовый сплав,<br/>
      G          G/h        C         D<br/>
Есть люди, у которых есть дварцы кур-мяф,<br/>
      G         G/h     C          D<br/>
Есть люди типа "жив" и люди типа "помер",<br/>
    G      G/h      C            D      G<br/>
Но нет никого, кто знал бы твой номер... <br/>
<br/>
   G<br/>
- типа <br/>
 G<br/>
рётш и скорА<br/>
   G<br/>
- типа<br/>
ачурк яируФ<br/>
   G<br/>
- типа<br/>
 G<br/>
Фурия круча<br/>
   G<br/>
- типа<br/>
  G/h    C  D<br/>
Ба-<span style="color:#333333">ба-</span><span style="color:gray">баба…бабб…<br/></span>
G  G/h   C  D<br/>
- типа, типа…<br/>
<br/>
       D  G G/h C<br/>
- типа 2-12-85-0а<br/>
D  G G/h C<br/>
2-12-85-0б<br/>
D  G G/h C<br/>
2-12-85-0в<br/>
D  G G/h C<br/>
2-12-85-0г<br/>
D  G G/h C<br/>
2-12-85-0д<br/>
D  G G/h C<br/>
2-12-85-0е<br/>
D  G G/h C<br/>
2-12-85-0ё<br/>
D  G G/h C<br/>
2-12-85-0ж<br/>
<br/>
C D    G   C<br/>
  2-12-85-06 <br/>
D    G   C<br/>
2-12-85-06<br/>
D    G   C   D                G     G/h     C      D<br/>
2-12-85-06 – это твой номер, номер, номер, номер, номер…<br/>
D    G   C<br/>
2-12-85-06<br/>
D    G   C<br/>
2-12-85-06<br/>
D    G   C   D                G     G/h     C      D<br/>
2-12-85-06 – это твой номер, номер, номер, номер, номер…<br/>
<br/>
Заключение: G Em – 8p. G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G/h<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
