{% extends "chords.html" %}

{% set title = "25 к 10" %}
{% set handbook_unid = "9908a300332f6de5c325679d006af2ac" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - 25 к 10<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">25 к 10<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: C Em F G<br/>
    C     Em   F      G<br/>
E---------5-3-------0h8-7---<br/>
H---5-3sl1-----6-6h5--------<br/>
G---------------------------<br/>
<br/>
C            Em<br/>
Я инженер на сотне рублей,<br/>
   F        G      C<br/>
И больше я не получу.<br/>
  C                 Em<br/>
Мне двадцать пять, и я до сих пор<br/>
     F      G    C<br/>
Не знаю, чего хочу.<br/>
       Am               G<br/>
И мне кажется, нет никаких оснований<br/>
Am         Am/g      D<br/>
Гордиться своей судьбой,<br/>
   C                Dm<br/>
Но если б я мог выбирать себя,<br/>
    F        G    C G<br/>
Я снова бы стал собой.<br/>
<br/>
Мне двадцать пять, и десять из них<br/>
Я пою, не зная, о чем.<br/>
И мне так сложно бояться той,<br/>
Что стоит за левым плечом;<br/>
И пускай мои слова не ясны,<br/>
В этом мало моей вины;<br/>
Ну а что до той, что стоит за плечом,<br/>
Перед нею мы все равны.<br/>
<br/>
Проигрыш: <br/>
C Em F G C C Em F G C Am G Am Am/g D C Dm F G C G<br/>
<br/>
Может статься, что завтра стрелки часов<br/>
Начнут <span style="letter-spacing:-2.5pt">вов</span>ращаться назад,<br/>
И тот, кого с плачем снимали с креста,<br/>
Окажется вновь распят.<br/>
И нежные губы станут опять<br/>
Искать своего Христа;<br/>
Но я пел, что пел, и хотя бы в том<br/>
Совесть моя чиста.<br/>
<br/>
Проигрыш: C G<br/>
<br/>
Я счастлив тем, как сложилось всё,<br/>
Даже тем, что было не так.<br/>
Даже тем, что ветер в моей голове,<br/>
И в храме моем бардак.<br/>
Я просто пытался растить свой сад<br/>
И не портить прекрасный вид;<br/>
И начальник заставы поймет меня,<br/>
      F        G       C Em F G C<br/>
И беспечный рыбак простит.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/g<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
