{% extends "chords.html" %}

{% set title = "4D (Последний день Августа)" %}
{% set handbook_unid = "07b7c203943c5ffac325679d006af13b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛИЛИТ - 4d (последний день августа)<br/>
</span><span style="color:red"> <br/>
4D (ПОСЛЕДНИЙ ДЕНЬ АВГУСТА)<br/>
</span><i>Б. Гребенщиков<br/>
<br/>
Каподастр на 3-м ладу<br/>
 <br/></i>
Вступление:<br/>
        A*<br/>
E------------------<br/>
H------------------<br/>
G---2-2--2-0-2--0-2 - 8р.<br/>
D----2--2-2----2---<br/>
A-0----------------<br/>
E------------------<br/>
<br/>
<span style="color:#333333">    A*                A*<br/></span>
Последний день августа<br/>
                       <span style="color:#333333">A* A*<br/></span>
Над городом пахнет грозой<br/>
G(III)                                 D                    <br/>
  Асфальт становится ещё чернее, когда он<br/>
                           <span style="color:#333333">A*    A*<br/></span>
Перечёркнут тормозной полосой<br/>
<span style="color:#333333">E<br/></span>
Утром алмазы станут битым стеклом.<br/>
E                        <span style="color:#333333">A* <br/></span>
Утром её кровь станет росой<br/>
<br/>
Проигрыш: A* - 3p.<br/>
<br/>
Кому-то снятся необъезженные кони<br/>
Кому-то снится полистирол и зола<br/>
Кто-то любит жить, кто-то любит красть<br/>
Объедки с чужого стола<br/>
Она тратила больше, чем им может присниться<br/>
Она всё отдала<br/>
<br/>
Проигрыш: <span style="color:#333333">A* - 5p. G(III) D A* A* E E <br/>
A* </span>- 4p. <br/>
Am Aadd11+ Asus4 Am <br/>
<span style="color:#333333">A* </span>- 2p.<br/>
Am Aadd11+ Asus4 Am<br/>
<span style="color:#333333">A* </span>- 4p.<br/>
<br/>
Последний день августа<br/>
Это лето прожито не зря<br/>
Химеры с Нотр Дама будут первыми<br/>
Кто увидит, как над городом пылает заря<br/>
Отныне её кровь будет чистой росой<br/>
На белых цветах первого дня сентября<br/>
<br/>
Заключение: A<span style="color:#333333">* - 7p. <br/></span>
Am Aadd11+ Asus4 Am <br/>
<span style="color:#333333">A* </span>- 2p.<br/>
Am Aadd11+ Asus4 Am<br/>
<span style="color:#333333">A* </span>- 2p.<br/>
Am Aadd11+ Asus4 Am <span style="color:#333333">A* <br/></span>
E---------------------------------<br/>
H---------------------------------<br/>
G---2-2--2-0-2----2-2-2-2-2-2-2-2~<br/>
D----2--2-2-----------------------<br/>
A-0-------------------------------<br/>
E---------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Aadd11+<br/>
o E---|---|---|---|---|<br/>
  H---|---|---|-■-|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
