{% extends "chords.html" %}

{% set title = "500" %}
{% set handbook_unid = "18eeefad1dafd119c3256a0600320f95" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СЕСТРА ХАОС - 500<br/>
</span><span style="color:red"> <br/>
500<br/>
</span><i>Б. Гребенщиков</i>
 <br/>
Вступление:<br/>
H(VII) D#m C#m E(IV) 2:0 2:II…<br/>
<br/>
G---------------------------------------<br/>
D---------------------------------------<br/>
A---------1-----------1-----------1--2--<br/>
E-1-2-3--2----1-2-3--2----1-2-3--2------<br/>
<br/>
Hm       D(II)      G(III)   F#<br/>
  Пятьсот песен - и нечего петь;              <br/>
Hm      D(II)     G(III)      F# <br/>
Небо обращается в запертую клеть.<br/>
    Hm  D(II)   G(III)       F#<br/>
Те же старые слова в новом шрифте.<br/>
   Hm         D(II)    G(III)      F#<br/>
Комический куплет для падающих в лифте.<br/>
  Hm         D(II)    G(III)    F#<br/>
По улицам провинции метёт суховей,<br/>
    Hm           D(II)        G(III)     F#<br/>
Моя Родина, как свинья, жрёт своих сыновей;<br/>
    Hm  D(II)      G(III)   F#<br/>
С неумолимостью сверхзвуковой дрели<br/>
Hm       D(II)       G(III)   F#<br/>
Руки в перчатках качают колыбель.<br/>
  E                           E7<br/>
Свечи запалены с обоих концов.<br/>
Hm         B     G(III)     F#        <br/>
Мёртвые хоронят своих мертвецов.<br/>
Hm         B     G(III)     F#      <br/>
Мёртвые хоронят своих мертвецов.<br/>
<br/>
Проигрыш: <br/>
Hm D(II) G(III) F# - 4p.<br/>
<br/>
Хэй, кто-нибудь помнит, кто весит на кресте?<br/>
Праведников колбасит, как братву на кислоте;<br/>
Каждый раз, когда мне говорят, что мы вместе,<br/>
Я помню - больше всех денег приносит «груз 200».<br/>
У жёлтой подводной лодки мумии в руки.<br/>
Колесо смеха обнаруживает свойства мясорубки.<br/>
Патриотизм значит просто «убей иноверца»<br/>
Эта трещина проходит через моё сердце.<br/>
В мутной воде не видно концов.<br/>
Мёртвые хоронят своих мертвецов.<br/>
Мёртвые хоронят своих мертвецов.<br/>
<br/>
Проигрыш: <br/>
Hm D(II) G(III) F# - 8p. <br/>
<br/>
Чувствую себя, как негатив на свету,<br/>
Сухая ярость сердца, вкус железа во рту,<br/>
       4:V                   5:VII<br/>
Наше счастье изготовлено в Гонконге и Польше,<br/>
5:VI 5:V 5:IV 4:V G(III)    F#<br/>
Ни        одно имя    не подходит нам больше;<br/>
       Hm        D(II)     G(III)  F#<br/>
В каждом белом бутоне часовой механизм,<br/>
             Hm      D(II)       G(III) F#<br/>
Мы движемся вниз по лестнице, ведущей вниз,<br/>
  Hm       D(II)    G(III)     F#<br/>
Связанная птица не может быть певчей, <br/>
Hm          D(II)  G(III)    F#      Hm       D(II) G(III) F#<br/>
Падающим в лифте с каждой секундой становится легче.<br/>
<br/>
         Hm    D(II) G(III) F#<br/>
Ле-ле-ле-легче-легче…<br/>
Hm   D(II) G(III) F#<br/>
Ллле-ллле-ллле…<br/>
 Hm   D(II) G(III) F#<br/>
Л-е-г-ч-е<br/>
<br/>
E                           E7<br/>
 Собаки захлебнулись от воя.<br/>
      G                                   G7<br/>
Нас учили не жить, нас учили умирать стоя.<br/>
       Hm           B      G(III)    F#<br/>
Ты знаешь, в эту игру могут играть двое.<br/>
  Hm     B       G(III)   F#<br/>
В эту игру могут играть двое.<br/>
  Hm     B       G(III)   F#<br/>
В эту игру могут играть двое.<br/>
  Hm     B       G(III)   F#<br/>
В эту игру могут играть двое.<br/>
<br/>
Заключение:<br/>
G-----------------<br/>
D----------------- - 2p.<br/>
A-2-5---1-2-5-----<br/>
E----3-2-----3-2--<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII    H(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    VI     D#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV     E(IV)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D(II)<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|-■-|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
