{% extends "chords.html" %}

{% set title = "Aballon Sayo" %}
{% set handbook_unid = "1cba24d2d1e4c73dc325679d006aecd6" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - РУССКО-АБИССИНСКИЙ ОРКЕСТР - BARDO - aballon sayo<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
aballon sayo<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: 5:I 4:II - 4p.<br/>
Asus2 Em - 8p.<br/>
Asus2 Asus2+h Am Aadd11+ Amadd13- Am7 Am* Asus2<br/>
<br/>
Asus2      Em Asus2 Em Asus2 Em Asus2 Em<br/>
  Aballon sayo <br/>
<br/>
Проигрыш: Asus2 Asus2+h Am Aadd11+ Amadd13- Am7 Am* Asus2<br/>
<br/>
Asus2      Em Asus2 Em<br/>
  Aballon sayo<br/>
Asus2      Em Asus2 Em<br/>
  Aballon sayo<br/>
Asus2      Em Asus2     Em Asus2 Em Asus2 Em<br/>
  Aballon sayo Aballon sayo<br/>
<br/>
Проигрыш: Asus2 Asus2+h Am Aadd11+ Amadd13- Am7 Am* Asus2<br/>
<br/>
Asus2      Em Asus2 Em Asus2 Em<br/>
  Aballon sayo sayo<br/>
Asus2 Em<br/>
  Sayo<br/>
Asus2      Em Asus2 Em Asus2 Em Asus2 Em<br/>
  Aballon sayo<br/>
<br/>
Проигрыш: Asus2 Asus2+h Am Aadd11+ Amadd13- Am7 Am* Asus2<br/>
<br/>
Asus2      Em Asus2     Em <br/>
  Aballon sayo Aballon sayo<br/>
Asus2      Em Asus2     Em <br/>
  Aballon sayo Aballon sayo<br/>
Asus2      Em Asus2 Em <br/>
  Aballon sayo <br/>
Asus2      Em Asus2 Em <br/>
  Aballon sayo<br/>
<br/>
Проигрыш: Asus2 Em - 13p. Asus2<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Asus2+h<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|---|---|-■-|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Amadd11+<br/>
o E---|---|---|---|---|<br/>
  H---|---|---|-■-|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Amadd13-<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am7<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am*<br/>
  E---|---|---|---|-■-|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
