{% extends "chords.html" %}

{% set title = "Alexandra leaving" %}
{% set handbook_unid = "dcf883611812ed24c32570a30049721a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - Неизданные англоязычные песни - alexandra leaving<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
alexandra leaving<br/>
</span><i>L. Cohen<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: G - 2p.<br/>
<br/>
G                              Em<br/>
 Suddenly the night has grown colder.<br/>
Am                    Am/g        D<br/>
  The god of love preparing to depart.<br/>
    G                      Em    C/h:Em<br/>
Alexandra hoisted on his shoulder,<br/>
Am                       D               G<br/>
  They slip between the sentries of the heart.<br/>
   D                            Am<br/>
Upheld by the simplicities of pleasure,<br/>
   C                                  D<br/>
Became the light, they formlessly entwine;<br/>
     G                          Em    C/h:Em<br/>
And radiant beyond your widest measure<br/>
Am                     D             G   <br/>
  They fall among the voices in the wild.<br/>
             C         D             Em<br/>
It’s not a trick, your senses all deceiving,<br/>
           Am                      Dsus2<br/>
A fitful dream, the morning will exhaust<br/>
         G                Em<br/>
Say goodbye to Alexandra leaving.<br/>
Am           D              G  G+c:G<br/>
  Say goodbye to Alexandra lost.<br/>
<br/>
Even though she sleeps upon your satin;<br/>
Even though she wakes you with a kiss.<br/>
Do not say the moment was imagined;<br/>
Do not stoop to strategies like this.<br/>
As someone long prepared for this to happen,<br/>
Go firmly to the window. Drink it in.<br/>
Exquisite music. Alexandra laughing.<br/>
Your firm commitments tangible again.<br/>
And you who had the honor of her evening,<br/>
And by the honor had your own restored <br/>
Say goodbye to Alexandra leaving;<br/>
Say goodbye to Alexandra lost.<br/>
         G                Em<br/>
Say goodbye to Alexandra leaving.<br/>
Am           D              G  G+c:G G G+c:G<br/>
  Alexandra leaving with a lot<br/>
<br/>
As someone long prepared for the occasion;<br/>
In full command of every plan you wrecked<br/>
Do not choose a coward’s explanation<br/>
that hides behind the cause and the effect.<br/>
             C      D             Em<br/>
And you who were bewildered by a meaning;<br/>
                Am                  Dsus2<br/>
Whose code was broken, crucifix uncrossed<br/>
         G                Em<br/>
Say goodbye to Alexandra leaving.<br/>
Am           D              G  <br/>
  Say goodbye to Alexandra lost.<br/>
         G                Em<br/>
Say goodbye to Alexandra leaving.<br/>
    Am             D          G<br/>
And say goodbye to Alexandra lost.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/g<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G+c<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
