{% extends "chords.html" %}

{% set title = "All I have to do is dream" %}
{% set handbook_unid = "b3a1e86a4d213d73c32570a30045f85d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - Неизданные англоязычные песни - All I Have To Do Is Dream<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
All I Have To Do Is Dream<br/>
</span><i>B. Bryant, F. Bryant<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: С - 4p.<br/>
<br/>
  C Am<br/>
Dream, <br/>
  F             G<br/>
Dream, dream, dream, <br/>
  C Am<br/>
Dream, <br/>
  F             G<br/>
Dream, dream, dream,<br/>
    C       Am<br/>
Whenever I want you<br/>
F              G      C   C<br/>
All I have to do is dream, <br/>
<br/>
When I want you<br/>
In my owns, <br/>
When I want you<br/>
And would you chance, <br/>
Whenever I want you<br/>
F              G      C   Am F             G<br/>
All I have to do is dream, dream, dream, dream, <br/>
<br/>
When I want you<br/>
In a night, <br/>
When I want you<br/>
And hold you mind, <br/>
Whenever I want you<br/>
All I have to do is dream, dream <br/>
<br/>
F<br/>
I can make you mine,<br/>
Em<br/>
Taste your lips of wine, <br/>
Dm                    C<br/>
  Any time, night or day. <br/>
F               Em<br/>
Only trouble is, gee whiz, <br/>
    D7                 G<br/>
I'm dreamin' my life away. <br/>
<br/>
When I want you<br/>
In a night, <br/>
When I want you<br/>
And hold you mind, <br/>
Whenever I want you<br/>
All I have to do is dream, dream<br/>
<br/>
Проигрыш: C Am F G - 3p. C C7<br/>
<br/>
I can make you mine, <br/>
Taste your lips of wine, <br/>
Any time, night or day. <br/>
Only trouble is, gee whiz, <br/>
I'm dreamin' my life away. <br/>
<br/>
When I want you<br/>
In a night, <br/>
When I want you<br/>
To hold you tide, <br/>
Whenever I want you<br/>
F              G      C   Am F             G<br/>
All I have to do is dream, dream, dream, dream,<br/>
  C Am<br/>
Dream, <br/>
  F             G  C<br/>
Dream, dream, dream<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
