{% extends "chords.html" %}

{% set title = "Annie of the nightingales" %}
{% set handbook_unid = "8bc37b103a79b29ac325679d006aed87" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - RADIO LONDON - annie of the nightingales<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
annie of the nightingales <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: A G A G - 8p.<br/>
<br/>
A            G                      A<br/>
 It was the time, when nothing was right,<br/>
 G                       A<br/>
Time, when nothing was wrong;<br/>
      G                     A<br/>
When ballerinas fly in the wind -<br/>
      G<br/>
This time is now.<br/>
<br/>
And it's written in the dark ways.<br/>
Written on the white halls,<br/>
Written in the cracks of the sky,<br/>
And it says...<br/>
<br/>
Проигрыш: A G A G - 2p.<br/>
<br/>
It was awhile since the baby was born,<br/>
Awhile, since the story was told,<br/>
Awhile - and then it happens again;<br/>
And it happens now;<br/>
<br/>
And I can see it in the dark ways,<br/>
And I can see it on the flyovers,<br/>
I can see it in the whites of your eyes;<br/>
And it spells out:<br/>
<br/>
A             G        F#m H<br/>
Annie Of The Nightingales.<br/>
A             G        F#m H<br/>
Annie Of The Nightingales.<br/>
A             G        F#m H<br/>
Annie Of The Nightingales.<br/>
         A  E G F#m<br/>
And she goes...<br/>
      A E G F#m<br/>
She goes...<br/>
<br/>
Проигрыш: A A G G D D F G - 2p.<br/>
A G A G - 4p.<br/>
<br/>
It was awhile since the baby was born,<br/>
Awhile, since the story was told,<br/>
Awhile - and then it happens again;<br/>
And it happens now;<br/>
<br/>
And It’s read in the dark ways,<br/>
And It’s read on the flyovers,<br/>
And It’s read in the whites of the sky;<br/>
And it spells out:<br/>
<br/>
Annie Of The Nightingales.<br/>
Annie Of The Nightingales.<br/>
Annie Of The Nightingales.<br/>
And she goes...<br/>
She goes...<br/>
      A E G F#m<br/>
She goes...<br/>
      A E G F#m A<br/>
She goes...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
