{% extends "chords.html" %}

{% set title = "Avalon Sunrise" %}
{% set handbook_unid = "b678c5ebad515caec325679d006aecdc" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - РУССКО-АБИССИНСКИЙ ОРКЕСТР - BARDO - avalon sunrise<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Avalon sunrise<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: Em+g<br/>
<br/>
G6/d <br/>
Arn skin skirn tarn<br/>
Em<br/>
Arn skin skirn tarn<br/>
G6/d <br/>
Arn skin skirn tarn<br/>
Em<br/>
Arn skin skirn tarn<br/>
<br/>
Arn skin skirn tarn<br/>
Arn skin skirn tarn<br/>
Arn skin skirn tarn<br/>
Arn skin skirn tarn<br/>
<br/>
Saay <br/>
Samalon far<br/>
Saay <br/>
Samalon far<br/>
<br/>
Arn skin skirn tarn<br/>
Arn skin skirn tarn<br/>
Arn skin skirn tarn<br/>
Arn skin skirn tarn<br/>
<br/>
Saay <br/>
Samalon far<br/>
Saay <br/>
Samalon far<br/>
<br/>
Arn skin skirn tarn<br/>
Arn skin skirn tarn<br/>
Arn skin skirn tarn<br/>
Arn skin skirn tarn<br/>
<br/>
Проигрыш: G6/d, Em Em+g A7sus4 Am7 - 4p.<br/>
<br/>
Saay <br/>
Samalon far<br/>
Saay <br/>
Samalon far<br/>
<br/>
Arn skin skirn tarn<br/>
Arn skin skirn tarn<br/>
Arn skin skirn tarn<br/>
Arn skin skirn tarn<br/>
<br/>
Проигрыш: G6/d, Em Em+g A7sus4 Am7 - 4p.<br/>
<br/>
G6/d Em<br/>
Saay <br/>
G6/d Em<br/>
Saay<br/>
G6/d Em<br/>
  Saay<br/>
<br/>
Проигрыш: G6/d Em - 3р.<br/>
<br/>
Saay<br/>
Arn skin skirn tarn<br/>
Arn skin skirn tarn<br/>
Arn skin skirn tarn<br/>
<br/>
Проигрыш: G6/d Em - 4р.<br/>
<br/>
Saay <br/>
Samalon far Olimo<br/>
Saay <br/>
Samalon far Olimo<br/>
<br/>
Saay <br/>
Samalon far Olimo<br/>
Saay <br/>
Samalon far Olimo<br/>
<br/>
Saay <br/>
Samalon far Olimo<br/>
Saay <br/>
Samalon far Olimo<br/>
<br/>
Saay <br/>
Samalon far <br/>
Saay <br/>
Samalon far <br/>
<br/>
Saay <br/>
Samalon far Olimo<br/>
Saay <br/>
Samalon far Olimo<br/>
<br/>
Saay <br/>
Samalon far Olimo<br/>
Saay <br/>
Samalon far Olimo<br/>
<br/>
Saay <br/>
Samalon far <br/>
Saay <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em+g<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<a name="OLE_LINK5"></a><a name="OLE_LINK4"></a><a name="OLE_LINK3"><b><span style="font-size:8.0pt">          G6/d</span></b></a><br/>
<b><span style="font-size:8.0pt">o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          A7sus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
