{% extends "chords.html" %}

{% set title = "Bar-do" %}
{% set handbook_unid = "0bf5d79d1eec954fc325679d006aecdf" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - РУССКО-АБИССИНСКИЙ ОРКЕСТР - BARDO - bar-do<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Bar-do<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: F# H D C# Em<br/>
<br/>
F# H<br/>
  Sayo Sai-hlar <br/>
 D<br/>
Sayo<br/>
 C#<br/>
Do-klir do-klir<br/>
 Em<br/>
Sayo sayo sayo<br/>
<br/>
Sayo Sai-hlar <br/>
Sayo<br/>
Do-klir do-klir<br/>
Sayo sayo sayo<br/>
<br/>
Проигрыш: F# H D C# Em<br/>
<br/>
Sayo Sai-hlar <br/>
Sayo<br/>
Do-klir do-klir<br/>
Sayo sayo sayo<br/>
<br/>
Sayo Sai-hlar <br/>
Sayo<br/>
Do-klir do-klir<br/>
Sayo sayo sayo<br/>
<br/>
F# H<br/>
  Sayo Sai-hlar <br/>
 D<br/>
Sayo...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
