{% extends "chords.html" %}

{% set title = "Barndo" %}
{% set handbook_unid = "b217734cb58c00acc325679d006aece2" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - РУССКО-АБИССИНСКИЙ ОРКЕСТР - BARDO - barndo<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Barndo<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: Dm - 2p.<br/>
Dm A Dm C F C F A<br/>
<br/>
     Dm        A<br/>
Barndo Barndo Tan<br/>
     Dm        A<br/>
Barndo Barndo Sayayaya<br/>
 Dm                    C<br/>
Lan Gamyun Lan Gamyun Zan Hak Un Lan<br/>
  F                        A<br/>
Skir Lametan Varn Lametan Ram Lametan<br/>
<br/>
Barndo Barndo Tan<br/>
Barndo Barndo Sayayaya<br/>
Lan Gamyun Lan Gamyun Zan Hak Un Lan<br/>
Skir Lametan Skir Lametan Ram Lametan<br/>
<br/>
Проигрыш: Dm A Dm C F C F A - 2р.<br/>
<br/>
Barndo Barndo Tan<br/>
Barndo Barndo Sayayaya<br/>
Lan Gamyun Lan Gamyun Zan Hak Un Lan<br/>
Skir Lametan Skir Lametan Ram Lametan<br/>
<br/>
Заключение: Dm A Dm C F C F A - 4р. Dm<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
