{% extends "chords.html" %}

{% set title = "Beautiful blue train" %}
{% set handbook_unid = "0c24515de45bd894c325679d006aed36" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - RADIO LONDON - beautiful blue train<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
beautiful blue train <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 5-м ладу<br/></i>
 <br/>
Вступление: G - 8p.<br/>
C F G - 8p.<br/>
<br/>
C           F        G                 C       F     G<br/>
 It was a beautiful night, when I was talking to My Lord;<br/>
       C        F     G                   C       F         G<br/>
I said: "Oh my, Omniscient One, tell me, why I'm tired and bored?"<br/>
        C   F          G                  C        F       G<br/>
He said - Shut up and listen, you know - words are all in vain;<br/>
C       F         C              G    C  F G<br/>
 Just check your soul for this blue train.<br/>
<br/>
Проигрыш: C F G - 3p.<br/>
<br/>
Why don't we get outside, before it is too late,<br/>
You don't want to be stuck where the doctors and the lawyers lie in wait<br/>
Take me out tonight - I'm tired of being alone;<br/>
  C  F          C              G        Am E F F G       C  F G<br/>
And beautiful blue train will take us home.     Take us home.<br/>
<br/>
Проигрыш: C F G - 7p.<br/>
<br/>
You know, sometimes I feel like part of my body is made of steel<br/>
And then I think of all the little girls gone beneath its wheels:<br/>
Alright then, who's that dancing round this human pole?<br/>
C          F         C              G        Am E F F G           C  F G<br/>
 And our beautiful blue train will take them home.   Take them home<br/>
<br/>
Проигрыш: C F G - 15p.<br/>
<br/>
It was a beautiful night, when I was talking to My Lord;<br/>
I said: "Lord, what You've been telling me is not what I was taugh"<br/>
He said - Do you think I really care where is that you roam?<br/>
       C  F         C              G        Am E F F G         C  F G<br/>
Cause a beautiful blue train will take you home.     Take you home.<br/>
<br/>
Заключение: C F G - 15p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:131.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
