{% extends "chords.html" %}

{% set title = "Best years of our lives" %}
{% set handbook_unid = "f6624fb29eb6534cc325679d006aed96" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - RADIO LONDON - best years of our lives<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
best years of our lives <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/>
 <br/></i>
              G                  D    C            G      D<br/>
These are the best years of our lives - sweet and peaceful<br/>
     G                 D                     C C<br/>
The best years of our lives - enchanted and fey<br/>
D<br/>
 Like the seeds we're sown,<br/>
C         C/h    Am<br/>
 Like the seeds trampled -<br/>
D           G        C             Am<br/>
 After the gardener did what he's paid to do,<br/>
 D                 C    C D<br/>
Now it is finally time...<br/>
<br/>
These are the best years of our lives - it's all that matters<br/>
The best years of our lives - fragile and clean;<br/>
Like a child, we're blessed;<br/>
Like a child - spaced out;<br/>
And may Lord have mercy on those, who invoke our displeas<br/>
          D                 C   C<br/>
In these best years of our lives.<br/>
<br/>
D                                 C  G G<br/>
 And I'm coming from a different world;<br/>
D                                 C    G  G<br/>
 And I really dont know how it's done here;<br/>
Em                                 A<br/>
  And I would honestly ask you to help me, babe,<br/>
    C<br/>
To work with me, trust in me,<br/>
     D                                  G  D<br/>
And cover my ass - and then I'll look away...<br/>
<br/>
Проигрыш: C G D, G D C C, D D C C/h Am, D G C Am D C C D<br/>
<br/>
These are the best years of our lives - and our captain's locked up;<br/>
And his choir of angels waits for this city to fall.<br/>
Before this sky, <br/>
And them bells ringing,<br/>
I say - I know how you feel, God, I know how you feel. If we knew our way out,<br/>
We'd never be stuck here at all -<br/>
<br/>
               G                 D    C C D<br/>
These are the best years of our lives...<br/>
               G                 D    C C D<br/>
These are the best years of our lives...<br/>
               G                 D    C C D<br/>
These are the best years of our lives...<br/>
               G                 D    C C D<br/>
These are the best years of our lives...<br/>
               G                 D    C C D<br/>
These are the best years of our lives...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:131.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:114.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="152">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td colspan="2" style="border:none;padding:0cm 0cm 0cm 0cm" width="374"> <br/></td>
</tr>
</table>
{% endraw %}
{% endblock %}
