{% extends "chords.html" %}

{% set title = "Black is the color you wear today..." %}
{% set handbook_unid = "26aa3d671c53245fc325679d006aece5" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - Неизданные англоязычные песни - black is the color you wear today…<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
black is the color you wear today…<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: D - 4p.<br/>
D D C C - 4 p.<br/>
<br/>
  D<br/>
Black is the color you wear today<br/>
 D                                        C              G<br/>
Something is here the list you can do is say Hello, say Hi<br/>
D<br/>
 Stop hear and walk you way up<br/>
 D                                 C                   G<br/>
No one stuck at power to stop you keep it feel is right <br/>
<br/>
Проигрыш: A G D A<br/>
D - 4p.<br/>
<br/>
Nothing feels like a belting for <br/>
This is the chance you waiting for if you die and written and hungry and tired<br/>
This is so a faking star <br/>
Maybe pieces a date to stop to run riot <br/>
<br/>
A               G<br/>
 No need to be lost again <br/>
A               G<br/>
 No need to be lost again<br/>
     Em          A           D<br/>
You perfect you leaving run riot<br/>
<br/>
Проигрыш: D - 4p.<br/>
<br/>
Black is the color you wear today<br/>
Something is here the list you can do is say Hello, say Hi<br/>
Stop hear and walk you way up<br/>
Nobody stuck at power to stop you keep it feel is right <br/>
<br/>
Проигрыш: A G D A<br/>
D - 2p.<br/>
<br/>
So nothing feels like a belting for <br/>
This is the chance you waiting for if you diving and worry and tired<br/>
Thank god so a faking star<br/>
Maybe this is a date to stop to run riot run riot<br/>
<br/>
No need to be lost again <br/>
No need to be lost again<br/>
You perfect you leaving run riot<br/>
<br/>
Проигрыш: D - 2p.<br/>
D D C C - 4 p.<br/>
<br/>
So black is the color it feels you <br/>
Black is the color so very well and staid <br/>
No leave nobody blue no souls of bray<br/>
Like Alice wants power then don’t gray they walks away<br/>
<br/>
No need to be lost again <br/>
No need to be lost again<br/>
A               G<br/>
 No need to be lost again<br/>
A               G        Em<br/>
 No need to be lost again<br/>
     G           A           D  D/c# G Em <br/>
You perfect you leaving run riot<br/>
<br/>
Заключение: D D/c# G Em - 3p. D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D/c#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
