{% extends "chords.html" %}

{% set title = "Blue suede shoes" %}
{% set handbook_unid = "df2c66d6e4b20aa7c325679d006aece8" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - blue suede shoes<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
blue suede shoes<br/>
</span><i>C.Petkins<br/></i>
 <br/>
Вступление: A!<br/>
<br/>
          A                    A<br/>
Well it's one for the money, two for the show<br/>
   A                    A7<br/>
Three to get ready now go cat go<br/>
<br/>
     D                                 A<br/>
But don't you, step on my blue suede shoes<br/>
         E                  D                      A  E      <br/>
You can do anything but lay off of my blue suede shoes<br/>
<br/>
          A           G  A<br/>
You can knock me down, step on my face<br/>
  A            G A<br/>
Slam my name all over the place<br/>
         A            G  A<br/>
You can do anything you're going to do<br/>
    A               A7<br/>
But uh uh honey lay off of my shoes<br/>
<br/>
But don't you, step on my blue suede shoes<br/>
You can do anything but lay off of my blue suede shoes<br/>
<br/>
Well you can burn my house, steal in my car<br/>
Drink my liquor from an old fruit jar<br/>
You can do anything that you wanna do<br/>
But oh oh honey lay off of my shoes<br/>
<br/>
But don't you, step on my blue suede shoes<br/>
You can do anything but lay off of my blue suede shoes<br/>
<br/>
Проигрыш: A A D D A A E D A A <br/>
A A D D A A E D A E<br/>
<br/>
You can knock me down, step on my face<br/>
Slam my name all over the place<br/>
Do anything that you're going to do<br/>
But uh uh honey lay off of my shoes<br/>
<br/>
But don't you, step on my blue suede shoes<br/>
You can do anything but lay off of my blue suede shoes, one more time!<br/>
<br/>
A<br/>
 Blue, blue, blue suede shoes<br/>
A <br/>
 Blue, blue, blue suede shoes<br/>
D <br/>
 Blue, blue, blue suede shoes<br/>
A<br/>
 Blue, blue, blue suede shoes<br/>
              E                  D                      A  E      <br/>
Well you can do anything but lay off of my blue suede shoes<br/>
<br/>
Заключение: A A D D A A E D A E - 2р.<br/>
A A D A A A A E D A E…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
