{% extends "chords.html" %}

{% set title = "Bridgit O'Malley" %}
{% set handbook_unid = "b12f4585ffd6dbe0c325687c0071c86c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - bridgit O`malley<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
bridgit O`malley<br/>
</span><i>Ирландская народная песня<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Oh Bridgit O'Malley. You have my heart shaken<br/>
In a hopeless desolation, I'll have you to know<br/>
It's the wonders of admiration your quiet face have taken<br/>
And your beauty will haunt me wherever I go.<br/>
<br/>
Проигрыш: C Em F G - 2p. G<br/>
<br/>
      C              Em              F        Am  <br/>
Pale moon above the pale sea, pale stars over ocean<br/>
      F                Em          Am          F <br/>
On a fail are then my darling, no purer than she<br/>
   F           Em                C               F     F<br/>
I gaze upon a pale stars to the moon drops in an ocean <br/>
        F            Em           F    G   C<br/>
But the eyes of my true love are never on me.<br/>
<br/>
Проигрыш: C Em F Am, F Em Am F F, F Em C F F, F Em F G C <br/>
<br/>
The day it is approaching when we were go to married<br/>
But I will rather die than live only to grieve.<br/>
Come meet me, My true love, e'er the sets o'er the barley<br/>
And I'll meet you there love on the road to Drumslieve.<br/>
<br/>
Oh Bridgit O'Malley. You've left my heart shaken<br/>
With a hopeless desolation, I'd have you to know<br/>
It's the wonders of admiration your quiet face has taken<br/>
And your beauty will haunt me wherever I go.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
