{% extends "chords.html" %}

{% set title = "Carrickfergus" %}
{% set handbook_unid = "33fff192af0c03b4c325679d006aed2a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - Carrickfergus<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Carrickfergus<br/>
</span><i>Ирландская народная песня<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: C<br/>
<br/>
          G             C<br/>
I wish I was in Carrickfergus <br/>
      F   G               C<br/>
Only for nights in Ballygran<br/>
              G                  C<br/>
I wish I swim over the deepest ocean <br/>
            F    G          C<br/>
The deepest ocean in Ballygran.<br/>
                C  Am                Dm<br/>
But the sea is wide and I cannot swim over <br/>
                    C   Am            G<br/>
Neither have I the wings so I could fly<br/>
                F  G         C      <br/>
I wish I could beat a handy boatman <br/>
          Dm    G            C<br/>
To ferry me home my love and I.<br/>
<br/>
Проигрыш: G C F C, G C F G C<br/>
<br/>
Then in Kilkenny, it is reported <br/>
On marble stones there as black as ink<br/>
With gold and silver I have support her <br/>
But I'll sing no more to I get a drink<br/>
I'm drunk today, and I'm seldom sober <br/>
A handsome rover from town to town<br/>
Ah, I'm sick now my days are numbered <br/>
Come all you young men and lay me down.<br/>
              Dm            G      C<br/>
Come all you young men and lay me down.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
