{% extends "chords.html" %}

{% set title = "Charam charam" %}
{% set handbook_unid = "236b36ef854e21b6c325731f0033966d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные русскоязычные песни - charam charam<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
charam charam<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: E - 8p.<br/>
<br/>
  E<br/>
Charam Charam Charam <br/>
  E<br/>
Charam Charam Charam <br/>
  D<br/>
Charam Charam Charam <br/>
H<br/>
 Sun Sun Sundaram<br/>
  E<br/>
Charam Charam Charam <br/>
  E<br/>
Charam Charam Charam <br/>
  D<br/>
Charam Charam Charam <br/>
H<br/>
 Sun Sun Sundaram<br/>
H<br/>
 Jay Jay Jay Sundaram<br/>
<br/>
 E           G       C#m<br/>
Paramahamsa Narayana Sat Sathya Nam<br/>
 E           G       C#m<br/>
Paramahamsa Narayana Sat Sathya Nam<br/>
 E           C#m<br/>
Paramahamsa Tinu tinu bit Tinu tinu bit pibam<br/>
 H                 H<br/>
Soham soham soham soham soham soham<br/>
<br/>
Проигрыш: E E G#m H - 2p.<br/>
<br/>
 A        A        A       G#m    H<br/>
Narayana Narayana Narayana Narayana<br/>
<br/>
  E<br/>
Charam Charam Charam <br/>
  E<br/>
Charam Charam Charam <br/>
  D                 Dm<br/>
Charam Charam Charam <br/>
  E<br/>
Charam Charam Charam <br/>
  E<br/>
Charam Charam Charam <br/>
  D                 H H<br/>
Charam Charam Charam <br/>
<br/>
 E<br/>
Paramahamsa<br/>
<br/>
Paramahamsa Narayana Sat Sathya Nam<br/>
Paramahamsa Narayana Sat Sathya Nam<br/>
Paramahamsa Tinu tinu bit Tinu tinu bit pibam<br/>
Soham soham soham soham soham soham<br/>
H                 H<br/>
Soham soham soham soham soham soham<br/>
<br/>
  E<br/>
Charam Charam Charam <br/>
  E<br/>
Charam Charam Charam <br/>
  E                 <br/>
Charam Charam Charam <br/>
  E<br/>
Charam Charam Charam <br/>
<br/>
Проигрыш: E - 4р. <br/>
<br/>
  E<br/>
Charam Charam Charam <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
