{% extends "chords.html" %}

{% set title = "Come together" %}
{% set handbook_unid = "a6253b977c294a64c325679d006aecfa" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - СОВМЕСТНЫЕ ПЕСНИ - come together<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
come together <br/>
</span><i>J.Lennon<br/></i>
 <br/>
Вступление: D - 8p.<br/>
<br/>
D                             <br/>
 Here come old flattop he come <br/>
D<br/>
 Grooving up slowly he got <br/>
D<br/>
 Joo-joo eyeball he one <br/>
D<br/>
 Holy roller he got <br/>
A<br/>
 Hair down to his knee<br/>
 G                         G7<br/>
Got to be a joker he just do what he please<br/>
<br/>
Проигрыш: D - 4p.<br/>
<br/>
He wear no shoeshine he got <br/>
Toe-jam football he got <br/>
Monkey finger he shoot <br/>
Coca-cola he say <br/>
"I know you, you know me"<br/>
One thing I can tell you is you got to be free<br/>
<br/>
        Hm     A     G A      D<br/>
Come together right now over me<br/>
<br/>
Проигрыш: D - 4p.<br/>
<br/>
He bag production he got <br/>
Walrus gumboot he got <br/>
Ono sideboard he one <br/>
Spinal cracker he got <br/>
Feet down below his knee<br/>
Hold you in his armchair you can feel his disease<br/>
<br/>
Come together right now over me<br/>
<br/>
Проигрыш: D - 2p. <br/>
Dm - 4p. Am - 4p. D - 2p.<br/>
<br/>
He roller-coaster he got <br/>
Early warning He got <br/>
Muddy water he one <br/>
Mojo filter he say <br/>
"One and one and one is three"<br/>
Got to be good-looking 'cause he's so hard to see<br/>
<br/>
Come together right now over me<br/>
<br/>
D D D D        D<br/>
       Come together<br/>
D D D D        D<br/>
       Come together <br/>
D D D D        D    D D<br/>
       Come together<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
