{% extends "chords.html" %}

{% set title = "Crawling back to you" %}
{% set handbook_unid = "c20ff67f1577b477c325679d006aec82" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - Crawling Back To You<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Crawling Back To You<br/>
</span><i>T.Petty<br/></i>
 <br/>
<i>Каподастр на 5-м ладу<br/></i>
 <br/>
Вступление: Asus2 - 2p. <br/>
Asus2 Am:Asus2 - 3p.<br/>
<br/>
Am               G<br/>
 Waiting by the side of the road<br/>
D                     F        Em<br/>
 For day to break so we could go<br/>
Am             G<br/>
 Down into Los Angeles<br/>
D                      F         Em             <br/>
 With brown hands and worn out knees<br/>
<br/>
Am G      F                    Em<br/>
    I keep crawling back to you<br/>
Am G      F                    F<br/>
    I keep crawling back to you<br/>
<br/>
Проигрыш: Asus2 Am:Asus2 G Dm/f Em Em+c:Em - 2p.<br/>
<br/>
It`s ranger came with burning eyes<br/>
The chambermaid awoke surprised<br/>
Thought she'd seen the last of him<br/>
She shook her head and let him in<br/>
<br/>
I keep crawling back to you<br/>
I keep crawling back to you<br/>
<br/>
 F      C           F                C<br/>
Well baby, there's something in your eyes<br/>
           F   C<br/>
Tryin' to say me<br/>
     F            C          Am   G       D  Dsus4:D<br/>
That I'm gonna be alright if I believe in you<br/>
     Am     G       F<br/>
It's all I want to do<br/>
<br/>
It was me and my sidekick<br/>
He was drunk and I was sick<br/>
We were caught up in a barroom fight<br/>
Till an Indian shot out the lights<br/>
<br/>
I'm so tired of being tired<br/>
Sure as night will follow day<br/>
Most things I worry about<br/>
Never happen anyway<br/>
<br/>
I keep crawling back to you<br/>
I keep crawling back to you<br/>
<br/>
I keep crawling back to you<br/>
Am G      F                 F Em Asus2<br/>
    I keep crawling back to you<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em+c<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
