{% extends "chords.html" %}

{% set title = "Dead flowers" %}
{% set handbook_unid = "10ad596f6732368dc3256adf002b8946" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - dead flowers<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
dead flowers<br/>
</span><i>M. Jagger, K.Richards<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: G D G C G D G C+g G<br/>
<br/>
       G                   D            C                 G<br/>
Well when you're sitting there in your silk upholstered chair <br/>
 G               D                   C G<br/>
Talkin' to some rich folk that you know <br/>
    G                 D        C         G<br/>
I know you won't see me in my ragged company <br/>
G               D         C  G<br/>
I don`t I will never be alone <br/>
<br/>
         D                          G  <br/>
Take me down little Susie, take me down <br/>
D                                               G<br/>
I know you think you're the queen of the underground <br/>
           C                            G     C+g G<br/>
And you can send me dead flowers every morning <br/>
C                             G  C+g G<br/>
 Send me dead flowers by the mail <br/>
C                            G     G/f# Em<br/>
 Send me dead flowers to my wedding <br/>
       G                   D              C  G<br/>
And I won't forget to put roses on your grave <br/>
<br/>
Проигрыш: G D C G - 4p. <br/>
<br/>
Well when you're sitting back in your rose pink Cadillac <br/>
Making bets on Kentucky Derby Day <br/>
Ah, I'll be in my basement room with a needle and a spoon <br/>
And another girl can take my pain away <br/>
<br/>
Take me down little Susie, take me down <br/>
I know you think you're the queen of the underground <br/>
And you can send me dead flowers every morning <br/>
Send me dead flowers by the mail <br/>
Send me dead flowers to my wedding <br/>
And I won't forget to put roses on your grave <br/>
      G                   D              C  G<br/>
No I won't forget to put roses on your grave<br/>
<br/>
Заключение: G D C G - 4p. G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
