{% extends "chords.html" %}

{% set title = "Dear Prudence" %}
{% set handbook_unid = "72a5333d0f0748efc325679d006aed00" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - dear prudence<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
dear prudence<br/>
</span><i>J.Lennon<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Проигрыш: A(V) A7(V) A6(V) Aaug(V)- 2p.<br/>
<br/>
A(V)    A7(V)  A6(V) Aaug(V)                    A(V) A7(V) A6(V) Aaug(V)<br/>
   Dear Prudence,       won't you come out to play<br/>
     A(V)   A7(V) A6(V) Aaug(V)                 A(V) A7(V) A6(V) Aaug(V)<br/>
Dear Prudence,              greet the brand new day<br/>
    A(V)          A7(V) <br/>
The sun is up, the sky is blue<br/>
      A6(V)      Aaug(V)<br/>
It's beautiful and so are you<br/>
       A(V) A7(V) A6(V) Aaug(V) A(V)<br/>
Dear Prudence <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A7(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|-■-|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A6(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Aaug(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
