{% extends "chords.html" %}

{% set title = "Don`t think twice" %}
{% set handbook_unid = "3a698f76b1cfe9ecc325679d006aec91" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЧУЖИЕ ПЕСНИ - don`t think twice<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
don`t think twice <br/>
</span><i>B.Dylan<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: G - 2p.<br/>
<br/>
G                           G/f#            Em<br/>
 It ain't no use to sit and wonder why, babe<br/>
C                      G  D<br/>
 If you don't know by now<br/>
G                        G/f#             Em    <br/>
 An' it ain't no use to sit and wonder why, babe<br/>
A7                       D<br/>
 You don't matter any now<br/>
G                                 G7<br/>
 When your rooster crows at the break of dawn<br/>
C              C/h       A7<br/>
 Look out your window and I'll be gone<br/>
G                 G/f#     Em         C<br/>
 Baby you're the reason I'm trav'lin' on<br/>
G              D              G   C G D<br/>
 Don't think twice, it's all right<br/>
<br/>
It ain't no use in callin' out my name, baby<br/>
Like you never did before<br/>
Hey, it ain't no use in callin' out my name, babe<br/>
I can't hear you any more<br/>
I'm gonna a-wond'rin' all the way down the road<br/>
I once loved a woman, a child I'm told<br/>
Well, she react my heart and she blanded my soul<br/>
But don't think twice, it's all right<br/>
<br/>
Well ain't no use in turnin' on your light, babe<br/>
That light I never knowed<br/>
An' it ain't no use in turnin' on your light, babe<br/>
I'm on the side of the road<br/>
The could to somethin' you could do or say<br/>
To to make me wanna change my mind and stay<br/>
We never did too much talkin' anyway<br/>
Don't think twice, it's all right<br/>
<br/>
I'm walkin' down that long, lonesome road, babe<br/>
Where I'm bound, I can't tell<br/>
Well goodbye's too good a word, baby<br/>
I gues I say fare thee well<br/>
I wouldn’t sayin' you treated me unkind<br/>
You could have done better but I don't mind<br/>
You just kinda wasted my precious time<br/>
     G            D              G   C G D G<br/>
But don't think twice, it's all right<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
