{% extends "chords.html" %}

{% set title = "Echo" %}
{% set handbook_unid = "f4ca38a9d0fa02f2c32568ae00437a2b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - echo<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
echo</span><i><span style="color:red"> <br/>
</span>T.Petty<br/></i>
 <br/>
Вступление: C Am Em G C Am Em <br/>
<br/>
G                          C<br/>
 Put down your things and rest awhile<br/>
Am                Em     <br/>
  You know we`ve both nowhere to go<br/>
G       C<br/>
 Yeah, daddy had to crash<br/>
Am               Em<br/>
  He was always halfway there you know<br/>
G       C            G<br/>
 And no, I don`t pretend there`s any more of that<br/>
              C                       G<br/>
They say one day, you`ll look up and laugh and hear <br/>
<br/>
     C    G  Am        Em   F  G<br/>
The same sad echo when you walk<br/>
           C    G  Am         Em  F         G<br/>
Yeah, the same sad echo when you talk and clear<br/>
          F                   G            C<br/>
It`s the same as the same sad echo most of all<br/>
<br/>
Проигрыш: C Am Em G - 2p.<br/>
<br/>
    C                    Am<br/>
I promise you this winter<br/>
        Em                  G<br/>
I will worship you like gold<br/>
     C                     Am<br/>
And ride your train forever<br/>
          Em                G<br/>
Electric fortunes to be told<br/>
                      F                    G<br/>
And I don`t want to question or even celebrate<br/>
                 F                           G  G<br/>
All the joy you took and then gave back too late<br/>
<br/>
It`s the same sad echo when you lie<br/>
It`s the same sad echo when you try to be clear<br/>
It`s the same as the same sad echo around here<br/>
<br/>
Проигрыш: C Am Em G - 2p.<br/>
<br/>
                       C   <br/>
Well, I woke up right here<br/>
               Am<br/>
In a pool of sweat<br/>
               Em         G<br/>
With a box of pills and you<br/>
                   C<br/>
I`m gonna keep my head <br/>
                   Am<br/>
I`m gonna keep my cool<br/>
           Em          G<br/>
I`m so in love with you<br/>
                F                       G   <br/>
And in another world nothing was like this<br/>
                       F<br/>
There may have been a girl<br/>
                   G  G<br/>
There never was a kiss <br/>
<br/>
     C                   Am<br/>
The poison came in liquid<br/>
         Em               G<br/>
She was naked all the time<br/>
     C                     Am<br/>
And no one could explain it<br/>
       Em                   G<br/>
It was all between the lines<br/>
                      F              G<br/>
And I don`t seem to trust anyone no more<br/>
             F                  G<br/>
It could be faith I`m just not sure<br/>
<br/>
It`s the same sad echo when you lie<br/>
It`s the same sad echo when you try to be clear<br/>
It`s the same as the same sad echo around here<br/>
<br/>
Проигрыш: C Am Em G - 2p.<br/>
<br/>
                   C<br/>
Well you just got tired<br/>
              Am<br/>
You just gave in<br/>
             Em<br/>
You took it hard<br/>
               G<br/>
Then you just quit<br/>
            C<br/>
You let me down<br/>
                 Am<br/>
You dropped the ball<br/>
     Em                       G<br/>
You fell on your face most of all<br/>
                     F                G<br/>
And I don`t want to mean anything to you<br/>
                 F                G G<br/>
I don`t want to tempt you to be true<br/>
<br/>
It`s the same sad echo comin` down<br/>
It`s the same sad echo all around in my ears<br/>
It`s the same as the same sad echo around you<br/>
<br/>
Заключение: C Am Em G - 2p. С<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
