{% extends "chords.html" %}

{% set title = "Eloise" %}
{% set handbook_unid = "5646af1507eb1935c325679d006aed06" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - RADIO LONDON - eloise<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Eloise <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 1-м ладу<br/>
 <br/></i>
Вступление: С - 4p<br/>
<br/>
C                       G<br/>
Eloise standing in the rain outside<br/>
          Am      Em                        F Em<br/>
Wondering if the sky is really made out of air<br/>
  C                           G<br/>
There she is, always looking right at me<br/>
         F                 Am          G            C   C<br/>
But is she? I can't really tell and I don't really care<br/>
<br/>
Eloise something of the child<br/>
Something of the bride and sometimes just not there.<br/>
Help me, please, discover about your secret life<br/>
And the purpose behind the clothes that you wear;<br/>
<br/>
C<br/>
 I just need some time to settle down,<br/>
Am<br/>
  Just need some time to settle down,<br/>
B           F                    Am     <br/>
 I need to get my feet on the ground,<br/>
   G<br/>
Before I can dance with you;<br/>
C<br/>
 But now, I can't even see you now;<br/>
Am<br/>
  And she smiles, and she turnes,<br/>
B             F    Am       G<br/>
 And she says: "I know, I know..."<br/>
<br/>
Проигрыш: C C G G Am Em F Em, C C G G F Am G C C  <br/>
<br/>
Eloise staring at the sea<br/>
Seven white birds sing lost in her hair;<br/>
I've heard she is lethal for the likes of me<br/>
Well, I can't really tell and I don't really care.<br/>
<br/>
I just need some time to settle down,<br/>
Just need some time to settle down,<br/>
Just need to get my feet on the ground,<br/>
Before I can dance with you;<br/>
But now, I can't even see you now;<br/>
And she smiles, and she turnes,<br/>
And she says: "I know, I know..."<br/>
<br/>
Проигрыш: C C G G Am Em F Em, C C G G F Am G C C - 2p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
