{% extends "chords.html" %}

{% set title = "Enchanted gypsy" %}
{% set handbook_unid = "f624ec8261581eefc325679d006aed8a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - Неизданные англоязычные песни - Enchanted Gypsy<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Enchanted Gypsy<br/>
</span><i>Donovan<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: Am 6:III 5:0 5:III Am – 4p.<br/>
<br/>
   Am                 Em     Am<br/>
A day once dawned as richer yawned<br/>
   Am             Em    Am<br/>
Under leaves so greeny, o <br/>
       Am                 Em     Am<br/>
And a vision I saw as a crow did caw <br/>
Am                  Em      Am<br/>
So far than I go to running, o<br/>
Am          G           Am <br/>
Follow the path of the gypsy, o<br/>
<br/>
Проигрыш: Am 6:III 5:0 5:III Am – 2p.<br/>
<br/>
Seaweed clings to ruby rings <br/>
On the fingers of my lady, o <br/>
And the people in town <br/>
They would not look round <br/>
To see me go a running for, o <br/>
Follow the path of the gypsy, o <br/>
<br/>
Проигрыш: Am 6:III 5:0 5:III Am – 2p.<br/>
<br/>
A caravan is a painted by a hand <br/>
And you every pebble in the ocean, o <br/>
And the pictures there <br/>
They move in thin air <br/>
There forever a-telling, o <br/>
Tales of the enchanted gypsy, o <br/>
<br/>
Проигрыш: Am 6:III 5:0 5:III Am <br/>
<br/>
Seaweed clings to ruby rings <br/>
On the fingers of my lady, o <br/>
And the people in town <br/>
They would not look round <br/>
To see me go a running for, o <br/>
Follow the path of the gypsy, o <br/>
<br/>
Проигрыш: Am 6:III 5:0 5:III Am – 2p.<br/>
<br/>
A day once dawned as richer yawned<br/>
Under the leaves so greeny, o <br/>
And a vision I saw as a crow did caw <br/>
No more than I go to running, o<br/>
Follow the path of the gypsy, o<br/>
<br/>
Проигрыш: Am 6:III 5:0 5:III Am <br/>
<br/>
Seaweed clings to ruby rings <br/>
On the fingers of my lady, o <br/>
And the people in town <br/>
They would not look round <br/>
To see me go a running for, o <br/>
Follow the path of the gypsy, o <br/>
<br/>
Seaweed clings to ruby rings <br/>
On the fingers of my lady, o <br/>
And the people in town <br/>
They would not look round <br/>
To see me go a running for, o <br/>
Follow the path of the gypsy, o <br/>
<br/>
     Am     G<br/>
The gypsy, o<br/>
     Am     G Am<br/>
The gypsy, o<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
