{% extends "chords.html" %}

{% set title = "Evening gown" %}
{% set handbook_unid = "8441b88305e25b6ec325679d006aed63" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - evening gown<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
evening gown</span><i><span style="color:red"> <br/>
</span>M.Jagger<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: A C G C G<br/>
<br/>
G                      C    <br/>
 People say that I'm crazy<br/>
D         C              G  C G<br/>
 But I'm happy all the while<br/>
G                        C<br/>
 People think That I'm crazy<br/>
      D            C           G  C G<br/>
When I flash that California smile<br/>
<br/>
            C              D<br/>
But I can still paint the town<br/>
         Em            D        C<br/>
All the colour of your evening gown<br/>
           A                 C<br/>
While I'm waiting for your blonde hair<br/>
          G C G<br/>
To turn grey<br/>
<br/>
People say I'm a drinker<br/>
But I'm sober half the time<br/>
People say I'm a loser<br/>
But I get lucky on the side<br/>
<br/>
Yeah but I can still paint the town<br/>
All the colour of your evening gown<br/>
While I'm waiting for your blonde hair<br/>
To turn grey<br/>
<br/>
C<br/>
All my life I waited for<br/>
 C                                 G     C G<br/>
Someone who would show where the bliss is<br/>
 C<br/>
All my life I waited for<br/>
 C                                  D     G A D <br/>
Someone who would take me past the kissing<br/>
<br/>
Проигрыш: С D G C G - 2р.<br/>
С D G D C A C G C G<br/>
<br/>
People say I'm a loner<br/>
I like to get lost in the crowds<br/>
People call me a dresser<br/>
I wear my sports clothes way too loud<br/>
<br/>
But I can still paint the town<br/>
All the colour of your evening gown<br/>
While I'm waiting for your blonde hair<br/>
To turn grey<br/>
           C                 D<br/>
While I'm waiting for your blonde hair<br/>
          G C G<br/>
To turn grey<br/>
           C                 D<br/>
While I'm waiting for your blonde hair<br/>
          G C G<br/>
To turn grey<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
