{% extends "chords.html" %}

{% set title = "First we take Manhattan" %}
{% set handbook_unid = "22dd4930dd1daa90c3256ef8004096e8" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - First we take Manhattan<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
First we take Manhattan<i> <br/>
</i></span><i>L.Cohen<br/></i>
 <br/>
Вступление: E - 4p.<br/>
<br/>
      F                               E<br/>
They sentenced me to twenty years of boredom<br/>
      F                                  E<br/>
For trying to change the system from within<br/>
     F                           E    <br/>
But now I'm back, I coming to reward them<br/>
 F#               F     C F#              E<br/>
First we take Manhattan, then we take Berlin<br/>
<br/>
I'm guided by a signal in the heavens<br/>
I'm guided by this birthmark on my skin<br/>
I'm guided by the beauty of our weapons<br/>
First we take Manhattan, and then we take Berlin<br/>
<br/>
     G(III)                          F#<br/>
I'd really like to live beside you, baby<br/>
             G(III)       F#             E<br/>
I love your parfume your body and your close<br/>
     Am                  C                   E<br/>
But see that line there moving through the station?<br/>
   F           C      C F#             E        <br/>
I told you, I told you, I was one of those<br/>
<br/>
Remember me, I used to live for music<br/>
Remember me, I brought your groceries in<br/>
The power I back and now I gonna use it<br/>
First we take Manhattan, and then we take Berlin<br/>
<br/>
And I don't like your fashion business mister<br/>
And I don't like these drugs that keep you thin<br/>
And I don't like what happened to my sister<br/>
First we take Manhattan, and then we take Berlin<br/>
<br/>
I'd really like to live beside you, baby<br/>
I love your parfume your body and your close<br/>
But see that line there moving through the station?<br/>
I told you, I told you, I was one of those<br/>
<br/>
They sentenced me to twenty years of boredom<br/>
For trying to change the system from within<br/>
But now I'm back, I coming to reward them<br/>
First we take Manhattan, and then we take Berlin<br/>
<br/>
Заключение: E E Em<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
