{% extends "chords.html" %}

{% set title = "From Galway to Graceland" %}
{% set handbook_unid = "c587528a93b0acbcc3256f41007286a7" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - From Galway To Graceland<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
From Galway To Graceland</span><i><span style="color:red"> <br/>
</span>R.Thompson<br/></i>
 <br/>
                         G                 D<br/>
Well she dressed in the dark and she sad amen<br/>
          G        C            D          C<br/>
She was pretty in pink like a young girl again<br/>
                  G                             D<br/>
For twenty years married and she didn`t think twice<br/>
            G        C              D         C<br/>
She sneaked out the door and walked into the night<br/>
          D                    C           G<br/>
Well the silver bird to call alone of the sea<br/>
          D                        C          G<br/>
From the west coast of Ireland to West Tennessee<br/>
                 G                         D<br/>
To be with her sweetheart, she left everything<br/>
      G          C      D                C  C<br/>
From Galway to Graceland to be with the king<br/>
<br/>
Проигрыш: G D/f# C G<br/>
<br/>
She was humming Suspicion, that's the song she loved best<br/>
She had Elvis I Love You tattooed on her breast<br/>
When she landed in Memphis, well her heart beat so fast<br/>
She'd dreamed for so long, now she'd see him at last<br/>
Down by his graveside day after day<br/>
Come closing time they would pull her away<br/>
Ah to be with her sweetheart, she'd left everything<br/>
From Galway to Graceland to be with the king<br/>
<br/>
Проигрыш: G D/f# C G<br/>
<br/>
Well, they came in their thousands from whole human race<br/>
To pay their respects at his last resting place<br/>
But blindly she knelt there and she told him her dreams<br/>
And he thought that he answered or that's how it seems<br/>
Well they dragged her away it was handcuffs this time<br/>
She said my dire man are you out of your mind.<br/>
Don't you know that we're married? See, I'm wearing his ring.<br/>
From Galway to Graceland to be with the king.<br/>
             G          C      D                G<br/>
I come From Galway to Graceland to be with the king.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
