{% extends "chords.html" %}

{% set title = "Golden, Golden" %}
{% set handbook_unid = "f0d3f6bb1dcc0ba0c325679d006aed75" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - Golden, golden<br/></span>
 <br/>
<span style="color:red;text-transform:uppercase">golden, golden<br/>
</span><i>Silly Wizard<br/>
 <br/></i>
  C       Em     F        Em<br/>
Slowly, slowly, walk the path,<br/>
         Am     Dm          F   G<br/>
And you might never stumble or fall.<br/>
  C       Em     F        Em<br/>
Slowly, slowly, walk the path,<br/>
         F     Dm            F   G  C  <br/>
And you might never fall in love at all.<br/>
<br/>
Golden, golden, is her hair,<br/>
Like the morning sun over fields of corn.<br/>
Golden, golden, is her love,<br/>
So sweet and clear and warm.<br/>
<br/>
Проигрыш: С Em F Em, Am Dm G, C Em F Em, F Dm F G C<br/>
<br/>
Wildly, wildly, beats the heart<br/>
With a rush of love like a mountain stream.<br/>
Wildly, wildly, play your part<br/>
As free as a wild bird's dream.<br/>
<br/>
Golden, golden, is her hair,<br/>
Like the morning sun over fields of corn.<br/>
Golden, golden, is her love,<br/>
So sweet and clear and warm.<br/>
<br/>
Проигрыш: С Em F Em, Am Dm G, C Em F Em, F Dm F G C<br/>
<br/>
Slowly, slowly, walk the path,<br/>
And you might never stumble or fall.<br/>
Slowly, slowly, walk the path,<br/>
And you might never fall in love at all<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
