{% extends "chords.html" %}

{% set title = "Heading for the absolute one" %}
{% set handbook_unid = "3fa0b6be98aa06bdc325679d006aedb4" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - RADIO LONDON - heading for the absolute one<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
heading for the absolute one <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/>
 <br/></i>
Вступление: С С С/h Am Am G - 2p.<br/>
<br/>
 C                 C                   C/h  Am  Am G<br/>
Women today gained entrance to the City Of Light:<br/>
    C                   C               C/h    Am Am G      <br/>
Oh Joy Undescribed - security there was never tigh<br/>
Dm                    G      <br/>
  Saint Peter by the pearly gate -<br/>
C                          A7<br/>
 He looks funny, but he's doing alright;<br/>
     Dm             Em           F     <br/>
He's taking the preventive measures -<br/>
Em                  Dm    G<br/>
Must have been too late...<br/>
<br/>
Проигрыш: С С С/h Am Am G - 2p.<br/>
<br/>
The lingeried ladies are walking on by;<br/>
The angels take cover - they think it isn't right;<br/>
And if the party's gonna go on tonight -<br/>
I don't know, who will set it all straight;<br/>
Who'll take away the empty bodies<br/>
And paint the clouds white - white again;<br/>
<br/>
 F      Fm<br/>
So, my love,<br/>
    C                    Am<br/>
I think that enough is enough;<br/>
               Dm            Fm G<br/>
Tired of this second-hand fun,<br/>
                    C           C C/h Am Am G<br/>
I'm heading for the absolute one.<br/>
<br/>
Проигрыш: C C C/h Am Am G - 2р. <br/>
Dm G C A7 Dm Em F Em Dm G<br/>
<br/>
Descriptions in the holy books leave me feeling rather stiff,<br/>
For there's much more that my spirit has to give;<br/>
We played it perfect for the moon and the sun;<br/>
This story's over, the credit is gone -<br/>
       Dm<br/>
So it's one for the road <br/>
Fm              G G<br/>
One for the road <br/>
                    C           C C/h Am Am G <br/>
I'm heading for the absolute one.<br/>
<br/>
Заключение: C C C/h Am Am G С С С С<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Fm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
