{% extends "chords.html" %}

{% set title = "Here comes the sun" %}
{% set handbook_unid = "d831bed115bbfc57c325679d006aed15" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - СОВМЕСТНЫЕ ПЕСНИ - here comes the sun<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
here comes the sun <br/>
</span><i>G.Harrison<br/></i>
 <br/>
Вступление: <br/>
   A         A     D        E<br/>
E----9-----9--9-7-5-5-7-5-----------7----<br/>
H-10--10-12--------7------7-9-7-9-10-9---<br/>
G-------------------------------------9--<br/>
D--------------------------------------9-<br/>
  A          A        D       E<br/>
E--12-----12--12-10--------------<br/>
H----14-15---------10------10-9--<br/>
G--------------------11--11------<br/>
D-7--------------------12--------<br/>
<br/>
A<br/>
 Here comes the sun, <br/>
D+7                H7<br/>
   Here comes the sun,<br/>
         A              D D/c# Hm7 A E <br/>
And I say it's all right<br/>
<br/>
A                                 <br/>
 Little darling, it's been <br/>
   D                E<br/>
А long cold lonely winter<br/>
A                                <br/>
 Little darling, it feels like <br/>
 D                     E<br/>
Years since it's been here<br/>
A<br/>
 Here comes the sun, <br/>
D+7                H7<br/>
   Here comes the sun,<br/>
         A              D D/c# Hm7 A E A E<br/>
And I say it's all right<br/>
<br/>
Little darling, the smiles <br/>
Returning to the faces<br/>
Little darling, it seems like <br/>
Years since it's been here<br/>
Here comes the sun, <br/>
Here comes the sun,<br/>
         A              D D/c# Hm7 A E A E 6:0 6:IV 5:II<br/>
And I say it's all right<br/>
<br/>
 C    G    D            A    E 6:0 6:IV 5:II<br/>
Sun, sun, sun, here it comes...<br/>
 C    G    D            A    E 6:0 6:IV 5:II<br/>
Sun, sun, sun, here it comes...<br/>
 C    G    D            A    E 6:0 6:IV 5:II<br/>
Sun, sun, sun, here it comes...<br/>
 C    G    D            A       <br/>
Sun, sun, sun, here it comes...<br/>
 E              E7               A<br/>
Jai Guru Deva, Jai Guru Deva, давай<br/>
<br/>
Проигрыш: <br/>
 A            A        D      E <br/>
E-7h9-----9----9sl7-5---5-7-5-4-5-7-<br/>
H----10-12-10--------6h7------5-7-9-<br/>
G-----------------------------------<br/>
D-----------------------------------<br/>
 A            A        D      E <br/>
E-7h9-----9----9-7-5----9-7-5-4-2-0-<br/>
H----10-12-10--------5h7-----------3<br/>
G-----------------------------------<br/>
D-----------------------------------<br/>
 A          A         D+7      H7     <br/>
E----9-7-9--9-----9------9-7-9----7----<br/>
H--10-----10-10-12-10-7-7------10---10-<br/>
G-9--------------------7---------------<br/>
D--------------------------------------<br/>
 A       D  D/c# Hm7 A        E   A          E    <br/>
E-9-7-5---5-7-5-7-5-7-5-7-5h4-2-0--9-----9--------<br/>
H------5h7---5---5---5--------------10-12-10-9-7-9<br/>
G-------------------------------------------------<br/>
D-------------------------------------------------<br/>
      C     G     D      A E <br/>
E---------------------------<br/>
H---------------------------<br/>
G---4-5-4-2-4-2-0-2------2--<br/>
D--6-----------------0-4----<br/>
A-7-------------------------<br/>
      C     G     D      A E      E7<br/>
E---------------------------4-4-5-7-7-<br/>
H---------------------------5-----9---<br/>
G---4-5-4-2-4-2-0-2------2------------<br/>
D--6-----------------0-4--------------<br/>
A-7-----------------------------------<br/>
<br/>
Little darling, I feel that <br/>
Ice is slowly melting<br/>
Little darling, it seems like <br/>
Years since it's been clear<br/>
Here comes the sun, <br/>
Here comes the sun,<br/>
         A              D D/c# Hm7 A E <br/>
And I say it's all right<br/>
A<br/>
 Here comes the sun, <br/>
D+7              H7<br/>
 Here comes the sun,<br/>
A              D D/c# Hm7 A E <br/>
 It's all right<br/>
A                 D D/c# Hm7 A E C 4:0 4:IV A<br/>
 It's all right...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D+7<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D/c#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm7<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
