{% extends "chords.html" %}

{% set title = "Homo Hi-Fi" %}
{% set handbook_unid = "626206bd5e338ccac325679d006af0bd" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные русскоязычные песни - homo hi-fi<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
homo hi-fi<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Ah! Oh! Let's Go!<br/>
Ah! Oh! Let's Go!<br/>
Ah! Oh! Let's Go!<br/>
<br/>
Проигрыш: E A - 4p.<br/>
<br/>
E       A<br/>
Он человек.<br/>
   E            A<br/>
У него есть Hi-Fi.<br/>
   E            A<br/>
У него есть Hi-Fi.<br/>
  E            A<br/>
Значит он человек.<br/>
     E                 A<br/>
Он тратит время на спираль в пластмассе.<br/>
     E                  A<br/>
Он тратит деньги на спираль в пластмассе.<br/>
     E                 A<br/>
У него есть жена - спираль в пластмассе.<br/>
<br/>
Проигрыш: Em C# G(III) C# G(III) C# <br/>
E A - 4p.<br/>
<br/>
У него нет рук.<br/>
У него нет ног.<br/>
У него нет бпф…<br/>
У него есть Hi-Fi.<br/>
Он тратит время на спираль в пластмассе.<br/>
Он тратит деньги на спираль в пластмассе.<br/>
У него есть жена - спираль в пластмассе.<br/>
<br/>
Проигрыш: Em C# G(III) C# G(III) C# <br/>
E A - 4p.<br/>
<br/>
Homo Hi-FI!<br/>
Homo Hi-FI!<br/>
Homo Hi-FI!<br/>
<br/>
Проигрыш: E A - 8p.<br/>
<br/>
 E<br/>
Homo Hi-FI!<br/>
 A<br/>
Homo Hi-FI!<br/>
<br/>
Homo Hi-FI!<br/>
Homo Hi-FI!<br/>
<br/>
Homo Hi-FI!<br/>
Homo Hi-FI!<br/>
<br/>
Homo Hi-FI!<br/>
Homo Hi-FI!<br/>
<br/>
Homo Hi-FI!<br/>
Homo Hi-FI!<br/>
<br/>
Homo Hi-FI!<br/>
Homo Hi-FI!<br/>
<br/>
Homo Hi-FI!<br/>
Homo Hi-FI!<br/>
<br/>
Homo Hi-FI!<br/>
Homo Hi-FI!<br/>
<br/>
Homo Hi-FI!<br/>
Homo Hi-FI!<br/>
<br/>
Homo Hi-FI!<br/>
Homo Hi-FI!<br/>
<br/>
Homo Hi-FI!<br/>
Homo Hi-FI!<br/>
<br/>
Homo Hi-FI!<br/>
 A         E<br/>
Homo Hi-FI!<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
