{% extends "chords.html" %}

{% set title = "I'm a man you don't meed everyday" %}
{% set handbook_unid = "53cc5ff20b409a1944257c33005f8d33" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - I'm a Man You Don't Meet Everyday<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
I'm a Man You Don't Meet Everyday<br/>
</span><i>народная<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: G G G C G<br/>
<br/>
         G             D            G         C<br/>
Will my name is Jock Stewart I'm a canny gun man<br/>
       G            D            G D<br/>
And a roving young fellow I've been<br/>
         G        D               G            C<br/>
So be easy and free when you're drinking with me<br/>
       G             D          G D<br/>
I'm a man you don't meet every day<br/>
<br/>
I'm a piper by trade, I'm a ramblin' young blade<br/>
And 'tis many the tune I can play<br/>
So be easy and free when you're drinking with me<br/>
       G             D          G C G D<br/>
I'm a man you don't meet every day<br/>
<br/>
<br/>
Проигрыш: <br/>
G D G C, G D G D, G D G C, G D G D <br/>
<br/>
Well I took out and my dog and him I did shoot<br/>
Down by the river Kildare<br/>
So be easy and free when you're drinking with me<br/>
I'm a man you don't meet every day<br/>
<br/>
So come fill up your glasses with brandy and beer<br/>
And whatever it costs I will pay<br/>
So be easy and free when you're drinking with me<br/>
I'm a man you don't meet every day<br/>
         G        D               G            C<br/>
So be easy and free when you're drinking with me<br/>
       G             D          G C G<br/>
I'm a man you don't meet every day<br/>
<br/>
Заключение: <br/>
G D G C, G D G D, G D G C, G D G C G<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
