{% extends "chords.html" %}

{% set title = "I fought the law" %}
{% set handbook_unid = "f2f3cf3f93d8f1d4c325679d006aec8e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - I Fought the Law<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
I Fought the Law<br/>
</span><i>C.Sonny<br/></i>
 <br/>
Вступление: G C+g:G - 4p.<br/>
<br/>
  G                   C+g  G<br/>
Breakin' rocks in the hot sun<br/>
G                        C+g  G<br/>
I fought the law and the law won<br/>
G                         C+g  G  G C+g G<br/>
I fought the law and the law won <br/>
G                        C+g G<br/>
I needed money 'cause I had none<br/>
G                        C+g  G<br/>
I fought the law and the law won <br/>
G                        C+g  G<br/>
I fought the law and the law won<br/>
C<br/>
I left my baby and it feels so bad<br/>
 G            <br/>
Guess my race is run<br/>
  C<br/>
She's the best girl that I ever had<br/>
G                        C+g  G<br/>
I fought the law and the law won<br/>
G                        C+g  G<br/>
I fought the law and the law won<br/>
<br/>
Проигрыш: G C+g:G - 4p.<br/>
<br/>
Breakin' rocks in the hot sun<br/>
I fought the law and the law won<br/>
I fought the law and the law won <br/>
I needed money 'cause I had none<br/>
I fought the law and the law won <br/>
I fought the law and the law won<br/>
I left my baby and it feels so bad<br/>
Guess my race is run<br/>
She's the best girl that I ever had<br/>
I fought the law and the law won<br/>
I fought the law and the law won<br/>
<br/>
Проигрыш: G C+g:G - 4p.<br/>
<br/>
Breakin' rocks in the hot sun<br/>
I fought the law and the law won<br/>
I fought the law and the law won <br/>
I needed money 'cause I had none<br/>
I fought the law and the law won <br/>
I fought the law and the law won<br/>
I left my baby and it feels so bad<br/>
Guess my race is run<br/>
She's the best girl that I ever had<br/>
I fought the law and the law won<br/>
I fought the law and the law won<br/>
<br/>
Заключение: G C+g:G - 8p. G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
