{% extends "chords.html" %}

{% set title = "I love you but I don`t like you" %}
{% set handbook_unid = "6c39dde5c6dd0147c3256ff2006ddbcd" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - Неизданные англоязычные песни - I Love You But I Don't Like You<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
I Love You But I Don't Like You</span><i><span style="color:red"> <br/>
</span>Right said Fred<br/></i>
 <br/>
Проигрыш: G C D <br/>
<br/>
G                 C<br/>
I love you but I don't like you <br/>
 D<br/>
Don't like you, <br/>
 G<br/>
Don't like you <br/>
G                 C<br/>
I love you but I don't like you <br/>
D                    G<br/>
I`m not sure if my friends do either <br/>
<br/>
We love you but we don't like you<br/>
Don't like you, <br/>
Don't like you <br/>
 G                  C            D G           <br/>
We love you but we don't like you<br/>
<br/>
           G       C <br/>
Well you great in bed <br/>
            D          G<br/>
But you're bad for my head <br/>
       G            C<br/>
You beautiful I confess <br/>
     D               G<br/>
You make my heart a mess <br/>
<br/>
I love you but I don't like you <br/>
Don't like you, <br/>
Don't like you <br/>
I love you but I don't like you <br/>
I`m not sure if my friends do either <br/>
<br/>
I love you but I don't like you <br/>
Don't like you, <br/>
Don't like you <br/>
I love you but I don't like you <br/>
I`m not sure if my friends do either <br/>
<br/>
Проигрыш: G C D G - 6p.<br/>
<br/>
I love you but I don't like you <br/>
Don't like you, <br/>
Don't like you <br/>
I love you but I don't like you <br/>
I`m not sure if my friends do either<br/>
<br/>
We love you but we don't like you<br/>
Don't like you, <br/>
Don't like you <br/>
We love you but we don't like you<br/>
<br/>
Проигрыш: G C D G <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
