{% extends "chords.html" %}

{% set title = "If you see her say hello" %}
{% set handbook_unid = "4d139100c19f32ebc32570a3004424ae" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - Неизданные англоязычные песни - If You See Her Say Hello<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
If You See Her Say Hello</span><i><br/>
B.Dylan<br/></i>
 <br/>
<i>One, two, three, four<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: G G G+c:G G<br/>
<br/>
G                C      G G             C      G<br/>
 If you see her say hello  she might be in Tangier<br/>
     G      G/f#    Em              Am                         D  Dsus4:D<br/>
She left here last early last spring and she`s living there I hear<br/>
Em                   C    G      G                         C<br/>
 Say for me that I'm all right though things get kind of slow<br/>
            G G/f#           Em        C                         G G+c:G<br/>
She might think that I've forgotten her don't tell her it isn't so.<br/>
<br/>
We had a falling-out like lovers often will<br/>
And to think of how she left that night it still brings me a chill<br/>
And though our separation it pierced me to the heart<br/>
She still lives inside of me we've never been apart.<br/>
<br/>
Проигрыш: G G+c:G<br/>
<br/>
If you get close to her kiss her once for me<br/>
I always have respected her for doing what she did and getting free<br/>
Whatever makes her happy I won't stay in the way<br/>
Everything is blurred now a still I think it`s all OK<br/>
<br/>
I meat a lot of people as I make my rounds<br/>
And I hear her name here and there as I go from town to town<br/>
But I've never gotten used to it I've just learned to turn it off<br/>
Either I'm too sensitive or else I'm getting soft.<br/>
<br/>
Sundown yellow moon I replay the past<br/>
I know every scene by heart they all went by so fast<br/>
If she's passing back this way I'm not that hard to find<br/>
Tell her she can look me up if she's got the time.<br/>
G G/f#           Em      C G <br/>
 If you see her say hello<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G+c<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
