{% extends "chords.html" %}

{% set title = "Jock O`Hazeldean" %}
{% set handbook_unid = "879778a5a5aff475c32570a30049c81a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - jock O`hazeldean<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
jock O`hazeldean</span><span style="color:red"> <br/></span>
S.Walter<br/>
<br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
One, two, three…<br/>
<br/>
Вступление: <br/>
G G:G+c G G/f# G:G+c Am7 G<br/>
G G:G+c G G/f# G C G<br/>
<br/>
     G       G/f#   G       D<br/>
Why weep ye by the tide, ladye?<br/>
     C       G          Am7 G<br/>
Why weep ye by the tide?<br/>
      G            G/f#     G D<br/>
I'll wed ye to my youngest son<br/>
    C        D       G Am7 G<br/>
And ye will be his bride<br/>
C                      Am7     C<br/>
Yeah, ye will be his bride, ladye<br/>
     G            Am7<br/>
Sae comely to be seen<br/>
    G        G/f#     Em        D/f#<br/>
But aye she loot the tears down la'<br/>
     C       D    G  Am7 G G G Am7 G<br/>
For Jock o' Hazeldean.<br/>
<br/>
A chain of gold ye shall not lack<br/>
Nor braid to bind you hair<br/>
Nor mettled hound, nor managed halk<br/>
Nor palfrey fresh and fair<br/>
And you, the fairest of them a'<br/>
Shall ride our forest queen<br/>
But aye she loot the tears down la'<br/>
For Jock o' Hazeldean.<br/>
<br/>
The kirk was deck'd at morning tide<br/>
The tapers glimmer'd fair<br/>
The priest and bridegroom wait the bride<br/>
And dame and knight are there.<br/>
They sought her baith by bower and ha'<br/>
The ladye was not seen<br/>
She's o'er the border and awa'<br/>
     C       D    G  Am7 G <br/>
For Jock o' Hazeldean.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G+c<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
