{% extends "chords.html" %}

{% set title = "Johnny too bad" %}
{% set handbook_unid = "58168744c5423b29c325679d006aed3f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - johnny too bad<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
johnny too bad</span><span style="color:red"> <br/></span>
B.Winston, B.Hy<br/>
<br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: G Hm Em C:D - 4p.<br/>
<br/>
G                              D<br/>
 Walking down the road with a pistol in your waist<br/>
               C     G<br/>
Johnny you're too bad<br/>
G                              D<br/>
 Walking down the road with a ratchet in your waist<br/>
               C      D<br/>
Johnny you're too bad<br/>
<br/>
           C                   D<br/>
You gonna run to the rock for rescue<br/>
               G<br/>
There will be no rock<br/>
           C                   D<br/>
You gonna run to the rock for rescue<br/>
               G<br/>
There will be no rock<br/>
           C                   D<br/>
You gonna run to the rock for rescue<br/>
               G<br/>
There will be no rock<br/>
           C                   D<br/>
You gonna run to the rock for rescue<br/>
               G<br/>
There will be no rock<br/>
<br/>
Walking down the road with a pistol in your waist<br/>
Johnny you're too bad<br/>
Walking down the road with a ratchet in your waist<br/>
Johnny you're too bad<br/>
<br/>
You gonna run to the rock for rescue<br/>
There will be no rock<br/>
You gonna run to the rock for rescue<br/>
There will be no rock<br/>
You gonna run to the rock for rescue<br/>
There will be no rock<br/>
You gonna run to the rock for rescue<br/>
There will be no rock<br/>
<br/>
Заключение: <br/>
G D C G - 2p.<br/>
C D G - 4p.<br/>
G D C G - 4p.<br/>
C D G - 4p.<br/>
G D C G - 2p.<br/>
C D G - 4p.<br/>
G D C G - 2p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
