{% extends "chords.html" %}

{% set title = "Kingston town" %}
{% set handbook_unid = "8885f646fb65719ac325679d006aed42" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - kingston town<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
kingston town</span><span style="color:red"> <br/></span>
UB40<br/>
<br/>
Вступление: <br/>
  G     D     C      D   C    D         G    D <br/>
E-3--5-7----5-0-------------0-3-5--10-7-5-7--5-<br/>
H-------7--8-----3-1-0---1---------------------<br/>
G-----------------------2----------------------<br/>
D----------------------------------------------<br/>
  G     D     C      D   C     D  G      D<br/>
E-3--5-7----5-0-----------0--3-5-7-7-5-5---<br/>
H-------7--8-----3-1-0---1--------8-8-8-8--<br/>
G---------------------2--------------------<br/>
D------------------------------------------<br/>
<br/>
<br/>
G      D     <br/>
I was king,<br/>
   C        D<br/>
I need a queen<br/>
       C         D      G     D<br/>
And a palace and everything, yeah<br/>
    G        D<br/>
And I was a king,<br/>
     C                     D<br/>
And my queen will come at dawn<br/>
           C          D        G  G<br/>
She'll be waiting in Kingston Town<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
