{% extends "chords.html" %}

{% set title = "Llar-A-Hlar" %}
{% set handbook_unid = "98ddada71bc6baa0c325679d006aed48" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - РУССКО-АБИССИНСКИЙ ОРКЕСТР - BARDO - llar-a-hlar<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
LLAR-a-hlar<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
  H          C        <br/>
Llar-A-Hlar say-ay<br/>
  H          C        <br/>
Llar-A-Hlar say-ay<br/>
  H          C        <br/>
Llar-A-Hlar say-ay<br/>
  H          C        <br/>
Llar-A-Hlar say-ay<br/>
<br/>
Say Barmi Hlar<br/>
Sayayaya Bo Hlar<br/>
Say Barmi Hlar<br/>
Sayayaya Bo Hlar<br/>
<br/>
Sayayaya Barmi Hlar<br/>
Sayayaya Barmi Hlar<br/>
Sayayaya Barmi Hlar<br/>
Sayayaya O Hlar<br/>
<br/>
Say Barmi Hlar<br/>
Sayayaya Bo Hlar<br/>
Say Barmi Hlar<br/>
Sayayaya Bo Hlar<br/>
<br/>
Sayayaya Barmi Hlar<br/>
Sayayaya Barmi Hlar<br/>
Sayayaya Barmi Hlar<br/>
Sayayaya O Hlar<br/>
<br/>
Llar-A-Hlar say-ay<br/>
Llar-A-Hlar say-ay<br/>
Llar-A-Hlar say-ay<br/>
Llar-A-Hlar say-ay<br/>
<br/>
Say Barmi Hlar<br/>
Sayayaya Bo Hlar<br/>
Say Barmi Hlar<br/>
Sayayaya Bo Hlar<br/>
<br/>
Sayayaya Barmi Hlar<br/>
Sayayaya Barmi Hlar<br/>
Sayayaya Barmi Hlar<br/>
Sayayaya O Hlar<br/>
<br/>
Llar-A-Hlar say-ay<br/>
Llar-A-Hlar say-ay<br/>
Llar-A-Hlar say-ay<br/>
Llar-A-Hlar say-ay<br/>
<br/>
Проигрыш: <br/>
Hm Hsus2 Hm F# F#7 - 2p.<br/>
D D+7 D Asus4 A7 - 2p.<br/>
<br/>
Say Barmi Hlar<br/>
Sayayaya Bo Hlar<br/>
Say Barmi Hlar<br/>
Sayayaya Bo Hlar<br/>
<br/>
Sayayaya Barmi Hlar<br/>
Sayayaya Barmi Hlar<br/>
Sayayaya Barmi Hlar<br/>
Sayayaya O Hlar<br/>
<br/>
Say Barmi Hlar<br/>
Sayayaya Bo Hlar<br/>
Say Barmi Hlar<br/>
Sayayaya Bo Hlar<br/>
<br/>
Sayayaya Barmi Hlar<br/>
Sayayaya Barmi Hlar<br/>
Sayayaya Barmi Hlar<br/>
Sayayaya O Hlar<br/>
<br/>
Llar-A-Hlar say-ay<br/>
Llar-A-Hlar say-ay<br/>
Llar-A-Hlar say-ay<br/>
Llar-A-Hlar say-ay<br/>
<br/>
Llar-A-Hlar say-ay<br/>
Llar-A-Hlar say-ay<br/>
Llar-A-Hlar say-ay<br/>
Llar-A-Hlar say-ay<br/>
<br/>
Llar-A…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hsus2<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#7<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D+7<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
