{% extends "chords.html" %}

{% set title = "Mean woman blues" %}
{% set handbook_unid = "ed0c05b2788689c7c325679d006aec8b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - mean woman blues<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
mean woman blues</span><i><span style="color:red"> <br/>
</span>C. DeMetrius<br/></i>
 <br/>
…A E A!              A!              A<br/>
     I got a woman, mean as she can be<br/>
D                               A<br/>
I got a woman, mean as she can be<br/>
 E                       D                  A E<br/>
Sometimes I think, she's almost as mean as me<br/>
<br/>
A               A               A<br/>
I got a woman, mean as she can be<br/>
I got a woman, mean as she can be<br/>
Sometimes I think, she's almost as mean as me<br/>
<br/>
A!             A!<br/>
 Ain't braking, it's understood<br/>
A!                 A7!<br/>
Everything I do I sure too good<br/>
D                               A<br/>
I got a woman, mean as she can be<br/>
E               D               A <br/>
I got a woman, mean as she can be<br/>
     A                   D                  A E<br/>
Sometimes I think, she's almost as mean as me<br/>
<br/>
Заключение: A A A A7 D A E D A E - 2p. A<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
