{% extends "chords.html" %}

{% set title = "Mellow yellow" %}
{% set handbook_unid = "78d5755b8bd53d71c325679d006aed2d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - mellow yellow<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
mellow yellow</span><i><span style="color:red"> <br/>
</span>Donovan<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/>
 <br/></i>
Вступление: G - 4p.<br/>
<br/>
G                   C<br/>
I'm just mad about Saffron<br/>
  G                   D<br/>
She's just mad about me<br/>
C                   C<br/>
I'm just mad about Saffron<br/>
  D        D/c        D<br/>
She's just mad about me<br/>
<br/>
      D              G   G/h           C<br/>
They call me mellow yellow quite rightly<br/>
      D              G   G/h           C<br/>
They call me mellow yellow quite rightly<br/>
      D              G   G/h           C D D/f D<br/>
They call me mellow yellow quite rightly<br/>
<br/>
Electrical banana<br/>
Is gonna be a sudden craze<br/>
Electrical banana<br/>
Is bound to be the very next phase<br/>
<br/>
They call me mellow yellow quite rightly<br/>
They call me mellow yellow quite rightly<br/>
They call me mellow yellow quite rightly<br/>
<br/>
Проигрыш: G C G D C C D D/c D, <br/>
D G G/h C - 3p. D D/f D<br/>
<br/>
I'm just mad about Fourteen<br/>
She's mad about me<br/>
I'm just mad about Fourteen<br/>
She's just mad about me<br/>
<br/>
They call me mellow yellow quite rightly<br/>
They call me mellow yellow quite rightly<br/>
They call me mellow yellow quite rightly<br/>
<br/>
Проигрыш: G C G D C C D D/c D <br/>
<br/>
They call me mellow yellow quite rightly<br/>
They call me mellow yellow quite rightly<br/>
      D              G   G/h           C D D/f D G<br/>
They call me mellow yellow quite rightly<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/c<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G/h<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D/f<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
