{% extends "chords.html" %}

{% set title = "Monolith" %}
{% set handbook_unid = "33a012db621b2439c32570a3006cc8a1" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - monolith<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
monolith</span><span style="color:red"> <br/></span>
M.Bolan<br/>
<br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: G G+c:G - 2p.<br/>
<br/>
   G       Em<br/>
Throne of time <br/>
    C       D/f#<br/>
Is kingly thing <br/>
       G          Em<br/>
From whence you know <br/>
   C       D/f#<br/>
We all do begin <br/>
     G           Em<br/>
And cold like a lion <br/>
        C           D/f#<br/>
In the canyons of smoke<br/>
              G        C+g      G  D/f#<br/>
Baby it's no jock oh, yeah oh, yeah <br/>
<br/>
Shallow all the actions <br/>
Of the children of men <br/>
Fogged was their vision <br/>
Since ages to began <br/>
And dressed as you are girl <br/>
In your fashions of fate <br/>
Baby it's too late oh, yeah oh, yeah<br/>
<br/>
Проигрыш: G Em C D/f# - 3p.<br/>
G C+g G D/f#<br/>
<br/>
Throne of time <br/>
Is kingly kingly thing <br/>
From whence you know <br/>
We all do begin <br/>
And dressed as you are girl <br/>
In your fashions of fate <br/>
              G        C+g      G  D/f# G<br/>
Baby it's no jock oh, yeah oh, yeah<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G+c<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
