{% extends "chords.html" %}

{% set title = "Mother" %}
{% set handbook_unid = "0ce42eb68464a059c325679d006aed9c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - RADIO SILENCE - mother<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
mother <br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: G C D - 4p.<br/>
<br/>
Em                 D            <br/>
  This city is on fire tonight <br/>
Em       C           G            D<br/>
  Sweet forest fire silent and unseen<br/>
Em               D<br/>
  The sleepers awaken <br/>
G      C                G           D<br/>
 Your eyes are open I know you're smiling at me<br/>
Em                            D       <br/>
  Some people say you're not here anymore<br/>
Em            C                    G                 D<br/>
  But your trees stand proud and laugh and let them pass<br/>
Em                    D<br/>
  So mischievous and holy<br/>
G                C            G            D<br/>
 And this is a question I'll never want to ask<br/>
<br/>
G            D                    Am            C<br/>
 There's a moon out there and she wants to be growing<br/>
G           D                       Am                      C<br/>
 There's a river down here and she wants to go back to the sea<br/>
G            D         Em           C<br/>
 I am your child, mother crying to be consoled<br/>
G             D     G        C<br/>
 Now that I know you do you recognize me?<br/>
<br/>
Проигрыш: G D Am C - 8p.<br/>
<br/>
Em                           D         <br/>
  There's a part of me that wants to be silent<br/>
Em         C                  G             D<br/>
  Immersed in your movement stung by your grace<br/>
Em                           D       <br/>
  And here is your song, and I'll sing it<br/>
G     C                G           D<br/>
 I'm coming home I've never been away<br/>
<br/>
There's a moon out there and she wants to be growing<br/>
There's a river down here and she wants to go back to the sea<br/>
I am your child, mother crying to be consoled<br/>
Now that I know you do you recognize me?<br/>
<br/>
There's a moon out there and she wants to be growing<br/>
There's a river down here and she wants to go back to the sea<br/>
I am your child, mother crying to be consoled<br/>
Now that I know you recognize me?<br/>
<br/>
Заключение: G D Am C - 8p. G C D - 4p. G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:114.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="152">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
