{% extends "chords.html" %}

{% set title = "Mr. Tambourine man" %}
{% set handbook_unid = "7d00df1088aa35fec325679d006aed18" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - Mr. Tambourine Man<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Mr. Tambourine Man</span><span style="color:red"> <br/></span>
B.Dylan<br/>
<br/>
 G        A             D                 G<br/>
Hey! Mr. Tambourine Man, play a song for me,<br/>
          D              Em               Asus2<br/>
I'm not sleepy and there is no place I'm going to.<br/>
 G        A                D    D/c#      G<br/>
Hey! Mr. Tambourine Man, play a song for me,<br/>
          D             Em                Asus2      D<br/>
From the jingle jangle morning I'll come followin' you.<br/>
<br/>
Oh I know that evenin's empire has returned into sand,<br/>
 D                G<br/>
Vanished from my hand,<br/>
          D               Em                   Asus2<br/>
Left me blindly here to stand but still not sleeping.<br/>
    G          A              D   D/c#    G<br/>
My weariness amazes me, I'm ready for to fade<br/>
      D          G             D                 G<br/>
Into my own parade, cast your dancing spell my way,<br/>
    Em          A       A/d<br/>
I promise to go under it.<br/>
<br/>
Hey! Mr. Tambourine Man, play a song for me,<br/>
            D            G                Asus2<br/>
I'm not sleepy and there is no place I'm going to.<br/>
Hey! Mr. Tambourine Man, play a song for me,<br/>
          D             G                Asus2      D<br/>
From the jingle jangle morning I'll come followin' you.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D/c#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A/d<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
