{% extends "chords.html" %}

{% set title = "Mrs. Lennon" %}
{% set handbook_unid = "f9406cfae90bb9aec325679d006aed4b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - mrs. Lennon<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
mrs.lennon</span><span style="color:red"> <br/></span>
Y.Ono<br/>
<br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: Em Em Hm Hm F#m F#m - 4p.<br/>
<br/>
Hm           F#m<br/>
  Mrs. Lennon, mrs. Lennon,<br/>
Em                    D<br/>
 Checking the sky to see if there's no clouds.<br/>
Hm<br/>
  There's no clouds,<br/>
F#m      Em                      Hm<br/>
  O' then, i guess it must be alright.<br/>
<br/>
Mrs. Lennon, o' mrs. Lennon,<br/>
Making the tea and watching the sea.<br/>
There's no waves,<br/>
O' then, i guess it must be alright.<br/>
<br/>
Hm           Em<br/>
 Silver spoon, silver spoon,<br/>
Hm          Em<br/>
 I lost my silver spoon.<br/>
<br/>
Проигрыш: Em Hm Hm F#m, Hm F#m Em D<br/>
Em Hm F#m Hm, Hm <br/>
<br/>
Husband John extended his hand,<br/>
Extended his hand to his wife.<br/>
And he finds, <br/>
And suddenly he finds that he has no hands.<br/>
<br/>
Hm<br/>
  They've lost their bodies!<br/>
Em<br/>
 They've lost their bodies!<br/>
Hm                 Em<br/>
  They lost their bodies.<br/>
<br/>
Проигрыш: D F#m Em Hm, Hm F#m Em D,<br/>
D Hm F#m Hm, Hm<br/>
<br/>
And our children, o, our children,<br/>
Em                        D  Hm F#m<br/>
  Did they have to go to war?<br/>
Yes, my love, it's okay,<br/>
Half the world is always killed you know.<br/>
<br/>
Заключение: Hm F#m Em Hm - 5p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
