{% extends "chords.html" %}

{% set title = "My baby left me" %}
{% set handbook_unid = "7c593bb8ac4ca513c325679d006aec94" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - my baby left me<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
my baby left me</span><span style="color:red"> <br/></span>
A.Crudup<br/>
<br/>
Вступление:<br/>
E---------------------10--------<br/>
H---10--------10-12-13--12-vb10-<br/>
G-12--12-11-12------------------<br/>
<br/>
              E<br/>
Never said a word. <br/>
          E<br/>
Was it something I done, <br/>
   E7<br/>
Something that she heard? <br/>
         A<br/>
My baby left me, <br/>
         A<br/>
My baby left me. <br/>
       H            H<br/>
My baby even left me, <br/>
                E E<br/>
Never said goodbye. <br/>
<br/>
        E<br/>
Now I stand at a corner, <br/>
Wring my hands and cry. <br/>
I hate to lose that woman, <br/>
Hate to say goodbye. <br/>
You know she left me, <br/>
Yes, she left me. <br/>
My baby even left me, <br/>
Never said goodbye.<br/>
<br/>
Проигрыш: E - 3p. E7 A A H H E E<br/>
<br/>
        E<br/>
Now I stand on a corner, <br/>
Wring my hands inside. <br/>
You know, I hate to lose, <br/>
You hate to say goodbye. <br/>
You know she left me, <br/>
Yes, she left me. <br/>
My baby even left me, <br/>
Never said goodbye.<br/>
<br/>
Проигрыш: E E7 A A H H E E<br/>
<br/>
      E<br/>
You know, my baby left me<br/>
Never said a word. <br/>
Was it something I done, <br/>
Something that she heard? <br/>
My baby left me, <br/>
My baby left me. <br/>
My baby even left me, <br/>
Never said goodbye. <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
