{% extends "chords.html" %}

{% set title = "Natty Dread" %}
{% set handbook_unid = "c92f4e59b73f04e4c325679d006aed4e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - natty dread<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
natty dread</span><i><span style="color:red"> <br/>
</span>B.Marley<br/></i>
 <br/>
<i>Каподастр на 1-м ладу<br/>
 <br/></i>
Проигрыш: G C - 54 p.<br/>
<br/>
  G            C    G C    <br/>
Dread, Natty Dread eah,  <br/>
 G                    C     G C    <br/>
Natty Dreadlock in a Babylon<br/>
  G            C    G C    <br/>
Dread, Natty Dread eah,  <br/>
G                     C     G C    <br/>
Natty Dreadlock in a Babylon<br/>
<br/>
And don't stay there and gesture, walk on down of a second street<br/>
I trod on through third street when I on a third street<br/>
And then I talk to some Dread on fourth street Natty Dreadlock in a fifth street<br/>
I've got to reach seventh street: and you won't get no supper.<br/>
<br/>
Dread, Natty Dread eah,  <br/>
A dreadlock Congo Bongo I.<br/>
Dread, Natty Dread eah,  <br/>
A dreadlock Congo Bongo I.<br/>
<br/>
Проигрыш: G C - 6 p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
