{% extends "chords.html" %}

{% set title = "Nuit de noel" %}
{% set handbook_unid = "1ff524be9aa10d22c325679d006af2f7" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ АЛЕКСАНДРА ВЕРТИНСКОГО - nuit de noel<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
nuit de noel<br/>
</span><i>А.Вертинский<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: Am C F E Am<br/>
<br/>
    Am       E      Am      Am               Am<br/>
Я опять опускаю письмо и тихонько целую страницы<br/>
                 A7   Dm       G                  C  E<br/>
И, открыв Ваши злые духи, я вдыхаю их тягостный хмель<br/>
     Am                         A7             Dm<br/>
И тогда мне так ясно видны эти тонкие черные птицы<br/>
       F                Am         F      E       Am<br/>
Что летят из флакона на юг, из флакона "Nuit de Noel"<br/>
<br/>
         E      Am      G           C<br/>
Скоро будет весна. И Венеции юные скрипки<br/>
     G                                     C<br/>
Распоют Вашу грусть, растанцуют тоску и печаль<br/>
    Am                            A7          Dm<br/>
И тогда станут слаще грехи и светлей голубые ошибки<br/>
      Dm       F      Am       Dm       E      Am<br/>
Не жалейте весной поцелуев когда расцветает миндаль<br/>
<br/>
      Am     E             Am      G              C<br/>
Обо мне не грустите, мой друг. Я озябшая старая птица.<br/>
       G                                              C<br/>
Мой хозяин - жестокий шарманщик - меня заставляет плясать<br/>
     Am                        A7                Dm<br/>
Вынимая билетики счастья, я гляжу в несчастливые лица<br/>
        Dm             Am          Dm        E        Am<br/>
И под гнусные звуки шарманки мне мучительно хочется спать<br/>
<br/>
    Am       E      Am      G                C<br/>
Я опять опускаю письмо и тихонько целую страницы<br/>
       G                                                  C<br/>
Не сердитесь за грустный конец и за слез моих тягостный хмель<br/>
               Am           A7                Dm<br/>
Это все Ваши злые духи. Это черные мысли как птицы<br/>
                 F      Am         F     E       Am<br/>
Что летят из флакона на юг, из флакона "Nuit de Noel"<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
