{% extends "chords.html" %}

{% set title = "One step forward" %}
{% set handbook_unid = "3f73754d1bb06b30c325679d006aed5d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - one step forward<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
one step forward</span><i><span style="color:red"> <br/>
</span>M.Romeo<br/></i>
 <br/>
<i>Каподастр на 1-м ладу<br/>
 <br/></i>
Проигрыш: G C - 2p.<br/>
<br/>
G                   C<br/>
One step forward, two steps backward<br/>
 G         C<br/>
Down inna Babylon<br/>
G                   C<br/>
One step forward, two steps backward<br/>
 G         C<br/>
Down inna Babylon <br/>
<br/>
Проигрыш: G C <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
