{% extends "chords.html" %}

{% set title = "Play with fire" %}
{% set handbook_unid = "05f3c0544a8e1521c3256d9b0037364b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - play with fire<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
play with fire</span><i><span style="color:red"> <br/>
</span>Rolling Stones<br/></i>
 <br/>
Вступление: Em Em7:Em Em/g Em Em7:Em - 2p.<br/>
<br/>
 Em                                      Em<br/>
Now you've got your diamonds and you've got your pretty clothes<br/>
          Em<br/>
And the chauffeur drives your car<br/>
     Em <br/>
You let everybody know<br/>
            G   D    G                  C           Em<br/>
But don't play with me, 'cause you're playing with fire<br/>
        G   D    G                  C           Em<br/>
Don't play with me, 'cause you're playing with fire<br/>
<br/>
Проигрыш: Em Em7:Em Em/g Em Em7:Em - 2p.<br/>
<br/>
Your mother she's an heiress, owns a block in Saint John's Wood<br/>
And your father'd be there with her<br/>
If he only could<br/>
But don't play with me, 'cause you're playing with fire<br/>
Don't play with me, 'cause you're playing with fire<br/>
<br/>
Проигрыш: Em Em7:Em Em/g Em Em7:Em - 2p.<br/>
<br/>
Your mother sold her diamond's and tiaras by the score<br/>
Now she gets her kicks in Stepney<br/>
Not in Knightsbridge anymore<br/>
But don't play with me, 'cause you're playing with fire<br/>
Don't play with me, 'cause you're playing with fire<br/>
<br/>
Проигрыш: Em Em7:Em Em/g Em Em7:Em Em/g <br/>
Em Em7:Em Em/g Em Em7:Em<br/>
<br/>
Now you've got some diamonds and you will have some others<br/>
But you'd better watch your step, girl<br/>
Or start living with your mother<br/>
Don't play with me, 'cause you're playing with fire<br/>
Don't play with me, 'cause you're playing with fire<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em/g<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
