{% extends "chords.html" %}

{% set title = "Radio Silence" %}
{% set handbook_unid = "eeff97d023edf7c2c325679d006aed33" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - RADIO SILENCE - radio silence<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Radio silence <br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: D A Em G - 8p.<br/>
<br/>
D A        Em           G<br/>
 Suddenly feels like a new year<br/>
D A           Em              G          D<br/>
   Like I'm a million miles away from here<br/>
D A       Em               G<br/>
   I can see some kind of light here<br/>
D         A        Em    G<br/>
 Although I can't name it<br/>
D             A          Em      G<br/>
 And I can’t talk about moonlight<br/>
D         A              Em       G<br/>
 I can’t talk about the wild child, <br/>
D      A       Em        G<br/>
 You know that real wild one, <br/>
 D        A           Em             G<br/>
Dancing alone in the middle of the whirlpool<br/>
<br/>
D A         Em           G<br/>
   Spinning tales about silence<br/>
D A       Em    G<br/>
   About radio silence<br/>
D A         Em       G<br/>
   Of some kind of asylum<br/>
        D        A         Em              G<br/>
In the middle of an empty field full of strangers<br/>
D A       Em    G<br/>
   Tales about silence<br/>
D A      Em     G<br/>
   About radio silence<br/>
D A        Em        G<br/>
   Of some kind of asylum<br/>
        D        A         Em            G<br/>
In the middle of an empty field full of danger<br/>
<br/>
Проигрыш: D - 4p.<br/>
<br/>
It's strange I don't feel like I'm a stranger<br/>
I feel like I belong here<br/>
Feel like I've been waiting for a long time<br/>
And now I can tell you some stories<br/>
Stories about the madmen<br/>
Stories about the dream-child<br/>
You know, that one<br/>
Who dance alone in the middle of the whirlpool<br/>
<br/>
Spinning tales about silence<br/>
About radio silence<br/>
Of some kind of asylum<br/>
In the middle of an empty field if you where<br/>
And I can`t give you some silence<br/>
Some radio silence<br/>
Of some kind of asylum<br/>
In the middle of an empty field if you want it<br/>
<br/>
D<br/>
 Only if you want it<br/>
D                      D<br/>
 Only if you feel like you<br/>
                              D<br/>
If you feel like asking and know<br/>
          D<br/>
We can’t walk without a tell<br/>
<br/>
Проигрыш: D A Em G - 8p.<br/>
<br/>
Suddenly feels like a new year<br/>
Like I'm a million miles away from here<br/>
I can see some kind of light here<br/>
Although I can't name it<br/>
I can’t talk about moonlight<br/>
I can’t talk about the wild child, <br/>
You know that real wild one, <br/>
Dancing alone in the middle of the whirlpool<br/>
<br/>
Spinning tales about silence<br/>
About radio silence<br/>
About some kind of asylum<br/>
In the middle of an empty field full of stranger<br/>
And I can`t give you some silence<br/>
And I can`t give you some radio silence<br/>
And I can`t give you some kind of asylum<br/>
In the middle of an empty field if you want it<br/>
<br/>
Заключение: D - 4p. <br/>
D A Em G - 12p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
