{% extends "chords.html" %}

{% set title = "Redemption song" %}
{% set handbook_unid = "81cf208b603d0533c3256a7c0039ec45" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - redemption song<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
redemption song</span><i><span style="color:red"> <br/>
</span>B.Marley<br/></i>
 <br/>
Вступление: C<br/>
<br/>
     C                  Am<br/>
Old pirates, yes, they rob I;<br/>
 Dm                      Fm<br/>
Sold I to the merchant ships,<br/>
C                Am<br/>
 Seconds after they took I<br/>
 F                   G<br/>
From the bottomless pit.<br/>
<br/>
How long will they kill our prophets,<br/>
While we stand aside and look? <br/>
Some say it's just a part of it:<br/>
You got to fulfil de book.<br/>
<br/>
 G             C<br/>
All I help to sing<br/>
F       G         C<br/>
 These songs of freedom? -<br/>
      G            Am<br/>
Cause all I ever knew:<br/>
F   G        C<br/>
 Redemption songs;<br/>
F   G        C<br/>
 Redemption songs.<br/>
F G         C<br/>
 Songs of freedom.<br/>
F   G        C<br/>
 Redemption songs.<br/>
<br/>
Emancipate yourselves from mental slavery;<br/>
None but ourselves can free our minds.<br/>
Have no fear for atomic energy,<br/>
Cause none of them can stop the time.<br/>
<br/>
How long will they kill our prophets,<br/>
While we stand aside and look? <br/>
Some say it's just a part of it:<br/>
You got to fulfil de book.<br/>
<br/>
All I help to sing<br/>
These songs of freedom? -<br/>
Cause all I ever knew:<br/>
Redemption songs;<br/>
Redemption songs.<br/>
Songs of freedom.<br/>
Redemption songs.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Fm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
