{% extends "chords.html" %}

{% set title = "Rip it out" %}
{% set handbook_unid = "0658054cfcf6e393c325679d006aed66" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - rip it up<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
rip it up<br/>
</span><i>Blackwell, Marascaleo<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Проигрыш: D D A A E E A A<br/>
<br/>
      A<br/>
Well Saturday nite and I just got paid<br/>
 A<br/>
Fool about my money don't try to save<br/>
    A<br/>
My heart says go, go have a time <br/>
 A                               A7<br/>
Saturday night baby I'm feelin' fine<br/>
<br/>
           D<br/>
I'm gonna rip it up<br/>
        A<br/>
Gonna shake it up<br/>
       D        E<br/>
Gonna ball it up<br/>
       A<br/>
Gonna rock it up<br/>
            E<br/>
I'm gonna shake it up<br/>
            A<br/>
And ball tonight<br/>
<br/>
Got a date and I won't be late<br/>
Pick her up in my '88'<br/>
Shag it on down to the union hall<br/>
When the music starts jumpin' I'll have a ball<br/>
<br/>
I'm gonna rip it up<br/>
Gonna shake it up<br/>
Gonna ball it up<br/>
Gonna rock it up<br/>
I'm gonna shake it up<br/>
And ball tonight<br/>
<br/>
Проигрыш: A A D A D D A A E E A A - 2p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
