{% extends "chords.html" %}

{% set title = "Rivers of Babylon" %}
{% set handbook_unid = "28484d3b3f2f4eb2c325679d006aecf1" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - Rivers of babylon<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Rivers of babylon<br/>
</span><i>B.Marley<br/></i>
 <br/>
Вступление: G C D - 2p.<br/>
<br/>
                  G                 <br/>
By the rivers of Babylon,<br/>
  D           G<br/>
Where he sat down,<br/>
              D<br/>
And there he went<br/>
                   G<br/>
For he remembered Zion.<br/>
                  G                 <br/>
By the rivers of Babylon,<br/>
  D           G<br/>
Where he sat down,<br/>
              D<br/>
And there he went<br/>
                   G<br/>
For he remembered Zion.<br/>
<br/>
                G<br/>
For the wicked carry us away.<br/>
    G        C                 G<br/>
Captivity requireth from us a song.<br/>
      G                G<br/>
How shall we sing King Alpha's song<br/>
        D     G<br/>
In a strange land?<br/>
<br/>
For the wicked carry us away.<br/>
Captivity requireth from us a song.<br/>
How shall we sing King Alpha's song<br/>
In a strange land?<br/>
<br/>
    G<br/>
So let the words of our mouth<br/>
             G               D<br/>
And the meditations of our hearts<br/>
      G            D            C D<br/>
Be acceptable in thy sight over I.<br/>
<br/>
By the rivers of Babylon,<br/>
Where he sat down,<br/>
And there he went<br/>
For he remembered Zion.<br/>
By the rivers of Babylon,<br/>
Where he sat down,<br/>
And there he went<br/>
For he remembered Zion.<br/>
<br/>
For the wicked carry us away.<br/>
Captivity requireth from us a song.<br/>
How shall we sing King Alpha's song<br/>
In a strange land?<br/>
<br/>
Заключение: G G D G G - 3p. G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
