{% extends "chords.html" %}

{% set title = "Satisfaction" %}
{% set handbook_unid = "40492e47ad19872ec325679d006aed1e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - satisfaction<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
satisfaction</span><i><span style="color:red"> <br/>
</span>M.Jagger, K.Richards<br/></i>
 <br/>
Вступление:        <br/>
E----------------------<br/>
H-5-5-----3--3-3h2-2-0-<br/>
G-4-4--4-6-------------<br/>
D----------------------<br/>
  E     Asus4      A<br/>
E----------------------<br/>
H-5-5-----3--3-3h2-2-0- - 3p.<br/>
G-4-4--4-6-------------<br/>
D----------------------<br/>
<br/>
E              A<br/>
 I can't get no satisfaction <br/>
E              A<br/>
 I can't get no satisfaction <br/>
         E            H7           <br/>
When I tried when I tried<br/>
         E            A<br/>
When I tried when I tried<br/>
         E   Asus4 A       E   Asus4 A<br/>
I can't get no       satisfaction <br/>
           E           Asus4 A       <br/>
When I'm driving in my car <br/>
       E          Asus4   A    E              Asus4 A<br/>
And a man comes on the radio, tell me more and more <br/>
             E          Asus4 A             E           Asus4 A<br/>
About some useless information supposed to fire my imagination <br/>
<br/>
         E    Asus4 A <br/>
I can't get no <br/>
         E<br/>
No, no, no <br/>
 H7        E Asus4 A<br/>
Hey, hey, hey <br/>
               E Asus4 A<br/>
That's what I say <br/>
<br/>
I can't get no satisfaction <br/>
I can't get no satisfaction <br/>
When I tried when I tried<br/>
When I tried when I tried<br/>
I can't get no satisfaction <br/>
<br/>
When I'm watching my TV <br/>
And a man comes on that tells me how white my shirts can be <br/>
But he can't be a man 'cause he doesn't smoke the same cigarettes as me <br/>
<br/>
         E    Asus4 A <br/>
I can't get no <br/>
         E<br/>
No, no, no <br/>
 H7        E Asus4 A<br/>
Hey, hey, hey <br/>
               E Asus4 A<br/>
That's what I say <br/>
<br/>
Проигрыш: E Asus4 A - 12р.<br/>
<br/>
E       Asus4 A E    Asus4 A<br/>
 I can't get no  satisfaction <br/>
E       Asus4 A E    Asus4 A E       Asus4  A E E<br/>
 I can't get no  satisfaction no satisfaction<br/>
<br/>
          E<br/>
When I'm riding around the world <br/>
         E                                        E<br/>
And I'm doing this and I'm signing that and I'm trying to make some girl <br/>
             E                                                E<br/>
To call me "Baby, baby come back, baby that’s me 'cause you know I'm on a losing streak" <br/>
         E<br/>
I can't get no<br/>
         E E E<br/>
No, no, no <br/>
<br/>
E A           E A<br/>
   Hey, hey, hey <br/>
               E Asus4 A<br/>
That's what I say<br/>
         E    Asus4 A<br/>
I can't get no<br/>
         E    Asus4 A<br/>
I can't get no<br/>
      E     A<br/>
Satisfaction...<br/>
         E    Asus4 A<br/>
No satisfaction...<br/>
         E    Asus4 A<br/>
No satisfaction...<br/>
         E    Asus4 A<br/>
No satisfaction...<br/>
         E    Asus4 A<br/>
No satisfaction...<br/>
         E    E<br/>
No satisfaction...<br/>
         E    A<br/>
I can't get no<br/>
         E    A<br/>
I can't get no<br/>
         E    A<br/>
I can't get no<br/>
         E    A <br/>
I can't get no<br/>
E      A<br/>
 Satisfaction...<br/>
E      A<br/>
 Satisfaction...<br/>
<br/>
Заключение: E A - 8p. E E E E    E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
