{% extends "chords.html" %}

{% set title = "Shake, rattle and roll" %}
{% set handbook_unid = "630778797d6a7c04c3256a45006e4579" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - Shake, Rattle and Roll<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Shake, Rattle and Roll</span><i><span style="color:red"> <br/>
</span>C.Calhoun<br/></i>
 <br/>
Каподастр на 3-м ладу<br/>
<br/>
Проигрыш: A A D A D D A A E E A A<br/>
<br/>
          A                                   A<br/>
Well get out of that bed, wash your face and hands<br/>
     D                                   A       <br/>
Get out of that bed, wash your face and hands<br/>
       E                 D             A<br/>
Don`t eat my bread cause I`m a hangry man <br/>
<br/>
         A<br/>
I said shake, rattle and roll<br/>
         A<br/>
I said shake, rattle and roll<br/>
         D<br/>
I said shake, rattle and roll<br/>
         A<br/>
I said shake, rattle and roll<br/>
     E            <br/>
Well you won't do right<br/>
    D                 A<br/>
To save your doggone soul<br/>
<br/>
Заключение: A A D A E A A - 2p. A<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
