{% extends "chords.html" %}

{% set title = "Sirakh Malatoy Tan/Skir Lametan" %}
{% set handbook_unid = "3c54a79f5e070640c325679d006aed6f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - РУССКО-АБИССИНСКИЙ ОРКЕСТР - BARDO - sirakh malatoy tan/skir lametan<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Sirakh malatoy tan/Skir lametan<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: <br/>
  Em   H7(IV)      Em   D/f#<br/>
E-0-7--5-7-5-3-2---0-7--10-9--7-<br/>
H---------------4-----------10--<br/>
G-------------------------------<br/>
D-------------------------------<br/>
 G(III) D/f#          Em   Am/f# D7/f# H7(II)<br/>
E--10--8-7-5-8-7-5-3--3-5-7-8-10-8-7-5-------<br/>
H-8-----------------------------------7-4----<br/>
G--------------------------------------------<br/>
D--------------------------------------------<br/>
  Em   H7(IV)      Em   D/f#<br/>
E-0-7--5-7-5-3-2---0-7--10-9--7-<br/>
H---------------4-----------10--<br/>
G-------------------------------<br/>
D-------------------------------<br/>
 G(III) D/f#          Em   Am/f# D7/f# H7(II)<br/>
E--10--8-7-5-8-7-5-3--3-5-7-8-10-8-7-5-------<br/>
H-8-----------------------------------7-4----<br/>
G--------------------------------------------<br/>
D--------------------------------------------<br/>
<br/>
 Em        H7(IV)         Em  D/f#       <br/>
Ban Skir Lametan Bardo-I-Hlar Mo-Hlar<br/>
G(III)    D/f#                Em  Am/f# D7/f# H7(II)<br/>
Ban Klir Gwarhma I Gwarhma I Klar Ban Skir Lametan<br/>
<br/>
Проигрыш: <br/>
  Em   H7(IV)      Em   D/f#<br/>
E-0-7--5-7-5-3-2---0-7--10-9--7-<br/>
H---------------4-----------10--<br/>
G-------------------------------<br/>
D-------------------------------<br/>
 G(III) D/f#          Em   Am/f# D7/f# H7(II)<br/>
E--10--8-7-5-8-7-5-3--3-5-7-8-10-8-7-5-------<br/>
H-8-----------------------------------7-4----<br/>
G--------------------------------------------<br/>
D--------------------------------------------<br/>
<br/>
Ban Skir Lametan Bardo-I-Hlar Mo-Hlar<br/>
G(III)    D/f#                Em  Am/f# D7/f# H7(II) 4:II<br/>
Ban Klir Gwarhma I Gwarhma I Klar Ban Skir Lametan<br/>
<br/>
Проигрыш: <br/>
  Em   H7(IV)      Em   D/f#<br/>
E-0-7--5-7-5-3-2---0-7--10-9--7-<br/>
H---------------4-----------10--<br/>
G-------------------------------<br/>
D-------------------------------<br/>
 G(III) D/f#          Em   Am/f# D7/f# H7(II)<br/>
E--10--8-7-5-8-7-5-3--3-5-7-8-10-8-7-5-------<br/>
H-8-----------------------------------7-4----<br/>
G--------------------------------------------<br/>
D--------------------------------------------<br/>
<br/>
Ban Skir Lametan Bardo-I-Hlar Mo-Hlar<br/>
Do Klir Gwarhma I Gwarhma I Klar Ban Skir Lametan<br/>
<br/>
Проигрыш: <br/>
  Em   H7(IV)      Em   D/f#<br/>
E-0-7--5-7-5-3-2---0-7--10-9--7-<br/>
H---------------4-----------10--<br/>
G-------------------------------<br/>
D-------------------------------<br/>
 G(III) D/f#          Em   Am/f# D7/f# H7(II)<br/>
E--10--8-7-5-8-7-5-3--3-5-7-8-10-8-7-5-------<br/>
H-8-----------------------------------7-4----<br/>
G--------------------------------------------<br/>
D--------------------------------------------<br/>
  Em   H7(IV)      Em   D/f#<br/>
E-0-7--5-7-5-3-2---0-7--10-9--7-<br/>
H---------------4-----------10--<br/>
G-------------------------------<br/>
D-------------------------------<br/>
 G(III) D/f#          Em   Am/f# D7/f# H7(II)<br/>
E--10--8-7-5-8-7-5-3--3-5-7-8-10-8-7-5-8-----<br/>
H-8------------------------------------------<br/>
G----------------------------------------4~~~<br/>
D--------------------------------------------<br/>
<br/>
Skir Klaman Skir Lametan<br/>
Skir Klaman Skir Lametan<br/>
Skir Klaman Skir Lametan<br/>
Skir Klaman Skir Lametan <br/>
<br/>
E-3h5-5h7-11-<br/>
H------------<br/>
G------------<br/>
D------------<br/>
<br/>
  Em               H7(II)<br/>
Skir Klaman Skir Lametan<br/>
  Em               H7(II)<br/>
Skir Klaman Skir Lametan<br/>
  Em               H7(II)<br/>
Skir Klaman Skir Lametan<br/>
  Em               H7(II)<br/>
Skir Klaman Skir Lametan<br/>
<br/>
Skir Klaman Skir Lametan<br/>
Skir Klaman Skir Lametan<br/>
Skir Klaman Skir Lametan<br/>
Skir Klaman Skir Lametan <br/>
<br/>
Skir Klaman Skir Lametan<br/>
Skir Klaman Skir Lametan<br/>
Skir Klaman Skir Lametan<br/>
Skir Klaman Skir Lametan <br/>
<br/>
Skir Klaman Skir Lametan<br/>
Skir Klaman Skir Lametan<br/>
Skir Klaman Skir Lametan<br/>
Skir Klaman Skir Lametan <br/>
<br/>
Skir Klaman Skir Lametan<br/>
Skir Klaman Skir Lametan<br/>
Skir Klaman Skir Lametan<br/>
Skir Klaman Skir Lametan… <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          H7(IV)<br/>
  E---|---|---|-■-|-■-|<br/>
  H---|---|---|-■-|---|<br/>
  G---|---|---|-■-|---|<br/>
  D---|---|---|-■-|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/f#<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D7/f#<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         H7(II)<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
