{% extends "chords.html" %}

{% set title = "Sweet Virginia" %}
{% set handbook_unid = "bcf26e68545846aec325679d006aed27" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - sweet virginia<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
sweet virginia</span><i><span style="color:red"> <br/>
</span>M.Jagger, K.Richards<br/>
 <br/></i>
Каподастр на 2-м ладу<br/>
<br/>
Вступление: G C C A G G C A G C C G G<br/>
<br/>
       C                  A           G  <br/>
I was wading through the long stormy winter<br/>
C                A                   G<br/>
 There's not a friend to help you through<br/>
C                    A                    G    C<br/>
 Trying to stop the waves behind your eyeballs<br/>
  C              D                    G  G7<br/>
Drop your reds drop your greens and blues<br/>
<br/>
 C               A             G<br/>
Come on come on down Sweet Virginia<br/>
 C               A             G G7<br/>
Come on come on down I beg of you<br/>
 C               A              G     C<br/>
Come on come on down you got it in you<br/>
   C          D                   G  C G<br/>
Scrape this shit right off your shoes<br/>
<br/>
Проигрыш: C A G - 3p. C C D G C G<br/>
<br/>
Thank you for your wine, California<br/>
Thank you for your sweet and bitter fruits<br/>
Yes, I've got the desert in my toenail<br/>
     C         D              G  C G<br/>
And hid the speed inside my shoe<br/>
<br/>
Come on come on down Sweet Virginia<br/>
Come on come on down I beg of you<br/>
Come on come on down you got it in you<br/>
Scrape this shit right off your shoes<br/>
<br/>
Заключение: C A G - 3p. C C D G C G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
