{% extends "chords.html" %}

{% set title = "That voice again" %}
{% set handbook_unid = "bbcbdc3c4e7bf4f9c325679d006aed24" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - RADIO SILENCE - that voice again<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
that voice again <br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: Dm Dm Gm Gm - 2p.<br/>
<br/>
Dm             Dm        Gm Gm<br/>
  I hear that voice again<br/>
Dm             Dm        Gm Gm<br/>
  I hear that voice again<br/>
<br/>
Dm<br/>
  Seems so simple now<br/>
 C<br/>
Now that the sky is clear<br/>
Dm<br/>
  Maybe the road was tough<br/>
C<br/>
 But at last we're here<br/>
F                 C<br/>
 I've nothing to hide from you<br/>
Dm                C<br/>
   Nothing to explain<br/>
Gm                      Gm<br/>
  Just this vision of broken wing<br/>
F         Dm             A  A<br/>
 And the raven cries in pain<br/>
<br/>
I hear that voice again<br/>
I hear that voice again<br/>
<br/>
Проигрыш: Dm Dm E E Gm Gm Dm A<br/>
<br/>
Dm Dm Gm Gm<br/>
         Listen to the voice <br/>
Dm Dm Gm Gm<br/>
         Listen to the voice <br/>
<br/>
If darkness surrounds you<br/>
I'll be the fire to guard your sleep<br/>
If there's nothing to stand on<br/>
     Am            C<br/>
I’ll lay myself beneath your feet<br/>
I will show the world to you<br/>
And this world will have no stain<br/>
Just hold me now hold me close<br/>
Don't let me go but close your eyes and look away<br/>
<br/>
Dm             Dm<br/>
  I hear that voice again<br/>
Dm             Dm<br/>
  I hear that voice again <br/>
Dm             Dm<br/>
  I hear that voice again<br/>
Dm             Dm<br/>
  I hear that voice again<br/>
<br/>
Проигрыш: Dm Dm E E Gm Gm Dm A - 2p.<br/>
<br/>
I hear that voice again<br/>
I hear that voice again<br/>
<br/>
I hear that voice again<br/>
I hear that voice again<br/>
<br/>
I hear that voice again<br/>
I hear that voice again<br/>
<br/>
Проигрыш: Dm Dm Gm Gm - 2p.<br/>
<br/>
I hear that voice again<br/>
<br/>
Проигрыш: Dm Dm Gm Gm - 3p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:131.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:114.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="152">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td colspan="2" style="border:none;padding:0cm 0cm 0cm 0cm" width="374"> <br/></td>
</tr>
</table>
{% endraw %}
{% endblock %}
