{% extends "chords.html" %}

{% set title = "The Time" %}
{% set handbook_unid = "45ec1d348ef25f95c325679d006aed72" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - RADIO SILENCE - the time<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
the Time <br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
    H-------------     -----------<br/>
    G-------------     -1-0-1-0-0-<br/>
G G D---0-3-3-2-0- D F ----3---3-- - 2p.<br/>
    A--2----------     -----------<br/>
    E-3-----------     -----------<br/>
<br/>
C              G<br/>
 Sitting in a corner<br/>
Am       Em             F<br/>
  In my castle made of single-malt and smoke<br/>
C                     G<br/>
 And all my friends around me<br/>
Am      Em                  F<br/>
  And I love them "till I choke<br/>
C                            G<br/>
 And I watch you dance with someone<br/>
Am Em                F<br/>
  Someone not even there<br/>
C                         G<br/>
 And you're simple as in sacrilege<br/>
Am             Em  F<br/>
  And you are pure as in player<br/>
<br/>
Проигрыш: <br/>
    H-------------     -----------<br/>
    G-------------     -1-0-1-0-0-<br/>
G G D---0-3-3-2-0- D F ----3---3-- - 2p.<br/>
    A--2----------     -----------<br/>
    E-3-----------     -----------<br/>
<br/>
Somewhere there's a point of no resistance<br/>
But we make sure there's no getting there<br/>
And we're beautiful when we're animals<br/>
But so easily scared<br/>
And I cannot even talk to you<br/>
Stricken down as a hunter to its prey<br/>
Sliding down, down this hill of glass again<br/>
And there's nothing I can say<br/>
<br/>
C   G                   Am  F G<br/>
 I guess it's just the time<br/>
C   G                  Am   F G<br/>
 I guess it's just the time<br/>
C   G                   Em<br/>
 I guess it's just the time<br/>
F                             G<br/>
 And I will see you when the time is over<br/>
<br/>
Проигрыш: <br/>
    H-------------     -----------<br/>
    G-------------     -1-0-1-0-0-<br/>
G G D---0-3-3-2-0- D F ----3---3-- - 2p.<br/>
    A--2----------     -----------<br/>
    E-3-----------     -----------<br/>
<br/>
Cm(III)          B(VI)<br/>
   And then the northern wind calls<br/>
Cm(III)     B(VI)<br/>
   And then curtains part<br/>
Cm(III)          B(VI)<br/>
   And then the castle wall falls<br/>
D#               F             F  F<br/>
  And there's an arrow in my heart<br/>
<br/>
There's only one way out of prison<br/>
Which is to set your jailer free<br/>
But then, it's just another bunch of pretty words<br/>
That stand between the sailor and the sea<br/>
So forgive me, though I know you never will<br/>
Battered by your pride<br/>
And so I'm locked again within these castle walls<br/>
And you freeze alone outside<br/>
<br/>
I guess it's just the time<br/>
I guess it's just the time<br/>
I guess it's just the time<br/>
Will we not here<br/>
<br/>
I guess it's just the time<br/>
I guess it's just the time<br/>
I guess it's just the time<br/>
And I will see you when the time is over<br/>
<br/>
Заключение: <br/>
    H-------------     -----------<br/>
    G-------------     -1-0-1-0-0-<br/>
G G D---0-3-3-2-0- D F ----3---3-- - 5p.<br/>
    A--2----------     -----------<br/>
    E-3-----------     -----------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:131.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Cm(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|-■-|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VI     B(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:114.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="152">
<b><span style="font-size:8.0pt">   III       D#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
