{% extends "chords.html" %}

{% set title = "The Postcard" %}
{% set handbook_unid = "c05db7e6a95623aec325679d006aed9f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - RADIO SILENCE - the postcard<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
the postcard <br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: A G A G A G D/f# A - 4 p.<br/>
D C D C D C F G - 2p.<br/>
<br/>
D        C  D  <br/>
 This is a postcard<br/>
 C    D                 C     F       G<br/>
Saying I'm alright in this beautiful city<br/>
D        C   D <br/>
 This is a phone call<br/>
 C     D    C       F        G<br/>
Saying, yes, I am sleeping alone here<br/>
D              F<br/>
 But the telephone lines are cut<br/>
G(III)              B(VI)<br/>
     My hands can't hold the paper<br/>
<br/>
D       C      G<br/>
You are on my mind<br/>
D       C      G<br/>
You are on my mind<br/>
<br/>
Проигрыш: D C D C D C F G - 2p. <br/>
<br/>
Nobody knows your name here,<br/>
Except when the moon is out<br/>
Then they toss in their sleep<br/>
Crying out for you to take them<br/>
But me I cannot sleep,<br/>
I cannot dream, my heart is shattered<br/>
<br/>
You are on my mind<br/>
You are on my mind<br/>
<br/>
A                           G              G D/f# A<br/>
 Once seven colors used to make a man blind<br/>
A           G                    G             D/f# A<br/>
 And now we are like birds stuck in barbed wire<br/>
A<br/>
  Shattered!<br/>
<br/>
Проигрыш: D C D C D C F G - 4p.<br/>
<br/>
Precise, like sunrise<br/>
A child just like any other<br/>
Made of the bones of the earth<br/>
Fragile and deathless<br/>
Yes, I'm alright<br/>
I'm a church,<br/>
And I'm burning down<br/>
<br/>
You are on my mind<br/>
You are on my mind<br/>
<br/>
You are on my mind<br/>
You are on my mind<br/>
<br/>
You are on my mind<br/>
You are on my mind<br/>
<br/>
You are on my mind<br/>
You are on my mind<br/>
<br/>
You are on my mind<br/>
You are on my mind<br/>
<br/>
You are on my mind<br/>
You are on my mind...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VI     B(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
