{% extends "chords.html" %}

{% set title = "The worst" %}
{% set handbook_unid = "a4b166824ebdcbb5c325679d006aecac" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - The worst<br/></span>
 <br/>
<span style="color:red;text-transform:uppercase">The worst</span><i><span style="color:red"> <br/>
</span>M.Jagger, K.Richards <br/></i>
 <br/>
 D                    G<br/>
Well I said from the first <br/>
D          A  Em         <br/>
 I am the worst kind of guy <br/>
         G  D   A   D<br/>
For you to be around <br/>
 Em                <br/>
Take this old heart <br/>
D            A<br/>
 Tear me I apart <br/>
Em          G     D       A<br/>
  And never ever let you down <br/>
<br/>
                E          A<br/>
You shouldn't stick with me <br/>
A                  E         A<br/>
 You trust me too much, you see <br/>
D              G <br/>
 Take all the pain <br/>
D               A<br/>
 It's yours anyway <br/>
Em      G A A<br/>
Yeah kid... <br/>
<br/>
Проигрыш: D G D A Em G A - 2p.<br/>
<br/>
A          E       A<br/>
 Put the blame on me <br/>
A              E         A<br/>
 You ought to pass, you see <br/>
A              E<br/>
 Somewhere outside <br/>
A             E<br/>
 I threw love aside <br/>
A             E    A 1:VII 1:V<br/>
 Now it's a tragedy <br/>
<br/>
A                 G<br/>
 I said from the first <br/>
D          A   Em<br/>
 I am the worst kind of guy <br/>
         G  D   A   <br/>
For you to be around… <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
