{% extends "chords.html" %}

{% set title = "The banks of the bann" %}
{% set handbook_unid = "9e9e0a6ceedd7a2ac325679d006aec97" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - The Banks of the Bann<br/></span>
 <br/>
<span style="color:red;text-transform:uppercase">The Banks of the Bann</span><i><span style="color:red"> <br/>
</span>Silly Wizard <br/>
 <br/></i>
Каподастр на 2-м ладу<br/>
<br/>
    Em            F             Em<br/>
…affections on a maid that was young<br/>
     F               G           C                F  G<br/>
She bein' young and tender, Her waist small an' slender<br/>
      F          G              F        C C+d:C F G C C+d:C F G<br/>
Kind nature had formed her for my overthrow<br/>
<br/>
    C            F  G          F                  Em<br/>
My name it is Delahney, that's a name that won't chain me<br/>
   F          Em         F             Em<br/>
If I ha' had money, I'd ha' never had room<br/>
           F           G            C             F  G<br/>
But the drinkin' an' sportin', nae ramblin' an' courtin'<br/>
      F                  G          F          C C+d:C F G C C+d:C F G<br/>
Are the cause of all my ruin and absence from home<br/>
<br/>
    C             F            F                Em<br/>
It was her cruel parents, who first caused her variance<br/>
          F      Em         F          Em<br/>
Because she was rich, and above my degree<br/>
          F       G          C             F Em<br/>
But I'll do my endeavor, to gain my loves favor<br/>
           F      G        F        C C+d:C F G<br/>
Although she is born of a high family<br/>
        C            F  G F G C<br/>
By the banks of the Bann <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+d<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
