{% extends "chords.html" %}

{% set title = "Turquoise" %}
{% set handbook_unid = "fc24cf196bae23bbc325679d006aedba" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - turquoise<br/></span>
 <br/>
<span style="color:red;text-transform:uppercase">turquoise</span><i><span style="color:red"> <br/>
</span>Donovan <br/>
<br/>
Three, four…<br/>
 <br/></i>
Каподастр на 2-м ладу<br/>
<br/>
Вступление: <br/>
G G+7 C C+7, G G+7 C C<br/>
G G+7 C+7 С, G G+7 C C+7<br/>
<br/>
G                   C            G <br/>
Your eyes are like sunrise on a gull's wing<br/>
     G              C              G<br/>
And birds cease to sing when you smile.<br/>
     G                 C                G<br/>
Ride easy your fairy stallion you have mounted.<br/>
                    G          C                  G<br/>
Take care how you fly, oh my precious, you might fall down.<br/>
<br/>
Проигрыш: <br/>
G G+7 C+7 C+7, G G+7 C+7 C+7<br/>
G G+7 C+7 С, G G6 C C<br/>
<br/>
In a sunset feel of sunrise I have wandered<br/>
You know my eyes and ears I feeld to the full,<br/>
And you know I tasted the essence in the few days.<br/>
Take care who you love, oh my precious, he might not know.<br/>
                    G         C                       G<br/>
Take care how you fly, oh my darling, you might fall down.<br/>
<br/>
Заключение: С G C G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G+7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G6<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
