{% extends "chords.html" %}

{% set title = "Up in smoke" %}
{% set handbook_unid = "7beb8eb93e039c4ec325679d006aeceb" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - RADIO LONDON - up in smoke<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
up in smoke <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 5-м ладу<br/>
<br/>
Вступление</i>: C G C F - 2p. <br/>
C G Am Am G - 2p. <br/>
<br/>
C        Am        G       C<br/>
 Book of love in front of me<br/>
  Am      F        C  G<br/>
Tries to bite my chin;<br/>
C      Am       G        C<br/>
 Angel right behind my shoulder<br/>
  Am      F    C  G<br/>
Waits to do me in;<br/>
Am          F<br/>
  I wish I had a heart<br/>
    Am             G<br/>
To walk me like a dog -<br/>
 C         G   F     C<br/>
But life's a sweet thing,<br/>
 F            C  G Am Am G<br/>
Going up in smoke.<br/>
<br/>
Проигрыш: C G Am Am G<br/>
<br/>
Used to be a passenger,<br/>
Now they take me as their own;<br/>
Used to be a fisher-king<br/>
But now my cross is gone.<br/>
I wish I had some faith,<br/>
But all I do is talk -<br/>
And life's a sweet thing,<br/>
Going up in smoke.<br/>
<br/>
Проигрыш: C G Am Am G<br/>
C Am G C, Am F C G, C Am G C, Am F C G, <br/>
Am F, Am G, C G F C, F<br/>
C G Am Am G - 2p.<br/>
<br/>
We could be engineers,<br/>
We could drive a coach;<br/>
Could be real New Age<br/>
With positive approach.<br/>
I wish I still could laugh,<br/>
I wish it was a joke -<br/>
But life's a sweet thing,<br/>
 F      F <br/>
Going up<br/>
     C     G    F    C<br/>
But life's a sweet thing,<br/>
 F      F<br/>
Going up<br/>
     C     G   F     C<br/>
But life's a sweet thing,<br/>
 F      F       C G Am Am G C<br/>
Going up in smoke.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:114.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="152">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
