{% extends "chords.html" %}

{% set title = "Voulez-vous coucher avec moi?" %}
{% set handbook_unid = "3c40a637fc3f0f00c32570b70033c129" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - БЕСПЕЧНЫЙ РУССКИЙ БРОДЯГА - voulez-vous coucher avec moi?<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Voulez-vous coucher avec moi?<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Am             Dm/f         E            Am <br/>
  Что-то не заснуть - а засну, всё мне снится,<br/>
Am                 Dm/f C            G  <br/>
  Что вот ещё чуть-чуть, ещё едва-едва;<br/>
F                        G                   Am<br/>
 А как проснусь - опять пить, как бы мне не спиться -<br/>
Dm/f                 E       Am Am<br/>
    Voulez-vous coucher avec moi?<br/>
<br/>
Am             Dm/f      E           Am<br/>
  Вот в руке письмо, но вижу только буквы<br/>
Am                       Dm/f C                G<br/>
  И мне не вспомнить, как они  собирались в слова<br/>
F               G C   C/h     Am<br/>
 В полной пустоте, круги на воде<br/>
Dm/f                 E        Am Am<br/>
    Voulez-vous coucher avec moi?<br/>
<br/>
Am             F        G           Am<br/>
  А я, брат, боюсь - а ты, брат, не бойся<br/>
Am             F        G         C <br/>
  Принесло дождём - унесёт по ветру<br/>
F Dm            G               Am<br/>
    А если я умру - ты не беспокойся<br/>
Dm/f               E <br/>
    Просто потерпи, станет легче к утру...<br/>
<br/>
Проигрыш: <br/>
Am Dm/f Am Am Am Dm/f C G F G C C/h Am Dm/f Dm/f E E<br/>
<br/>
Am            Dm/f         E       Am<br/>
  Ночью невтерпёж, да к утру станет ясно<br/>
Am            Dm/f C                G<br/>
  А утро не соврёт - оно всему голова<br/>
F              G                Am<br/>
 Что же я не знал, как она прекрасна...<br/>
Dm/f                E        E       Am<br/>
   Voulez-vous coucher, coucher avec moi?<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
