{% extends "chords.html" %}

{% set title = "Walzing`s for dreamers" %}
{% set handbook_unid = "86d1b5fe96065f31c325687c006c4ee5" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - Walzing's For Dreamers<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Walzing's For Dreamers</span><i><span style="color:red"> <br/>
</span>R.Thompson<br/></i>
 <br/>
Вступление:<br/>
  D Dsus4 D Dsus2 D<br/>
E-----3---2---0----<br/>
H----3------------3<br/>
G---2--------------<br/>
D-0----------------<br/>
<br/>
     D                   D <br/>
So play me a blues song turn down the light<br/>
    A      D            G                 A   Asus2<br/>
Is not a proud man can do and such you tonight<br/>
  D                    D<br/>
Please let me swing, please let me sway<br/>
            A       D            G           A Asus2<br/>
While the sweet violins and the saxophones play<br/>
 Em               A           Em          A<br/>
Miss, you don't know me, but can't we pretend<br/>
         G                             A<br/>
That we care for each other, till the band reach the end<br/>
<br/>
         D            G<br/>
And it`s one step for aching<br/>
  D             G<br/>
Two steps for breaking<br/>
 Hm               Em<br/>
Waltzing's for dreamers<br/>
     A         D<br/>
And losers in love<br/>
<br/>
One step for sighing and<br/>
Two steps for crying<br/>
Waltzing's for dreamers<br/>
And losers in love<br/>
<br/>
Проигрыш: <br/>
D Dsus2:D Dsus4:D E Esus4:E G G+c:G A7 A7sus4:A7 <br/>
D Dsus4:D E Esus4:E G G+c:G A7 A7sus4:A7<br/>
<br/>
They say love's for gamblers, and the pendulum swings<br/>
I bet hard on love and I`ve lost everything<br/>
But don't send me home now, put a shot in my arm<br/>
And we'll drink out old memories and we'll drink in the dawn<br/>
Mr. Bandleader, can't you play one more time<br/>
For I've good folding money in this pocket of mine.<br/>
<br/>
And it`s one step for aching<br/>
Two steps for breaking<br/>
Waltzing's for dreamers<br/>
And losers in love<br/>
<br/>
One step for sighing and<br/>
Two steps for crying<br/>
Waltzing's for dreamers<br/>
And losers in love<br/>
<br/>
Проигрыш: <br/>
D Dsus4:D E Esus4:E G G+c:G A7 A7sus4:A7 - 2p.<br/>
<br/>
So play me a blues song turn down the light<br/>
Is not a proud man can do and such you tonight<br/>
Please let me swing, please let me sway<br/>
While the sweet violins and the saxophones play<br/>
Miss, you don't know me, but can't we pretend<br/>
That we care for each other, till the band reach the end<br/>
<br/>
And it`s one step for aching<br/>
Two steps for breaking<br/>
Waltzing's for dreamers<br/>
And losers in love<br/>
<br/>
One step for sighing and<br/>
Two steps for crying<br/>
Waltzing's for dreamers<br/>
     A         G  G+c#:G D Dsus4:D D Dsus2:D<br/>
And losers in love<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Esus4<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G+c<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          A7sus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G+c#<br/>
  E---|---|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
