{% extends "chords.html" %}

{% set title = "Wild thing" %}
{% set handbook_unid = "a6da7c34aed8944ec325679d006aedb1" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - wild thing<br/></span>
 <br/>
<span style="color:red;text-transform:uppercase">wild thing</span><i><span style="color:red"> <br/>
</span>The Troggs<br/>
 <br/></i>
Вступление: E A H A - 4p.<br/>
<br/>
 E        A H A<br/>
Wild thing<br/>
             E        A H A<br/>
You make my heart sing<br/>
         E         A   H  A<br/>
You make everything groovy<br/>
 E        A H A<br/>
Wild thing<br/>
<br/>
E                              A <br/>
 Wild thing, I think I love you<br/>
E                     A<br/>
 I wanna know for sure<br/>
E                      A<br/>
 Come on, hold me tight<br/>
E          <br/>
 I love you<br/>
<br/>
Проигрыш: E A H A - 4p.<br/>
<br/>
Wild thing<br/>
You make my heart sing<br/>
You make everything groovy<br/>
Wild thing<br/>
<br/>
Wild thing, I think you move me<br/>
I wanna know for sure<br/>
Сome on, hold me tight<br/>
You move me<br/>
<br/>
Проигрыш: E A H A - 8p.<br/>
<br/>
Wild thing<br/>
You make my heart sing<br/>
You make everything groovy<br/>
Wild thing<br/>
<br/>
Wild thing, I think I love you<br/>
I wanna know for sure<br/>
Come on, hold me tight<br/>
I love you<br/>
<br/>
Заключение: E A H A - 11p. E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
