{% extends "chords.html" %}

{% set title = "XXII век" %}
{% set handbook_unid = "15ed4bb1b51d3dfcc3256df4006cc708" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ДРУГИЕ ВЕРСИИ ПЕСЕН - XXII век (www.aquarium.ru)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
XXII век (<i>www.aquarium.ru</i>)<br/>
</span><i>Б.Гребенщиков - А.Гуницкий<br/>
 <br/></i>
Вступление: <br/>
E Esus4 E - 4p. E E<br/>
E Esus4 E, E/f# Esus4, E Esus4 E, E/f# E, A A, E Esus4 E E Esus4 E - 2p. <br/>
C C E Esus4 E E Esus4 E - 2p.<br/>
E Esus4 E, E Esus4 E, A A<br/>
E E/f# E - 4p. E<br/>
<br/>
E                Esus4       E<br/>
 С неторопливой грацией трамвая<br/>
E                 Esus4     E<br/>
 Приходит жизнь и снова умирает<br/>
     C          D            G C G C E E/f# E E E/f# E<br/>
В событье этом нет большой беды <br/>
<br/>
В предверьи ада есть ступени рая<br/>
Мы снова строим пагоду в сарае<br/>
И осень погоняем без нужды <br/>
<br/>
Проигрыш: A A, E E/f# E, E E/f# E - 2p.<br/>
<br/>
Седым волхвам воздастся за труды<br/>
Их приютят бездонные пруды<br/>
Расположенные в краю, где нету края <br/>
<br/>
Месторожденье пусто, нет руды,<br/>
Как говорят в народе: "Подь сюды!"<br/>
    C          D          G C G C E Esus4 E E Esus4 E<br/>
Безрадостна зима в начале мая <br/>
<br/>
Заключение: <br/>
A A, E Esus4 E E Esus4 E - 2p.<br/>
Em Gm C(III) H7(II) - 2p. G C G C Em…<br/>
E E/f# E E E/f# E - 2p.<br/>
E Esus4 E E Esus4 E, A A, E Esus4 E E Esus4 E - 2p.<br/>
C C E Esus4 E E Esus4 E - 2p. <br/>
E Esus4 E - 7p. <br/>
Esus4 Em E Esus4 E Esus4 E Esus4 E Esus4 E<br/>
Esus4 Em E E/f# E E/f# E E/f# E E/f# E<br/>
E E E E E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Esus4<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          E/f#<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
x A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          H7(II)<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
