{% extends "chords.html" %}

{% set title = "You don't know how it feels" %}
{% set handbook_unid = "95e1cd8135636987c325679d006aed45" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - Неизданные англоязычные песни - You Don't Know How It Feels<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
You Don't Know How It Feels</span><span style="color:red"> <br/></span>
T.Petty<br/>
<br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: С F - 8p.<br/>
<br/>
<br/>
 C              F<br/>
Let me run with you tonight<br/>
      C             F            C F C F<br/>
I'll take you on a moonlight ride<br/>
 C            F<br/>
Someone who I used to see<br/>
  C               F         C F C F<br/>
She don't give a damn for me<br/>
<br/>
          C          F            C            F<br/>
So let’s get to the point, let's roll another joint<br/>
             C        F         C            F<br/>
And turn on down the road somewhere I gotta go<br/>
C          C/h         F<br/>
You don't know how it feels<br/>
C          C/h         F<br/>
You don't know how it feels<br/>
    C         C/h          F          F/e<br/>
No, you don't know how it feels to be me<br/>
<br/>
Проигрыш: С F - 4p.<br/>
<br/>
My old man was born to rock<br/>
He's still tryin' to beat the clock<br/>
Think of me what you will<br/>
I've got a little space to fill<br/>
<br/>
So let’s get to the point, let's roll another joint<br/>
And turn on down the road somewhere I gotta go<br/>
You don't know how it feels<br/>
You don't know how it feels<br/>
You don't know how it feels to be me<br/>
<br/>
Проигрыш: С F - 8p.<br/>
<br/>
Let me run with you tonight<br/>
I'll take you on a moonlight ride<br/>
Someone who I used to see<br/>
She don't give a damn for me<br/>
<br/>
So let’s get to the point, let's roll another joint<br/>
And turn on down the road somewhere I gotta go<br/>
You don't know how it feels<br/>
No, you don't know how it feels<br/>
You don't know how it feels to be me<br/>
<br/>
Заключение: С F - 8p. С<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/f<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
