{% extends "chords.html" %}

{% set title = "Zan (The Calling)" %}
{% set handbook_unid = "d1726580b8776f34c325679d006aedbd" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - РУССКО-АБИССИНСКИЙ ОРКЕСТР - BARDO - zan (the calling)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
zan (the calling)<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
         G#             <br/>
E------------------<br/>
H------------------ - 4p.<br/>
G----4-4-----4-4-6-<br/>
D-6-6---4-6-6------<br/>
<br/>
          G#             <br/>
E--------------------<br/>
H-------------------- <br/>
G-----4-4------4-4-6-<br/>
D-6-6-----4-6-6------<br/>
 Zan Zan Zan<br/>
Zan Zan Zan<br/>
Zan Zan Zan<br/>
<br/>
A-a-a-a-a-mo<br/>
Hi-i-i-i-ila-ya<br/>
A-a-a-a-a-mo<br/>
Hi-i-i-i-ila-ya<br/>
<br/>
A-a-a-a-a-mo<br/>
Hi-i-i-i-ila-ya<br/>
A-a-a-a-a-mo<br/>
Hi-i-i-i-ila-ya<br/>
<br/>
Проигрыш: <br/>
        G#      G#          G#<br/>
E---7-8-11--16--14--13-11---16----<br/>
H-9-------------------------------<br/>
G---------------------------------<br/>
D---------------------------------<br/>
<br/>
A-a-a-a-a-mo<br/>
Hi-i-i-i-ila-ya<br/>
A-a-a-a-a-mo<br/>
Hi-i-i-i-ila-ya<br/>
<br/>
A-a-a-a-a-mo<br/>
Hi-i-i-i-ila-ya<br/>
A-a-a-a-a-mo<br/>
Hi-i-i-i-ila-ya<br/>
<br/>
A-a-a-a-a-mo<br/>
Hi-i-i-i-ila-ya<br/>
A-a-a-a-a-mo<br/>
Hi-i-i-i-ila-ya<br/>
<br/>
Проигрыш: <br/>
  G#      G#  G#     G#  G#<br/>
E-9--8----8---9-12-9-8---4----<br/>
H------10---------------------<br/>
G-----------------------------<br/>
D-----------------------------<br/>
<br/>
A-a-a-a-a-mo<br/>
Hi-i-i-i-ila-ya<br/>
A-a-a-a-a-mo<br/>
Hi-i-i-i-ila-ya<br/>
<br/>
Заключение G# - 2p. 6:VI 5:VII<br/>
<br/>
<br/>
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/></span></b>
{% endraw %}
{% endblock %}
