{% extends "chords.html" %}

{% set title = "Zarn Hlar" %}
{% set handbook_unid = "a74b265a5294abf4c325679d006aedc0" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - РУССКО-АБИССИНСКИЙ ОРКЕСТР - BARDO - zarn hlar<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
zarn hlar<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: D5 - 3p.<br/>
<br/>
 D5<br/>
Zarn Hlar <br/>
 D5<br/>
Zarn Hlar<br/>
 Dm  Dsus4 Dsus2 Dm/f  Dm  D5<br/>
Zarn Hlar Shine Samali Ou-hau<br/>
<br/>
Zarn Hlar <br/>
Zarn Hlar<br/>
Zarn Hlar Zarn Shamali Ou-hau<br/>
<br/>
Zarn Hlar <br/>
Zarn Hlar<br/>
Zarn Hlar Zarn Shamali Ou-hau<br/>
<br/>
Zarn Hlar <br/>
Zarn Hlar<br/>
Zarn Hlar Zarn Shamali Ou-hau<br/>
<br/>
Проигрыш: Dm(V) F/d(VIII) B/a(VI) B/5-/d(V) - 2p.<br/>
<br/>
Zarn Hlar <br/>
Zarn Hlar<br/>
Zarn Hlar Zarn Shamali Ou-hau<br/>
<br/>
Zarn Hlar <br/>
Zarn Hlar<br/>
Zarn Hlar Zarn Shamali Ou-hau<br/>
<br/>
Zarn Hlar <br/>
Zarn Hlar<br/>
Zarn Hlar Zarn Shamali Ou-hau<br/>
<br/>
Zarn Hlar <br/>
Zarn Hlar<br/>
Zarn Hlar Zarn Shamali Ou-hau<br/>
<br/>
Проигрыш: Dm(V) F/d(VIII) B/a(VI) B/5-/d(V) - 2p.<br/>
<br/>
Zarn Hlar <br/>
Zarn Hlar<br/>
Zarn Hlar Zarn Shamali Ou-hau<br/>
<br/>
Zarn Hlar <br/>
Zarn Hlar<br/>
Zarn Hlar Zarn Shamali Ou-hau<br/>
<br/>
Zarn Hlar <br/>
Zarn Hlar<br/>
Zarn Hlar Zarn Shamali Ou-hau<br/>
<br/>
<span style="color:#333333">Zarn Hlar <br/>
Zarn Hlar<br/>
Zarn Hlar Zarn Shamali Ou-hau<br/></span>
 <br/>
<span style="color:gray">Zarn Hlar <br/>
Zarn Hlar<br/>
Zarn Hlar Zarn Shamali Ou-hau<br/></span>
 <br/>
<span style="color:#999999">Zarn Hlar <br/>
Zarn Hlar<br/>
Zarn Hlar Zarn Shamali Ou-hau<br/></span>
 <br/>
<span style="color:silver">Zarn Hlar <br/>
Zarn Hlar<br/>
Zarn Hlar Zarn Shamali Ou-hau<br/></span>
 <br/>
<span style="color:silver">Zarn Hlar <br/>
Zarn Hlar…<br/></span>
 <br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D5<br/>
  E---|---|---|---|-■-|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Dm(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">  VIII   F/d(VIII)<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    VI   B/a(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V   B/5-/d(V)<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
