{% extends "chords.html" %}

{% set title = "Zoom zoom zoom" %}
{% set handbook_unid = "9c3e0fdf10499e57c3256ef7003d8766" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ZOOM ZOOM ZOOM - zoom zoom zoom<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Zoom zoom zoom<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление:  C F C G – 12p.<br/>
<br/>
   Am                                    E<br/>
Мои уши не знают ничего кроме музыки рэггэй<br/>
 Am                               E<br/>
Небо и земля работают под музыку рэггэй<br/>
        Am                                  E<br/>
Никто в мире никогда не слышал этой музыки рэггэй<br/>
        Am                                            E<br/>
Но Лев Толстой писал тексты исключительно для музыки рэггэй, е!<br/>
<br/>
<br/>
Проигрыш: C F C G - 4p.<br/>
<br/>
У нас был ящик со святым, но с него сбили пломбы<br/>
А где-то внутри всё равно поёт мутант соловей<br/>
Известно, что душа имеет силу ядерной бомбы,<br/>
       Am             F                   Dm      Dm/f        G<br/>
Но вокруг неё пляшут лама, священник и раввин безнадёжных степей<br/>
<br/>
     C     F             C        G<br/>
Извиняйте дядьку, если что-то случилось<br/>
   C          G        F<br/>
О чём уже давно было спето<br/>
Dm              E             Am  F G<br/>
Это потому что зумзумзумзумзумзум.<br/>
     C        F         C        G<br/>
Все женщины знают, что ритм как Солнце<br/>
   C           G         F<br/>
А мы вокруг него как планеты.<br/>
Dm           E              Am  F G<br/>
Это ничего. Зумзумзумзумзумзум.<br/>
<br/>
<br/>
Проигрыш: C F C G - 8p.<br/>
<br/>
Боже мой, в какой же дыре живёт моё племя<br/>
Глубоко под водой, где лицом к лицу не видно в упор<br/>
Но ещё четыре года, и на часах будет новое время<br/>
 Am                      F                      Dm       Dm/f          G<br/>
Один мой знакомый - он знает, он в курсе, он сказал, что оно придёт с гор<br/>
<br/>
Извиняйте дядьку если что-то случилось<br/>
О чём уже давно было спето<br/>
Это потому что зумзумзумзумзумзум.<br/>
Все женщины знают что ритм как Солнце<br/>
А мы вокруг него как планеты<br/>
Это ничего. Зумзумзумзумзумзум. <br/>
<br/>
Извиняйте дядьку если что-то случилось<br/>
О чём уже давно было спето<br/>
Это потому что зумзумзумзумзумзум.<br/>
Все женщины знают что ритм как солнце<br/>
А мы вокруг него как планеты<br/>
Это ничего. Зумзумзумзумзумзум. <br/>
<br/>
Заключение: C F C G - 8p. C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
