{% extends "chords.html" %}

{% set title = "Аделаида" %}
{% set handbook_unid = "121335a75e75a52ac325679d006aee3b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАВНОДЕНСТВИЕ - аделаида<br/>
</span><span style="color:red"> <br/>
АДЕЛАИДА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
<span style="color:silver">Am  Em      </span><span style="color:#999999">Am   Em   </span><span style="color:gray">Am   Em</span><span style="color:silver"> </span><span style="color:gray">Am    Em   </span>Am<br/>
<span style="color:#999999">G-----------</span><span style="color:gray">-------------------</span><span style="color:#4D4D4D">2---------</span>----<br/>
<span style="color:#999999">D--------2--</span><span style="color:gray">------2---2-2--2--</span><span style="color:#4D4D4D">2---2---2--</span>----<br/>
<span style="color:#999999">A---2-2-----</span><span style="color:gray">0-0--2--------------</span><span style="color:#4D4D4D">---0-2---</span>0-0-<br/>
<span style="color:#999999">E-----------</span><span style="color:gray">-----------------------</span><span style="color:#4D4D4D">----------<br/></span>
 <br/>
Am             Em<br/>
  Ветер, туман и снег.<br/>
Am                 Em<br/>
  Мы - одни в этом доме.<br/>
C    C/h            Am<br/>
 Не бойся стука в окно - это ко мне,<br/>
F<br/>
 Это северный ветер, <br/>
Em                  <span style="color:#4D4D4D">Em/d<br/></span>
Мы у него в ладонях.<br/>
C    C/h                   Am<br/>
 Но северный ветер - мой друг,<br/>
C                    Em<br/>
 Он хранит то, что скрыто.<br/>
C       C/h<br/>
 Он сделает так,<br/>
         Am                 Em<br/>
Что небо будет свободным от туч<br/>
 F                   Dm     Em<br/>
Там, где взойдёт звезда Аделаида.<br/>
<br/>
Проигрыш: Am Em – 3p. F Em<br/>
<br/>
Я помню движение губ,<br/>
Прикосновенье руками.<br/>
C   C/h         Am            Em<br/>
 Я слышал, что время стирает всё.<br/>
Ты слышишь стук сердца - <br/>
Это коса нашла на камень.<br/>
И нет ни печали, ни зла,<br/>
Ни гордости, ни обиды.<br/>
Есть только северный ветер,<br/>
И он разбудит меня<br/>
Там, где взойдёт звезда Аделаида.<br/>
<br/>
Заключение: <br/>
G F Em<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
