{% extends "chords.html" %}

{% set title = "Акуна Матата" %}
{% set handbook_unid = "9687a1bc1876a73bc32574da006e0442" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛОШАДЬ БЕЛАЯ - акуна матата<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
акуна матата<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу <br/></i>
 <br/>
Вступление:<br/>
E---------------------------------<br/>
H---------------------------0sl4--<br/>
G----------4----------------------<br/>
D----2-4h6-6-6-4-2-4-2-5~2--------<br/>
A-2-4-----------------------3--2--<br/>
E---------------------------------<br/>
<br/>
  E               A   E<br/>
E-----------------------------------<br/>
H-0-2-5-2-0-0-2-5--2---2-5-2-0-0-2-5<br/>
G-----------------2-2-1-------------<br/>
D-----------------------------------<br/>
A-----------------------------------<br/>
E-----------------------------------<br/>
<br/>
           E F#m7 H7(II)   E  F#m7 H7(II)<br/>
Акуна матата,     Акуна матата, <br/>
E           F#m7          H7(II)         E F#m7 H7(II)  <br/>
 Самое время    говорить цитатами из Диснея<br/>
E                    E7<br/>
 Акуна матата, значит  "Всё в порядке"<br/>
A                    Am<br/>
 Нет проблемы, а если есть, то бог с нею<br/>
          E                  C#7<br/>
Но перед тем, как это судно опустится на дно<br/>
                               E---------------<br/>
F#m7          H7(II)           H-4-2-0---------<br/>
                               G------2-1-2-3-4<br/>
Я    хотел бы сказать тебе одно<br/>
<br/>
         E            F#m7     H7(II)<br/>
Акуна матата, как говорят на суахили<br/>
E                         F#m7        H7(II)<br/>
 Акуна матата, у тебя есть выбор: или - или<br/>
E        E7          A          Am<br/>
 Или радикально изменить свои пути<br/>
   E              C#7        F#m7      H7(II)<br/>
Или - что более вероятно - немедленно уйти.<br/>
<br/>
         E          F#m7          H7(II)<br/>
Акуна матата, ты не ветер, а я не флюгер<br/>
E                        F#m7             H7(II)<br/>
 Будь это сон, я бы представился: "Freddy Krueger"<br/>
E      E7        A              Am<br/>
 Но наяву всё гуманнее, чем во сне<br/>
E          C#7            F#m7     H7(II)<br/>
 Дверной проём находится в этой стороне.<br/>
<br/>
  A                Am<br/>
Всё суета сует и всяческая суета<br/>
E                      E7  <br/>
 Но даже суета бывает та или не та<br/>
       A    Am<br/>
Мне приятно делать гостям приятно,<br/>
      H7(II)<br/>
Но какая именно часть слова "уйти" тебе не понятна?<br/>
<br/>
  E             F#m7           H7(II)<br/>
Акуна матата, ни дюйма, ни сантиметра<br/>
E                   F#m7          H7(II)<br/>
 Акуна матата, baby,    попутного ветра<br/>
E       E7            A               Am<br/>
 Arrivederci, buenas noches, в добрый час<br/>
E             C#7    F#m7        H7(II)<br/>
  Мне будет приятно увидеться ещё раз.<br/>
<br/>
Заключение: <br/>
E F#m7 H7(II) E F#m7 H7(II) E E7 A Am E C#7 F#m7 H7(II) - 2p.<br/>
  E               A   E              A  E<br/>
E---------------------------------------0<br/>
H-0-2-5-2-0-0-2-5--2---2-5-2-0-0-2-5--2-0<br/>
G-----------------2-2-1--------------2--1<br/>
D---------------------------------------2<br/>
A---------------------------------------2<br/>
E---------------------------------------0<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m7<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          H7(II)<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#7<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
