{% extends "chords.html" %}

{% set title = "Алюминиевые огурцы" %}
{% set handbook_unid = "0437764f2c794a86c325732e006b6491" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - алюминивые огурцы<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
алюминиевые огурцы <br/>
</span><i>В.Цой<br/>
<br/>
Каподастр на 2-м ладу<br/>
 <br/></i>
Вступление: G Em C D - 2p.<br/>
<br/>
   G                 Em<br/>
Здравствуйте, девочки,<br/>
   C                  D<br/>
Здравствуйте, мальчики,<br/>
  G                    Em<br/>
Смотрите на меня в окно<br/>
         C                  D<br/>
И мне кидайте свои пальчики,<br/>
        G                Em        C<br/>
Ведь я сажаю алюминиевые огурцы, а-а<br/>
       D<br/>
На брезентовом поле<br/>
        G                Em        C<br/>
Ведь я сажаю алюминиевые огурцы, а-а<br/>
       D<br/>
На брезентовом поле<br/>
<br/>
Злое белое колено<br/>
Пытается меня достать,<br/>
Колом колено колет вены<br/>
В надежде тайну разгадать, зачем я<br/>
Сажаю алюминиевые огурцы, а-а<br/>
На брезентовом поле<br/>
Сажаю алюминиевые огурцы, а-а<br/>
На брезентовом поле<br/>
<br/>
Проигрыш: G Em C D - 8р.<br/>
<br/>
Три чукотских мудреца<br/>
Твердят, твердят мне без конца:<br/>
"Металл не принесет плода,<br/>
Игра не стоит свеч, а результат - труда", <br/>
Но я сажаю алюминиевые огурцы, а-а<br/>
На брезентовом поле<br/>
Я сажаю алюминиевые огурцы, а-а<br/>
На брезентовом поле<br/>
<br/>
Кнопки, скрепки, клепки,<br/>
Дырки, булки, вилки,<br/>
Здесь тракторы пройдут мои<br/>
И упадут в копилку, упадут туда, где я<br/>
Ведь я сажаю алюминиевые огурцы, а-а<br/>
На брезентовом поле<br/>
Я сажаю алюминиевые огурцы, а-а<br/>
На брезентовом поле<br/>
   G                Em        C<br/>
я сажаю алюминиевые огурцы, а-а<br/>
       D<br/>
На брезентовом поле<br/>
   G                Em        C<br/>
я сажаю алюминиевые огурцы, а-а<br/>
       D<br/>
На брезентовом поле<br/>
<br/>
Заключение: G Em C D - 12р. G<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
