{% extends "chords.html" %}

{% set title = "Альтернатива" %}
{% set handbook_unid = "8da5b4c7a5c57ae3c325679d006aedff" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАДИО АФРИКА - альтернатива<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Альтернатива<br/>
</span><i>Б. Гребенщиков</i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: C C C F G C – 2p.<br/>
<br/>
    C                       G<br/>
В моей альтернативе есть логический блок,<br/>
    F                       G C<br/>
Спасающий меня от ненужных ходов;<br/>
 C         G<br/>
Некий переносной five o’clock,<br/>
      F                          G C<br/>
Моя уверенность в том, что я не готов.<br/>
Em           F<br/>
  И когда я был начеку,<br/>
    D               Fm           G<br/>
Сигнал был подан, и выстрел был дан.<br/>
     F      Em<br/>
И меня спасло только то,<br/>
    F               G           C<br/>
Что я в тот момент был слегка пьян.<br/>
<br/>
Проигрыш: C C C F G C<br/>
<br/>
В моей альтернативе ни покрышки, ни дна;<br/>
Я правда стою, но непонятно на чём.<br/>
Все уже забыли, в чём наша вина,<br/>
А я до сих пор уверен, что мы ни при чём.<br/>
И нелепо делать вид, что я стою у руля,<br/>
Когда вокруг столько кармы - и инь, и янь;<br/>
И в самом деле, пусть всё течёт, как течёт;<br/>
Ну а я слегка пьян.<br/>
<br/>
Проигрыш: C C C F G C<br/>
C G F G C – 2p. Em F D Fm G F Em F G C F G C<br/>
<br/>
Am                   Em<br/>
  Мой друг критик сказал мне на днях,<br/>
            F        G     Am<br/>
Что мой словарный запас иссяк.<br/>
Em                  F <br/>
  Ну что же, я попытаюсь спеть <br/>
   D                       Fm                G G7<br/>
О том же самом в несколько более сложных словах;<br/>
<br/>
Я очень люблю тех, кто рядом со мной,<br/>
Но моя синхронность равна нулю.<br/>
Я радуюсь жизни, как идиот,<br/>
Вы все идёте на работу, я просто стою.<br/>
И что мне с того, что я не вписан в план,<br/>
И даже с того, что я не растаман?<br/>
Вы заняты ссорами между собой,<br/>
Ну а я слегка пьян.<br/>
<br/>
Заключение: C C C F G C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Fm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
