{% extends "chords.html" %}

{% set title = "Америка" %}
{% set extra_title = "(инструментал)" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ИНСТРУМЕНТАЛЫ - америка<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">америка<br/>
</span><i>Б.Гребенщиков<br/>
 <br/></i>
E-12--------12-----12-10-12-10-12-10--10-12-10-12-10-<br/>
H------13-10-----13----------------------------------<br/>
G----------------------------------------------------<br/>
D----------------------------------------------------<br/>
<br/>
E-8------8-----8-7-8-7-8-7--10-12-10-12-10---12-13-12-10---15---<br/>
H-----10-----10------------------------------------------13--15-<br/>
G-------9-------------------------------------------------------<br/>
D---------------------------------------------------------------<br/>
<br/>
E-12-13-15---10-12-13--12-13-12-10-12-10-8-10-8-7-8-7----12-<br/>
H----------------------------------------------------9------<br/>
G-----------------------------------------------------------<br/>
D-----------------------------------------------------------<br/>
<br/>
 Am/c      Am/c       E               E<br/>
E-12--------12-----12-10-12-10-12-10--10-12-10-12-10-<br/>
H------13-10-----13----------------------------------<br/>
G----------------------------------------------------<br/>
D----------------------------------------------------<br/>
  Am/c   Am/c    E           G               C               G<br/>
E-8------8-----8-7-8-7-8-7--10-12-10-12-10---12-13-12-10---15---<br/>
H-----10-----10------------------------------------------13--15-<br/>
G-------9-------------------------------------------------------<br/>
D---------------------------------------------------------------<br/>
  C          Dm/f      C                 Am     Am+7 E   E<br/>
E-12-13-15---10-12-13--12-13-12-10-12-10-8-10-8-7-8-7----12-<br/>
H----------------------------------------------------9------<br/>
G-----------------------------------------------------------<br/>
D-----------------------------------------------------------<br/>
<br/>
Am/c      Am/c       E               E<br/>
E-12--------12-----12-10-12-10-12-10--10-12-10-12-10-<br/>
H------13-10-----13----------------------------------<br/>
G----------------------------------------------------<br/>
D----------------------------------------------------<br/>
  Am/c   Am/c    E           G               C               G<br/>
E-8------8-----8-7-8-7-8-7--10-12-10-12-10---12-13-12-10---15---<br/>
H-----10-----10------------------------------------------13--15-<br/>
G-------9-------------------------------------------------------<br/>
D---------------------------------------------------------------<br/>
  C          Dm/f      C                 Am     Am+7 E   E<br/>
E-12-13-15---10-12-13--12-13-12-10-12-10-8-10-8-7-8-7----12-<br/>
H----------------------------------------------------9------<br/>
G-----------------------------------------------------------<br/>
D-----------------------------------------------------------<br/>
<br/>
Am/c      Am/c       E               E<br/>
E-12--------12-----12-10-12-10-12-10--10-12-10-12-10-<br/>
H------13-10-----13----------------------------------<br/>
G----------------------------------------------------<br/>
D----------------------------------------------------<br/>
  Am/c   Am/c    E           G               C               G<br/>
E-8------8-----8-7-8-7-8-7--10-12-10-12-10---12-13-12-10---15---<br/>
H-----10-----10------------------------------------------13--15-<br/>
G-------9-------------------------------------------------------<br/>
D---------------------------------------------------------------<br/>
  C          Dm/f      C                 Am     Am+7 E   E<br/>
E-12-13-15---10-12-13--12-13-12-10-12-10-8-10-8-7-8-7----12-<br/>
H----------------------------------------------------9------<br/>
G-----------------------------------------------------------<br/>
D-----------------------------------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/c<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am+7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
