{% extends "chords.html" %}

{% set title = "Анархия" %}
{% set handbook_unid = "8ee6a4af468eaa1bc32568a2005e8fca" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - анархия<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
анархия <br/>
</span><i>В.Цой<br/>
<br/>
One, two, three, four!<br/>
<br/>
Каподастр на 2-м ладу<br/>
 <br/></i>
Вступление: C Am F G - 4p.<br/>
<i> <br/></i>
    C                 Am<br/>
Солдат шел по улице домой <br/>
    F    G       C<br/>
И увидел этих ребят. <br/>
   C               Am<br/>
"Кто ваша мама, ребята?" - <br/>
     F       G      C<br/>
Спросил у ребят солдат. <br/>
<br/>
 Am      Em<br/>
Мама - Анархия, <br/>
 F         G<br/>
Папа - стакан портвейна. <br/>
Am      Em<br/>
Мама - Анархия, <br/>
 F         G<br/>
Папа - стакан портвейна.<br/>
<br/>
Проигрыш: C Am F G - 2p.<br/>
<br/>
Все они в кожаных куртках, <br/>
Все небольшого роста, <br/>
Хотел солдат пройти мимо, <br/>
Но это было не просто. <br/>
<br/>
Мама - Анархия, <br/>
Папа - стакан портвейна. <br/>
Мама - Анархия, <br/>
Папа - стакан портвейна.<br/>
<br/>
Проигрыш: C Am F G - 2p.<br/>
C Am F G C - 2p.<br/>
<br/>
Мама - Анархия, <br/>
Папа - стакан портвейна. <br/>
Мама - Анархия, <br/>
Папа - стакан портвейна.<br/>
<br/>
Проигрыш: C Am F G - 2p.<br/>
<br/>
Довольно веселую шутку <br/>
Сыграли с солдатом ребята: <br/>
Раскрасили красным и синим, <br/>
Заставляли ругаться матом. <br/>
<br/>
Мама - Анархия, <br/>
Папа - стакан портвейна. <br/>
Мама - Анархия, <br/>
Папа - стакан портвейна.<br/>
<br/>
Мама - Анархия, <br/>
Папа - стакан портвейна. <br/>
Мама - Анархия, <br/>
 F         G           C<br/>
Папа - стакан портвейна.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
