{% extends "chords.html" %}

{% set title = "Ангел всенародного похмелья" %}
{% set handbook_unid = "34ba427c4e5d312ac325679d006af249" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ФЕОДАЛИЗМ - ангел всенародного похмелья<br/>
</span><span style="color:red"> <br/>
АНГЕЛ ВСЕНАРОДНОГО ПОХМЕЛЬЯ<br/>
</span><i>Б. Гребенщиков<br/>
 <br/></i>
Вступление: С С <br/>
<br/>
         C      G       C<br/>
Уже прошло седьмое ноября,<br/>
        A7              Dm<br/>
Утихли звуки шумного веселья.<br/>
            F          G                C    C/b    A7<br/>
Но кто-то движется кругами, всё вокруг там, где стою я;<br/>
            Dm                      G<br/>
Должно быть, ангел всенародного похмелья.<br/>
<br/>
Крыла висят, как мокрые усы,<br/>
И веет чем-то кисло и тоскливо.<br/>
Но громко бьют на главной башне позолочённые часы,<br/>
    Dm          G           F G<br/>
И граждане страны желают пива.<br/>
<br/>
Проигрыш: C G C A7 Dm F G C C/b A7 Dm G<br/>
<br/>
Бывает так, что нечего сказать,<br/>
Действительность бескрыла и помята.<br/>
И невозможно сделать шаг или хотя бы просто встать,<br/>
    Dm                        G G7<br/>
И все мы беззащитны, как котята;<br/>
<br/>
И рвётся враг подсыпать в водку яд,<br/>
Разрушить нам застолье и постелье.<br/>
Но кто-то вьётся над страной, благословляя всех подряд -<br/>
           Dm          G          F    G C<br/>
Хранит нас ангел всенародного похмелья.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/b<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
