{% extends "chords.html" %}

{% set title = "Ангел" %}
{% set handbook_unid = "915e97cc8de5673ac325679d006af318" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ФЕОДАЛИЗМ - ангел<br/>
</span><span style="color:red"> <br/>
АНГЕЛ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: C Am - 2p.<br/>
<br/>
C                Am     F                    C <br/>
 Я связан с ней цепью, цепью неизвестной длины.<br/>
C             Am             F                Em       <br/>
 Мы спим в одной постели по разные стороны стены.<br/>
C           G                 C     C/h Am      F<br/>
 И всё замечательно ясно, но что в том небесам?<br/>
F                      Em              F        G        C<br/>
 И каждый умрёт только той смертью, которую найдёт себе сам.<br/>
<br/>
Проигрыш: C Am - 2p.<br/>
<br/>
У неё свои демоны, и свои соловьи за спиной,<br/>
И каждый из них был причиной, по которой она не со мной.<br/>
Но под медленным взглядом икон в сердце, сыром от дождя,<br/>
Я понял, что я невиновен, а значит, что я не судья.<br/>
<br/>
Проигрыш: C Am - 2p.<br/>
<br/>
Так сделай мне ангела, и я покажу тебе твердь.<br/>
Покажи мне счастливых людей, и я покажу тебе смерть.<br/>
Поведай мне чудо побега из этой тюрьмы,<br/>
И я скажу, что того, что есть у нас, хватило бы для больших, чем мы.<br/>
<br/>
Проигрыш: C Am - 2p.<br/>
<br/>
Я связан с ней цепью, цепью неизвестной длины,<br/>
Я связан с ней церковью, церковью любви и войны.<br/>
А небо становится ближе, так близко, что больно глазам;<br/>
И в итоге каждый умрёт той смертью, которую придумает сам.<br/>
<br/>
Заключение: C Am - 2p. C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
