{% extends "chords.html" %}

{% set title = "Артур" %}
{% set handbook_unid = "4c3e7e41b2d55dc2c325679d006aed57" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЭЛЕКТРИЧЕСТВО - артур<br/>
</span><span style="color:red"> <br/>
АРТУР<br/>
</span><i>Б. Гребенщиков, А. Романов - T. Mallory<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
Am                  Em                Am        Em<br/>
E-0-2-3-5-7-8-10-12-14-10-12-8-10-7-8-7-5-3-5-5-3-<br/>
H-------------------------------------------------<br/>
G-------------------------------------------------<br/>
Am                  Em                Am        Em<br/>
E-0-2-3-5-7-8-10-12-14-10-12-8-10-7-8-7-5-3-5-5-3-<br/>
H-------------------------------------------------<br/>
G-------------------------------------------------<br/>
        Am  Em  Am Em      Am  Em  Dm Em<br/>
E-10-10-10-8--7-3----10-10-10-8--7-1--0-12-<br/>
H------------------------------------------<br/>
G------------------------------------------<br/>
<br/>
Am                         Em<br/>
  Of Lancelot du Lake tell I no more<br/>
                      Am           Em<br/>
But these by leave these eremites seven.<br/>
Am                             Em<br/>
  And still King Arthur lieth there,<br/>
                    Am       Em <br/>
And Queen Guenever, as I you newyn.<br/>
    Am                Em<br/>
And monkeys that are right of lore<br/>
    Am                  Em<br/>
Who sing with mounded stewyn<br/>
  Am                Em<br/>
Ihesu, who hath woundes sore,<br/>
      Dm            Em<br/>
Grant us the joy of Heaven.<br/>
<br/>
Проигрыш: <br/>
Am                  Em                Am        Em<br/>
E-0-2-3-5-7-8-10-12-14-10-12-8-10-7-8-7-5-3-5-5-3-<br/>
H-------------------------------------------------<br/>
G-------------------------------------------------<br/>
Am                  Em                Am        Em<br/>
E-0-2-3-5-7-8-10-12-14-10-12-8-10-7-8-7-5-3-5-5-3-<br/>
H-------------------------------------------------<br/>
G-------------------------------------------------<br/>
<br/>
    Am               Em<br/>
And monkeys that are right of lore<br/>
     Am                 Em<br/>
Who sing with mounded stewyn<br/>
  Am             Em<br/>
Ihesu, who hath woundes sore,<br/>
      Dm            Em<br/>
Grant us the joy of Heaven<br/>
<br/>
Заключение:<br/>
Am                  Em                Am        Em<br/>
E-0-2-3-5-7-8-10-12-14-10-12-8-10-7-8-7-5-3-5-5-3-<br/>
H-------------------------------------------------<br/>
G-------------------------------------------------<br/>
Am                  Em                Am        Em<br/>
E-0-2-3-5-7-8-10-12-14-10-12-8-10-7-8-7-5-3-5-5-3-<br/>
H-------------------------------------------------<br/>
G-------------------------------------------------<br/>
        Am  Em  Am Em      Am  Em  Dm Em<br/>
E-10-10-10-8--7-3----10-10-10-8--7-1--0-<br/>
H---------------------------------------<br/>
G---------------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
