{% extends "chords.html" %}

{% set title = "Аригато" %}
{% set handbook_unid = "d36538b5c13941b5c325722800385c0b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛОШАДЬ БЕЛАЯ - аригато<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
аригато<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу <br/></i>
 <br/>
Вступление: <br/>
E------------------------------------------------------------------<br/>
H--------3-3-3-5-3--------3-3-3-5-3--------3-3-3-5-3--------3-----3<br/>
G-0-0-2-4----------0-0-2-4----------0-0-2-4----------0-0-2-4-4-4-5-<br/>
D------------------------------------------------------------------<br/>
A------------------------------------------------------------------<br/>
E------------------------------------------------------------------<br/>
<br/>
  C        G          D          G  G7 <br/>
E----3-3-2-0---2-2-0------------------<br/>
H-5---------3-------3-1--1-1-0-------3<br/>
G------------------------------2-4-5--<br/>
D-------------------------------------<br/>
A-------------------------------------<br/>
E-------------------------------------<br/>
<br/>
         C         G         D          G    G<br/>
E-----------3-3-2-0---2-2-0-------------------<br/>
H------3-5---------3-------3-1--1-1-0---------<br/>
G-4-4-5-------------------------------2-4--2-0<br/>
D---------------------------------------------<br/>
A---------------------------------------------<br/>
E---------------------------------------------<br/>
<br/>
   <span style="color:gray">C+g</span>      G       <span style="color:gray">C+g</span>       G<br/>
Девяносто дней и девяносто ночей<br/>
<span style="color:gray">C+g</span>     G                    <span style="color:gray">C+g</span>       G<br/>
   Голова чересчур тяжела для этих плечей<br/>
<span style="color:gray">C+g</span>         G       <span style="color:gray">C+g</span>              G<br/>
Набраться смелости, сказать себе: "Стоп!"<br/>
    G<br/>
Ты можешь аплодировать одной рукой<br/>
           G7<br/>
Вот так - хоп-хоп-хоп!<br/>
      C           C<br/>
Аригато, мама-сан,<br/>
                  G<span style="color:gray"> C+g</span> G<br/>
Никто, нигде и ничей<br/>
          D   D<span style="color:gray">(7)</span> <br/>
Весенний ветер,<br/>
                              G G7<br/>
Девяносто дней и девяносто ночей<br/>
      C          C<br/>
Аригато, мама-сан,<br/>
                  G<span style="color:gray"> C+g</span> G<br/>
Никто, нигде и ничей<br/>
          D   D<span style="color:gray">(7)</span>  <br/>
Весенний ветер,<br/>
                              G<span style="color:gray"> C+g</span> G<br/>
Девяносто дней и девяносто ночей<br/>
<br/>
Я хотел слышать музыку, и вот я здесь во плоти<br/>
Остановите электричку, мне нужно сойти<br/>
На полустанке, средь бескрайних полей<br/>
Забросить телефон за плечо <br/>
И скать себе: "Хей-хей-хей!" <br/>
Аригато, мама-сан,<br/>
Никто, нигде и ничей<br/>
Весенний ветер,<br/>
Девяносто дней и девяносто ночей<br/>
Аригато, мама-сан,<br/>
Никто, нигде и ничей<br/>
Весенний ветер,<br/>
Девяносто дней и девяносто ночей<br/>
<br/>
Проигрыш: <span style="color:gray">C+g</span> G <span style="color:gray">C+g</span> G <span style="color:gray">C+g</span> G <span style="color:gray">C+g</span> G<span style="color:gray"> C+g</span> G <span style="color:gray">C+g</span> G G G7<br/>
C C G<span style="color:gray"> C+g</span> G D D<span style="color:gray">(7)</span> G<span style="color:gray"> C+g</span> G E-18~~~~~~~<br/>
C C G<span style="color:gray"> C+g</span> G D D<span style="color:gray">(7)</span> G<span style="color:gray"> C+g</span> G<br/>
<br/>
Я был запутанный в ветках, жил буксуя в слезах<br/>
Но линия горизонта в моих глазах <br/>
Благо династий, ай, гори-полыхай<br/>
Я иду с деревянным клинком<br/>
Я скажу тебе: "Хай-хай-хай!" <br/>
Аригато, мама-сан,<br/>
Никто, нигде и ничей<br/>
Весенний ветер,<br/>
Девяносто дней и девяносто ночей<br/>
Аригато, мама-сан,<br/>
Никто, нигде и ничей<br/>
Весенний ветер,<br/>
                             Em G C A7<br/>
Девяносто дней и девяносто ночей<br/>
            G<br/>
Весенний ветер,<br/>
       D                                   G<span style="color:gray"> C+g</span> G <br/>
Сорок раз по девяносто дней и девяносто ночей<br/>
<br/>
Заключение: <br/>
         C         G         D          G  G7<br/>
E-----------3-3-2-0---2-2-0------------------<br/>
H------3-5---------3-------3-1--1-1-0------3-<br/>
G-4-4-5-------------------------------2-4-5-- - 3p.<br/>
D--------------------------------------------<br/>
A--------------------------------------------<br/>
E--------------------------------------------<br/>
<br/>
         C         G         D          G G G <br/>
E-----------3-3-2-0---2-2-0------------------<br/>
H------3-5---------3-------3-1--5-5-3-1-0-0-0<br/>
G-4-4-5--------------------------------------<br/>
D--------------------------------------------<br/>
A--------------------------------------------<br/>
E--------------------------------------------<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
