{% extends "chords.html" %}

{% set title = "Аристократ" %}
{% set handbook_unid = "2cd7ef6413be3189c325679d006af0c0" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ТАБУ - аристократ<br/>
</span><span style="color:red"> <br/>
АРИСТОКРАТ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Нгадла…<br/></i>
 <br/>
Вступление: G <span style="color:gray">C D</span> – 8p.<br/>
<br/>
         G                 <span style="color:gray">C   D</span>                           <br/>
О, они идут на зёленый свет;<br/>
<span style="color:gray">         </span>G<span style="color:gray">                 C   D                 <br/></span>
О, они идут на зелёный свет;<br/>
         C           D          <br/>
Они не скажут им "нет",<br/>
           Em               C  D<br/>
Когда они идут на зелёный свет.<br/>
          G           <span style="color:gray">C  D</span>           <br/>
Я мог бы дать им совет,<br/>
           G          <span style="color:gray">C  D</span>            <br/>
Дать им досужий совет,<br/>
         C                     D<br/>
Но они знают, где масло, где хлеб,<br/>
            Em              C  D<br/>
Когда они идут на зелёный свет.<br/>
<br/>
              G              <span style="color:gray">C  D<br/></span>
А я сижу на крыше и я очень рад,<br/>
            G               <span style="color:gray">C  D<br/></span>
Я сижу на крыше, и я очень рад,<br/>
                C                 D<br/>
Потребляю сенсимилья, как аристократ;<br/>
              Em  C D<br/>
Я сижу на крыше... <br/>
<br/>
Я сижу на крыше, и я очень рад,<br/>
Я сижу на крыше, и я очень рад,<br/>
Потребляю сенсимилья, как аристократ;<br/>
Я сижу на крыше... <br/>
<br/>
Я не вижу смысла скандалить со мной,<br/>
Я не вижу смысла ругаться со мной,<br/>
Я не вижу смысла даже ссориться со мной,<br/>
Ты можешь ругаться со своей женой; <br/>
Ты можешь ругаться со своей женой,<br/>
Ты можешь скандалить со своей женой.<br/>
А у меня есть свой собственный хой,<br/>
Я не вижу смысла скандалить со мной.<br/>
<br/>
И я сижу на крыше, и я очень рад,<br/>
Я сижу на крыше, и я очень рад,<br/>
Потребляю сенсимилья, как аристократ;<br/>
Я сижу на крыше...  <br/>
<br/>
Я сижу на крыше, и я очень рад,<br/>
Я сижу на крыше, и я искренне рад,<br/>
Потребляю сенсимилья, как аристократ;<br/>
Я сижу на крыше... <br/>
<br/>
G <span style="color:gray">C D</span> G    <span style="color:gray">C      D</span>  C D         Em  C D<br/>
     Хой,хой,хой,хой!  Сенсемилья <br/>
G <span style="color:gray">C    D</span>  G   <span style="color:gray">C    D</span>  C  D  Em C  D <br/>
 Робо-даб изым-скизым кайа   анья<br/>
      G         <span style="color:gray">C D</span>     G       <span style="color:gray">C  D<br/></span>
Сенсемилья - Хой! Сенсемилья - Хой!<br/>
      C       D         Em      C   D<br/>
Сенсемилья - Хой! Сенсемилья – Хой!<br/>
<br/>
Проигрыш: G <span style="color:gray">C D</span>
G <span style="color:gray">C D</span>
C D Em C D <br/>
<br/>
G <span style="color:gray">C  D</span>                G <span style="color:gray">C D</span>             C D Em C D<br/>
      У меня есть хой!     У тебя есть хой!    Нгадла…<br/>
<br/>
Заключение: G <span style="color:gray">C D</span>
G <span style="color:gray">C D</span>
C D Em C D – 6p. <span style="color:#5F5F5F">G </span><span style="color:gray">C D</span> <span style="color:gray">G</span> <span style="color:gray">C </span><span style="color:#969696">D</span> <span style="color:#999999">C </span><span style="color:#B2B2B2">D Em</span><span style="color:#969696"> </span><span style="color:darkgray">C</span><span style="color:#969696"> </span><span style="color:silver">D</span> <span style="color:#DDDDDD">G<br/>
<br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
