{% extends "chords.html" %}

{% set title = "Афанасий Никитин буги (Хождение за три моря-2)" %}
{% set handbook_unid = "b6733860c97cfa86c325679d006af06f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - БЕСПЕЧНЫЙ РУССКИЙ БРОДЯГА - афанасий никитин буги или хождение за три моря 2<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
</span><span style="color:red">АФАНАСИЙ НИКИТИН БУГИ ИЛИ ХОЖДЕНИЕ ЗА ТРИ МОРЯ 2<br/>
</span><i>Б. Гребенщиков<br/>
 <br/></i>
Вступление: C(III) – 16p.<br/>
<br/>
     C(III)<br/>
Мы съехали с Макдугал в середине зимы<br/>
        C(III)<br/>
Моя подруга из Тольятти, я сам из Костромы<br/>
       F<br/>
Мы бы дожили до лета, а там секир-башка<br/>
         C(III)<br/>
Но в кокаине было восемь к трём зубного порошка<br/>
             G(III)<br/>
Пришлось нам ехать через люк при свете косяка<br/>
       C(III)<br/>
Она решила ехать в Мекку. Я сказал - Пока<br/>
<br/>
Проигрыш: C(III) - 4p.<br/>
<br/>
Не помню, как это случилось, чей ветер дул мне в рот<br/>
Я шёл по следу Кастанеды - попал в торговый флот<br/>
Где все матросы носят юбки, у юнги нож во рту<br/>
И тут мы встали под погрузку в Улан-Баторском порту<br/>
Я сразу кинулся в дацан - хочу уйти в ритрит<br/>
А мне навстречу Лагерфельд, гляжу - а мы на Оксфорд-стрит<br/>
<br/>
Проигрыш: C(III) - 4p.<br/>
<br/>
Со мной наш боцман Паша, вот, кто держит фасон<br/>
На нём пиджак от Ямамото, штаны Ком Де Гарсон<br/>
И тут вбегает эта женщина с картины Моне<br/>
Кричит - у нас четыре третьих, быстро едем все ко мне<br/>
У них нет денег на такси, пришлось продать пальто<br/>
Клянусь, такого в Костроме ещё не видел никто<br/>
<br/>
Проигрыш: C(III) - 8p. C(III)  C(III) C(III) C(III) C(III) C(III) C(III) <br/>
C(III) - 6p.<br/>
<br/>
Вначале было весело, потом спустился сплин,<br/>
Когда мы слизывали слизь у этих ящериц со спин<br/>
В квартире не было прохода от языческих святынь<br/>
Я перевёл все песни Цоя с урду на латынь<br/>
Когда я допил всё, что было у них меж оконных рам<br/>
Я сел на первый сабвэй в Тируванантапурам<br/>
<br/>
Проигрыш: C(III) - 4p.<br/>
<br/>
И вот мы мчимся по пустыне, поезд блеет и скрипит,<br/>
И нас везёт по тусклым звездам старый блюзмен-транвестит<br/>
Кругом творится чёрте что - то дальше, то вблизи<br/>
То ли пляски сталеваров, то ли женский бой в грязи <br/>
Когда со мной случился двадцать пятый нервный срыв<br/>
Я бросил ноги в Катманду через Большой Барьерный Риф<br/>
<br/>
Проигрыш: C(III) - 4p.<br/>
<br/>
И вот я семь недель не брился, восемь суток ел грибы<br/>
Я стал похож на человека героической судьбы<br/>
Шаманы с докторами спорят, как я мог остаться жив<br/>
Но я выучил суахили, сменил культурный миф<br/>
Когда в село войдут пришельцы, я их брошу в тюрьму<br/>
Нам русским за границей иностранцы ни к чему.<br/>
<br/>
Заключение: C(III) - 8p. С <br/>
<span style="color:#999999">Gm F Dm<br/></span>
 <br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
