{% extends "chords.html" %}

{% set title = "Башня" %}
{% set handbook_unid = "4301fe20c9d493bec325679d006af11a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - башня<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Башня<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
        A*<br/>
E-----------------<br/>
H-2-2-2-2-2-2-2-2-<br/>
G-2-2-2-2-2-2-2-2- - 8p.<br/>
D-2-6-5-4-2-4-5-6-<br/>
A-0-0-0-0-0-0-0-0-<br/>
E-----------------<br/>
<br/>
    A*<br/>
По-моему, я не помню где я,<br/>
    A*<br/>
По-моему, я не помню где был,<br/>
    A*<br/>
Я знал точно, что не нужно пить много,<br/>
        A7 <br/>
Но, по-моему, я об этом забыл.<br/>
             D9<br/>
Я падок на упадок,<br/>
                     A* A*<br/>
И мне уже не до мелочей.<br/>
E7<br/>
  Эй, разом, скажем "До свиданья" башням<br/>
E7                  A*  A*<br/>
  В одну из этих ночей.<br/>
<br/>
Наверно, это разные вещи,<br/>
Наверно, им не стоит мешать,<br/>
Но, может быть, я - молодой Менделеев<br/>
И кто сумеет мне помешать?<br/>
Я падок на упадок,<br/>
Мне уже не до мелочей.<br/>
Эй-эй, ну-ка скажем "До свиданья" башням<br/>
В одну из этих ночей.<br/>
<br/>
Проигрыш: A* A* A* A7 D9 D9 A* A* E7 E7 A* A*<br/>
<br/>
Пока что мир весел и сладок,<br/>
Пока что я здесь, ну так жди.<br/>
Спроси себя: зачем этот бронепоезд<br/>
До сих пор на запасном пути?<br/>
Но пока что, я падок.<br/>
В моем кармане много ключей.<br/>
Эй, дети, но мы скажем "До свиданья" башням<br/>
В одну из этих ночей. <br/>
<br/>
Заключение: A* A* A* A7 D9 D9 A* A* E7 E7 A* A* - 2p. A<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D9<br/>
  E---|---|---|---|-■-|<br/>
  H---|---|---|---|-■-|<br/>
  G---|---|---|---|-■-|<br/>
  D---|---|---|-■-|---|<br/>
  A---|---|---|---|-■-|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
