{% extends "chords.html" %}

{% set title = "Бабушки" %}
{% set handbook_unid = "168a9be294968ea3c325679d006af333" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ФЕОДАЛИЗМ - бабушки<br/>
</span><span style="color:red"> <br/>
БАБУШКИ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: G(III) F Em F - 8p. <br/>
<br/>
G(III)       F          Em       F<br/>
   Я шёл в Красной Шапке, я шёл петь песни<br/>
G(III)  F         Em       F<br/>
   Шёл петь песни, что-то делать после<br/>
G(III)     F        Em        F<br/>
   Я подходил к дому, увидел волчий след<br/>
G(III)    F         Em         F<br/>
   И я решил что, наверное, у нас гости<br/>
<br/>
Много бабушек и на каждой галстук<br/>
Ах, бабушки, зачем вам такие уши<br/>
Ах, бабушки, зачем вам такие зубы <br/>
Спасибо бабушки за то, что вы пришли слушать<br/>
<br/>
Здравствуй бабушка, твой прицел верен<br/>
Здравствуй бабушка, твой взгляд гасит пламя<br/>
Здравствуй бабушка, ты всегда у двери<br/>
Но кто сказал тебе, что ты вправе править нами<br/>
<br/>
Проигрыш: G(III) F Em F - 4p.<br/>
<br/>
Наша жизнь проста, но в ней есть что-то<br/>
Непонятное, как голова на блюде.<br/>
Почему игра всегда в одни ворота,<br/>
И почему в поле так много судей.<br/>
<br/>
Ты лучше спой для нас, а мы тебе спляшем<br/>
Пиши, милая, а мы почитаем<br/>
Скажите, бабушки, всем подружкам вашим<br/>
Что мы ночей не спим и всё о них мечтаем<br/>
<br/>
Ах, бабушка, твой прицел верен<br/>
Ах, бабушка, твой взгляд гасит пламя<br/>
Ах, бабушка, ты всегда у двери<br/>
Но кто сказал тебе, что ты вправе править нами<br/>
<br/>
Проигрыш: G(III) F Em F - 4p.<br/>
<br/>
Мы соберём денег, мы купим белой ткани<br/>
Сошьём платочков, каких кто пожелает<br/>
Простите, бабушки, но скоро придёт охотник<br/>
Не ровен час он вас не признает<br/>
<br/>
Простите, милые, но вы надоели<br/>
Найдите лучше место и займитесь делом<br/>
И мы утрём слезу и мы вздохнём тихо<br/>
И мы помашем вслед платочком нашим белым<br/>
<br/>
Прощайте, бабушки, ваш прицел был верен<br/>
Прощайте, бабушки, ваш взгляд гасил пламя<br/>
Прощайте, бабушки, были вы у двери<br/>
Но кто сказал вам, что вы вправе править нами<br/>
<br/>
Проигрыш: G(III) F Em F - 4p.<br/>
<br/>
G(III)  F     Em           F<br/>
  Стая бабушек летит в ночном небе<br/>
G(III)     F    Em   D<br/>
   Летите, милые, летите<br/>
G(III)   F    Em         F<br/>
  Стая бабушек летит в ночном небе<br/>
G(III)      F    Em  D<br/>
   Летите, милые, летите<br/>
G(III)   F     Em           F<br/>
   Стая бабушек летит в ночном небе<br/>
G(III)     Em   C  D G(III)<br/>
   Летите, милые... <br/>
<br/>
<i><span style="color:silver">Такая</span> <span style="color:#333333">детская песня…<br/></span></i>
 <br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
