{% extends "chords.html" %}

{% set title = "Береги свой хой" %}
{% set handbook_unid = "a7bf0f00c8ccc44ac325679d006af19b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ТАБУ - береги свой хой<br/>
</span><span style="color:red"> <br/>
БЕРЕГИ СВОЙ ХОЙ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 1-м ладу<br/></i>
 <br/>
Вступление: E/h E6 E/d D A7 – 8p.<br/>
<br/>
              E<br/>
Смотри, кто движется навстречу, идёт как во сне:<br/>
   E<br/>
Колибри в зоопарке, орхидея в дерьме;<br/>
 E<br/>
Чёрные алмазы и птичьи меха,<br/>
      E                     E7<br/>
Она умеет так немного, но в этом дока.<br/>
<br/>
  A7<br/>
Она так умна, она так тонка,<br/>
       E<br/>
Она читала всё, что нужно, это наверняка;<br/>
       D                                   H7<br/>
Она выходит на охоту, одетая в цветные шелка...<br/>
             E/h E6 E/d D A7        <br/>
Береги свой хой. <br/>
<br/>
Проигрыш: E/h E6 E/d D A7 – 3p.<br/>
<br/>
Её квартира в самом центре, окнами в сад;<br/>
Она выходит каждый вечер, чтобы радовать взгляд.<br/>
Котята на цепочках, мужья на крючках;<br/>
Она прекрасный стрелок, за сто шагов в пах;<br/>
<br/>
Но она так умна, она так тонка,<br/>
Она читала всё, что нужно, это наверняка;<br/>
Она выходит на охоту, одетая в цветные шелка;<br/>
Береги свой…<br/>
<br/>
Проигрыш: E/h E6 E/d D A7 – 7p.<br/>
<br/>
Она так умна, она так тонка,<br/>
Она читала всё, что нужно, это наверняка;<br/>
     D                                     H7<br/>
Она выходит на охоту, одетая в цветные шелка... <br/>
<br/>
Она так умна, она так тонка,<br/>
Она читала всё, что нужно, это наверняка;<br/>
Она выходит на охоту, одетая в цветные шелка...<br/>
Береги свой…<br/>
<br/>
Заключение: E/h E6 E/d D A7 – 7р. E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E/h<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E6<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E/d<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
