{% extends "chords.html" %}

{% set title = "Блюз НТР" %}
{% set handbook_unid = "35443263064cfe7dc325679d006af2af" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ДОИСТОРИЧЕСКИЕ ПЕСНИ - С ТОЙ СТОРОНЫ ЗЕРКАЛЬНОГО СТЕКЛА - блюз НТР<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
блюз нтр <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Раз, два... Раз, два, три, четыре...<br/></i>
 <br/>
              G*<br/>
G-----------------------------<br/>
D-------0-0-2-2-3-3-2-2-0-0---<br/>
A----2-2-------------------2-2<br/>
E-3-3-------------------------<br/>
  Я инженер<br/>
                  G*<br/>
Со стрессом в груди,<br/>
    G*<br/>
Вершу НТР<br/>
               G* G7<br/>
С девяти до пяти.<br/>
    C             Cm(III)<br/>
Но белый дракон сказал мне,<br/>
  G(III)    G(III) F# F  E<br/>
В дверь подсознанья  войдя,<br/>
      A         Сm(III)             <br/>
Что граф Диффузор забил в стену гвоздь,<br/>
  D                      Dsus2<br/>
И я - лишь отзвук гвоздя... <br/>
<br/>
Сказал и ушел,<br/>
Дверь затворив.<br/>
Как хорошо,<br/>
Что дракон - это миф;<br/>
Но тот, кто явился после,<br/>
Был совсем ни на что  не  похож,<br/>
Его биоритм не лез в алгоритм,<br/>
Он съел мой кухонный нож;  <br/>
<br/>
   C<br/>
Сказал я: "Послушай,<br/>
   Cm(III)<br/>
Мне завтра на службу,<br/>
   E<br/>
А ты мне мешаешь спать"<br/>
   F#<br/>
А он мне ответил:<br/>
      F#<br/>
"Ты слышишь, как ветер<br/>
    D<br/>
Танцует с Роулдр Паа?"<br/>
<br/>
Проигрыш: G* - 4p. G7<br/>
C Cm(III), G(III) G(III) F# F E,<br/>
A Cm(III), D Dsus2<br/>
<br/>
Такого мой стресс<br/>
Вынесть не мог.<br/>
И дверь подсознанья решил я<br/>
Закрыть на замок.<br/>
Но дверь закрываться не хочет,<br/>
Я бьюсь и, в конце  концов,<br/>
Ломаю об угол добытое в муках<br/>
      D<br/>
Пластмассовое лицо... <br/>
<br/>
Куда инженеру<br/>
В век НТРа<br/>
   D                    C G<br/>
Идти с натуральным лицом?<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Cm(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|-■-|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
