{% extends "chords.html" %}

{% set title = "Блюз твоей реки" %}
{% set handbook_unid = "724b525dc5dcf73dc3256a4800610ca5" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЧУЖИЕ ПЕСНИ - блюз твоей реки<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
блюз твоей реки <br/>
</span><i>М.Науменко<br/></i>
 <br/>
         A              A7<br/>
И я всю жизнь бежал под этим дождём,<br/>
   E       D        E<br/>
Забыв завязать шнурки.<br/>
       A               A7<br/>
И я тонул и тонул в зыбучих песках,<br/>
       E          D          C#7 C7(III)<br/>
Все дороги были слишком близки.<br/>
          H7<br/>
Но как-то утром я проснулся<br/>
    A              E 5:0 5:I H7<br/>
На берегу твоей реки.<br/>
<br/>
Твоя вода так спокойна, так холодна,<br/>
И берега, как райский сад.<br/>
Твоя река так чиста и так глубока,<br/>
Но я знаю, где-то есть водопад<br/>
   H7                    A<br/>
Однажды я заснул под этим странным небом,<br/>
    E                 5:0 5:I H7<br/>
Я уже не вернусь назад.<br/>
<br/>
Проигрыш: <br/>
A A7 E7 E7, A A7 E7 E7, H7 A7 E7 5:0 5:I H7 - 2p.<br/>
<br/>
Позволь мне бросить якорь на твоей реке,<br/>
Но здесь нельзя бросать якорей.<br/>
А мне так нужна твоя река,<br/>
Поверь, я так устал от моей<br/>
      H7           A<br/>
И, хотя я не знаю ласковых слов,<br/>
     E                 5:0 5:I H7<br/>
Но всё же я скажу тебе, хэй-хей.<br/>
<br/>
Заключение: <br/>
A A7 E7 E7, A A7 E7 E7, H7 A7 E7 5:0 5:I H7 <br/>
A A7 E7 E7, A A7 E7 E7, H7 A7 E7 E7<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#7<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C7(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
