{% extends "chords.html" %}

{% set title = "Блюз свиньи в ушах" %}
{% set handbook_unid = "bafbb9c01c6558c5c325679d006aefa3" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ДОИСТОРИЧЕСКИЕ ПЕСНИ - С ТОЙ СТОРОНЫ ЗЕРКАЛЬНОГО СТЕКЛА - блюз свиньи в ушах<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
блюз свиньи в ушах <br/>
</span><i>Б.Гребенщиков - А.Гуницкий<br/></i>
 <br/>
   A          E<br/>
... я вверх упал,<br/>
       G<br/>
В то время как зеленый бог<br/>
      A                  E  H<br/>
В мерцании веков cебя искал.<br/>
<br/>
    E                 E<br/>
Вернулся я домой, и труп любимый мой<br/>
     E                           E7<br/>
Спросил меня: "Что делал ты, когда ты был живой?"<br/>
           A                E<br/>
Я знал секрет: мой брат скелет<br/>
     G<br/>
Признался мне однажды,<br/>
        A                   E  H<br/>
Что давно уже его на свете нет.<br/>
<br/>
Проигрыш: E E E E7 A A E E G A E H<br/>
<br/>
     E               E<br/>
Вы слышите меня, в ушах у вас свинья;<br/>
    E                    E7<br/>
Вы не поймете, для чего пою вам это я;<br/>
            A             E<br/>
Но есть цветок, и есть песок,<br/>
    G<br/>
А для чего цветок в песке,<br/>
     A                       E H<br/>
Вам не понять до гробовых досок.<br/>
<br/>
Проигрыш: E E E E7 A A E E G A E H<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
