{% extends "chords.html" %}

{% set title = "Болота Невы" %}
{% set handbook_unid = "880f774d6df17145c325679d006af03c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛИЛИТ - болота невы<br/>
</span><span style="color:red"> <br/>
БОЛОТА НЕВЫ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
One, two, three…<br/>
<i> <br/>
Каподастр на 1-м ладу<br/></i>
 <br/>
Вступление: 6:III 5:III 5:III 4:0 C F C Am Em F C F D/f# G C F C<br/>
<br/>
     G          C          F         C<br/>
Мои жилы, как тросы, моя память как лёд<br/>
                Am                  Em<br/>
Мое сердце как дизель, кровь словно мёд<br/>
        F               C                 F<br/>
Но мне выпало жить здесь, среди серой травы<br/>
                D/f# G             C F C<br/>
В обмороченной тьме, на болотах Невы<br/>
<br/>
Где дома - лишь фасада, а слова - пустоцвет<br/>
И след сгоревшей звезды, этот самый проспект<br/>
Я хотел быть как солнце, стал как тень на стене<br/>
И неотпетый мертвец сел на плечи ко мне<br/>
<br/>
И с тех пор я стал видеть, что мы все как в цепях<br/>
И души мёртвых солдат на еловых ветвях<br/>
Молча смотрят, как все мы кружим вальс при свечах<br/>
Каждый с пеплом в руке и мертвецом на плечах<br/>
<br/>
Проигрыш: 6:III 5:III 5:III 4:0 C F C Am Em F C F D/f# G C F C<br/>
<br/>
Будет день всепрощенья - бог с ним, я не дождусь<br/>
Я нашёл как уйти, и я уйду и вернусь,<br/>
Я вернусь с этим словом, как с ключом синевы<br/>
Отпустить их домой, всех их, кто спит на болотах Невы<br/>
<br/>
Заключение: 6:III 5:III 5:III 4:0 C F C Am Em F C F D/f# G C F C <br/>
G C F C G C F C G C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
