{% extends "chords.html" %}

{% set title = "Боги" %}
{% set handbook_unid = "15ad4bd1f720ede6c325679d006aefd6" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ДОИСТОРИЧЕСКИЕ ПЕСНИ - ПРИТЧИ ГРАФА ДИФФУЗОРА - боги<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
боги <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: Am G F <br/>
<br/>
5:I 5:II Em<br/>
Кто-то стал отныне богом<br/>
       F<br/>
И простил себе грехи;<br/>
      G<br/>
"За стихи мне все простится",-<br/>
      Am   G     F <br/>
Но стихи его плохи. <br/>
<br/>
Кто-то в музыку подался,<br/>
Человечество любя,<br/>
Но его никто не слышит,<br/>
Он певец внутри себя. <br/>
<br/>
Проигрыш: F F/e Em7 Em7 Am Am 2:0 3:II 3:0<br/>
<br/>
Ты запой, а я услышу,<br/>
Для того и голос дан<br/>
Всем, кто любит, всем, кто дышит,<br/>
Кто поет свои года; <br/>
<br/>
Проигрыш: F F/e Em7 Em7 Am Am Em Am Em <br/>
<br/>
        C               D<br/>
Так пускай не даст мне совесть<br/>
       G       Hm     Em<br/>
Ни молчать, ни богом стать.<br/>
          C              D<br/>
Стать бы честным пред собою,<br/>
        G  Hm    Em<br/>
Вот и вся моя мечта. <br/>
     C            D<br/>
Но уходят люди в боги,<br/>
       G    Hm   Em<br/>
И в себя погружены -<br/>
      C        D       D7/5-<br/>
Принимают за реальность<br/>
D7/5- D7 Em     Em <br/>
 Ложь  и    сны. <br/>
<br/>
Проигрыш: 5:I 5:II Em F G Am G F <br/>
<br/>
Все пловцы давно уплыли,<br/>
Все певцы давно молчат,<br/>
Кто в себе - тот как в могиле,<br/>
Кто кричал - устал кричать; <br/>
<br/>
И несказанная песня<br/>
Нас задавит, словно боль,<br/>
И придут другие - те, кто<br/>
Не боятся быть собой... <br/>
<br/>
Проигрыш: F F/e Em7 Em7 Am Am Em Am Em<br/>
<br/>
Так пускай не даст им совесть<br/>
Ни молчать, ни богом стать.<br/>
Будут искренними строки<br/>
И собой не будут лгать. <br/>
Ну а мы уходим в боги -<br/>
Так пускай звенит по нам,<br/>
        C         D<br/>
Словно месса по убогим,<br/>
E-------------------0-<br/>
H---------0---1---3---<br/>
G---0-2---------------<br/>
D-3-------------------<br/>
 Колокольчик на штанах.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D7/5-<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
