{% extends "chords.html" %}

{% set title = "Брод" %}
{% set handbook_unid = "65b390119708a318c3256a15004eb517" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СЕСТРА ХАОС - брод<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Брод<br/>
</span><i>Б. Гребенщиков  <br/>
Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: Am F Am Asus2 Dm<br/>
Am Em – 4p.<br/>
<br/>
Am             Em                      Am    Em<br/>
 Там, где я родился, основной цвет был серый;<br/>
Am            Em               Am Em<br/>
  Солнце было не отличить от луны,<br/>
Am             Em                    Am  Em<br/>
  Куда бы я ни шёл, я всегда шёл на север -<br/>
F                                 G                  Em<br/>
 Потому что там нет и не было придумано другой стороны.<br/>
<br/>
Проигрыш: Am Em - 4p.<br/>
<br/>
Первая звезда мне сказала: “Ты первый”.<br/>
Ветер научил меня ходить одному.<br/>
Поэтому я до сих пор немножечко нервный -<br/>
F                                              G                  G6 <br/>
 Когда мне говорят: “Смотри - счастье”, я смотрю туда и вижу тюрьму.<br/>
<br/>
  C         F        G    C  F G<br/>
Время перейти эту реку вброд,<br/>
 C                F      G      C  F G<br/>
Самое время перейти эту реку вброд,<br/>
C           F          G           C               G6/h<br/>
 Пока ты на этой стороне, ты сам знаешь, что тебя ждёт,<br/>
     F        Em          <br/>
Вставай. Переходим эту реку вброд.<br/>
<br/>
Проигрыш: Am Em – 4p.<br/>
<br/>
Там, где я родился, каждый знал Колю.<br/>
Коля был нам лучший товарищ и друг.<br/>
Коля научил пить вино, вино заменило мне волю,<br/>
И яшмовый стебель заменил компас и спасательный круг<br/>
<br/>
А в воскресенье утром нам опять идти в стаю, <br/>
И нас благословят размножаться во мгле;<br/>
Нежность воды надёжней всего, что я знаю,<br/>
F                          G                    G6 <br/>
 Но инженеры моего тела велели мне ходить по земле. <br/>
<br/>
Время перейти эту реку вброд,<br/>
Самое время перейти эту реку вброд,<br/>
Если хочешь сказать мне слово, попытайся использовать рот,<br/>
Вставай. Переходим эту реку вброд.<br/>
<br/>
Проигрыш: Dsus2 F+7 Am Asus4 Asus2<br/>
Dsus2 F+7 Am Asus4 Asus2 F G <br/>
<br/>
Время перейти эту реку вброд,<br/>
Самое время перейти эту реку вброд,<br/>
Пока ты на этой стороне, ты сам знаешь, что тебя ждёт,<br/>
Вставай. Переходим эту реку вброд.<br/>
<br/>
Заключение: Am F Am Asus2 – 4p. <br/>
Am F Am F Am <span style="color:#333333">F</span> <span style="color:gray">Am</span> <span style="color:#999999">F<br/>
<br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G6<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F+7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
