{% extends "chords.html" %}

{% set title = "Брат никотин" %}
{% set handbook_unid = "b5263bcbd0130542c32569e300311644" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СЕСТРА ХАОС - брат никотин<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Брат никотин<br/>
</span><i>Б. Гребенщиков  <br/>
Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: 3:V sl 3:II<br/>
Am - 4p.<br/>
<br/>
         Am   Am/g     Am<br/>
Брат Никотин, брат Никотин,<br/>
      Am/g         Am    Am/g          Am<br/>
Я не хочу ходить строем, хочу ходить один;<br/>
               G             D/f#<br/>
Иду по битым стёклам линии огня -<br/>
     F          E           Am<br/>
Отженись от меня, брат Никотин.<br/>
<br/>
Проигрыш: 3:V sl 3:II<br/>
Am - 4p.<br/>
<br/>
У меня аллергия, мне не встать в эту рань -<br/>
Подзаборный Будда, трамвайная пьянь.<br/>
Бешеное небо - строгий Господин;<br/>
Отженись от меня, брат Никотин.<br/>
<br/>
                    C                          G<br/>
Я пришёл греться в церковь. Из алтаря глядит глаз.<br/>
               E                                   Am<br/>
Господь идёт пригородный поезд, режет рельсы как алмаз;<br/>
                   F                       B<br/>
И если мне станет душно, когда горят тормоза - <br/>
                  E                                           E<br/>
Я смотрю, как по белоснежной коже медленно движется лезвие ножа...<br/>
<br/>
Проигрыш: Am Am/g Am Am/g Am Am/g Am G D/f# F E Am<br/>
<br/>
               C                   G<br/>
А вокруг меня тундра, вокруг меня лёд;<br/>
                     E                              Am<br/>
Я смотрю, как все торопятся, хотя никто никуда не идёт.<br/>
               F                  B<br/>
А карусель вертится, крыльями шурша,<br/>
           E                                                 E<br/>
И вот моя жизнь танцует на пригородных рельсах, на лезвии ножа.<br/>
<br/>
Если я рухну, рухну как-то не так -<br/>
Нас у Бога много, килограмм на пятак;<br/>
У каждого в сердце разбитый гетеродин -<br/>
Отженись от меня, пока не поздно, брат Никотин.<br/>
<br/>
Заключение: Am - 16p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/g<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
