{% extends "chords.html" %}

{% set title = "Ваше благородие..." %}
{% set handbook_unid = "db7ea3e749f658f8c325685f00748299" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ПЕСНИ БУЛАТА ОКУДЖАВЫ - ваше благородие...<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
ваше благородие... <br/>
</span><i>И.Шварц - Б.Окуджава<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: Em - 2p. <br/>
<br/>
 Em              H7          Em<br/>
Ваше Благородие, Госпожа Разлука,<br/>
 G                        D          G<br/>
Мы с тобой друзья давно, вот какая штука,<br/>
 Am                D7           Em<br/>
Письмецо в конверте погоди не рви.<br/>
Am                Em   H7             Em Em<br/>
 Не везёт мне в смерти, повезёт в любви.<br/>
<br/>
Ваше Благородие, Госпожа Чужбина.<br/>
Жарко обнимала ты, да мало любила.<br/>
В шелковые сети, постой, не лови.<br/>
Не везёт мне в смерти, повезёт в любви.<br/>
<br/>
Ваше Благородие, Госпожа Удача.<br/>
Для кого ты добрая, а кому иначе.<br/>
Девять граммов в сердце, постой, не зови.<br/>
Не везёт мне в смерти, повезёт в любви.<br/>
<br/>
Ваше Благородие, Госпожа Победа.<br/>
Значит моя песенка до конца не спета.<br/>
Перестаньте черти клясться на крови!<br/>
Am               Em   H7              C Em<br/>
 Не везёт мне в смерти, повезёт в любви.<br/>
Am               Em   H7             Em <br/>
 Не везёт мне в смерти, повезёт в любви.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
