{% extends "chords.html" %}

{% set title = "Вавилон" %}
{% set handbook_unid = "5eb2aa86806d1a84c325679d006aee1d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЭЛЕКТРИЧЕСТВО - вавилон<br/>
</span><span style="color:red"> <br/>
ВАВИЛОН<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: G C – 8p.<br/>
<br/>
G                                   C D<br/>
 В этом городе должен быть кто-то ещё; <br/>
G                                    C D<br/>
 В этом городе должен быть кто-то живой. <br/>
    G                                  C           D                                            <br/>
Я знаю, что когда я увижу его, я не узнаю его в лицо,<br/>
      G                                     C D<br/>
Но я рад - в этом городе есть ещё кто-то живой; <br/>
<br/>
        G               C <span style="color:gray">D<br/></span>
И этот город - это Вавилон,<br/>
        G             C <span style="color:gray">D<br/></span>
И мы живём - это Вавилон;<br/>
    G                 C         <span style="color:gray">D<br/></span>
Я слышу голоса, они поют для меня,<br/>
         G             C <span style="color:gray">D<br/></span>
Хотя вокруг нас - Вавилон...<br/>
        G               C <span style="color:gray">D<br/></span>
И этот город - это ВавилОН,<br/>
        G             C  <span style="color:gray">D<br/></span>
И мы живём - это ВавилОН;<br/>
    G                 C         <span style="color:gray">D<br/></span>
Я слышу голоса, они поют для меня,<br/>
         G             C  <span style="color:gray">D<br/></span>
Хотя вокруг нас - ВавилОН... <br/>
<br/>
Проигрыш: G C <span style="color:gray">D</span> – 4p. <br/>
<br/>
Две тысячи лет, две тысячи лет; <br/>
Мы жили так странно две тысячи лет. <br/>
Но Вавилон - это состоянье ума; понял ты, или нет,<br/>
Отчего мы жили так странно две тысячи лет? <br/>
<br/>
И этот город - это Вавилон,<br/>
И мы живём - это Вавилон;<br/>
Я слышу голоса, они поют для меня,<br/>
Хотя вокруг нас - Вавилон...<br/>
И этот город - это ВавилОН,<br/>
И мы живём - это ВавилОН;<br/>
Я слышу голоса, они поют для меня,<br/>
Хотя вокруг нас - ВавилОН...<br/>
<br/>
Проигрыш: G C <span style="color:gray">D</span> – 8p. <br/>
<br/>
Этот город - это Вавилон,<br/>
И мы живём - это Вавилон;<br/>
Я слышу голоса, они поют для меня,<br/>
Хотя вокруг нас - Вавилон...<br/>
И этот город - это ВавилОН,<br/>
И мы живём - это ВавилОН;<br/>
Я слышу голоса, они поют для меня,<br/>
Хотя вокруг нас - ВавилОН...<br/>
<br/>
И этот город - это Вавилон,<br/>
И мы живём - это Вавилон;<br/>
Я слышу голоса, они поют для меня,<br/>
Хотя вокруг нас - Вавилон...<br/>
Этот город – это Вавилон,<br/>
И мы живём…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
