{% extends "chords.html" %}

{% set title = "Ваджра Гуру Мантра" %}
{% set handbook_unid = "d381a067e75f6f27c325679d006aee26" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - ПРИБЕЖИЩЕ - ваджра гуру мантра (vajra guru)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
ВАджра гуру мантра (vajra guru) <br/>
</span><i>канонический текст и мелодия<br/>
 <br/></i>
Вступление: A - 4p.<br/>
<br/>
A        A A A         A         A        Hm Hm Hm    <br/>
  Ом ма хом   бендзай гуру пема сидда хи хун<br/>
       Hm Hm Hm         Hm              E  A A <br/>
Ом ма хом      бендзай гуру пема сидда хи хун<br/>
<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
<br/>
Проигрыш: A A A A A A Hm Hm Hm Hm Hm Hm E A A - 2p. A<br/>
<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
<br/>
Проигрыш: A A A A A A Hm Hm Hm Hm Hm Hm E A A - 2p. A<br/>
<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
Ом ма хом бендзай гуру пема сидда хи хун<br/>
<br/>
Заключение: A A A A A A Hm Hm Hm Hm Hm Hm E A A - 2p. <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
