{% extends "chords.html" %}

{% set title = "Ваши пальцы пахнут ладаном" %}
{% set handbook_unid = "823c768ef8a8832bc325679d006aee2c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ АЛЕКСАНДРА ВЕРТИНСКОГО - ваши пальцы пахнут ладаном<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
ваши пальцы пахнут ладаном<br/>
</span><i>А.Вертинский<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: Am Am<br/>
<br/>
      Am            Dm<br/>
Ваши пальцы пахнут ладаном<br/>
        E           Am<br/>
И в ресницах спит печаль.<br/>
    Am           Dm<br/>
Ничего теперь не надо Вам,<br/>
     E           Am<br/>
Ничего теперь не жаль.<br/>
      C    A7     Dm<br/>
И когда Весенней Вестницей<br/>
       G               C<br/>
Вы пойдете в дальний край,<br/>
       Am      A7    Dm<br/>
Сам Господь по белой лестнице<br/>
     Am       E      Am<br/>
Поведет Вас прямо в рай.<br/>
<br/>
Тихо плачет дьякон седенький,<br/>
За поклоном бьет поклон<br/>
И метет бородкой реденькой<br/>
Золотую пыль времен.<br/>
Ваши пальцы пахнут ладаном<br/>
И в ресницах спит печаль.<br/>
Ничего теперь не надо Вам,<br/>
Ничего теперь не жаль.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
