{% extends "chords.html" %}

{% set title = "Весна на Заречной улице" %}
{% set handbook_unid = "36d527713fb8527ac325679d006aef7c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- МИТЬКОВСКИЕ ПЕСНИ - весна на заречной улице<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
весна на заречной улице <br/>
</span><i>Б.Макроусов - А.Фатьянов <br/></i>
 <br/>
<i>Каподастр на 1-м ладу<br/></i>
 <br/>
Вступление: Dm E7 A7 Dm E7 A7 Dm Dm<br/>
<br/>
   A7   Dm     E7       A7<br/>
Когда весна пpидет, не знаю.<br/>
     A7    Dm        C      F<br/>
Пpойдyт дожди... Сойдyт снега...<br/>
   D7     Gm   C    Dm<br/>
Hо ты мне, yлица pодная,<br/>
         Gm   C   F<br/>
И в непогодy доpога.<br/>
   D7      Gm  C     Dm<br/>
Hо ты мне, yлица pодная,<br/>
         Gm   A7 Dm<br/>
И в непогодy доpога.<br/>
<br/>
Проигрыш: Dm E7 A7 Dm E7 A7 Dm Dm<br/>
<br/>
На этой улице подростком<br/>
Гонял по крышам голубей,<br/>
И здесь, на этом перекрестке,<br/>
С любовью встретился своей.<br/>
И здесь, на этом перекрестке,<br/>
С любовью встретился своей.<br/>
<br/>
Проигрыш: Dm E7 A7 Dm E7 A7 Dm Dm<br/>
<br/>
Теперь и сам не рад, что встретил, -<br/>
Моя душа полна тобой.<br/>
Зачем, зачем на белом свете<br/>
Есть безответная любовь!<br/>
Зачем, зачем на белом свете<br/>
Есть безответная любовь!<br/>
<br/>
Проигрыш: <br/>
Dm E7 A7 Dm E7 A7 Dm Dm <br/>
A7 Dm E7 A7, A7 Dm C F, D7 Gm C Dm, Dm Gm C F, D7 Gm C Dm, Dm Gm A7<br/>
Dm E7 A7 Dm E7 A7 Dm Dm<br/>
<br/>
Когда на улице Заречной<br/>
В домах погашены огни,<br/>
Горят мартеновские печи,<br/>
И день и ночь горят они.<br/>
Горят мартеновские печи,<br/>
И день и ночь горят они.<br/>
<br/>
Проигрыш: Dm E7 A7 Dm E7 A7 Dm Dm<br/>
<br/>
На свете много улиц славных,<br/>
Но не сменяю адрес я.<br/>
В моей судьбе ты стала главной,<br/>
Родная улица моя.<br/>
В моей судьбе ты стала главной,<br/>
Родная улица моя.<br/>
<br/>
Заключение: Dm E7 A7 Dm<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
