{% extends "chords.html" %}

{% set title = "Вот" %}
{% set handbook_unid = "411c5786f367bceec325679d006af000" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ АНТОЛОГИЙ И СБОРНИКОВ - вот<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
ВОТ <br/>
</span><i>А.Григорян - О.Гончаров<br/>
 <br/></i>
Вступление: A Hm E A - 2p. A<br/>
<br/>
 A           Hm     E           A<br/>
Мама моет посуду, а я подметаю пол.<br/>
   A                Hm        E                A<br/>
Куда-то девались пирожные, наверное их съел козёл.<br/>
   A                  Hm          E                     A<br/>
Который живёт в моей комнате, и смотрит с картинки в окно.<br/>
  A           Hm            E                A<br/>
Ему подрисую шапочку, чтоб солнышко не напекло.<br/>
<br/>
Проигрыш: A Hm E A - 2p. A<br/>
<br/>
А мама не будет ругаться, когда разукрашу траву.<br/>
Приклею бумажный цветочек и станет не грустно козлу.<br/>
А ярко-помадная ягодка, растущая на небесах,<br/>
Напомнит ему о деревне и безоблачно прожитых днях.<br/>
<br/>
Проигрыш: A Hm E A - 2p. A   <br/>
A Hm E A - 4p.  <br/>
A Hm E A - 2p. A<br/>
<br/>
И вдруг, переполнившись чувствами, козёл бородою тряхнёт.<br/>
Ударит копытцами стенку и несколько раз скакнёт.<br/>
А мама уже улыбается и мне наливает компот.<br/>
Но я его пить не буду, поскольку болит живот.<br/>
<br/>
Заключение: A Hm E A - 2p. A<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
