{% extends "chords.html" %}

{% set title = "Волки и вороны" %}
{% set handbook_unid = "65ea563309fd4c1fc325679d006aee56" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РУССКИЙ АЛЬБОМ - волки и вороны<br/>
</span><span style="color:red"> <br/>
ВОЛКИ И ВОРОНЫ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: Dm Gm6 Dsus2/f A7sus4 - 4p.<br/>
 Dm Gm6 Dsus2/f A7sus4 Dm Gm6 Dsus2/f A7sus4 Dm  Gm6 Dsus2/f    A7sus4      Dm Gm6 Dsus2/f A7sus4 Dm<br/>
E-5-10-6-10-12-5-1-3-5---------0-1-0---------5-10-6-10-12-10-5-10-12-10-1-3-5---vb8-6--------0--0--1- <br/>
H-----------------------3-----3---3--------------------------------------------3------------3--3---3-<br/>
G------------------------------------------------------------------------------------------0--0--3-2- <br/>
D-----------------------------------------------------------------------------------------3----------<br/>
 Gm6 Dsus2/f A7sus4 Dm Gm6 Dsus2/f A7sus4   Dm     Gm6 Dsus2/f  A7sus4 Dm Gm6 Dsus2/f A7sus4 Dm<br/>
E---0---0-1-3-1-0----------------------0--0---1-------0---1-3-5--0-1---0-vb8-6--------0---0--1--- <br/>
H-3---3--------------3--vb3--vb5--3---3--3----3-----3---3------------3---------------3---3---3---<br/>
G------------------------------------0--0--0--2-------------------------------------0--0-----2---<br/>
D-----------------------------------3----------------------------------------------3-------------<br/>
<br/>
Dm      Gm6      Dsus2/f   A7sus4          Dm   Gm6 Dsus2/f A7sus4<br/>
  Может Бог, может просто эта ночь пахнет ладаном.<br/>
Dm    Gm6        Dsus2/f A7sus4     Dm Gm6 Dsus2/f A7sus4<br/>
  А кругом высокий лес, тёмен и замшел.<br/>
Dm      Gm6      Dsus2/f  A7sus4    Dm  Gm6 Dsus2/f A7sus4<br/>
  То ли это благодать, то ли это засада нам;<br/>
Dm   Gm6   Dsus2/f     A7sus4      Dm Gm6 Dsus2/f A7sus4<br/>
  Весело наощупь, да сквозняк на душе.<br/>
<br/>
F                                       Am<br/>
 Вот идут с образами - с образами незнакомыми,<br/>
F              Dm                     Am A7<br/>
 Да светят им лампады из-под тёмной воды;<br/>
Dm        Gm6            Dsus2/f      A7sus4    Dm   Gm6 Dsus2/f A7sus4<br/>
  И я не помню, как мы встали, как мы вышли из комнаты,<br/>
Gm6                            A7sus4       Dm <br/>
  Только помню, что идти нам до тёплой звезды...<br/>
<br/>
Проигрыш: Dm Gm6 Dsus2/f A7sus4 - 4р.<br/>
<br/>
Вот стоит храм высок, да тьма под куполом.<br/>
Проглядели все глаза, да ни хрена не видать.<br/>
Я поставил бы свечу, да все свечи куплены.<br/>
Зажёг бы спирт на руке - да где ж его взять?<br/>
<br/>
А кругом лежат снега на все четыре стороны;<br/>
Легко по снегу босиком, если души чисты.<br/>
А мы пропали бы совсем, когда б не волки да вороны;<br/>
Они спросили: "Вы куда? Небось, до тёплой звезды?.."<br/>
<br/>
Проигрыш: Dm Gm6 Dsus2/f A7sus4 - 8р.<br/>
<br/>
Назолотили крестов, навтыкали, где ни попадя;<br/>
Да променяли на вино один, который был дан.<br/>
А поутру с похмелья пошли к реке по воду,<br/>
А там вместо воды - Монгол Шуудан.<br/>
<br/>
А мы хотели дать весёлый знак ангелам,<br/>
Да потеряли их из виду, заметая следы;<br/>
Вот и вышло бы каждому по делам его,<br/>
Если бы не свет этой чистой звезды.<br/>
<br/>
Проигрыш: Dm Gm6 Dsus2/f A7sus4 - 8р.<br/>
<br/>
Так что нам делать, как нам петь, как не ради пустой руки?<br/>
А если нам не петь, то сгореть в пустоте;<br/>
А петь и не допеть - то за мной придут орлики;<br/>
С белыми глазами, да по мутной воде.<br/>
<br/>
Только пусть они идут - я и сам птица чёрная,<br/>
Смотри, мне некуда бежать: еще метр - и льды;<br/>
Так я прикрою вас, а вы меня, волки да вороны,<br/>
Чтобы кто-нибудь дошёл до этой чистой звезды...<br/>
<br/>
Проигрыш: Dm Gm6 Dsus2/f A7sus4 - 8р.<br/>
<br/>
Так и что теперь с того, что тьма под куполом,<br/>
Что теперь с того, что ни хрена не видать?<br/>
И что теперь с того, что все свечи куплены,<br/>
Ведь если нет огня, мы знаем, где его взять;<br/>
<br/>
И может правда, что нет путей, кроме торного,<br/>
И нет рук для чудес, кроме тех, что чисты,<br/>
А всё равно нас грели только волки да вороны,<br/>
И благословили нас до чистой звезды...<br/>
<br/>
Заключение: <br/>
Dm       Gm6     Dsus2/f    A7sus4  Dm<br/>
E-5-10-6-10-12-10-5-10-12-10-1-3-5--1- <br/>
H-----------------------------------3-<br/>
G-----------------------------------2-<br/>
D-----------------------------------0-<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm6<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Dsus2/f<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          A7sus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
