{% extends "chords.html" %}

{% set title = "Вперед, Бодхисаттва" %}
{% set handbook_unid = "939a48fc860571cdc325693d0058ad3a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПУШКИНСКАЯ, 10 - вперёд, бодхисаттва<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Вперёд, Бодхисаттва<br/>
</span><i>М. Науменко<br/></i>
 <br/>
<i>Каподастр на 3-м ладу <br/></i>
 <br/>
Вступление: A! Asus4!A! A! A!Asus4! A! Asus4!A! A! - 2p.  <br/>
A A A A D D A A F E A E<br/>
<br/>
A<br/>
 Сидели с другом и пили вино<br/>
     A<br/>
Занимались этим делом довольно давно<br/>
    D<br/>
По комнате клубами плавал никотин<br/>
        A<br/>
И к концу подходил мой запас лёгких вин<br/>
      F                   E<br/>
Мой друг сказал: "Мы с тобою Бодхисаттвы".<br/>
     A                    E<br/>
Я ответил: "Да! Но нам пора в магазин".<br/>
<br/>
    A<br/>
Вперёд! Вперёд, Бодхисаттва!<br/>
    A<br/>
Вперёд! Вперёд, Бодхисаттва!<br/>
    D<br/>
Вперёд! Вперёд, Бодхисаттва!<br/>
    A<br/>
Вперёд! <br/>
    F                   E                      A A A A<br/>
Вперёд, Бодхисаттва, - нам с тобой пора в магазин.<br/>
<br/>
В магазине мы купили две бутылки вина,<br/>
Но скоро выпили и их до дна.<br/>
Однако никто из нас не был пьян,<br/>
Только в комнату въехал башенный кран.<br/>
Мой друг сказал: "Мы с тобою Бодхисаттвы".<br/>
Я ответил: "Да, но нам пора в ресторан".<br/>
<br/>
Вперёд! Вперёд, Бодхисаттва!<br/>
Вперёд! Вперёд, Бодхисаттва!<br/>
Вперёд! Вперёд, Бодхисаттва!<br/>
Вперёд! <br/>
    F                   E                       A A<br/>
Вперёд, Бодхисаттва, - нам с тобой пора в ресторан.<br/>
<br/>
Проигрыш: A A A A D D A A F E A A<br/>
<br/>
В ресторане мы купили бутылку коньяка.<br/>
Жизнь стала прекрасна, жизнь стала легка.<br/>
Коньяк был выпит. В это время часы<br/>
Показывали ровно "двадцать восемь ноль три".<br/>
Мой друг сказал: "Мы с тобою Бодхисаттвы".<br/>
     A                   A<br/>
Я ответил: "Побежали за водкой в такси! "<br/>
<br/>
Вперёд! Вперёд, Бодхисаттва!<br/>
Вперёд! Вперёд, Бодхисаттва!<br/>
Вперёд! Вперёд, Бодхисаттва!<br/>
Вперёд! <br/>
    F                       E                   A A<br/>
Вперёд, Бодхисаттва, - побежали за водкой в такси!<br/>
<br/>
Проигрыш: A A A A D D A A F E A A<br/>
<br/>
Вперёд, Бодхисаттва, Вперёд!<br/>
Вперёд, Бодхисаттва, Вперёд!<br/>
Вперёд, Бодхисаттва, Вперёд!<br/>
    A<br/>
Вперёд, Бодхисаттва, Вперёд!<br/>
    F<br/>
Вперёд, Бодхисаттва!<br/>
    E<br/>
Вперёд, Бодхисаттва!<br/>
    A   E<br/>
Вперёд - к просветленью!<br/>
<br/>
Заключение: A A A A D D A A F E A A A A A A D D A A F E A D E A<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
