{% extends "chords.html" %}

{% set title = "Время любви пришло" %}
{% set handbook_unid = "19991aee3ab9cf5fc325679d006af072" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ГИПЕРБОРЕЯ - время любить пришло<br/>
</span><span style="color:red"> <br/>
ВРЕМЯ ЛЮБВИ ПРИШЛО<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
  F      F<br/>
E-1---3--1---1-<br/>
H---1------1--- - 4p.<br/>
G--------------<br/>
<br/>
F F/e Dm Dm/c G Bm F – 2p. Em G<br/>
<br/>
F    F/e         Dm Dm/c<br/>
 На каменных кострах<br/>
 G              Bm          F<br/>
Ветер целует траву семи ветров.<br/>
F   F/e         Dm Dm/c<br/>
 Вернулся в небеса<br/>
 G               Bm             F<br/>
Путник, одетый в шёлк змеиных слов.<br/>
<br/>
Чудовища в ночи<br/>
Не властны имена твои назвать.<br/>
Пришла пора любви.<br/>
Кто здесь твоим любимым должен стать?<br/>
<br/>
Проигрыш: Em G<br/>
<br/>
 C   G   Dm    C       G   Asus4 Am<br/>
Хай-хай-хай, время любви пришло<br/>
 C   G  Dm     C       G   Asus4 Am<br/>
Хай-хай-хай, время любви пришло<br/>
 C   G   Dm    C       G      Am<br/>
Хай-хай-хай, время любви пришло<br/>
<br/>
Проигрыш: F F/e Dm Dm/c G Bm F – 4p. Em G<br/>
<br/>
Хай-хай-хай, время любви пришло<br/>
Хай-хай-хай, время любви пришло<br/>
Хай-хай-хай, время любви пришло<br/>
<br/>
Хай-хай-хай, время любви пришло<br/>
Хай-хай-хай, время любви пришло<br/>
Хай-хай-хай, время любви пришло<br/>
<br/>
Заключение: F F/e Dm Dm/c G Bm F – 4p. <br/>
  F      <br/>
E-1---5--3--<br/>
H---1------- - 8p.<br/>
G-----------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/c<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Bm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
