{% extends "chords.html" %}

{% set title = "Время идёт, хоть шути - не шути..." %}
{% set handbook_unid = "c42b919a7394f145c325679d006aee5f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ БУЛАТА ОКУДЖАВЫ - время идёт, хоть шути - не шути...<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
время идёт, хоть шути - не шути...<br/>
</span><i>Б.Окуджава<br/></i>
 <br/>
Вступление: Am<br/>
<br/>
        Am          E         Am<br/>
Время идет, хоть шути - не шути,<br/>
         E      Am       E          Am<br/>
Как морская волна, и нахлынет и скроет.<br/>
         С                G<br/>
Ах, погоди, это все впереди,<br/>
         E           Am<br/>
Дай надышаться Москвою.<br/>
         С                G<br/>
Ах, погоди, это все впереди,<br/>
         E           Am<br/>
Дай надышаться Москвою.<br/>
<br/>
Видишь тот дом - там не гасят огня,<br/>
Там друзья меня ждут не больным, не отпетым.<br/>
Повремени, как же им без меня -<br/>
Надо ведь думать об этом.<br/>
Повремени, как же им без меня -<br/>
Надо ведь думать об этом.<br/>
<br/>
Дай мне напиться воды ледяной,<br/>
Придержи до поры и тоску, и усталость.<br/>
Ах, погоди, разочтемся с тобой -<br/>
Я должником не останусь.<br/>
Ах, погоди, разочтемся с тобой -<br/>
Я должником не останусь.<br/>
<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
