{% extends "chords.html" %}

{% set title = "Встань у реки" %}
{% set handbook_unid = "995a3129408a59d2c325679d006aee6e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ АНТОЛОГИЙ И СБОРНИКОВ - БИБЛИОТЕКА ВАВИЛОНА. ТОМ IV - встань у реки<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
ВСТАнь у реки <br/>
</span><i>Б.Гребенщиков <br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: C F C G - 2р. <br/>
<br/>
C            G      Am     <br/>
 Встань у реки, смотри, как течет река;<br/>
C          G                    Am G<br/>
 Ее не поймать ни в сеть, ни рукой.<br/>
Am        G                     C      C/h   Am<br/>
  Она безымянна, ведь имя есть лишь у ее берегов;<br/>
F            G              Am G<br/>
 Забудь свое имя и стань рекой.<br/>
<br/>
Встань у травы, смотри, как растет трава,<br/>
Она не знает слова "любовь".<br/>
Однако любовь травы не меньше твоей любви;<br/>
Забудь о словах и стань травой.<br/>
<br/>
Проигрыш: C G Am Am, C G Am G, Am G C C/h Am, F G Am G<br/>
<br/>
Встань у реки, смотри, как течет река;<br/>
Ее не поймать ни в сеть, ни рукой.<br/>
Она безымянна, ведь имя есть лишь у ее берегов;<br/>
Забудь свое имя и стань рекой.<br/>
<br/>
Заключение: C G Am Am, C G Am G, Am G C C/h Am, F G Am G - 2p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:131.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
