{% extends "chords.html" %}

{% set title = "Всё, что я хочу" %}
{% set handbook_unid = "0b211e76c76f01d9c325679d006aee68" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СИНИЙ АЛЬБОМ - всё, что я хочу<br/>
</span><span style="color:red"> <br/>
ВСЁ, ЧТО Я ХОЧУ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
E-1--2—-4—-2--1---------       -----------<br/>
H----------------2—-1--2       -----------<br/>
G-----------------------       -4--4--4--2<br/>
D----------------------- - 3p. -----------<br/>
A-----------------------       -----------<br/>
E-2—-2—-2—-2—-2—-2--2--2       -5--4--3--2<br/>
<br/>
  A                   C#m<br/>
Всё, что я пел - упражнения в любви<br/>
   Em<br/>
Того, у кого за спиной<br/>
    Hm<br/>
Всегда был дом.<br/>
     Dm<br/>
Но сегодня я один<br/>
     G<br/>
За праздничным столом;<br/>
     Hm<br/>
Я желаю счастья каждой двери,<br/>
   F#m           A<br/>
Захлопнутой за мной.<br/>
G                          F#m<br/>
Я никогда не хотел хотеть тебя так,<br/>
       A<br/>
Но сейчас мне светло,<br/>
             C#m<br/>
Как будто я знал, куда иду.<br/>
     Hm<br/>
И сегодня днём моя комната - клетка,<br/>
    C#m<br/>
В которой нет тебя...<br/>
Hm                   E<br/>
  Ты знаешь, что я имею в виду.<br/>
  D<br/>
Всё, что я хочу;<br/>
  F#m<br/>
Всё, что я хочу,<br/>
  C#m            <br/>
Всё, что я хочу,<br/>
  Hm<br/>
Всё, что я хочу,<br/>
     A<br/>
Это ты.<br/>
<br/>
Проигрыш:<br/>
E-1--2—-4—-2--1---------       -----------<br/>
H----------------2—-1--2       -----------<br/>
G-----------------------       -4--4--4--2<br/>
D----------------------- - 3p. -----------<br/>
A-----------------------       -----------<br/>
E-2—-2—-2—-2—-2—-2--2--2       -5--4--3--2<br/>
<br/>
   A<br/>
Я пел о том, что знал.<br/>
C#m<br/>
   Я что-то знал;<br/>
Em                                 Hm<br/>
  Но, Господи, я не помню, каким я был тогда.<br/>
Dm                             G<br/>
Я говорил люблю, пока мне не скажут нет;<br/>
     Hm<br/>
И когда мне говорили нет,<br/>
     F#m                 A<br/>
Я не верил и ждал, что скажут да,<br/>
       G                                     F#m<br/>
И проснувшись сегодня, мне было так странно знать,<br/>
     A                             C#m<br/>
Что мы лежим, разделённые, как друзья;<br/>
   D         G            A A7<br/>
Но я не терплю слова друзья,<br/>
D         G          A  A7<br/>
Я не терплю слова любовь,<br/>
D         G            A<br/>
Я не терплю слова всегда,<br/>
             Hm<br/>
Я не терплю слов.<br/>
Мне не нужно слов, чтобы сказать тебе, что ты -<br/>
<br/>
      D<br/>
Это всё, что я хочу...<br/>
 F#m<br/>
Всё, что я хочу,<br/>
     C#m<br/>
Это всё, что я хочу,<br/>
  Hm          A<br/>
Всё, что я хочу…<br/>
<br/>
Это всё, что я хочу...<br/>
Всё, что я хочу,<br/>
Всё, что я хочу,<br/>
Всё, что я хочу,<br/>
<br/>
Это всё, что я хочу...<br/>
Всё, что я хочу,<br/>
Всё, что я хочу,<br/>
Это всё, что я хочу...<br/>
<br/>
Всё, что я хочу,<br/>
Всё, что я хочу,<br/>
Это всё, что я хочу...<br/>
Всё, что я хочу,<br/>
<br/>
Это всё, что я хочу...<br/>
Всё, что я хочу,<br/>
Это всё, что я хочу...<br/>
Всё, что я хочу,<br/>
<br/>
Это всё, что я хочу...<br/>
Всё, что я хочу,<br/>
Это всё, что я хочу...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<a name="OLE_LINK5"></a><a name="OLE_LINK4"></a><a name="OLE_LINK3"><b><span style="font-size:8.0pt">            </span></b></a><b><span style="font-size:8.0pt">D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
