{% extends "chords.html" %}

{% set title = "Всем, кого я люблю" %}
{% set handbook_unid = "e644f34a6a88a9d5c325679d006af216" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - всем, кого я люблю<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
всем, кого я люблю<br/>
</span><i>Б.Гребенщиков<br/></i>
  <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
Dsus2 D Dsus2 Dsus4 D, Dsus2 D Dsus2 Dsus4 D, Am C G<br/>
Dsus2 D Dsus2 Dsus4 D, Dsus2 D Dsus2 Dsus4 D, <br/>
Dsus2 D Dsus2 Dsus4, Am C G <br/>
Dsus2 D Dsus2 Dsus4 D<br/>
<br/>
     Dsus2   D   Dsus2  Dsus4 D <br/>
Ты помнишь его? - он был с нами.<br/>
    Dsus2    D      Dsus2 Dsus4 D<br/>
Он бросил себя, как будто камень.<br/>
 Am               C       G     Dsus2 D Dsus2 Dsus4 D<br/>
Ему светло - но стало ли нам светлей?<br/>
 Dsus2  D    Dsus2 Dsus4 D<br/>
Его зеркала остались сзади.<br/>
  Dsus2     D     Dsus2    Dsus4 D<br/>
И птицы плывут в застывшем взгляде.<br/>
    Am                C       G      D <br/>
В другие края, где может быть им теплей.<br/>
<br/>
Проигрыш: Am C G D - 2p.<br/>
<br/>
Небо теперь другого цвета<br/>
И двери закрыты в дождь и лето.<br/>
И нет больше слез, и стерты слова в песке.<br/>
За угол сверни - и ты не вечен.<br/>
И наши следы уносит ветер.<br/>
Но греет меня пепел в чужой руке.<br/>
<br/>
Заключение: Am C G D - 8p. <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
