{% extends "chords.html" %}

{% set title = "Всё, что мы есть" %}
{% set handbook_unid = "dff7788cbde9aba9c325679d006af1b9" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - всё, что мы есть<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
всё, что мы есть<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 5-м ладу<br/></i>
 <br/>
Вступление: C Am F G - 4p.<br/>
<br/>
C       G             Am             F G<br/>
 Стоя здесь, между востоком и западом,<br/>
C           G              Am  F G<br/>
 Пытаясь понять, зачем мы здесь -<br/>
C G              Am             F  G<br/>
  Я не умею, как те, о ком я читал,<br/>
C           G         Am       F G<br/>
 Но я хочу петь - и я буду петь.<br/>
<br/>
Проигрыш: C Am F G - 4p.<br/>
<br/>
Все говорят, что любовь - это девятый вал,<br/>
Но что же нам делать здесь, на берегу?<br/>
Я сделаю то, чему меня никто не учил -<br/>
Пока я люблю, я это могу,  могу хотя бы сказать вам:<br/>
<br/>
               C<br/>
Любовь - это все, что мы есть...<br/>
 Am                 F               G<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
               C<br/>
Любовь - это все, что мы есть...<br/>
 Am                 F               G<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
               C<br/>
Любовь - это все, что мы есть...<br/>
 Am                 F               G<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
               C<br/>
Любовь - это все, что мы есть...<br/>
 Am                 F               G<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
<br/>
Проигрыш: C Am F G - 10p.<br/>
<br/>
И вот мы стоим здесь, между востоком и западом,<br/>
Имея все, что было обещано нам.<br/>
Я знаю много о чем я хотел бы сказать,<br/>
Но есть то, чего никогда не доверить словам. Но я говорю не словами:<br/>
<br/>
Любовь - это все, что мы есть...<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
Любовь - это все, что мы есть...<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
Любовь - это все, что мы есть...<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
Любовь - это все, что мы есть...<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
<br/>
Проигрыш: C Am F G - 10p.<br/>
<br/>
Любовь - это все, что мы есть...<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
Любовь - это все, что мы есть...<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
Любовь - это все, что мы есть...<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
Любовь - это все, что мы есть...<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
<br/>
Любовь - это все, что мы есть...<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
Любовь - это все, что мы есть...<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
Любовь - это все, что мы есть...<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
Любовь - это все, что мы есть...<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
<br/>
        C<br/>
Нет движения, кроме любви,<br/>
     Am<br/>
Нет места, кроме любви,<br/>
      F<br/>
Нет времени, кроме любви,<br/>
       G<br/>
Нет желаний, кроме любви;<br/>
     C<br/>
Нет жизни, кроме любви,<br/>
      Am<br/>
Нет смерти, кроме любви,<br/>
        F<br/>
Нет движения, кроме любви,<br/>
       G<br/>
Нет защиты...<br/>
<br/>
               C<br/>
Любовь - это все, что мы есть...<br/>
 Am                 F               G<br/>
Все, что мы есть, все, что мы есть, e-e<br/>
               C<br/>
Любовь - это все, что мы есть...<br/>
 Am                 F       G<br/>
Все, что мы есть, все, все, о-о<br/>
<br/>
Заключение: C Am F G - 4p. C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
