{% extends "chords.html" %}

{% set title = "Второе стеклянное чудо" %}
{% set handbook_unid = "cae8026270eeb709c325679d006aefa0" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - второе стеклянное чудо<br/>
</span><span style="color:red"> <br/>
ВТОРОЕ СТЕКЛЯННОЕ ЧУДО<br/>
</span><i>Б. Гребенщиков<br/>
</i><span style="text-transform:uppercase"> <br/></span>
Вступление:<br/>
E----12-5-5-7       ----12-7-5<br/>
H----xx-x-x-x       ----xx-x-x<br/>
G----12-5-5-7       ----12-7-5<br/>
D----xx-x-x-x- - 2p. ---xx-x-x Em(II) D C D Am H7 Em<br/>
A------------       ----------<br/>
E-0----------       -0--------<br/>
<br/>
    Em                 Hm<br/>
Когда ты был мал, ты знал всё, что знал,<br/>
     C        H7         Em<br/>
И собаки не брали твой след.<br/>
    Em                  Hm<br/>
Теперь ты открыт, ты отбросил свой щит,<br/>
       C             D          Em<br/>
Ты не помнишь, кто прав и кто слеп.<br/>
      Am               H7<br/>
Ты повесил мишени на грудь,<br/>
       C       H7      Em<br/>
Стоит лишь тетиву натянуть;<br/>
      C     G<br/>
Ты ходячая цель,<br/>
       Am   H7         Em<br/>
Ты уверен, что верен твой путь.<br/>
<br/>
Проигрыш:<br/>
E----12-5-5-7       ----12-7-5<br/>
H----xx-x-x-x       ----xx-x-x<br/>
G----12-5-5-7       ----12-7-5<br/>
D----xx-x-x-x- - 2p. ---xx-x-x Em(II) D C D Am H7 Em<br/>
A------------       ----------<br/>
E-0----------       -0--------<br/>
<br/>
Но тем, кто не спит, не нужен твой сад,<br/>
В нём ведь нет ни цветов, ни камней.<br/>
И даже твой бог никому не помог,<br/>
Есть другие, светлей и сильней;<br/>
И поэтому ты в пустоте,<br/>
Как на старом забытом холсте:<br/>
Не в начале, не в центре,<br/>
И даже не в самом хвосте.<br/>
<br/>
Заключение:<br/>
E----12-5-5-7       ----12-7-5<br/>
H----xx-x-x-x       ----xx-x-x<br/>
G----12-5-5-7       ----12-7-5<br/>
D----xx-x-x-x- - 2p. ---xx-x-x Em(II) D C D Am H7 Em<br/>
A------------       ----------<br/>
E-0----------       -0--------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em(II)<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|-■-|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
