{% extends "chords.html" %}

{% set title = "Вызываю огонь на себя" %}
{% set handbook_unid = "80699b4ac58810cfc325679d006aeeb0" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СИНИЙ АЛЬБОМ - вызываю огонь на себя<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Вызываю огонь на себя<br/>
</span><i>Б. Гребенщиков</i>
 <br/>
<i>Каподастр на 2-м ладу <br/></i>
 <br/>
Вступление:<br/>
E-------------------------------------------------------------<br/>
H-------------------------------------------------------------<br/>
G-------------------------------------------------------------<br/>
D----7-------------------7-------------------7----------------<br/>
A-----7-5-3-5-3-----------7-5-3-5-3-------0---7-5-3-5-3-------<br/>
E-5-------------0-0-3-5-------------0-0-3---------------0-0-3-<br/>
Am Em – 8p.<br/>
<br/>
Am         Em      Am        Em<br/>
  Давай не будем играть в слова<br/>
Dm             Em       Am Em<br/>
  На это мы давно мастера<br/>
Am           Em       Am     Em<br/>
  Не зря мы ставили всё на перо<br/>
Dm          Em      Am Em<br/>
  В противовес топора<br/>
F<br/>
 Одни твердят про умение жить<br/>
        F/e        Dm<br/>
Другие кивают: Судьба!<br/>
     F<br/>
Но кто-то смолчал,<br/>
          G                 Am Em<br/>
А кто-то вызвал огонь на себя<br/>
<br/>
Проигрыш: Am Em – 3p.<br/>
<br/>
Am       Em       Am<br/>
  Моя способность выжить <br/>
   Em         Am         Em        Am Em<br/>
Достойна применения в житейской войне,<br/>
Am            Em      Am          Em<br/>
  Но что мне делать с женщиной, которая<br/>
Am         Em         Am  Em<br/>
  Приходит ночью ко мне.<br/>
C       C/h          F<br/>
 Она горит, как звезда<br/>
                F/e        Dm<br/>
Она глядит на меня, как судья<br/>
F<br/>
 И ей нужно решать,<br/>
G                        Am Em<br/>
 Что делать с огнём на себя<br/>
<br/>
Проигрыш: Am Em – 5p.<br/>
<br/>
Am        Em        Am       Em<br/>
  Сначала жизнь светла и легка,<br/>
Am             Em    Am  Em<br/>
  И в выборе смысла нет;<br/>
Am             Em   Am       Em<br/>
  Но те, кто играли наверняка,<br/>
Am         Em       Am  Em<br/>
  Потом рыдали ей вслед<br/>
G<br/>
 А время идёт, и если не ты,<br/>
                   F<br/>
Ей руку подаст другой.<br/>
F<br/>
 И смертельно хочется жить,<br/>
         G            F  F G Am Em<br/>
Ты знаешь, как ярок огонь<br/>
<br/>
Проигрыш: Am Em – 3p.<br/>
<br/>
Am         Em       Am      Em<br/>
  И по сомненью в твоих глазах<br/>
         Am          Em          Am Em<br/>
Я знаю - ей не безызвестен твой дом<br/>
Am          Em           Am     Em<br/>
  И я хочу петь, чтобы все танцевали<br/>
      Am     Em       Am<br/>
Но зачем-то пою о другом<br/>
C        C/h        F<br/>
 И мне хотелось бы петь, <br/>
F           F/e      Dm<br/>
 Как ты - смеясь и любя,<br/>
Dm                    Em<br/>
  Но, чтобы остался огонь,<br/>
        F           G              Am Em Am Em<br/>
Нужно чтобы кто-то вызвал его на себя.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
