{% extends "chords.html" %}

{% set title = "Гарсон №2" %}
{% set handbook_unid = "567050ddda7f283ec325679d006aee83" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАВИГАТОР - гарсон №2<br/>
</span><span style="color:red"> <br/>
ГАРСОН №2<br/>
</span><i>Б. Гребенщиков<br/>
</i><span style="font-size:12.0pt"> <br/>
</span><i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: 1:0 1:III 1:VIII C Am F G C G - 2p.<br/>
<br/>
        C        Am Asus2 Am<br/>
Гарсон №2, Гарсон №2,<br/>
             F G             C G<br/>
На наших ветвях пожухла листва;<br/>
              C           Am Asus2 Am<br/>
И, может, права людская молва,<br/>
                F G         C G<br/>
И всё - только сон, Гарсон №2.<br/>
<br/>
Вот стол, где я пил; вот виски со льдом;<br/>
Напиток стал пыль, стол сдали в музей.<br/>
А вот - за стеклом - мумии всех моих близких друзей;<br/>
А я только встал на пять минут - купить сигарет.<br/>
<br/>
Я вышел пройтись в Латинский Квартал,<br/>
Свернул с Camden Lock на Невский с Тверской;<br/>
Я вышел - духовный, а вернулся - мирской,<br/>
Но мог бы пропасть - ан нет, не пропал.<br/>
<br/>
Так Гарсон №2, Гарсон №2,<br/>
То разум горит, а то брезжит едва;<br/>
Но мысль мертва, радость моя, а жизнь - жива,<br/>
И всё это сон, Гарсон №2.<br/>
<br/>
Проигрыш: C Am F G C G - 2p.<br/>
<br/>
А колокольный звон течёт, как елей;<br/>
Ох, моя душа, встань, помолись - ну что ж ты спешишь?<br/>
А здесь тишина, иконы битлов, ладан-гашиш;<br/>
А мне всё равно - лишь бы тебе было светлей.<br/>
<br/>
Так Гарсон №2, Гарсон №2,<br/>
На кладбище - тишь; на наших гробах - цветы да трава,<br/>
И, похоже, права людская молва,<br/>
                F G         C C/h Am<br/>
И всё - только сон, Гарсон №2;<br/>
           F                G            C<br/>
А раз это сон - что ж ты стоишь, Гарсон №2?!<br/>
<br/>
Заключение: C Am F G C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
