{% extends "chords.html" %}

{% set title = "Генерал Скобелев" %}
{% set handbook_unid = "0433f1373b29de5ec325679d006af030" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАША ЖИЗНЬ С ТОЧКИ ЗРЕНИЯ ДЕРЕВЬЕВ - генерал скобелев<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">ГЕНЕРАЛ СКОБЕЛЕВ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу <br/></i>
 <br/>
Вступление: Am G F Em - 8p.<br/>
<br/>
Am      G         F         Em  Am           G        F    Em<br/>
  Мне снился генерал Скобелев, только что попавший в тюрьму.<br/>
     Am          G       F         Em    Am      G     F Em<br/>
Мне снилось, что он говорил с водой, и вода отвечала ему.<br/>
Am   G      F       Em   Am         G       D D<br/>
  Деревья слушали их, вокруг них была пустота.<br/>
Am         G         F             Em        F        G         Am<br/>
  Была видна только тень от круга, тень от круга и в ней тень креста.<br/>
<br/>
Проигрыш: Am G F Em - 4p.<br/>
<br/>
Дело было на острове женщин, из земли поднимались цветы.<br/>
Вокруг них было Белое море, в море громоздились льды.<br/>
Женщины стояли вокруг него, тонкие, как тополя.<br/>
Над их ветвями поднималась Луна, и под ногами молчала земля.<br/>
<br/>
Проигрыш: Am G F Em - 4p.<br/>
<br/>
Генерал оглянулся вокруг и сказал: "Прекратите ваш смех.<br/>
Дайте мне верёвку и мыло, и мы сошьём платье для всех.<br/>
Немного бересты на шапки, обувь из дести тысяч трав;<br/>
Потом подкинем рябины в очаг, и мы увидим, кто из нас прав."<br/>
<br/>
Проигрыш: Am G F Em - 4p.<br/>
<br/>
Никто не сказал ни слова, выводы были ясны.<br/>
Поодаль кругом стояли все те, чьи взгляды были честны.<br/>
Их лица были рябы от сознанья своей правоты;<br/>
Их пальцы плясали балет на курках, и души их были пусты.<br/>
<br/>
Проигрыш: Am G F Em - 8p.<br/>
<br/>
Какой-то случайный прохожий сказал: "Мы все здесь, вроде, свои.<br/>
Пути Господни не отмечены в картах, на них не бывает ГАИ.<br/>
Можно верить обществу, можно верить судьбе,<br/>
Но если ты хочешь узнать Закон, то ты узнаешь его в себе."<br/>
<br/>
Проигрыш: Am G F Em - 4p.<br/>
<br/>
Конвой беспокойно задвигался, пришедший был невидим для них.<br/>
А генерал продолжал чинить валенки, лицо его скривилось на крик.<br/>
Он сказал: "В такие времена, как наши, нет места ненаучной любви", -<br/>
И руки его были до локтей в землянике, а может быть - по локоть в крови.<br/>
<br/>
Проигрыш: Am G F Em - 4p.<br/>
<br/>
Между тем, кто-то рядом бил мух, попал ему ложкой в лоб.<br/>
Собравшиеся скинулись, собрали на приличный гроб.<br/>
Священник отпел его, судья прочитал приговор;<br/>
И слева от гроба стоял председатель, а справа от гроба был вор.<br/>
<br/>
Проигрыш: Am G F Em - 4p.<br/>
<br/>
Этот случай был отмечен в анналах, но мало кто писал о нём.<br/>
Тот, кто писал, вспоминал об общественном, чаще вспоминал о своём.<br/>
А деревья продолжают слушать, гудит комариная гнусь;<br/>
И женщины ждут продолженья беседы, а я жду, пока я проснусь.<br/>
<br/>
Заключение: Am G F Em - 12p. Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
