{% extends "chords.html" %}

{% set title = "Герои" %}
{% set handbook_unid = "8d3e2effc010deacc325679d006af135" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЭЛЕКТРИЧЕСТВО - герои<br/>
</span><span style="color:red"> <br/>
ГЕРОИ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: D A G A – 8p.<br/>
<br/>
D           A            G    A<br/>
 Порой мне кажется, что мы герои,<br/>
      D        A       G      A<br/>
Мы стоим у стены, ничего не боясь.<br/>
D            A           G    A<br/>
 Порой мне кажется, что мы герои,<br/>
   D       A            G            A<br/>
Порой мне кажется, что мы - просто мразь.<br/>
<br/>
И часто мы играем бесплатно,<br/>
Таскаем колонки в смертельную рань.<br/>
Порой мне кажется, что мы идиоты,<br/>
Порой мне кажется, что мы  просто… <br/>
<br/>
Проигрыш: D A G A – 4р.<br/>
<br/>
И, как у всех, у меня есть ангел,<br/>
Она танцует за моей спиной.<br/>
Она берёт мне кофе в "Сайгоне",<br/>
И ей всё равно, что будет со мной.<br/>
<br/>
Она танцует без состраданья,<br/>
Она танцует, чтобы стало темно.<br/>
И кто-то здесь, а кто-то будет,<br/>
А мне - мне всё равно.<br/>
<br/>
Проигрыш: D A G A – 8р.<br/>
<br/>
И когда я стою в "Сайгоне",<br/>
Проходят люди на своих двоих.<br/>
А большие люди - в больших машинах,<br/>
Но я не хотел бы быть одним из них.<br/>
<br/>
И разве это кому-то важно,<br/>
Что сладкая Джейн стала моей?<br/>
Из этой грязи не выйти в князи;<br/>
Мне будет лучше, если я буду с ней.<br/>
<br/>
И я хотел бы говорить на равных;<br/>
Но если не так, то вина не моя.<br/>
И если кто-то здесь должен меняться,<br/>
То мне не кажется, что это я.<br/>
<br/>
Заключение: D A G A – 8р. D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
