{% extends "chords.html" %}

{% set title = "Генерал" %}
{% set handbook_unid = "cdbbb1fb1c7bb332c325679d006af1a1" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РУССКИЙ АЛЬБОМ - генерал<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Генерал<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 7-м ладу<br/></i>
 <br/>
Вступление:<br/>
       C <br/>
E----0-------0-<br/>
H---------1----<br/>
G--------0-0---<br/>
D-0h2---2---2--<br/>
A------3-------<br/>
E--------------<br/>
<br/>
E------------0-----------<br/>
H-1--0---1-----3--1--0-1-<br/>
G------------------------<br/>
Снесла мне крышу кислота,<br/>
    C               F<br/>
И свод небес надо мной<br/>
  F       C<br/>
Поёт тишиной,<br/>
    C             G<br/>
И вся природа пуста<br/>
                   G7<br/>
Такой особой пустотой.<br/>
<br/>
     C                             G <br/>
Генерал, разрешите войти без доклада;<br/>
        G7                                  C G<br/>
Не стреляйте в меня, посидим полчаса в тишине.<br/>
     C                                             G<br/>
Я хотел вам сказать… - хотя, может быть, лучше не надо:<br/>
         G7                                    C G<br/>
То, что можно сказать, без того уже видно по мне.<br/>
     C                                               G<br/>
Я устал, что мы столько лет пьём эту дрянь, и, в придачу,<br/>
       G7                                   C G<br/>
Нам никак уже не отличить, где враги, где свои:<br/>
     C        A                Dm<br/>
Генерал, ах, уедемте лучше на дачу - <br/>
     F                 C          G       C<br/>
Получать, генерал, кислоту из сосновой хвои. <br/>
<br/>
Проигрыш: C G G7 C G C G G7 C G<br/>
<br/>
         C                                     G <br/>
В подмосковных лесах листопад - веселей, чем медали;<br/>
         G7                                C G<br/>
Вместо ржавых штыков - вакханалия белых берёз.<br/>
   C                                   G<br/>
А НЗ, генерал, - то, которое нам не додали, -<br/>
      G7                                      C <br/>
Прикажите штабным, пусть потратят на девок и коз.<br/>
        Dm                    G                   C<br/>
Пусть живут, как хотят, ну а мы с вами - тропкою тесной:<br/>
     Dm              F              G<br/>
Самовар, философия, колба и чаша вина:<br/>
       C                                         G<br/>
Так в безлунную ночь нам откроется суть Поднебесной:<br/>
      G7                                     C G<br/>
Ах, запомнить бы суть - и Россия опять спасена<br/>
<br/>
Заключение: C G G7 C G C G G7 F G# B C 5:III 4:II 3:0 C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
