{% extends "chords.html" %}

{% set title = "Гиневер" %}
{% set extra_title = "(инструментал)" %}
{% set handbook_unid = "c69fc20341720963c325679d006af34e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ▼ - гиневер<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Гиневер<br/>
</span><i>А. Романов<br/></i>
 <br/>
  Gm     F    Dm/f  Gm  Gm     F    Dm/f  Gm<br/>
E--3-5-6-5-3-5-1---1-3---3-5-6-5-3-5-1---1-3<br/>
H-3--------------3------3--------------3----<br/>
G-------------------------------------------<br/>
D-------------------------------------------<br/>
      B     C     G     D Gm     F    Dm/f  Gm<br/>
E-10-10-8-6-8-7-5-7-5-3-5--3-5-6-5-3-5-1---1-3-<br/>
H-------------------------3--------------3-----<br/>
G----------------------------------------------<br/>
D----------------------------------------------<br/>
<br/>
  Gm     F    Dm/f  Gm  Gm     F    Dm/f  Gm<br/>
E--3-5-6-5-3-5-1---1-3---3-5-6-5-3-5-1---1-3<br/>
H-3--------------3------3--------------3----<br/>
G-------------------------------------------<br/>
D-------------------------------------------<br/>
      B     C     G     D Gm     F    Dm/f  Gm<br/>
E-10-10-8-6-8-7-5-7-5-3-5--3-5-6-5-3-5-1---1-3-<br/>
H-------------------------3--------------3-----<br/>
G----------------------------------------------<br/>
D----------------------------------------------<br/>
        Gm       Gm<br/>
E-10-6-5-3-10-6-5-3-<br/>
H-------------------<br/>
G-------------------<br/>
D-------------------<br/>
<br/>
    Gm           F       Dm/f        Gm    Gm            F        Dm/f       Gm<br/>
E----3-3-5-5-6-6-8-6h8-6-3-5--5h6-5-1-3-----3-3-5-5-6-6-8-6h8-6-3-5--5h6-5-1-3-<br/>
H-3-3------------------------------------3-3-----------------------------------<br/>
G------------------------------------------------------------------------------<br/>
D------------------------------------------------------------------------------<br/>
            B       C     G     D    Gm           F       Dm/f        Gm<br/>
E-3-3h5-6-8-10--8-6-8-8h6-7-7h3-5-----3-3-5-5-6-6-8-6h8-6-3-5--5h6-5-1-3-<br/>
H----------------------------------3-3-----------------------------------<br/>
G------------------------------------------------------------------------<br/>
D------------------------------------------------------------------------<br/>
<br/>
        Gm       Gm<br/>
E-10-6-5-3-10-6-5-3-<br/>
H-------------------<br/>
G-------------------<br/>
D-------------------<br/>
<br/>
    Gm           F       Dm/f        Gm    Gm            F        Dm/f       Gm<br/>
E----3-3-5-5-6-6-8-6h8-6-3-5--5h6-5-1-3-----3-3-5-5-6-6-8-6h8-6-3-5--5h6-5-1-3-<br/>
H-3-3------------------------------------3-3-----------------------------------<br/>
G------------------------------------------------------------------------------<br/>
D------------------------------------------------------------------------------<br/>
            B       C     G     D    Gm           F       Dm/f        Gm<br/>
E-3-3h5-6-8-10--8-6-8-8h6-7-7h3-5-----3-3-5-5-6-6-8-6h8-6-3-5--5h6-5-1-3-<br/>
H----------------------------------3-3-----------------------------------<br/>
G------------------------------------------------------------------------<br/>
D------------------------------------------------------------------------<br/>
<br/>
         Gm    G(III)     <br/>
E-10-6-5-3-10-6-6-7-<br/>
H-------------------<br/>
G-------------------<br/>
D-------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
