{% extends "chords.html" %}

{% set title = "Гибралтар/Лабрадор" %}
{% set handbook_unid = "91a21f4e750a32f3c32569230040bd3b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - ТЕРРАРИУМ - ПЯТИУГОЛЬНЫЙ ГРЕХ - гибралтар/лабрадор<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Гибралтар/Лабрадор<br/>
</span><i>В.Бутусов - А.Гуницкий<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: E - 8p.<br/>
<br/>
Am                  F<br/>
  Песню звонкую пропела<br/>
Dm                   G  E<br/>
  И на изгородь взлетела<br/>
Am                    F<br/>
  Птица в белых кружевах<br/>
Dm                   G E G E G E <br/>
  И в шиншилловых мехах.<br/>
<br/>
Am       F Dm      G E<br/>
Гибралтар, Лабрадор,<br/>
Am                   F<br/>
  За окном крадется вор,<br/>
Dm G    E<br/>
  Лабрадор.<br/>
<br/>
Если спелая малина<br/>
Почернела без причины<br/>
И осыпалась кора<br/>
Dm                    G E G E<br/>
  Значит кончилась игра<br/>
<br/>
Гибралтар, Лабрадор,<br/>
Из трубы свисает вор,<br/>
Лабрадор.<br/>
<br/>
Проигрыш: 4:II 3:II 2:0 Am Am Am Dm Dm Dm G E - 2p. 4:II 3:II 2:0<br/>
<br/>
В желтом облаке Сансары<br/>
Вертолет страдает старый<br/>
Не поет, закрыл свой рот<br/>
Dm                 G E G E<br/>
  Виртуозный полиглот. <br/>
<br/>
Лабрадор, Гибралтар<br/>
Начинается пожар,<br/>
Гибралтар.<br/>
<br/>
Многоликие монголы<br/>
Пьют карбидовые смолы,<br/>
Турки скачут по гробам<br/>
Dm                     G E G E G E G E<br/>
  Прямо в город Амстердам. <br/>
<br/>
Лабрадор, Гибралтар<br/>
Закрывается ангар.<br/>
Гибралтар.<br/>
<br/>
Заключение: 4:II 3:II 2:0 Am Am Am Dm Dm Dm G E - 4p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
