{% extends "chords.html" %}

{% set title = "Глядя в телевизор" %}
{% set handbook_unid = "74709dc8a7fe8715c325679d006af2df" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - глядя в телевизор<br/>
</span><span style="color:red"> <br/>
ГЛЯДЯ В ТЕЛЕВИЗОР<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление:<br/>
   E<br/>
E--------------------------------<br/>
H--------------------------------<br/>
G--------------------------------<br/>
D------------2-----------------2- - 3p. G<br/>
A--------2-4---4-----------2-4---<br/>
E-0—-0-4----------3-0-—0-4-------<br/>
<br/>
    A        G       C<br/>
Я знал её с детских лет,<br/>
F                  G<br/>
 Я помню всё, как будто вчера;<br/>
      Dm             G#              G(III) E<br/>
Я не помню отца, но мать была очень добра.<br/>
    Am<br/>
И всё, что в жизни случалось не так,<br/>
   D<br/>
Немытую посуду и несчастный брак<br/>
    F             G<br/>
Её мать вымещала по вечерам,<br/>
  С<br/>
Глядя в телевизор.<br/>
 Am<br/>
Глядя в телевизор.<br/>
  C<br/>
Глядя в телевизор.<br/>
 Am<br/>
Глядя в телевизор.<br/>
<br/>
Проигрыш:<br/>
  G                                   G<br/>
E-------------------------------     ---------------------------<br/>
H-------------------------------     ---------------------------<br/>
G-------------------------------  D  --------------------------- <br/>
D------------7-----------------5     ---------------------------<br/>
A--------5-7---7-----------5-7--     ---------------------------<br/>
E-3-—3-7---------6-3—--3-7------     -3---3-6-3-6-3---3-6-3-6-3-<br/>
<br/>
Нам тридцать пять на двоих,<br/>
Мы не спускаем друг с друга глаз -<br/>
С обеих сторон всё, кажется, в первый раз;<br/>
Но каждый вечер начиналось опять:<br/>
"Прости, но сегодня в семь тридцать пять..."<br/>
И она забывала, кто я такой,<br/>
Глядя в телевизор.<br/>
Глядя в телевизор.<br/>
Глядя в телевизор.<br/>
Глядя в телевизор.<br/>
<br/>
Проигрыш: C G Am Em F G Em E<br/>
C Am B F Em C Am F B Am Em F Em F G Am G<br/>
<br/>
Теперь у неё есть дочь -<br/>
Другое поколение, другие дела;<br/>
Ей только пять лет, но время летит как стрела;<br/>
И хотя она пока что не умеет читать,<br/>
Но уже знает больше, чем знала мать,<br/>
Ведь она видит сразу много программ,<br/>
  C<br/>
Глядя в телевизор.<br/>
  Am<br/>
Глядя в телевизор.<br/>
  C<br/>
Глядя в телевизор.<br/>
  Am<br/>
Глядя в телевизор.<br/>
  C<br/>
Глядя в телевизор.<br/>
  Am<br/>
Глядя в телевизор.<br/>
  C<br/>
Глядя в телевизор.<br/>
  Am<br/>
Глядя в телевизор.<br/>
<br/>
  C<br/>
Глядя в телевизор.<br/>
  Am<br/>
Глядя в телевизор.<br/>
  C<br/>
Глядя в телевизор.<br/>
  Am<br/>
Глядя в телевизор.<br/>
  C<br/>
Глядя в телевизор.<br/>
  Am<br/>
Глядя в телевизор.<br/>
  C<br/>
Глядя в телевизор.<br/>
  Am<br/>
Глядя в телевизор.<br/>
<br/>
  F<br/>
Глядя в телевизор.<br/>
  G              C<br/>
Глядя в телевизор.<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
