{% extends "chords.html" %}

{% set title = "Глаз" %}
{% set handbook_unid = "825de665867af8c9c325679d006aeeb6" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕНЬ СЕРЕБРА - глаз<br/>
</span><span style="color:red"> <br/>
ГЛАЗ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
Dm(V) Am(V) B(VI) Am(V) Dm(V) Am(V) F(V) <br/>
Dm(V) Am(V) B(VI) Am(V) Dm(V) Am(V)<br/>
Dm(V) B(VI) Dm(V) F(V) - 2p.<br/>
<br/>
Dm(V)<br/>
Дайте мне глаз, дайте мне холст,<br/>
           Dm(V)                       Am(V)<br/>
Дайте мне стену, в которую можно вбить гвоздь - <br/>
         B(VI)       C(VIII)Dm(V) B(VI) Am(V)<br/>
Ко мне назавтра вы придёте сами. <br/>
Dm(V)<br/>
Дайте мне топ, дайте мне ход,<br/>
          Dm(V)                     Am(V)<br/>
Дайте мне спеть эти пять нелогичных нот,<br/>
        B(VI)    C(VIII)  Dm(V) B(VI) Am(V)<br/>
Тогда меня можно брать руками.<br/>
<br/>
    Dm(V) C(III)  G(III)   Dm(V)<br/>
Как много комнат, полных людей;<br/>
    Dm(V)  C(III)  G(III)  Dm(V)<br/>
Прозрачных комнат, полных людей,<br/>
   Dm(V)  C(III)  G(III)   Dm(V)<br/>
Служебных комнат, полных людей,<br/>
   B(VI)<br/>
Но пока нет твоей любви,<br/>
      C(VIII)<br/>
Мне всегда<br/>
                        Dm(V)<br/>
Будет хотеться чего-то ещё.<br/>
<br/>
Проигрыш: Dm(V) B(VI) Dm(V) F(V) - 2p.<br/>
<br/>
Дайте мне ночь, дайте мне час,<br/>
Дайте мне шанс сделать что-то из нас,<br/>
Иначе всё, что вам будет слышно, это "что вам угодно?";<br/>
Может быть нет, может быть да,<br/>
На нашем месте в небе должна быть звезда;<br/>
Ты чувствуешь сквозняк оттого, что это место свободно?<br/>
<br/>
Как много комнат, полных людей,<br/>
Служебных комнат, полных людей,<br/>
Прозрачных комнат, полных людей,<br/>
Но пока нет твоей любви,<br/>
Мне всегда<br/>
Будет хотеться чего-то ещё.<br/>
<br/>
Проигрыш: Dm(V) B(VI) Dm(V) F(V) - 2p.<br/>
Dm(V) B(VI) - 8p.<br/>
<br/>
Дайте мне глаз, дайте мне холст,<br/>
Дайте мне стену, в которую можно вбить гвоздь - <br/>
И ко мне назавтра вы придёте сами. <br/>
Дайте мне топ, дайте мне ход,<br/>
Дайте мне спеть эти пять нелогичных нот,<br/>
Тогда меня можно брать руками.<br/>
<br/>
Как много комнат, полных людей;<br/>
Прозрачных комнат, полных людей,<br/>
Служебных комнат, полных людей,<br/>
Но пока нет твоей любви,<br/>
Мне всегда<br/>
         C(VIII)<br/>
Будет хотеться чего-то…<br/>
  B(VI)<br/>
Пока нет твоей любви,<br/>
      C(VIII)<br/>
Мне всегда<br/>
        C(VIII)<br/>
Будет хотеться чего-то…<br/>
  B(VI)<br/>
Пока нет твоей любви,<br/>
       C(VIII)<br/>
Мне всегда<br/>
                        Dm(V) B(VI) Dm(V) F(V) <br/>
Будет хотеться чего-то ещё!<br/>
<br/>
Заключение:<br/>
Dm(V) B(VI) Dm(V) F(V)<br/>
  Dm(V)   B(VI)    Dm(V)<br/>
E-------------------------<br/>
H-------------------------<br/>
G-7-6-5-4-3---4-3--7-6-5-4 F(V) - 2p.<br/>
D----------3-4------------<br/>
A-------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Dm(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Am(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VI     B(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     F(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">  VIII   C(VIII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
