{% extends "chords.html" %}

{% set title = "Господу видней" %}
{% set handbook_unid = "c0711c03ec743608c325753c005374d6" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛОШАДЬ БЕЛАЯ - господу видней<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
господу видней<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу <br/></i>
 <br/>
<span style="color:silver">E-4</span><span style="color:gray">~~~~~~~~~~</span>~~~~~~~~~~~~~~<br/>
<br/>
Вступление: <br/>
E----------<br/>
H----------<br/>
G---------- - 4p.<br/>
D-0--------<br/>
A--1-0-----<br/>
E-----1-3-0<br/>
<br/>
(Dm Gm6/b Gm6/a Dm/f Gsus2* Gsus2/e*) = Dm* - 6p.<br/>
<br/>
Dm*<br/>
  На мгновенье стало тихо<br/>
Dm*<br/>
   И в этой тишине<br/>
Dm*<br/>
 Позволь мне передать тебе то,<br/>
Dm*<br/>
  Что было передано мне<br/>
<br/>
Проигрыш: Dm* - 4p.<br/>
 Dm Gm6/b Gm6/a Dm/f Gsus2* Gsus2/e* Dm Gm6/b Gm6/a Dm/f Gsus2* Gsus2/e*<br/>
E----0----------1----3--------------6-5--3----------1----0--------------<br/>
H-3--------------------------------------------------------------------- - 2p.<br/>
G-----------------------------------------------------------------------<br/>
D-----------------------------------------------------------------------<br/>
<br/>
<br/>
Можно выйти одному в поле <br/>
И знать, что ты вооружён<br/>
Можно идти по пути, <br/>
В конце которого стоит Престер Джон<br/>
<br/>
Можно возвысить себя<br/>
Выше Озиманда - Царя Царей<br/>
Можно учиться смирению <br/>
У стёртых ногами придорожных камней<br/>
<br/>
Gm                  F<br/>
  Но куда бы ты ни шёл <br/>
  Gsus2/e*              Dm<br/>
До самого конца своих дней<br/>
C                    B           A<br/>
 Обещай, что будешь помнить одно - <br/>
A             Dm*<br/>
  Господу видней.<br/>
<br/>
Проигрыш: <br/>
     Dm Gm6/b Gm6/a Dm/f Gsus2* Gsus2/e* Dm Gm6/b Gm6/a Dm/f Gsus2* Gsus2/e*<br/>
    E----0----------1----3--------------6-5--3----------1----0--------------<br/>
Dm* H-3--------------------------------------------------------------------- <br/>
    G-----------------------------------------------------------------------<br/>
    D-----------------------------------------------------------------------<br/>
<br/>
Можно раздать себя <br/>
Безрадостным и жадным рукам<br/>
Можно ходить по-албански<br/>
По стенам, фонарям, потолкам<br/>
<br/>
Можно гордиться тем, <br/>
Что познал до конца пустоту<br/>
Гарантировать перерождение <br/>
С серебряной ложкой во рту<br/>
<br/>
Gm                F<br/>
  Пусть ангелы несут тебя<br/>
 Gsus2/e*           Dm<br/>
Дорогой небесных огней<br/>
C    B         A<br/>
 Но не забывай - <br/>
A             Dm*<br/>
  Господу видней.<br/>
<br/>
Проигрыш: Dm*<br/>
<br/>
Gm             F                   Dm<br/>
  Может быть, будет тепло, как ты хочешь<br/>
Gm             F                   Dm<br/>
  Может быть, с каждым днём будет делаться всё холодней<br/>
Gm            Dm     Gsus2/e*         Dm<br/>
  Не верь ни единому сказанному мной слову<br/>
C                      B          A<br/>
  Но прислушайся к мерцающей звезде - <br/>
A             Dm* Dm*<br/>
  Господу видней.<br/>
<br/>
Заключение:<br/>
 Dm  Gm6/b Gm6/a Dm/f Gsus2* Gsus2/e* Dm Gm6/b Gm6/a Dm/f Gsus2* Gsus2/e*<br/>
E-5-5--3-5-6-5-0-1-1--0-0----3--------1-1--------------------------------<br/>
H------------------------------------------------------------------------<br/>
G-----------------------------------------3-3--------2-2--------0-0------ - 6р.<br/>
D---------------------------------------------------------2-2------------<br/>
A------------------------------------------------------------------------<br/>
E------------------------------------------------------------------------<br/>
<br/>
 Dm        Gm6/b  Gm6/a  Dm/f       Gsus2* Gsus2/e* <br/>
E-1--1--1--1--3--3--3--3--1--1--1--1--3--3--0--0---<br/>
H--------------------------------------------------<br/>
G-------------------------------------------------- - 4р. Dm…<br/>
D--------------------------------------------------<br/>
A--------------------------------------------------<br/>
E--------------------------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Gm6/b<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Gm6/a<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Gsus2*<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Gsus2/e*<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
