{% extends "chords.html" %}

{% set title = "Город" %}
{% set extra_title = "(Ю.Кукин)" %}
{% set handbook_unid = "8124ff2b4f3fdfd543257c6100771bdc" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - город (Ю. Кукин)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
город <br/>
</span><i>Ю.Кукин<br/>
<br/>
Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: Am - 4p.<br/>
<br/>
 Am                           H7<br/>
Горы далекие, горы туманные, горы,<br/>
Dm           E             Am F E<br/>
И улетающий, и умирающий снег.<br/>
Am                                   H7<br/>
Если вы знаете - где-то есть город, город,<br/>
Dm                E                        Am<br/>
Если вы помните - он не для всех, не для всех.<br/>
   A7                              Dm<br/>
Странные люди заполнили весь этот город:<br/>
 F               Dm              E<br/>
Мысли у них поперёк и слова поперёк,<br/>
Am                                  H7<br/>
Из разговоров они признают только споры,<br/>
Dm             E              Am<br/>
И никуда не выходит оттуда дорог.<br/>
<br/>
Вместо домов у людей в этом городе небо,<br/>
Руки любимых у них вместо квартир.<br/>
Я никогда в этом городе не был, не был,<br/>
Я все ищу и никак мне его не найти.<br/>
Если им больно - не плачут они, а смеются,<br/>
Если им весело - грустные песни поют.<br/>
Женские волосы, женские волосы вьются,<br/>
И неустроенность им заменяет уют.<br/>
<br/>
Я иногда проходил через этот город -<br/>
Мне бы увидеть, а я его не замечал.<br/>
И за молчанием или за разговором<br/>
Шел я по городу, выйдя и не повстречав.<br/>
Поездом - нет! Поездом мне не доехать.<br/>
И самолетом, тем более, не долететь.<br/>
Он задрожит миражом, он откликнется эхом.<br/>
И я найду, я хочу, и мне надо хотеть.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
