{% extends "chords.html" %}

{% set title = "Голубиное слово" %}
{% set handbook_unid = "91b04494a5817eca43257cad00113ef8" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ИНТЕРНЕТ-СИНГЛЫ - голубиное слово<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
голубиное слово <br/>
</span><i>Б.Гребенщиков<br/>
<br/>
Каподастр на 3-м ладу <br/></i>
 <br/>
Вступление:<br/>
E--0-2sl5---0---1h0-0------------0-<br/>
H-0--------3-------3---------0-1---<br/>
G---------------------------2------<br/>
D------------------------2-3-------<br/>
A----------------------------------<br/>
E----------------------------------<br/>
<br/>
E-1-0-----0-1--5-7------------0--------0---0-1-0-0-----<br/>
H----0---3--------------------------0-1---------1----0-<br/>
G--------------------------9-------2-------------------<br/>
D--------------------7-9-10-----2-3--------------------<br/>
A-----------------7-8----------------------------------<br/>
E------------------------------------------------------<br/>
<br/>
                         |быстро 3 раза |<br/>
E-8-7-5------------------|--------------|----------------<br/>
H------------------10-12-|---10----12-10|----------------<br/>
G-----------------9------|--9--9--9-----|--10-9----------<br/>
D-----------7-9-10-------|10----10------|------10-9----2-<br/>
A--------7-8-------------|--------------|--------------0-<br/>
E------------------------|--------------|----------------<br/>
                         |быстро 3 раза |<br/>
<br/>
E-0-1-0--0-1-0-------0---0-7-0-5-0-7-0-5-0-7-0-5-0-7-0-5-<br/>
H-----------------0-1------------------------------------<br/>
G----------------2--------------------------------------- Am<br/>
D-------------2-3----------------------------------------<br/>
A--------------------------------------------------------<br/>
E--------------------------------------------------------<br/>
<br/>
   E-------------------          -------------------<br/>
   H-------------------          -------------------<br/>
Am G------------------- Am Am Am ------------------- Am 4:0 <br/>
   D-0h2-2-0---0-2-----          --0---0-2-0----0-2-<br/>
   A--------0-3---0----          -0-0-3-------------<br/>
   E---------------3-0-          -----------3-3-----<br/>
<br/>
Am    С                  G<br/>
 Нарисованная ветками сирени;<br/>
Am  С                    G<br/>
 Написанная листьями по коже;<br/>
Dm                        G<br/>
 Самым своим последним дыханьем<br/>
Dm                             G<br/>
Я скажу: Господи, любимый, спасибо...<br/>
Am   С                    G<br/>
 За то, что я сподобился видеть<br/>
 Am        C                 G<br/>
Как Ты сгораешь в пламени заката,<br/>
Dm                    G    G+c:G<br/>
 Чтобы никогда не вернуться,<br/>
     Dm                   G<br/>
Потому что ты никуда не уходишь;<br/>
         C               G        Am<br/>
Просто ещё одному будет некуда деваться,<br/>
  C                     G         Am<br/>
Ещё одного за руку и в сад над рекою,<br/>
Dm                         G   G+c:G<br/>
 Где ходят по крыльям херувимов,<br/>
Dm                            G<br/>
 Потому что им никто не дал имя -<br/>
                Am     1:V 1:0 2:I 2:0 Am Am/g<br/>
И, значит, всё молча...<br/>
<br/>
А завтра будет то, что было раньше;<br/>
Священный союз земли и неба;<br/>
Если повезёт, поймаешь пулю зубами,<br/>
Одна только красота косит без пощады;<br/>
Потому что она держит суд в сердце,<br/>
Потому что она держит путь на север,<br/>
Где ни времени, ни объяснений,<br/>
Один только снег до горизонта.<br/>
Значит, ещё перед одним раскроется небо<br/>
С сияющими от счастья глазами,<br/>
Дела Твои, Господи, бессмертны<br/>
И пути твои неисповедимы<br/>
               Am   1:V 1:0 2:I 2:0 Am<br/>
И все в одну сторону...<br/>
<br/>
<br/>
Проигрыш: <br/>
Am C G, Am C G, Dm G, Dm G - 2p. <br/>
Am 1:V 1:0 2:I 2:0 Am<br/>
<br/>
Напишите это слово на камне,<br/>
Раскрасьте его северным сияньем,<br/>
Наполните голубиной кровью<br/>
Dm                              Am  1:V 1:0 2:I 2:0<br/>
 И забудьте навсегда, что оно значит;<br/>
Голуби возьмут его в небо,<br/>
Так высоко, что больше не видно,<br/>
И небо расколется на части,<br/>
Dm                      Am<br/>
 Но об этом никто не узнает;<br/>
А мы сгорим в пламени заката,<br/>
Чтобы остаться навсегда в саду над рекою,<br/>
Потому что это нашими губами<br/>
Ты сказал однажды, раз и навсегда<br/>
            Am<br/>
Голубиное слово...<br/>
<br/>
Заключение:<br/>
E----0-----0-1-5-7-<br/>
H-0-3---0-1--------<br/>
G------2-----------<br/>
D------------------<br/>
A------------------<br/>
E------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G+c<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/g<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
