{% extends "chords.html" %}

{% set title = "Город" %}
{% set handbook_unid = "850d311ff6c49adcc325679d006af120" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕСЯТЬ СТРЕЛ - город<br/>
</span><span style="color:red"> <br/>
ГОРОД<br/>
</span><i>А. Хвостенко, А. Волхонский - Ф. де Милано<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
  Am    E Am        Am     E Am        Dm               Am      E<br/>
E--------------------0-------------0---1-0------------1-0-----------0-<br/>
H-1-0-------0-1--------3-1-0-1-1-3---------3-1-0-1-3------3-1-3-0-----<br/>
G-----2-1-2-----2--------------------2----------------------------1---<br/>
D------------------2-------------------0--------------0---------------<br/>
A-0-------0------------------0----------------------------------------<br/>
E-----0---------------------------------------------------------0-----<br/>
    Am    E Am        Am     E Am        Dm               Am      E<br/>
E----------------------0-------------0---1-0------------1-0-----------0-<br/>
H---1-0-------0-1--------3-1-0-1-1-3---------3-1-0-1-3------3-1-3-0-----<br/>
G-------2-1-2-----2--------------------2----------------------------1---<br/>
D-2------------------2-------------------0--------------0---------------<br/>
A---0-------0------------------0----------------------------------------<br/>
E-------0---------------------------------------------------------0-----<br/>
<br/>
  Am      E  Am         Am   E Am<br/>
E----------------------0-------------0-<br/>
H---1-0-------0-1--------3-1-0-1-1-3---<br/>
G-------2-1-2-----2--------------------<br/>
D-2------------------2-----------------<br/>
A---0-------0------------------0-------<br/>
E-------0------------------------------<br/>
Под небом голубым есть город золотой,<br/>
     Dm              Am       E<br/>
-----1-0------------1-0-----------0-<br/>
---------3-1-0-1-3------3-1-3-0-----<br/>
---2----------------------------1---<br/>
-----0--------------0---------------<br/>
------------------------------------<br/>
------------------------------0-----<br/>
С прозрачными воротами и яркою звездой.<br/>
    Am    E   Am      Am     E Am<br/>
-----------------------0-------------0-<br/>
----1-0-------0-1--------3-1-0-1-1-3---<br/>
--------2-1-2-----2--------------------<br/>
-2-------------------2-----------------<br/>
----0-------0------------------0-------<br/>
--------0------------------0-----------<br/>
А в городе том сад, всё травы да цветы;<br/>
  Dm                Am    E Am<br/>
---1-0------------1-0---------------<br/>
-------3-1-0-1-3------3-1-0---0-1---<br/>
-2--------------------------2-----2-<br/>
---0--------------0-----------------<br/>
----------------------------0-------<br/>
--------------------------0---------<br/>
Гуляют там животные невиданной красы.<br/>
  A7              Dm<br/>
Одно - как жёлтый огнегривый лев,<br/>
   G7            C<br/>
Другое - вол, исполненный очей;<br/>
  Dm                   F  E<br/>
С ними золотой орёл небесный,<br/>
Dm                        F E Am<br/>
Чей так светел взор незабываемый.<br/>
<br/>
Проигрыш:<br/>
    Am  E  Am          Am    E Am        Dm               Am      E<br/>
E----------------------0-------------0---1-0------------1-0-----------0-<br/>
H---1-0-------0-1--------3-1-0-1-1-3---------3-1-0-1-3------3-1-3-0-----<br/>
G-------2-1-2-----2--------------------2----------------------------1---<br/>
D-2------------------2-------------------0--------------0---------------<br/>
A---0-------0------------------0----------------------------------------<br/>
E-------0---------------------------------------------------------0-----<br/>
Флейта:<br/>
E---17~~~~~~~~~~~~~~~~~17~~~~~~~~~~~~~~~~13~~~~~~~~~~~~~~~13~~~~~~12~~~~ - 2p.<br/>
H-----------------------------------------------------------------------<br/>
G-----------------------------------------------------------------------<br/>
Бас:<br/>
G-----------------------------------------------------------------------<br/>
D----------------------2-----------------3-2------------3-2-------------<br/>
A---3-2------------------5-3-2-3-------0-----5-3-2-3-5------5-3-5-2-----<br/>
E-0-----5-4-5--------0--------------------------------------------------<br/>
<br/>
А в небе голубом горит одна звезда;<br/>
Она твоя, о ангел мой, она твоя всегда.<br/>
Кто любит, тот любим, кто светел, тот и свят;<br/>
Пускай ведёт звезда тебя дорогой в дивный сад.<br/>
Тебя там встретит огнегривый лев,<br/>
И синий вол, исполненный очей;<br/>
С ними золотой орёл небесный,<br/>
Чей так светел взор незабываемый.<br/>
<br/>
Заключение: <br/>
    Am  E   Am                 <br/>
E-------------<br/>
H---1-0-------<br/>
G-------2-1-2-<br/>
D-2-----------<br/>
A---0-------0-<br/>
E-------0-----<br/>
Флейта:<br/>
E---17~~~~~~~~~~~~~~~~~<br/>
H----------------------<br/>
G----------------------<br/>
Бас:<br/>
G--------------<br/>
D--------------<br/>
A---3-2--------<br/>
E-0-----5-4-5--<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
