{% extends "chords.html" %}

{% set title = "Голубой огонёк" %}
{% set handbook_unid = "ada4365929fce6b1c325679d006af27c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАВИГАТОР - голубой огонёк<br/>
</span><span style="color:red"> <br/>
ГОЛУБОЙ ОГОНЁК<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: <br/>
E-5-7-5-7-<br/>
H--------- Dm Am E Am Dm Dm/c Am E Am<br/>
G---------<br/>
<br/>
        Am      E          Am<br/>
Чёрный ветер гудит над мостами,<br/>
        Dm       E      Am<br/>
Чёрной гарью покрыта земля.<br/>
      Am    G         C<br/>
Незнакомые смотрят волками,<br/>
    E                      Am<br/>
И один из них, может быть, я.<br/>
     C           G           C<br/>
Моя жизнь дребезжит, как дрезина,<br/>
     A7                 Dm<br/>
А могла бы лететь мотыльком;<br/>
     Dm            Dm/c      Am<br/>
Моя смерть ездит в чёрной машине<br/>
       E       Am<br/>
С голубым огоньком.<br/>
<br/>
Проигрыш: Dm Dm/c Am E Am<br/>
<br/>
Не корите меня за ухарство,<br/>
Не стыдите разбитым лицом.<br/>
Я хотел бы венчаться на царство,<br/>
или просто ходить под венцом -<br/>
Но не купишь судьбы в магазине,<br/>
Не прижжёшь ей хвоста угольком;<br/>
Моя смерть ездит в чёрной машине<br/>
С голубым огоньком.<br/>
<br/>
Проигрыш: Am E Am Dm E Am Am G C E Am <br/>
C G C A7 Dm Dm Dm/c Am E Am<br/>
<br/>
Мне не жаль, что я здесь не прижился;<br/>
Мне не жаль, что родился и жил;<br/>
Попадись мне, кто всё так придумал -<br/>
Я бы сам его здесь придушил;<br/>
Только поздно - мы все на вершине,<br/>
И теперь только вниз босиком;<br/>
Моя смерть ездит в чёрной машине<br/>
С голубым огоньком.<br/>
     Dm            Dm/c      Am<br/>
Моя смерть ездит в чёрной машине<br/>
       E       Am<br/>
С голубым огоньком.<br/>
<br/>
Заключение: Dm Dm/c Am E Am Dm Dm/c Am E Am Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/c<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
