{% extends "chords.html" %}

{% set title = "Гость" %}
{% set handbook_unid = "615d8aa058f754f6c325679d006af021" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СИНИЙ АЛЬБОМ - гость<br/>
</span><span style="color:red"> <br/>
ГОСТЬ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление:<br/>
E-3--2--------------<br/>
H------5—-3--1-0-1-3<br/>
G------------------- D – 2p.<br/>
D-2--0--------------<br/>
A------3--2--0------<br/>
<br/>
     C        D        G      C<br/>
Мне кажется, нам не уйти далеко,<br/>
   Am        D        G<br/>
Похоже, что мы взаперти.<br/>
   C      D          G       C<br/>
У каждого есть свой город и дом,<br/>
     Am        D      Em<br/>
И мы пойманы в этой сети;<br/>
   D                     Hm<br/>
И там, где я пел, ты не больше, чем гость,<br/>
   C   Am          D<br/>
Хотя я пел не для них.<br/>
        C       D       G              C<br/>
Но мы станем такими, какими они видят нас -<br/>
       D        G<br/>
Ты вернёшься домой,<br/>
         C<br/>
И я - домой,<br/>
    D        Em D<br/>
И все при своих.<br/>
<br/>
Проигрыш: Gm C F D – 2р.<br/>
<br/>
Но, в самом деле - зачем мы нам?<br/>
Нам и так не хватает дня,<br/>
Чтобы успеть по всем рукам,<br/>
Что хотят тебя и меня.<br/>
И только когда я буду петь,<br/>
Где чужие взгляды и дым -<br/>
Я знаю, кто встанет передо мной,<br/>
      C       D G <br/>
И заставит меня,<br/>
      Am     D<br/>
И прикажет мне<br/>
  C        D       Em  D<br/>
Ещё раз остаться живым.<br/>
<br/>
Заключение:<br/>
E-3--2--------------   ------<br/>
H------5—-3--1-0-1-3   ------<br/>
G------------------- D ------ G <br/>
D-2--0--------------   -0-2-4<br/>
A------3--2--0------   ------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
