{% extends "chords.html" %}

{% set title = "Голубой тюльпан" %}
{% set handbook_unid = "4af7bed87b210687c325679d006af012" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ АЛЕКСАНДРА ВЕРТИНСКОГО - голубой тюльпан<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
голубой тюльпан<br/>
</span><i>А.Вертинский - Б.Даев<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: Am Am+f Am <br/>
Am7 Am+f Am Am7 Am+f Am<br/>
<br/>
    E                Am<br/>
Матросы мне пели про остров<br/>
        Dm      E       Am<br/>
Где растет голубой тюльпан<br/>
        Am             Am<br/>
Он большим отличается ростом<br/>
      Am        E      Am<br/>
Он огромный и злой великан<br/>
<br/>
   E             Am<br/>
А я пил горькое пиво<br/>
    A7               Dm<br/>
Улыбаясь глубиной души<br/>
     Am            Dm<br/>
Так редко поют красиво<br/>
   Am       Dm   E Am<br/>
В нашей земной глуши<br/>
<br/>
   E               Am<br/>
Гитара аккордом несложным<br/>
      Dm      E     Am<br/>
Заполняла пробелы слов<br/>
   Am          Am<br/>
Напомнила неосторожно<br/>
     Am     E     Am<br/>
Что музыка как любовь<br/>
    Dm      E    Am<br/>
Что музыка как любовь<br/>
<br/>
   E             Am<br/>
И я пил горькое пиво<br/>
    A7               Dm<br/>
Улыбаясь глубиной души<br/>
     Am            Dm<br/>
Так редко поют красиво<br/>
   Am       Dm   E Am<br/>
В нашей земной глуши<br/>
<br/>
     E                  Am<br/>
Мелькали вокруг чьи-то лица<br/>
   Dm     E     Am<br/>
Гитара уплыла вдаль<br/>
    Am               Am<br/>
Матросы запели про птицу<br/>
   Am        E       Am<br/>
Которой несчастных жаль<br/>
<br/>
    E              Am<br/>
У неё стеклянные перья<br/>
      A7           Dm<br/>
И слуга седой попугай<br/>
  Am            Dm<br/>
Она открывает двери<br/>
   Am      Dm  E     Am<br/>
Матросам попавшим в рай<br/>
<br/>
      E             Am<br/>
Как трудно на свете этом<br/>
   A7                Dm<br/>
Одной только песней жить<br/>
   Am              Dm<br/>
Я больше не буду поэтом<br/>
    Am   Dm   E Am<br/>
Я в море хочу уплыть<br/>
<br/>
Заключение: Am Am Dm E Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am+f<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am7<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
