{% extends "chords.html" %}

{% set title = "Государыня" %}
{% set handbook_unid = "8cef5db40d14f634c325679d006aeea4" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РУССКИЙ АЛЬБОМ - государыня<br/>
</span><span style="color:red"> <br/>
ГОСУДАРЫНЯ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление:<br/>
 Em(II)Emadd9 G6/h C G    C G     Am Em      Em(II)Emadd9 G6/h C G    C G     Am Em   Em<br/>
E----3--3h2--------0----0------3---0----0--0-----3--3h2--------0----0------3---0----0--0--0--0<br/>
H---0----------------3-3-3----0-0--1---0-0--0---0----------------3-3-3----0-0--1---0-0--0--0--<br/>
G--0------------------0------0---0----0---0----0------------------0------0---0----0---0--0--0-<br/>
D-2------------0------------------------------2------------0----------------------------------<br/>
A-------------2-----------3--------0----------------------2-----------3--------0--------------<br/>
E---------------------------3--------0----------------------------------3--------0------------<br/>
Мандолина:<br/>
E---------------------------------------------15-15-14--10-7----12-10-12-10----8-7------------<br/>
H---------------------------------------------------------------------------------------------<br/>
G---------------------------------------------------------------------------------------------<br/>
<br/>
     Em      C                       G     Am                       C  Em<br/>
Государыня, помнишь ли, как строили дом - всем он был хорош, но пустой;<br/>
  Em         C                  G     Am                     C Em<br/>
Столько лет шили по снегу серебром, боялись прикоснуть кислотой;<br/>
 Em          C                   G   Am                   C  C G Am Em<br/>
Столько лет пели до седьмых петухов, пели, но боялись сказать.<br/>
     Em          C                  G     Am                  C   Em<br/>
Государыня, ведь если ты хотела врагов, кто же тебе смел отказать?<br/>
<br/>
Проигрыш: <br/>
  Em C <span style="color:gray">C/h</span> Am       Em Em C <span style="color:gray">C/h</span> Am     Em  <br/>
Флейта:<br/>
E----0-----7-7sl5-5h0-----0-----7-7sl5-12~~~<br/>
H-0--------------------0--------------------<br/>
G-------------------------------------------<br/>
<br/>
Em(II)Emadd9 G6/h C G    C G     Am Em      Em(II)Emadd9 G6/h C G    C G     Am Em   Em<br/>
E----3--3h2--------0----0------3---0----0--0-----3--3h2--------0----0------3---0----0--0--<br/>
H---0----------------3-3-3----0-0--1---0-0--0---0----------------3-3-3----0-0--1---0-0--0-<br/>
G--0------------------0------0---0----0---0----0------------------0------0---0----0---0---<br/>
D-2------------0------------------------------2------------0------------------------------<br/>
A-------------2-----------3--------0----------------------2-----------3--------0----------<br/>
E---------------------------3--------0----------------------------------3--------0--------<br/>
<br/>
                  Am         C<br/>
  E-7----5-3---2---0---------0-----0<br/>
  H----------------1---------1---1--<br/>
C G----------------2---------0--0-0-<br/>
  D-5----4-2---0---2---------2-2----<br/>
  A----------------0-0-2-3-5-3------<br/>
<br/>
Так что же мы до сих пор всё пьём эту дрянь, цапаем чертей за бока?<br/>
Нам же сказано, что утро не возьмёт свою дань, обещано, что ноша легка;<br/>
Так полно, зря ли мы столько лет всё строили дом - наша ли вина, что пустой?<br/>
  Em            C                    G      Am                     C<br/>
Зато теперь мы знаем, каково с серебром; посмотрим, каково с кислотой...<br/>
<br/>
Заключение: <br/>
Em(II)Emadd9G6/h C G    C G     Am Em              <br/>
E----3-3h2-------0----0------3---0-0-<br/>
H---0--------------3-3-3----0-0--1-0-<br/>
G--0----------------0------0---0-2-0-<br/>
D-2------------0-----------------2-2-<br/>
A-------------2---------3--------0-2-<br/>
E-------------------------3--------0-<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em(II)<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Emadd9<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
