{% extends "chords.html" %}

{% set title = "Губернатор" %}
{% set handbook_unid = "9c0e02d19cd83b7dc3257bd30062fc11" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - Аквариум + - ПРАЗДНИК УРОЖАЯ ВО ДВОРЦЕ ТРУДА - губернатор<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
губернатор<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: <br/>
     Am*<br/>
E-------------<br/>
H-1-1-1-1-1-1-<br/>
G-2-2-2-2-2-2- - 8р.<br/>
D-2-2-2-2-2-2-<br/>
A-0-3-3-2-----<br/>
E---------3-3-<br/>
<br/>
   Am<br/>
У нас в деревне праздник -<br/>
   Am<br/>
Горит небесный свод,<br/>
        Am<br/>
На пепелище сельсовета<br/>
 Am<br/>
Водят хоровод.<br/>
      Dm        Am* Am*<br/>
Губернатор, пляши,<br/>
            C<br/>
У нас есть новость, губернатор,<br/>
 E                    Am* Am* Am* Am*<br/>
Новость для тела и души.<br/>
<br/>
Ты думал "шито-крыто",<br/>
Ты думал нож на дне,<br/>
Проплата в Deutche-банке,<br/>
Но губерния в огне.<br/>
Губернатор, как сладко пахнет дым,<br/>
Недолго губернатор, <br/>
Осталось оставаться молодым.<br/>
<br/>
Под рубашкой от Brioni,<br/>
Наколки на груди,<br/>
А мертвых журналистов <br/>
Без тебя хоть пруд пруди.<br/>
Губернатор, играй отбой полкам<br/>
Из Центра, губернатор, <br/>
     E                          Am* Am* <br/>
Пришёл сигнал скормить тебя волкам.<br/>
<br/>
<br/>
Проигрыш: <br/>
Am Am Am Am Dm Dm Am Am C E Am Am <br/>
Am Am Dm Dm Am Am C E Am Am Am Am<br/>
<br/>
Забудь квартиру в Ницце,<br/>
Грядет 9-й вал,<br/>
Поздно суетиться<br/>
Запрись с ружьем в подвал<br/>
Губернатор, на зоне учат: Жизнь это бой!<br/>
Еще не поздно, губернатор,<br/>
Но, впрочем, думай сам. Господь с тобой!<br/>
<br/>
Заключение: <br/>
Am* - 24p. Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
