{% extends "chords.html" %}

{% set title = "Давай будем вместе" %}
{% set handbook_unid = "b05b7a9f48f4e49fc325679d006aef85" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - давай будем вместе<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
давай будем вместе<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: Em - 4p.<br/>
<br/>
       Am          G           Em<br/>
Когда кончится день, выключат свет,<br/>
     Am               G                 Em<br/>
Я скажу тебе то, на что мне не нужен ответ.<br/>
     Am<br/>
Мы любим верить, что дело - не в нас,<br/>
     C<br/>
Скорбеть о том, что пламень погас;<br/>
    Am           Hm                Em Em<br/>
Но каждый решает сам: решать, или нет...<br/>
<br/>
Проигрыш: D C Em Em, Am D Em Em<br/>
<br/>
Я вел себя тихо - я ждал, что взлечу к небесам,<br/>
Что однажды вырастут крылья, я найду тебя там.<br/>
Нo что-то нынче кажется мне,<br/>
Что вместо крыльев - стрела в спине,<br/>
И, кажется, эту стрелу я выпустил сам.<br/>
<br/>
       Am<br/>
Так давай будем вместе,<br/>
   G          Em<br/>
Давай будем вместе,<br/>
      Am         Hm        Em   Em<br/>
Так давай будем вместе сейчас... <br/>
   Am<br/>
Давай будем вместе,<br/>
   G          Em<br/>
Давай будем вместе,<br/>
     Am          Hm        Em  Em<br/>
Так давай будем вместе сейчас... <br/>
<br/>
Проигрыш: Em - 2p.<br/>
<br/>
Когда-нибудь мы скажем: то был наш час.<br/>
Я хочу его помнить, не пряча смущенных глаз.<br/>
Ведь завтрашний день - не написанный лист;<br/>
Я верю, что он будет ясен и чист,<br/>
Но что будет завтра - сегодня зависит от нас!<br/>
<br/>
Так давай будем вместе,<br/>
Давай будем вместе,<br/>
Так давай будем вместе сейчас... <br/>
Давай будем вместе,<br/>
Давай будем вместе,<br/>
Так давай будем вместе сейчас... <br/>
<br/>
Заключение: Am D Em Em Em<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
