{% extends "chords.html" %}

{% set title = "Дарья Дарья" %}
{% set handbook_unid = "69ac96efedcfd89cc325679d006aeeb9" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛИЛИТ - дарья дарья<br/>
</span><span style="color:red"> <br/>
ДАРЬЯ, ДАРЬЯ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
One, two, three…<br/>
<i> <br/>
Каподастр на 3-м ладу<br/>
 <br/></i>
Вступление: <br/>
     G   G  G  G<br/>
G---------------<br/>
D---------------<br/>
A-1h2---5---2---<br/>
E----3---3---3--<br/>
G C D - 8р.<br/>
<br/>
G  C                   D               G C D<br/>
  Дарья, Дарья в этом городе что-то горит<br/>
       G     C      D             G C D<br/>
То ли души праведных, то ли метеорит<br/>
Em                  G<br/>
  Но пусть горит пока я пою<br/>
             C       C/h    Am<br/>
Только не спрашивай меня, что я люблю<br/>
     C                        D            G C D<br/>
Говорящий не знает, Дарья, знающий не говорит<br/>
<br/>
Проигрыш: G C D – 3p.<br/>
<br/>
Ван Гог умер, Дарья, а мы ещё нет<br/>
Так что Дарья, Дарья, не нужно рисовать мой портрет<br/>
Ты можешь добиться реального сходства<br/>
Или феноменального сходства<br/>
Ты всё равно рисуешь сама себя, меня здесь нет<br/>
<br/>
Проигрыш: G C D – 3p.<br/>
<br/>
Как Бог сказал Лазарю - мне нужен кто-то живой<br/>
Господь сказал Лазарю - хэй, проснись и пой!<br/>
А Лазарь сказал - Я видел это в гробу<br/>
Это не жизнь, это цирк Марабу<br/>
А ты у них как фокусник-клоун, лучше двигай со мной<br/>
<br/>
Проигрыш: G C D – 3p.<br/>
<br/>
Смотри из труб нет дыма, и на воротах печать<br/>
Ни из одной трубы нет дыма, и на каждый воротах печать<br/>
Здесь каждый украл себе железную дверь<br/>
Сидит и не знает, что делать теперь<br/>
У всех есть алиби, но не перед кем отвечать<br/>
<br/>
Проигрыш: G C D <br/>
<br/>
     Am                        Hm<br/>
А я пою тебе с той стороны одиночества<br/>
      Em               C             D<br/>
Но пока я пою, я поверну эти реки вспять<br/>
        C    G6/h                 Am<br/>
И я не помню ни твоего званья, ни отчества<br/>
         A                                    C               D<br/>
Но знаешь, в тебе есть что-то, что заставляет этот курятник сиять<br/>
<br/>
Проигрыш: G C D – 12p.<br/>
<br/>
Спасибо Дарья - похоже время идти<br/>
Дарья, Дарья нас ждут где-то дальше на этом пути<br/>
Мне было весело с твоими богами<br/>
Но я чувствую - трава растёт под ногами<br/>
Мы разлили все поровну, Дарья, - прощай и прости<br/>
<br/>
Проигрыш: G C D – 15p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
