{% extends "chords.html" %}

{% set title = "Движение в сторону весны" %}
{% set handbook_unid = "d757150efc8491a7c325679d006af0a8" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ИХТИОЛОГИЯ - движение в сторону весны<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">ДВИЖЕНИЕ В СТОРОНУ ВЕСНЫ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: Em F#m A(V) H(VII) - 2p.<br/>
<br/>
Em                  G<br/>
  Некоторым людям свойственно петь,<br/>
   D                   C      D<br/>
Отдельным из них - в ущерб себе.<br/>
Em                            G<br/>
  Я думал, что нужно быть привычным к любви,<br/>
        D                    C             D<br/>
Но пришлось привыкнуть к прицельной стрельбе.<br/>
C                          D      Em<br/>
 Я стану красивой мишенью ради тебя;<br/>
    C                     D                Em<br/>
Закрой глаза - ты будешь видеть меня, как сны;<br/>
C                   D            Em<br/>
 Что с того, что я пел то, что я мог?<br/>
C                      Hm       Em<br/>
Я начинаю движение в сторону весны.<br/>
<br/>
Проигрыш: Em F#m A(V) H(VII) - 2p.<br/>
<br/>
Я буду учиться не оставлять следов,<br/>
Учиться верить в то, что рядом со мной:<br/>
Землю - на ощупь, хлеб и вино - на вкус,<br/>
Губы губами, небо - своей звездой;<br/>
Я больше не верю в то, что есть что-то ещё;<br/>
А глаза с той стороны прицела ясны.<br/>
Все назад! Я делаю первый шаг,<br/>
Я начинаю движение в сторону весны.<br/>
<br/>
Проигрыш: Em F#m A(V) H(VII) - 2p. <br/>
Em G D C D Em G D C D C D Em C D Em C D Em C Hm Em<br/>
Em F#m A(V) H(VII) - 2p.<br/>
<br/>
И некоторым людям свойственно пить -<br/>
Но раз начав, нужно допить до дна.<br/>
И некоторым людям нужен герой,<br/>
И если я стану им - это моя вина;<br/>
Прости мне всё, что я сделал не так,<br/>
Мои пустые слова, мои предвестья войны;<br/>
Господи! Спаси мою душу -<br/>
Я начинаю движение в сторону весны.<br/>
<br/>
Заключение: Em F#m A(V) H(VII) Em<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII    H(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
