{% extends "chords.html" %}

{% set title = "Два тракториста" %}
{% set handbook_unid = "a40c3c60fcc5fc58c325679d006af297" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ▼ - два тракториста<br/>
</span><span style="color:red"> <br/>
ДВА ТРАКТОРИСТА<br/>
</span><i>О. Першина - Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 1-м ладу<br/></i>
 <br/>
<i>Э… Э… куда пошёл, куда пошёл!<br/></i>
 <br/>
Вступление: E – 2p.<br/>
<br/>
   E               A<br/>
Широко трепещет туманная нива,<br/>
   H                 E<br/>
Вороны спускаются с гор.<br/>
    E                 A<br/>
И два тракториста, напившихся пива,<br/>
  H                 E<br/>
Идут отдыхать на бугор.<br/>
  A            H        E         C#m<br/>
Один Жан-Поль Сартра лелеет в кармане,<br/>
  A        H      E<br/>
И этим сознанием горд;<br/>
    A        H      E      C#m<br/>
Другой же играет порой на баяне<br/>
    A       H         E    <br/>
Сантану и "Weather Report".<br/>
<br/>
Широко трепещет туманная нива,<br/>
Вороны спускаются с гор.<br/>
И два тракториста, напившихся пива,<br/>
Идут отдыхать на бугор.<br/>
Один Жан-Поль Сартра лелеет в кармане,<br/>
И этим сознанием горд;<br/>
Другой же играет порой на баяне<br/>
Сантану и "Weather Report".<br/>
<br/>
Заключение: E A H E - 2p. <br/>
   A  H     E C#m A  H     E   A  H     E   C#m  A   H       E <br/>
E-16-14-12-16----16-14-12-16--16-14-12-16-14-12--14-14-12-11-12-<br/>
H---------------------------------------------------------------<br/>
G---------------------------------------------------------------<br/>
<br/>
<i>Э… Э… куда пошёл, куда пошёл!<br/>
<br/>
<br/>
</i><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
