{% extends "chords.html" %}

{% set title = "Десять прекрасных дам" %}
{% set handbook_unid = "7ef6d7468029af0ac325679d006aee62" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ИХТИОЛОГИЯ - десять прекрасных дам<br/>
</span><span style="color:red"> <br/>
ДЕСЯТЬ ПРЕКРАСНЫХ ДАМ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
G/d(VII) G/d(VII)+d G/d(VII) A/d(IX) Asus4/d(IX) A/d(IX) <br/>
G/d(VII) G/d(VII)+d G/d(VII)<br/>
C G D D D<br/>
<br/>
D              Em       G         A       D<br/>
 Всё кончилось так: он долго смотрел в окно,<br/>
          Em      G       A       D<br/>
Потом подошёл к стене и одел пальто.<br/>
           G        A     D<br/>
И вышел туда, где снег и ночь,<br/>
             G     A       Hm<br/>
И сел в трамвай - уехать прочь,<br/>
   A      G<br/>
Туда, где есть<br/>
<span style="color:gray"> </span><span style="color:#333333">A</span>                 D<br/>
Десять прекрасных дам.<br/>
<br/>
Хозяйка, зевнув, ему подала ладонь,<br/>
Сказала: "Ещё когда-нибудь зайдите на наш огонь".<br/>
А гости сидели за столом<br/>
И чинно сосали чай с дерьмом,<br/>
И пили за <br/>
Здоровье прекрасных дам.<br/>
<br/>
И он вышел прочь - куда, он не знал и сам.<br/>
Набрав семь цифр, он мёрз, подпевая гудкам.<br/>
Но трубок никто не поднимал,<br/>
Он был один, и мир был мал,<br/>
Но всё же скрыл<br/>
Десять прекрасных дам.<br/>
<br/>
 G/d(VII)   A/d(IX)           D Hm<br/>
А дома его ждал застоявшийся дым,<br/>
   G         A    G       A     G<br/>
И десять листов, верных его стихам.<br/>
   G                A                    D Hm<br/>
И верь не верь, но десять прекраснейших дам<br/>
  G        A          G      A      G<br/>
Ждали звонка в свою дверь, его звонка;<br/>
 <span style="color:#333333">A </span>                D D<br/>
Десять прекрасных дам.<br/>
<br/>
Проигрыш: <br/>
D Em G A D Em G A D G A D G A Hm A G A D<br/>
<br/>
Я кончил писать, и тоже встал у окна,<br/>
Туда, где видна стена и ещё раз стена.<br/>
И долго стоял, и синий дым<br/>
Ел мне глаза, но я был с ним<br/>
И пил до дна <br/>
       A<br/>
4:0 4:II 4:IV 3:0 4:IV  4:V 4:IV 4:II  <br/>
   Здоровье     дести    прекрасных,<br/>
A<br/>
4:II 4:IV 4:V 4:IV 4:II  D<br/>
  Дести    прекрасных   дам.<br/>
<br/>
Заключение: G/d(VII) G/d(VII)+d G/d(VII) A/d(IX) Asus4/d(IX) A/d(IX) <br/>
G/d(VII) G/d(VII)+d G/d(VII) C G D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII   G/d(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII   G/d(VII)+d<br/>
  E-■-|---|---|-■-|---|<br/>
  H---|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IX    A/d(IX)<br/>
  E-■-|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IX   Asus4/d(IX)<br/>
  E-■-|---|---|-■-|---|<br/>
  H---|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
