{% extends "chords.html" %}

{% set title = "Дед Мороз блюз" %}
{% set handbook_unid = "5bb817451cf2049ec325782f0066934c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ АНТОЛОГИЙ И СБОРНИКОВ - ВОЗДУХОПЛАВАНИЕ В КОМПАНИИ СФИНКСОВ - дед мороз блюз<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
дед мороз блюз <br/>
</span><i>Б.Гребенщиков <br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/>
 <br/></i>
Вступление: G C+g G C+g G G - 4p.<br/>
<br/>
          G C+g G             G C+g G<br/>
Рано поутру,     лицом на восток,<br/>
          G C+g G      G             G7<br/>
Стоя под деревом, опуская ладони в исток,<br/>
C                    Hm       Am          G C+g G C+g G C+g G<br/>
 Растворяясь в радуге, пробуя солнце на вкус,<br/>
       D                                 C<br/>
Когда ночь поджигает падающие с неба цветы,<br/>
     Hm            Am         G C+g G C+g G G<br/>
Мы вспомним этот "Дед Мороз Блюз"<br/>
<br/>
Проигрыш: G C+g G C+g G G<br/>
<br/>
Зашли мы в Венеции в один магазин -<br/>
Граппу пить дорого, станемте пить бензин<br/>
Станем бросаться с мостов, демонстрируя ловкость и вкус,<br/>
И когда гондольеры выловят нас из каналов из радиоточки<br/>
На кухне донесётся "Дед Мороз Блюз"<br/>
<br/>
Проигрыш: G C+g G C+g G G<br/>
<br/>
              Am                   D D<br/>
То у нас Кондопога, то у нас Хохлома,<br/>
Am                                      C             D <br/>
  Отечество никогда не скупилась на причины сойти с ума<br/>
<br/>
Проигрыш: <br/>
E-7-10---------<br/>
H-----11-10----<br/>
G----------12-9<br/>
D--------------<br/>
G C+g G G C+g G - 2p. <br/>
C Hm Am G C+g G C+g G C+g G, <br/>
D D C Hm Am G C+g G C+g G G C+g G C+g G G<br/>
<br/>
Безымянной звездой рассекая мглу,<br/>
Или долгой зимой в замшелом медвежьем углу,<br/>
Сияющие сбросив бессмысленный груз,<br/>
Мы смотрим, как ночь поджигает падающие с неба цветы,<br/>
               Hm      Am       D             C          G C+g G C+g G G C+g G C+g G <br/>
И говорим - прощай, прощай, прощай, прощай, "Дед Мороз Блюз"! <br/>
<br/>
Заключение: G C+g G C+g G G - 2p. <br/>
C Hm Am G C+g G C+g G C+g G, <br/>
D D C Hm Am G C+g G C+g G C+g G C+g G C+g G C+g G C+g G C+g G+7<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G+7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
