{% extends "chords.html" %}

{% set title = "Десять стрел" %}
{% set handbook_unid = "4b638fba70c0fef7c325679d006aeecb" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - десять стрел<br/>
</span><span style="color:red"> <br/>
ДЕСЯТЬ СТРЕЛ<br/>
</span><i>Ю. Дышлов – Б. Гребенщиков<br/></i>
 <br/>
Вступление: G G C G – 2p.<br/>
<br/>
 G                   C     Hm<br/>
Десять стрел на десяти ветрах,<br/>
 G                     C      Hm<br/>
Лук, сплетённый из ветвей и трав;<br/>
Am       C         G<br/>
  Он придёт издалека,<br/>
Am        C          G<br/>
  Меч дождя в его руках.<br/>
<br/>
Белый волк ведёт его сквозь лес,<br/>
Белый гриф следит за ним с небес;<br/>
С ним придёт единорог,<br/>
Он чудесней всех чудес.<br/>
<br/>
Проигрыш: G G C G – 2p. Am C G G – 2p.<br/>
<br/>
Десять стрел на десяти ветрах,<br/>
Лук, сплетённый из ветвей и трав;<br/>
Он придёт издалека,<br/>
Am      C            Em<br/>
  Он чудесней всех чудес.<br/>
Am       C             G<br/>
  Он войдёт на твой порог;<br/>
Am        C          G<br/>
  Меч дождя в его руках.<br/>
<br/>
Заключение: <br/>
G G C Hm – 2p. Am C G G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
