{% extends "chords.html" %}

{% set title = "День первый" %}
{% set handbook_unid = "686c21f613c719d7c325679d006aef16" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСКИ ПЕТЕРБУРГА - день первый<br/>
</span><span style="color:red"> <br/>
ДЕНЬ ПЕРВЫЙ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Проигрыш: D - 4p.<br/>
<br/>
   G                   A                G     D<br/>
И был день первый, и птицы взлетали из рук твоих;<br/>
   G                  A                         G     D<br/>
И ветер пах грецким орехом, но не смел тронуть губ твоих,<br/>
   G                Em                  A<br/>
И полдень длился почти что тринадцатый час;<br/>
  G                    A<br/>
И ты сказал слово, и мне показалось,<br/>
   D              G<br/>
Что слово было живым;<br/>
              Em<br/>
И поодаль в тени<br/>
G                    A               G D<br/>
 Она улыбалась, как детям, глядя на нас;<br/>
<br/>
И после тени домов ложились под ноги, узнав тебя,<br/>
И хозяйки домов зажигали свечи, зазвав тебя;<br/>
И, как иголку в компасе, тебя била дрожь от их глаз;<br/>
И они ложились под твой прицел,<br/>
Не зная, что видишь в них ты,<br/>
Но готовые ждать,<br/>
Чтобы почувствовать слово ещё один раз.<br/>
<br/>
Проигрыш: G A G D - 2p. G Em A G A D G Em G A G D<br/>
<br/>
Те, кто любят тебя, молчат - теперь ты стал лучше их,<br/>
И твои мертвецы ждут внизу,<br/>
Но едва ли ты впустишь их;<br/>
И жонглёры на площади считают каждый твой час;<br/>
Но никто из них не скажет тебе<br/>
Того, что ты хочешь знать:<br/>
Как сделать так,<br/>
Чтобы она улыбалась ещё один раз?<br/>
<br/>
Заключение: G A G D - 2p. G Em A G A D G Em G A G D D D D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
