{% extends "chords.html" %}

{% set title = "День радости" %}
{% set extra_title = "(Русский альбом)" %}
{% set handbook_unid = "4748eaa603a69bf8c325679d006af087" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РУССКИЙ АЛЬБОМ - день радости<br/>
</span><span style="color:red"> <br/>
ДЕНЬ РАДОСТИ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 5-м ладу<br/></i>
 <br/>
C              Am<br/>
 Нам выпала великая честь<br/>
 G                     F C<br/>
Жить в перемену времён;<br/>
                 Am<br/>
Мы въехали в тоннель,<br/>
      G              F C<br/>
А вокруг стоит крест.<br/>
               Am              Em G<br/>
А в топке паровоза ждёт дед Семён;<br/>
Am    F                    G<br/>
  Он выползет и всех нас съест.<br/>
<span style="color:silver">G</span> C                 Am<br/>
   Так потушите поезда,<br/>
 G                     F C<br/>
Дайте машинисту стакан;<br/>
              Am<br/>
Уложите его спать -<br/>
              G<br/>
Ну что ему ловить в эти дни.<br/>
Am          F<br/>
  Тёмная вода,<br/>
                Am            Em<br/>
На много сотен лет - тёмная вода.<br/>
Dm<br/>
  И теперь я люблю тебя,<br/>
     G<br/>
Потому что мы остались одни;<br/>
<br/>
Проигрыш: <br/>
   C       C          G     Am    G C          G     Am    G C          G     Am  Em <br/>
E-------0--0-0-1-0-1-0--3--------0--0-0-1-0-1-0--3--------0--0-0-1-0-1-0--3--------0-<br/>
H--1---1--------------3--3--1-1-3-0------------3--3--1-1-3-3------------3--3--1-1-3-0<br/>
G-----0------------------------------------------------------------------------------ <br/>
D----2-------------------------------------------------------------------------------<br/>
A--3---------------------------------------------------------------------------------<br/>
   F      G       C<br/>
E-------------------0---<br/>
H-----0-1-0-0-1-3-1--1--<br/>
G--2-2----------------0-<br/>
D----------------------2<br/>
A-----------------------<br/>
<br/>
C                   G<br/>
 Когда то, что мы сделали,<br/>
              Am            G<br/>
Выйдет без печали из наших рук;<br/>
C                 G<br/>
 Когда семь разойдутся,<br/>
              Am                  G<br/>
Чтобы не смотреть, кто войдет в круг;<br/>
C             G<br/>
 Когда белый конь<br/>
   Am            Em<br/>
 Узнает своих подруг,<br/>
F G                 C<br/>
   Это значит день радости.<br/>
<br/>
Когда звезда-можжевельник<br/>
Ляжет перед нами во сне,<br/>
Когда в камнях будет сказано<br/>
То, что было сказано мне;<br/>
Когда великий сон<br/>
Будет дарован великой стране,<br/>
Это значит день радости.<br/>
<br/>
Проигрыш: <br/>
   C          G     Am    G C          G     Am    G C          G    Am    Em <br/>
E--0-0-1-0-1-0--3--------0--0-0-1-0-1-0--3--------0--0-0-1-0-1-0--3--------0-<br/>
H-------------3--3--1-1-3-0------------3--3--1-1-3-0------------3--3--1-1-3-0<br/>
G---------------------------------------------------------------------------- <br/>
D----------------------------------------------------------------------------<br/>
A----------------------------------------------------------------------------<br/>
   F      G       C<br/>
E-------------------<br/>
H-----0-1-0-0-1-3-1-<br/>
G--2-2--------------<br/>
D-------------------<br/>
A-------------------<br/>
<br/>
Когда то, что мы сделали,<br/>
Выйдет без печали из наших рук,<br/>
Когда семь разойдутся,<br/>
Потому что не от кого прятаться в круг;<br/>
Когда белый конь<br/>
Поймёт и признает своих подруг,<br/>
Это значит день радости.<br/>
<br/>
Проигрыш: <br/>
   C          G     Am    G C          G     Am    G C          G    Am   Em <br/>
E--0-0-1-0-1-0--3--------0--0-0-1-0-1-0--3--------0--0-0-1-0-1-0--3-5-5-7-8-3<br/>
H-------------3--3--1-1-3-0------------3--3--1-1-3-3------------3--3---------<br/>
G---------------------------------------------------------------------------- <br/>
D----------------------------------------------------------------------------<br/>
A----------------------------------------------------------------------------<br/>
   F       G        C<br/>
E--5-5-7-8-7-7-8-10-8-<br/>
H---------------------<br/>
G---------------------<br/>
D---------------------<br/>
A---------------------<br/>
<br/>
F<br/>
 И теперь, когда нечего ждать,<br/>
       G<br/>
Кроме волчьей зари;<br/>
F         Dm<br/>
 Тёмная вода<br/>
    G<br/>
И пламя бесконечной зимы -<br/>
C                  C/h<br/>
 Это ж, Господи, зрячему видно,<br/>
Am                Em<br/>
  А для нас повтори:<br/>
 C  G      Am       F          C     G C<br/>
Бог есть Свет, и в нём нет никакой тьмы.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
