{% extends "chords.html" %}

{% set title = "Дерзость (Разговор перед боем)" %}
{% set handbook_unid = "4a78854921393651c325685f0073bec9" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ БУЛАТА ОКУДЖАВЫ - дерзость (разговор перед боем)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
дерзость (разговор перед боем) <br/>
</span><i>Б.Окуджава<br/></i>
 <br/>
Вступление: Am - 4p.<br/>
<br/>
Am          E            E          Am<br/>
- Господин лейтентант, что-то вы хмуры?<br/>
Am         E        G           C<br/>
Аль не по сердцу вам наше ремесло?<br/>
F           A7         A7         Dm<br/>
- Господин генерал, вспомнились амуры, -<br/>
Dm            Am         E         Am<br/>
  Не скажу, чтобы мне с ними не везло.<br/>
<br/>
- Господин лейтенант, нынче не до шашней:<br/>
Скоро бой предстоит,  а вы все про баб...<br/>
- Господин генерал, перед рукопашной<br/>
Золотые деньки вспомянуть хотя б.<br/>
<br/>
- Господин лейтенант, не к добру всё это.<br/>
Мы ведь здесь для того,   чтобы побеждать...<br/>
- Господин генерал, будет вам победа,<br/>
Да придётся ли мне с вами пировать?<br/>
<br/>
- На полях лейтенант, кровию политых,<br/>
Расцветёт, лейтенант, славы торжество!<br/>
- Господин, генерал, слава для убитых,<br/>
А живому милей женщина его.<br/>
<br/>
- Чёрт возьми, лейтенант! Да что это с вами?<br/>
Где же воинский долг, ненависть к врагу?..<br/>
- Господин генерал, да посудите сами:<br/>
Я и рад бы приврать,  да вот не могу.<br/>
<br/>
- Ну гляди, лейтенант, каяться придётся!<br/>
Пускай счёты с тобой трибунал сведёт...<br/>
- Видно так, генерал: чужой промахнётся,<br/>
А уж свой в своего всегда попадёт.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
