{% extends "chords.html" %}

{% set title = "День радости" %}
{% set extra_title = "(Пушкинская, 10)" %}
{% set handbook_unid = "3930be2be847be72c325679d006aef9d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПУШКИНСКАЯ, 10 - день радости<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
</span><span style="color:red">ДЕНЬ РАДОСТИ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Каподастр на 5-м ладу<br/>
<br/>
Вступление:<br/>
  C        G        Am         G      C        G       Am      G  <br/>
E-0---0-1-0----3-1-0--------------1h0-0---0-1-0----3-1-0----3-0----12h13<br/>
H----3-----3--3-----1--1-3-3h5-3---------3-----3--3------1-----3--------<br/>
G-----------------------------------------------------------------------<br/>
D-----------------------------------------------------------------------<br/>
A-----------------------------------------------------------------------<br/>
E-----------------------------------------------------------------------<br/>
<br/>
  C               G               Am        Em        F      G          C      <br/>
E-12--10-12-13-12-10--10-15-13-12-15sl13-12-10--10-12--------7--7-8-10-10h8-8~~~~~~<br/>
H-----------------------------------------------------13-10-8----------------------<br/>
G----------------------------------------------------------------------------------<br/>
D----------------------------------------------------------------------------------<br/>
A----------------------------------------------------------------------------------<br/>
E----------------------------------------------------------------------------------<br/>
<br/>
C                   G<br/>
 Когда то, что мы сделали,<br/>
              Am              G<br/>
Выйдет без печали из наших рук;<br/>
C                 G<br/>
 Когда семь разойдутся,<br/>
             Am                     G<br/>
Чтобы не смотреть, кто войдет в круг;<br/>
C              G<br/>
 Когда белый конь<br/>
    Am            Em<br/>
 Узнает своих подруг,<br/>
F G                 C     <br/>
   Это значит день радости.<br/>
<br/>
Когда звезда-можжевельник<br/>
Ляжет перед нами во сне,<br/>
Когда в камнях будет сказано<br/>
То, что было сказано мне;<br/>
Когда над белым холмом<br/>
Будет место звериной Луне,<br/>
Это значит день радости.<br/>
<br/>
Проигрыш: C G Am G C G Am G C G Am Em F G C<br/>
<br/>
Когда то, что мы сделали,<br/>
Выйдет без печали из наших рук,<br/>
Когда семь разойдутся,<br/>
Потому что не от кого прятаться в круг;<br/>
Когда белый конь<br/>
Поймёт и признает своих подруг,<br/>
Это значит день радости.<br/>
<br/>
Проигрыш: C G Am G C G Am G C G Am Em F G C - 2p.<br/>
<br/>
F<br/>
 И теперь, когда растаяла пыль<br/>
       G<br/>
Под копытами волчьей зари;<br/>
F         <br/>
 Талая вода<br/>
  G<br/>
Пламя бесконечной зимы -<br/>
C                 C/h<br/>
 Это ж, Господи, зрячему видно,<br/>
Am               Em<br/>
  А для нас повтори:<br/>
 C  G      Am       F           C G     C<br/>
Бог есть Свет, и в нём нет никако-ой тьмы.<br/>
 C  G      Am       F           C G     C<br/>
Бог есть Свет, и в нём нет никако-ой тьмы.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
