{% extends "chords.html" %}

{% set title = "Джунгли" %}
{% set handbook_unid = "89a34e9a548cf112c325679d006aee95" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ФЕОДАЛИЗМ - джунгли<br/>
</span><span style="color:red"> <br/>
ДЖУНГЛИ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<span style="color:#B4B4B4">One…Two…<br/>
</span><span style="color:#DDDDDD">One,</span><span style="color:#999999"> </span><span style="color:#B2B2B2">two,</span><span style="color:#999999"> </span><span style="color:#B6B6B6">three, four…</span><span style="color:#999999"> <br/></span>
 <br/>
Вступление:<br/>
  C      F      C   G        <br/>
E--------------------------<br/>
H---------------1--3h5-3-1-<br/>
G------------0-2-----------<br/>
D----0-2-3--3--------------<br/>
A-3------------------------<br/>
E--------------------------<br/>
  C      F      C   G        <br/>
E--------------------------<br/>
H---------------1--3h5-3-1-<br/>
G------------0-2-----------<br/>
D----0-2-3--3--------------<br/>
A-3------------------------<br/>
E--------------------------                                                      <br/>
                 Гоп-стоп.<br/>
<br/>
Проигрыш: C F C G – 2p. <br/>
<br/>
C            F          C                     G<br/>
 Глубоко в джунглях, куда я вернусь, когда я кончу дела;<br/>
C            F            C                 G<br/>
 Глубоко в джунглях, где каждый знает, что сажа бела;<br/>
            C         F                      C                G<br/>
Глубоко в джунглях, пьют, так как пьют, потому что иначе ничего не понять,<br/>
C                 F                   C        G                      C      F C G<br/>
 Где достаточно бросить спичку, и огня будет уже не унять глубоко в джунглях;<br/>
<br/>
Проигрыш: C F C G <br/>
<br/>
Когда ночь была девочкой, и каждый день был океанской волной,<br/>
Тарелки не влетали в окно, и все мои слова оставались со мной,<br/>
Я сказал - стоп; вот моё тело, вот моя голова и всё, что в ней есть.<br/>
Пока я жив, я хочу видеть мир, о котором невозможно прочесть в джунглях. <br/>
<br/>
Проигрыш: C F C G <br/>
<br/>
Я хочу видеть доктора с лекарством в чистой руке,<br/>
Или священника, с которым я смогу говорить на одном языке,<br/>
Я хочу видеть небо; настоящее небо, от которого это только малая часть.<br/>
И я возвращаюсь сюда, здесь есть куда взлететь, потому что есть куда пасть в джунглях. <br/>
<br/>
Проигрыш: C F C G <br/>
<br/>
Трава всегда зелена на том берегу, когда на этом тюрьма.<br/>
Как сказал Максим Горький Клеопатре, когда они сходили с ума, он сказал:<br/>
«Если ты хочешь сохранить своих сфинксов, двигай их на наше гумно.<br/>
Мы знаем, что главное в жизни - это дать немного света, если стало темно в джунглях».<br/>
C F C  G <br/>
      Пётр!<br/>
<br/>
Проигрыш: C(III) – 4p.<br/>
C F C G – 2p.<br/>
<br/>
Так не надо звонить мне, на телефонной станции мор.<br/>
Нет смысла писать мне письма, письма здесь разносит вор.<br/>
Ему по фигу любые слова, но как не взять, если это в крови;<br/>
Пока мы пишем на денежных знаках, нет смысла писать о любви сюда в джунгли. <br/>
<br/>
Проигрыш: C F C G <br/>
<br/>
Глубоко в джунглях, куда я вернусь, когда я кончу дела;<br/>
Глубоко в джунглях, где с детства каждый знает, что сажа бела;<br/>
В джунглях пьют, так как пьют, потому что всё равно ничего не понять;<br/>
И кто-то собирает здесь спички, и огня будет уже не унять в джунглях.  <br/>
            C     F C G<br/>
Глубоко в джунглях…  <br/>
<br/>
Заключение: C F C G – 3p. <span style="color:#333333">C F </span><span style="color:#5F5F5F">C G</span><span style="color:#333333"> </span><span style="color:gray">C </span><span style="color:darkgray">F</span><span style="color:#333333"> </span><span style="color:darkgray">C</span><span style="color:#B2B2B2"> G</span><span style="color:#333333"> </span><span style="color:#B2B2B2">C </span><span style="color:#C4C4C4">F</span><span style="color:silver"> </span><span style="color:#CBCBCB">C</span><span style="color:silver"> </span><span style="color:#EAEAEA">G<br/></span>
 <br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
