{% extends "chords.html" %}

{% set title = "Диплом" %}
{% set handbook_unid = "67f151bc73550701c325679d006af0f0" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ИХТИОЛОГИЯ - диплом<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Диплом<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
              <span style="color:#5F5F5F">G     F     Em   G7  <br/></span>
            E--7-7---5-5----3----1-<br/>
C F G - 3p. H----------------------<br/>
            G-7---7-5---5-4--4-0--0 <br/>
<br/>
C                 F<br/>
 Она не станет читать твой диплом,<br/>
    G                     C<br/>
И ты не примешь её всерьёз.<br/>
Am         Em     Am           Em<br/>
  Она не станет читать твой диплом,<br/>
    F                   G<br/>
И ты не примешь её всерьёз;<br/>
     C     Em        F      G<br/>
Но она возьмёт тебя на поводок,<br/>
C         Em      F      G<br/>
 Она возьмёт тебя на поводок,<br/>
    Dm                    G     <br/>
И ты пойдёшь за нею, как пёс.<br/>
<br/>
Проигрыш: <br/>
<span style="color:#5F5F5F">  G     F     Em    G7  <br/></span>
E--7-7---5-5---3-3---1-1-<br/>
H------------------------<br/>
G-7---7-5---5-4---4-0---0 <br/>
<br/>
Она расскажет тебе твои сны,<br/>
И этим лишит тебя сна;<br/>
Она расскажет тебе твои сны,<br/>
И этим лишит тебя сна.<br/>
Она раскроет своим ключом<br/>
Клетки всех твоих спрятанных птиц,<br/>
  Dm                G F G <br/>
Но не скажет их имена<br/>
<br/>
Проигрыш:<br/>
                 <span style="color:#5F5F5F">G     F     Em    G7  <br/></span>
               E--7-7---5-5---3-3---1-1-<br/>
C Em F G - 3p. H------------------------<br/>
               G-7---7-5---5-4---4-0---0 <br/>
<br/>
Ты знаешь много старых стихов,<br/>
Где есть понятия “добро” и “зло”;<br/>
И ты знаешь много новых стихов,<br/>
Где есть те же “добро” и “зло”.<br/>
Но ты не бывал там, откуда она,<br/>
Ты никогда не бывал там, откуда она -<br/>
     Dm                       G F G<br/>
Что ж, считай, что тебе повезло…<br/>
<br/>
Она коснётся рукой воды,<br/>
И ты скажешь, что это вино.<br/>
Она коснётся рукой воды,<br/>
И ты скажешь, что это вино!<br/>
И ты будешь смотреть вслед её парусам,<br/>
Ты будешь смотреть вслед её парусам,<br/>
             C Em       F      G<br/>
И ты будешь дуть вслед её парусам,<br/>
Dm                      G<br/>
  Когда ты пойдёшь на дно,<br/>
Dm                                G<br/>
  Когда ты пойдёшь, наконец, на дно!<br/>
<br/>
Заключение: <br/>
                 <span style="color:#5F5F5F">G     F     Em    G7  <br/></span>
               E--7-7---5-5---3-3---1-1-<br/>
C Em F G - 3p. H------------------------ <br/>
               G-7---7-5---5-4---4-0---0<br/>
C Em F G - 3p. C <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
