{% extends "chords.html" %}

{% set title = "Диагностика кармы" %}
{% set handbook_unid = "b6934e2a129c72efc3256d25002feb32" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСНИ РЫБАКА - диагностика кармы<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
</span><span style="font-size:11.0pt;color:red;text-transform:uppercase">Диагностика кармы <br/>
</span><i>Б. Гребенщиков</i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: A A<br/>
 A<br/>
E--5-7-9-10-9-7-5--<br/>
H-5----------------<br/>
G------------------<br/>
D------------------<br/>
A------------------<br/>
 A<br/>
E-7-10-9-5-3-2-3-2-0-<br/>
H--------------------<br/>
G--------------------<br/>
D--------------------<br/>
A--------------------<br/>
 A<br/>
E-0-2-0-2-0-2-5-3-2-0-2--------<br/>
H------2---------------3-2-2h0-<br/>
G------------------------------<br/>
D------------------------------<br/>
A------------------------------<br/>
 A<br/>
E------------------------------<br/>
H-----2-3-2-1-3-2-0-0----------<br/>
G----2-------------2-2-0-2-----<br/>
D-2-5---------------------2----<br/>
A--------------------------4-0-<br/>
<br/>
<br/>
A – 4p.<br/>
<br/>
      A<br/>
Я пришёл по объявленью в газете.<br/>
              A<br/>
"Диагностика Кармы. 5 Дней. Не Спеша."<br/>
          A<br/>
Ты была одета в какие-то сети.<br/>
             A<br/>
Ты сказала "Хэй, у тебя есть душа";<br/>
    C                                  E<br/>
Сказала, что в прошлой жизни я был фараоном,<br/>
     C                                   E<br/>
Александром Македонским и еще Львом Толстым,<br/>
             A           G    D/f#  D<br/>
Что я могу называть тебя Эсмеральдой<br/>
             F                  G        A A<br/>
И больше не чувствовать себя духовно пустым.<br/>
<br/>
Ты заставила меня вдыхать пранаяму<br/>
И целыми сутками петь "Сай Рам";<br/>
Я нормальный мужик, могла бы сказать мне прямо,<br/>
А не заставлять меня ходить босиком по углям;<br/>
Кормила меня кактусом вместо обеда,<br/>
Сажала в лотос за каждый пустяк -<br/>
Даже твой любимый Дон Хуан Кастанеда<br/>
Не учил, что с людьми можно обращаться вот так.<br/>
<br/>
Я метался по дому, я хотел найти выход,<br/>
Куда угодно, лишь бы был воздух свежей;<br/>
Но Ахура-Мазда запросил за меня выкуп,<br/>
А Будда посадил мне в ботинки ежей.<br/>
Чтоб я не ушёл, ты развинтила мне чакры,<br/>
И перепаяла мой ментал на астрал:<br/>
Посмотри мне в глаза, Эсмеральда,<br/>
Неужели я хоть в чём-то соврал?<br/>
<br/>
Проигрыш: A - 4p. C E - 2p. A G D/f# D F G A A<br/>
<br/>
Напрасно ты стучишься мне в двери<br/>
И говоришь, что твой метод мог бы меня спасти;<br/>
Даже в журнале "Путь К Себе" не поверят,<br/>
Что мне пришлось там у тебя вынести;<br/>
В итоге я всё-таки вылез в окошко,<br/>
И то я чувствую, что вылез не весь -<br/>
В чём дело, Эсмеральда,<br/>
Неужели ты до сих пор здесь?<br/>
<br/>
Заключение: A - 4p. C E - 2p. A G D/f# D F G A A A A A<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
