{% extends "chords.html" %}

{% set title = "Дикий мёд" %}
{% set handbook_unid = "50203d419a9c42b1c325679d006af240" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - дикий мёд<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
дикий мёд<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: C F C G - 6p.<br/>
<br/>
C             F          G               Em G<br/>
 У них есть скорость, у них есть другие дела<br/>
Am          Em<br/>
  Возможно они только видео<br/>
          Dm              F         G<br/>
Дай мне знать что я здесь, дай мне руку<br/>
C              F        G                 Em        G<br/>
 Один раз для сердца, два чтобы видеть как гаснут звезды<br/>
Am                 Em<br/>
  Каменный пол, бумажные стены<br/>
    Dm                      F       G   F G<br/>
Я могу сделать так что здесь будет жарко<br/>
<br/>
    C           F          G       C<br/>
Я знаю нас на вкус - мы как дикий мед<br/>
    C            F       G        C<br/>
Вначале будет странно но это пройдет<br/>
  Am             Em          G      Am<br/>
И после кто-то скажет что у них был лед<br/>
Am  Em   F       G<br/>
  O-o, еще один вечер<br/>
<br/>
Проигрыш: C C Em Em Dm Dm G# G(III) - 2p.<br/>
<br/>
Возможно это радость, возможно это ветер даст нам новое имя<br/>
Нет смысла бояться взглядов<br/>
Мы все-равно идем на другую сторону<br/>
Пока мы здесь дай, мне руку это шаг по лезвию бритвы<br/>
Еще одно мгновенье под прицелом небес<br/>
Это как снег на губах oб этом не скажешь словами<br/>
<br/>
Я знаю нас на вкус - мы как дикий мед<br/>
Вначале будет странно но это пройдет<br/>
И после кто-то скажет что у них был лед<br/>
O-o, еще один вечер<br/>
<br/>
Проигрыш: C C Em Em Dm Dm G# G(III) - 2p.<br/>
<br/>
Я знаю нас на вкус - мы как дикий мед<br/>
Вначале будет странно но это пройдет<br/>
И после кто-то скажет что у них был лед<br/>
O-o, еще один вечер<br/>
<br/>
Я знаю нас на вкус - мы как дикий мед<br/>
Вначале будет странно но это пройдет<br/>
И после кто-то скажет что у них был лед<br/>
O-o, еще один вечер<br/>
<br/>
Я знаю нас на вкус - мы как дикий мед<br/>
Вначале будет странно но это пройдет<br/>
И после кто-то скажет что у них был лед<br/>
O-o, еще один вечер<br/>
<br/>
Я знаю нас на вкус - мы как дикий мед<br/>
Вначале будет странно но это пройдет<br/>
И после кто-то скажет что у них был лед<br/>
O-o, еще один вечер<br/>
<br/>
Заключение: C F C G - 4p. С<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
