{% extends "chords.html" %}

{% set title = "Дорога 21" %}
{% set handbook_unid = "b23b8c50c04babffc325679d006aeff4" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕСЯТЬ СТРЕЛ - дорога 21 (</span><span style="font-size:8.0pt">live</span><span style="font-size:8.0pt;text-transform:uppercase">)<br/>
</span><span style="color:red"> <br/>
ДОРОГА 21 (live)<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
          E<br/>
H---------------------<br/>
G---------------------<br/>
D-------2-----2-2-4-2- - 14p. <br/>
A---2-4---2-4---------<br/>
E-0-------------------<br/>
<br/>
            A<br/>
Любой твой холст - это автопортрет,<br/>
              E<br/>
Ведь ты - это я;<br/>
        A<br/>
Любое слово - это ответ,<br/>
             E<br/>
Где ты - это я.<br/>
       F#m                G#m <br/>
И если ты невидим средь семи небес,<br/>
     A C  D       E<br/>
То кто заметит меня?<br/>
<br/>
Ведь твой квадрат не имеет углов,<br/>
И добродетель - как грех;<br/>
Твои стихи лишены всех слов,<br/>
И ненависть - смех.<br/>
И ты спишь по ночам со смертью своей<br/>
И ты счастливее всех.<br/>
<br/>
И ты всегда идёшь позади,<br/>
Ведь ты - господин;<br/>
И, как вода, ты живёшь внизу,<br/>
Но ты - господин;<br/>
И, когда я был мал, ты учил меня своей<br/>
Дороге двадцать один.<br/>
<br/>
Проигрыш: A E A E F#m G#m A C D E E<br/>
<br/>
Твои глаза - словно пепел;<br/>
Ты видишь только то, что есть.<br/>
Твои глаза - словно пепел,<br/>
Ты видишь только то, что есть.<br/>
Я никогда не ловил луну в реке рукой,<br/>
Но я почту за честь.<br/>
<br/>
На двадцать первом шоссе есть многое, <br/>
Чего здесь нет;<br/>
На двадцать первом шоссе есть многое, <br/>
Чего здесь нет;<br/>
Я был бы рад жить там, но сердце моё <br/>
Как всегда пахнет, как Невский проспект.<br/>
<br/>
Заключение: F#m G#m A C D E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Fm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
