{% extends "chords.html" %}

{% set title = "Дом заходящей луны" %}
{% set handbook_unid = "b43a1d0da54f7e34c3257305006e50ac" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - дом заходящей луны<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
дом заходящей луны<br/>
</span><i>Народная английская песня - Б.Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
Am C D F Am E Am E - 2p.<br/>
<br/>
Am            C       D        F<br/>
  На Малой Ордынке стоял один дом<br/>
 Am      C       E<br/>
Дом заходящей луны<br/>
   Am          C       D       F<br/>
И все кто там жил или так заходил<br/>
    Am         E       Am E<br/>
Всегда были в жопу пьяны<br/>
<br/>
Проигрыш: <br/>
Am C D F Am С E <br/>
Am C D F Am E Am E <br/>
<br/>
Один монтёр из Мосэнерго <br/>
Был вызван туда чинить свет<br/>
Он выпил там раз и выпил ещё<br/>
И вышел через пять лет<br/>
<br/>
Проигрыш: <br/>
Am C D F Am С E <br/>
Am C D F Am E Am E<br/>
<br/>
Один журналист писал репортаж<br/>
О том что нельзя больше пить<br/>
Когда он вышел он плохо ходил<br/>
     Am      E       Am C D F Am E Am E<br/>
И совсем не мог говорить<br/>
<br/>
Семья потомственных маклеров<br/>
Взялась расселить этот дом на корню<br/>
Но дети начали пить технический спирт<br/>
Остальные совсем уж хуйню<br/>
<br/>
Проигрыш: <br/>
Am C D F Am С E <br/>
Am C D F Am E Am E<br/>
<br/>
Дом снесли и всю мебель в антик<br/>
Снёс игрок на трубе<br/>
Но адрес места где дом тот стоял<br/>
Отныне секрет ФСБ<br/>
<br/>
Заключение: <br/>
Am C D F Am С E <br/>
Am C D F Am E Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
