{% extends "chords.html" %}

{% set title = "Дом" %}
{% set handbook_unid = "fa5195cb9655fba7c325679d006aefbe" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- МИТЬКОВСКИЕ ПЕСНИ - дом<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
дом <br/>
</span><i>Б.Гребенщиков - О.Григорьев<br/></i>
 <br/>
<i>Каподастр на 5-м ладу<br/></i>
 <br/>
   Am      E    Am<br/>
Конюшня - дом коня,<br/>
   Am             E <br/>
Коровник - дом коровы, <br/>
     C   G    C<br/>
Так почему же я<br/>
     C           G <br/>
Без дома и без крова? <br/>
  C      G     C<br/>
Поэт ты, а не конь, <br/>
    C            G <br/>
Ты БОМЖ, а не корова, <br/>
   Dm            Am<br/>
Везде под небом дом... <br/>
  Am           E<br/>
А ты желаешь крова? <br/>
<br/>
Проигрыш: Am Am, C C, Dm Am, Am E, Am Am, C C, Dm Am, Am E Am<br/>
<br/>
В костях гудит артрит, <br/>
Хребет согнули годы! <br/>
А печень так болит, <br/>
Что мне не до природы. <br/>
Как жаль, что я не конь, <br/>
Поэт, а не корова, <br/>
Везде, как-будто дом. <br/>
   Am       E        Am<br/>
Да нет ни стен, ни крова. <br/>
<br/>
Заключение: Am Am, C C, Dm Am, Am E Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
