{% extends "chords.html" %}

{% set title = "Дочь" %}
{% set handbook_unid = "f4e04f3aad854637c325679d006af17d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ДОИСТОРИЧЕСКИЕ ПЕСНИ - ВСЕ БРАТЬЯ - СЁСТРЫ - дочь<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
дочь<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: С A7 Dm G C G<br/>
<br/>
C        A7   Dm <br/>
 Сегодня я работал в ночь,<br/>
G             С         G<br/>
 Сегодня я работал всю ночь.<br/>
C          A7        Dm <br/>
 Почти всю карму я сжег в эту ночь,<br/>
G <br/>
 И у меня родилась дочь.<br/>
<br/>
Проигрыш: С A7 Dm G C G - 2p.<br/>
<br/>
- Сегодня он работал всю ночь,<br/>
Сегодня я работал всю ночь.<br/>
- Он свою карму сжег напрочь,<br/>
И у него родилась дочь.<br/>
<br/>
Заключение: С A7 Dm G C G - 2p. <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
