{% extends "chords.html" %}

{% set title = "Другая" %}
{% set handbook_unid = "4492eb967d9ba98cc325679d006af0f6" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ДОИСТОРИЧЕСКИЕ ПЕСНИ - ПРИТЧИ ГРАФА ДИФФУЗОРА - другая<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
другая <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: C Em F G<br/>
<br/>
C        Em            Dm       Em<br/>
 Она придет ко мне по тысяче ветров,<br/>
C           Em        Dm          Em<br/>
 Пройдя по радуге над городом мостов;<br/>
C         Em          F       <br/>
 Алмазы звезд в ее руках -<br/>
  Fm             С    Em F G<br/>
Она их бросит в полночь... <br/>
<br/>
Она ведет меня сквозь каменные тени,<br/>
Она хранит меня, любовь ее священна,<br/>
В чугунном мире вашем, как рассвет,<br/>
     Fm   С Em Dm G<br/>
Ее дыханье... <br/>
<br/>
Проигрыш: C Em F G - 3p.<br/>
<br/>
Как я люблю ее; слова ее - как свечи;<br/>
Я говорю с ней, но всегда меж нами вечность,<br/>
Она всегда со мной в печали <br/>
       Fm  С Em Dm G<br/>
Наших песен... <br/>
<br/>
Она придет ко мне по тысяче ветров,<br/>
Пройдя по радуге над городом мостов;<br/>
Алмазы звезд в ее руках -<br/>
Она их бросит в полночь... <br/>
<br/>
Заключение: C Em F G - 3р.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Fm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
