{% extends "chords.html" %}

{% set title = "Древняя кровь" %}
{% set handbook_unid = "dbdf93524edecfe3c325679d006af23d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- КОНЦЕРТНЫЕ ЗАПИСИ - древняя кровь<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
древняя кровь <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 5-м ладу<br/></i>
 <br/>
Вступление: D <br/>
D G D A - 4p. A Asus4 A A7<br/>
<br/>
   D C        G     Asus2<br/>
У нее такая древняя кровь<br/>
     G                 F#m<br/>
Что те кто казались - стали как есть<br/>
     G                 A Asus4 A<br/>
Как будто бы их здесь нет<br/>
    D      C      G      Asus2<br/>
И они не знали зачем они здесь<br/>
   Em           F#m<br/>
И они пытались ее купить<br/>
    Em              F#m<br/>
Не зная что это нельзя купить<br/>
    G           G/f#        Em               A Asus4 A<br/>
И они вились вокруг ее ног как мотыльки на свет<br/>
<br/>
  Em G/f#        G<br/>
А он пил спирт где-то в углу<br/>
 Em     G/f#         G<br/>
Глядя на них как в огонь<br/>
Em    G/f#       G <br/>
И он сказал как будто ей вслед<br/>
     D                   C                 G   D<br/>
Это падают звезды - подставит ли кто-то ладонь?<br/>
<br/>
Проигрыш: D D G G D D A A - 2p.<br/>
<br/>
От него ждали больших проблем<br/>
Как будто бы он учебник неврозов<br/>
С ответами в самом конце<br/>
И он был пойман и отдан в плен<br/>
И каждый стал волен не вытерев рук<br/>
Созвав семью и накрыв на стол<br/>
Смотреть кино о запретных плодах на белом как снег лице<br/>
<br/>
И я кричал: Ну как вы могли<br/>
Не подходи! Не тронь!<br/>
Но он сказал: Здесь нет козырей<br/>
Просто падают звезды подставит ли кто-то ладонь?<br/>
<br/>
Проигрыш: D D G G D D A A - 2p.<br/>
<br/>
И когда этот фильм будет кончен и снят<br/>
И когда отзвенит последний звонок<br/>
И затихнет прощальный вальс<br/>
Мы останемся здесь словно бы после грозы<br/>
Я не помню всего, я кажется спал<br/>
Я видел свет и я слышал удар<br/>
Слава Богу гроза прошла стороной не задев ни меня ни вас<br/>
<br/>
Но почему-то на стуле в углу<br/>
Несколько роз как сон<br/>
И я не помню кто это сказал:<br/>
Если падают звезды     подставит ли кто-то ладонь?<br/>
<br/>
Заключение: D D G G D D A A - 2p. D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
