{% extends "chords.html" %}

{% set title = "Древнерусская тоска" %}
{% set handbook_unid = "3d20b9ed3ec3796ac325679d006aefdc" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СНЕЖНЫЙ ЛЕВ - древнерусская тоска<br/>
</span><span style="color:red"> <br/>
ДРЕВНЕРУССКАЯ ТОСКА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 5-м ладу<br/></i>
 <br/>
Вступление:<br/>
      A*<br/>
E---------------<br/>
H-2-2-2-2-2-2-2-<br/>
G-2-2-2-2-2-2-2- - 8p.<br/>
D-2-4-5-2-2-2-2-<br/>
A-0-0-0-0-0-0-3-<br/>
E-------0-3-----<br/>
<br/>
   A*                       A*<br/>
Куда ты, тройка, мчишься, куда ты держишь путь?<br/>
        A*                        A*<br/>
Ямщик опять нажрался водки, или просто лёг вздремнуть,<br/>
         D<br/>
Колёса сдадены в музей, музей весь вынесли вон,<br/>
          A*                   A*<br/>
В каждом доме раздаётся то ли песня, то ли стон,<br/>
          E<br/>
Как предсказано святыми всё висит на волоске,<br/>
      A*                   A*                                                <br/>
Я гляжу на это дело в древнерусской тоске...<br/>
<br/>
Проигрыш: A* - 4p.<br/>
<br/>
На поле древней битвы нет ни копий, ни костей,<br/>
Они пошли на сувениры для туристов и гостей,<br/>
Добрыня плюнул на Россию и в Милане чинит газ,<br/>
Алёша, даром что Попович, продал весь иконостас.<br/>
Один Илья пугает девок, скача в одном носке,<br/>
И я гляжу на это дело в древнерусской тоске...<br/>
<br/>
Проигрыш: A* - 4p.<br/>
<br/>
У Ярославны дело плохо, ей некогда рыдать,<br/>
Она в конторе с полседьмого, у ней брифинг ровно в пять,<br/>
А все бояре на "Тойотах" издают "Playboy" и "Vogue",<br/>
Продав леса и нефть на запад, СС20 - на восток.<br/>
Князь Владимир, чертыхаясь, рулит в море на доске,<br/>
Я гляжу на это дело в древнерусской тоске...<br/>
<br/>
Проигрыш: A* - 4p. D D A* A* E D A* E <br/>
<br/>
У стен монастыря опять большой переполох,<br/>
По мелкой речке к ним приплыл четырнадцатирукий бог.<br/>
Монахи с матом машут кольями, бегут его спасти,<br/>
А бог глядит, что дело плохо, и кричит "пусти, пусти",<br/>
Настоятель в женском платье так и скачет на песке,<br/>
Я гляжу на это дело в древнерусской тоске...<br/>
<br/>
Проигрыш: A* - 4p. D D A* A* E D A* E<br/>
<br/>
А над удолбанной Москвою в небо лезут леса,<br/>
Турки строят муляжи Святой Руси за полчаса,<br/>
А у хранителей святыни палец пляшет на курке,<br/>
Знак червонца проступает вместо лика на доске,<br/>
Хари Кришна ходит строем по Арбату и Тверской,<br/>
Я боюсь, что сыт по горло древнерусской тоской...<br/>
<br/>
Заключение: A* - 4p. D D A* A* E D A* E<br/>
A* - 4p. D D A* A* E D A* E A<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
