{% extends "chords.html" %}

{% set title = "Духовный паровоз" %}
{% set handbook_unid = "3563a9eb3eb0861cc325679d006af099" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ГИПЕРБОРЕЯ - МАГИСТРАЛЬ - духовный паровоз<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Духовный паровоз<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 1-м ладу<br/></i>
 <br/>
Вступление:<br/>
A(V) D# A(V) - 4p. <br/>
<br/>
G-------0-------------<br/>
D------2--------0-3---<br/>
A-0-0-4--------2------<br/>
E-----------3-3-------<br/>
<br/>
              A*<br/>
E-----------------------------<br/>
H-2-2-2-2-2-2-2-2-2-2-2-2-2-2-<br/>
G-2-2-2-2-2-2-2-2-2-2-2-2-2-2- - 4p.<br/>
D-2-2-3-2-5-3-2-2-3-2-5-5-3-2-<br/>
A-0-0-0-0-0-0-0-0-0-0-0-0-0-0-<br/>
E-----------------------------<br/>
G(III) B(VI) A* F E A*<br/>
<br/>
     A*<br/>
Не след лежать столбом, папа,<br/>
                      A*<br/>
Не след охотиться на коз,<br/>
  G(III)              B(VI)<br/>
Пора себя спасать, папа,<br/>
                  A*<br/>
Спасать себя всерьёз;<br/>
  F<br/>
Где твой третий глаз, папа?<br/>
E                     A*<br/>
 Я твой духовный паровоз.<br/>
<br/>
Проигрыш: A* A* G(III) B(VI) A* F E A*<br/>
<br/>
Не будь духовно слеп, папа,<br/>
Не доводи меня до слёз;<br/>
Не будь духовно слеп, папа,<br/>
Не доводи меня до слёз;<br/>
Папа, папа, <br/>
Я твой духовный паровоз!<br/>
<br/>
Проигрыш: <br/>
A F G(III) B(VI) A* F E A <br/>
<br/>
A  <br/>
Уу-и бум-бум-бум,<br/>
A<br/>
Уу-и бум-бум-бум,<br/>
G(III)       B(VI) <br/>
  Уу-и бум-бум-бум,<br/>
 A*<br/>
Уу-и бум-бум-бум.<br/>
<br/>
 F                     E<br/>
Господи, помилуй, папа,<br/>
Я твой духовный паровоз.<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   III       D#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VI     B(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
