{% extends "chords.html" %}

{% set title = "Дубровский" %}
{% set handbook_unid = "8e8afbe87a10590dc325679d006aef79" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СНЕЖНЫЙ ЛЕВ - дубровский<br/>
</span><span style="color:red"> <br/>
ДУБРОВСКИЙ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: C C C+g G C C<br/>
<br/>
    C                 Am              C G<br/>
Когда в лихие года пахнёт народной бедой,<br/>
    C      G       Am   Dm         G<br/>
Тогда в полуночный час, тихий, неброский,<br/>
    C               C7        F                      Dm<br/>
Из леса выходит старик, а глядишь - он совсем не старик,<br/>
        C      C/h     Am     Dm   G        C  G<br/>
А напротив, совсем молодой красавец Дубровский<br/>
<br/>
Проснись, моя Кострома, не спи, Саратов и Тверь,<br/>
Не век же нам мыкать беду и плакать о хлебе,<br/>
Дубровский берёт аэроплан, Дубровский взлетает наверх,<br/>
     C        C/h        Am       Dm     G<br/>
И летает над грешной землей, и пишет на небе - <br/>
<br/>
      C     G        C<br/>
«Не плачь, Маша, я здесь; <br/>
    Am                 C G<br/>
Не плачь - солнце взойдёт;<br/>
C           C/h      Am<br/>
 Не прячь от Бога глаза, <br/>
     Dm         G<br/>
А то как он найдёт нас?<br/>
   C                 C7<br/>
Небесный храм Иерусалим <br/>
    F         F/e     Dm<br/>
Горит сквозь холод и лёд<br/>
   C        G          Am<br/>
И вот он стоит вокруг нас, <br/>
    Dm    G     C      G<br/>
И ждёт нас, и ждёт нас...»<br/>
<br/>
Проигрыш: <br/>
C Am C G C G Am Dm G C C7 F F/e Dm C C/h Am Dm G C<br/>
<br/>
Он бросил свой щит и свой меч, швырнул в канаву наган,<br/>
Он понял, что некому мстить, и радостно дышит,<br/>
В тяжёлый для Родины час над нами летит его аэроплан<br/>
    C       C/h     Am     Dm        G<br/>
Красивый, как иконостас, и пишет, и пишет - <br/>
<br/>
«Не плачь, Маша, я здесь; <br/>
Не плачь - солнце взойдёт;<br/>
Не прячь от Бога глаза, <br/>
А то как он найдёт нас?<br/>
Небесный храм Иерусалим <br/>
Горит сквозь холод и лёд<br/>
И вот он стоит вокруг нас, <br/>
    Dm     G    C<br/>
И ждёт нас, и ждёт нас...»<br/>
<br/>
Заключение: Am Am F G C С<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
