{% extends "chords.html" %}

{% set title = "Дуй" %}
{% set handbook_unid = "0c9fb9e92e84c0dcc32572280038680d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛОШАДЬ БЕЛАЯ - дуй<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Дуй<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу <br/></i>
 <br/>
Вступление:<br/>
<span style="color:silver">E--</span><span style="color:gray">--</span>------------<br/>
<span style="color:silver">H--</span><span style="color:gray">--</span>------------<br/>
<span style="color:silver">G--</span><span style="color:gray">--</span>------------<br/>
<span style="color:silver">D--</span><span style="color:gray">--</span>------------<br/>
<span style="color:silver">A-2</span><span style="color:gray">~~</span>~~~~~~~~~~~~<br/>
<span style="color:silver">E-0</span><span style="color:gray">~~</span>~~~~~~~~~~~~<br/>
  Am Am/c Am Am7 Am Am Am Am/g<br/>
E-----------------------------<br/>
H------------1----------------<br/>
G-2----------0---2-----2------ = Am* - 4p.<br/>
D---------2------2--2--2------<br/>
A-0---3----------0--0---------<br/>
E-------------------------3---<br/>
<br/>
Am*   <br/>
Ветер с океана дует мне в окно<br/>
Am*<br/>
  Дуй с севера, дуй, дуй с юга<br/>
Am*<br/>
Ветер с океана, в тюрьме моей темно<br/>
Am* <br/>
  Дуй, дуй, дуй, пока не сдует<br/>
  Am*<br/>
В тёмно-синем небе благость и покой<br/>
Am*<br/>
  Дуй с севера, дуй, дуй с юга<br/>
  Am                       Am/g<br/>
А сердце под седлом пахнет дёгтем и трухой<br/>
Am/f#          Am/g<br/>
Дуй, дуй, дуй, дуй, пока не сдует<br/>
       F F Am*<br/>
А мы ждём,<br/>
  F    <span style="color:gray">F/e   F/d   F/f</span>    F    E<br/>
Ждём, ждём, ждём, ждём, ждём <br/>
                Am*  Am*<br/>
Мешай водку гвоздём.<br/>
<br/>
Я пошёл к колодцу, но в ведре моём дыра<br/>
Дуй с севера, дуй, дуй с юга<br/>
Завтра не придёт, у нас опять идёт вчера<br/>
Дуй, дуй, дуй, пока не сдует<br/>
Сколько ни стучись у этих пряничных ворот<br/>
Дуй с севера, дуй, дуй с юга<br/>
Коснись что не так, эх, милая, сама пойдёт<br/>
Дуй, дуй, дуй, дуй, пока не сдует<br/>
А мы ждём,<br/>
Ждём, ждём, ждём, ждём, ждём <br/>
Мешай водку гвоздём.<br/>
<br/>
 F<br/>
Бейся лбом в стену, бейся лбом в крест<br/>
   Am<br/>
Никто не выйдет целым с этой ярмарки невест<br/>
   F<br/>
А девочки смеются, у девочек война<br/>
 E<br/>
Девочки хотят ярко-красного вина.<br/>
<br/>
Проигрыш: Am* - 8p.<br/>
<br/>
Так что дуй, ветер, дуй,<br/>
Дуй издалека<br/>
Дуй с севера, дуй, дуй с юга<br/>
Дуй поперёк, ой, дуй наверняка<br/>
Дуй, дуй, дуй, пока не сдует<br/>
Вдуй по пилораме<br/>
Вдуй по островам<br/>
Дуй с севера, дуй, дуй с юга<br/>
Дуй пока стёкла не вынесет из рам<br/>
Дуй, дуй, дуй, дуй, пока не сдует<br/>
А мы ждём,<br/>
Ждём, ждём, ждём, ждём, ждём<br/>
Мешай, мешай.<br/>
<br/>
Заключение: Am* Am* <br/>
Am/e Asus2/d# Asus4/d (или Am/d) Am – 4p. Am<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am/c<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am/g<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/f#<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/d<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/f<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am/e<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Asus2/d#<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Asus4/d<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am/d<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
