{% extends "chords.html" %}

{% set title = "Дядюшка Томпосон" %}
{% set handbook_unid = "3000a3891c4939bac325679d006af228" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСКИ ПЕТЕРБУРГА - дядюшка томпсон<br/>
</span><span style="color:red"> <br/>
ДЯДЮШКА ТОМПСОН<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
E-10-10--14-15-17--14-10-18--17-15-22--<br/>
H--------------------------------------<br/>
G--------------------------------------<br/>
<br/>
E-22-23-20--22-20-22-18--20-18-17--18-17-15-<br/>
H-------------------------------------------<br/>
G-------------------------------------------<br/>
<br/>
G Am D G – 4p.<br/>
<br/>
   G                 Am<br/>
У дядюшки Томпсона два крыла,<br/>
    D                   G<br/>
Но дядюшка Томпсон не птица,<br/>
  G                   Am<br/>
И ежели мы встретим его в пути,<br/>
 G               D       G<br/>
Должно быть, придётся напиться.<br/>
<br/>
Проигрыш: G Am D G – 4p.<br/>
<br/>
В руках у него огнедышащий змей,<br/>
А рядом пасутся коровы,<br/>
И ежели мы не умрём прям вот сейчас,<br/>
То выпьем и будем здоровы.<br/>
<br/>
Заключение: G Am D G – 10p. G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
