{% extends "chords.html" %}

{% set title = "Единственный дом (Джа даст нас всё)" %}
{% set handbook_unid = "6f5a7155008c66b4c325679d006aee50" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СИНИЙ АЛЬБОМ - единственный дом (джа даст нам всё)<br/>
</span><span style="color:red"> <br/>
ЕДИНСТВЕННЫЙ ДОМ (ДЖА ДАСТ НАМ ВСЁ)<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: Am(V) – 2p.<br/>
<br/>
Am(V)<br/>
   Вот моя кровь;<br/>
    G(III)<br/>
Вот то, что я пою.<br/>
 Dm<br/>
Что я могу ещё;<br/>
 Am<br/>
Что я могу ещё?<br/>
<br/>
Am(V)<br/>
   Чуть-чуть крыши,<br/>
 G(III)<br/>
Хлеб, и вино, и чай;<br/>
Dm<br/>
  Когда я с тобой,<br/>
 Am<br/>
Ты - мой единственный дом.<br/>
<br/>
 Dm<br/>
Что я могу ещё;<br/>
  G7<br/>
Что я могу ещё?<br/>
  C            G<br/>
Джа даст нам всё,<br/>
   E                  F<br/>
У нас больше нет проблем;<br/>
Dm<br/>
  Когда я с тобой,<br/>
 Am<br/>
Ты - мой единственный дом...<br/>
<br/>
Что я могу ещё;<br/>
Что я могу ещё?<br/>
Джа даст нам всё,<br/>
У нас больше нет проблем;<br/>
Когда я с тобой,<br/>
Ты - мой единственный дом...<br/>
<br/>
Что я могу ещё;<br/>
Что я могу ещё?<br/>
Джа даст нам всё,<br/>
У нас больше нет проблем;<br/>
Когда я с тобой,<br/>
Ты - мой единственный дом...<br/>
<br/>
Что я могу ещё;<br/>
Что я могу ещё?<br/>
Джа даст нам всё,<br/>
У нас больше нет проблем;<br/>
Когда я с тобой,<br/>
Ты - мой единственный дом...<br/>
<br/>
Что я могу ещё;<br/>
Что я могу ещё?..<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Am(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
