{% extends "chords.html" %}

{% set title = "Если я уйду" %}
{% set handbook_unid = "8a988091e3808cd5c325679d006aeeef" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - если я уйду<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
если я уйду<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
Am:Am:Am/c:Am/c:Am! Am! Am! Am:Am/c:Am:Am/g! = Am* - 4p.<br/>
<br/>
Am*         Am*                   Am* Am*<br/>
Если я уйду,  кто сможет меня найти<br/>
Gm*        Gm*                   Am* Am*<br/>
Если я уйду, кто сможет меня найти<br/>
   E                            E7            Am* Am*<br/>
Но если я останусь здесь, кто сможет меня спасти?<br/>
<br/>
Ты рядом, но не здесь, ты прекрасна и ты не при чем<br/>
Ты рядом, но не здесь, ты прекрасна и ты не при чем<br/>
Луна в моих зрачках, ворон за моим плечом<br/>
<br/>
Окно выходит вверх, но сумрак кружит мой дом<br/>
Окно выходит вверх, но сумрак кружит мой дом<br/>
Утро ещё далеко, ничего, мы подождём<br/>
<br/>
Проигрыш: Am* - 4p. <br/>
Gm* - 2p. Am* - 2p.<br/>
E E7 Am* Am*<br/>
<br/>
Если я уйду, кто сможет меня найти<br/>
Если я уйду, кто сможет меня найти<br/>
Но если я останусь здесь, <br/>
E                    E7<br/>
Если я останусь здесь,<br/>
E                    E7                     Am* Am:Am:Am/c:Am/c:Am!<br/>
Если я останусь здесь, кто сможет меня спасти?<br/>
<br/>
<br/>
<br/>
Gm* = Gm:Gm:Gm/b:Gm/b:Gm! Gm! Gm! Gm:Gm/b:Gm:Gm/f!<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am/c<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am/g<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   III     Gm/b<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|-■-|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   III     Gm/f<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
x A-■-|---|---|---|---|<br/>
x E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
