{% extends "chords.html" %}

{% set title = "Ещё один упавший вниз" %}
{% set handbook_unid = "5ed74e6c91f94858c325679d006aef49" %}

{% block content %}
{% raw %}
<a name="_Toc153452780"></a><a href="/"><span style="font-size:8.0pt;text-transform:uppercase">Главная</span></a><span style="font-size:8.0pt;text-transform:uppercase">
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАДИО АФРИКА - ещё один упавший вниз<br/>
</span><span style="color:red"> <br/>
</span><h3 style="margin:0cm;margin-bottom:.0001pt"><span style="color:red;text-transform:uppercase;font-weight:normal">ЕЩЁ ОДИН УПАВШИЙ ВНИЗ</span></h3>
<i>Б. Гребенщиков<br/></i>
 <br/>
<span style="color:white;background:#DDF3FF">______________________</span><span style="background:#E6F9FF">E</span> H E H E H E H E H E H E H E<br/>
<br/>
   H                                         E<br/>
Искусственный свет на бумажных цветах - это так смешно;<br/>
    H                               E<br/>
Я снова один, как истинный новый романтик.<br/>
C#m             F#<br/>
   Возможно, я сентиментален -<br/>
F#m             A(V)  A(V)<br/>
   Таков мой каприз... <br/>
<br/>
Проигрыш: H H E E – 2p.<br/>
<br/>
Нелепый конец для того, кто так долго шёл иным путём;<br/>
Геометрия лома в хрустальных пространствах;<br/>
Я буду петь как синтезатор -<br/>
Таков мой каприз...<br/>
<br/>
H<br/>
О-о-о-о-о<br/>
                       E<br/>
...Ещё один, упавший вниз,<br/>
H<br/>
О-о-о-о-о<br/>
                       E<br/>
...Ещё один, упавший вниз,<br/>
             H     H<br/>
На полпути вверх...<br/>
<br/>
Bm(VI)                                  D#(VI)<br/>
      Архангельский всадник смотрит мне вслед;<br/>
Bm(VI)                        D#(VI)<br/>
      Прости меня за то, что я пел так долго... <br/>
<br/>
Проигрыш: G# G# E E – 3p. H E – 4p.<br/>
<br/>
H<br/>
О-о-о-о-о<br/>
            E<br/>
                      <span style="color:#4D4D4D">А-мито-<br/></span>
Ещё один, упавший вниз.<br/>
<span style="color:#4D4D4D">-бо<br/></span>
 <br/>
  О-о-о-о-о<br/>
                      <span style="color:#4D4D4D">А-мито-<br/></span>
Ещё один, упавший вниз.<br/>
<span style="color:#4D4D4D">-бо<br/></span>
 <br/>
  О-о-о-о-о<br/>
                      <span style="color:#4D4D4D">А-мито-<br/></span>
Ещё один, упавший вниз.<br/>
<span style="color:#4D4D4D">-бо<br/></span>
 <br/>
  О-о-о-о-о<br/>
                      <span style="color:#4D4D4D">А-мито-<br/></span>
Ещё один, упавший вниз.<br/>
<span style="color:#4D4D4D">-бо<br/></span>
 <br/>
  О-о-о-о-о<br/>
                      <span style="color:#4D4D4D">А-мито-<br/></span>
Ещё один, упавший вниз.<br/>
<span style="color:#4D4D4D">-бо<br/></span>
 <br/>
  О-о-о-о-о<br/>
                      <span style="color:#4D4D4D">А-мито-<br/></span>
Ещё один, упавший вниз.<br/>
<span style="color:#4D4D4D">-бо<br/></span>
   E-11~<br/>
 H H-13~   <br/>
  О-о-о-о-о<br/>
  -8~~             -11~<br/>
  -10~      E      -13~         <br/>
                      <span style="color:#4D4D4D">А-мито-<br/></span>
Ещё один, упавший вниз.<br/>
<span style="color:#4D4D4D">-бо<br/></span>
   -8~~ -11~<br/>
 H -10~ -13~<br/>
  О-о-о-о-о<br/>
              -8~~     -11~<br/>
            E -10~     -13~<br/>
                      <span style="color:#4D4D4D">А-мито-<br/></span>
Ещё один, упавший вниз.<br/>
<span style="color:#4D4D4D">-бо<br/></span>
    -8~~<br/>
 H  -13~<br/>
  О-о-о-о-о<br/>
     -11~           -8~~11~8~~11~8~~~~<br/>
     -13~   E       -10~13~10~13~10~~~<br/>
<span style="color:#292929">Ещё </span><span style="color:#777777">один,</span><span style="color:#292929"> </span><span style="color:#969696">у</span><span style="color:#AEAEAE">п</span><span style="color:#B2B2B2">ав</span><span style="color:silver">ший </span><span style="color:#DDDDDD">вниз.<br/>
<br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VI     Bm(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VI     D#(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
