{% extends "chords.html" %}

{% set title = "Ещё один раз" %}
{% set handbook_unid = "75f835dc7df074a4c325753c0054027d" %}

{% block content %}
{% raw %}
<span style="color:red;text-transform:uppercase">Ещё один раз<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу <br/></i>
 <br/>
Вступление: <br/>
 Asus2  Am Asus2  Am Asus2  Am Asus2 Am<br/>
E-------0--------0-<span style="color:gray">0</span>-------0-<span style="color:gray">0</span>-------0-<br/>
H----0--------0---------0---------0----<br/>
G---2-2------2-2-------2-2-------2-2---<br/>
D--2---2----2---2-----2---2-----2---2--<br/>
A-0--------0---------0---------0-------<br/>
E--------------------------------------<br/>
<br/>
Am<br/>
  Серые следы на сером снегу<br/>
Asus2add11+                  E7sus4 E<br/>
          Сбитые с камней имена<br/>
Am<br/>
  Я много лет был в долгу<br/>
Asus2add11+<br/>
          Мне забыли сказать, <br/>
    E7sus4             E<br/>
Что долг заплачен сполна<br/>
F                     G<br/>
 Пахнет застарелой бедой<br/>
C             C/h                     Am<br/>
 Солнцу не пробиться в глубину этих глаз<br/>
F                   G<br/>
 Теперь мне всё равно, <br/>
       C         C/h       F<br/>
Что спрятано под тёмной водой<br/>
Dm                        Em      Am Am<br/>
  Едва ли я вернусь сюда ещё один раз.<br/>
<br/>
Есть одно слово, которое сложно сказать<br/>
Но скажи его раз, и железная клетка пуста<br/>
Останется ночь, останется снежная степь<br/>
Молчащее небо и северная звезда<br/>
И кажется, что там впереди<br/>
Что-то непременно для нас<br/>
Но сколько ни идёшь, <br/>
Отсюда никуда не уйти<br/>
F              Dm        Em       Am Am<br/>
 Едва ли я вернусь сюда ещё один раз.<br/>
<br/>
Проигрыш: Am Am Asus2add11+ E7sus4 E - 2p. F G C C/h Am F G C C/h F F Dm Em Am Am<br/>
<br/>
Над скудной землёй бешено кричит вороньё<br/>
Над ними синева, но они никуда не взлетят<br/>
У каждого судьба, у каждого что-то своё, <br/>
Они не выйдут из клетки, потому что они не хотят.<br/>
И если выбить двери плечом<br/>
Всё выстроится снова за час<br/>
Сколько ни кричи, <br/>
      C       C/h       F F<br/>
Пустота в пустоту ни о чём<br/>
Dm                        Em      Am  Am<br/>
  Есть повод прийти сюда ещё один раз.<br/>
<br/>
Заключение: Am Am Asus2add11+ E7sus4 E - 2p.<br/>
F G Am F F G C C/h F F Em <br/>
Am Asus2 Aadd11+(no3) Aadd11+(no3) <br/>
Aadd11+(no3):Am Aadd11+(no3):Am Aadd11+(no3):Am Aadd11+(no3):Am Am <br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">       Asus2add11+<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          E7sus4<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">       Aadd11+(no3)<br/>
o E---|---|---|---|---|<br/>
  H---|---|---|-■-|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
