{% extends "chords.html" %}

{% set title = "Жажда" %}
{% set handbook_unid = "073912542e9a159ec325679d006af309" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕТИ ДЕКАБРЯ - ЖАЖДА<br/>
</span><span style="color:red"> <br/>
ЖАЖДА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
A       F#<br/>
 Ва-хо-ва…<br/>
A       F#<br/>
 Ва-хо-ва…<br/>
A       F# 1:VIII 1:XIII <span style="color:#333333">1:VIII 1:XIII</span> <span style="color:#5F5F5F">1:VIII 1:XIII</span> <span style="color:#969696">1:VIII </span><span style="color:#B2B2B2">1:XIII</span> <span style="color:silver">1:VIII<br/></span>
 Ва-хо-ва…<br/>
A        F#<br/>
 Ва-хо-ва…<br/>
<br/>
A<br/>
 Я просыпаюсь, я боюсь открыть веки,<br/>
           D<br/>
Я спрашиваю: "Кто здесь, кто здесь?"<br/>
B<br/>
 Они отвечают, но как-то крайне невнятно.<br/>
       H                       E<br/>
Все часы ушли в сторону - это новое время. <br/>
<br/>
Трубы, я слышу трубы... кто зовёт нас?<br/>
Я въехал в дом, но в нём снова нет места.<br/>
Я говорю нет, но это условный рефлекс,<br/>
Наверное, слишком поздно; слишком поздно... <br/>
<br/>
A       F#<br/>
 Ва-хо-ва…<br/>
A       F#<br/>
 Ва-хо-ва…<br/>
<br/>
Ты можешь спросить себя: "Где мой новый красивый дом?"<br/>
Ты можешь цитировать Брайана Ино с Дэвидом Бирном,<br/>
Но в любой коммунальной квартире есть свой собственный цирк,<br/>
Шаги в сапогах в абсолютно пустом коридоре.<br/>
<br/>
И ты вёл их всё дальше и дальше,<br/>
Но чем дальше в лес, тем легче целиться в спину.<br/>
И ты приходил домой с сердцем, полным любви,<br/>
И мы разбивали его вместе, каждый последний раз вместе. <br/>
<br/>
F<br/>
 Наши руки привыкли к пластмассе,<br/>
F                               A<br/>
 Наши руки боятся держать серебро;<br/>
F<br/>
 Но кто сказал, что мы не можем стать чище?<br/>
F                                   E  <br/>
 Кто сказал, что мы не можем стать чище? <br/>
<br/>
Проигрыш: <br/>
  D#<br/>
E----------------------------------------<br/>
H----------------------------------------<br/>
G----------------------------------------<br/>
D----------------------------------------<br/>
A-7sl0---6sl7sl6sl7sl6sl7--6sl7--7-5-9-8-<br/>
E----------------------------------------<br/>
A F# - 8p.<br/>
<br/>
    A<br/>
Закрыв глаза, я прошу воду:<br/>
    F#<br/>
"Вода, очисти нас ещё один раз";<br/>
<br/>
Закрыв глаза, я прошу воду:<br/>
"Вода, очисти нас ещё один раз";<br/>
<br/>
Закрыв глаза, я прошу воду:<br/>
"Вода, очисти нас ещё один раз";<br/>
<br/>
Закрыв глаза, я прошу воду: "Вода, очисти нас..." <br/>
<span style="color:gray">G#m C#7 F# H G#m C#7 F#<br/>
<br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   III       D#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#7<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
