{% extends "chords.html" %}

{% set title = "Железнодорожная вода" %}
{% set handbook_unid = "702b081a6b705e07c325679d006aeeb3" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СИНИЙ АЛЬБОМ - Железнодорожная вода<br/>
</span><span style="color:red"> <br/>
ЖЕЛЕЗНОДОРОЖНАЯ ВОДА<br/>
</span><i>Б. Гребенщиков<br/>
<br/>
Каподастр на 2-м ладу <br/></i>
 <br/>
Вступление: D Dsus4 D Dsus4 D D Dsus4 D Dsus4 D<br/>
<br/>
 D       Dsus4 D    G      A7       D Dsus4 D Dsus4 D<br/>
Дай мне напиться железнодорожной воды;<br/>
 D       Dsus4 D    G      A7       D Dsus4 D Dsus4 D<br/>
Дай мне напиться железнодорожной воды.<br/>
     Hm                    F#m<br/>
Мне нравится лето тем, что летом тепло,<br/>
   G       G/f#          Em<br/>
Зима мне мила тем, что замёрзло стекло,<br/>
         A7        G A7                 D Dsus4 D Dsus4 D<br/>
Меня не видно в окно,  и снег замёл следы.<br/>
<br/>
Когда я был младше, я ставил весь мир по местам;<br/>
Когда я был младше, я расставил весь мир по местам.<br/>
Теперь я пью свой wine, я ем свой cheese,<br/>
Я качусь по наклонной - не знаю, вверх или вниз,<br/>
Я стою на холме - не знаю, здесь или там.<br/>
<br/>
Проигрыш: D Dsus4 D G A7 D Dsus4 D Dsus4 D - 2p.<br/>
Hm F#m G G/f# Em A7 G A7 D Dsus4 D Dsus4 D<br/>
<br/>
Мы были знакомы, я слышал, что это факт;<br/>
Мы были знакомы, я слышал, что это факт.<br/>
Но сегодня твой мозг жужжит, как фреза;<br/>
Здесь слишком светло, и ты не видишь глаза,<br/>
Но вот я пою – попадёшь ли ты в такт?<br/>
<br/>
Есть те, что верят, и те, что смотрят из лож.<br/>
И даже я порой уверен, что вижу, где ложь.<br/>
Но когда ты проснёшься, скрой свой испуг:<br/>
Это был не призрак, это был только звук;<br/>
Это тронулся поезд, на который ты не попадёшь.<br/>
<br/>
Так дай мне напиться железнодорожной воды;<br/>
Дай мне напиться железнодорожной воды.<br/>
Я пишу свои песни в конце декабря<br/>
Голый, в снегу, при свете полной луны,<br/>
Но если ты меня слышишь, наверное, это не зря.<br/>
<br/>
Заключение: D Dsus4 D G A7 D Dsus4 D Dsus4 D - 2p.<br/>
Hm F#m G G/f# Em A7 G A7 D Dsus4 D Dsus4 D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
