{% extends "chords.html" %}

{% set title = "Жёлтая луна" %}
{% set handbook_unid = "a5929e733273e8b1c3256cd4001fc47d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСНИ РЫБАКА - жёлтая луна<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Жёлтая луна<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: D G A D D – 4p.<br/>
<br/>
D      G            A      D D<br/>
 Если хочешь, ты меня полюби;<br/>
D        G        A D D<br/>
 Просто так или с USB;<br/>
D                   A                  Em<br/>
 И может быть, мы сразу друг друга поймём -<br/>
G        A                    D<br/>
 Если у нас один и тот же разъём.<br/>
<br/>
Проигрыш: G A, D G A, D G A, D G A<br/>
<br/>
D            G           A       D  G A<br/>
 Как тебя услышать, если я без ушей?<br/>
D                 G    A       D G A<br/>
 В компьютере полно летучих мышей;<br/>
D            A               Em<br/>
 А жёлтая луна встаёт в камышах.<br/>
G            A                       D<br/>
 Есть такое чувство, будто всем нам шах.<br/>
<br/>
Проигрыш: G A, D G A <br/>
<br/>
D          G            A        D G A<br/>
 Минус на минус не всегда даёт плюс.<br/>
D          G           A         D G A<br/>
 Где-то в сети лежит языческий блюз;<br/>
D            A                 Em<br/>
 А жёлтая луна уже на уровне крыш -<br/>
G            A                 D   D7<br/>
 Я тебя не слышу, неужели ты спишь...<br/>
<br/>
G             A         D            G<br/>
 Солнце на закат, значит луна на восход.<br/>
G                A     D                 G<br/>
 Как обидно быть умным - знаешь всё наперёд.<br/>
G            A D                  G<br/>
 Все мои прямые свернулись в кольцо -<br/>
Em          G                   A/c#       Hm       A<br/>
  Как мне увидеть тебя, когда прожекторы прямо в лицо?<br/>
<br/>
Проигрыш: D G A D D - 2p. D A Em Em G A D D7<br/>
<br/>
G           A        D             G<br/>
 Ты будешь небом, где нежатся облака;<br/>
G        A    D               G<br/>
 Я буду морем, морем без рыбака;<br/>
G               A D                  G<br/>
 Но все мои прямые свернулись в кольцо;<br/>
Em         G                A/c#       Hm       A<br/>
  Как я узнаю тебя, когда прожекторы прямо в лицо?<br/>
<br/>
D              G            A      D G A<br/>
 Так что если хочешь, ты меня полюби.<br/>
D     G       A D G A       <br/>
 Firewire или USB.<br/>
D                 A                  Em<br/>
 Может быть, мы сразу друг друга поймём -<br/>
G              A                    D 1:III 1:II 1:0 1:II D<br/>
 Видит Бог, у нас один и тот же разъём.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          A/c#<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
