{% extends "chords.html" %}

{% set title = "Забадай" %}
{% set handbook_unid = "3ec0a1c6fd78c04ec3256f54004ec097" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;color:blue;text-transform:uppercase"><a href="/"><span style="color:blue">Главная</span></a>
- <span style="color:blue">ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ</span> - <span style="color:blue">ZOOM ZOOM ZOOM</span>
- </span><span style="font-size:8.0pt;text-transform:uppercase">забадай<br/>
</span><span style="color:blue;text-transform:uppercase"> <br/>
</span><span style="color:red;text-transform:uppercase">Забадай<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: A A/d# B Asus4 E - 2p.<br/>
<br/>
       A                F#m<br/>
Бессердечные братья Забадай<br/>
   Hm               E <br/>
С улыбкой от уха до уха<br/>
  A                  F#m<br/>
Скоро приедут в наш край<br/>
   Hm                 E<br/>
Показывать свою силу духа;<br/>
     A                F#m<br/>
Они будут ходить по углям,<br/>
 Hm                   E<br/>
Будут служить нам примером -<br/>
      A               F#m<br/>
Как сладко нарушить закон,<br/>
       Hm                E<br/>
Какое счастье быть старовером.<br/>
<br/>
<br/>
Проигрыш: A A/d# B Asus4 E<br/>
<br/>
<br/>
Я был привязан к земле,<br/>
Я молча глотал свои слёзы;<br/>
Но то, что я нёс на себе,<br/>
Теперь горит в пламени Розы;<br/>
А те, кто снимал дивиденд -<br/>
Я помню, как они улыбались -<br/>
Они думали, что всё это им;<br/>
Похоже, что они ошибались.<br/>
<br/>
 C          Am<br/>
14 лет я не ел;<br/>
Dm           G<br/>
14 лет я не пил;<br/>
 C         Am<br/>
14 лет молчал,<br/>
           Dm          G<br/>
Чтобы не тревожить тебя.<br/>
    C                       Am<br/>
Но теперь мне стал узок причал<br/>
Dm              G<br/>
  И нет больше сил;<br/>
    C                Am<br/>
Я сделаю так, как хотел,<br/>
            Dm        G<br/>
Чтобы растаможить тебя.<br/>
<br/>
<br/>
Проигрыш: D E Gm A, D E Gm C E(IV)<br/>
A F#m Hm E - 2p.<br/>
<br/>
Велик император, нет слов - <br/>
Но он как DJ без эфира;<br/>
С тех пор, как я знаю тебя,<br/>
Я потерян для внешнего мира.<br/>
Я встал на твоем берегу,<br/>
Спасибо этому дому;<br/>
Ты воздух, которым я жив,<br/>
И я бы не хотел по-другому.<br/>
<br/>
14 лет я не ел;<br/>
14 лет я не пил;<br/>
14 лет молчал,<br/>
Чтобы не тревожить тебя.<br/>
Но теперь мне стал узок причал<br/>
И нет больше сил;<br/>
Я сделаю так, как хотел,<br/>
Чтобы растаможить тебя.<br/>
<br/>
 D          Hm<br/>
14 лет я не ел;<br/>
Em           A<br/>
14 лет я не пил;<br/>
 D         Hm<br/>
14 лет молчал,<br/>
             Em        A<br/>
Чтобы не тревожить тебя.<br/>
      D                     Hm<br/>
Но теперь мне стал узок причал<br/>
Em              A <br/>
  И нет больше сил;<br/>
    D                Hm<br/>
Я сделаю так, как хотел,<br/>
            Em        A<br/>
Чтобы растаможить тебя.<br/>
<br/>
Заключение: E G#m F#m C(III) H - 2p. E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A/d#<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV     E(IV)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
