{% extends "chords.html" %}

{% set title = "Звёздочка" %}
{% set handbook_unid = "9a70f803c1b5d268c325679d006aee59" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - КОСТРОМА MON AMOUR - звёздочка<br/>
</span><span style="color:red"> <br/>
ЗВЁЗДОЧКА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: 1:0 1:V D A E A D A E F#m D A E A D A E A<br/>
D A E A – 4p.<br/>
<br/>
 D                 A         E            A<br/>
Вот упала с неба звёздочка, разбилась на-поровну,<br/>
 D              A       E             F#m<br/>
Половинкой быть холодно, да вместе не след;<br/>
 D           A         E             A<br/>
Поначалу был ястребом, а потом стал вороном;<br/>
 D               A            E          F#m<br/>
Сел на крыльцо светлое, да в доме никого нет.<br/>
<br/>
Проигрыш: D A E A – 4p.<br/>
<br/>
Один улетел по ветру, другой уплыл по воду,<br/>
А третий пьёт горькую, да всё поёт об одном:<br/>
Весело лететь ласточке над золотым проводом,<br/>
Восемь тысяч вольт под каждым крылом...<br/>
<br/>
Проигрыш: D A E A D A E F#m - 2p. D A E A<br/>
<br/>
Одному дала с чистых глаз, а другому из шалости,<br/>
А сама ждала третьего - да уж сколько лет...<br/>
Ведь если нужно мужика в дом - так вот он, пожалуйста;<br/>
Но ведь я тебя знаю - ты хочешь, чего здесь нет.<br/>
<br/>
Проигрыш: D A E A D A E F#m - 2p.<br/>
<br/>
Так ты не плачь, моя милая; ты не плачь, красавица;<br/>
Нам с тобой ждать нечего, нам вышел указ.<br/>
Ведь мы ж из серебра-золота, что с нами станется,<br/>
Ну а вы, кто остались здесь - молитесь за нас.<br/>
<br/>
Заключение: D A E A D A E F#m D A E A D A E A<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
