{% extends "chords.html" %}

{% set title = "Здравствуй, моя смерть (Тема для новой войны)" %}
{% set handbook_unid = "0bc0b5e0145b20f5c325679d006aef07" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕНЬ СЕРЕБРА - здравствуй, моя смерть (Тема для новой войны)<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Здравствуй, моя Смерть (ТЕМА ДЛЯ НОВОЙ ВОЙНЫ)<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
  G#m/E        A6           G#m/E            A6<br/>
E---4----4--4-----2------------4--4----4--4-----2--2--------<br/>
H--4----4-4--4---2---2---2----4-4--4--4-4--4---2-2--2--2--2-<br/>
G------4---4----2---2---2----4---4---4---4----2---2---2--2--<br/>
D-2---2---------------------2-------2-----------------------<br/>
A--------------0---0-------------------------0-------0------<br/>
E-----------------------------------------------------------<br/>
G#m/E            A6             G#m/E            A6<br/>
---4--4----4--4-----2--2-----------4--4----4--4-----2-<br/>
--4-4--4--4-4--4---2-2--2--2--2---4-4--4--4-4--4---2--<br/>
-4---4---4---4----2---2---2--2---4---4---4---4----2---<br/>
2-------2-----------------------2-------2-------------<br/>
-----------------0-------0-----------------------0----<br/>
------------------------------------------------------<br/>
<br/>
  A(V)            C#m<br/>
Здравствуй, моя смерть,<br/>
  A(V)                             F#m<br/>
Я рад, что мы говорим на одном языке.<br/>
    G(III)                              Hm<br/>
Мне часто был нужен кто-то, кому всё равно, кто я сейчас,<br/>
      G                              C C/h A<br/>
Кто знает меня и откроет мне двери домой;<br/>
  A                                      G<br/>
Учи меня в том, что может быть сказано мной.<br/>
  A                               Em<br/>
Учи меня - слова безразличны, как нож.<br/>
   G                                   Hm<br/>
А тот, кто хочет любви, беззащитен вдвойне,<br/>
       G                              C C/h A<br/>
И не зная тебя, движется словно впотьмах -<br/>
  G6/h      Gm6/b              D<br/>
И каждый говорит о любви в словах,<br/>
G6/h  Gm6/b              D<br/>
Каждый видит прекрасные сны,<br/>
G6/h     Gm/b             D                G<br/>
Каждый уверен, что именно он - источник огня,<br/>
  B                      Hm<br/>
И это - тема для новой войны. <br/>
<br/>
Проигрыш: A Em – 3p.<br/>
<br/>
Здравствуй, смерть, спасибо за то, что ты есть;<br/>
Мой торжественный город ещё не проснулся от сна.<br/>
Пока мы здесь и есть ещё время делать движенья любви,<br/>
Нужно оставить чистой тропу к роднику;<br/>
И кто-то ждёт нас на том берегу,<br/>
Кто-то взглянет мне прямо в глаза,<br/>
Но я слышал песню, в ней пелось: "Делай, что должен, и будь, что будет", - <br/>
Мне кажется, это удачный ответ на вопрос;<br/>
Но каждый из нас торгует собой всерьёз,<br/>
Чтобы купить себе продолженье весны.<br/>
И каждый в душе сомневается в том, что он прав,<br/>
И это - тема для новой войны. <br/>
<br/>
Проигрыш: A Em – 4p. <br/>
<br/>
 G                 G/f<br/>
Fais se que dois,- adviegne que peut;<br/>
  A            <span style="color:gray">Em<br/></span>
C`est commande au chevalier...<br/>
<br/>
Fais se que dois,- adviegne que peut;<br/>
C`est commande au chevalier...<br/>
<br/>
Fais se que dois,- adviegne que peut;<br/>
C`est commande au chevalier...<br/>
<br/>
Fais se que dois,- adviegne que peut;<br/>
C`est commande au chevalier...<br/>
<br/>
Fais se que dois,- adviegne que peut;<br/>
C`est commande au chevalier...<br/>
<br/>
Fais se que dois,- adviegne que peut;<br/>
C`est commande au chevalier...<br/>
<br/>
Fais se que dois,- adviegne que peut;<br/>
C`est commande au chevalier...<br/>
<br/>
Fais se que dois,- adviegne que peut;<br/>
C`est commande au chevalier...<br/>
<br/>
Fais se que dois,- adviegne que peut;<br/>
C`est commande au chevalier...<br/>
<br/>
Fais se que dois,- adviegne que peut;<br/>
C`est commande au chevalier...<br/>
<br/>
Fais se que dois,- adviegne que peut;<br/>
C`est commande au chevalier...<br/>
<br/>
<span style="color:#333333">Fais se que dois</span><span style="color:#4D4D4D">,- adviegne que peut;<br/></span>
  A            <span style="color:gray">Em</span> <span style="color:#5F5F5F"> </span><span style="color:gray"> </span>      <br/>
<span style="color:gray">C`est commande</span> <span style="color:gray">au chevalier...<br/>
</span><span style="color:silver"> G <br/>
Fais se </span><span style="color:#DDDDDD">que</span><span style="color:silver"> </span><span style="color:#EAEAEA">dois,<br/></span>
 <br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G#m/e<br/>
  E---|-■-|---|-■-|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A6<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Gm6/b<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G/f<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
