{% extends "chords.html" %}

{% set title = "Зимняя роза" %}
{% set handbook_unid = "b22e0d038919c8afc3256d250030367a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСНИ РЫБАКА - зимняя роза<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Зимняя роза<br/>
</span><i>Б. Гребенщиков</i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: C - 4p. <br/>
C Am C Am, C Am Em G, C Am C Am, C Am Em G, C C <br/>
<br/>
C       Am<br/>
 Зимняя Роза,<br/>
       C                    Am<br/>
Мы встретились с тобой на углу.<br/>
      C                      Am<br/>
Ты стояла в пальто с воротником,<br/>
       F                 Em<br/>
Ты сказала: "Сейчас я умру".<br/>
C             Am<br/>
 Мы выпили горилки,<br/>
     C              Am<br/>
Ты двигала левой ногой,<br/>
 C                 Am <br/>
Жаль, что вместо тебя в этом зеркале<br/>
     F                Em<br/>
Отражается кто-то другой;<br/>
      F             Dm<br/>
А священник на стадионе <br/>
          F                        Dm<br/>
Даже не знал, что ты танцуешь на льду;<br/>
         F           Dm<br/>
Как много вредных веществ в тот день<br/>
              F                Em  G<br/>
Было выброшено в окружающую среду -<br/>
<br/>
        C                 Am<br/>
Если б мир был старше на тысячу лет,<br/>
        C              Am<br/>
Он не смог бы тебя прочесть -<br/>
     C                 Am<br/>
Но мне всё равно, я люблю тебя <br/>
   F          G          C<br/>
В точности такой, как ты есть.<br/>
<br/>
Проигрыш: C - 3p.<br/>
<br/>
Мы встретились в 73-м,<br/>
Коллеги на Алмазном Пути,<br/>
У тебя тогда был сквот в Лувре,<br/>
Там ещё внизу был склад DMT;<br/>
Твой отец звонил с Байконура,<br/>
Что купил пропуска и посты;<br/>
Жаль, что ребята из "Баадер и Майнхоф"<br/>
Пропили твои софты;<br/>
А у тебя была привычка говорить во сне,<br/>
Так я узнал про твою паранджу,<br/>
Но ты же знаешь, ты можешь быть спокойна,<br/>
Я никогда ничего не скажу -<br/>
<br/>
Если б мир был мудрее на тысячу лет, <br/>
Он не смог бы тебя прочесть -<br/>
Но мне всё равно, я люблю тебя<br/>
В точности такой как ты есть.<br/>
<br/>
Проигрыш: C - 3p.<br/>
<br/>
Помнишь, у тебя был японец<br/>
Из чайной школы Джоши Энро,<br/>
Вы с ним пытались раскопать на Юкатане<br/>
Мощи Мэрлин Монро,<br/>
Ты сказала мне: "Держи своё при себе<br/>
И не оставляй следов".<br/>
И, как Савонарола, ты ушла в Антарктиду,<br/>
Растаяв среди вечных льдов;<br/>
Но я сохранил твои вещи,<br/>
Даже эту голову из St. Tropez,<br/>
Я знал, что рано или поздно звёзды выстроятся в ряд,<br/>
И мы сойдёмся на одной тропе.<br/>
<br/>
Если б мир был лучше в тысячу раз,<br/>
Он не смог бы тебя прочесть;<br/>
Но мне всё равно, я люблю тебя<br/>
В точности такой, как ты есть.<br/>
<br/>
Проигрыш: C - 3p.<br/>
<br/>
Все те, кто знал тебя раньше,<br/>
Их можно вбить на один CD-ROM;<br/>
Они до сих пор пьют твою кровь<br/>
И называют её вином.<br/>
Но нет смысла таить на них зла,<br/>
Я даже не хочу о них петь -<br/>
Просто некоторые старятся раньше,<br/>
Чем успевают начать взрослеть.<br/>
А я не знаю, откуда я,<br/>
Я не знаю, куда я иду,<br/>
Когда при мне говорят "Всё будет хорошо",<br/>
Я не знаю, что они имеют в виду.<br/>
<br/>
Если б мир был мудрее в тысячу раз, <br/>
Он не смог бы тебя прочесть<br/>
Мне всё равно, я люблю тебя<br/>
Точно такой, как ты есть.<br/>
<br/>
Проигрыш: C - 3p. <br/>
C Am, C Am, C Am, F Em, C Am, C Am, C Am, F Em, C C C C<br/>
<br/>
Ребёнка выплеснули вместе с водой.<br/>
Изумруды зарыли во мху.<br/>
Не это ли то, о чём предупреждали<br/>
Ребята, что сидят наверху?<br/>
Но они всё равно пляшут, <br/>
Когда ты трогаешь рукой эту нить;<br/>
А любовь это или отрава - <br/>
Я никогда не мог определить.<br/>
Но иногда едешь в поезде,<br/>
Пьёшь Шато Лафит из горла,<br/>
И вдруг понимаешь - то, что ждёт тебя завтра,<br/>
Это то, от чего ты бежал вчера.<br/>
<br/>
Если б мир был старше на тысячу лет,<br/>
Он не смог бы тебя прочесть;<br/>
Ты Зимняя Роза, я просто люблю тебя<br/>
Такой, как ты есть.<br/>
<br/>
Заключение: C <br/>
C Am C Am, C Am Em G, C Am C Am, C Am Em G - 2p. <br/>
C - 4p. C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
