{% extends "chords.html" %}

{% set title = "Змея" %}
{% set handbook_unid = "57a4de616a6a41b2c325679d006af231" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАДИО АФРИКА - змея<br/>
</span><span style="color:red"> <br/>
ЗМЕЯ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
D----------------<br/>
A-2-2-2-2-2-2-2-2 – 2p.<br/>
E----------------<br/>
<br/>
H – 4p.<br/>
<br/>
   H<br/>
У каждой женщины должна быть змея;<br/>
<br/>
У каждой женщины должна быть змея;<br/>
<br/>
Это больше чем ты, это больше чем я -<br/>
<br/>
У каждой женщины должна быть змея;<br/>
<br/>
У каждой женщины должна быть змея;<br/>
<br/>
У каждой женщины должна быть змея;<br/>
<br/>
Это больше чем ты, это больше чем я -<br/>
<br/>
У каждой женщины должна быть змея...<br/>
<br/>
<br/>
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/></span></b>
{% endraw %}
{% endblock %}
