{% extends "chords.html" %}

{% set title = "Золотых лошадей" %}
{% set handbook_unid = "d4af10a2142439bec325679d006af267" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - золотых лошадей<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Золотых лошадей<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
     B<br/>
Хорошо бы золотых лошадей за копыта цапать.<br/>
<br/>
Хорошо бы золотых лошадей за копыта цапать.<br/>
<br/>
Хорошо бы золотых лошадей за копыта цапать.<br/>
<br/>
Хорошо бы золотых лошадей за копыта цапать. <br/>
<br/>
Хорошо бы золотых лошадей за копыта цапать.<br/>
<br/>
Хорошо бы золотых лошадей за копыта цапать. <br/>
<br/>
Хорошо бы золотых лошадей за копыта цапать. <br/>
<br/>
Хорошо бы золотых лошадей за копыта цапать.<br/>
<br/>
<span style="color:#333333">Цап. Цап цапцап цап за цап цок цацап за цап цапцап цапцап<br/>
Ко бы ца Ко бы ца бы ко Ко бы  ца ба   ба…<br/>
<br/>
<br/>
</span><b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
</span></b>
{% endraw %}
{% endblock %}
