{% extends "chords.html" %}

{% set title = "Иван и Данило" %}
{% set handbook_unid = "18155f25222b0274c325679d006aef1f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ФЕОДАЛИЗМ - иван и данило<br/>
</span><span style="color:red"> <br/>
ИВАН И ДАНИЛО<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
D G A – 11p.<br/>
<br/>
  D              G A           D          G A<br/>
Иван и Данило; <span style="color:#333333">у-у…</span>
вот идут Иван и Данило. <br/>
           D              G A            F           A<br/>
Мне скажут: "Как это мило",  я скажу: "Иван и Данило". <br/>
<br/>
Иван и Данило; <span style="color:#333333">у-у…</span>
вот идут Иван и Данило. <br/>
Мне скажут: "Всё это было", я скажу: "Иван и Данило". <br/>
<br/>
       D                        G            A<br/>
Мой лирический герой сидит в Михайловском саду,<br/>
    D                 G        A                      <br/>
Он курит папиросы у всех на виду,<br/>
       D               G       A <br/>
Из кустов появляются Иван и Данило,<br/>
       F                 A<br/>
Он глядит на них глазами; <br/>
       D                  G            A<br/>
Он считал их персонажами собственных книг,<br/>
    D                     G          A<br/>
<span style="color:#999999">Он</span> думает, не стал ли он жертвой интриг,<br/>
    D                      G           A<br/>
Он думает, не пил ли он чего-нибудь такого,<br/>
         F                 A<br/>
Дык, не пил, ёлы-палы, нет;<br/>
<br/>
Вот идут Иван и Данило; <span style="color:#333333">у-у…</span>
вот идут Иван и Данило. <br/>
Мне скажут: "Как это мило", я скажу: "Иван и Данило". <br/>
<br/>
Иван и Данило; <span style="color:#333333">у-у…</span>
вот идут Иван и Данило. <br/>
Меняя шило на мыло, вот идут Иван и Данило. <br/>
<br/>
Проигрыш: D G A D G A D G A F A – 2p.<br/>
<br/>
...ёзе сидит заяц в алюминиевых клешах,<br/>
Сам себе начальник и сам падишах,<br/>
Поставил им мат и он поставил им шах,<br/>
И он глядит на них глазами;<br/>
А в исполкоме мне скажут; "Это чушь и это бред!",<br/>
Но я видел исполкомы, которых здесь нет,<br/>
Который сам себе сельпо и сам центральный комитет,<br/>
<span style="color:#999999">И</span> он глядят на них глазами; <br/>
<br/>
Куда идут Иван и Данило; <span style="color:#333333">у-у…</span>
куда идут Иван и Данило. <br/>
Меняя шило на мыло, <span style="color:#333333">е-е-е…</span>
вот идут Иван и Данило. <br/>
<br/>
Иван и Данило; <span style="color:#333333">у-у…</span>
вот идут Иван и Данило. <br/>
За ними белая кобыла, вот идут Иван и Данило. <br/>
<br/>
Проигрыш: D G A D G A D G A F A – 2p.<br/>
<span style="color:#4D4D4D">D – 8p.<br/>
D G A D G A D G A F A<br/></span>
 <br/>
Вот идёт Тиглаф Палисар, <br/>
Вот идёт Тиглаф Палисар, <br/>
Раньше был начальник, а теперь стал цар; <br/>
Вот идёт Тиглаф Палисар. <br/>
Вслед идёт Орфей Пифагор, <br/>
Вслед идёт Орфей Пифагор; <br/>
Вместе с Еврипидом из-за леса из-за гор,<br/>
Вот идёт Орфей Пифагор. <br/>
<br/>
                D           G A<br/>
А вслед идёт Сирень да не та, <br/>
              D            G A<br/>
Вслед идёт Сирень да не та<span style="color:#333333">. <br/></span>
           D                   G A<br/>
Эй, лихие люди, отворяйте ворота,<br/>
            F            A<br/>
Вот идёт Сирень да не та. <br/>
<br/>
А вслед идут Иван и Данило; <span style="color:#333333">у-у…</span>
вот идут Иван и Данило. <br/>
За ними белая кобыла; <span style="color:#333333">е-е-е…</span>
вот идут Иван и Данило... <br/>
<br/>
Заключение: D G A D G A D G A F A – 2p. D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
