{% extends "chords.html" %}

{% set title = "Иван-чай" %}
{% set handbook_unid = "db09442fbdec6de5c325679d006af129" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАВНОДЕНСТВИЕ - иван-чай<br/>
</span><span style="color:red"> <br/>
ИВАН-ЧАЙ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
E----3-3-3-----3-3-3--5-7-8-7-5-3-3-2-2-3-3-<br/>
H-0-3-------0-3-----------------------------<br/>
G-------------------------------------------<br/>
<br/>
E         H    A   E  E         H    A  G#m    F#<br/>
 Пока цветёт иван-чай, пока цветёт иван-ча-а-а-а-а-ай,<br/>
C                 E          E E/d# E A<br/>
 Мне не нужно других книг, кроме   тебя, <br/>
            F#m<br/>
Мне не нужно, мне не нужно.<br/>
<br/>
H                          H<br/>
 Возьми снежно-белый холст,<br/>
G#m F#                  E     F#<br/>
   Тронь его зелёным и жёлтым,<br/>
H     A          G#<br/>
 Ослепительно синим.<br/>
E                   G(III)    F#<br/>
 Cделай деревья, и они тебе скажут,<br/>
C#m                  F#<br/>
   Как всё, что я хотел,<br/>
          A(V)       G#<br/>
Становится ветром, и ветер целует ветви.<br/>
E               F#<br/>
 И я говорю: спасибо за эту радость!<br/>
A(V)            H(VII)<br/>
   Я говорю: спасибо за эту радость!<br/>
<br/>
E         H    A   E  E         H    A  G#m    F#<br/>
 Пока цветёт иван-чай, пока цветёт иван-ча-а-а-а-а-ай,<br/>
C                 E          E E/d# E A<br/>
 Мне не нужно других книг, кроме   тебя, <br/>
            F#m<br/>
Мне не нужно, мне не нужно.<br/>
<br/>
<br/>
C#m G#m A(V)<br/>
           <span style="color:silver">Камни говорят с нами…<br/></span>
C#m G#m A(V)<br/>
           <span style="color:silver">Ветер говорит с нами…<br/></span>
C#m G#m A(V)                   E F#<br/>
           <span style="color:#EAEAEA">Камн</span><span style="color:#DDDDDD">и</span><span style="color:silver">
говорят с нами…<br/></span>
 <br/>
H                       H<br/>
 И это совершенный метод,<br/>
G#m            F#                E    F#<br/>
   Жалко, что нам не хватает терпенья.<br/>
H             A           G#<br/>
 Но это совершенный метод,<br/>
E                    G(III)        F#<br/>
 Рано или поздно, мы опять будем вместе,<br/>
C#m                F#               A(V)<br/>
   И то, что было боль, станет как ветер,<br/>
      G# <br/>
  И пламя сожжёт мне сердце,<br/>
E                F#<br/>
 И я повторю: спасибо за эту радость!<br/>
A(V)               H(VII)<br/>
   Я повторяю: спасибо за эту радость!<br/>
<br/>
Проигрыш: C Am – 3p. C H<br/>
<br/>
E         H    A   E  E         H    A  G#m    F#<br/>
 Пока цветёт иван-чай, пока цветёт иван-ча-а-а-а-а-ай,<br/>
C                 E          E E/d# E A<br/>
 Мне не нужно других книг, кроме   тебя, <br/>
            F#m<br/>
Мне не нужно, мне не нужно.<br/>
<br/>
Заключение: E G#m A – 2p. <span style="color:#333333">E </span><span style="color:#5F5F5F">G#m</span><span style="color:#333333"> </span><span style="color:#777777">A </span><span style="color:gray">E </span><span style="color:#969696">G#m</span><span style="color:#333333"> </span><span style="color:#B2B2B2">A<br/></span>
 <br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E/d#<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII    H(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
