{% extends "chords.html" %}

{% set title = "Игра наверняка" %}
{% set handbook_unid = "c9498fe9aeb0273dc325679d006af060" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ТАБУ - игра наверняка<br/>
</span><span style="color:red"> <br/>
ИГРА НАВЕРНЯКА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
  D<br/>
E-14-14-14-14-14-14-14-14-14-14-14-14-14-14-14-14-<br/>
H-15-15-15-15-15-15-15-15-15-15-15-15-15-15-15-15-<br/>
G-14-14-14-14-14-14-14-14-14-14-14-14-14-14-14-14-<br/>
D-12-12-12-12-12-12-12-12-12-12-12-12-12-12-12-12-<br/>
<br/>
E-14-14-14-14-14-14-14-14-14-14-14-14-14-10-8-6-<br/>
H-15-15-15-15-15-15-15-15-15-15-15-15-15--------<br/>
G-14-14-14-14-14-14-14-14-14-14-14-14-14--------<br/>
D-12-12-12-12-12-12-12-12-12-12-12-12-12--------<br/>
<br/>
G C D - 4p.<br/>
<br/>
    G                  D<br/>
Мы до сих пор поём, хотя я не уверен,<br/>
   C        D        G<br/>
Хочу ли я что-то сказать.<br/>
    G                 Hm<br/>
Мы до сих пор поём, хотя я не уверен:<br/>
   C        D        G<br/>
Хочу ли я что-то сказать;<br/>
       C<br/>
Но из моря информации,<br/>
     G<br/>
В котором мы тонем,<br/>
  C          C/h          Am<br/>
Единственный выход - это саморазрушенье;<br/>
    G                   C         D       G C D<br/>
Мы до сих пор поём, но нам уже недолго ждать. <br/>
<br/>
Проигрыш: G C D – 3p.<br/>
<br/>
Мы стали респектабельны, мы стали большими,<br/>
Мы приняты в приличных домах.<br/>
Я больше не пишу сомнительных текстов,<br/>
Чтобы вызвать смятенье в умах.<br/>
Мы взяты в телевизор,<br/>
Мы - пристойная вещь,<br/>
Нас можно ставить там, нас можно ставить здесь, но<br/>
G              C      D        G G7<br/>
 В игре наверняка - что-то не так; <br/>
<br/>
 C                   G<br/>
Сидя на красивом холме,<br/>
 C        C/h        Am<br/>
Видишь ли ты то, что видно мне:<br/>
  G             D           G C D       <br/>
В игре наверняка что-то не так. <br/>
<br/>
Проигрыш: G C D – 11p.<br/>
<br/>
Мои друзья опять ждут хода<br/>
На клетку, где нас ждёт мат.<br/>
Но я не понимаю - как я стал ограничен<br/>
Движеньем вперёд-назад.<br/>
Приятно двигать нами, <br/>
Как на доске,<br/>
Поставить нас в ряд и забить заряд;<br/>
      G<br/>
Но едва ли наша цель -<br/>
   C                D      G G7<br/>
Оставить след на вашем песке; <br/>
<br/>
Сидя на красивом холме,<br/>
Видишь ли ты то, что видно мне?<br/>
В игре наверняка что-то не так.<br/>
<br/>
Проигрыш: G C D - 3p.<br/>
<br/>
  G                      C  D<br/>
Что-то что-то что-то не так.<br/>
 G                       C  D<br/>
Что-то что-то что-то не так.<br/>
  G                      C    D                      G C D<br/>
Что-то что-то что-то что-то что-то что-то что-то не так.<br/>
  G                      C  D<br/>
Что-то что-то что-то не так.<br/>
  G                      C  D<br/>
Что-то что-то что-то не так.<br/>
  G                      C    D                      G C D<br/>
Что-то что-то что-то что-то что-то что-то что-то не так.<br/>
  G                      C  D<br/>
Что-то что-то что-то не так.<br/>
  G                      C  D<br/>
Что-то что-то что-то не так.<br/>
  G                      C    D                      G C D<br/>
Что-то что-то что-то что-то что-то что-то что-то не так.<br/>
<br/>
Заключение: <br/>
E-14-14-14-14-14-14-14-14-14-14-14-14-14-14-14-14-<br/>
H-15-15-15-15-15-15-15-15-15-15-15-15-15-15-15-15-<br/>
G-14-14-14-14-14-14-14-14-14-14-14-14-14-14-14-14-<br/>
D-12-12-12-12-12-12-12-12-12-12-12-12-12-12-12-12-<br/>
<br/>
E-14-14-14-14-14-14-14-14-14-14-14-14-14-10-8-6-<br/>
H-15-15-15-15-15-15-15-15-15-15-15-15-15-------- G<br/>
G-14-14-14-14-14-14-14-14-14-14-14-14-14--------<br/>
D-12-12-12-12-12-12-12-12-12-12-12-12-12--------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
