{% extends "chords.html" %}

{% set title = "Иду на ты" %}
{% set handbook_unid = "992b5b9041d2a96ec325679d006aee05" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ САУНДТРЕКОВ - иду на ты<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
иду на ты<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: E - 2p.<br/>
<br/>
    A                                 F#m<br/>
В моем поле зренья появляется новый объект<br/>
    A                                 F#m<br/>
В моем поле зренья появляется новый объект<br/>
E                              E<br/>
 Иду на вы. Иду на вы. Иду на вы.<br/>
<br/>
    A<br/>
Возможно ты шкаф<br/>
(Нет)<br/>
   F#m<br/>
Возможно ты стол<br/>
(Нет)<br/>
   A<br/>
Каков твой номер<br/>
(Шесть)<br/>
   F#m<br/>
Каков твой пол<br/>
(Женский)<br/>
E                              E     A A E<br/>
 Иду на ты. Иду на ты. Иду на ты. (Иди) <br/>
<br/>
Проигрыш: A F#m - 2p. E E<br/>
<br/>
   A                                    F#m<br/>
В нашем поле зренья появляется новый объект<br/>
   A                                   F#m<br/>
В нашем поле зренья появляется новый объект<br/>
E                                 E <br/>
 Идем на ты. Идем на ты. Идем на ты. <br/>
<br/>
Заключение: A A E <br/>
A F#m - 2p. E E A<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
