{% extends "chords.html" %}

{% set title = "Из Калинина в Тверь" %}
{% set handbook_unid = "2e776e6ab6424a37c325679d006af303" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛИЛИТ - <span style="color:windowtext">из калинина в тверь<br/>
</span></span><span style="color:red"> <br/>
ИЗ КАЛИНИНА В ТВЕРЬ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: G D G C G D G D – 2p. D<br/>
<br/>
     G         D/f#      G<br/>
Я вошёл сюда с помощью двери<br/>
      C                  G  D<br/>
Я пришёл сюда с помощью ног<br/>
      G         G/f#       Em<br/>
Я пришёл, чтоб опять восхититься <br/>
      C       Bm/5-/c#    D<br/>
Совершенством железных дорог<br/>
        D       Hm         Em<br/>
Даже странно подумать, что раньше<br/>
        C    Bm/5-/c#        D<br/>
Каждый шёл, как хотел - а теперь<br/>
     G           C      G          C<br/>
Паровоз, как мессия, несёт нас вперёд<br/>
     G        D         G  D D<br/>
По пути из Калинина в Тверь<br/>
<br/>
       G        D          C   G<br/>
Проводница проста, как Джоконда<br/>
      C                   G D<br/>
И питьё у ней слаще, чем мёд<br/>
    G     G/f#    Em         C<br/>
И она отвечает за качество шпал<br/>
         G                D<br/>
И что никто никогда не умрёт<br/>
 D              Hm      Em<br/>
Между нами - я знал её раньше,<br/>
         C     Bm/5-/c#     D<br/>
Рядом с ней отдыхал дикий зверь<br/>
     G         C        G        C<br/>
А теперь она стелет нежнее, чем пух<br/>
      G       D         G<br/>
По пути из Калинина в Тверь<br/>
<br/>
Проигрыш: D D Em Em G G C D G D Em Em G G7 C D G D D<br/>
<br/>
     G        D      C    G<br/>
Машинист зарубает Вивальди<br/>
     C      D         G D<br/>
И музыка летит меж дерев<br/>
           G      G/f#      Em      C<br/>
В синем с золотом тендере вместо угля -<br/>
 G                 D<br/>
Души тургеневских дев<br/>
        D       Hm       Em<br/>
В стопудовом чугунном окладе<br/>
    C       Bm/5-/c#        D<br/>
Богоизбранный (хочешь - проверь)<br/>
      G       C         G           C<br/>
Этот поезд летит, как апостольский чин<br/>
      G       D         G  D D<br/>
По пути из Калинина в Тверь<br/>
<br/>
        G       D/f#        G<br/>
Не смотри, что моя речь невнятна<br/>
     C             G  D<br/>
И я неаутентично одет -<br/>
      G         G/f#       Em<br/>
Я пришёл, чтобы сделать приятно<br/>
    C      Bm/5-/c#   D<br/>
И ещё соблюсти свой обет<br/>
       D      Hm       Em<br/>
Если всё хорошо, так и бог с ним<br/>
       C      Bm/5-/c#        D<br/>
Но я один знаю, как открыть дверь<br/>
           G        C          G       C<br/>
Если ты спросишь себя - на хрена мы летим<br/>
      G       D         C  C<br/>
По пути из Калинина в Тверь<br/>
<br/>
Заключение: G D G C G D G C G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Bm/5-/c#<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
