{% extends "chords.html" %}

{% set title = "Из хрустального захолустья" %}
{% set handbook_unid = "7c7315e83ac116a5c325679d006af0b7" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - Аквариум + - из хрустального захолустья<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">из хрустального захолустья<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/>
 <br/></i>
Вступление: G D C G D C G  <br/>
<br/>
                   G           D         <br/>
Парадоксально, но факт; Я не сразу открыл Ваш конверт;<br/>
    C                     D                    C G Am G        <br/>
Я знать не знал, что нас до сих пор считают своими;<br/>
                   G       D<br/>
У вас, наверное, снег и железные цветы рвутся вверх;       <br/>
 C                D                 C G Am G    <br/>
И мне весело то, что вы помните мое имя.<br/>
<br/>
А здесь как всегда: в хрустальном захолустье светло -<br/>
И здесь нет ничего, чтобы могло измениться.<br/>
И время течет, но, по-моему, то туда, то сюда,<br/>
         C             D                   C G Am G<br/>
И в прозрачной его глубине, мне кажется, птица.<br/>
<br/>
  C                D             G        G/f#    Em<br/>
И я смотрю, как в вашем сегодня бешено летят поезда.<br/>
       Am           D                 C  G Am G<br/>
Не поймите меня не так - я рад их движенью;<br/>
       C             D              G          G/f#      Em<br/>
Но когда сегодня становится завтра - у нас восходит звезда,<br/>
   Am              D                  C  G Am G      <br/>
И каждую ночь я лицом к лицу с твоей тенью.<br/>
<br/>
Проигрыш: 5:II 4:0 <br/>
G D C D C G Am G - 2p.<br/>
<br/>
Ну вот, наверно, и все. Спасибо вам за ваше письмо.<br/>
Спасибо за беспокойство и попытку спасти нас.<br/>
Но в наших краях все медленней почтовая связь,<br/>
Не знаю сможет ли ваше следующее найти нас. <br/>
<br/>
И я останусь смотреть, как в вашем сегодня бешено летят поезда.<br/>
Не поймите меня не так - я рад их движенью;<br/>
Но когда сегодня становится прошлым - у нас восходит звезда,<br/>
   Am              D                  C   C<br/>
И каждую ночь я лицом к лицу с твоей тенью.<br/>
 C                D                  C  G Am G  <br/>
Каждую ночь я глаза в глаза с твоей тенью.<br/>
<br/>
Заключение: <br/>
G D C D C G Am G - 2p. C D C G Am G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
