{% extends "chords.html" %}

{% set title = "Император пересекает плато, двигаясь поочередно в обоих направлениях. Его свита почтительно следует за ним" %}
{% set extra_title = "(инструментал)" %}
{% set handbook_unid = "4f8bb138f55e943ac325679d006af35a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ИНСТРУМЕНТАЛЫ - Император Пересекает Плато, Двигаясь Поочередно В Обоих Направлениях. Его Свита почтительно следует за ним<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Император Пересекает Плато, Двигаясь Поочередно В Обоих Направлениях. Его Свита почтительно следует за ним<br/>
</span><i>Б.Гребенщиков<br/>
 <br/></i>
C - 2p.<br/>
<br/>
   C                         C<br/>
E---8-10-11-12--12-11-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H-------------13-------------------------13-------------<br/>
G---------------------------9------------------------9-9<br/>
D-10-------------------------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
   C                         C<br/>
E---8-10-11-12--12-11-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H-------------13-------------------------13-------------<br/>
G---------------------------9------------------------9-9<br/>
D-10-------------------------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
   C                         C<br/>
E---8-10-11-12--12-11-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H-------------13-------------------------13-------------<br/>
G---------------------------9------------------------9-9<br/>
D-10-------------------------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
<br/>
                              G(III)<br/>
G----------------------------------------------------------------------<br/>
D-5-2-0--------0---5-2-0-----5-2--0-0h2-5-2-0--------0---5-2-0-----5-2-<br/>
A-----------0-2-----------------------------------0-2------------------<br/>
E------3---3------------3---3----------------3---3------------3---3----<br/>
<br/>
   C                         C<br/>
E---8-10-11-12--12-11-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H-------------13-------------------------13-------------<br/>
G---------------------------9------------------------9-9<br/>
D-10-------------------------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
   C                         C<br/>
E---8-10-11-12--12-11-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H-------------13-------------------------13-------------<br/>
G---------------------------9------------------------9-9<br/>
D-10-------------------------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
   C                         C<br/>
E---8-10-11-12--12-11-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H-------------13-------------------------13-------------<br/>
G---------------------------9------------------------9-9<br/>
D-10-------------------------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
<br/>
Eadd13- - 8p.<br/>
<br/>
   C                         C<br/>
E---8-10-11-12--12-11-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H-------------13-------------------------13-------------<br/>
G---------------------------9------------------------9-9<br/>
D-10-------------------------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
   C                         C<br/>
E---8-10-11-12--12-11-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H-------------13-------------------------13-------------<br/>
G---------------------------9------------------------9-9<br/>
D-10-------------------------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
   C                         C<br/>
E---8-10-11-12--12-11-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H-------------13-------------------------13-------------<br/>
G---------------------------9------------------------9-9<br/>
D-10-------------------------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
<br/>
H7(II) - 8p. 3:I 3:I 3:0 4:III 3:V<br/>
         C<br/>
E-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H--------------------13-------------<br/>
G-------9------------------------9-9<br/>
D--------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
   C                         C<br/>
E---8-10-11-12--12-11-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H-------------13-------------------------13-------------<br/>
G---------------------------9------------------------9-9<br/>
D-10-------------------------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
   C                         C<br/>
E---8-10-11-12--12-11-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H-------------13-------------------------13-------------<br/>
G---------------------------9------------------------9-9<br/>
D-10-------------------------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
   C                         C<br/>
E---8-10-11-12--12-11-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H-------------13-------------------------13-------------<br/>
G---------------------------9------------------------9-9<br/>
D-10-------------------------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
   C                         C<br/>
E---8-10-11-12--12-11-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H-------------13-------------------------13-------------<br/>
G---------------------------9------------------------9-9<br/>
D-10-------------------------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
<br/>
C - 12p.<br/>
<br/>
   C                         C<br/>
E---8-10-11-12--12-11-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H-------------13-------------------------13-------------<br/>
G---------------------------9------------------------9-9<br/>
D-10-------------------------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
   C                         C<br/>
E---8-10-11-12--12-11-10-8-8---8-10-11-12--12-11-10-8-8-<br/>
H-------------13-------------------------13-------------<br/>
G---------------------------9------------------------9-9<br/>
D-10-------------------------10-------------------------<br/>
  F                              G               G7<br/>
E-----10-11-12--12-11-10-8-----------12-13-12-10-13-12-11-10-10-<br/>
H-------------13------------10------------------------------8--8<br/>
G---10--------------------10--10---12---------------------------<br/>
D-10-----------------------------12-----------------------------<br/>
<br/>
Йом-мани Йом-мани Йом-мани Хани-мани Йом-мани Йом-мани Панисума<br/>
Йом-мани Йом-мани Йом-мани Хани-мани Йом-мани Йом-мани Панисума<br/>
Йом-мани Йом-мани Йом-мани Хани-мани Йом-мани Йом-мани Панисума<br/>
Йом-мани Йом-мани Йом-мани Хани-мани Йом-мани Йом-мани Панисума<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Eadd13-<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          H7(II)<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
