{% extends "chords.html" %}

{% set title = "Имя моей тоски" %}
{% set handbook_unid = "a67a718ce2f01e90c32567fa006a4c73" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - Ψ - имя моей тоски<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Имя моей тоски<br/>
</span><i>Б. Гребенщиков<br/>
<br/>
Каподастр на 3-м ладу<br/></i>
 <br/>
<span style="color:silver">Am<br/></span>
  Она жжёт как удар хлыста.<br/>
<span style="color:silver">F                      E<br/></span>
 Вся здесь, но недостижима.<br/>
<span style="color:silver">Am                      F                    E<br/></span>
  Отраженье в стекле, огонь по ту сторону реки.<br/>
<span style="color:#999999">F                    G         F      G<br/></span>
 И - если хочешь - иди по воде, или стань другим, но<br/>
<span style="color:gray">F                              E<br/></span>
 Он шепчет - Господи свят, научи меня<br/>
                 Am<br/>
   Имени моей тоски.<br/>
<br/>
Проигрыш: Am Am+7 F E - 2p. E<br/>
<br/>
Am<br/>
  Между мной и тобой - <br/>
F         E<br/>
 Каждое моё слово;<br/>
Am          Am+7               F                   E<br/>
  О том, как медленен снег, о том, как небеса высоки:<br/>
F         G      <br/>
 Господи, если ты не в силах<br/>
 F                  G<br/>
Выпустить меня из клетки этой крови - <br/>
F          E              Am C/h<br/>
 Научи меня имени моей тоски.<br/>
<br/>
C                G       Am<br/>
 Ты слишком далеко от меня.<br/>
C             G      Am<br/>
 Слишком далеко от меня -<br/>
F     G                 F            G      <br/>
 Как воздух от огня, вода от волны, сердце от крови;<br/>
F                      E     <br/>
 И вот я падаю вниз, уже в двух шагах от земли:<br/>
              Am Am<br/>
Господи, смотри.<br/>
<br/>
Проигрыш: Am Am F E - 4p. Am<br/>
<br/>
Am<br/>
  Ты всё мне простил, <br/>
F              E<br/>
 И я знаю - ты истин;<br/>
Am            Am+7        F                    E<br/>
  Но твой негасимый свет гаснет, коснувшись руки.<br/>
F         G              F   G      <br/>
 Господи, если я вернусь, то я вернусь чистым;<br/>
F                       <br/>
 Всё остальное за мной:<br/>
E                         Am<br/>
 Научи меня имени моей тоски<br/>
<br/>
Заключение: Am Am F F - 4p. Am - 3p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am+7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
