{% extends "chords.html" %}

{% set title = "Инцидент в Настасьино" %}
{% set handbook_unid = "147f025da92da6a4c325679d006aeec5" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СНЕЖНЫЙ ЛЕВ - инцидент в настасьино<br/>
</span><span style="color:red"> <br/>
ИНЦИДЕНТ В НАСТАСЬИНО<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: <br/>
  G                     G                        G                   G<br/>
E------0-2-3-----------------0-2-3-2-3---3-3-3-3-0--------------3-----------------<br/>
H-0-1-3--------3-1--3---0-1-3----------------------3--1--1-3-1-3-3-3-0-1-3-1-3-0--<br/>
G-------------------------------------------------------------------------------0-<br/>
3:0 3:II C G Cadd9 C Am D 3:0 3:II C G Cadd9 C G D G C+g G D<br/>
<br/>
      G    D      G    G/f#  Em  C     G<br/>
Дело было как-то ночью, за околицей села,<br/>
      C     D     G              G        D<br/>
Вышла из дому Настасья в чём её мама родила,<br/>
     G    D      G G/f#    Em      C       G<br/>
Налетели ветры злые, в небесах открылась дверь,<br/>
       C     D       G   Em     D         G<br/>
И на трёх орлах спустился незнакомый кавалер.<br/>
<br/>
Проигрыш: 3:0 3:II C G Cadd9 C G D G C+g G D<br/>
<br/>
Он весь блещет, как Жар-Птица, из ноздрей клубится пар,<br/>
То ли атаман, то ли брахман, то ли полный аватар<br/>
Он сказал - "У нас в нирване все чутки к твоей судьбе,<br/>
Чтоб ты больше не страдала, я женюся на тебе."<br/>
<br/>
       D             G             D             G<br/>
Содрогнулась вся природа, звёзды градом сыплют вниз,<br/>
      Em        C    G            G          D<br/>
Расступились в море воды, в небе радуги зажглись.<br/>
        E        Am            C             D<br/>
Восемь рук её объяли, третий глаз сверкал огнём,<br/>
        C     D        G  Em         D            G<br/>
Лишь успела крикнуть "мама", а уж в рай взята живьём.<br/>
<br/>
Проигрыш: <br/>
3:0 3:II C G Cadd9 C Am D 3:0 3:II C G Cadd9 C G D G C+g G D <br/>
A A F#m D A D A A E - 2p. A<br/>
<br/>
         A      E      A            F#m     D       A<br/>
С той поры прошло три года, стал святым колхозный пруд,<br/>
        D     E      A           A         E<br/>
К нему ходят пилигримы, а в нём лотосы цветут.<br/>
         A     E        A             F#m     D      A<br/>
В поле бродят Вишна с Кришной, климат мягок, воздух чист,<br/>
          D    E       A  F#m        E          A<br/>
И с тех пор у нас в деревне каждый третий - индуист.<br/>
<br/>
Заключение: 3:II 2:0 D A Dadd9 D Hm E 3:II 2:0 D A Dadd9 D A E A D A<br/>
E-5--5-5-5h3-3h2-----0-0---------------<br/>
H----------------3--3-3-3-2-2-2h3-2-2--<br/>
G------------------------------------2-<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Cadd9<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dadd9<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|-■-|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
