{% extends "chords.html" %}

{% set title = "Испано-Сюиза" %}
{% set handbook_unid = "181913a5e71a1180c325679d006aedc9" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - испано-сюиза<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
испано-сюиза<br/>
</span><i>А.Вертинский<br/></i>
 <br/>
Вступление: Am E Am<br/>
<br/>
      Am<br/>
Ах, сегодня весна Боттичелли.<br/>
        H7      E         Am<br/>
Вы во власти весеннего бриза.<br/>
      Am<br/>
Вас баюкает в мягкой качели<br/>
     H7     E     Am<br/>
Голубая "Испано-Сюиза".<br/>
      G             C<br/>
Вы царица экрана и моды,<br/>
     A7             Dm<br/>
Вы сухи, светлы и нахальны,<br/>
       E                Am<br/>
Ваши платья надменно-печальны,<br/>
      E                 Am Am<br/>
Ваши жесты немы от природы.<br/>
<br/>
Вам противны красивые морды,<br/>
От которых тошнит на экране...<br/>
И для Вас все лакеи и лорды<br/>
Перепутались в кино-тумане.<br/>
Идеал Ваших грез - Квазимодо.<br/>
А пока его нет, Вы - весталка.<br/>
Как печально, как грустно, как жалко -<br/>
Полюбить неживого урода.<br/>
<br/>
Измельчал современный мужчина,<br/>
Стал таким заурядным и бледным,<br/>
А гeрой фабрикуется в кино,<br/>
И рецепты Вам точно известны!..<br/>
Лучше всех был раджа из Кашмира,<br/>
Что прислал золотых парадизов.<br/>
Только он в санаторьях Каира<br/>
Умирает от Ваших капризов.<br/>
<br/>
И мне жаль, что на тысячи метров<br/>
И любви, я восторгов, и страсти<br/>
Не найдется у Вас сантиметра<br/>
Настоящего личного счастья.<br/>
Но сегодня весна беспечальна,<br/>
Как и все Ваши кино-капризы,<br/>
И летит напряженно и дально<br/>
     E            Am G D E Am<br/>
Голубая "Испано-Сюиза".<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
