{% extends "chords.html" %}

{% set title = "Искусство быть смирным" %}
{% set handbook_unid = "65e7f4fee53a628cc325679d006af2d6" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАДИО АФРИКА - искусство быть смирным<br/>
</span><span style="color:red"> <br/>
ИСКУССТВО БЫТЬ СМИРНЫМ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
  С    Em F G C  Em F   G  C  Em    F G   C Em F  G<br/>
E----------------------------------------------------<br/>
H----------------------------------------------------<br/>
G----0---------0------2-----0--0---2------0----2-----<br/>
D-------2---------2-----------2-------------2--------<br/>
A-3-3-----3---3-----3----2-3----3-3--3---3---3----0-0<br/>
E------0--1------0--1---3--------------0---0---------<br/>
<br/>
C Em F G – 4p.<br/>
<br/>
C   Em      F        G<br/>
 Я выкрашу комнату светлым;<br/>
C    Em    F      G <br/>
 Я сделаю новые двери.<br/>
C Em      F        G<br/>
    Если выпадет снег,<br/>
C    Em     F           G<br/>
 Я узнаю об этом только утром.<br/>
<br/>
Хороший год для чтенья,<br/>
Хороший год, чтобы сбить со следа;<br/>
Странно - я пел так долго;<br/>
Возможно, в этом что-то было.<br/>
<br/>
Возьми меня к реке,<br/>
Положи меня в воду;<br/>
Учи меня искусству быть смирным,<br/>
Возьми меня к реке. <br/>
<br/>
Проигрыш: C Em F G – 4p.<br/>
<br/>
Танцевали на пляже,<br/>
Любили в песке;<br/>
Летели выше, чем птицы,<br/>
Держали камни в ладонях:<br/>
<br/>
Яшму и оникс; <br/>
Хрусталь, чтобы лучше видеть;<br/>
Чай на полночных кухнях -<br/>
Нам было нужно так много.<br/>
<br/>
Возьми меня к реке,<br/>
Положи меня в воду;<br/>
Учи меня искусству быть смирным,<br/>
Возьми меня к реке. <br/>
<br/>
Проигрыш: C Em F G – 8p.<br/>
<br/>
Я выкрашу комнату светлым,<br/>
Я сделаю новые двери;<br/>
Если ночь будет тёмной,<br/>
Мы выйдем из дома чуть раньше,<br/>
<br/>
Чтобы говорить негромко,<br/>
Чтобы мерить время по звёздам;<br/>
Мы пойдём, касаясь деревьев -<br/>
Странно, я пел так долго.<br/>
<br/>
Возьми меня к реке,<br/>
Положи меня в воду;<br/>
Учи меня искусству быть смирным,<br/>
Возьми меня к реке.<br/>
<br/>
Возьми меня к реке,<br/>
Учи меня искусству быть смирным,<br/>
C Em <span style="color:#333333">    F         </span><span style="color:silver">G</span><span style="color:#333333"> <br/>
    Положи </span><span style="color:gray">меня</span><span style="color:#333333"> </span><span style="color:gray">в </span><span style="color:silver">воду<span style="background:#DEDEDE">…………………….<br/></span></span>
 <br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
