{% extends "chords.html" %}

{% set title = "К мысу радости" %}
{% set handbook_unid = "6d43267a31c2aa28c325679d006aef4c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ АЛЕКСАНДРА ВЕРТИНСКОГО - к мысу радости<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
к мысу радости<br/>
</span><i>А.Вертинский - Н.Теффи<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: Am<br/>
<br/>
        Am                  Am<br/>
К мысу Радости, к скалам Печали ли<br/>
        Am       A7       Dm<br/>
К островам ли сиреневых птиц<br/>
        E                  Am<br/>
Все равно где бы мы ни причалили <br/>
       Dm         E        Am<br/>
Не поднять нам усталых ресниц<br/>
<br/>
           Am            Am<br/>
В мутном стеклышке иллюминатора<br/>
       Am      A7    Dm<br/>
Проплывут золотые сады<br/>
         Am                Am<br/>
Солнце тропиков, пальмы экватора<br/>
     Am             Am<br/>
Голубые полярные льды<br/>
<br/>
        E                  Am<br/>
Все равно где бы мы ни причалили <br/>
        Am       A7       Dm<br/>
К островам ли сиреневых птиц<br/>
        Am                  Am<br/>
К мысу Радости, к скалам Печали ли<br/>
       Dm         E       Am<br/>
Не поднять нам усталых ресниц<br/>
<br/>
Заключение: Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
