{% extends "chords.html" %}

{% set title = "К друзьям" %}
{% set handbook_unid = "265733e539026c2dc325679d006aeedd" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - к друзьям<br/>
</span><span style="color:red"> <br/>
К ДРУЗЬЯМ<br/>
</span><i>Б. Гребенщиков - А. Гуницкий<br/></i>
 <br/>
Вступление: 6:III 5:0 5:II<br/>
<br/>
     C     Em  F       G<br/>
Друзья, давайте все умрём -<br/>
     C      Em  F      G<br/>
К чему нам жизни трепетанье?<br/>
    F      Em F     Em<br/>
Уж лучше гроба громыханье,<br/>
    F     G    F    G<br/>
И смерти чёрный водоём;<br/>
<br/>
Друзья, давайте будем жить,<br/>
И склизких бабочек душить;<br/>
Всем остальным дадим по роже,<br/>
Ведь жизнь и смерть - одно и то же...<br/>
<br/>
C     Em  F  G       C    Em     F     G   F       Em       G      F      Em     G      F        Em   G            <br/>
Ля-ля-ля-ля-ля ля-ля-ля-ля-ля-ля-ля-ля-ля ля-ля-ля-ля-ля-ля-ля ля-ля-ля-ля-ля-ля-ля ля-ля-ля-ля-ля-ля-ля<br/>
C     Em  F  G       C    Em     F     G   F       Em       G      F      Em     G      F        Em   G            <br/>
Ля-ля-ля-ля-ля ля-ля-ля-ля-ля-ля-ля-ля-ля ля-ля-ля-ля-ля-ля-ля ля-ля-ля-ля-ля-ля-ля ля-ля-ля-ля-ля-ля-ля<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
