{% extends "chords.html" %}

{% set title = "К чему нам быть на ты..." %}
{% set handbook_unid = "35a02196dd233fc9c325685f00747715" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ БУЛАТА ОКУДЖАВЫ - к чему нам быть на ты...<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
к чему нам быть на ты... <br/>
</span><i>Б.Окуджава<br/></i>
 <br/>
Каподастр на 2-м ладу<br/>
<br/>
Вступление: C<br/>
<br/>
C           E              Am G                  C<br/>
К чему нам быть на ты, к чему? Мы искушаем расстоянья .<br/>
 C/h   Am       Dm     G                      C<br/>
Милее сердцу и уму старинное: "Я - пан, вы - пани".<br/>
<br/>
C         E          Am    G                 C<br/>
 Какими прежде были мы, приятно, что ни говорите,<br/>
      C/h  Am               Dm      G               C<br/>
Вдруг услыхать из поздней тьмы: "Пожалуйста, не уходите".<br/>
    C/h   Am                Dm      G               C<br/>
Вдруг услыхать из поздней тьмы: "Пожалуйста, не уходите".<br/>
<br/>
C       E           Am    G                     C<br/>
 Я муки адские терплю, а нужно, в сущности, немного -<br/>
C/h        Am              Dm        G                    C<br/>
Лишь прошептать: "Я Вас люблю, мой друг, останьтесь ради Бога".<br/>
 C/h        Am              Dm        G                    C<br/>
Вдруг прошептать: "Я Вас люблю, мой друг, останьтесь ради Бога".<br/>
<br/>
C       E              Am G                  C<br/>
 Зачем мы перешли на "ты"? За это нам и перепало.<br/>
    C/h    Am         Dm      G                C  G<br/>
На грош любви и простоты, а что-то главное пропало<br/>
<br/>
     C      E              Am  G                 C<br/>
К чему нам быть на ты, к чему? Мы искушаем расстоянья.<br/>
 C/h   Am       Dm     G                      C<br/>
Милее сердцу и уму старинное: "Я - пан, вы - пани".<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
