{% extends "chords.html" %}

{% set title = "Капитан Африка" %}
{% set handbook_unid = "699cc7242ea2c7acc325679d006af258" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАДИО АФРИКА - капитан африка<br/>
</span><span style="color:red"> <br/>
КАПИТАН АФРИКА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<span style="background:#E2E2E2">    </span><span style="background:#E5E5E5">     </span><span style="color:#999999;background:#E9E9E9">Dmadd9</span><span style="background:#E9E9E9"> </span><span style="color:#4D4D4D;background:#E9E9E9">D#+7/d</span><span style="background:#E9E9E9"> </span><span style="color:#292929;background:#E9E9E9">Dmadd9</span><span style="background:#F1F1F1"> </span>D#+7/d<br/>
Am Hm F F – 4p.<br/>
<br/>
Am(V)              Am+7(V) Am7(V)              D7(V)<br/>
   Фантастический день;         моя природа не даёт мне спать,<br/>
  Dm             F              Em         E<br/>
Пожарные едут домой: им нечего делать здесь.<br/>
Am(V)         Am+7(V)                Am7(V)             D7(V)<br/>
    Солдаты любви, мы движемся, как призраки фей на трамвайных путях;<br/>
    Dm                      F                        <br/>
Мы знаем электричество в лицо – <br/>
              C<br/>
Но разве это повод?<br/>
      H7      E<br/>
Развяжите мне руки;<br/>
<br/>
Am    Hm           F<br/>
 Я вызываю капитана Африка... <br/>
Am     Hm           F<br/>
 Я вызываю капитана Африка... <br/>
Am     Hm           F         <br/>
 Я вызываю капитана Африка... <br/>
C<br/>
О-о-о-о-о-о    <br/>
<br/>
Проигрыш: Am Hm F F – 4р.<br/>
<br/>
Сколько тысяч слов - все впустую, или кража огня у слепых богов;<br/>
Мы умеем сгорать, как спирт в распростёртых ладонях;<br/>
Я возьму своё там, где я увижу своё:<br/>
Белый растафари, прозрачный цыган,<br/>
Серебряный зверь <br/>
В поисках тепла;<br/>
<br/>
Я вызываю капитана Африка...<br/>
Я вызываю капитана Африка... <br/>
Я вызываю капитана Африка... <br/>
О-о-о-о-о-о<br/>
<br/>
Проигрыш: C(III) – 8p.<br/>
<br/>
Заключение: Dmadd9 D#+7/d – 2p. <br/>
Am Hm F F – 8p. Am Hm <span style="background:#E6E6E6">F</span><span style="background:#DDDDDD">
</span><span style="background:#E2E2E2">F</span><span style="background:#E6E6E6"> A</span><span style="background:#F1F1F1">m </span><span style="background:#E5E5E5">Hm F </span><span style="color:#4D4D4D;background:#E5E5E5">F Am</span><span style="background:#E5E5E5"> </span><span style="color:gray;background:#E5E5E5">Hm F</span><span style="background:#E5E5E5"> </span><span style="color:#969696;background:#E5E5E5">F</span><span style="color:#EAEAEA;background:#E5E5E5">____________<br/></span>
 <br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    X     Dmadd9<br/>
  E-■-|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VIII   D#+7/d<br/>
  E-■-|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Am(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Am+7(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|-■-|---|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Am7(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
