{% extends "chords.html" %}

{% set title = "Камни в холодной воде" %}
{% set handbook_unid = "6f82c4200951a4cac325679d006aef70" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- КОНЦЕРТНЫЕ ЗАПИСИ - камни в холодной воде<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
камни в холодной воде<br/>
</span><i>Б.Гребенщиков<br/>
<br/>
Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
Am G Am, Am G C C/h, Am G Am С, Am G Am, G F Em, G F Em - 2p.<br/>
<br/>
Am        G         Am<br/>
  Она сказала: Я люблю твое золото<br/>
Am         G       Am<br/>
  Твои глаза и размах твоих крыльев<br/>
Dm                G<br/>
  Если что-то случится с тобой<br/>
F      Em             <br/>
 Кто скажет каким ты был?<br/>
Am    G        Am<br/>
  А снег идет молча<br/>
Am        G      C       C/h<br/>
  Снег лежит на темной земле<br/>
Dm                  G        F<br/>
  Птица Сирин над моей головой<br/>
 Em            <br/>
Ну что ты мне скажешь?<br/>
<br/>
Am         G       Am<br/>
Камни в холодной воде<br/>
Am         G        C C/h<br/>
Камни в холодной воде<br/>
Am       G      Am     С<br/>
  Цвет глаз у моей любви<br/>
     Am        G       Am<br/>
Как камни в холодной воде<br/>
<br/>
Проигрыш: G F Em - 2p.<br/>
<br/>
Сегодня в городе праздник<br/>
Сегодня в городе пьют, как дышат<br/>
Если кто-то выйдет из дома<br/>
Никто не заметит<br/>
А снег лежит молча<br/>
Снег лежит на темной земле<br/>
Птица Сирин над моей головой<br/>
Ну что ты мне скажешь?<br/>
<br/>
Камни в холодной воде<br/>
Камни в холодной воде<br/>
Цвет глаз у моей любви<br/>
Как камни в холодной воде<br/>
<br/>
Проигрыш: G F Em - 2p.<br/>
Am G Am, Am G C C/h, Am G Am С, Am G Am - 2р.<br/>
G F Em - 2p.<br/>
<br/>
Она сказала: Я люблю твое золото<br/>
Твои глаза и размах твоих крыльев<br/>
Если что-то случится с тобой<br/>
Кто скажет, каким ты был?<br/>
А снег идет молча<br/>
Снег лежит на темной земле<br/>
Птица Сирин над моей головой<br/>
Что ты мне скажешь?<br/>
<br/>
Камни в холодной воде<br/>
Камни в холодной воде<br/>
Цвет глаз у моей любви<br/>
<br/>
Как камни в холодной воде<br/>
Камни в холодной воде<br/>
Камни в холодной воде<br/>
Цвет глаз у моей любви<br/>
     Am        G        F F Am<br/>
Как камни в холодной воде<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
