{% extends "chords.html" %}

{% set title = "Как стать Таней" %}
{% set handbook_unid = "6119f3b7409b9cf5c32569e600456d48" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПУШКИНСКАЯ, 10 - как стать таней<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Как стать таней<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу <br/></i>
 <br/>
Вступление:<br/>
<br/>
E---5-2--------5-2------<br/>
H------5-2--------5-2---<br/>
G---------5-4--------4-2 = A* - 2р. <br/>
D-----------------------<br/>
A-0----------0----------<br/>
D A* E A*<br/>
<br/>
    A*                                            A* <br/>
Я учусь быть Таней, возвращаюсь каждый вечер к утру <br/>
   F#m                   G(III)         D         A* <br/>
Я учусь быть Таней, возвращаюсь каждый вечер к утру <br/>
     E                                      E      A*<br/>
Если я стану Таней, то меня не достанет даже nkvd.ru<br/>
<br/>
Моё сердце воет волком, у тебя внутри луна под водой,<br/>
Cердце воет волком, у тебя внутри луна под водой,<br/>
Пеликан и Ёж ходят с огнеметом по границе между мной и тобой.<br/>
<br/>
Проигрыш: A* A* D A* E A* <br/>
<br/>
 D(V)<br/>
Там, где ты проходишь вырастают цветы, <br/>
      H7(IV)<br/>
Конец света отменили из-за таких, как ты, <br/>
       F<br/>
Моя гитара не умеет плакать на заказ, <br/>
        E<br/>
Моей гитаре всё равно кто ты сейчас. <br/>
<br/>
Так что храни целомудрие, всё остальное пройдет.<br/>
Сверху или снизу, но храни целомудрие, всё остальное пройдет.<br/>
   E                    <br/>
Сегодня надо мной было чистое небо,<br/>
    E                                           A* <br/>
Возможно, наверное, дай Бог, что-нибудь произойдет.<br/>
<br/>
Заключение: <br/>
                        A<br/>
               E-5-2----0~~~<br/>
               H----5-2-2~~~<br/>
A* A* D A* E A G--------2~~~<br/>
               D--------2~~~<br/>
               A--------0~~~<br/>
<br/>
Примечание: A* играется при постоянно зажатых 1-4 струнах на 2-м ладу<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V      D(V)<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          H7(IV)<br/>
  E---|---|---|-■-|-■-|<br/>
  H---|---|---|-■-|---|<br/>
  G---|---|---|-■-|---|<br/>
  D---|---|---|-■-|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
