{% extends "chords.html" %}

{% set title = "Как нам вернуться домой" %}
{% set handbook_unid = "c4c550b9b169feacc325679d006aee3e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛЮБИМЫЕ ПЕСНИ РАМЗЕСА IV - как нам вернутся домой<br/>
</span><span style="color:red"> <br/>
КАК НАМ ВЕРНУТЬСЯ ДОМОЙ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
  G             Dm        C         G<br/>
E----------------------------------------<br/>
H-------1-0------------------------------<br/>
G-0--2-4---2-4-0-0------------------0-4-4<br/>
D-----------------3h2-3---3-2-0-2--------<br/>
A----------------------------------------<br/>
E----------------------------------------<br/>
  G             Dm        F       Hsus4        <br/>
E-------------------------------------------<br/>
H-------1-0---------------------------------<br/>
G-0--2-4---2-4-0-0--------0-5-5----4-4------<br/>
D-----------------3h2-3-----------4---------<br/>
A-------------------------------------------<br/>
E--------------------------------------<span style="color:#DDDDDD">3sl8</span>-<br/>
<br/>
Em G F# C - 4p.<br/>
<br/>
Em                                 G<br/>
  Взгляд влево был бы признаком страха,<br/>
F#                       C<br/>
  Взгляд вправо был бы признаком сна.<br/>
Em                   G<br/>
  И мы знали, что деревья молчат –<br/>
F#                              C<br/>
  Но мы боялись, что взойдёт Луна.<br/>
Am    C                   Em      G<br/>
У-у, как нам вернуться домой, когда мы одни;<br/>
Am    C                    Em<br/>
У-у, как нам вернуться домой?<br/>
<br/>
Проигрыш: Em G F# C - 2p.<br/>
<br/>
И не было грани между сердцем и Солнцем,<br/>
Не было сил отделять огонь от воды.<br/>
И мы знали, что для нас поёт свет,<br/>
Но мы искали след Полынной звезды.<br/>
У-у, как нам вернуться домой, когда мы одни;<br/>
Am    C                   H  H<br/>
У-у, как нам вернуться домой?<br/>
<br/>
Проигрыш: F#m G# Hm F# Am E Em F# Hm F# Am E Gm D F E H H<br/>
<br/>
Я хотел бы, чтобы я умел верить,<br/>
Но как верить в такие бездарные дни -<br/>
Нам, потерянным между сердцем и полночью,<br/>
Нам, брошенным там, где погасли огни?<br/>
У-у, как нам вернуться домой, когда мы одни;<br/>
Am    C                   Em G<br/>
У-у, как нам вернуться домой?<br/>
<br/>
Am    C                          Em       G<br/>
У-у, как нам вернуться домой, когда мы одни;<br/>
Am    C          H        Em G<br/>
У-у, как нам вернуться домой?<br/>
Am C Em G<br/>
У-у… У-у…<br/>
Am C Em G<br/>
У-у… У-у…<br/>
<span style="color:#333333">Am C </span><span style="color:#4D4D4D">Em G<br/>
</span><span style="color:#333333">У-у… </span><span style="color:#4D4D4D">У-у…<br/>
</span><span style="color:#5F5F5F">Am C</span><span style="color:#333333"> </span><span style="color:#777777">Em G<br/>
</span><span style="color:#5F5F5F">У-у…</span><span style="color:#333333"> </span><span style="color:#777777">У-у…<br/>
</span><span style="color:gray">A</span><span style="color:#969696">m</span><span style="color:gray"> </span><span style="color:silver">C Em</span><span style="color:#969696"> </span><span style="color:silver">G<br/>
</span><span style="color:gray">У-</span><span style="color:#969696">у</span><span style="color:gray">…</span><span style="color:#333333"> </span><span style="color:silver">У-у…<br/>
Am<br/>
</span><span style="color:#DDDDDD">У<br/>
</span><span style="color:#333333"> <br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            Hsus4<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|-■-|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
