{% extends "chords.html" %}

{% set title = "Камбоджа" %}
{% set handbook_unid = "a39a669a9b12efe5c3257304006e0033" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - камбоджа<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
камбоджа <br/>
</span><i>Б.Гребенщиков<br/>
 <br/></i>
Вступление:<br/>
 G(III)                  G(III)<br/>
E-------0---7-5-5-3-0----------0---7-5-5-3-0-<br/>
H----0-3-0-3---3-----0-3----0-3-0-3---3-----3 - 4р.<br/>
G-0-2--------------------0-2-----------------<br/>
D--------------------------------------------<br/>
<br/>
G(III)                           G(III)<br/>
E-----------0-------7-5-5-3-0--------------0------7-5-5----3-0-<br/>
H------0-3------0-3----3-----0-3------0-3------0-3---3--------3 <br/>
G-0-2----------------------------0-2---------------------------<br/>
D--------------------------------------------------------------<br/>
  Ули-мули тун бадатукман ява    Ули-мули тун карамина те пали нам<br/>
G(III)                           G(III)<br/>
E-----------0-------7-5-5-3-0--------------0------7-5-5----3-0-<br/>
H------0-3------0-3----3-----0-3------0-3------0-3---3--------3 <br/>
G-0-2----------------------------0-2---------------------------<br/>
D--------------------------------------------------------------<br/>
 Шикаемантан   бадатукман   ява  Ала ми касанна  Ала ми касанна<br/>
<br/>
Проигрыш:<br/>
 G(III)                  G(III)<br/>
E-------0---7-5-5-3-0----------0---7-5-5-3-0-<br/>
H----0-3-0-3---3-----0-3----0-3-0-3---3-----3 - 2р.<br/>
G-0-2--------------------0-2-----------------<br/>
D--------------------------------------------<br/>
<br/>
Ули-мули тун бадатукман ява Ули-мули тун карамина те пали нам<br/>
Шикаемантан бадатукман ява Ала ми касанна Ала ми касанна<br/>
<br/>
Проигрыш:<br/>
 G(III)                  G(III)<br/>
E-------0---7-5-5-3-0----------0---7-5-5-3-0-<br/>
H----0-3-0-3---3-----0-3----0-3-0-3---3-----3 - 2р.<br/>
G-0-2--------------------0-2-----------------<br/>
D--------------------------------------------<br/>
<br/>
Ули-мули тун бадатукман ява Ули-мули тун карамина те пали нам<br/>
Шикаемантан бадатукман ява Ала ми касанна Ала ми касанна<br/>
<br/>
Проигрыш:<br/>
 G(III)                  G(III)<br/>
E-------0---7-5-5-3-0----------0---7-5-5-3-0-<br/>
H----0-3-0-3---3-----0-3----0-3-0-3---3-----3 - 2р.<br/>
G-0-2--------------------0-2-----------------<br/>
D--------------------------------------------<br/>
<br/>
Ули-мули тун бадатукман ява Ули-мули тун карамина те пали нам<br/>
Шикаемантан бадатукман ява Ала ми касанна Ала ми касанна<br/>
<br/>
Проигрыш:<br/>
 G(III)                  G(III)<br/>
E-------0---7-5-5-3-0----------0---7-5-5-3-0-<br/>
H----0-3-0-3---3-----0-3----0-3-0-3---3-----3 <br/>
G-0-2--------------------0-2-----------------<br/>
D--------------------------------------------<br/>
G(III)                  <br/>
E-------0---7-5-5-3-0----<br/>
H----0-3-0-3---3-----0-3-<br/>
G-0-2--------------------<br/>
D------------------------<br/>
<br/>
Ули-мули тун бадатукман ява Ули-мули тун карамина те пали нам<br/>
Шикаемантан бадатукман ява Ала ми касанна Ала ми касанна<br/>
<br/>
Проигрыш:<br/>
 G(III)                  G(III)<br/>
E-------0---7-5-5-3-0----------0---7-5-5-3-0-<br/>
H----0-3-0-3---3-----0-3----0-3-0-3---3-----3 - 2р.<br/>
G-0-2--------------------0-2-----------------<br/>
D--------------------------------------------<br/>
<br/>
Ули-мули тун бадатукман ява Ули-мули тун карамина те пали нам<br/>
Шикаемантан бадатукман ява Ала ми касанна Ала ми касанна<br/>
<br/>
Проигрыш:<br/>
 G(III)                  G(III)<br/>
E-------0---7-5-5-3-0----------0---7-5-5-3-0-<br/>
H----0-3-0-3---3-----0-3----0-3-0-3---3-----3 - 2р.<br/>
G-0-2--------------------0-2-----------------<br/>
D--------------------------------------------<br/>
<br/>
Ули-мули тун бадатукман ява Ули-мули тун карамина те пали нам<br/>
Шикаемантан бадатукман ява Ала ми касанна Ала ми касанна<br/>
<br/>
Проигрыш:<br/>
 G(III)                  G(III)<br/>
E-------0---7-5-5-3-0----------0---7-5-5-3-0-<br/>
H----0-3-0-3---3-----0-3----0-3-0-3---3-----3 - 2р.<br/>
G-0-2--------------------0-2-----------------<br/>
D--------------------------------------------<br/>
<br/>
Ули-мули тун бадатукман ява Ули-мули тун карамина те пали нам<br/>
Шикаемантан бадатукман ява Ала ми касанна Ала ми касанна<br/>
<br/>
Проигрыш:<br/>
 G(III)                  G(III)<br/>
E-------0---7-5-5-3-0----------0---7-5-5-3-0-<br/>
H----0-3-0-3---3-----0-3----0-3-0-3---3-----3 <br/>
G-0-2--------------------0-2-----------------<br/>
D--------------------------------------------<br/>
G(III)                  <br/>
E-------0---7-5-5-3-0----<br/>
H----0-3-0-3---3-----0-3-<br/>
G-0-2--------------------<br/>
D------------------------<br/>
<br/>
Ули-мули тун бадатукман ява Ули-мули тун карамина те пали нам<br/>
Шикаемантан бадатукман ява Ала ми касанна Ала ми касанна<br/>
<br/>
Заключение:<br/>
 G(III)                  G(III)<br/>
E-------0---7-5-5-3-0----------0---7-5-5-3-0-<br/>
H----0-3-0-3---3-----0-3----0-3-0-3---3-----3 - 3р. G(III)<br/>
G-0-2--------------------0-2-----------------<br/>
D--------------------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
