{% extends "chords.html" %}

{% set title = "Капитан Воронин" %}
{% set handbook_unid = "0483093d2b42c9f4c325679d006aef94" %}

{% block content %}
{% raw %}
<span style="color:red;text-transform:uppercase">Капитан Воронин<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу <br/></i>
 <br/>
Вступление: G Dsus4/e C+g G - 2p. G Em Hm Am C G G/f# Em C D G<br/>  <br/>G                    A7sus4        C+g                G<br/> Когда отряд въехал в город, было время людской доброты<br/>G                    A7sus4   C+g                 G     <br/> Население ушло в отпуск, на площади томились цветы.<br/>G              Em                      Hm                  Am C<br/> Всё было неестественно мирно, как в кино, когда ждёт западня.<br/>G        G/f#      Em                C          D        G   <br/> Часы на башне давно били полдень какого-то прошедшего дня.<br/> <br/>Капитан Воронин жевал травинку и задумчиво смотрел вокруг.<br/>Он знал, что все видят отраженье в стекле, все слышат неестественный стук.<br/>Но люди верили ему как отцу, они знали, кто все должен решить.<br/>Он был известен как тот, кто никогда не спешил, когда некуда больше спешить<br/> <br/>Я помню, кто вызвался идти первым, я скажу вам их имена.<br/>Матрос Егор Трубников и индеец Острие Бревна<br/>Третий был без имени, но со стажем в полторы тысячи лет<br/>И прищурившись как Клинт Иствуд, капитан Воронин смотрел им вслед<br/> <br/>Проигрыш: G A7sus4 C+g G - 2p. G Em Hm Am C G G/f# Em C D G<br/> <br/>Ждать пришлось недолго, не дольше чем зимой ждать весны<br/>Плохие новости скачут как блохи, а хорошие и так ясны.<br/>И когда показалось облако пыли там, где расступались дома,<br/>Дед Василий сказал, до конца перестроившись: наконец-то мы сошли с ума.<br/> <br/>Приехавший соскочил с коня, пошатнулся и упал назад<br/>Его подвели к капитану, и стало видно, что Воронин был рад<br/>И приехавший сказал: О том, что я видел, я мог бы говорить целый год<br/>Но суть в том, что никто кроме нас не знал где здесь выход и даже мы не знали где вход.<br/> <br/>На каждого, кто пляшет русалочьи пляски, есть тот, кто идёт по воде.<br/>Но каждый человек он дерево, он отсюда и больше нигде<br/>А если дерево растёт, оно растёт вверх, и никто не волен это менять.<br/>Луна и солнце не враждуют на небе, и теперь я могу их понять.<br/> <br/>Проигрыш: G A7sus4 C+g G - 2p. G Em Hm Am C G G/f# Em C D G<br/> <br/>Наверное, только птицы в небе и рыбы в море знают кто прав.<br/>Но мы знаем, что о главном не пишут в газетах, и о главном молчит телеграф<br/>И, может быть, город назывался Маль-Пасо, а может быть Матренин Посад<br/>Но из тех, кто попадал туда, ещё никто не возвращался назад<br/> <br/>Так что нет причин плакать, нет повода для грустных дум<br/>Теперь нас сможет спасти только сердце, потому что нас уже не спас ум.<br/>А сердцу нужны и небо и корни, оно не может жить в пустоте<br/>Как сказал один мальчик, случайно бывший при этом: отныне все мы будем не те.<br/> <br/>Заключение: G A7sus4 C+g G <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Dsus4/e<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         A7sus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
