{% extends "chords.html" %}

{% set title = "Капитан Беллерофонт" %}
{% set handbook_unid = "d7d562583616b5e5432579170074b676" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АРХАНГЕЛЬСК - капитан беллерофонт<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
капитан беллерофонт<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
  G       D   G       D <br/>
E---------------------2-0------<br/>
H-------0-3---0--0-1-3---3-1---<br/>
G-0--0-2-----------------------<br/>
D------------------------------<br/>
  G       D   G       D      G<br/>
E---------------------2-0------<br/>
H-------0-3---0--0-1-3---3-1-0-<br/>
G-0--0-2-----------------------<br/>
D------------------------------<br/>
<br/>
G                     D<br/>
 Какая прекрасная встреча<br/>
G                  D<br/>
 Я благодарен судьбе<br/>
G                      D<br/>
 Что наперекор всем законам<br/>
       F        C        D<br/>
Мы встретимся в этой толпе<br/>
G                      D<br/>
 Я буду здесь очень недолго<br/>
      G                 D<br/>
Мой уход не заметит никто<br/>
     Am    Am/g     D<br/>
Дальнейшие тайные знаки<br/>
       Am       Am/g     Cm<br/>
Вы найдёте в кармане пальто<br/>
<br/>
Проигрыш: G D - 4p.<br/>
<br/>
Да, я могу видеть сквозь стены<br/>
И знать, что у вас на уме<br/>
Меня не волнуют измены<br/>
Я был слишком близко к земле<br/>
И с этой поры мои окна<br/>
Выходят всегда на восход<br/>
Снаружи я выгляжу камнем<br/>
Но внутри у меня огнемёт<br/>
<br/>
      G       D/f#       Em<br/>
Ведь жизнь проста и прекрасна<br/>
    Em    Hm        C<br/>
И всюду невидимый фронт<br/>
 G      D/f#    F          E<br/>
Раньше они обращались ко мне:<br/>
     Am D                G  D<br/>
Капитан  Капитан Беллерофонт<br/>
<br/>
Проигрыш: G D - 6p. <br/>
F C D G D G D Am Am/g D Am Am/g Cm D(V) D(V) G G<br/>
<br/>
Со мной невозможно связаться<br/>
Я мастер уйти и утечь<br/>
За мной барабаны Магриба<br/>
И чёрная злая картечь<br/>
Я вижу по вырезу платья<br/>
Что главный Ваш груз под водой<br/>
Формально мы мало знакомы,<br/>
Но завтра я буду с тобой<br/>
<br/>
      G       D/f#       Em<br/>
Ведь жизнь проста и прекрасна<br/>
    Em    Hm        C<br/>
И всюду невидимый фронт<br/>
 G      D/f#    F          E<br/>
Раньше они обращались ко мне:<br/>
     Am D                <br/>
Капитан…<br/>
 G       D/f#       Em<br/>
Жизнь проста и прекрасна<br/>
    Em    Hm        C<br/>
И всюду невидимый фронт<br/>
 G      D/f#    F          E<br/>
Раньше они обращались ко мне:<br/>
     Am D                G  D<br/>
Капитан  Капитан Беллерофонт<br/>
<br/>
Заключение: G D - 3p. G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
о D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am/g<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Cm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|-■-|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
о D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V      D(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
