{% extends "chords.html" %}

{% set title = "Как движется лёд" %}
{% set handbook_unid = "cb7bd2755d19d188c325679d006af1e6" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - Аквариум + - как движется лёд<br/>
</span><span style="color:red"> <br/>
КАК ДВИЖЕТСЯ ЛЁД<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
E! F#m! G#m! A(V)!, A(V)!A(V)!G#m!F#m! E - 2p. E   <br/>
<br/>
E                 F#m<br/>
 Те, кто знает, о чём идёт речь,<br/>
   A(V)  H(VII)      E<br/>
Похожи на тех, кто спит<br/>
E                 F#m<br/>
 Меня учили, что важно, в чём суть,<br/>
           A(V)       H      C#m<br/>
Но, чтобы выжить, важнее мой вид<br/>
H                 F#m<br/>
 И есть время раскидывать сеть<br/>
   G#m                A(V) H<br/>
И время на цыпочках вброд<br/>
C#m     C#m+7   C#m7  E/5-/B      F#m<br/>
   Время петь и время учиться смотреть,<br/>
H              E<br/>
 Как движется лёд<br/>
<br/>
Проигрыш: <br/>
E! F#m! G#m! A(V)!, A(V)!A(V)!G#m!F#m! E - 2p. E<br/>
<br/>
Ты ляжешь спать мудрый как слон<br/>
Проснёшься всемогущий как бог<br/>
Чуть-чуть с похмелья и немного влюблён<br/>
Но как странно бел потолок<br/>
Зачем кидаться голым к окну<br/>
Вот твой шанс, чтобы выйти на взлёт<br/>
Убрав подальше фотографии всех, кто не понял<br/>
Как движется лёд<br/>
<br/>
Проигрыш: <br/>
E! F#m! G#m! A(V)!, A(V)!A(V)!G#m!F#m! E - 2p.<br/>
E F#m A(V) H(VII) E, E F#m A(V) H, C#m H, F#m G#m A(V) H<br/>
C#m C#m+7 C#m7 E/5-/B F#m H<br/>
E! F#m! G#m! A(V)!, A(V)!A(V)!G#m!F#m! E - 2p. E<br/>
<br/>
Моя любовь купит сахар и чай<br/>
И мы откроем свой дом<br/>
И к нам придёт кто-то, такой же как мы<br/>
Чтобы вместе не помнить о том<br/>
Что нет времени, кроме сейчас<br/>
И нет движения, кроме вперёд<br/>
C#m      C#m+7    C#m7    E/5-/B F#m                 H<br/>
   И мы сдвинем стаканы плотней, чувствуя краем зрачка<br/>
              E<br/>
Как движется лёд<br/>
<br/>
Заключение: <br/>
E! F#m! G#m! A(V)!, A(V)!A(V)!G#m!F#m! E - 4p. <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII    H(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV     C#m+7<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m7<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         E/5-/b<br/>
  E---|---|-■-|-■-|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|---|<br/>
x D---|---|-■-|---|---|<br/>
x A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
