{% extends "chords.html" %}

{% set title = "Каменный уголь" %}
{% set handbook_unid = "e4db4a9dbe682ac1c325679d006aeee3" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕСЯТЬ СТРЕЛ - каменный уголь<br/>
</span><span style="color:red"> <br/>
КАМЕННЫЙ УГОЛЬ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <span style="color:silver">D</span> <span style="color:#999999">D</span> <span style="color:gray">D</span> D D D D D<br/>
<br/>
        D               A<br/>
Если б каменный уголь умел говорить,<br/>
        G             G/f#      D D<br/>
Он не стал бы вести беседы с тобой.<br/>
      D                  A                      G D<br/>
И каррарский мрамор не стал бы смотреть тебе вслед.<br/>
       D                    A<br/>
Но ты занят войной, ты стреляешь<br/>
           G              D<br/>
На тысячу вёрст и тысячу лет.<br/>
  D              A                  G<br/>
И я ничего не отвечу, когда меня спросят,<br/>
 C         G      D A<br/>
Как продолжается бой.<br/>
<br/>
Проигрыш: G D D A G D D A G D D A G C G D D <br/>
<br/>
В театральных снах молодого дворника<br/>
Ты будешь пойман в трубе,<br/>
И надменные девы привяжут тебя к станку.<br/>
И они коронуют тебя цветами,<br/>
И с песнями бросятся прочь,<br/>
             D        A<br/>
На бегу забывая самое имя твоё,<br/>
      G               C       G        D A<br/>
И никто никогда не вспомнит здесь о тебе.<br/>
<br/>
Проигрыш: G D D A G D D A G D D A G C G D D<br/>
<br/>
И когда наступит День Серебра,<br/>
И кристалл хрусталя будет чист,<br/>
И тот, кто бежал, найдёт, наконец, покой,<br/>
Ты встанешь из недр земли, исцелённый,<br/>
Не зная, кто ты такой.<br/>
Я хотел бы быть рядом, когда всадник протянет тебе<br/>
Ещё нетронутый лист.<br/>
<br/>
Заключение: G D D A G D D A G D D A G C G D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
