{% extends "chords.html" %}

{% set title = "Казанова" %}
{% set handbook_unid = "2238ffd371d77faac325679d006aef2b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - казанова<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
казанова<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
  G<br/>
G----0-0-0-0-<br/>
D---0---4-0-- - 8р.<br/>
A--2---------<br/>
E-3----------<br/>
<br/>
G                      Am   D                      G<br/>
 А из-за острова на стрежень на простор речной волны<br/>
G                Am D                   G<br/>
 Выплывают расписные Стеньки Разина челны<br/>
G                       Am   D                      G<br/>
 А на переднем Стенька Разин, а рядом видим мы княжну.<br/>
G                    Am D                 G<br/>
 А он за борт ее бросает в надлежащую волну<br/>
<br/>
G               Am  D          G<br/>
 Казанова, Казанова, зови его так<br/>
G               Am  D          G<br/>
 Казанова, Казанова, зови его так<br/>
<br/>
А утро красит нежным светом стены древнего Кремля<br/>
А просыпается с рассветом вся советская земля<br/>
А холодок бежит за ворот шум на улице сильней<br/>
С добрым утром славный город сердце родины моей<br/>
<br/>
Казанова, Казанова, мы зовем ее так<br/>
Казанова, Казанова, мы все зовем ее так<br/>
<br/>
А из-за острова на стрежень на простор речной волны<br/>
А я давно тебе не муж, и, к тому же, падишах<br/>
<br/>
Казанова, Казанова, зови меня так<br/>
Казанова, Казанова, зови меня так<br/>
<br/>
Белый аист что ты вьешся над моею головой<br/>
Ты добычи не дождешься белый аист я не твой<br/>
<br/>
Белый аист, белый аист, я буду звать тебя так<br/>
Белый аист, белый аист, лети себе 'зря'<br/>
<br/>
Выпьем, бедная подружка милой юности моей<br/>
Выпьем с горя, где же кружка? Хоть сердцу будет веселей<br/>
<br/>
Казанова, Казанова, зови меня так<br/>
Казанова, Казанова, зови меня так<br/>
<br/>
А прибежали в избу дети, второпях зовут отца<br/>
А тятя-тятя, наши сети притащили мертвеца<br/>
<br/>
Казанова, Казанова, зови его так<br/>
Казанова, Казанова, зови его так<br/>
<br/>
Как же нам не веселиться и не грустить от разных бед<br/>
В нашем доме поселился замечательный сосед<br/>
Мы с соседями не знали и не верили судьбе<br/>
Что у нас сосед играет на кларнете и трубе<br/>
<br/>
Казанова, Казанова, мы зовем его так<br/>
Казанова, Казанова, мы зовем его так<br/>
<br/>
Путь далек у нас с тобою веселей солдат иди<br/>
Вьется знамя полковое командиры впереди<br/>
А командиры все охрипли когда скомандовал идти<br/>
Надежды маленький оркестрик под управлением любви<br/>
<br/>
Казанова, Казанова, мы зовем его так<br/>
Казанова, Казанова, мы все зовем его так<br/>
<br/>
С неба звездочка упала прямо милому в штаны<br/>
Пусть стоит там что попало лишь бы не было войны<br/>
<br/>
Казанова, Казанова, зови его так<br/>
Казанова, Казанова, стань в ряд!<br/>
<br/>
А вы любите, девки, море и балтийских моряков<br/>
Моряки смеются стоя вдоль скалистых берегов<br/>
<br/>
Казановы, Казановы, мы все прозвали их так<br/>
Казановы, Казановы, мы прозвали их так<br/>
<br/>
А частушки вам пропели не кадет и не эсэр<br/>
И не Ленин и не Сталин а КГБ СССР!<br/>
<br/>
Казанова, Казанова, мы все зовем его так<br/>
Казанова, Казанова, мы все зовем его так<br/>
<br/>
Заключение: G Am D G - 4p. G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
