{% extends "chords.html" %}

{% set title = "Ки-ки мордлы" %}
{% set handbook_unid = "0626e2c6004268c7c3256b6e00395f82" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - ки-ки мордлы<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
ки-ки мордлы <br/>
</span><i>Б.Гребенщиков<br/>
<br/>
Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: Em A D H7 Em A D D <br/>
<br/>
 D                Em       A                D<br/>
Долго я жил неприкаянный, долго я шел стороной.<br/>
   D               Em         D<br/>
В жизни случались радость и счастье,<br/>
G          H7         Em<br/>
Только всегда не со мной.<br/>
 A              F#m      H7               Em<br/>
Долго душа моя маялась, жаждя родной стороны,<br/>
   G         A       D          H7            <br/>
Но ангел сказал мне несколько слов,<br/>
    Em               B A<br/>
Ах, как они были верны:<br/>
<br/>
 D  A      D   G  H7     Em<br/>
Ки-ки мордлы, ки-ки мордлы<br/>
 G        A     D       H7<br/>
Жили мы плохо, жили жестоко<br/>
Em                 G     A<br/>
Думали, кто-то другой виною<br/>
    D   A      D    H7        Em<br/>
Но нет лучше слов, чем про любовь<br/>
   G         A        D           H7<br/>
Давайте проснёмся и скажем друг другу<br/>
 G   A      D    <br/>
"Ки-ки мордлы!"<br/>
<br/>
Проигрыш: D A - 4p.<br/>
<br/>
Год мы мычали и мыкались, гнёт непомерный влача.<br/>
Всё бы нам тащиться в вихрях враждебных,<br/>
Всё бы нам ждать трубача.<br/>
Это нас бесы попутали, полно страдать и терпеть -<br/>
Не лучше ли обняться, за руки взяться,<br/>
И по-тихоньку пропеть:<br/>
<br/>
Ки-ки мордлы, ки-ки мордлы<br/>
Жили мы плохо, жили жестоко<br/>
Думали, кто-то другой виною<br/>
Но нет лучше слов, чем про любовь<br/>
Давайте проснёмся и скажем друг другу<br/>
"Ки-ки мордлы!"<br/>
<br/>
Проигрыш: D A D - 3p. <br/>
H7 Em, A F#m, H7 Em, G A D H7, Em A D<br/>
<br/>
Ки-ки мордлы, ки-ки мордлы<br/>
Жили мы плохо, жили жестоко<br/>
Думали, кто-то другой виною<br/>
Но нет лучше слов, чем про любовь<br/>
Давайте проснёмся и скажем друг другу<br/>
"Ки-ки мордлы!"<br/>
<br/>
Заключение: D A - 8р.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
