{% extends "chords.html" %}

{% set title = "Ключи от моих дверей" %}
{% set handbook_unid = "4fed8e53a5dc1043c325679d006af015" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ИХТИОЛОГИЯ - ключи от моих дверей<br/>
</span><span style="color:red"> <br/>
КЛЮЧИ ОТ МОИХ ДВЕРЕЙ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
E-5--7-5-3--5-3-1--<br/>
H------------------<br/>
G------------------<br/>
D-3--5-3-2--3-2-0-- G<br/>
A------------------<br/>
E------------------<br/>
C F C G - 4p. C С<br/>
<br/>
       C                 F           C    <br/>
Между тем, кем я был, и тем, кем я стал,<br/>
C            F      C     <br/>
 Лежит бесконечный путь;<br/>
   C               F       C          <br/>
Но я шёл весь день, и я устал,<br/>
   Dm             G<br/>
И мне хотелось уснуть.<br/>
   Am                F      C<br/>
И она не спросила, кто я такой,<br/>
     F       F/e     Dm<br/>
И с чем я стучался к ней;<br/>
F             C            F<br/>
 Она сказала: “Возьми с собой<br/>
    F      G      F C F C G G F/f F/e F/d<br/>
Ключи от моих дверей”.<br/>
<br/>
Проигрыш: C F C G C F C G<br/>
<br/>
Между тем, кем я стал, и тем, кем я был -<br/>
Семь часов до утра.<br/>
Я ушёл до рассвета, и я забыл,<br/>
Чьё лицо я носил вчера.<br/>
И она не спросила, куда я ушёл,<br/>
Северней или южней;<br/>
Она сказала: "Возьми с собой<br/>
Ключи от моих дверей”.<br/>
<br/>
Проигрыш: C F C G C F C G<br/>
<br/>
Я трубил в эти дни в жестяную трубу,<br/>
Я играл с терновым венцом,<br/>
И мои восемь струн казались мне<br/>
То воздухом, то свинцом;<br/>
И десяткам друзей хотелось сварить<br/>
Суп из моих зверей;<br/>
Она сказала: "Возьми с собой<br/>
Ключи от моих дверей”.<br/>
<br/>
Проигрыш: C F C G C F C G<br/>
<br/>
И когда я решил, что некому петь,<br/>
Я стал молчать и охрип.<br/>
И когда я решил, что нет людей<br/>
Между свиней и рыб;<br/>
И когда я решил, что остался один<br/>
Мой джокер средь их козырей,<br/>
Она сказала: "Возьми с собой<br/>
Ключи от моих дверей”.<br/>
<br/>
Заключение: C F C G F C G  F/f F/e F/d C<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/f<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/d<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
