{% extends "chords.html" %}

{% set title = "Кладбище" %}
{% set handbook_unid = "7553d346676797e1c325679d006af180" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАВИГАТОР - кладбище<br/>
</span><span style="color:red"> <br/>
КЛАДБИЩЕ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 5-м ладу<br/></i>
 <br/>
Проигрыш: Am – 12p. <br/>
6:0 6:III 5:0 5:III Am - 4p.<br/>
<br/>
 G    Am        G6   Am<br/>
Село солнце, да за Гималаи,<br/>
  G     C       G6       C<br/>
Чтоб назавтра вновь взойти;<br/>
 A7     Dm          Am<br/>
Бредёт йогин на кладбище<br/>
                     E E+c E E+c E E+c E E+c<br/>
Отсекать привязанности.<br/>
<br/>
Проигрыш: Am <br/>
6:0 6:III 5:0 5:III Am - 3p.<br/>
<br/>
У него труба из кости,<br/>
Он начнёт в неё трубить;<br/>
Созовёт голодных духов -<br/>
G     Am           E E+c E E+c E E+c E E+c<br/>
Их собой поить-кормить.<br/>
<br/>
      Am   G6   Am<br/>
Они съедят его тело,<br/>
G    C       G6       C<br/>
Они выпьют кровь до дна;<br/>
A7  Dm                  Am      <br/>
И к утру он чист - безгрешен,<br/>
 G       Am  G    Am<br/>
Не привязан ни хрена.<br/>
<br/>
Проигрыш: Am<br/>
6:0 6:III 5:0 5:III Am - 8p.<br/>
<br/>
G      Am       G6     Am<br/>
Ох, мы тоже трубим в трубы,<br/>
G       C     G6  C<br/>
У нас много трубачей;<br/>
A7   Dm         Am<br/>
И своею кровью кормим<br/>
 G     Am     G   E E+c E E+c E E+c E E+c<br/>
Сытых хамов-сволочей;<br/>
<br/>
         Am     G6     Am  <br/>
Столько лет - а им всё мало.<br/>
    G    C  G6      C<br/>
Неужель мы так грешны?<br/>
A7      Dm              Am<br/>
Ох, скорей бы солнце встало<br/>
        Am  4:II 4:0 4:III 4:II Am<br/>
Над кладбищем  моей     родины...<br/>
<br/>
Заключение: 6:0 6:III 5:0 5:III Am - 2p. Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G6<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E+c<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
