{% extends "chords.html" %}

{% set title = "Козлы" %}
{% set handbook_unid = "a25b796b3c01bec3c325679d006af1bc" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕТИ ДЕКАБРЯ - козлы<br/>
</span><span style="color:red"> <br/>
КОЗЛЫ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
E-------------<br/>
H-------------<br/>
G-------------<br/>
D-------------<br/>
A------5------<br/>
E-3-3---3-3-3-<br/>
<br/>
              A*<br/>
E-0-0-0-0-0-0--0-0-0-0-0-0-0-0-<br/>
H-2-2-2-2-2-2--2-2-2-2-2-2-2-2-<br/>
G-2-2-2-2-2-2--2-2-2-2-2-2-2-2- - 10p.<br/>
D-2-2-2-2-2-2--2-2-2-2-2-2-2-2-<br/>
A-------0-3-0--------0-3-0-3-0-<br/>
E-0-0-3--------0-0-3-----------<br/>
<br/>
   A<br/>
Стоя по стойке "смирно",<br/>
    A<br/>
Танцуя в душе брейк-данс,<br/>
    A<br/>
Мечтая, что ты генерал,<br/>
    A<br/>
Мечтая, что ты экстрасенс,<br/>
  A<br/>
Зная, что ты воплощение<br/>
 A<br/>
Вековечной мечты;<br/>
      A<br/>
Весь мир - это декорация,<br/>
   A<br/>
И тут появляешься ты;<br/>
    D      A*<br/>
Козлы; Козлы...<br/>
E<br/>
 Мои слова не слишком добры,<br/>
F#m               D<br/>
Но и не слишком злы,<br/>
D                  E<br/>
Я констатирую факт:<br/>
    A*<br/>
Козлы…<br/>
<br/>
Проигрыш: A* - 2p.<br/>
<br/>
В кружке "Унылые руки"<br/>
Всё говорят, как есть,<br/>
Но кому от этого радость,<br/>
Кому от этого честь?<br/>
Чем больше ты скажешь,<br/>
Тем более ты в цене;<br/>
В работе мы, как в проруби,<br/>
В постели мы, как на войне;<br/>
Козлы; Козлы...<br/>
Увязшие в собственной правоте,<br/>
Завязанные в узлы.<br/>
Я тоже такой, только хуже, и я говорю, что я вижу: <br/>
Я вижу - козлы…<br/>
<br/>
Проигрыш: <br/>
A* - 2p. A - 8p. D A E F#m D D E A A <br/>
<br/>
Пока я не стал клевером,<br/>
Пока ты не стала строкой,<br/>
Наши тела - меч,<br/>
В наших душах покой.<br/>
Наше дыхание свято,<br/>
Мы движемся, всех любя,<br/>
Но дай нам немного силы, Господи -<br/>
Мы всё подомнём под себя.<br/>
Козлы! у-ум, козлы...<br/>
Мои слова не особенно вежливы,<br/>
Но и не слишком злы.<br/>
Мне просто печально, что мы могли бы быть люди...<br/>
<br/>
Ха!<br/>
<br/>
Заключение: <br/>
A* - 3p.<br/>
E-0-0-0-0-0-0------<br/>
H-2-2-2-2-2-2------<br/>
G-2-2-2-2-2-2----2-<br/>
D-2-2-2-2-2-2-0-2--<br/>
A-------0-3-0------<br/>
E-0-0-3------------<br/>
<br/>
<i>Всегда было интересно, почему люди этой песне так радуются…<br/>
</i><span style="color:#4D4D4D"> <br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
