{% extends "chords.html" %}

{% set title = "Кошка моря" %}
{% set handbook_unid = "f0b431a31e098603c325774f0078f9e6" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - Аквариум + - кошка моря<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">кошка моря<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/>
 <br/></i>
Вступление: D Dsus2 - 4p.<br/>
D G - 8p.<br/>
<br/>
D          G <br/>
 Кошка моря <br/>
D          G <br/>
 Кошка ветра<br/>
D          G<br/>
 Мои соседи <br/>
D             G<br/>
 По этой ветке<br/>
D             G <br/>
 Крепкой ветке <br/>
D             G <br/>
 Древнего дуба<br/>
D            G <br/>
 И мы заметны <br/>
    D              G <br/>
Лишь друг для друга<br/>
   D  <br/>
Сидим...<br/>
<br/>
Проигрыш: D G - 4p.<br/>
<br/>
Море качает, <br/>
Ветер носит<br/>
А что то значит - <br/>
Никто не спросит<br/>
Никто не спросит, <br/>
А очень жалко<br/>
А то бы в стужу <br/>
Стало бы жарко<br/>
Ясно жарко<br/>
И невесомо<br/>
Но здесь пределы <br/>
Любого слова<br/>
Молчим...<br/>
<br/>
Проигрыш: D G - 12p.<br/>
D Dsus2 - 4p.<br/>
<br/>
Вот мы сидим здесь <br/>
Напившись чаю<br/>
Пойду-ка встану - <br/>
Тебя встречаю<br/>
Ну где ж ты ходишь? <br/>
Где летаешь?<br/>
Стужей завоешь, <br/>
Снегом растаешь<br/>
Ну сколько ж можно <br/>
Играться в цацки?<br/>
У нас есть дело - <br/>
Дело по-царски<br/>
Весне на радость, <br/>
Беде на горе<br/>
С кошкой ветра <br/>
И с кошкой моря<br/>
       D<br/>
И со мной...<br/>
<br/>
Заключение: D G - 12p. D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
