{% extends "chords.html" %}

{% set title = "Кострома mon amour" %}
{% set handbook_unid = "ef80a7ebf00ca10dc325679d006af02a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - КОСТРОМА MON AMOUR - КОСТРОМА MON AMOUR<br/>
</span><span style="color:red"> <br/>
КОСТОРОМА MON AMOUR<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: Am – 2p.<br/>
<br/>
                E                Am 1:V 1:XII<br/>
Мне не нужно победы, не нужно венца;<br/>
                  C   F           G        C<br/>
Мне не нужно губ ведьмы, чтоб дойти до конца.<br/>
F         G       C F                     Dm<br/>
 Мне б весеннюю сладость да жизнь без вранья:<br/>
                Dm    1:I 1:0 2:III 2:I 2:0 3:II 3:1 E<br/>
Ох, Самара, сестра моя...<br/>
<br/>
Проигрыш: Am G Em - 2p. Am<br/>
<br/>
                 E                 Am<br/>
Как по райскому саду ходят злые стада;<br/>
              C F         G     C  <br/>
Ох, измена-засада, да святая вода...<br/>
F  G          C   F                      Dm     <br/>
 Наотмашь по сердцу, светлым лебедем в кровь,<br/>
                Dm Em F Em Dm E                 Am<br/>
А на горке - Владимир,         а под горкой Покров...<br/>
<br/>
                 E                Am<br/>
Бьётся солнце о тучи над моей головой.<br/>
               C F           G         C<br/>
Я, наверно, везучий, раз до сих пор живой;<br/>
F         G           C F                   Dm<br/>
 А над рекой кричит птица, ждёт милого дружка -<br/>
                 Dm Em F Em Dm E            Am<br/>
А здесь белые стены             да седая тоска.<br/>
<br/>
Проигрыш: Am G Em Am G C G6/h Am G Am G Em Am<br/>
<br/>
                     E                     Am<br/>
Что ж я пьян, как архангел с картонной трубой;<br/>
                     C   F          G         C<br/>
Как на чёрном - так чистый, как на белом - рябой;<br/>
F       G        C  F                     Dm<br/>
 А вверху летит лётчик, беспристрастен и хмур...<br/>
                Dm   Em F Em Dm E               Am<br/>
Ох, Самара, сестра моя;          Кострома mon amour...<br/>
<br/>
                E                    Am<br/>
Я бы жил себе трезво, я бы жил не спеша -<br/>
                 C F   G      C<br/>
Только хочет на волю живая душа;<br/>
F   G        C  F                  Dm<br/>
 Сарынью на кичку - разогнать эту смурь...<br/>
                Dm   Em F Em Dm E               Am<br/>
Ох, Самара, сестра моя;          Кострома mon amour.<br/>
<br/>
Проигрыш: Am G Em Am G C G6/h Am G Am G Em Am<br/>
<br/>
              E                    Am<br/>
Мне не нужно награды, не нужно венца,<br/>
                     C F           G         C<br/>
Только стыдно всем стадом прямо в царство Отца;<br/>
F          G     C  F                Dm<br/>
 Мне б резную калитку, кружевной абажур...<br/>
                Dm   Em F Em Dm 3:II 3:0 4:III 4:II 4:0 5:III 6:IV E               Am<br/>
Ох, Самара, сестра моя;                                             Кострома mon amour...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
