{% extends "chords.html" %}

{% set title = "Контрданс" %}
{% set handbook_unid = "fb7dcbdee9680f89c325679d006af192" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - контрданс<br/>
</span><span style="color:red"> <br/>
КОНТРДАНС<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
E-----2-3-----------2---2----<br/>
H-3-5-------2-3-5-5-------5-3<br/>
G----------------------------<br/>
D-----0-2-----------0---0---- Em A D - 2p. D Dsus4 D<br/>
A-2-4-------0-2-4-4-------4-2<br/>
E----------------------------<br/>
<br/>
      4:0 4:II 4:IV<br/>
D                G  A             D<br/>
 Скоро кончится век, как короток век;<br/>
     Hm        Em          A  D<br/>
Ты, наверное, ждёшь - или нет?<br/>
   4:0 4:II 4:IV G  A                 D<br/>
Но сегодня был снег, и к тебе не пройдёшь,<br/>
      Hm      Em       A         D<br/>
Не оставив следа; а зачем этот след?<br/>
<br/>
Проигрыш: D A D<br/>
<br/>
D               G  A                D<br/>
 Там сегодня приём, там сегодня приют,<br/>
Но едва ли нас ждут в тех гостях;<br/>
Вот кто-то пришёл, и кто-то при нём,<br/>
    Hm       Em           A         D Dsus4 D<br/>
Но они есть они, ты есть ты, я есть я.<br/>
<br/>
Hm                   D<br/>
  Но в этом мире случайностей нет,<br/>
      Hm                 D D7<br/>
И не мне сожалеть о судьбе.<br/>
      G          A  D           G<br/>
Он играет им всем, ты играешь ему,<br/>
       G      A           D D7<br/>
Ну а кто здесь сыграет тебе?<br/>
      G           A D           G<br/>
Он играет им всем, ты играешь ему,<br/>
       G      A           D<br/>
Ну а кто здесь сыграет тебе?<br/>
<br/>
Проигрыш: D A D<br/>
<br/>
D                G  A               D<br/>
 И я прошу об одном: если в доме твоём<br/>
Будет шелк и парча, и слоновая кость,<br/>
Чтоб тогда ты забыл дом, в котором я жил;<br/>
Ну какой из меня к черту гость?<br/>
<br/>
D                        G A               D<br/>
 Ведь я напьюсь как свинья, я усну под столом;<br/>
В этом обществе я нелюдим.<br/>
               G A                 D                                <br/>
Я никогда не умел быть первым из всех,<br/>
Но я не терплю быть вторым.<br/>
<br/>
Но в этом мире случайностей нет,<br/>
И не мне сожалеть о судьбе.<br/>
Он играет им всем, ты играешь ему,<br/>
Ну а кто здесь сыграет тебе?<br/>
Он играет им всем, ты играешь ему,<br/>
              6:II A          G D<br/>
Так позволь, я      сыграю тебе.<br/>
<br/>
Заключение:<br/>
E-----2-3-----------2---2----<br/>
H-3-5-------2-3-5-5-------5-3<br/>
G----------------------------<br/>
D-----0-2-----------0---0---- Em A D+7 D <br/>
A-2-4-------0-2-4-4-------4-2<br/>
E----------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D+7<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
