{% extends "chords.html" %}

{% set title = "Кони беспредела" %}
{% set handbook_unid = "b63638437c63c509c325679d006aeef2" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РУССКИЙ АЛЬБОМ - кони беспредела<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Кони беспредела<br/>
</span><i>Б. Гребенщиков</i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
Dm7(V) E7/d(IV) Am – 3p.<br/>
<br/>
E---3-1-0---------0-1-0-----<br/>
H--------3-1-0-1-3-----3-1-0<br/>
G--2------------------------ Am <br/>
D—0-------------------------<br/>
A---------------------------<br/>
<br/>
F         Am       Em        Am<br/>
 Ехали мы, ехали с горки на горку,<br/>
F          Am   Em       Am<br/>
 Да потеряли ось от колеса.<br/>
F              C   Dm             F Fsus2/e<br/>
 Вышли мы вприсядку, мундиры в оборку;<br/>
Dm                           Am<br/>
  Солдатики любви - синие глаза…<br/>
<br/>
Как взяли - повели нас дорогами странными;<br/>
Вели - да привели, как я погляжу;<br/>
Сидит птица бледная с глазами окаянными;<br/>
Что же, спой мне птица - может я попляшу…<br/>
<br/>
F                   C       Dm        Am<br/>
 Спой мне, птица, сладко ли душе без тела?<br/>
F                C         Dm           Am<br/>
 Легко ли быть птицей - да так, чтоб не петь?<br/>
Запрягай мне, Господи, коней беспредела;<br/>
Я хотел пешком, да видно, мне не успеть…<br/>
<br/>
Проигрыш:<br/>
Dm7(V) E7/d(IV) Am – 3p. <br/>
<br/>
E---3-1-0---------0-1-0-----<br/>
H--------3-1-0-1-3-----3-1-0<br/>
G--2------------------------ E <br/>
D—0-------------------------<br/>
A---------------------------<br/>
<br/>
Dm7(V) E7/d(IV) Am – 3p. <br/>
<br/>
E---3-1-0---------0-1-0-----<br/>
H--------3-1-0-1-3-----3-1-0<br/>
G--2------------------------ Am <br/>
D—0-------------------------<br/>
A---------------------------<br/>
<br/>
А чем мне их кормить, если кони не сыты?<br/>
Как их напоить? - они не пьют воды.<br/>
Шёлковые гривы надушены, завиты;<br/>
Острые копыта, алые следы.<br/>
<br/>
А вот и все мои товарищи – водка без хлеба,<br/>
Один брат - Сирин, а другой брат – Спас.<br/>
А третий и хотел дойти ногами до неба,<br/>
Но выпил, удолбался, вот и весь сказ.<br/>
<br/>
F               C        Dm        Am<br/>
 Ох, вылетела пташка, да не долетела,<br/>
F          C       Dm     Am<br/>
 Заклевал коршун - да голубя.<br/>
Запрягли, взнуздали мне коней беспредела,<br/>
А кони понесли - да всё прочь от тебя…<br/>
<br/>
Проигрыш: Dm7(V) E7/d(IV) Am – 3p. <br/>
E---3-1-0---------0-1-0-----<br/>
H--------3-1-0-1-3-----3-1-0<br/>
G--2------------------------ E <br/>
D—0-------------------------<br/>
A---------------------------<br/>
<br/>
Dm7(V) E7/d(IV) Am – 3p. <br/>
<br/>
E---3-1-0---------0-1-0-----<br/>
H--------3-1-0-1-3-----3-1-0<br/>
G--2------------------------ Am <br/>
D—0-------------------------<br/>
A---------------------------<br/>
<br/>
Метились мы в дамки, да масть ушла мимо;<br/>
Все козыри в грязи, как ни крути.<br/>
Отче мой Сергие, отче Серафиме!<br/>
Звёзды - наверху, а снег на пути…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Dm7(V)<br/>
  E-■-|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         E7/d(IV)<br/>
  E---|---|---|-■-|---|<br/>
  H---|---|---|---|-■-|<br/>
  G---|---|---|-■-|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Fsus2/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
