{% extends "chords.html" %}

{% set title = "Козлодоев" %}
{% set handbook_unid = "a4a57019013d8570c325679d006aee6b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ▼ - козлодоев<br/>
</span><span style="color:red"> <br/>
КОЗЛОДОЕВ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:  Asus2 – 2p.<br/>
<br/>
    Asus2<br/>
Сползает по крыше старик Козлодоев,<br/>
    Dm        E      Asus2<br/>
Пронырливый, как коростель.<br/>
    Asus2<br/>
Стремится в окошко залезть Козлодоев<br/>
     Dm         E       Asus2<br/>
К какой-нибудь бабе в постель.<br/>
     C                 F<br/>
Вот раньше, бывало, гулял Козлодоев,<br/>
    G              C C7<br/>
Глаза его были пусты;<br/>
    F          A7         Dm      Dm/f<br/>
И свистом всех женщин сзывал Козлодоев<br/>
   Am       E       Asus2<br/>
Заняться любовью в кусты.<br/>
<br/>
Проигрыш: <br/>
       Asus2            Asus2                   Dm              E      Asus2 <br/>
E-5-5-5-8-12-------5-5-5-8-12-------12-12-13-12-10--10-10-12-10-8--7-7-8-7-5-<br/>
H-----------12-12------------12-12------------------------------------------- - 2p.<br/>
G-----------14-14------------14-14-------------------------------------------<br/>
<br/>
Занятие это любил Козлодоев,<br/>
И дюжину враз ублажал.<br/>
Кумиром народным служил Козлодоев,<br/>
И всякий его уважал.<br/>
А ныне, а ныне попрятались суки<br/>
В окошки отдельных квартир.<br/>
Ползёт Козлодоев, мокры его брюки,<br/>
Он стар; он желает в сортир.<br/>
<i> </i>
Заключение: <br/>
       Asus2            Asus2                   Dm              E      Asus2 <br/>
E-5-5-5-8-12-------5-5-5-8-12-------12-12-13-12-10--10-10-12-10-8--7-7-8-7-5-7-8-12-<br/>
H-----------12-12------------12-12--------------------------------------------------<br/>
G-----------14-14------------14-14--------------------------------------------------<br/>
       Asus2            Asus2                   Dm              E         Am <br/>
E-5-5-5-8-12-------5-5-5-8-12-------12-12-13-12-10--10-10-12-10-8--7-7-8-7-5-0---<br/>
H-----------12-12------------12-12--------------------------------------------0--<br/>
G-----------14-14------------14-14---------------------------------------------2-<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
  A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
