{% extends "chords.html" %}

{% set title = "Королевское утро" %}
{% set handbook_unid = "1df29791a2f9fc1ac325679d006aef31" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛЮБИМЫЕ ПЕСНИ РАМЗЕСА IV - королевское утро<br/>
</span><span style="color:red"> <br/>
КОРОЛЕВСКОЕ УТРО<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: <br/>
  C  G Dsus2/f# C  G Dsus2/f# C  G D/f#<br/>
E----------------------------------------<br/>
H-----------------------------5--3--3----<br/>
G-5--4-----2----5--4----2-----5--4--2----<br/>
D----------------------------------------<br/>
<br/>
C       G      D   G<br/>
 Им не нужен свой дом,<br/>
C       G         D    Em<br/>
 День здесь, а потом прочь.<br/>
C       G       D       G<br/>
 Им достаточно быть вдвоём,<br/>
C    G    D  Em<br/>
 Вдвоём всю ночь.<br/>
<br/>
Проигрыш: <br/>
  C               D/f# <span style="color:gray">Dsus4/f#</span> D/f# <span style="color:gray">Dsus2/f#<br/></span>
E--------------------------------------------<br/>
H------5-8-8sl5------------------------------ - 2p.<br/>
G-5-5-7----------5-2------4------5------7----<br/>
D--------------------------------------------<br/>
<br/>
Колесницы летят им вслед,<br/>
Только что для них наш хлеб?<br/>
Королевское утро всегда здесь,<br/>
Вот оно, разве ты слеп?<br/>
<br/>
Проигрыш: <br/>
  C               D/f# <span style="color:gray">Dsus4/f#</span> D/f# <span style="color:gray">Dsus2/f#<br/></span>
E--------------------------------------------<br/>
H------5-8-8sl5------------------------------ - 2p.<br/>
G-5-5-7----------5-2------4------5------7----<br/>
D--------------------------------------------<br/>
  C        H7    Em                E <br/>
E------------------7--7-8-10-10sl4-4-5-7-7h0-<br/>
H-------5-8-7sl4-5---------------------------<br/>
G-5-5-7--------------------------------------<br/>
D--------------------------------------------<br/>
  C   C/h Am     D/f# Dsus4/f# Dsus2/f#   G         C C/h  Am     D/f# Dsus4/f# Dsus2/f#<br/>
E-7-5-5---7-5-5-2-3---5-----------7-7-8-7-10sl7-10-12-10-5-7-5-7-5-10-8-10-8------------<br/>
H------5-------5----------------------------------------8-------------------------------<br/>
G---------------------------------------------------------------------------------------<br/>
D---------------------------------------------------------------------------------------<br/>
<br/>
Им не нужно других книг,<br/>
Шёлк рук и язык глаз.<br/>
Мы помолимся за них,<br/>
Пусть они - за нас.<br/>
<br/>
Проигрыш: <br/>
  C               D/f# <span style="color:gray">Dsus4/f#</span> D/f# <span style="color:gray">Dsus2/f#<br/></span>
E--------------------------------------------<br/>
H------5-8-8sl5------------------------------ - 2p.<br/>
G-5-5-7----------5-2------4------5------7----<br/>
D--------------------------------------------<br/>
<br/>
C     C/h    Am  Em<br/>
Им не нужен свой дом...<br/>
<br/>
Заключение: <br/>
  C      G   Am     Em<br/>
E------3-7-3------3-7--<br/>
H-5-5-7------5-5-7----- - 2p.<br/>
G----------------------<br/>
D----------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Dsus2/f#<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Dsus4/f#<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
