{% extends "chords.html" %}

{% set title = "Когда пройдёт боль" %}
{% set handbook_unid = "b95cae4b504724e1c325679d006aef9a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАША ЖИЗНЬ С ТОЧКИ ЗРЕНИЯ ДЕРЕВЬЕВ - когда пройдёт боль<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Когда пройдёт боль<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу <br/></i>
 <br/>
Вступление: <br/>
C 6:III 5:III 4:0 4:II Am G      F C<br/>
  E----------------0---------0-3-1-0-<br/>
  H------1-----3---------------------<br/>
  G-0------------------2--0----------<br/>
  D----------------------------------<br/>
  A----------------------------------<br/>
  E----------------------------------<br/>
6:III 5:III 4:0 4:II Am    Dm   G<br/>
E----------------0------0-3-5-3---<br/>
H------1-----3------------------3-<br/>
G-0------------------2------------<br/>
D---------------------------------<br/>
A---------------------------------<br/>
E---------------------------------<br/>
     Am G       Dm F       Dm G       C<br/>
E-0-3-5-3--0----------0----------0------<br/>
H------------3-1-3-1----3-1-------3-3h1-<br/>
G---------------------------2-0---------<br/>
D---------------------------------------<br/>
A---------------------------------------<br/>
E---------------------------------------<br/>
<br/>
              Am   G              F   C<br/>
Когда пройдёт дождь - тот, что уймёт нас,<br/>
            Am        Dm      G<br/>
Когда уйдёт тень над моей землёй,<br/>
      Am     G                Dm     F<br/>
Я проснусь здесь; пусть я проснусь здесь,<br/>
            Dm G           C    <br/>
В долгой траве, рядом с тобой.<br/>
<br/>
И пусть будет наш дом беспечальным,<br/>
Скрытым травой и густой листвой.<br/>
И узнав всё, что было тайной,<br/>
Я начну ждать, когда пройдёт боль.<br/>
<br/>
Проигрыш: Dm C G - 4p.<br/>
6:III 5:III 4:0 4:II Am G      F C<br/>
E----------------0---------0-3-1-0-<br/>
H------1-----3---------------------<br/>
G-0------------------2--0----------<br/>
D----------------------------------<br/>
A----------------------------------<br/>
E----------------------------------<br/>
6:III 5:III 4:0 4:II Am    Dm   G<br/>
E----------------0------0-3-5-3---<br/>
H------1-----3------------------3-<br/>
G-0------------------2------------<br/>
D---------------------------------<br/>
A---------------------------------<br/>
E---------------------------------<br/>
     Am G       Dm F       Dm G       C<br/>
E-0-3-5-3--0----------0----------0------<br/>
H------------3-1-3-1----3-1-------3-3h1-<br/>
G---------------------------2-0---------<br/>
D---------------------------------------<br/>
A---------------------------------------<br/>
E---------------------------------------<br/>
<br/>
Так пусть идёт дождь, пусть горит снег,<br/>
Пускай поёт смерть над моей землёй.<br/>
Я хочу знать; просто хочу знать,<br/>
Будем ли мы тем, кто мы есть, когда пройдёт боль.<br/>
<br/>
Заключение: Dm C G - 4p. C<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
