{% extends "chords.html" %}

{% set title = "Комната, лишённая зеркал" %}
{% set handbook_unid = "37c121563dbb17f4c325679d006af1c5" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ИХТИОЛОГИЯ - комната, лишённая зеркал<br/>
</span><span style="color:red"> <br/>
КОМНАТА, ЛИШЁННАЯ ЗЕРКАЛ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <span style="color:#DDDDDD">Ds</span><span style="color:silver">us2 </span><span style="color:#999999">Dsus2/5-</span><span style="color:silver"> </span><span style="color:gray">G6/d</span><span style="color:silver"> </span><span style="color:#292929">C<br/></span>
Dsus2 Dsus2/5- G6/d C - 2p. Dsus4 A<br/>
<br/>
D/5-         G              D Dsus4 D<br/>
    Сын человеческий, где ты?<br/>
D/5-            G          D Dsus4 D<br/>
    Скажи мне ещё один раз,<br/>
Em                  Gm       A<br/>
  Скажи мне прямо, кто мы теперь,<br/>
Em                    Gm        A<br/>
  Скажи мне истинно, где мы сейчас;<br/>
G             A           D<br/>
 Ведь я думал, всё будет честно,<br/>
G          A        D<br/>
 Шёлковый шарф на шлем,<br/>
Em                     Gm         A<br/>
  Но это битва при закрытых дверях,<br/>
Em                Gm         A<br/>
  Борьба жизни с чёрт знает чем,<br/>
G                      A<br/>
 И кто-то считает, что это подвох,<br/>
    D        D7          G<br/>
И кто-то кричит, что провал.<br/>
D           A                G<br/>
 И каждое слово - признак того, что мы<br/>
   D          A         G A<br/>
В комнате, лишённой зеркал.<br/>
<br/>
Проигрыш: D A Hm F#m G Em A<br/>
<br/>
Сегодня мне снился ангел,<br/>
Похожий на Брюса Ли.<br/>
Он нёс мне жидкость для прочистки мозгов,<br/>
Стакан портвейна для хозяев земли.<br/>
Но я был мудр и светел,<br/>
Я взялся за дело всерьёз;<br/>
И я умер, выбирая ответ,<br/>
Хотя никто не задавал мне вопрос.<br/>
А друг мой Ленский у пивного ларька<br/>
Сокрушался, что литр так мал;<br/>
А очередь хором читала стихи<br/>
О комнате, лишённой зеркал.<br/>
<br/>
Проигрыш: D A Hm F#m G Em A A<br/>
<br/>
Нас всех учили с любовью<br/>
Смотреть не вверх, а вперёд;<br/>
Но любовь стреляет из обоих стволов,<br/>
Как только ты выйдешь на взлёт.<br/>
А что, в самом деле - увлечься<br/>
Одной из тех благородных девиц,<br/>
Что воткнут тебе под рёбра перо,<br/>
Чтобы нагляднее было думать про птиц;<br/>
Но будь я с тобой, я б отправил их всех<br/>
На съёмки сцены про первый бал,<br/>
А сам бы смеялся с той стороны стекла<br/>
Комнаты, лишённой зеркал.<br/>
<br/>
Проигрыш: D A Hm F#m G Em A<br/>
<br/>
У чёрных есть чувство ритма,<br/>
У белых - чувство вины,<br/>
Но есть третьи, без особых примет,<br/>
Что смотрят на женщин только ниже спины.<br/>
Но я не был сосчитан,<br/>
Я видел это со стороны;<br/>
Мне как-то странно служить любовником муз,<br/>
Стерилизованных в процессе войны,<br/>
Где выжил тот, кто был заранее мёртв,<br/>
А выиграл тот, кто не встал -<br/>
И только герои снимают рашпилем грим<br/>
Комнаты, лишённой зеркал.<br/>
<br/>
Проигрыш: D A Hm F#m G Em A A<br/>
<br/>
И вот два достойных занятья<br/>
Для тех, кто выше нуля:<br/>
Торговля открытками с видом на пляж,<br/>
Или дикий крик: "Право руля!";<br/>
И значит я списан, как мёртвый,<br/>
И мне положен конец,<br/>
Но я благодарен всем, стрелявшим в меня:<br/>
Теперь я знаю, что такое свинец;<br/>
И кто-то смеётся, как серебряный зверь,<br/>
Глядя в наполненный зал;<br/>
А я просто здесь, я праздную радостный сон<br/>
   D          A         G A<br/>
О комнате, лишённой зеркал.<br/>
 D          A         G A<br/>
Комнате, лишённой зеркал.<br/>
 D          A         G<br/>
Комнате, лишённой зерка-а-ал…<br/>
<br/>
Заключение: D A H<span style="color:#333333">m</span> <span style="color:#5F5F5F">F#m</span> <span style="color:#999999">G</span> <span style="color:silver">Em</span> <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
  E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Dsus2/5-<br/>
  E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<a name="OLE_LINK5"></a><a name="OLE_LINK4"></a><a name="OLE_LINK3"><b><span style="font-size:8.0pt">          </span></b></a><b><span style="font-size:8.0pt">G6/d<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D/5-<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
