{% extends "chords.html" %}

{% set title = "Комиссар" %}
{% set handbook_unid = "6c4b5152885f3cd4c325679d006aefb5" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ САУНДТРЕКОВ - ЧЁРНАЯ РОЗА - ЭМБЛЕМА ПЕЧАЛИ, КРАСНАЯ РОЗА - ЭМБЛЕМА ЛЮБВИ - комиссар<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
комиссар<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление:<br/>
     D          <br/>
E---12-14-17<br/>
H-15-------- - 5p.<br/>
G-----------<br/>
<br/>
      D<br/>
Комиссар, я знаю, ты слышишь меня,<br/>
        D<br/>
Сделай вид, что не понял,<br/>
                     D<br/>
Что я обращаюсь к тебе -<br/>
                             A<br/>
Ни к чему давать повод к войне. <br/>
        Em<br/>
Но ты знаешь, как они любят стрелять,<br/>
   G<br/>
И повиноваться трубе,<br/>
        A<br/>
Но ты сделал невидимый шаг,<br/>
              G<br/>
Ты уже под защитой,<br/>
                   Hm A<br/>
И мы говорим в тишине. <br/>
<br/>
Комиссар, я пришел подтвердить -<br/>
Все, что было пропето,<br/>
Исполнялось без помощи слов,<br/>
И мы гадали, какой в этом знак.<br/>
Комиссар, просто нам изначально дан выбор -<br/>
История или любовь.<br/>
И ее тело поет под твоими руками,<br/>
И нет больше страха,<br/>
И вы вечны, пока это так. <br/>
<br/>
      Em        G/f#     G<br/>
Нас учили, что все это сказки,<br/>
      G         G/f#     Em<br/>
Нас учили, что все это бред,<br/>
          A                             A<br/>
Но, комиссар, это небо уже начинает светиться...<br/>
                  G G<br/>
Посмотри ей в глаза -<br/>
                                  Hm A<br/>
Ты увидишь, как в них отражается свет.<br/>
<br/>
Заключение:<br/>
     D          <br/>
E---12-14-17<br/>
H-15-------- - 24p. D<br/>
G-----------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
