{% extends "chords.html" %}

{% set title = "Красота (Это страшная сила)" %}
{% set handbook_unid = "3c9f31de9ebb0e58c3256ef7003f2b3b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ZOOM ZOOM ZOOM - красота (это страшная сила)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Красота (Это страшная сила)  <br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: С G C F C C G G – 2p. C – 4p.<br/>
<br/>
C            G                 C   F<br/>
 Особенности оперы в Нижнем Тагиле<br/>
C               G                C    F<br/>
 Совсем не повлияли на моё воспитанье<br/>
C         G                  C   F<br/>
 Меня несло как воздушного змея<br/>
C                  G               C<br/>
 Когда всем остальным отключали питанье<br/>
Am                            Em<br/>
  Скоро я буду баснословно богатым<br/>
Am                              G<br/>
  Но это меня не приводит в смущенье<br/>
Dm7                            Em<br/>
  Я не стану бояться своих капиталов<br/>
Dm7                          Em G<br/>
  Я легко найду для них помещенье<br/>
    G6  G7<br/>
Потому что<br/>
<br/>
C      G               C   F<br/>
 Красота это страшная сила<br/>
C        G                 C<br/>
 И нет слов, чтобы это сказать<br/>
Am     Em         Dm7<br/>
  Красота это страшная сила<br/>
F                    G<br/>
 Но мне больше не страшно <br/>
         C  G C F C C G G<br/>
Я хочу знать<br/>
<br/>
Один Чжу учился ловить драконов<br/>
Выбросил силы и деньги на ветер<br/>
Жаль, что за всю свою жизнь<br/>
Он так ни одного и не встретил<br/>
Я прочёл об этом в старинных трактатах<br/>
Прочёл и сразу ушел из деревни<br/>
Ведь скоро я буду баснословно богатым<br/>
И смогу претворить в жизнь учения древних<br/>
Потому что<br/>
<br/>
Красота это страшная сила<br/>
И нет слов, чтобы это сказать <br/>
Красота это страшная сила<br/>
Но мне больше не страшно<br/>
Я хочу знать<br/>
<br/>
<br/>
Проигрыш: C G C F - 3p. <br/>
C G C Am Em Am G Dm7 Em Dm7 Em G G6 G7<br/>
<br/>
Я буду жить в доме из костей земли<br/>
И с большой дороги будут заходить дети<br/>
Чтобы любоваться на мои кристаллы<br/>
Сияющие во фрактальном свете<br/>
И на семь чудес с семи концов света<br/>
Я не стану размениваться на мелочь<br/>
Ведь очень скоро у меня будет Это<br/>
И я буду ясно знать, что с Этим делать <br/>
Потому что<br/>
<br/>
Красота это страшная сила<br/>
И нет слов, чтобы это сказать <br/>
Красота это страшная сила<br/>
Но мне больше не страшно<br/>
         C<br/>
Я хочу знать<br/>
<br/>
Am<br/>
  Это делаю я<br/>
Em<br/>
  Это делаешь ты<br/>
Dm7                       Em   G     G6 G7<br/>
  Нас спасут немотивированные акты красоты, е… <br/>
<br/>
Красота это страшная сила<br/>
И нет слов, чтобы это сказать <br/>
Красота это страшная сила<br/>
F                    G<br/>
 Но мне больше не страшно<br/>
Em                 Fm<br/>
  Мне больше не страшно<br/>
С                 G                    C  G C F C C G G<br/>
 Мне больше не страшно, бэби, я хочу знать<br/>
<br/>
Заключение: C G C F C C G G C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:131.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm7<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G6<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Fm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
