{% extends "chords.html" %}

{% set title = "Крем и карамель" %}
{% set handbook_unid = "e4a336da6dfe33d7c3256ef7003f107d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ZOOM ZOOM ZOOM - крем и карамель<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Крем и карамель<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Проигрыш: G D C C – 4p.<br/>
<br/>
       G                  D<br/>
Я не знал, что спал; не знал, что проснусь<br/>
   G                  C<br/>
Меня клюнул в темя Божественный Гусь<br/>
      G                            D<br/>
И заставил петь там, где положено выть<br/>
    G                 D<br/>
Никто не обещал, что будет легко<br/>
Em             C<br/>
  Я понимаю тебя, Садко,<br/>
     G              D                    C<br/>
Но моё чувство юмора рекомендует мне всплыть<br/>
<br/>
<br/>
Проигрыш: G D C C - 2p.<br/>
<br/>
А в хорошей империи нет новостей<br/>
Дайте северным варварам водки в постель<br/>
И никто из них не станет желать перемен<br/>
Математика соблазнила нас<br/>
Математика казнила нас<br/>
Меня воскресят только Крем и Карамель<br/>
<br/>
  G         D      Em        C<br/>
Крем и Карамель; Крем и Карамель<br/>
G                          D<br/>
 Так достигнут великий предел<br/>
  G         D      Em        C<br/>
Крем и Карамель; Крем и Карамель<br/>
G        D                C<br/>
 Подтвердите, что я прилетел<br/>
<br/>
<br/>
Проигрыш: G D G C, G D, G D Em C, G D C<br/>
<br/>
А в восточных степях бродят люди в цепях<br/>
И пока не зарыт государственный прах<br/>
Эта баржа едва ли покинет мель<br/>
И всё равно - ху там у них наверху<br/>
Это гиньоль в горячем цеху<br/>
Мальчик, скажи мне, где Крем и Карамель<br/>
<br/>
<br/>
Крем и Карамель; Крем и Карамель<br/>
Так достигнут великий предел<br/>
Крем и Карамель; Крем и Карамель<br/>
G                         D D                 <br/>
 Подтвердите, что я прилетел<br/>
<br/>
Крем и Карамель, Крем и Карамель<br/>
Боже, как сладко все это звучит<br/>
Крем и Карамель, Крем и Карамель <br/>
      G                D                 C<br/>
Разбудите меня, если всё-таки что-то случится.<br/>
      G                      D                 C<br/>
Разбудите меня, если здесь всё-таки что-то случится. <br/>
<br/>
Заключение: <br/>
G D G C, G D, G D Em C, G G D D, G D G C, G D, G D Em C, G D C C<br/>
G! D!!! C!! G! D!!! C!! G! D!!! C!! G!<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
