{% extends "chords.html" %}

{% set title = "Красная река" %}
{% set handbook_unid = "5e1d800c4951698ac32577a10071b67d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АРХАНГЕЛЬСК - красная река<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Красная река<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: Am Dm Am E - 4p.<br/>
<br/>
Am           Dm Am                E <br/>
  Красная Река   поперёк моего пути<br/>
Am              Dm        Am                E <br/>
  Я помню, что шёл, но вспомнить куда не могу<br/>
Am                Dm Am               E<br/>
  И, кажется, легко   переплыть-перейти<br/>
F                                   E<br/>
 И, вдруг, видишь самого себя как вкопанного на берегу<br/>
<br/>
Проигрыш: <br/>
  Am       Dm       Am     E <br/>
E-5--3-0-5-7--5-3-7-8--10-12-10-8-10-12-10-7-<br/>
H--------------------------------------------<br/>
G--------------------------------------------<br/>
D--------------------------------------------<br/>
  Am       Dm       Am   E                Am<br/>
E-5--3-0-5-7--5-3-7-8--7-7-5-5-3-3sl5-5-3-5--<br/>
H--------------------------------------------<br/>
G--------------------------------------------<br/>
D--------------------------------------------<br/>
<br/>
У Красной Реки - крылья небесной зари<br/>
В Красной Реке вода - точь-в-точь моя кровь<br/>
Am                     Dm         C                   G<br/>
  Ты хочешь что-то сказать; помолчи немного - не говори<br/>
          F                                 E<br/>
Всё уже сказано; сказано тысячи раз - нет смысла повторять это вновь<br/>
<br/>
     F                     C G                  Am<br/>
А твоя красота - свет в окне, потерянному в снегах<br/>
   F                C                  E               Am<br/>
Твоя красота ошеломляет меня - я не могу устоять на ногах<br/>
             F            E        Am<br/>
Но чтобы пробиться к воде - нужно сердцем растопить этот лёд<br/>
Dm/f                 Dm                   E <br/>
    А там - сумрак и бесконечный путь, который никуда не ведёт<br/>
<br/>
Проигрыш: F Em Am Am - 3p. F E<br/>
<br/>
Нет сделанного, чего не сделал бы кто-то другой<br/>
Нет перешедшего реку, и не перешедшего - нет<br/>
Am               Dm        C                   G<br/>
  Но, когда это Солнце восходит над Красной Рекой<br/>
F                                  E<br/>
 Кто увидит вместе со мной, как вода превращается в свет?<br/>
<br/>
Заключение: Am Dm Am E - 4p. <br/>
  Am       Dm       Am     E <br/>
E-5--3-0-5-7--5-3-7-8--10-12-10-8-10-12-10-7-<br/>
H--------------------------------------------<br/>
G--------------------------------------------<br/>
D--------------------------------------------<br/>
  Am       Dm       Am   E                <br/>
E-5--3-0-5-7--5-3-7-8--7-7-5-5-3-3sl5-5-3----<br/>
H--------------------------------------------<br/>
G--------------------------------------------<br/>
D--------------------------------------------<br/>
  Am       Dm       Am     E <br/>
E-5--3-0-5-7--5-3-7-8--10-12-10-8-10-12-10-7-<br/>
H--------------------------------------------<br/>
G--------------------------------------------<br/>
D--------------------------------------------<br/>
  Am       Dm       Am   E                Am<br/>
E-5--3-0-5-7--5-3-7-8--7-7-5-5-3-3sl5-5-3-5--<br/>
H--------------------------------------------<br/>
G--------------------------------------------<br/>
D--------------------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
