{% extends "chords.html" %}

{% set title = "Кто ты такой?" %}
{% set handbook_unid = "6bc371c033cfc960c325679d006af2a9" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ АНТОЛОГИЙ И СБОРНИКОВ - кто ты такой?<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
кто ты такой?<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
H----------------<br/>
G--2-------------<br/>
D---2-0-0-------- - 4p.<br/>
A-0----3-3-------<br/>
E----------0-0-3-<br/>
<br/>
H---1----------------<br/>
G---2-0--------------<br/>
D------4-2-4-2-----0- <br/>
A-0-----------0-2-3--<br/>
E--------------------<br/>
<br/>
H---1----------------<br/>
G---2-0--------------<br/>
D-2----4-2-4-2-----0- - 3p.<br/>
A-------------0-2-3--<br/>
E--------------------<br/>
Am Em G Am Em <br/>
<br/>
F                  G                   Am<br/>
 Этот ласковый взгляд из-под темных очков;<br/>
F            G             Am<br/>
 Эта темная кожа его пиджаков -<br/>
C        G            C          C/h        Am<br/>
 Это я снова пою для тех, кто пришел нам помочь,<br/>
   F             B             E    E7<br/>
И вывести нас из этих зыбучих песков.<br/>
<br/>
И я пел десять лет, и, наконец, стал известным лицом в кругу друзей,<br/>
Но, видит Бог, я устал быть подпольным певцом.<br/>
И боги спускаются к нам, дыша дорогим коньяком,<br/>
Чтобы все рассмотреть, отнестись с пониманьем и выяснить, кто я такой.<br/>
<br/>
  F                   G             Am<br/>
Кто ты такой чтобы, мне говорить, кто я такой?<br/>
     F                   G             Am<br/>
Но кто ты такой чтобы, мне говорить, кто я такой?<br/>
  F                   G             Am<br/>
Кто ты такой чтобы, мне говорить, кто я такой?<br/>
  F                   G             Am        Am E<br/>
Кто ты такой чтобы, мне говорить, кто я такой?<br/>
<br/>
      Am<br/>
И я знаю сценарий почти наизусть;<br/>
    Am<br/>
Он выслушает нас и выскажет грусть<br/>
   G                   <br/>
О том, что все так.<br/>
C<br/>
 И он подумает, как нам помочь;<br/>
      Am<br/>
И я пою для него, хотя сегодня же ночью<br/>
       F<br/>
И он смоет вином всю память о нас,<br/>
   G              E7<br/>
А дома меня ждет дочь;<br/>
<br/>
Я пел для таких уже не раз и не два,<br/>
И я знаю, что все, что они говорят - слова.<br/>
Но в стену бить головой - занятье не хуже других,<br/>
А иначе зачем дана мне моя голова?<br/>
<br/>
Но кто ты такой чтобы, мне говорить, кто я такой?<br/>
Кто ты такой чтобы, мне говорить, кто я такой?<br/>
Кто ты такой чтобы, мне говорить, кто я такой?<br/>
  F                   G             Am<br/>
Кто ты такой чтобы, мне говорить, кто я такой?<br/>
<br/>
Кто ты такой чтобы, мне говорить, кто я такой?<br/>
Кто ты такой чтобы, мне говорить, кто я такой?<br/>
Кто ты такой чтобы, мне говорить, кто я такой? Кто ты такой?<br/>
Кто ты такой чтобы, мне говорить, кто я такой?<br/>
<br/>
Кто ты такой чтобы, мне говорить, кто я такой...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
