{% extends "chords.html" %}

{% set title = "Ласточка" %}
{% set handbook_unid = "bc79aa12df1a1757c325679d006af147" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РУССКИЙ АЛЬБОМ - ласточка<br/>
</span><span style="color:red"> <br/>
ЛАСТОЧКА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 5-м ладу<br/></i>
 <br/>
Вступление: <br/>
E--------------------------------------------0<br/>
H-----0--1--0---------0---------0--1--0---0--0<br/>
G-2--2-2--2--2--0--2---0-0-----2-2--2--2--0--0<br/>
D---2---2--2--2--2--2---2-2---2---2--2--2-2--0<br/>
A--0--------------2--2-----2-0------------2--2<br/>
E---------------0-------------------------0--3<br/>
Am <span style="color:#999999">Em7</span> G6 – 24p.<br/>
<br/>
 Am <span style="color:#999999">Em7</span> G6 <span style="color:#999999">Em7</span>   Am <span style="color:#999999">Em7</span> G6 <span style="color:#999999">Em7</span> Am <span style="color:#999999">Em7</span> G6 <span style="color:#999999">Em7</span> Am <span style="color:#999999">Em7</span> G6 <span style="color:#999999">Em7</span>           <br/>
Прыг, ласточка, прыг,              по белой стене.<br/>
 Am <span style="color:#999999">Em7</span> G6 <span style="color:#999999">Em7</span>    Am <span style="color:#999999">Em7</span> G6 <span style="color:#999999">Em7</span> Am <span style="color:#999999">Em7</span> G6 <span style="color:#999999">Em7</span> Am <span style="color:#999999">Em7</span> G6 <span style="color:#999999">Em7</span>           <br/>
Прыг, ласточка, прыг,                прямо ко мне;<br/>
Am           Em G                    F<br/>
  Солнце взошло - значит, время пришло.<br/>
  Am <span style="color:#999999">Em7</span> G6 <span style="color:#999999">Em7</span> Am <span style="color:#999999">Em7</span>   G6 <span style="color:#999999">Em7</span>   Am <span style="color:#999999">Em7</span> G6 <span style="color:#999999">Em7</span> Am <span style="color:#999999">Em7</span> G6 <span style="color:#999999">Em7</span>           <br/>
Прыг, ласточка, прыг, а дело к войне.<br/>
<br/>
Проигрыш: Am <span style="color:#999999">Em7</span> G6 – 8p.<br/>
<br/>
Прыг, ласточка, прыг, прямо на двор;<br/>
Прыг, ласточка, прыг, а в лапках топор.<br/>
С одной стороны свет; а другой стороны нет.<br/>
Значит, в нашем дому спрятался вор.<br/>
<br/>
Проигрыш: G F Am Am – 2p. Am<span style="color:#999999"> Em7</span> G6 – 16p.<br/>
<br/>
Жизнь канет, как камень, в небе круги.<br/>
Прыг, ласточка, прыг, а всюду враги.<br/>
На битву со злом взвейся сокол, козлом,<br/>
А ты, ласточка, пой, а вслед не беги.<br/>
<br/>
Пой, ласточка, пой - а мы бьём в тамтам.<br/>
Ясны соколы здесь, ясны соколы там.<br/>
Сокол летит, а баба родит;<br/>
Значит, всё, как всегда, всё по местам...<br/>
<br/>
Заключение: Am <span style="color:#999999">Em7</span> G6 – 16p. Am G Em<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G6<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
