{% extends "chords.html" %}

{% set title = "Лети, мой ангел, лети" %}
{% set handbook_unid = "cb7d97c942541a01c325679d006aefca" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ИХТИОЛОГИЯ - лети, мой ангел, лети<br/>
</span><span style="color:red"> <br/>
ЛЕТИ, МОЙ АНГЕЛ, ЛЕТИ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: 4:II 3:II 2:I 1:0 2:I Em<br/>
Am Em - 2p.<br/>
<br/>
  Am                                    Em<br/>
Крылья сломались, когда ещё воздух был пуст.<br/>
 Am                                        Em<br/>
Кто мог сказать ему, что за плечами лишь груз?<br/>
F                                  Em<br/>
 Кто мог что-то сказать ему - мы знали, что он впереди.<br/>
     F                    G      Em        Am Em<br/>
И я шепнул ему вслед: "Лети, мой ангел, лети!"<br/>
<br/>
Проигрыш: Am Em - 3p.<br/>
<br/>
Мальчик, похожий на мага, слепой, как стрела,<br/>
Девственность неба разрушивший взмахом крыла;<br/>
Когда все мосты обратились в прах, и пепел покрыл пути,<br/>
Я сказал ему вслед: "Лети, мой ангел, лети!"<br/>
<br/>
Проигрыш: Am Em - 3p.<br/>
<br/>
Я знаю - во всём, что было со мной, Бог на моей стороне,<br/>
И все упреки в том, что я глух, относятся не ко мне.<br/>
Ведь я слышу вокруг миллион голосов. Но один - как птица в горсти;<br/>
И я сжимаю кулак: " Лети, мой ангел, лети!"<br/>
<br/>
   Am Em  Am Em   Am Em Am<br/>
Лети!   Лети!   Лети!<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
