{% extends "chords.html" %}

{% set title = "Лебединая сталь" %}
{% set handbook_unid = "ec572500f1917a9bc325679d006aee4a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАВНОДЕНСТВИЕ - лебединая сталь<br/>
</span><span style="color:red"> <br/>
ЛЕБЕДИНАЯ СТАЛЬ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:  <br/>
                                                            F<br/>
H------------------------------------------------------------<br/>
G------------------------------------------------------------<br/>
D---2-----0---3----2-----0---3-2---2-----0---3----2-----0---3  G<br/>
A-3---3-2---2----3---3-2---2-----3---3-2---2----3---3-2---2--<br/>
E------------------------------------------------------------<br/>
C C/h F G - 4p.<br/>
<br/>
C    C/h          F          G           C C/h F G  <br/>
 Возьми в ладонь пепел, возьми в ладонь лёд.<br/>
     C          C/h   F     G          C C/h F<br/>
Это может быть случай, это может быть дом,<br/>
F   Fm        C  F/d       C       C/b      Am Am<br/>
 Но вот твоя боль, так пускай она станет крылом,<br/>
     C      C/h        F G      C<br/>
Лебединая сталь в облаках ещё ждёт.<br/>
<br/>
Проигрыш: C C/h F G - 4p.<br/>
<br/>
Я всегда был один - в этом право стрелы,<br/>
Но никто не бывает один, даже если б он смог,<br/>
Пускай наш цвет глаз ненадёжен, как мартовский лёд,<br/>
Но мы станем как сон и тогда сны станут светлы.<br/>
<br/>
Проигрыш: C C/h F G - 17p.<br/>
<br/>
Так возьми в ладонь клевер, возьми в ладонь мёд,<br/>
Пусть охота, летящая вслед, растает, как тень.<br/>
Мы прожили ночь, так посмотрим, как выглядит день,<br/>
Лебединая сталь в облаках - вперёд!<br/>
<br/>
Заключение: C C/h F G – 8p. <span style="color:silver">C C/h<br/>
<br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Fm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/d<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/b<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
