{% extends "chords.html" %}

{% set title = "Лой быканах" %}
{% set handbook_unid = "6e7e751b95c07cacc325679d006aefe8" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ САУНДТРЕКОВ - ЧЁРНАЯ РОЗА - ЭМБЛЕМА ПЕЧАЛИ, КРАСНАЯ РОЗА - ЭМБЛЕМА ЛЮБВИ - лой быканах<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
лой быканах<br/>
</span><i>Народная Русско-Абиссинская песня<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
Am F Em - 2p. <br/>
Am Dm, Am G, Am F Em Am<br/>
<br/>
Am         F Em<br/>
Лой Быканах,<br/>
Am         F Em<br/>
Лой Быканах,<br/>
Am       Dm<br/>
Вы-шли-хлаи<br/>
Am       G<br/>
Вы-шли-хлаи<br/>
Am       F <br/>
Вы-шли-хлаи<br/>
Em       Am<br/>
Лой Быканах<br/>
<br/>
Лой Быканах,<br/>
Лой Быканах,<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Лой Быканах<br/>
<br/>
Лой Быканах,<br/>
Лой Быканах,<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Лой Быканах<br/>
<br/>
Проигрыш: <br/>
Am F Em - 2p. <br/>
Am Dm, Am G, Am F Em Am<br/>
Am F Em - 2p. <br/>
Am Dm, Am G, Am F Em Am<br/>
<br/>
Лой Быканах,<br/>
Лой Быканах,<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Лой Быканах<br/>
<br/>
Лой Быканах,<br/>
Лой Быканах,<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Лой Быканах<br/>
<br/>
Проигрыш: <br/>
Am F Em - 2p. <br/>
Am Dm, Am G, Am F Em Am<br/>
<br/>
Лой Быканах,<br/>
Лой Быканах,<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Лой Быканах<br/>
<br/>
Лой Быканах,<br/>
Лой Быканах,<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Лой Быканах<br/>
<br/>
Лой Быканах,<br/>
Лой Быканах,<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Лой Быканах<br/>
<br/>
Лой Быканах,<br/>
Лой Быканах,<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Лой Быканах<br/>
<br/>
Лой Быканах,<br/>
Лой Быканах,<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Вы-шли-хлаи<br/>
Лой Быканах...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
