{% extends "chords.html" %}

{% set title = "Лошадь Белая" %}
{% set handbook_unid = "4822cec6a54f463fc325750b0030e1a6" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛОШАДЬ БЕЛАЯ - лошадь белая<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Лошадь белая<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу <br/></i>
 <br/>
Вступление: <br/>
  Em         G    C  D/f#          <br/>
E-3-2-0h2-0---------------<br/>
H----------3-3--0-1-3-----<br/>
G--------------0------2--0<br/>
D-2-----------0----2----0-<br/>
A-----------------3----0--<br/>
E------------3--------2---<br/>
  Em         G    C   G D/f#<br/>
E-3-2-0h2-0---------------<br/>
H----------3-3--0-1-3-3---<br/>
G--------------0---------2<br/>
D-2-----------0----2-0-0--<br/>
A-----------------3-------<br/>
E------------3--------3--2<br/>
  Em         G    C  D/f#<br/>
E-3-2-0h2-0------------<br/>
H----------3-3--0-1-3--<br/>
G--------------0------2<br/>
D-2-----------0----2-0-<br/>
A-----------------3----<br/>
E------------3--------2<br/>
      G  C   D/f#  G<br/>
E--------3------------------3-<br/>
H-------3--------------0h1----<br/>
G-0-2-0----0-2-0-2----0----0--<br/>
D---------2----------0----0---<br/>
A--------3----------2---------<br/>
E---2-3------2---2-0----------<br/>
<br/>
Em         G  C     D/f#<br/>
Лошадь белая на траве<br/>
Em        G    C D/f#<br/>
Далеко ушла в поле<br/>
Em            G    C    D/f# D/f#<br/>
Дома упряжь вся в серебре<br/>
      G     C  D/f# G<br/>
А ей нужно лишь воли.<br/>
<br/>
Конюх сбился с ног - да что с тобой?<br/>
Целый день звонит, пишет<br/>
А она трясет гривой <br/>
И как будто б не слышит.<br/>
<br/>
Проигрыш: <br/>
  C     C  G    G  G   G        D/f# D/f# <br/>
E-0-2-3-2-0---0-3--7-3-10-7-7-5-3-2-7-2<br/>
H----------3-3-------------------------<br/>
G--------------------------------------<br/>
D--------------------------------------<br/>
<br/>
<br/>
  C     C      G   Em Am             C   D/f#<br/>
E-0-2-3-5-3-2-0---0------------------0------<br/>
H--------------3-3-0--1-0-1-0-1-0-0-3-3-1-0-<br/>
G------------------------------------------2<br/>
D-------------------------------------------<br/>
<br/>
<br/>
Твёрдая земля да долгий путь<br/>
Из огня в полымя<br/>
Много кто хотел её вернуть<br/>
Ни один не знал имя.<br/>
<br/>
Заключение: <br/>
  Em         G    C  D/f#          <br/>
E-3-2-0h2-0---------------<br/>
H----------3-3--0-1-3-----<br/>
G--------------0------2--0<br/>
D-2-----------0----2----0-<br/>
A-----------------3----0--<br/>
E------------3--------2---<br/>
  Em         G    C   G D/f#<br/>
E-3-2-0h2-0---------------<br/>
H----------3-3--0-1-3-3---<br/>
G--------------0---------2<br/>
D-2-----------0----2-0-0--<br/>
A-----------------3-------<br/>
E------------3--------3--2<br/>
  Em         G    C  D/f#<br/>
E-3-2-0h2-0------------<br/>
H----------3-3--0-1-3--<br/>
G--------------0------2<br/>
D-2-----------0----2-0-<br/>
A-----------------3----<br/>
E------------3--------2<br/>
      G  C   D/f#  G<br/>
E--------3---------3-<br/>
H-------3----------0-<br/>
G-0-2-0----0-2-0-2-0-<br/>
D---------2--------0-<br/>
A--------3---------2-<br/>
E---2-3------2---2-3-<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
