{% extends "chords.html" %}

{% set title = "Луна, успокой меня" %}
{% set handbook_unid = "b0e2d134ad5cfd5dc32567fa006a090c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - Ψ - луна, успокой меня<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Луна, успокой меня<br/>
</span><i>Б. Гребенщиков</i>
 <br/>
One… two… three… four… <br/>
<i> <br/>
Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: Em Em/g Em/f#+a - 2p.<br/>
Em       Em/g Em/f#+a Em      Em/g Em/f#+a<br/>
E-3sl7-12---------------3sl7-12-----------<br/>
H-----------------------------------------<br/>
G-----------------------------------------<br/>
<br/>
Em                  C7(III) H7(II) Em Em<br/>
  Луна, успокой меня.<br/>
C                 H7(II)              Em Em<br/>
 Луна успокой меня - мне нужен твой свет.<br/>
C              H7(II)<br/>
 Напои меня чем хочешь, но напои.<br/>
G              G/f#   Em<br/>
 Я забытый связной в доме чужой любви.<br/>
C              H7(II)              Em Em<br/>
 Я потерял связь с миром, которого нет.<br/>
<br/>
На Севере дождь, на Юге - белым бело.<br/>
Подо мной нет дна, надо мной стекло;<br/>
Я иду по льду последней реки, <br/>
Оба берега одинаково далеки<br/>
Я не помню, как петь; у меня не осталось слов.<br/>
<br/>
Проигрыш: <br/>
Em C7(III) H7(II) Em Em C H7(II) Em Em <br/>
C H7(II) G G/f# Em C H7(II) Em Em<br/>
<br/>
Луна, я знаю тебя; я знаю твои корабли.<br/>
С тобой легко, с тобой не нужно касаться земли:<br/>
Всё, что я знал; всё, чего я хотел -<br/>
Растоптанный кокон, когда мотылёк взлетел.<br/>
Те, кто знают, о чём я - те навсегда одни.<br/>
<br/>
Луна, успокой меня.<br/>
Луна успокой меня - мне нужен твой свет.<br/>
Напои меня чем хочешь, но напои.<br/>
Я забытый связной в доме чужой любви.<br/>
Я потерял связь с миром, которого нет.<br/>
<br/>
Заключение: <br/>
  Em      C7(III) H7(II) Em  Em <br/>
E-------3h0--------------------<br/>
H-3sl5------4------------------<br/>
G------------------------2sl4--<br/>
  C       H7(II)         Em  Em<br/>
E-------3h0--------------------<br/>
H-3sl5------4------------------<br/>
G------------------------2sl4--<br/>
  C    H7(II)<br/>
E-------0h2--<br/>
H-2sl5-------<br/>
G------------<br/>
  G G/f# Em <br/>
E-2sl3--3sl5--3-<br/>
H---------------<br/>
G---------------<br/>
  C     H7(II)Em Em      Em<br/>
E-3sl5--5sl6------3sl6-12--<br/>
H------------0h5-----------<br/>
G--------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em/g<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Em/f#+a<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C7(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          H7(II)<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
