{% extends "chords.html" %}

{% set title = "Лучший город земли" %}
{% set handbook_unid = "ecb57c6aa18c0489c32567fb006ebb01" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - лучший город земли<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
лучший город земли<br/>
</span><i>А.Бабаджанян - Л.Дербенев<br/></i>
 <br/>
Вступление: C Am F G - 5p.<br/>
<br/>
                 C                   Am<br/>
Ты никогда не бывал в нашем городе светлом <br/>
                 F                  G<br/>
Не бродил над рекой не мечтал до зари <br/>
                    C                 Am<br/>
С друзьями ты не гулял по широким проспектам <br/>
                F                   G<br/>
Значит ты не видал лучший город Земли <br/>
<br/>
 C       Am   F       G<br/>
Песня плывет сердце поет <br/>
C      Am      F  G   C Am F G<br/>
Эти слова о тебе Москва <br/>
<br/>
Проигрыш: C Am F G - 5p.<br/>
<br/>
Ты к нам в Москву приезжай и пройдись по Арбату <br/>
Загляни на Тверской в шум зеленых аллей <br/>
Ты посмотри только раз как танцуют девчата <br/>
На ладонях больших голубых площадей <br/>
<br/>
Песня плывет сердце поет <br/>
Эти слова о тебе Москва <br/>
<br/>
Заключение: C Am F G - 3p. C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
