{% extends "chords.html" %}

{% set title = "Любишь ли ты меня?" %}
{% set handbook_unid = "464918a66f7e6ffcc325679d006aefeb" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - любишь ли ты меня?<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
любишь ли ты меня?<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
4:II A F#m F#m F E A E, A A F#m F#m Hm F E A E E<br/>
<br/>
A              F#m<br/>
 Любишь ли ты меня,<br/>
F           E    A E<br/>
 Любишь ли ты меня,<br/>
A              F#m<br/>
 Любишь ли ты меня,<br/>
F          E    A E E <br/>
 Также как я тебя?<br/>
<br/>
Hm                           A<br/>
  С тобою мы встретились в клубе<br/>
Hm                    A E<br/>
  На комсомольском балу.<br/>
F#m        C#m   <br/>
   И ноги твои      <br/>
Hm                D<br/>
  Bонзили мне в грудь<br/>
    E              E<br/>
Любви золотую стрелу.<br/>
<br/>
Любишь ли ты меня,<br/>
Любишь ли ты меня,<br/>
Любишь ли ты меня,<br/>
Также как я тебя?<br/>
<br/>
Когда я иду с работы<br/>
По нашей родной проходной,<br/>
Сердце мое <br/>
Tрепещет в груди<br/>
И сам я от счастья не свой.<br/>
<br/>
D              F#m     G<br/>
 Напрасно нам шьют аморалку<br/>
    C        G     D  A<br/>
За нашу большую любовь,<br/>
         F          E      F         G<br/>
Ведь в прошлом квартале я выполнил план<br/>
     F             G<br/>
На двести один процент<br/>
    F               G<br/>
И в этом квартале даю обещанье<br/>
  E                 E<br/>
Его перевыполнить вновь.<br/>
<br/>
Проигрыш: A A F#m F#m F E A E, A A F#m F#m F E A E E<br/>
<br/>
Когда мы с тобой ебемся<br/>
На сталепрокатном станке,<br/>
Недаром партком, <br/>
A также профком,<br/>
Bнимают с хуями в руке.<br/>
<br/>
Любишь ли ты меня,<br/>
Любишь ли ты меня,<br/>
Любишь ли ты меня,<br/>
F          E    A F#m D E A<br/>
 Также как я тебя?<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
