{% extends "chords.html" %}

{% set title = "Максим-лесник" %}
{% set handbook_unid = "53a763b1a3809b8bc325679d006af330" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СНЕЖНЫЙ ЛЕВ - максим-лесник<br/>
</span><span style="color:red"> <br/>
МАКСИМ-ЛЕСНИК<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: C Am F G C G – 2p.<br/>
<br/>
                  C                 Am<br/>
Я хотел стакан вина - меня поят молоком,<br/>
                 F  G              C   G<br/>
Ох, я вырасту быком, пойду волком выти.<br/>
               C                     Am<br/>
Сведи меня скорей с Максимом - лесником,<br/>
                     F G                 C G<br/>
Может он подскажет, как в чисто поле выйти.<br/>
<br/>
Проигрыш: C Am F G C G – 2p.<br/>
<br/>
То ли вынули чеку, то ль порвалась связь времён,<br/>
Подружились господа да с господней сранью.<br/>
На святой горе Монмартр есть магический Семён,<br/>
Он меняет нам тузы на шестёрки с дрянью.<br/>
<br/>
Раньше сверху ехал Бог, снизу прыгал мелкий бес,<br/>
А теперь мы все равны, все мы анонимы.<br/>
Через дырку в небесах въехал белый Мерседес,<br/>
Всем раздал по три рубля, и проехал мимо.<br/>
<br/>
Проигрыш: C Am F G C G – 2p.<br/>
<br/>
Чаши с ядом и с вином застыли на весу<br/>
Ох, Фемида, где ж твой меч, где ж ты была раньше?<br/>
Вдохновение моё ходит голое в лесу,<br/>
То посмотрит на меня, а то куда дальше.<br/>
<br/>
Я опять хочу вина, меня поят молоком,<br/>
Ох я вырасту быком, пойду волком выти,<br/>
Сведи меня скорей с Максимом - лесником<br/>
                    F G                Am G<br/>
Может он подскажет как в чисто поле выйти.<br/>
<br/>
Заключение: C Am F G C G C Am F G <br/>
 C               <br/>
E-8-5-3-0-------<br/>
H--------3-1---- C<br/>
G-----------2-0-<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
