{% extends "chords.html" %}

{% set title = "Марш священных коров" %}
{% set handbook_unid = "cf6333e1aff4944ec32578ec008020a9" %}

{% block content %}
{% raw %}
<span style="color:red;text-transform:uppercase">Марш священных коров<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 7-м ладу<br/></i>
 <br/>
Вступление: G Em C G - 4p.<br/>
<br/>
  G                        Em        C G<br/>
Хватит развлекать меня, не то я завою<br/>
 G                     Em           C G<br/>
Лучше скажем "нет!" насилью и разбою<br/>
G                  Em          C G<br/>
 Скажем "нет!" разбою и насилью<br/>
G                 Em            C G<br/>
 И уподобимся Блаженному Василию<br/>
<br/>
Проигрыш: G Em C G - 2p.<br/>
<br/>
Наша Ефросинья зависит от момента<br/>
То божественна, а то амбивалентна<br/>
Но кто не без греха, пусть первый бросит камень<br/>
Из этой искры может возгореться пламень<br/>
<br/>
Am                               D<br/>
  Найди семь отличий на этой картине<br/>
Am                            D<br/>
  А лучше неси сюда водку-мартини! (Shaken not stirred!)<br/>
<br/>
Проигрыш: G Em C G - 2p.<br/>
<br/>
Моя профессия с утра до полвторого<br/>
Считать что я - твоя Священная корова<br/>
Священная корова, небесная манна<br/>
Пускай питательна, но не всегда гуманна<br/>
<br/>
Am                               D          <br/>
  А если мы завязнем в болоте и тине<br/>
Am                                           D<br/>
  Я буду первый, кто крикнет: "Эй! Водка-мартини!" (Shaken not stirred!)<br/>
<br/>
Проигрыш: G Em C G - 6p.<br/>
<br/>
Am                <br/>
  Коровы слышат<br/>
Em                      <br/>
  Коровы знают<br/>
A                               <br/>
 Коровы в курсе<br/>
C<br/>
 Открой глаза, смотри: они взлетают!<br/>
D<br/>
 Смотри, вот они взлетают!<br/>
<br/>
Так мы летим вперёд и пусть мы не без пятен<br/>
Но дым отечества нам сладок и приятен<br/>
Спасибо солнцу, что у нас над головою<br/>
Но будь готов, что я всё равно завою -<br/>
<br/>
Am                                      D<br/>
  Как нам не стыдно так погрязнуть в рутине<br/>
Am                                    D<br/>
  Догадайся что делать, когда нет мартини (Sorry, Mr. Bond!)<br/>
<br/>
Заключение: G Em C G - 2p. G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
о D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
