{% extends "chords.html" %}

{% set title = "Мальчик Евграф" %}
{% set handbook_unid = "d40ccf8dabc5391ac325679d006aeffd" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАДИО АФРИКА - мальчик евграф<br/>
</span><span style="color:red"> <br/>
МАЛЬЧИК ЕВГРАФ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
 G<br/>
Мальчик Евграф<br/>
                     A7<br/>
Шёл по жизни, как законченный граф,<br/>
                         Am7<br/>
Он прятал женщин в несгораемый шкаф,<br/>
                        Em<br/>
Но вёл себя как джентльмен,<br/>
       C           D<br/>
И всегда платил штраф; <br/>
G<br/>
Он носил фрак,<br/>
                         A7<br/>
Поил шампанским всех бездомных собак;<br/>
                  Am7<br/>
Но если дело доходило до драк,<br/>
                    C<br/>
Он возвышался над столом,<br/>
     D<br/>
Как чистый лом;<br/>
<br/>
F   C<br/>
Он был<br/>
    G         G/f#    Em<br/>
Сторонником гуманных идей;<br/>
F   C<br/>
Он жил<br/>
     G <br/>
Не зная, что в мире<br/>
       A       <br/>
              5:II   5:III  5:IV   <br/>
Есть столько ужасно одетых людей; <br/>
<br/>
Проигрыш: G A7 Am7 C D – 2p.<br/>
<br/>
Он был<br/>
Сторонником гуманных идей;<br/>
Он жил<br/>
Не зная, что в мире<br/>
Есть столько ужасно одетых людей; <br/>
<br/>
Он верил в одно:<br/>
Что очень важно не играть в домино,<br/>
Ни разу в жизни не снимался в кино,<br/>
И не любил писать стихи,<br/>
Предпочитая вино; <br/>
Он ушёл прочь<br/>
И, не в силах пустоту превозмочь,<br/>
Мы смотрим в точку, где он только что был,<br/>
И восклицаем: "Почему? Что? Как?<br/>
Какая чудесная ночь!" -<br/>
<br/>
F  C<br/>
Но я<br/>
    G        G/f#      Em<br/>
Считаю, что в этом он прав;<br/>
 F  C<br/>
Пускай<br/>
   G <br/>
У нас будет шанс,<br/>
       A    <br/>
           5:II   5:III  5:IV<br/>
Что к нам опять вернётся мальчик Евграф...<br/>
<br/>
Заключение: <br/>
G A7 Am7 C D G A7 Am7 C D <span style="color:#5F5F5F">G</span> <span style="color:#969696;background:#EEEEEE">A</span><span style="color:#969696;background:#E6E6E6">7</span><span style="color:#EAEAEA;background:#E6E6E6">_____________ <br/>
<br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
