{% extends "chords.html" %}

{% set title = "Мантра Ваджракилайи" %}
{% set handbook_unid = "5554a242432749adc325679d006af003" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - ПРИБЕЖИЩЕ - мантра ваджракилайи (vajrakilaya)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
мантра ваджракилайи (</span><span style="color:red">VAJRAKILAYA<span style="text-transform:uppercase">) <br/>
</span></span><i>канонический текст и мелодия<br/>
 <br/></i>
Вступление: A - 6p.<br/>
<br/>
    A   A<br/>
Ом бендза <br/>
     D C+g A<br/>
Кили килайя <br/>
       D       D<br/>
Сарва биганен бам <br/>
C+g   A A<br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Проигрыш: A A D A D D A A A A<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Проигрыш: A A D A D D A A A A<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Ом бендза <br/>
Кили килайя <br/>
Сарва биганен бам <br/>
Хум пхэт<br/>
<br/>
Проигрыш: A A D A D D A A - 3p. A<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
