{% extends "chords.html" %}

{% set title = "Мантра Ченрези" %}
{% set handbook_unid = "47b1a9bc6d83c70ac325679d006af009" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - ПРИБЕЖИЩЕ - мантра ченрези (chen rezi)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
мантра ченрези (chen rezi) <br/>
</span><i>канонический текст и мелодия<br/>
 <br/></i>
Вступление: A - 4p.<br/>
<br/>
A             A<br/>
Ом мани пеме хум<br/>
D             A<br/>
Ом мани пеме хум<br/>
A        A<br/>
Ом мани пеме хум<br/>
E             A<br/>
Ом мани пеме хум шри<br/>
E             A A<br/>
Ом мани пеме хум<br/>
<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум шри<br/>
Ом мани пеме хум<br/>
<br/>
Проигрыш: A A D A A A E A E A A<br/>
<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум шри<br/>
Ом мани пеме хум<br/>
<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум шри<br/>
Ом мани пеме хум<br/>
<br/>
Проигрыш: A A D A A A E A E A A<br/>
<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум шри<br/>
Ом мани пеме хум<br/>
<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум шри<br/>
Ом мани пеме хум<br/>
<br/>
Проигрыш: A A D A A A E A E A A<br/>
<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум шри<br/>
Ом мани пеме хум<br/>
<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум шри<br/>
Ом мани пеме хум<br/>
<br/>
Проигрыш: A A D A A A E A E A A<br/>
<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум шри<br/>
Ом мани пеме хум<br/>
<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум шри<br/>
Ом мани пеме хум<br/>
<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум<br/>
Ом мани пеме хум шри<br/>
Ом мани пеме хум<br/>
<br/>
Заключение: A A D A A A E A E A A - 3p.<br/>
<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
