{% extends "chords.html" %}

{% set title = "Мария" %}
{% set handbook_unid = "57e75248520bb720c3256a5b0029c452" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПУШКИНСКАЯ, 10 - мария<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
мария<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Каподастр на 2-м ладу<br/>
<br/>
Вступление: <br/>
E-14--12-15-10--8-7-8--15-15--10--15~~~<br/>
H---------------------8-----10---------<br/>
G--------------------------------------<br/>
D--------------------------------------<br/>
A--------------------------------------<br/>
E--------------------------------------<br/>
D C Hm Am7 G C D/f# G G<br/>
<br/>
G       <span style="color:gray">C  G         C        </span>G C D/f# G<br/>
 Эй, Мария, что у тебя в голове? <br/>
C                             G C D/f# G<br/>
 Эй, Мария, что у тебя в голове?<br/>
D/f#                        D                          <br/>
 Ты говорила мне, но я не знал этих слов,<br/>
Em                          C<br/>
  Ты снилась мне, я не смотрел этих снов,<br/>
C                   D               G C D/f# G<br/>
 Тебе нужна была рука, я дал тебе две.<br/>
<br/>
G        Am7    G/h           C+g       G C D/f# G<br/>
 Один знакомый спел, что ты попала в беду,<br/>
C/e        Am7/e   C            F/a       G C D/f# G<br/>
   Один знакомый спел, что ты попала в беду,<br/>
           D         Dsus4       D          D7<br/>
Но, знаешь, прости ему этот бессмысленный труд.<br/>
           Em               C<br/>
Те, кто обижают тебя - не слишком долго живут,<br/>
C                         D                       G C D/f# G<br/>
 Он был просто не в курсе, он ничего не имел в виду.<br/>
<br/>
G           C C+7/h G           C          G   C D/f# G<br/>
 На палубе танцы,    в трюме дыра пять на пять,<br/>
    C/e            Am7/e  C          F/a          G C D/f# G<br/>
Капитан где-то здесь, никто не знает как его опознать<br/>
   D   Dsus4         D       D7<br/>
Оркестр     из переодетых врачей <br/>
        Em                       C<br/>
Играет траурный вальс Шопена на семь четвертей,<br/>
     C                  D                      G C D/f# G<br/>
И там бросают за борт всех, кто не хотел танцевать<br/>
<br/>
        D          D/e  D                 G+7/d<br/>
А твои губы, Мария,   они - этот ветер, который<br/>
 D          Hm       C<br/>
Сорок лет учил меня петь<br/>
       C                 Hm<br/>
Из всего, что я видел на этой Земле, <br/>
       A             C<br/>
Самое важное было - дать тебе крылья<br/>
       C                     D<br/>
И смотреть, как ты будешь лететь.<br/>
<br/>
Проигрыш: G G C C+7/h G G C C G G D Dsus4 D D7 Em C C D G C D/f# G<br/>
<br/>
G         C C+7/h G             C           G C D/f# G<br/>
 Твои подруги      не знают, о чём идёт речь,<br/>
C/e       Am7/e             C     F/a      G  C D/f# G<br/>
   Им невдомек, что в корабле изначальная течь,<br/>
       D            Dsus4        D          D7<br/>
Они хихичут в ладоши     за крестильным столом,<br/>
  Em                    C<br/>
У них синдром Моны Лизы и перманентный облом<br/>
C                      D                   G  C D/F# G<br/>
 Но ты всё отдала сама, и нечего больше беречь.<br/>
<br/>
G           C C+7/h      G            C        G C D/f# G<br/>
 Так что, Мария,     я знаю, что у тебя в голове,<br/>
    C/e          Am7/e   C                F/a        G C D/f# G<br/>
Моё сердце в твоих руках, как ветер на подлунной траве.<br/>
     D              Dsus4   D        D7<br/>
А луна источает свой     целительный мёд,<br/>
Em                  C<br/>
То, что пугало тебя, уже тает как лёд;<br/>
C       C+7/h        D              G C D/f# G<br/>
 Тебе нужна была рука, я дал тебе две.<br/>
<br/>
Заключение: D C G/h Am7 G C D/f# G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
о A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G/h<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/e<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am7/e<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/a<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          C+7/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/e<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G+7/d<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
