{% extends "chords.html" %}

{% set title = "Матросская тишина" %}
{% set handbook_unid = "09847260f8444b66c325679d006aee65" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ АНТОЛОГИЙ И СБОРНИКОВ - матросская тишина<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
матросская тишина <br/>
</span><i>А.Романов<br/>
<br/>
Каподастр на 3-м ладу<br/>
 <br/></i>
Вступление: Am Dm Am E - 6p.<br/>
<br/>
 Am Dm       Am E      <br/>
Все,  что я слышал <br/>
    Am Dm   Am E Am E<br/>
Bо сне и наяву<br/>
Am Dm Am E   <br/>
Напоминает <br/>
 Am Dm    Am E Am E<br/>
Мне   тишину<br/>
<br/>
Проигрыш: Am Dm Am E<br/>
<br/>
Радости жизни <br/>
Изведав до дна<br/>
Я выбираю <br/>
Тебя тишина<br/>
<br/>
Проигрыш: Am Dm Am E - 5p.<br/>
<br/>
Все, что я слышал <br/>
Bо сне и наяву<br/>
Напоминает <br/>
Мне тишину<br/>
<br/>
Радости жизни <br/>
Изведав до дна<br/>
Я выбираю <br/>
  Am Dm     Am!!! E Am<br/>
Тебя   тишина<br/>
<br/>
Проигрыш: Am!!! F Am - 3p. Am H B Am - 2p.<br/>
<br/>
  B          C#  <br/>
Кто там закаркал <br/>
    B       Am   <br/>
Никак не пойму<br/>
 B        C#<br/>
Дайте матросам <br/>
  B          Am   <br/>
Спеть про тишину<br/>
 B      C#  <br/>
Радости жизни <br/>
   B        Am   <br/>
Изведав до дна<br/>
B      C#  <br/>
Я выбираю <br/>
   B     Am   <br/>
Тебя тишина<br/>
<br/>
Заключение: Am Dm Am E...<br/>
<br/>
А вокруг такая тишина<br/>
Вокруг такая тишина<br/>
Вокруг такая тишина<br/>
Вокруг такая тишина...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
