{% extends "chords.html" %}

{% set title = "Мама, я не могу больше пить" %}
{% set handbook_unid = "6414508f7dc1aafcc3256eb3002c0af4" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - БЕСПЕЧНЫЙ РУССКИЙ БРОДЯГА - мама, я не могу больше пить<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Мама, я не могу больше пить  <br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Am           Em<br/>
Мама, я не могу больше пить.<br/>
C              G<br/>
 Мама, я не могу больше пить<br/>
Dm           Dm/c     Dm/h      Dm/a<br/>
Мама, вылей всё, что стоит на столе - <br/>
Dm                Em G<br/>
 Я не могу больше пить<br/>
Am          Em <br/>
  На мне железный аркан<br/>
C                    G<br/>
 Я крещусь, когда я вижу стакан<br/>
        Dm      Dm/c     Dm/h    Dm/a<br/>
Я не в силах поддерживать этот обман<br/>
 Dm          Em        Am<br/>
Мама, я не могу больше пить<br/>
<br/>
Проигрыш: Am <br/>
<br/>
Патриоты скажут, что я дал слабину<br/>
Практически продал родную страну<br/>
Им легко, а я иду ко дну<br/>
Я гляжу, как истончается нить<br/>
Я не валял дурака<br/>
Тридцать пять лет от звонка до звонка<br/>
Но мне не вытравить из себя чужака<br/>
Мама, я не могу больше пить<br/>
<br/>
Мама, я не могу больше пить<br/>
Мама, я не могу больше пить<br/>
Мама, позвони всем моим друзьям<br/>
Скажи - я не могу больше пить<br/>
Вот она - пропасть во ржи<br/>
Под босыми ногами ножи<br/>
Как достало жить не по лжи -<br/>
Я не могу больше пить<br/>
<br/>
Проигрыш: Am <br/>
Am Em, C G, Dm Dm/c Dm/h Dm/a, Dm Em - 2p. Am <br/>
<br/>
Скажи моим братьям, что теперь я большой<br/>
Скажи сестре, что я болен душой<br/>
Я мог бы быть обычным человеком<br/>
Но я упустил эту роль<br/>
Зашёл в бесконечный лес<br/>
Гляжу вверх, но я не вижу небес<br/>
Скажи в церкви, что во всех дверях стоит бес - <br/>
Демон Алкоголь<br/>
<br/>
Мама, я не могу больше пить<br/>
Мама, я не могу больше пить<br/>
Мама, вылей всё, что стоит на столе - <br/>
Я не могу больше пить<br/>
На мне железный аркан<br/>
Я крещусь когда я вижу стакан<br/>
Я не в силах поддерживать этот обман<br/>
Мама, я не могу больше пить<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/c<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/h<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/a<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
