{% extends "chords.html" %}

{% set title = "Мантра Тары" %}
{% set handbook_unid = "5d950c32d43f8fe3c325679d006af006" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - ПРИБЕЖИЩЕ - мантра тары (tara mantra)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
мантра тары (tara mantra) <br/>
</span><i>Б.Гребенщиков - канонический текст<br/>
 <br/></i>
Вступление: E E E E F#m F#m<br/>
<br/>
E                E       <br/>
Ом тарэ туттарэ турэ соха<br/>
F#m              F#m<br/>
Ом тарэ туттарэ турэ соха<br/>
F#m              F#m     <br/>
Ом тарэ туттарэ турэ соха<br/>
E                E<br/>
Ом тарэ туттарэ турэ соха<br/>
F#m              F#m<br/>
Ом тарэ туттарэ турэ соха<br/>
E                E<br/>
Ом тарэ туттарэ турэ соха<br/>
F#m              F#m<br/>
Ом тарэ туттарэ турэ соха<br/>
F#m              F#m     <br/>
Ом тарэ туттарэ турэ соха<br/>
E                E<br/>
Ом тарэ туттарэ турэ соха<br/>
F#m              F#m     <br/>
Ом тарэ туттарэ турэ соха<br/>
E                E<br/>
Ом тарэ туттарэ турэ соха<br/>
F#m              F#m     <br/>
Ом тарэ туттарэ турэ соха<br/>
F#m              F#m     <br/>
Ом тарэ туттарэ турэ соха<br/>
E                E<br/>
Ом тарэ туттарэ турэ соха<br/>
F#m              F#m     <br/>
Ом тарэ туттарэ турэ соха<br/>
<br/>
Проигрыш: E E E F#m F#m F#m F#m E E E E<br/>
<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
<br/>
Проигрыш: E E E F#m F#m F#m F#m E E E F#m F#m <br/>
<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
Ом тарэ туттарэ турэ соха<br/>
<br/>
Заключение: E E F#m F#m F#m F#m - 3p. E E <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
