{% extends "chords.html" %}

{% set title = "Мальчик" %}
{% set handbook_unid = "3480d3d6b007bf69c325679d006aeded" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАША ЖИЗНЬ С ТОЧКИ ЗРЕНИЯ ДЕРЕВЬЕВ - мальчик<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Мальчик<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 5-м ладу <br/></i>
 <br/>
Вступление: D <br/>
D G - 10 p.<br/>
<br/>
D                       G<br/>
 В ещё не открытой земле,<br/>
                        D<br/>
На которой пока лежит снег<br/>
                G                    D<br/>
Мимо горных ручьёв, мимо стоячих камней<br/>
                            G                      <br/>
Мимо голубых куполов, из которых бьёт свет<br/>
D<br/>
 Мимо черных деревьев,<br/>
D<br/>
 Трепещущих в ожидании весны<br/>
A                         Em<br/>
 Мимо магнитных полей, морочащих нас<br/>
F#<br/>
  Мимо золотых мертвецов,<br/>
    G                    G/f#<br/>
Пришедших узнав, что мы спим<br/>
Em         G/f#               G           G/f#<br/>
  Мимо начинаний вознесшихся мощно, но без имени<br/>
         Em     G/f# G<br/>
Вот идёт мальчик,     он просто влюблён<br/>
    A      D            G<br/>
И что мне делать с ним?<br/>
<br/>
Проигрыш: D G - 3p.<br/>
<br/>
D                      G<br/>
 Принцип женщины наблюдает за ним, полузакрыв глаза<br/>
D                      G          <br/>
 Принцип справедливости уже подвёл ему счёт<br/>
D                        G<br/>
 Все знают, что он упадёт и заключают ставки - о том, где и когда<br/>
        D                                G            <br/>
И они правы, они правы, они тысячу раз правы,<br/>
                        A            <br/>
Но только это ещё не всё<br/>
                                        Em            <br/>
Мимо ледяных статуй с глазами тех, кто знал меня<br/>
F#                               G               G/F#<br/>
  Мимо сокрушённого сердца, у которого больше нет сил<br/>
Em            G/f#         G                 G/F#<br/>
  Мимо объяснений причин и мимо объяснения грехов<br/>
         Em     G/f# G<br/>
Вот идёт мальчик,     и он просто влюблён<br/>
A    D                  G<br/>
 И что мне делать с ним?<br/>
         D           G<br/>
Что мне делать с ним?<br/>
<br/>
Проигрыш: D G - 6p.<br/>
<br/>
D                         G                       D<br/>
 Между непорочным и нежным между этой и той стороной стекла<br/>
                  G                            D<br/>
Мимо митьков и друидов мимо тех, кто может не пить<br/>
                     G   <br/>
У меня есть только один голос<br/>
                                       D<br/>
И мне нужно спеть всё, что мне нужно спеть<br/>
                  G                    D           G<br/>
Только одно сердце и оно не может отказаться любить<br/>
    D         G                   D           G<br/>
Не может, не хочет, не умеет отказаться любить<br/>
<br/>
Проигрыш: D G - 9 p.<br/>
<br/>
D                         G                             D<br/>
 Сквозь можжевеловый ветер сквозь пламя, чище которого нет<br/>
                      G                          D<br/>
В хрустальных сумерках светом звёзд и светом ветвей<br/>
                     G                          D<br/>
Задыхаясь от нежности к этому небу и к этой земле<br/>
                      G               D               G<br/>
И наш сын говорит нам: "Господи, приди и будь соловей"<br/>
                 D                         G <br/>
Это так просто, Господи, приди и будь соловей<br/>
<br/>
Проигрыш: D D/c# D/h D/a 5:0 5:II G - 4 p.<br/>
<br/>
                  D<br/>
Так начнем всё с радости<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D/c#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/h<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/a<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
