{% extends "chords.html" %}

{% set title = "Манежный блюз" %}
{% set handbook_unid = "9f0d5d2e0118975cc325679d006aee0e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ДОИСТОРИЧЕСКИЕ ПЕСНИ - ПРИТЧИ ГРАФА ДИФФУЗОРА - манежный блюз<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
манежный блюз <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: С F C F C F C C - 2p.<br/>
С G C G C G C G C C C<br/>
<br/>
  С               F<br/>
В озере слов я нашел свою душу,<br/>
   С              G<br/>
Читая следы свои на зеркалах.<br/>
    С               F<br/>
Ты думаешь, я буду вечно послушен?<br/>
 G               C  G<br/>
Думай, пока это так; <br/>
<br/>
    С                F<br/>
Когда-нибудь в час неясный и сонный<br/>
  С                   G<br/>
Снова проснутся в глазах облака;<br/>
    С                   F<br/>
Придет этот час, и я уйду вместе с солнцем<br/>
   G                  C<br/>
Дорогой, ведущей в закат. <br/>
<br/>
Заключение: C F G C - 3p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
