{% extends "chords.html" %}

{% set title = "Меня зовут Смерть" %}
{% set handbook_unid = "51c76f75fd79fe9ac325679d006af1dd" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАША ЖИЗНЬ С ТОЧКИ ЗРЕНИЯ ДЕРЕВЬЕВ - меня зовут смерть<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Меня зовут смерть<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу <br/></i>
 <br/>
Вступление: C<br/>
  C               Am    F G <br/>
E-3--------0-3-0---7--8--8-<br/>
H--3--3-1-3-----3-1--------<br/>
G--------------------------<br/>
  C                Am<br/>
E-3--------0-3-0---7sl8-10-10h12-8-<br/>
H--3--3-1-3-----3-1----------------<br/>
G----------------------------------<br/>
  G# G(III)  C  C/b  Am  G#<br/>
E-------------0-3-0-3------<br/>
H-4----3-----1-----3-1-3-1-<br/>
G--------------------------<br/>
    Dm        G      F          G      C<br/>
E-7-8h7-7-3-3-0--8h7-10-10h12-8-10h8-7-8-<br/>
H----------------------------------------<br/>
G----------------------------------------<br/>
<br/>
C<br/>
 Твои правильные цифры,<br/>
    Am                F G<br/>
И твои взгляды на часы.<br/>
C                                Am  <br/>
 Ты ждёшь одобренных решений и готов;<br/>
G#            G(III)<br/>
  Конечно, ты знаешь всегда,<br/>
          C         C/b     Am G#<br/>
В какую сторону склонятся весы,<br/>
Dm               G<br/>
  Ах, всё ли это?<br/>
<br/>
Как всё прекрасно на бумаге,<br/>
Как легко следовать словам.<br/>
Как просто сделать так, что ты непогрешим.<br/>
Но если ты хочешь войти,<br/>
Как ты встретишь здесь тех, кто снял грим?<br/>
  Dm       G             F   G<br/>
Здравствуй, меня зовут смерть.<br/>
<br/>
Заключение: <br/>
  C                   Am     F          G   C<br/>
E-3--------0-3-7-8-10-8-10-10-12h10-8-8-7-8-8~~~~<br/>
H--3--3-1-3--------------------------------------<br/>
G------------------------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV       G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/b<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
