{% extends "chords.html" %}

{% set title = "Миша из города скрипящих статуй" %}
{% set handbook_unid = "d5e15ea61bf054b1c325679d006aefd0" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ▼ - миша из города скрипящих статуй<br/>
</span><span style="color:red"> <br/>
МИША ИЗ ГОРОДА СКРИПЯЩИХ СТАТУЙ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: A(V) G#m G(III) F#m - 5p.<br/>
<br/>
A(V)<br/>
Кто откроет дверь, бесстрашный, как пёс?<br/>
G#m<br/>
Мастер мух, собеседник стрекоз,<br/>
 G(III)<br/>
Увенчанный крапивой и листьями роз -<br/>
 D                 C#m<br/>
Миша из города скрипящих статуй.<br/>
 D                 C#m<br/>
Миша из города скрипящих статуй.<br/>
 D                 C#m<br/>
Миша из города скрипящих статуй.<br/>
 D                 C#m          E<br/>
Миша из города скрипящих статуй.<br/>
<br/>
С полночными зубами, славный, как слон,<br/>
Царапающий лбом скрижали времен;<br/>
Стоять столбом - это движется он,<br/>
Миша из города скрипящих статуй.<br/>
Миша из города скрипящих статуй.<br/>
Миша из города скрипящих статуй.<br/>
Миша из города скрипящих статуй.<br/>
<br/>
Проигрыш:: H D F#m A(V) E D F#m A(V) E<br/>
<br/>
Последний шанс, выпиватель воды,<br/>
Идущий вниз с четверга до среды,<br/>
Живущий за стеной секретной слюды -<br/>
Миша из города скрипящих статуй.<br/>
Миша из города скрипящих статуй.<br/>
Миша из города скрипящих статуй.<br/>
Миша из города скрипящих статуй.<br/>
<br/>
 D                 C#m <br/>
Миша из города скрипящих статуй.<br/>
Миша из города скрипящих статуй.<br/>
Миша из города скрипящих статуй.<br/>
Миша из города скрипящих статуй.<br/>
Миша из города скрипящих статуй<br/>
Миша из города скрипящих…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
