{% extends "chords.html" %}

{% set title = "Миленький ты мой" %}
{% set handbook_unid = "9e9f9c818dc1c17ec325679d006af01b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- МИТЬКОВСКИЕ ПЕСНИ - миленький ты мой<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
миленький ты мой<br/>
</span><i>народная<br/></i>
 <br/>
Вступление: C G C, F G C, F G C Am, F G C <br/>
<br/>
   C     G      C        F    G      C<br/>
- Миленький ты мой, возьми меня с собой<br/>
 F         G    C   Am F      G    C<br/>
Там в стране далекой  буду тебе женой<br/>
   C  G   C    F     G    C<br/>
- Милая моя, взял бы я тебя<br/>
    F         G    C   Am F         G    C<br/>
Но там в стране далекой   есть у меня жена<br/>
<br/>
Проигрыш: C G C, F G C, F G C Am, F G C<br/>
<br/>
- Миленький ты мой, возьми меня с собой<br/>
Там в стране далекой буду тебе сестрой<br/>
- Милая моя, взял бы я тебя<br/>
Но там в стране далекой есть у меня сестра<br/>
<br/>
Проигрыш: C G C, F G C, F G C Am, F G C <br/>
<br/>
- Миленький ты мой, возьми меня с собой<br/>
Там в стране далекой буду тебе чужой<br/>
- Милая моя, взял бы я тебя<br/>
Но там в стране далекой чужая мне не нужна<br/>
<br/>
Заключение: C G Am Em F G C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
