{% extends "chords.html" %}

{% set title = "Мир, как мы его знали" %}
{% set handbook_unid = "7a68b885a5963f83c325679d006af01e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАША ЖИЗНЬ С ТОЧКИ ЗРЕНИЯ ДЕРЕВЬЕВ - мир, как мы его знали<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">мир, как мы его знали<br/>
</span><i>Б. Гребенщиков<br/>
<br/>
Каподастр на 6-м ладу<br/></i>
 <br/>
Вступление: D Em - 8p.<br/>
<br/>
 D               Em                   D Em<br/>
Мир, как мы его знали, подходит к концу,<br/>
 D                Em            D  Em<br/>
Мир, как мы его знали, и Бог с ним!<br/>
       D            Em                 D              Em<br/>
За последнюю тысячу лет мы постигли печальную часть наук,<br/>
D         Em             D           Em<br/>
 Настало время заняться чем-то другим.<br/>
<br/>
Свари мне кофе, и я буду верен тебе.<br/>
Ответь на мой взгляд, и мы опять попадём в эту сеть.<br/>
Набери мой номер, я отвечу тебе, хочешь ты того или нет<br/>
Скажи мне слово, и я смогу его петь.<br/>
<br/>
Мир, как мы его знали, подходит к концу,<br/>
Мир, как мы его знали, и Бог с ним!<br/>
За последнюю тысячу лет мы постигли печальную часть наук,<br/>
Настало время заняться чем-то другим.<br/>
<br/>
Проигрыш: D Em - 4p.<br/>
<br/>
Двенадцать из десяти не знают, что ты - это ты,<br/>
Двенадцать из десяти считают тебя луной.<br/>
Двенадцать из десяти боятся тебя, чуя в тебе свою смерть<br/>
Но я буду рад, если ты встанешь рядом со мной.<br/>
<br/>
Мир, как мы его знали, подходит к концу,<br/>
Мир, как мы его знали, и Бог с ним!<br/>
За последнюю тысячу лет мы постигли печальную часть наук,<br/>
Настало время заняться чем-то другим.<br/>
<br/>
Проигрыш: D Em - 28p.<br/>
<br/>
Так свари мне кофе, и я буду верен тебе.<br/>
Ответь на мой взгляд, и мы опять попадём в эту сеть.<br/>
Набери мой номер, я отвечу тебе, хочешь ты того или нет<br/>
Скажи мне слово, и я смогу его петь.<br/>
<br/>
Мир, как мы его знали, подходит к концу,<br/>
Мир, как мы его знали, и Бог с ним!<br/>
За последнюю тысячу лет мы постигли печальную часть наук,<br/>
Настало время заняться чем-то другим.<br/>
<br/>
Мир, как мы его знали, подходит к концу,<br/>
Мир, как мы его знали, и Бог с ним!<br/>
За последнюю тысячу лет мы постигли печальную часть наук,<br/>
Настало время заняться чем-то другим.<br/>
<br/>
Заключение: D Em - 20p. D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
