{% extends "chords.html" %}

{% set title = "Мне хотелось бы видеть тебя" %}
{% set handbook_unid = "0317f1e14a32ed0cc325679d006af033" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ИХТИОЛОГИЯ - мне хотелось бы видеть тебя<br/>
</span><span style="color:red"> <br/>
МНЕ ХОТЕЛОСЬ БЫ ВИДЕТЬ ТЕБЯ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
C A7 Dm G F Em G F G C F Dm G C G<br/>
<br/>
       C         A7       Dm<br/>
Мне хотелось бы видеть тебя;<br/>
G F     Em G<br/>
 Видеть тебя.<br/>
       F        G      C          F<br/>
По старинному праву котов при дворе<br/>
       Dm        G        C G<br/>
Мне хотелось бы видеть тебя.<br/>
<br/>
     C          A7     Dm<br/>
У кого-то есть право забыть про тебя,<br/>
     G           F       Em        G<br/>
У кого-то есть право не пить за тебя.<br/>
       C    A7     Dm<br/>
Только я не верю в эти права;<br/>
       F         G        C G<br/>
Мне хотелось бы видеть тебя.<br/>
<br/>
        C       A7        Dm<br/>
И я бы мог написать тебе новую роль,<br/>
       G       F          Em         G<br/>
Но для этого мне слишком мил твой король.<br/>
     C  A7      Dm<br/>
И потом - я люблю быть котом;<br/>
          F         G        C G<br/>
Но мне хотелось бы видеть тебя.<br/>
<br/>
Проигрыш: <br/>
C A7 Dm G F Em G F G C F Dm G C G<br/>
<br/>
       C       A7       Dm <br/>
Я смотрю на гравюры старинных дворцов;<br/>
     G     F      Em     G<br/>
Королева, вы опустили лицо,<br/>
        C         A7       Dm<br/>
Но я надеюсь, вы смотрите на короля...<br/>
          F         G        C G<br/>
Но мне хотелось бы видеть тебя.<br/>
<br/>
       C         A7       Dm<br/>
Мне хотелось бы видеть тебя;<br/>
G F     Em G<br/>
 Видеть тебя.<br/>
       F        G      C          F<br/>
По старинному праву котов при дворе<br/>
       Dm        G        F <span style="color:#333333">2:I 3:III 3:II</span> C<br/>
Мне хотелось бы видеть тебя.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
