{% extends "chords.html" %}

{% set title = "Мне было бы легче петь" %}
{% set handbook_unid = "01956f6a0b25c8aac325679d006af027" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЭЛЕКТРИЧЕСТВО - мне было бы легче петь<br/>
</span><span style="color:red"> <br/>
МНЕ БЫЛО БЫ ЛЕГЧЕ ПЕТЬ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: Em G G G/f# Em – 2p. Em<br/>
<br/>
       Em               G<br/>
Мне не нужно касанья твоей руки<br/>
      G     G/f#   Em<br/>
И свободы твоей реки;<br/>
       Em                   G<br/>
Мне не нужно, чтоб ты была рядом со мной,<br/>
      G     G/f#     D D<br/>
Мы и так не так далеки.<br/>
      C              D<br/>
И я знаю, что это чужая игра,<br/>
     G        G/f# C<br/>
И не я расставляю сеть;<br/>
   Am             D<br/>
Но если бы ты могла меня слышать,<br/>
     C       D     Em  Em<br/>
Мне было бы легче петь. <br/>
<br/>
Это новые листья меняют свой цвет,<br/>
Это в новых стаканах вино.<br/>
Только время уже не властно над нами,<br/>
Мы движемся, словно в кино.<br/>
И когда бы я мог изменить расклад,<br/>
Я оставил бы всё как есть,<br/>
Но если бы ты могла меня слышать,<br/>
Мне было бы легче петь.<br/>
<br/>
Проигрыш: <br/>
Em G G G/f# Em Em G G/f# D D C D G G/f# C Am D C D Em Em<br/>
<br/>
По дощатым полам твоего эдема<br/>
Мне не бродить наяву.<br/>
Но когда твои руки в крови от роз,<br/>
Я режу свои о траву.<br/>
И ни там, ни здесь не осталось скрипок,<br/>
Не переплавленных в медь;<br/>
Но если бы ты могла меня слышать,<br/>
Мне было бы легче петь.<br/>
<br/>
Так прости за то, что любя тебя<br/>
Я остался таким же, как был.<br/>
Но я до сих пор не умею прощаться<br/>
С теми, кого я любил;<br/>
И хотя я благословляю того,<br/>
Кто позволил тебе взлететь -<br/>
Если бы ты могла меня слышать,<br/>
Мне было бы легче петь...<br/>
<br/>
Проигрыш: C D G G/f# C<br/>
<br/>
Am             D<br/>
Если бы ты могла меня слышать,<br/>
     C       D      Em  G F Em  <br/>
Мне было бы незачем петь.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
