{% extends "chords.html" %}

{% set title = "Молодые львы" %}
{% set handbook_unid = "70c15ef30ceacc6fc325679d006aef76" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ФЕОДАЛИЗМ - молодые львы<br/>
</span><span style="color:red"> <br/>
МОЛОДЫЕ ЛЬВЫ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: E <span style="color:gray">G#m </span>A(V) <span style="color:gray">H(VII)</span> - 4p.<br/>
<br/>
E        G#m             A(V)  <span style="color:gray">H(VII)<br/></span>
 Когда в городе станет темно,<br/>
E  G#m           A(V) <span style="color:gray">H(VII)<br/></span>
 И ветер дует с Невы,<br/>
E     G#m             A(V) <span style="color:gray">H(VII)<br/></span>
 Екатерина смотрит в окно,<br/>
E         G#m           A(V) <span style="color:gray">H(VII)<br/></span>
 За окном идут молодые львы.<br/>
<br/>
E        G#m                A(V) <span style="color:gray">H(VII)<br/></span>
 Они не знают, что значит "зима",<br/>
E        G#m          A(V)              A(V)<br/>
   Они танцуют, они свободны от наших потерь!<br/>
A(V)                    G#m     A(V)<br/>
   И им нечего делать с собой сейчас,<br/>
A(V)                     H(VII)<br/>
   Они войдут, когда Екатерина откроет им дверь!<br/>
<br/>
A(V)     H(VII)          E<br/>
  А что нужно молодым львам?<br/>
A(V) H(VII)        G#m A(V)<br/>
 Что нужно молодым львам?<br/>
A(V)<br/>
  Когда весь мир готовится лечь к их ногам,<br/>
                    H(VII)<br/>
И им нечего делать сейчас!<br/>
<br/>
Проигрыш: E G#m A(V) H(VII) – 4p.<br/>
<br/>
Только я не скажу им ни слова,<br/>
Я не приму этот бой, потому что это не бой.<br/>
Всё равно, всё, что сделано нами, останется светлым,<br/>
Всё равно, всё, что было моим, возьмёт себе кто-то другой!<br/>
<br/>
Проигрыш: E G#m A(V) H(VII) – 8p.<br/>
<br/>
Так вот вкус наших побед,<br/>
Вот запах нашей травы...<br/>
Екатерина смотрит в окно,<br/>
E      G#m A(V)        H(VII)<br/>
 За окном    продолжают идти<br/>
E G#m A(V) H(VII)       E G#m A(V) H(VII)      E G#m A(V) H(VII)       E G#m A(V) H(VII)<br/>
              Молодые львы.           Молодые львы.          Молодые львы.           <br/>
<br/>
Заключение: E G#m A(V) H(VII) – 4p. E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII    H(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
