{% extends "chords.html" %}

{% set title = "Молитва Прибежища" %}
{% set handbook_unid = "4f036ec0b28cdbebc325679d006af051" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - ПРИБЕЖИЩЕ - молитва прибежища (refuge)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
молитва прибежища (refuge) <br/>
</span><i>канонический текст и мелодия<br/>
 <br/></i>
Вступление:<br/>
E-----2-4-4sl5-4-<br/>
H--4-4-4---------<br/>
G-5--------------<br/>
D----------------<br/>
G(III) Gsus4(III) G(III) - 4p.<br/>
<br/>
G(III)<br/>
Намо<br/>
          G(III)         F  G(III)<br/>
Дакданг кха-ньям семчен малю кюн<br/>
 G#m+7    G#          F        G(III)<br/>
Кьяб-кьи чок-гьюр намла кьяб су чи<br/>
G(III)          G(III)    F    G(III)<br/>
Монданг джугпей джангчуб сэм-кье нэй<br/>
G#m+7    G#  F            G(III)<br/>
Кусум ламей гопанг друбпар гьи<br/>
<br/>
Намо<br/>
Дакданг кха-ньям семчен малю кюн<br/>
Кьяб-кьи чок-гьюр намла кьяб су чи<br/>
Монданг джугпей джангчуб сэм-кье нэй<br/>
Кусум ламей гопанг друбпар гьи<br/>
<br/>
Намо-o<br/>
Дакданг кха-ньям семчен малю кюн<br/>
Кьяб-кьи чок-гьюр намла кьяб су чи<br/>
Монданг джугпей джангчуб сэм-кье нэй<br/>
Кусум ламей гопанг друбпар гьи<br/>
<br/>
Заключение: G(III) Gsus4(III) G(III) - 5p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Gsus4(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV     G#m+7<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|-■-|---|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
