{% extends "chords.html" %}

{% set title = "Морской конёк" %}
{% set handbook_unid = "88dee4656e682aa5c3256d25003020fe" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСНИ РЫБАКА - морской конёк<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Морской конёк<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
E-5---5---5---<br/>
H-5---8---8---<br/>
G-7---7---6---<br/>
D G D C G, D G D C G, D C G D C G, F C Am D<br/>
<br/>
     D     G        D     C G<br/>
Морской конёк, морской конёк,<br/>
D         G         D       C G <br/>
 Сегодня выдался нелёгкий денёк,<br/>
D              C       G      D            C G<br/>
 Ты сидишь на месте, но ты летишь со всех ног;<br/>
F              C         Am    D<br/>
 Бог тебе в помощь, морской конёк.<br/>
<br/>
Проигрыш: <br/>
 D    C     G      D<br/>
E-8h10------4-3-1----<br/>
H-----10-8-6-----1h3-<br/>
G--------------------<br/>
<br/>
Твои товарищи идут по прямой,<br/>
Но индустрия их счастья дала на тебе сбой;<br/>
Покупатели не знают, что им делать с тобой,<br/>
Иногда хочется просто уйти домой…<br/>
<br/>
Морской конёк, морской конёк,<br/>
В железном небе хотя бы один огонёк,<br/>
Чтобы сжечь этот дом, нужен один уголёк,<br/>
Бог тебе в помощь, морской конёк.<br/>
<br/>
Проигрыш: <br/>
D    C     G      D<br/>
E-8h10------4-3-1----<br/>
H-----10-8-6-----1h3-<br/>
G--------------------<br/>
<br/>
Ниточка порвалась, никак не связать,<br/>
И ты кричишь, оттого, что не умеешь сказать,<br/>
Бог у тебя отец, Родина – мать,<br/>
Приличная семья, с них нечего взять…<br/>
<br/>
Проигрыш: <br/>
D G D C G, D G D C G, D C G D C G, F C Am D D<br/>
<br/>
E<br/>
 Иногда кажется, что всё оборвалось,<br/>
     E<br/>
И пути назад в рай уже нет,<br/>
   G<br/>
Но ежели к тебе подойдёт Люцифер,<br/>
    A<br/>
Скажи ему, что Коля просил передать привет.<br/>
<br/>
Морской конёк, морской конёк,<br/>
Это мелководье не идёт тебе впрок,<br/>
Сегодня выдался нелёгкий денёк,<br/>
Бог тебе в помощь, морской конёк.<br/>
<br/>
Заключение: <br/>
D G D C G, D G D C G, D C G D C G, F C Am D - 2p.<br/>
E-5---4---7---5---<br/>
H-6---5---8---7---<br/>
G-5---4---7---7---<br/>
D-0---0---0---0---<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:131.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
