{% extends "chords.html" %}

{% set title = "Мой муравей" %}
{% set handbook_unid = "b3fab307d7935d93c325679d006af141" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ▼ - мой муравей<br/>
</span><span style="color:red"> <br/>
МОЙ МУРАВЕЙ<br/>
</span><i>Б. Гребенщиков - А. Гуницкий<br/></i>
 <br/>
Вступление: D D/c D/h Gm6/b - 4p.<br/>
<br/>
           D D/c D/h    Gm6/b<br/>
Приди ко мне,    мой муравей,<br/>
D        D/c            D/h  Gm6/b<br/>
 Как рудокоп в туман приходит,<br/>
D         D/c       D/h  Gm6/b<br/>
 Лишь альтруисты в злате бродят,<br/>
G  A       D D/c D/h Gm6/b<br/>
  Мой муравей...<br/>
<br/>
Проигрыш: D D/c D/h Gm6/b<br/>
<br/>
Пропой мне песенку свою<br/>
Про обескровленную башню,<br/>
Про наступленье дней вчерашних,<br/>
Мой муравей...<br/>
<br/>
Проигрыш: D D/c D/h Gm6/b – 3p.<br/>
<br/>
Сожми в объятиях меня<br/>
Как гладиатор птицу губит,<br/>
Как экскаватор землю любит,<br/>
Мой муравей...<br/>
<br/>
Проигрыш: D D/c D/h Gm6/b – 3p.<br/>
<br/>
Слепа я с детства - пустяки,<br/>
Глаза мне сделаешь отверткой;<br/>
Дремучей, суетной и вёрткой,<br/>
Мой муравей...<br/>
<br/>
 D      D/c   D/h    Gm6/b         D D/c D/h Gm6/b<br/>
Мо-о-о-о-о-о-о-о-о-о-о-о-о-ой муравей<br/>
<br/>
Заключение: D D/c D/h Gm6/b – 2p. D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/c<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/h<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          <a name="OLE_LINK5"></a><a name="OLE_LINK4"></a><a name="OLE_LINK3">Gm6/b</a><br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
