{% extends "chords.html" %}

{% set title = "Мой друг музыкант" %}
{% set handbook_unid = "a91da4472c44d3b8c325679d006af042" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЭЛЕКТРИЧЕСТВО - мой друг музыкант<br/>
</span><span style="color:red"> <br/>
МОЙ ДРУГ МУЗЫКАНТ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
Em(VII) Dm(V) Em(VII) Em(VII) D#m(VI) Em(VII) – 2p.<br/>
Em(VII) Dm(V) Em(VII) Em(VII) D#m(VI) Em(VII)<br/>
E---------------------------------------7-6-5-3-0-<br/>
H----------------------------------------------3--<br/>
G-------------------------------------------------<br/>
Em(VII) Dm(V) Em(VII) Em(VII) D#m(VI) Em(VII)<br/>
E-3--------7-5-5-3-0--------------------7-6-5-3-0-<br/>
H-------3--------------------------------------3--<br/>
G-------------------------------------------------<br/>
<br/>
Dm(V)<br/>
    Мой друг музыкант<br/>
     Em(VII)<br/>
Знает массу забавных вещей;<br/>
Dm(V)<br/>
   Мой друг музыкант<br/>
     Em(VII)<br/>
Не похож на обычных людей.<br/>
Dm(V)<br/>
   Он строит аккорд<br/>
    Em(VII)<br/>
Из того, что он видит вокруг,<br/>
Dm(V)<br/>
    И он говорит,<br/>
     Em(VII)<br/>
Что это божественный звук.<br/>
G(III)         A(V)           Em(VII)<br/>
  Я слышал, что он чертовски неплох,<br/>
G(III)             A(V)             Em(VII)<br/>
  Что когда он не пьян, он играет как бог.<br/>
G(III)         A(V) G(III)            A(V)<br/>
  И, простая душа,       я гляжу не дыша,<br/>
G(III)      A(V)<br/>
  Как вдохновенно<br/>
F#           H(VII)<br/>
  наполняет стакан<br/>
             Em(VII) A(V)<br/>
Мой друг музыкант...<br/>
<br/>
Проигрыш: Em(VII) A(V) – 3p.<br/>
<br/>
Мой друг музыкант,<br/>
От только ждёт подходящего дня,<br/>
Чтоб взять свой смычок<br/>
И сыграть что-нибудь для меня.<br/>
И весь наш мир<br/>
Засохнет тогда на корню,<br/>
А если нет,<br/>
То мир - большая свинья;<br/>
Но сегодня на редкость задумчивый день,<br/>
А вчера был дождь, играть было лень.<br/>
Наверное, завтра; да, завтра наверняка;<br/>
Во славу музыки<br/>
  F#                 H(VII)<br/>
Сегодня начнем с коньяка... О, е!<br/>
<br/>
(Мой друг музыкант, мой друг музыкант…<br/>
Мой друг музыкант, мой друг музыкант…<br/>
Мой друг музыкант, мой друг музыкант…<br/>
Мой друг музыкант, мой друг музыкант…<br/>
<br/>
Мой друг музыкант, мой друг музыкант…<br/>
Мой друг музыкант, мой друг музыкант…<br/>
Мой друг музыкант, мой друг музыкант…)<br/>
<br/>
Заключение: <br/>
Em(VII) Dm(V) – 95p. Em(VII)<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII   Em(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Dm(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VI    D#m(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII    H(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
