{% extends "chords.html" %}

{% set title = "Московская октябрьская" %}
{% set handbook_unid = "0a471c56ee2559a1c325679d006aee5c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - КОСТРОМА MON AMOUR - московская октябрьская<br/>
</span><span style="color:red"> <br/>
МОСКОВСКАЯ ОКТЯБРЬСКАЯ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Проигрыш: <br/>
  Am Dm Am E    Am F Am E <br/>
E-12-10-8--7-8-7-5-1-0----<br/>
H-----------------------3- - 2p.<br/>
G-------------------------<br/>
Am Dm Am E Am F Am E - 2p. Am<br/>
<br/>
           Am       F  E    Am<br/>
Вперёд, вперёд, плешивые стада;<br/>
 E      Am     F G       C F<br/>
Дети полка и внуки саркофага -<br/>
          Dm       G            C F<br/>
Сплотимся гордо вкруг родного флага,<br/>
          Dm    E       Am<br/>
И пусть кипит утёкшая вода.<br/>
<br/>
Застыл чугун над буйной головой,<br/>
Упал в бурьян корабль без капитана...<br/>
Ну, что ж ты спишь - проснись, проснись, охрана;<br/>
А то мне в душу влезет половой.<br/>
<br/>
Проигрыш: Am Am H F E G7 C E C C G G F Dm F E E<br/>
E------------------------<br/>
H------------------------<br/>
G------------------------ E E/d E/c E/h Am<br/>
D-------3-2-0------------<br/>
A---0-2-------3-2-0------<br/>
E-0-----------------1-3-5<br/>
<br/>
Сошёл на нет всегда бухой отряд<br/>
И, как на грех, разведка перемёрла;<br/>
Покрылись мхом штыки, болты и свёрла -<br/>
А в небе бабы голые летят.<br/>
<br/>
          C       F       E        Am<br/>
На их грудях блестит французский крем;<br/>
E      C         F    G        C F<br/>
Они снуют с бесстыдством крокодила...<br/>
Гори, гори, моё паникадило,<br/>
А то они склюют меня совсем.<br/>
<br/>
Заключение: <br/>
         Am                     C  <br/>
E-5-8-10-12-12-10-8-12--5-8-10-12-10-12-15-12-<br/>
H---------------------------------------------<br/>
G---------------------------------------------<br/>
         F         Dm        Am <br/>
E-5-8-10-10-10-8-5-10--8-5-8-8-8-5-8-5-<br/>
H--------------------------------------<br/>
G--------------------------------------<br/>
         Am                     C  <br/>
E-5-8-10-12-12-10-8-12--5-8-10-12-10-12-15-12-<br/>
H---------------------------------------------<br/>
G---------------------------------------------<br/>
         F         Dm        Am <br/>
E-5-8-10-10-10-8-5-10--8-5-8-8-8-5-8-5-<br/>
H--------------------------------------<br/>
G--------------------------------------<br/>
  Am Dm Am E    Am F Am E <br/>
E-12-10-8--7-8-7-5-1-0----<br/>
H-----------------------3- - 2p.<br/>
G-------------------------<br/>
Am Dm Am E Am F Am E - 2p. Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E/d<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E/c<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E/h<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
