{% extends "chords.html" %}

{% set title = "Мой ум сдох" %}
{% set handbook_unid = "d2ca43c76190d5cdc325679d006af04e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ДОИСТОРИЧЕСКИЕ ПЕСНИ - ИСКУШЕНИЕ СВЯТОГО АКВАРИУМА - мой ум сдох<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
мой ум сдох<br/>
</span><i>А.Гуницкий<br/></i>
 <br/>
Вступление: F E - 2p.<br/>
<br/>
    F    E<br/>
Мой ум сдох<br/>
F           E<br/>
 Ранней весной,<br/>
F           E<br/>
 Когда в саду<br/>
F             E<br/>
 Распустился куст.<br/>
F           E<br/>
 И в свете луж<br/>
F           E<br/>
 Нашел я ответ:<br/>
F         E<br/>
 Мой ум сдох<br/>
F            E<br/>
 Его больше нет.<br/>
<br/>
Проигрыш: F# F# F F  <br/>
G-----2-1-1-0-3-2-<br/>
D-5-4-------------<br/>
A-----------------<br/>
E-----------------<br/>
F E<br/>
<br/>
Мой ум сдох<br/>
В жаркий летний день,<br/>
Когда вокруг<br/>
Зеленела листва.<br/>
И в шуме волн<br/>
Нашел я ответ:<br/>
Мой ум сдох<br/>
Его больше нет. <br/>
<br/>
Проигрыш: F# F# F F  <br/>
G-----2-1-1-0-3-2-<br/>
D-5-4-------------<br/>
A-----------------<br/>
E-----------------<br/>
F E <br/>
<br/>
Мой ум сдох<br/>
Осенней порой,<br/>
Когда вокруг<br/>
Плакал дождь.<br/>
И в крике ветров<br/>
Нашел я ответ:<br/>
Мой ум сдох<br/>
Его больше нет. <br/>
<br/>
Проигрыш: F# F# F F  <br/>
G-----2-1-1-0-3-2-<br/>
D-5-4-------------<br/>
A-----------------<br/>
E-----------------<br/>
F E<br/>
<br/>
Мой ум сдох<br/>
Холодной зимой,<br/>
Когда вокруг<br/>
Танцевала метель.<br/>
И в мраморе льда<br/>
Нашел я ответ:<br/>
Мой ум сдох<br/>
Его больше нет. <br/>
<br/>
Проигрыш: F E<br/>
<br/>
    F    E<br/>
Мой ум сдох,<br/>
    F    E<br/>
Мой ум сдох,<br/>
    F    E<br/>
Мой ум сдох,<br/>
    F    E<br/>
Мой ум сдох,<br/>
    F    E<br/>
Мой ум сдох,<br/>
    F    E<br/>
Мой ум сдох,<br/>
    F    E<br/>
Мой ум сдох,<br/>
    F    E<br/>
Мой ум сдох,<br/>
    F    E   E F F F E<br/>
Мой ум сдох...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
