{% extends "chords.html" %}

{% set title = "Музыка серебряных спиц" %}
{% set handbook_unid = "ad4cc98cd131ebe9c325679d006aeed7" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАДИО АФРИКА - музыка серебряных спиц<br/>
</span><span style="color:red"> <br/>
МУЗЫКА СЕРЕБРЯНЫХ СПИЦ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Колокол: <br/>
E-7-------7--------7--<br/>
H-10------10-------10-<br/>
G-0-------0--------0--<br/>
<br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: Dsus4 D – 2р.<br/>
<br/>
G                 Hm<br/>
 Доверься мне в главном,<br/>
    C                  D<br/>
Не верь во всём остальном;<br/>
G               Hm<br/>
 Не правда ли, славно,<br/>
      C                D<br/>
Что кто-то пошёл за вином?<br/>
Em              D<br/>
  Остался лишь первый месяц,<br/>
  C        D<br/>
Но это пустяк.<br/>
Em             F#m<br/>
  Когда я был младше,<br/>
       C                   D<br/>
Я не знал, что может быть так;<br/>
Em      Em+7     Em7       Em/c#<br/>
  Они стоят, как камни в лесу,<br/>
     A            <span style="color:#999999"> Dsus4</span> D<br/>
Но кто подаст им знак? <br/>
<br/>
G Hm         C         D<br/>
   Музыка серебряных спиц, а-а<br/>
G Hm         C         D<br/>
   Музыка серебряных спиц, а-а<br/>
G Hm         C         D     C Dsus4 D<br/>
   Музыка серебряных спиц, а-а <br/>
<br/>
Мы ждали так долго -<br/>
Что может быть глупее, чем ждать?<br/>
Смотри мне в глаза,<br/>
Скажи мне, могу ли я лгать?<br/>
И я ручаюсь,<br/>
Я клянусь на упавшей звезде:<br/>
Я знаю тропинку,<br/>
Ведущую к самой воде;<br/>
И те, что смеются среди ветвей -<br/>
Им будет на что глядеть<br/>
<br/>
Под музыку серебряных спиц, а-а<br/>
Под музыку серебряных спиц, а-а<br/>
О, музыка серебряных спиц, а-а<br/>
<br/>
Cm(III)        F<br/>
   Я где-то читал<br/>
   B          B/a       Gm<br/>
О людях, что спят по ночам;<br/>
             D#<br/>
Ты можешь смеяться -<br/>
     G(III)        Cm(III) F Dsus4 D<br/>
Клянусь, я читал это сам. <br/>
<br/>
Проигрыш: <br/>
G Hm C D G Hm C D Em D C D G Hm C D Dsus4<br/>
<br/>
Музыка серебряных спиц, а-а<br/>
Под музыку серебряных спиц, а-а<br/>
G    Hm       C         D     C  D<br/>
 О, музыка серебряных спиц, а-а, о-о-о-о<br/>
<br/>
Музыка серебряных спиц, а-а<br/>
Под музыку серебряных спиц, а-а<br/>
G    Hm       C        D      C  D <br/>
 О, музыка серебряных спиц, а-а, о-о-о-о<br/>
<br/>
<span style="background:#F1F1F1"> </span><span style="background:#EEEEEE"> </span><span style="color:#4D4D4D;background:#EEEEEE">Музыка</span><span style="background:#EAEAEA"> </span><span style="color:#5F5F5F;background:#EAEAEA">серебряных</span><span style="background:#E6E6E6"> </span><span style="color:gray;background:#E6E6E6">спиц,</span><span style="background:#E6E6E6"> </span><span style="color:#B2B2B2;background:#E2E2E2">а-а<br/>
</span><span style="color:#969696;background:#E2E2E2">Под </span><span style="color:#B2B2B2;background:#E2E2E2">музыку</span><span style="background:#E2E2E2"> </span><span style="color:silver;background:#E2E2E2">серебряных спиц,</span><span style="background:#E2E2E2"> </span><span style="color:#DDDDDD;background:#E2E2E2">а-а<br/>
О________________________________<br/>
<br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em+7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em/c#<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Cm(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|-■-|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           B/a<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   III       D#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
