{% extends "chords.html" %}

{% set title = "Мы никогда не станем старше" %}
{% set handbook_unid = "375d92b65f752859c325679d006af2e8" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - КОНЦЕРТНЫЕ ЗАПИСИ - мы никогда не станем старше<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
мы никогда не станем старше <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
E-10---10-10--10-10---<br/>
H---------------------<br/>
G---------------------<br/>
Dm - 10 p.<br/>
Dm F C Dm - 8p.<br/>
Dm F C Dm C G - 12p.<br/>
<br/>
<br/>
Dm       F  C   Dm        C  G Dm F C Dm C G <br/>
  Я не знал что все так просто<br/>
Dm          F    C       Dm   C  G Dm F C Dm C G <br/>
  Я даже стал теперь другого роста<br/>
Dm           F C     Dm  C  G Dm F C Dm C G <br/>
  Но в этих реках такая вода<br/>
Dm        F  C     Dm      C  G Dm F C Dm C G <br/>
  Что я пью не дождавшись тоста<br/>
<br/>
Проигрыш: Dm F C Dm C G - 4p. <br/>
<br/>
Наши секреты стали шрифтом по стенам<br/>
Наши подарки подвержены ценам<br/>
И я кричу тебе через барьер<br/>
Пока актеры не сошли со сцены<br/>
<br/>
F Em C     B            Dm  F C Dm C G  <br/>
Мы  никогда не станем старше<br/>
F Em C     B            Dm  F C Dm C G  <br/>
Мы  никогда не станем старше <br/>
Dm         F C Dm C G <br/>
  Мы пили воду, <br/>
   Dm        F  C   Dm C G <br/>
Мы пили эту чистую воду<br/>
  C B  G     A           Dm<br/>
И мы  никогда не станем старше<br/>
<br/>
Проигрыш: Dm F C Dm C G - 80p.      <br/>
<br/>
У нас был сад, но мы не знали входа<br/>
У нас был путь, но мы боялись лезть в воду<br/>
Теперь я вижу чистое небо<br/>
И мне не нужен прогноз погоды<br/>
<br/>
И мы никогда не станем старше<br/>
Мы никогда не станем старше<br/>
Мы пили воду, <br/>
Мы пили эту чистую воду<br/>
И мы никогда не станем старше<br/>
<br/>
Проигрыш: Dm F C Dm C G - 2p.<br/>
<br/>
Dm F C    Dm    С G  Dm F C Dm    С   G  Dm F C Dm C  G  <br/>
      Ты помнишь мы пили    эту чистую воду<br/>
Dm       F   C          Dm   C G <br/>
  Но что они сделали с землей             <br/>
Dm         F  C      Dm        C        G   Dm F C <br/>
  Что они сделали с нашей прекрасной сестрой<br/>
Dm       F C   Dm  C G     Dm F C <br/>
  Там где была вода - там пыль<br/>
Dm              C G  Dm C G Dm F C Dm C G <br/>
  Там где была земля -     пыль<br/>
Dm              F    C     Dm C G <br/>
  Когда ты просыпаешся утром<br/>
Dm             F     C         Dm        C   G <br/>
  Нет, ты еще не проснулась ты спишь, как ребенок<br/>
     Dm    F     C            Dm     C G <br/>
Ты считаешь что новый день будет ясным<br/>
<br/>
Проигрыш: Dm F C Dm C G <br/>
<br/>
Dm   F  C Dm C G <br/>
  Мы пили...<br/>
Dm      F C   Dm      C G Dm F C Dm C  G  <br/>
  Мы пили эту чистую воду, <br/>
   Dm        F  C   Dm C G <br/>
Мы пили эту чистую воду<br/>
 Dm      F  C   Dm       C  G  Dm  F C Dm C G  <br/>
чистую, чистую, чистую, чистую воду<br/>
<br/>
Проигрыш: Dm F C Dm C G <br/>
<br/>
     Dm      F  C  Dm  C G <br/>
Мы пили эту чистую воду<br/>
     Dm      F  C  Dm  C G <br/>
Мы пили эту чистую воду<br/>
     Dm      F  C  Dm  C G <br/>
Мы пили эту чистую воду<br/>
   C B G              Dm<br/>
И мы       не станем старше<br/>
<br/>
Заключение: Dm F C Dm C G - 8p. Dm F C Dm Dm Em…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
