{% extends "chords.html" %}

{% set title = "Надя-Наденька" %}
{% set handbook_unid = "9630222072bffc24c325685f00748db7" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ БУЛАТА ОКУДЖАВЫ - надя-наденька<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Надя-наденька <br/>
</span><i>Б.Окуджава<br/></i>
 <br/>
Вступление: Am - 4p.<br/>
<br/>
        Am                 Am<br/>
Из окон корочкой несет поджаристой,<br/>
        G                   C<br/>
За занавесками - мельканье рук.<br/>
           Dm                   Am<br/>
Здесь остановки нет, а мне - пожалуйста,<br/>
         E                   Am<br/>
Шофер автобуса - мой лучший друг.<br/>
<br/>
А кони в сумерках колышут гривами,<br/>
Автобус новенький, спеши, спеши.<br/>
Ах, Надя, Наденька, мне б за двугривенный,<br/>
В любую сторону твоей души.<br/>
<br/>
Она в спецовочке такой промасляной,<br/>
Берет немыслимый такой на ней.<br/>
Ах, Надя, Наденька, мы были б счастливы,<br/>
Куда же гонишь ты своих коней.<br/>
<br/>
Но кони в сумерках колышут гривами,<br/>
Автобус новенький, спеши, спеши.<br/>
Ах, Надя, Наденька, мне б за двугривенный,<br/>
В любую сторону твоей души.<br/>
<br/>
Из окон корочкой несет поджаристой,<br/>
За занавесками - мельканье рук.<br/>
Здесь остановки нет, а мне - пожалуйста,<br/>
Шофер автобуса - мой лучший друг.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
