{% extends "chords.html" %}

{% set title = "Начальник фарфоровой башни" %}
{% set handbook_unid = "2a428f6b779930e5c325679d006af093" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ▼ - начальник фарфоровой башни<br/>
</span><span style="color:red"> <br/>
НАЧАЛЬНИК ФАРФОРОВОЙ БАШНИ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: E F#m A(V) H(VII) E – 2p.<br/>
<br/>
E                     F#m<br/>
 Начальник фарфоровой башни,<br/>
A(V)       H(VII)    E<br/>
  Часами от пороха пьян.<br/>
E                  F#m<br/>
 Жрецы издыхают на пашне,<br/>
A(V)          H(VII)      E<br/>
   И с голоду бьют в барабан.<br/>
 A(V) C#m              F#m<br/>
А он,    полуночный мечтатель,<br/>
A(V)     C#m             F#m<br/>
  С часами на длинном ремне,<br/>
E                F#m<br/>
 Всё пробует розги на чьём-либо мозге,<br/>
A(V)           H(VII)      E<br/>
    И шлёт провожатых ко мне.<br/>
<br/>
Проигрыш: E F#m A(V) H(VII) E – 2p.<br/>
<br/>
А что мне с такого расклада?<br/>
Я весел от запаха рыб.<br/>
И там, где речная прохлада,<br/>
Я строю cвой храм из коры.<br/>
Я чести такой недостоин,<br/>
Я счастлив, что там, вдалеке,<br/>
Бредёт приблизительный воин<br/>
С моим подсознаньем в руке.<br/>
<br/>
Проигрыш: E F#m A(V) H(VII) E – 2p.<br/>
<br/>
A(V)         C#m      F#m<br/>
   Я чести такой недостоин,<br/>
A(V)               C#m      F#m<br/>
   Я счастлив, что там, вдалеке,<br/>
E                        F#m<br/>
 Бредёт приблизительный воин<br/>
A(V)             H(VII)      E<br/>
   С бутылкой портвейна в руке.<br/>
<br/>
Заключение: F#m A(V) H(VII) E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII    H(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
