{% extends "chords.html" %}

{% set title = "Нами торгуют" %}
{% set handbook_unid = "d5163aa13f6784d8c325679d006af069" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАША ЖИЗНЬ С ТОЧКИ ЗРЕНИЯ ДЕРЕВЬЕВ - нами торгуют<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Нами торгуют<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 5-м ладу <br/></i>
 <br/>
Вступление: D C G - 8p.<br/>
<br/>
D             C          G       D               C  G<br/>
 Мы стали настолько сильны, что нам уже незачем петь,<br/>
D               C       G        D C G<br/>
 Настолько популярны, что туши свет.<br/>
D               C         G            D             C  G<br/>
 Мы танцуем удивительные танцы, превращая серебро в медь,<br/>
D            C      G      D              C<br/>
 И мы чрезвычайно удобны, мы не говорим "нет",<br/>
       G        D C G<br/>
Когда нами торгуют, <br/>
         D  C G<br/>
Нами торгуют<br/>
         D  C G<br/>
Нами торгуют<br/>
         D  C G<br/>
Нами торгуют<br/>
<br/>
Проигрыш: D C G - 2p.<br/>
<br/>
Нас видно на обложках журналов, нам весело сниматься в кино,<br/>
И девушки мечтают продолжить наш род.<br/>
Раньше мы смотрели в сторону гор, теперь нам всё равно.<br/>
Нам больше не поднять головы, вперёд!<br/>
Туда где нами торгуют, <br/>
Нами торгуют<br/>
Нами торгуют<br/>
Нами торгуют<br/>
<br/>
Проигрыш: G G D C G D C G - 2p.<br/>
<br/>
Мы стали настолько сильны, что нам уже незачем петь,<br/>
Выноси всех святых и туши свет.<br/>
Мы танцуем удивительные танцы, превращая серебро в медь,<br/>
И мы чрезвычайно удобны, мы не говорим "нет",<br/>
Когда нами торгуют, <br/>
Нами торгуют<br/>
Нами торгуют<br/>
Нами торгуют<br/>
<br/>
Заключение: G G D  <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
