{% extends "chords.html" %}

{% set title = "Народный герой думает об основании династии" %}
{% set extra_title = "(инструментал)" %}
{% set handbook_unid = "72bdb67a170394b9c325679d006af381" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ИНСТРУМЕНТАЛЫ - народный герой думает об основании династии<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">народный герой думает об основании династии<br/>
</span><i>Б.Гребенщиков<br/>
 <br/></i>
Dm Am Dm Am Dm Am C F, Dm Am Dm Am Dm Am C F Am<br/>
<b>Dm Am Dm Am Dm Am C F, Dm Am Dm Am Dm Am C F Am<br/>
</b><span style="font-size:11.0pt">Dm Am Dm Am Dm Am C F, Dm Am Dm Am Dm Am C F Am<br/>
</span><b><span style="font-size:11.0pt">Dm Am Dm Am Dm Am C F, Dm Am Dm Am Dm Am C F Am<br/>
</span>Dm Am Dm Am Dm Am C F, Dm Am Dm Am Dm Am C F Am<br/>
<br/>
<br/>
<br/>
</b><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
