{% extends "chords.html" %}

{% set title = "На её стороне" %}
{% set handbook_unid = "dd6b08daea6ee528c325679d006aeec2" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛИЛИТ - на её стороне<br/>
</span><span style="color:red"> <br/>
НА ЕЁ СТОРОНЕ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление:<br/>
H--------------------------------------<br/>
G--------------------------------------<br/>
D-------------------------------------- - 2p. Am - 4p.<br/>
A------0-2-3-0-3-0-3-----0-2-3-0-3-0-0-<br/>
E-0-3----------------0-3---------------<br/>
Am F Em G - 3p. Am F G Am Am<i><br/></i>
 <br/>
Am               F   Em                G<br/>
  Дело было в Казани, дело кончилось плохо<br/>
Am          F                Em                  G<br/>
  Хотя паруса его флота были из самоцветных камней<br/>
C                G  Em          F<br/>
 На него гнула спину страна и эпоха<br/>
F               Em            G             Am <br/>
 Но она была в шёлковом платье и много сильней<br/>
<br/>
Проигрыш: Am<br/>
<br/>
Утро не предвещало такого расклада<br/>
Кто-то праздновал Пасху, где-то шла ворожба<br/>
И Волга мирно текла, текла, куда ей было надо<br/>
И войска херувимов смотрели на то, как вершилась судьба<br/>
<br/>
Проигрыш: Am – 3p.<br/>
<br/>
На подъездах к собору пешим не было места<br/>
На паперти - водка-мартини, соболя-жемчуга<br/>
Но те, кто знал, знали, когда придут конвой и невеста<br/>
Лучше быть немного подальше, если жизнь дорога<br/>
<br/>
Когда вышел священник, он не знал, что ему делать<br/>
То ли мазать всех миром, то ли блевать с алтаря<br/>
А жених, хоть крепился, сам был белей мела<br/>
А по гостям, по которым не плакал осиновый кол, рыдала петля<br/>
<br/>
C            G               F G<br/>
 И никто не помнит, как это было<br/>
         C       G   Em            F<br/>
Те, кто помнят, те в небе или в огне<br/>
C                G       Em                      F<br/>
 Но те, кто сильны - сильны тем, что знают, где сила<br/>
D(V)                  Am<br/>
    А сила на её стороне<br/>
<br/>
Проигрыш: Am – 3p.<br/>
Am F Em G – 3p. Am F G Am <br/>
Am – 3p.<br/>
<br/>
Говорят, что был ветер - ветер с ослепительным жаром<br/>
Говорят, что камни рыдали, когда рвалась животворная нить<br/>
А ещё говорят, что нельзя вымогать того, что даётся даром<br/>
И чем сильнее ты ударишься об воду, тем меньше хлопотать-хоронить<br/>
<br/>
Он один остался в живых. Он вышел сквозь контуры двери<br/>
Он поднялся на башню. Он вышел в окно<br/>
И он сделал три шага - и упал не на землю, а в небо<br/>
Она взяла его на руки, потому что они были одно<br/>
<br/>
И никто не помнит, как это было<br/>
Те, кто помнят, те в небе или в огне<br/>
Но те, кто сильны - сильны тем, что знают, где сила<br/>
А сила на её стороне<br/>
<br/>
Заключение: Am – 3p.<br/>
Am F Em G Am F Em G Am F Em G Am F G Am – 2p. Am Am Am Am Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     D(V)<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
