{% extends "chords.html" %}

{% set title = "Науки юношей" %}
{% set handbook_unid = "55862902684f1994c325679d006af081" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛЮБИМЫЕ ПЕСНИ РАМЗЕСА IV - науки юношей<br/>
</span><span style="color:red"> <br/>
НАУКИ ЮНОШЕЙ<br/>
</span><i>Б. Гребенщиков<br/>
 <br/></i>
Вступление: <br/>
          Am                G        C           G<br/>
E----8-7--12-10-8-7-8-7-5-3-7--0-1-0-3-0-1-3-5-7-1<br/>
H----8-9----------------------------------------3-<br/>
G----9-9----------------------7-------------------<br/>
D-10----------------------------------------------<br/>
  Am                G        C C<br/>
E-12-10-8-7-8-7-5-3-7--0-1-0----<br/>
H----------------------------1--<br/>
G---------------------7---------<br/>
D-------------------------------<br/>
<br/>
F      G         C   F          G            Em F<br/>
 Науки юношей питают, но каждый юнош - как питон,<br/>
F           G           C F F          G        C<br/>
 И он с земли своей слетает, надев на голову бидон.<br/>
F          G          C    F         G        Em F<br/>
 На нём висят одежды песьи; светлее солнца самого,<br/>
F           G          C  F F            G       C<br/>
 Он гордо реет в поднебесье, совсем не зная ничего.<br/>
<br/>
Проигрыш: F G C F G Em F F G C F F G C<br/>
<br/>
Под ним река, над нею - древо, там рыбы падают на дно.<br/>
А меж кустами бродит дева, и всё, что есть, у ней видно.<br/>
А он в порыве юной страсти летит на деву свысока,<br/>
Кричит и рвёт её на части, и мнёт за нежные бока.<br/>
<br/>
Проигрыш: F G C F G Em F F G C F F G C – 2p. <br/>
   Am               G        C           G<br/>
E-12-10-8-7-8-7-5-3-7--0-1-0-3-0-1-3-5-7-1<br/>
H---------------------------------------3-<br/>
G---------------------7-------------------<br/>
  Am                G        C C<br/>
E-12-10-8-7-8-7-5-3-7--0-1-0----<br/>
H----------------------------1--<br/>
G---------------------7---------<br/>
<br/>
Пройдёт зима, наступит лето, и станет всё ему не то;<br/>
Грозит он деве пистолетом, и всё спешит одеть пальто.<br/>
Прощай, злодей, венец природы; грызи зубами провода;<br/>
Тебе младенческой свободы не видеть больше никогда.<br/>
<br/>
Заключение: F G C F G Em F F G C F F G C – 4p.<br/>
      <span style="color:#5F5F5F">E-1-5-1-2-5-2--5~~<br/>
F G C H------------3-7~~<br/>
      G--------------5~~<br/>
<br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
