{% extends "chords.html" %}

{% set title = "Нам всем будет лучше" %}
{% set handbook_unid = "077a98094246cc82c325679d006aefaf" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - нам всем будет лучше<br/>
</span><span style="color:red"> <br/>
НАМ ВСЕМ БУДЕТ ЛУЧШЕ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
    C   Em  Dm G<br/>
E--5sl8--5--3--0--<br/>
H-----------------<br/>
G-0---------------<br/>
    C    Em Dm G     C<br/>
E--5sl8--5--3--0-0-0h8-5-3-0-0-3-5-<br/>
H---------------------------3------<br/>
G----------------------------------<br/>
<br/>
    C    G         C<br/>
Когда-то я был воспитан,<br/>
 C      G        C  F C<br/>
Хотя и не без потерь,<br/>
C         G        C  C/h<br/>
Если со мной были дамы,<br/>
      Am               G<br/>
Я всегда открывал им дверь;<br/>
   Am            G<br/>
Но если б я был вежлив сейчас,<br/>
  Am            G<br/>
То это была бы ложь;<br/>
        Am  F     C<br/>
И нам всем будет лучше,<br/>
    C  G    F  C<br/>
Когда ты уйдёшь.<br/>
<br/>
Проигрыш: Am Em F G C<br/>
<br/>
Твой муж был похож на бога,<br/>
Но стал похожим на тень;<br/>
Теперь он просто не может<br/>
То, что раньше ему было лень;<br/>
Я знаю, что это карма,<br/>
И против неё не попрёшь,<br/>
Но нам всем будет лучше,<br/>
Когда ты уйдёшь.<br/>
<br/>
Проигрыш: Am Em Dm G - 2p.<br/>
<br/>
Am              Em<br/>
Ту ту ту ту-ду ту ду<br/>
  Am           Em<br/>
Ту ту ту-ду ту-ду<br/>
Am             Em<br/>
Ту ту ту ту-ду ту ду<br/>
F G A G<br/>
А-а-а…<br/>
<br/>
Когда приходит корабль,<br/>
То каждый в гавани рад;<br/>
Но если б ты была в море,<br/>
Я сжёг бы концы и трап.<br/>
И если б ты была сахар, <br/>
Боюсь, я вызвал бы дождь;<br/>
И нам всем будет лучше,<br/>
Когда ты уйдёшь.<br/>
<br/>
Am               Em <br/>
  Ту ту ту ту-ду ту ду<br/>
 Am            Em<br/>
Ту ту ту-ду ту-ду<br/>
Am             Em<br/>
Ту ту ту ту-ду ту ду<br/>
C   G F   C<br/>
А-а-а-а-а-а<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
