{% extends "chords.html" %}

{% set title = "Не стой на пути у высоких чувств" %}
{% set handbook_unid = "472f7eae9403e3c6c325679d006aeece" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ФЕОДАЛИЗМ - не стой на пути у высоких чувств<br/>
</span><span style="color:red"> <br/>
НЕ СТОЙ НА ПУТИ У ВЫСОКИХ ЧУВСТВ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Господи-и-ин Галиневский…<br/></i>
 <br/>
Вступление: G D A – 8p.<br/>
<br/>
D              A<br/>
 Джульетта оказалась пиратом,<br/>
     Hm                G<br/>
А Ромео был морской змеёй.<br/>
D         A<br/>
 Их лица были чисты,<br/>
  Hm               G<br/>
А после наступил зной.<br/>
D         A<br/>
 Ромео читал ей Шекспира,<br/>
   Hm              G<br/>
Матросы плакали вслух.<br/>
G<br/>
 Капитан попытался вмешаться,<br/>
                         A<br/>
Но его смыло за борт волной;<br/>
<br/>
G            A              G D  G D<br/>
 Не стой на пути у высоких чувств,<br/>
G             A         G D G D<br/>
 А если ты встал - отойди,<br/>
G                A<br/>
 Это сказано в классике,<br/>
  G               A<br/>
Сказано в календарях,<br/>
G                 A<br/>
 Об этом знает любая собака:<br/>
     G                              D<br/>
Не плюй против ветра, не стой на пути.<br/>
<br/>
Проигрыш: D D A G D G D – 2p.<br/>
<br/>
Прошлой ночью на площади<br/>
Инквизиторы кого-то жгли.<br/>
Пары танцевали при свете костра,<br/>
А потом чей-то голос скомандовал: "Пли!"<br/>
Типичное начало новой эры<br/>
Торжества прогрессивных идей.<br/>
Мы могли бы войти в историю;<br/>
Мы туда не пошли.<br/>
<br/>
Не стой на пути у высоких чувств,<br/>
А если ты встал - отойди.<br/>
Это сказано в классике,<br/>
Сказано в календарях.<br/>
Об этом знает любая собака:<br/>
Не плюй против ветра, не стой на пути.<br/>
<br/>
Проигрыш: D D A G D G D – 2p. <span style="color:#292929">D – 8p.<br/></span>
 <br/>
<span style="color:red">Аншан-тей!<br/></span>
 <br/>
D D A G D G D – 2p.<br/>
<br/>
Потом они поженились<br/>
И всё, что это повлекло за собой,<br/>
Матросы ликовали неделю,<br/>
А после увлеклись травой.<br/>
Иван Сусанин был первым,<br/>
Кто заметил, куда лежит курс:<br/>
Он вышел на берег, встал к лесу передом,<br/>
А к нам спиной, и спел:<br/>
<br/>
"Не стой на пути у высоких чувств,<br/>
А если ты встал - отойди.<br/>
Это сказано в классике,<br/>
Сказано в календарях.<br/>
Об этом знает любая собака:<br/>
     G                              G<br/>
Не плюй против ветра, не стой на пути".<br/>
   G                               G<br/>
И лес расступился, и все дети пели:<br/>
                            G     D D<br/>
"Не стой на пути у высоких чувств!"<br/>
<br/>
Заключение: G D A – 8p. D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
