{% extends "chords.html" %}

{% set title = "Немое кино" %}
{% set handbook_unid = "ebe224680f67332dc325679d006af237" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ИХТИОЛОГИЯ - немое кино<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Немое кино<br/>
</span><i>Б. Гребенщиков</i>
 <br/>
Вступление: Em Am – 4p.<br/>
<br/>
   Em                  Am <br/>
У меня был друг, его звали Фома,<br/>
     Hm                   Em<br/>
Он забыл все слова кроме слова чума.<br/>
    Em                Am<br/>
С утра было лето, а теперь зима,<br/>
   Hm                Em<br/>
Наверно мой ревер сошёл с ума.<br/>
<br/>
    Em               Am<br/>
Я устал пить чай, устал пить вино,<br/>
   Hm                 Em<br/>
Зажёг весь свет, но стало темно.<br/>
 Em             Am<br/>
Десять лет я озвучивал фильм,<br/>
        D            Em<br/>
Но это было немое кино.<br/>
<br/>
Проигрыш: Em Am – 4p.<br/>
<br/>
Панки любят грязь, а хиппи цветы,<br/>
И тех и других берут в менты.<br/>
Ты можешь жить любя, ты можешь жить грубя,<br/>
Но если ты не мент, возьмут и тебя.<br/>
<br/>
Я устал пить чай, устал пить вино,<br/>
Зажёг весь свет, но стало темно.<br/>
Десять лет я озвучивал фильм,<br/>
Но это было немое кино.<br/>
<br/>
И я видел чудеса обоих столиц-<br/>
Святых без рук и женщин без лиц,<br/>
Все ангелы в запое, я не помню кто где,<br/>
У рокеров рак мозга, а джазмены в пизде.<br/>
<br/>
И я устал пить чай, устал пить вино,<br/>
Зажёг весь свет, но стало темно.<br/>
Десять лет я озвучивал фильм,<br/>
Но это было немое кино.<br/>
<br/>
Я устал пить чай, устал пить вино,<br/>
Забыл все слова кроме слова говно.<br/>
Десять лет я озвучивал фильм,<br/>
        D            C C/h Am Em<br/>
Но это было немое кино.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
