{% extends "chords.html" %}

{% set title = "Не надо мне мешать" %}
{% set handbook_unid = "44751371dd408a74c325679d006aef6a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - КОНЦЕРТНЫЕ ЗАПИСИ - не надо мне мешать<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
не надо мне мешать<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
G(III) - 3p. <br/>
G(III) C(III) - 2p. <br/>
Am7(V) D7(V) - 4p.<br/>
<br/>
Am7(V)              D7(V)<br/>
     Какая странная вещь -<br/>
   Am7(V)              D7(V)<br/>
За письменным столом я стою, как в строю.<br/>
Am7(V)      D7(V)<br/>
     Я жду того,<br/>
Am7(V)          D7(V)<br/>
     Кто знает о чем я пою,<br/>
Am7(V)             D7(V)<br/>
     Что я вижу во сне,<br/>
Am7(V)              D7(V)<br/>
     Чьи следы на новом снегу.<br/>
Am7(V)                     D7(V)<br/>
     Зачем заглядывать мне через плечо,<br/>
      Am7(V)         D7(V)          Am7(V) D7(V)<br/>
Если это загадка? То каждый видит свою.<br/>
<br/>
Am7(V)           D7(V)<br/>
   Не надо мне мешать,<br/>
Am7(V)           D7(V)<br/>
   Не надо мне мешать.<br/>
     F                   E<br/>
Если это любовь, то мне нечем дышать,<br/>
    Am7(V)     E   E<br/>
Не надо мне мешать.<br/>
<br/>
Проигрыш: Am7(V) D7(V) - 8p.<br/>
<br/>
Теперь ты хочешь сделать меня<br/>
Послушным, как пёс, но я послушен как пес.<br/>
Скажи мое настоящее имя,<br/>
И я пойду за тобой, не тратя слез.<br/>
Вот все, что я есть:<br/>
Возьми меня как бога или выбрось прочь.<br/>
Вот крылья, данные мне:<br/>
Или вверх со мной - или это уже не вопрос.<br/>
<br/>
Но не надо мне мешать,<br/>
Не надо мне мешать.<br/>
Если это любовь, то мне нечем дышать,<br/>
Не надо мне мешать.<br/>
<br/>
G(III)                F#<br/>
   И я не жду больше женщин<br/>
    Hm                  D<br/>
Я знаю, это замкнутый круг.<br/>
E<br/>
 Я жду кого-то, кто разбудит меня,<br/>
D                                 F  E<br/>
 Я жду кого-то, кого я смогу защитить.<br/>
           Am7(V) D7(V)<br/>
Мне нужен друг.<br/>
Am7(V)       D7(V) <br/>
   Мне нужен новый друг.<br/>
Am7(V)           D7(V)<br/>
   Не надо мне мешать,<br/>
          Am7(V) D7(V)<br/>
Мне нужен друг.<br/>
<br/>
Заключение: Am7(V) D7(V) - 2p. Am7(V)<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Am7(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     D7(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
