{% extends "chords.html" %}

{% set title = "Неизъяснимо" %}
{% set handbook_unid = "6ea9d142be6fe258c32573e3006de409" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛОШАДЬ БЕЛАЯ - неизъяснимо<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
неизъяснимо<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу <br/></i>
 <br/>
Вступление:<br/>
  С           F          G   C             F          G<br/>
E-0-------------3-0-0-3-1-----------0------1---3h0-0---<br/>
H-1-1-1-0-1-0-1----1-------0-1---1-1-0-1-0-1-1------1--<br/>
G-0-0---------2-----------0--0--0----------2--2------0- <br/>
D-2-2---------3--------------2-2-----------3----------0<br/>
A-3----------------------2---3------------------------2<br/>
E------------------------------------------------------<br/>
  С     F    G  C    F   G   C<br/>
E-0--0--1--0----0---0---------<br/>
H--1---------3----3--1---0---1<br/>
G-----------------------------<br/>
D-----------------------------<br/>
A-----------------------------<br/>
E-----------------------------<br/>
<br/>
C                  F            G<br/>
 То, что происходит я даже не знаю<br/>
C             F            G<br/>
 Я иду в огне, но я не сгораю<br/>
Am                   D<br/>
  Катишься по рельсам гасишься и гаснешь<br/>
Dm            Dm7   Fm<br/>
  И вдруг это сердце  распахнуто настежь<br/>
C       Am          Dm<br/>
 И вагон, где ты был  проносится мимо<br/>
    F C Dm        G C F G C F G<br/>
И всё     неизъяснимо.<br/>
<br/>
C                   F           G<br/>
 То, что происходит, чудная картина<br/>
C                 F              G<br/>
 Радуга над башней Святого Валентина<br/>
Am                 D<br/>
  Все мои проблемы, раскрашенный воздух<br/>
Dm               Dm7  Fm<br/>
  А всё, что мне нужно  сказано в звездах<br/>
C      Am     Dm<br/>
 И мысли летят  клочьями дыма<br/>
    F C Dm        G F C<br/>
И всё     неизъяснимо.<br/>
<br/>
G<br/>
 А поезд едет дальше<br/>
C<br/>
 И гудок гудит снова<br/>
G<br/>
 И все пассажиры<br/>
C<br/>
 Вымазаны красным<br/>
Am<br/>
  А я стою молча<br/>
Em<br/>
  Я не знаю ни слова<br/>
Dm<br/>
  Но всё, что было смутным<br/>
F           G<br/>
 Становится ясным.<br/>
<br/>
C                   F             G<br/>
 День еще не прожит, путь еще не начат<br/>
C                   F               G<br/>
 Слова в этих книгах так мало что значат<br/>
Am                 D<br/>
  Я думал, я умный, ходил играл в прятки<br/>
Dm               Dm7  Fm<br/>
  Я больше не стараюсь, теперь всё в порядке<br/>
C       Am        Dm<br/>
 И огонь в глубине  горит негасимо<br/>
    F C Dm        G С F G С F G<br/>
И всё     неизъяснимо.<br/>
<br/>
Заключение: C F G - 14p. C<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm7<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Fm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
