{% extends "chords.html" %}

{% set title = "Некоторые женятся (А некоторые-так)" %}
{% set handbook_unid = "50447338c262525cc325679d006af0f9" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛИЛИТ - некоторые женятся (а некоторые - так)<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Некоторые женятся (А некоторые – так)<br/>
</span><i>Б. Гребенщиков  <br/>
Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: <br/>
G Em G Em G Gdim C D, G Em G Em G C D G D Dsus4 D<br/>
<br/>
G               Em       C                  G<br/>
 Она сказала “Пока”, он долго смотрел ей вслед<br/>
G                Em          C             G<br/>
 Для неё прошла ночь, для него три тысячи лет,<br/>
G                H7                Em               C<br/>
 За это время десяток империй расцвёл и рухнул во мрак,<br/>
G    D         G  C   G       D     G D D<br/>
 Но некоторые женятся, а некоторые так…<br/>
<br/>
Раньше мы жили завтра, теперь и сегодня-вчера,<br/>
Вместо Роллингов – хакеры, вместо Битлов – юзера,<br/>
Бригады ломятся в церковь, святому место – кабак,<br/>
И некоторые женятся, а некоторые так.<br/>
<br/>
Проигрыш:<br/>
G Em G Em G Gdim C D, G Em G Em G C D G D Dsus4 D<br/>
<br/>
У некоторых сердце поёт, у некоторых болит, <br/>
Он нажимает на “Save”, она нажимает “Delete”<br/>
И нет смысла спрашивать “кто”, нет смысла спрашивать “как”<br/>
Ведь некоторые женятся, а некоторые так.<br/>
<br/>
Спасибо Богу за хлеб, который отпущен нам днесь, <br/>
Но в мире есть что-то ещё, я клянусь, она где-то здесь,<br/>
И солнце остановится в небе, когда она даст ему знак, <br/>
G       D     G  C  G        D     Em  <br/>
 И некоторые женятся, а некоторые так.<br/>
G     D     G  C   G     D     G <br/>
 Некоторые женятся, некоторые так.<br/>
<br/>
Заключение: Em G Em G C D G C G D G… <br/>
G H7 Em C <span style="color:gray">G D</span> <span style="color:#999999">G C</span> <span style="color:silver">G D</span> <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Gdim<br/>
  E---|---|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
