{% extends "chords.html" %}

{% set title = "Небо становится ближе" %}
{% set handbook_unid = "367ce9d683d5f516c325679d006aef4f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕНЬ СЕРЕБРА - небо становится ближе<br/>
</span><span style="color:red"> <br/>
НЕБО СТАНОВИТСЯ БЛИЖЕ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: D G – 4p.<br/>
<br/>
 D<br/>
Каждый из нас знал, что у нас<br/>
       D                         D<br/>
Есть время опоздать и опоздать ещё,<br/>
                      G D<br/>
Но выйти к победе в срок.<br/>
   D<br/>
И каждый знал, что пора занять место,<br/>
      D                                D<br/>
Но в кодексе чести считалось существенным<br/>
                    E--7-5<br/>
                  G H--8-6 D<br/>
                    G-----<br/>
Не приходить на урок;<br/>
   A7<br/>
И только когда кто-то вышел вперёд,<br/>
                                    Em G/f# G<br/>
И за сотни лет никто не вспомнил о нём,<br/>
          Gm<br/>
Я понял - небо<br/>
             A<br/>
Становится ближе<br/>
           Hm   A G<br/>
С каждым днём... <br/>
<br/>
Проигрыш: D G – 2p.<br/>
<br/>
        D<br/>
Мы простились тогда, на углу всех улиц,<br/>
                                         <span style="color:#333333">E--7-5<br/></span>
  D                                    G <span style="color:#333333">H--8-6</span> D<br/>
                                         <span style="color:#333333">G-----<br/></span>
Свято забыв, что кто-то смотрит нам вслед;<br/>
       D<br/>
Все пути начинались от наших дверей,<br/>
                                            <span style="color:gray">E--7-5<br/></span>
    D                                     G <span style="color:gray">H--8-6 </span>D<br/>
                                            <span style="color:gray">G-----<br/></span>
Но мы только вышли, чтобы стрельнуть сигарет.<br/>
       A7<br/>
И эта долгая ночь была впереди,<br/>
                                     Em G/f# G<br/>
И я был уверен, что мы никогда не уснём;<br/>
             Gm<br/>
Но знаешь, небо<br/>
               A<br/>
Становится ближе <br/>
          Hm A G<br/>
С каждым днём...<br/>
<br/>
   F#m<br/>
Сестра моя, куда ты смотрела, когда восход<br/>
                    Em G/f# G<br/>
Встал между нами стеной?<br/>
 Gm                              A<br/>
Знала ли ты, когда ты взяла мою руку,<br/>
                      Hm A G<br/>
Что это случится со мной? <br/>
<br/>
Проигрыш: <br/>
D D G D D D G D A7 A7 Em G/f# G Gm A Hm A G<br/>
<br/>
      D<br/>
И ты можешь идти и вперёд, и назад,<br/>
     D                             G  D <br/>
Взойти, упасть и снова взойти звездой;<br/>
           D                                 D<br/>
Но только пепел твоих сигарет - это пепел империй,<br/>
                           G  D<br/>
И это может случиться с тобой;<br/>
       A7                <br/>
Но голоса тех богов, что верят в тебя,<br/>
                                 Em G/f# G<br/>
Ещё звучат, хотя ты тяжел на подъём;<br/>
            Gm<br/>
Но знаешь, небо<br/>
               A<br/>
Становится ближе;<br/>
           Gm<br/>
Слышишь, небо<br/>
               A<br/>
Становится ближе;<br/>
          Gm<br/>
Смотри - небо<br/>
               A<br/>
становится ближе<br/>
                   Hm A G<br/>
С каждым днём.<br/>
<br/>
Заключение: D G – 8p. <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
