{% extends "chords.html" %}

{% set title = "Небо цвета дождя" %}
{% set handbook_unid = "5bf7a7b459f61ee2c3257908003acb79" %}

{% block content %}
{% raw %}
<span style="color:red;text-transform:uppercase">небо цвета дождя<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: Dm Dsus2 Dsus4 - 4p. Dsus2 Dm<br/>
<br/>
Dsus2               Dm            A7sus4<br/>
Долго мы пели про Свет, а сами шли сумраком<br/>
B/5-                    Dsus2 Dm<br/>
    Не замечая за болтовней<br/>
     Dsus2          Dm         A7sus4<br/>
Как ветер играл стеклянными струнами<br/>
B/5-         B/5-/g           Dsus2 Dm<br/>
   Соединяющими наши души с землёй<br/>
     C                         B/5-<br/>
Мы шли далеко, шли за высокими тайнами<br/>
                           A7<br/>
Шли, потому что иначе нельзя<br/>
Dsus2         Dm        Dsus2/5-<br/>
 А стерегущие дом замолкали и таяли<br/>
 4:0     5:III 5:I    5:0    6:III 6:I     <br/>
Один за другим таяли, таяли, таяли<br/>
   A7            Dsus2 Dm Dsus2 Dm<br/>
В небе цвета дождя<br/>
<br/>
Dsus2                  Dm               Dsus2/5-<br/>
 Пальцы октябрьских святых по-прежнему ласковы<br/>
B/5-             B/5-/g             Dsus2 Dm<br/>
  Только их лиц становится не разглядеть<br/>
Dsus2        Dm                    Dsus2/5-<br/>
Это всё я - видно не справился с красками<br/>
     B/5-       B/5-/g             A7<br/>
Или снова забыл слова, когда хотел петь<br/>
     C                             B/5-<br/>
Ничего, скоро январь затрещит за оградою<br/>
                                   A7<br/>
Своим ледяным питиём вороша и дразня<br/>
Dsus2            Dm         Dsus2/5-<br/>
Только бы мне устоять. Но я вижу - я падаю<br/>
 4:0   5:III  5:I    5:0    6:III 6:I<br/>
Падаю, падаю, падаю, падаю в небо<br/>
A7          Dsus2 Dm Dsus2 Dm<br/>
  Цвета дождя<br/>
<br/>
C                               B/5-<br/>
 А ещё говорят, что они были с крыльями<br/>
B/5-                          Dsus2 Dm<br/>
  И глаза у них были живая вода<br/>
     C                         B/5-<br/>
Но благостные слова опять пахнут пылью<br/>
       B/5-                           A7<br/>
И нас снова ведут и снова не скажут куда<br/>
<br/>
Проигрыш: Dsus2 Dm Dsus2/5- B/5- B/5-/g Dsus2 Dm - 2p. <br/>
C B/5- A7 Dsus2 Dm Dsus2/5- 4:0 5:III 5:I 5:0 6:III 6:I A7 Dsus2 Dm<br/>
<br/>
    Dsus2           Dm            Dsus2/5-<br/>
А в небе прозрачная тишь, и всё ясней ясного<br/>
B/5-      B/5-/g                     Dsus2 Dm<br/>
Времени нет, и значит, мы больше не ждём<br/>
Dsus2      Dm              Dsus2/5-<br/>
И в синеву сердце возносится ястребом<br/>
       B/5-    B/5-/g                A7<br/>
Чтобы благословить горящую землю дождём<br/>
   C                                 B/5-<br/>
Таких бесконечных цветов со мной ещё не было<br/>
                                      A7<br/>
И за горизонтом, вплотную к нему подойдя<br/>
Dsus2             Dm          Dsus2/5-<br/>
 Видишь, что сети пусты, и ловить было некого<br/>
  4:0      5:III   5:I       5:0    6:III  6:I <br/>
И никогда не было, не было, не было, не было<br/>
A7            4:0 3:II 2:III 1:0 4:0 3:II 1:I <br/>
Неба цвета дождя.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
о D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
о D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
о D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         A7sus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
о G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          B/5-<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
o D---|---|---|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          B/5-/g<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
о G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Dsus2/5-<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
о D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
