{% extends "chords.html" %}

{% set title = "Не трать время" %}
{% set handbook_unid = "ce22fb6689d4e182c325679d006af0a2" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- КОНЦЕРТНЫЕ ЗАПИСИ - не трать время<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
не трать время<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: A A D E - 8p.<br/>
<br/>
     A        D  E          A         D E   <br/>
Не трать время, милая, не трать время!<br/>
            A<br/>
Солнечный свет на этих ветвях,<br/>
          F#m<br/>
С нами ничего не случится;<br/>
     Hm        E<br/>
Не трать время!<br/>
<br/>
A<br/>
 Как много над нами светил,<br/>
   D                E                A    D E<br/>
Горящих для нас торжественно и безначально,<br/>
A<br/>
 Как много кораблей в небесах,<br/>
    D                   E             A       D E<br/>
Следящих за тем, чтобы каждый из нас был любим.<br/>
A<br/>
 Как много замечательных книг,<br/>
      D               E                   A     D E<br/>
Объясняющих нам, почему мы должны жить печально,<br/>
A<br/>
 Как много научных открытий<br/>
   D               E                  A    D E<br/>
О том, что мы должны стать чем-то другим...<br/>
<br/>
Не трать время, милая, не трать время!<br/>
Солнечный свет на этих ветвях,<br/>
С нами ничего не случится;<br/>
Не трать время!<br/>
<br/>
Проигрыш: A A D E - 8p.<br/>
<br/>
А по белому свету гуляют<br/>
Жильцы и соседи, лишенные плоти и крови.<br/>
Мы подходим к ним ближе,<br/>
И вдруг замечаем в них наши глаза и наши сердца.<br/>
Мы проводим полжизни в кино,<br/>
Где нам доказали, что мы лишились любови,<br/>
Мы выходим наружу и видим,<br/>
Что это любовь никогда не имеет конца.<br/>
<br/>
Не трать время, милая, не трать время!<br/>
Солнечный свет на этих ветвях,<br/>
С нами ничего не случится;<br/>
Не трать время!<br/>
<br/>
Проигрыш: A A D E - 12p.<br/>
<br/>
Как много над нами светил,<br/>
Горящих для нас торжественно и безначально,<br/>
Как много кораблей в небесах,<br/>
Следящих за тем, чтобы каждый из нас был любим.<br/>
Как много замечательных книг,<br/>
Объясняющих нам, почему мы должны жить печально,<br/>
Как много научных открытий<br/>
О том, что мы должны стать чем-то другим...<br/>
<br/>
Не трать время, милая, не трать время!<br/>
Солнечный свет на этих ветвях,<br/>
С нами ничего не случится;<br/>
Не трать время!<br/>
<br/>
Не трать время, милая, не трать время!<br/>
Солнечный свет на этих ветвях,<br/>
С нами ничего не случится;<br/>
Не трать время!<br/>
<br/>
Заключение: A A D E - 24p. A<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
