{% extends "chords.html" %}

{% set title = "Никита Рязанский" %}
{% set handbook_unid = "f4df0b4b6ce8f507c325679d006af0ae" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РУССКИЙ АЛЬБОМ - никита рязанский<br/>
</span><span style="color:red"> <br/>
НИКИТА РЯЗАНСКИЙ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: Am Em Em(VII) Dm(V) – 4p.<br/>
<br/>
Am       Em      F                 Em       G6       Am<br/>
  Никита Рязанский строил город, и ему не хватило гвоздя.<br/>
          Em         F               Em         G6       Am<br/>
Никита Рязанский протянул ладони и увидел в них капли дождя;<br/>
         Em     F                Em       G6<br/>
Никита Рязанский оставил город и вышел в сад.<br/>
Am         Em        F                G6                <br/>
  Никита Рязанский оставль старца и учаше кто млад...<br/>
<br/>
Проигрыш: Am Em Em(VII) Dm(V) – 4p.<br/>
<br/>
Святая София, узнав о нём, пришла к нему в дом;<br/>
Святая София искала его и нашла его под кустом;<br/>
Она крестила его солёным хлебом и горьким вином,<br/>
Am Em    F               G<br/>
     И они смеялись и молились вдвоем:<br/>
<br/>
C        G6/h       Am             G           C<br/>
 Смотри, Господи: крепость, и от крепости - страх,<br/>
    G6/h     Am        G      C<br/>
Мы, Господи, дети у Тебя в руках,<br/>
 G6/h          Am     <span style="color:gray">Em </span>F       G<br/>
   Научи нас видеть Тебя  за каждой бедой...<br/>
C        G6/h   Am      G       C<br/>
 Прими, Господи, этот хлеб и вино,<br/>
        G6/h       Am       G         C<br/>
Смотри, Господи, - вот мы уходим на дно;<br/>
  G6/h      Am    <span style="color:gray">Em</span>    F     Em<br/>
Научи нас дышать под водой... а-а…<br/>
<br/>
Проигрыш: Am Em Em(VII) Dm(V) – 4p.<br/>
<br/>
Девять тысяч церквей ждут Его, потому что Он должен спасти;<br/>
Девять тысяч церквей ищут Его, и не могут Его найти;<br/>
         Em                   F           Em     G6         Am<br/>
А ночью опять был дождь, и пожар догорел, нам остался лишь дым;<br/>
             Em           F                         G<br/>
Но город спасётся, пока трое из нас продолжают говорить с Ним:<br/>
<br/>
Смотри, Господи: крепость, и от крепости - страх,<br/>
Мы, Господи, дети у Тебя в руках,<br/>
Научи нас видеть Тебя за каждой бедой...<br/>
Прими, Господи, этот хлеб и вино;<br/>
Смотри, Господи, - вот мы уходим на дно:<br/>
Научи нас дышать под водой... а-а…<br/>
<br/>
Заключение: Am Em Em(VII) Dm(V) – 4p. Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII   Em(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Dm(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G6<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
