{% extends "chords.html" %}

{% set title = "Никто из нас не" %}
{% set handbook_unid = "85c90685591bde63c325679d006af2d0" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ТАБУ - никто из нас не<br/>
</span><span style="color:red"> <br/>
НИКТО ИЗ НАС НЕ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: Hm Hm/a G(III) F# - 6p. <br/>
<br/>
Hm      Hm/a     G(III)       F#      Hm Hm/a G(III) F#<br/>
  Я вижу тучи - а может быть, я вижу дым.<br/>
Hm          Hm/a      G(III)      F#    Hm        Hm/a G(III) F#                  <br/>
  Пока было солнце, я думал, что пел, я думал, что жил.<br/>
D                 E           C                 F#<br/>
 Но разве это настолько важно - что ты хочешь ещё?<br/>
         Hm   Hm/a   G(III)   F#     Hm Hm/a G(III) F#<br/>
Ведь никто из нас не выйдет отсюда живым. <br/>
<br/>
Проигрыш: Hm Hm/a G(III) F#<br/>
<br/>
Когда гроза, мне легче дышать - это факт;<br/>
Не бойся грома, он всегда попадает в такт.<br/>
Цветы, что я подарил тебе, будут стоять до утра,<br/>
Но никто из нас не выйдет отсюда живым. <br/>
<br/>
Проигрыш:<span style="color:white"> </span>Hm Hm/a G(III) F# - 4p. <br/>
D E C F# Hm Hm/a G(III) F# Hm Hm/a G(III) F#<br/>
<br/>
Любой дом непрочен, если в небе сталь.<br/>
Я хотел бы успеть допеть, но если нет, то не жаль.<br/>
Я строил так много стен, я столько хотел сберечь,<br/>
Но никто из нас не выйдет отсюда живым. <br/>
Никто из нас не выйдет отсюда живым.<br/>
<br/>
Заключение: <br/>
Hm Hm/a G(III) F# - 7p. Hm<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Hm/a<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
