{% extends "chords.html" %}

{% set title = "Никон" %}
{% set handbook_unid = "6524003ab1c30a0dc325679d006af0b1" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РУССКИЙ АЛЬБОМ - никон<br/>
</span><span style="color:red"> <br/>
НИКОН<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: C Em F G – 4p.<br/>
<br/>
 С<br/>
Никон поджигает ночь;<br/>
Em<br/>
Ночь поджигает коня;<br/>
 F<br/>
Кони бегут по земле,<br/>
          G<br/>
Кони говорят человечьим огнём.<br/>
   C<br/>
А Никону стоять на холме,<br/>
  Em<br/>
У Никона отсюда и досюда броня,<br/>
     F<br/>
А жена его сидит на земле,<br/>
             G          С<br/>
У неё между ног - крылья<br/>
<br/>
Проигрыш: C Em F G - 2р.<br/>
<br/>
 C   G    Am Am Am  С   G     Am Am Am<br/>
Шай-му-ну-ла-а…    Шай-му-ну-ла-а…  <br/>
 С   G     F       Am  G       С<br/>
Шай-му-ну-ла-а-а…-ла…-ла-а-а-а-а…<br/>
<br/>
Проигрыш: C Em F G – 4p.<br/>
<br/>
Никон поджигает ночь,<br/>
Ночь поджигает коня,<br/>
А кони поднимают глаза -<br/>
И ангелы спустились с небес;<br/>
А Никону стоять на холме -<br/>
Никону стоять в ожиданьи чудес,<br/>
А жена его летит над землёй,<br/>
У неё между ног – крылья<br/>
<br/>
Заключение: C Em F G - 4р. С<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
