{% extends "chords.html" %}

{% set title = "Новогоднее поздравление (1998)" %}
{% set handbook_unid = "7d4446c92bd8508bc325679d006aedcc" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ АНТОЛОГИЙ И СБОРНИКОВ - КУНСТКАМЕРА - новогоднее поздравление (1998)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
новогоднее поздравление (1998)<br/>
</span><i>Б.Гребенщиков <br/></i>
 <br/>
Ахтунг! Ахтунг! В воздухе Дед Мороз!<br/>
<br/>
Вступление: E - 2p.<br/>
<br/>
E             E       F#m            A<br/>
Эта ёлка в огне, нам нечего больше ждать<br/>
E             E       F#m             A<br/>
Эта ёлка в огне, нам некуда больше бежать<br/>
E<br/>
Эта ёлка в огне...<br/>
<br/>
Проигрыш:<br/>
E--------------------------------------------------------------------<br/>
H---------------------------10-8--8----------------------------------<br/>
G---9-9-7-9-----------9-9-10----------10-10-9-7------9-9-7-9---------<br/>
D----------10----------------------7-7---------10-----------10--10h0-<br/>
A-10---------10-10--10-----------------------------10----------------<br/>
E--------------------------------------------------------------------<br/>
<br/>
Мы - "Аквариум" и мы поздравляем Вас с Новым Годом!<br/>
<br/>
Проигрыш: C Am F G - 4p.<br/>
<br/>
   C    Am      F             G<br/>
С Новым Годом всех, кто нас слышит!<br/>
   C     Am   F G<br/>
С Новым Годом!<br/>
   C    Am      F             G<br/>
С Новым Годом снесшим нам крыши<br/>
         C    Am F G<br/>
С Новым Годом!<br/>
<br/>
Заключение: C Am F G - 4p. C<br/>
<br/>
<i>Европа плюс...<br/>
<br/>
<br/>
</i><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:131.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
