{% extends "chords.html" %}

{% set title = "Новые книги для счастливых людей" %}
{% set handbook_unid = "fce919044a94b7d5c325679d006aefe2" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - новые книги для счастливых людей<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
новые книги для счастливых людей<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
Bsus2 Fm Cm(III) - 2p.<br/>
Fm Fm Cm(III) F F G<br/>
C G F - 4p.<br/>
<br/>
 C   G           F<br/>
Летом в городе слишком жарко.<br/>
 C   G           F<br/>
Летом никто не знает, кто он. <br/>
C           G               F<br/>
Я звоню в дверь, кто-то откроет мне,<br/>
   C            G      <br/>
Но я не знаю, кто мне открыл, <br/>
   F<br/>
И тот, кто откроет, не знает, кто я. <br/>
<br/>
Проигрыш: C G F - 4p.<br/>
<br/>
Летом в городе слишком жарко,<br/>
Знакомые улицы стали опасным местом.<br/>
Асфальт течет, как река,<br/>
Мне кажется, я вижу дно.<br/>
Я вижу дно, и кто-то делает, <br/>
Делает, делает знаки.<br/>
<br/>
   C            G<br/>
Но я не хочу идти на дно! <br/>
  F          G<br/>
Кто-нибудь, дайте мне руку!<br/>
    C                G <br/>
Я знаю, что в самые жаркие дни <br/>
  F<br/>
Кто-то пишет, пишет, пишет <br/>
 C            G               F<br/>
Новые книги для счастливых людей. <br/>
 C            G               F<br/>
Новые книги для счастливых людей. <br/>
 C            G               F<br/>
Новые книги для счастливых людей. <br/>
<br/>
Проигрыш: C G F - 8p.<br/>
<br/>
Я встречу тебя, когда я иду по стеклу;<br/>
Ты хочешь знать, что я тоже из плоти и крови.<br/>
Ты хочешь тепла, но я дам опасный совет:   <br/>
Делай то, что ты можешь, - завтра <br/>
Может быть поздно, поздно, поздно... <br/>
<br/>
Никто не сможет сдвинуть баланс;<br/>
Возьми на себя свою часть груза<br/>
Во имя того, кто в жаркие дни <br/>
Пишет, пишет, пишет, пишет <br/>
Новые книги для счастливых людей. <br/>
Новые книги для счастливых людей. <br/>
Новые книги для счастливых людей. <br/>
C             G               F  <br/>
Новые книги для счастливых людей. <br/>
<br/>
Заключение: C G F - 8p. С<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Bsus2<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Fm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Cm(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|-■-|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
