{% extends "chords.html" %}

{% set title = "Нож режет воду" %}
{% set handbook_unid = "f286d9b8d3c977efc325679d006af10b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ АНТОЛОГИЙ И СБОРНИКОВ - нож режет воду<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
нож режет воду <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
<i>Ек, дунь, три, штар...<br/></i>
 <br/>
Вступление: A(V) A(V) G(III) G(III) - 4p.<br/>
<br/>
    A(V)                          G(III)<br/>
Отпечатки пальцев на моем лице. Я здесь<br/>
   F                  G(III)         A(V)<br/>
Откройте мне дверь, накройте мне стол<br/>
  A(V)                          G(III)<br/>
Мои друзья войдут сюда вместе со мной<br/>
     F               G(III)             A(V)<br/>
 Мы любим друг друга, я часто гляжу им в ствол<br/>
      E                     G(III)<br/>
Я мечтал об этой жизни с двенадцати лет<br/>
    D                 F<br/>
Я сделал свой шаг, оставил свой след<br/>
     A         E     G         D        <br/>
Как нож режет воду, нож режет воду<br/>
 A         E      <br/>
Нож режет воду...<br/>
<br/>
Проигрыш: A(V) A(V) G(III) G(III) - 4p.<br/>
<br/>
Я знаю, в конце пути мне обещан покой<br/>
Но я не помню, где дом, не помню, где дверь;<br/>
Я знаю, любовь - это награда за все,<br/>
И вот она спит в моих руках, как недоверчивый зверь.<br/>
Но я мечтал об этой жизни с двенадцати лет<br/>
Я сделал свой шаг, оставил свой след<br/>
Как нож режет воду, нож режет воду<br/>
Как нож режет воду...<br/>
<br/>
Проигрыш: A(V) A(V) G(III) G(III) - 4p.<br/>
A(V) A(V) G(III) A(V) A(V), A(V) A(V) G(III) A(V) A(V) - 2p.<br/>
<br/>
Отпечатки пальцев на моем лице. Я здесь<br/>
Откройте мне дверь, накройте мне стол<br/>
Мои друзья войдут сюда вместе со мной<br/>
Мы любим друг друга, я часто гляжу им в ствол<br/>
Я мечтал об этой жизни с двенадцати лет<br/>
Я сделал свой шаг, оставил свой след<br/>
Как нож режет воду, нож режет воду<br/>
Как нож режет воду...<br/>
<br/>
Заключение: A(V) A(V) G(III) G(III)- 8p. A(V)<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
