{% extends "chords.html" %}

{% set title = "Новая песня о Родине" %}
{% set handbook_unid = "7b9ec31be361e3cac325679d006af26a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ АНТОЛОГИЙ И СБОРНИКОВ - ТЕРРИТОРИЯ - новая песня о родине<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
новая песня о родине<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 5-м ладу<br/></i>
 <br/>
Вступление: C C G C G, C C G C  <br/>
F C E Am F, C C/h Am, Dm G C G G<br/>
<br/>
C    C/h    Am    Dm         G<br/>
 Хорошо ли молодцу быть неженату?<br/>
C    C/h     Am        Dm             G<br/>
 Маялся он тридцать лет, тряхнул головой -<br/>
C                     E          Am F<br/>
 Да вышел во поле, вставил в уши вату,<br/>
C      C/h    Am       Dm  G     C G<br/>
 Чтобы не грузил жадный девичий вой.<br/>
C    C/h Am        Dm            G<br/>
 А ночью во поле глухо, как в могиле <br/>
C   C/h    Am           Dm             G<br/>
 Мощи да ржавчина, да скрип вороньих крыл;<br/>
C                        E      Am F<br/>
 Долго ж ты маялся - молвил ему филин -<br/>
C    C/h      Am          Dm     G       C<br/>
 Девки все в Лондоне, их тут и след простыл. <br/>
<br/>
 G       C   Am  G              Am  G<br/>
Жил на иконе Бог - выпрыгнул в оконце,<br/>
G         C   Am           G<br/>
 Замела след Его золотая грязь.<br/>
C                     E            Am F<br/>
 Береглася радость моя черного червонца -<br/>
C   G   Am       Dm    G    C  G<br/>
 Да от самой себя не убереглась. <br/>
<br/>
Проигрыш:  C C/h Am Dm G - 2p. <br/>
C C E Am F, C C/h Am, Dm G C G G<br/>
<br/>
Охайте, бабоньки; налетайте, дети -<br/>
Надобно выпить - вот вам сердце с молотка.<br/>
Нету другой такой Родины на свете,<br/>
Каждый мечтал бы так, да их кишка тонка.<br/>
А над Бел-озером тучи так и вьются,<br/>
То ли это кто-то курит, то ли просто так;<br/>
А из моей прорехи песни так и льются -<br/>
Льются и льются, все не выльются никак. <br/>
<br/>
Жил на иконе Бог - выпрыгнул в оконце,<br/>
Замела след Его золотая грязь.<br/>
Береглася радость моя черного червонца -<br/>
Да от самой себя не убереглась. <br/>
<br/>
C   C/h     Am      Dm              G<br/>
 Начальник Кладбища, Сестры Долгой Жизни,<br/>
C      C/h     Am      Dm           G<br/>
 Трое Братьев Бритвы да Водитель Коня -<br/>
C                   E         Am  F<br/>
 Примите в дар мою Песню об Отчизне<br/>
C  C/h   Am   <br/>
 И пощадите Ее,<br/>
    Dm     G    C<br/>
И всех нас и меня.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
