{% extends "chords.html" %}

{% set title = "Ну а ты?" %}
{% set handbook_unid = "b3881941ccf3e208c325679d006aee8c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ДОИСТОРИЧЕСКИЕ ПЕСНИ - ИСКУШЕНИЕ СВЯТОГО АКВАРИУМА - ну а ты?<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
ну а ты? <br/>
</span><i>Б.Гребенщиков/А.Гуницкий<br/></i>
 <br/>
E-----0---2-2---------0---2-2--<br/>
H-3---------------3------------<br/>
G------------------------------<br/>
Где твой разум? Где твой разум?<br/>
E-2--3--5-----2--3--5--<br/>
H----------------------<br/>
G----------------------<br/>
Где мой ум? Где мой ум?<br/>
E-5--7--5--3-3-----5--7--5--3-3---<br/>
H--------------3----------------3-<br/>
G---------------------------------<br/>
  Я давно безумен, я давно безумен.<br/>
E-----------------<br/>
H-5-0--3---5-0--3-<br/>
G-----------------<br/>
 Ну а ты? Ну а ты? <br/>
<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
Ну а ты?<br/>
{% endraw %}
{% endblock %}
