{% extends "chords.html" %}

{% set title = "Нью-Йоркские страдания" %}
{% set handbook_unid = "11b8bb64864727d5c325679d006af1d1" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- МИТЬКОВСКИЕ ПЕСНИ - нью-йоркские страдания<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
нью-Йоркские страдания<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 5-м ладу<br/></i>
 <br/>
Вступление: Am Am6, Em Em+g, H7 H7/5+ Em Emadd9 - 2p.<br/>
<br/>
 Am    Am6    Em   Em+g  <br/>
Между Bleeker и McDougal,<br/>
H7     H7/5+   Em  Emadd9<br/>
  Много маленьких кафе,<br/>
Am      Am6    Em    Em+g  <br/>
  А я хотел купить наркотик,<br/>
  H7  H7/5+  Em  Emadd9<br/>
А он уехал в Санта-Фе.<br/>
<br/>
Проигрыш: Am Am6, Em Em+g, H7 H7/5+ Em Emadd9 - 2p.<br/>
<br/>
Над Нью-Йорком небо хмуро,<br/>
Дождь над парком Гранмерси.<br/>
Звонит Статуя Свободы,<br/>
Предлагает XTC.<br/>
<br/>
Проигрыш: Am Am6, Em Em+g, H7 H7/5+ Em Emadd9 - 2p.<br/>
<br/>
Дует ветер с Брайтон Бича,<br/>
С эмигрантским запахом.<br/>
Пойду выпью рюмку водки<br/>
Закушу наркотиком.<br/>
<br/>
Проигрыш: Am Am6, Em Em+g, H7 H7/5+ Em Emadd9 - 2p.<br/>
<br/>
А летом здесь едят пейотль,<br/>
А ЛСД едят весной.<br/>
Страсть как много телефонов <br/>
В моей книжке записной.<br/>
<br/>
Проигрыш: Am Am6, Em Em+g, H7 H7/5+ Em Emadd9 - 2p.<br/>
<br/>
А по ночам в Центральном Парке<br/>
Небо дивной синевы.<br/>
А мой менеджер - дурак,<br/>
Не принес опять травы.<br/>
<br/>
Проигрыш: Am Am6, Em Em+g, H7 H7/5+ Em Emadd9 - 2p.<br/>
<br/>
А извела меня кручина,<br/>
Подколодная змея.<br/>
Как тут жить без кокаина -<br/>
Восемь девок, один я.<br/>
<br/>
Проигрыш: Am Am6, Em Em+g, H7 H7/5+ Em Emadd9 - 2p.<br/>
<br/>
Я бы жил себе в России,<br/>
Да дали мне задание:<br/>
Ты езжай, браток, в Manhattan,<br/>
И там расширь сознание.<br/>
<br/>
Заключение: Am Am6, Em Em+g, H7 H7/5+ Em Emadd9 <br/>
Am Am6, Em Em+g, H7 H7/5+ Em Em Em<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am6<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em+g<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          H7/5+<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Emadd9<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
