{% extends "chords.html" %}

{% set title = "О лебеде исчезнувшем" %}
{% set handbook_unid = "89e717ac780e2ab7c325679d006af0ba" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ФЕОДАЛИЗМ - о лебеде исчезнувшем<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">О ЛЕБЕДЕ ИСЧЕЗНУВШЕМ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление:<br/>
E-10-10-9-7-5-3~~~10-10-9-7-5-7-7-7-7-5-3-3~~~3-5-3-5-7-8-7-5-3~~~~~<br/>
H-------------------------------------------------------------------<br/>
G-------------------------------------------------------------------<br/>
                                                             G G G G<br/>
-10-10-9-7-5-3~~~10-10-9-7-5-7-7-7-7-5-3-3~~~3-5-3-5-7-8-7-5-3------<br/>
--------------------------------------------------------------------<br/>
--------------------------------------------------------------------<br/>
G G G G/f# Em C G D G - 2p. G G G<br/>
<br/>
G                    G<br/>
 О лебеде исчезнувшем<br/>
              G      G/f#    Em       C<br/>
О лебеде ушедшем во тьму я молюсь и ещё<br/>
             G         D  G <br/>
Святые заступитесь за нас<br/>
<br/>
О деревьях, что спят,<br/>
О ветре, что не сможет прикоснуться их сна и уйдёт<br/>
Святые заступитесь за нас.<br/>
<br/>
D<br/>
 Перед Господом нет оправданий<br/>
    G<br/>
Он сам оправданье<br/>
D                                  Hm<br/>
 Без хлеба в руках, без единой звезды,<br/>
                C <br/>
Бесконечно влюблён<br/>
<br/>
Проигрыш: D D C C D D C D<br/>
G G G G/f# Em C G D G - 2p. <br/>
<br/>
Перед Господом нет оправданий<br/>
Он сам оправданье<br/>
Без хлеба в руках, без единой звезды,<br/>
Бесконечно влюблён<br/>
<br/>
О лебеде исчезнувшем<br/>
О лебеде ушедшем во тьму я молю и ещё<br/>
Святые заступитесь за нас<br/>
<br/>
Заключение: G G G G/f# Em C G D G - 2p. <br/>
<span style="color:#333333">G G G </span><span style="color:#5F5F5F">G/f# Em</span><span style="color:#333333"> </span><span style="color:gray">C G D G</span><span style="color:#333333"> </span><span style="color:#B2B2B2">G G G</span><span style="color:#333333"> </span><span style="color:silver">G/f# Em</span><span style="color:#333333"> </span><span style="color:silver">С <br/></span>
 <br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
