{% extends "chords.html" %}

{% set title = "О смысле всего сущего" %}
{% set handbook_unid = "b7034d17639aa8f7c325714f0041e9bc" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - БЕСПЕЧНЫЙ РУССКИЙ БРОДЯГА - о смысле всего сущего<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
О смысле всего сущего<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
E------3-3--7-7-<br/>
H-3-3--3-3--8-8-<br/>
G-4-4-----------<br/>
D---------------<br/>
<br/>
E-3-2-0------<br/>
H-------3-0-3 Em           G              C  G<br/>
G------------<br/>
 Человеческая жизнь имеет более одного аспекта.<br/>
E--3-2-0-----<br/>
H---------3-0  Em        Am               C<br/>
G------------<br/>
В городе Таганроге есть два Звёздных проспекта.<br/>
       D             G<br/>
Над одним - небеса зияющие<br/>
      D              G<br/>
И до самого Волго-Дона<br/>
      Am  C  С+7<br/>
Возвышаются сияющие<br/>
     D            G D<br/>
Дворцы из шлакобетона.<br/>
        G         D<br/>
И по нему каждую пятницу,<br/>
    Hm                 F#m<br/>
Как выйдут со смены из шахты,<br/>
     Em    G   C<br/>
Маршируют белозубые<br/>
Am    D  G<br/>
Космонавты.<br/>
<br/>
Проигрыш: <br/>
G(III) A(V) Cm(III) G(III), G(III) D#, <br/>
Em/h(II) Cm6(III) Cm(III)* C(III)* F/c(V) Gaug/h(III) C(III)<br/>
<br/>
         Em        D        Am    Em<br/>
А на другом все дома в полтора этажа<br/>
        Em           D    C     Hm<br/>
И по истоптанной траве гуляет коза,<br/>
Am                H7<br/>
День проходит и два проходит,<br/>
   Am        C             H7 4:I 4:II 4:IV 5:II   <br/>
Верёвка перетерлась, но коза   не   у-хо-дит;<br/>
         Em   D/f#      G<br/>
Ей совершенно некуда идти,<br/>
      Am           H            C    D       G <br/>
Она смотрит в небеса и шепчет "Господи, прости!".<br/>
<br/>
<br/>
Заключение: G(III) A(V) C(III) Cm(III) G(III)<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr style="height:7.05pt">
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:7.05pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:7.05pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:7.05pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr style="height:7.05pt">
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:7.05pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:7.05pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:7.05pt" valign="top">
<b><span style="font-size:8.0pt">           C+7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr style="height:82.35pt">
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr style="height:82.35pt">
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">         Cm(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|-■-|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">   III       D#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr style="height:82.35pt">
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">         Em/h(II)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|---|---|-■-|<br/>
  G---|---|---|-■-|---|<br/>
x D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">         Cm6(III)<br/>
  E---|---|---|---|-■-|<br/>
  H---|---|---|-■-|---|<br/>
  G---|---|---|---|-■-|<br/>
x D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">         Cm(III)*<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|---|-■-|---|<br/>
  G---|---|---|---|-■-|<br/>
x D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr style="height:82.35pt">
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">         C(III)*<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|---|---|-■-|<br/>
  G---|---|---|---|-■-|<br/>
x D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">    V     F(V)<br/>
  E-■-|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
x D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">         Gaug/h<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|---|-■-|---|<br/>
  G---|---|---|-■-|---|<br/>
x D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr style="height:82.35pt">
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">         C(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr style="height:82.35pt">
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:131.55pt;padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt" valign="top" width="175">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt;height:82.35pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
