{% extends "chords.html" %}

{% set title = "Обещанный День" %}
{% set handbook_unid = "08bf1776d86dc131c3257837006be22a" %}

{% block content %}
{% raw %}
<span style="color:red;text-transform:uppercase">Обещанный день<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Каподастр на 3-м ладу<br/>
<br/>
Вступление: Am Am/c Am Am Am/c Am<br/>
<br/>
Am                  Am/c      Am  <span style="color:gray">Am/e<br/></span>
  Сегодня самый замечательный день,<br/>
Am                 C/h      C <span style="color:gray">C/e<br/></span>
  О нём написано в тысяче книг,<br/>
F         C+7/e G6/e C    C/h    Am Am/g     <br/>
 Слева небеса,        справа пустота,<br/>
F  Dm        Am       Em     Am<br/>
 А я иду по проволоке между них.<br/>
<br/>
Спетое вчера осталось вчера,<br/>
В белой тишине белые поля,<br/>
Нечего желать и некем больше быть,<br/>
Здравствуй, это я.<br/>
<br/>
<br/>
Проигрыш: Am Am/c Am <span style="color:gray">Am/e </span>Am C/h C <span style="color:gray">C/e</span> F C+7/e G6/e C C/h Am Am/g F Dm Am Em Am<br/>
<br/>
Господи, я твой, я ничей другой,<br/>
Кроме тебя здесь никого нет,<br/>
Пусть они берут всё, что хотят,<br/>
А я хочу к тебе, туда, где свет.<br/>
<br/>
Заключение: Am Am/c Am <span style="color:gray">Am/e </span>Am C/h C <span style="color:gray">C/e</span> F C+7/e G6/e C C/h Am Am/g F Dm Am Em Am - 3р.<br/>
                                         Am<br/>
            E---------------------------------------<br/>
            H-------3-5-5h3~~~1~~0-1-1h0------------<br/>
Am Am Am Am G-2~~4-5---------------------2~~~~~~~~~~<br/>
            D---------------------------------------<br/>
            A---------------------------------------<br/>
            E-----------------0h1~~~--------3sl5~~~~<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            Am<br/>
o E---|---|---|---|---|<br/>
o H-■-|---|---|---|---|<br/>
o G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am/c<br/>
o E---|---|---|---|---|<br/>
o H-■-|---|---|---|---|<br/>
o G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am/e<br/>
o E---|---|---|---|---|<br/>
o H-■-|---|---|---|---|<br/>
o G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
o H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/e<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          C+7/e<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G6/e<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am/g<br/>
o E---|---|---|---|---|<br/>
o H-■-|---|---|---|---|<br/>
o G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
