{% extends "chords.html" %}

{% set title = "Огонь Вавилона" %}
{% set handbook_unid = "e216729d614b85eec32578ec0080b7c7" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АРХАНГЕЛЬСК - огонь вавилона<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
огонь вавилона<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: Csus4(III) C(III) Bsus4 B E   <br/>
Am C G - 8p.<br/>
<br/>
       C             G                 Am F<br/>
Он приходит, когда к этому никто не готов<br/>
C                 G                           Am F<br/>
 Старомодно учтив, как в фильмах тридцатых годов<br/>
C                      G                  Am F<br/>
 Искать его бессмысленно, как иголку в стогу<br/>
F                          G<br/>
 У нас с ним есть одно неоконченное дело на восточном берегу<br/>
<br/>
Проигрыш: Am C G - 4p.<br/>
<br/>
Он улыбается, когда при нём говорят: "мы"<br/>
Как и я, он принадлежит к детям северной тьмы,<br/>
Но он меньше всего похож на лист на ветру<br/>
Он говорит: "Ложась спать, никогда не знаешь - где обнаружишь себя поутру"<br/>
<br/>
         F           C      G       Am<br/>
Чтобы узнать вкус воды нужно начать пить<br/>
          F         C        G             Am<br/>
Но ты привык к лабиринту, забыл, зачем тебе нить<br/>
      F          C             G         Am<br/>
Ты выходишь к воротам, чтобы принять угловой<br/>
   F<br/>
И Вавилон играет в футбол твоей головой<br/>
 G<br/>
Вавилон играет в футбол твоей головой<br/>
<br/>
Проигрыш: <br/>
 Am      C G Am C G Am       C G Am C G<br/>
E-------0-------------------0---------<br/>
H-1-0-1---0-----------1-0-1---0-1-----<br/>
G-----------2-------------------------<br/>
D-------------------------------------<br/>
<br/>
Рассказывают, что у него не одна жизнь, а три<br/>
Говорят, что он совершенно пустой внутри<br/>
Никто не видел, что бы он отвечал ударом на удар<br/>
Он сильно изменился с тех пор, как повернулся и ушёл под радар<br/>
<br/>
        F        C            G        Am<br/>
А ты записан в GPS, теперь беги - не беги<br/>
 F           C        G               Am<br/>
Чёрные птицы будут сужать над тобой круги<br/>
    F           C           G         Am<br/>
По радио будут петь, что любовь - кольцо<br/>
  F<br/>
Огонь печей Вавилона опаляет твое лицо<br/>
  G<br/>
Огонь печей Вавилона опаляет твое лицо<br/>
<br/>
Проигрыш: Am C G - 4p. <br/>
  E               Am       G F  <br/>
E---------1-0-----1-0---------<br/>
H-0--0-1-3---0--3-----3-1--0-- - 2p.<br/>
G----------------------------2<br/>
D-----------------------------<br/>
  Am       G F  <br/>
E-1-0---------<br/>
H-----3-1--0-- <br/>
G------------2<br/>
D-------------<br/>
Am C G - 8p.<br/>
<br/>
Многие надеются, что он отошёл от дел<br/>
Что он продался, спился и оскудел<br/>
Что он сгорел или провалился под лёд<br/>
Но неправильные пчёлы продолжают делать свой неправильный мёд<br/>
<br/>
             F   C        G       Am<br/>
А значит остаётся только чистая вода<br/>
        F   C    G      Am<br/>
И скрепляющие тебя провода<br/>
    F     C            G          Am<br/>
Остаётся то, на чём машина даёт сбой<br/>
   F          G<br/>
И Вавилон... Вавилон...<br/>
<br/>
     C       G            Am F<br/>
Вавилон не властен над тобой<br/>
 C           G            Am F<br/>
Вавилон не властен над тобой<br/>
 C           G            Am F<br/>
Вавилон не властен над тобой<br/>
 C                       G            Am F<br/>
Вавилон никогда не был властен над тобой<br/>
<br/>
 C          G          Am       F<br/>
Вавилон... Вавилон... Вавилон...<br/>
 C          G          Am       F<br/>
Вавилон... Вавилон... Вавилон...<br/>
 C          G          Am       F<br/>
Вавилон... Вавилон... Вавилон...<br/>
     C                   G            Am F<br/>
Вавилон никогда не был властен над тобой<br/>
<br/>
   C                  G<br/>
Никогда не был властен<br/>
     Am               F<br/>
Никогда не был властен<br/>
     C                   G            Am F<br/>
Вавилон никогда не был властен над тобой<br/>
      C               G<br/>
Никогда не был властен<br/>
     Am               F<br/>
Никогда не был властен<br/>
     C                   G            Am F<br/>
Вавилон никогда не был властен над тобой<br/>
<br/>
Заключение: C G Am F - 4p. C G…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   III  Csus4(III)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|-■-|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   III    C(III)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Bsus4<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|-■-|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
