{% extends "chords.html" %}

{% set title = "Она моя драма" %}
{% set handbook_unid = "a7c5119345c632c3c325679d006af0e4" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ АНТОЛОГИЙ И СБОРНИКОВ - КУНСТКАМЕРА - она моя драма<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
она моя драма <br/>
</span><i>Б.Гребенщиков <br/></i>
 <br/>
<i>Каподастр на 1-м ладу<br/></i>
 <br/>
Вступление: C G Dm F/e F G - 4p.<br/>
<br/>
C      G<br/>
 Она движется,<br/>
Dm      F/e        F       G<br/>
  Ее движения, как архитектура,<br/>
C       G<br/>
 Вспоминая об этом<br/>
Dm F/e         F        G<br/>
   Нет, лучше не вспоминать об этом<br/>
C             C     <br/>
 Что делать смертному с плотью,<br/>
     C            C<br/>
Сплетенной из цветов, и ветра.<br/>
  F     F/e       F   F/e   F     F/e<br/>
Она всегда заставляет нас ждать себя<br/>
       F         G<br/>
Так божественно долго.<br/>
<br/>
F            G<br/>
 Она - моя драма,<br/>
Dm    F/e         F    G<br/>
   Что я могу сказать больше,<br/>
Dm            G   Dm F/e F G<br/>
  Она - моя драма.<br/>
<br/>
Проигрыш: C G Dm F/e F G - 2p.<br/>
<br/>
Это совершенный мир,<br/>
Это - дорога в другую сторону.<br/>
Мы встретились с наукой дважды,<br/>
Я так и не понял, что делать с этим.<br/>
Теперь мы будем петь о любви,<br/>
Найдем ее на завтрашних картах,<br/>
И когда наступит финал, мы будем смеяться,<br/>
Мы не были слепы. <br/>
<br/>
Она - моя драма,<br/>
Что я могу сказать больше,<br/>
Она - моя драма.<br/>
<br/>
Проигрыш: C G Dm F/e F G - 4p.<br/>
<br/>
Она движется,<br/>
Ее движения, как архитектура,<br/>
Вспоминая об этом<br/>
Нет, лучше не вспоминать об этом<br/>
Что делать смертному с плотью,<br/>
Сплетенной из цветов, и ветра.<br/>
Она всегда заставляет нас ждать себя<br/>
Так божественно долго.<br/>
<br/>
Она - моя драма,<br/>
Что я могу сказать больше,<br/>
Она - моя драма.<br/>
<br/>
Заключение: C G Dm F/e F G - 6p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
