{% extends "chords.html" %}

{% set title = "Она может двигать собой" %}
{% set handbook_unid = "5952abf8dc2fc2c5c325679d006af0ea" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕТИ ДЕКАБРЯ - она может двигать<br/>
</span><span style="color:red"> <br/>
ОНА МОЖЕТ ДВИГАТЬ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
          A*<br/>
E-------------------<br/>
H-2-2-2-2-2-2-2-2-2-<br/>
G-2-2-2-2-2-2-2-2-2- - 8p.<br/>
D-2-2-4-2-5-2-4-2-4-<br/>
A-0-0-0-0-0-0-0-0-0-<br/>
E-------------------<br/>
<br/>
            A*<br/>
Она может двигать,<br/>
            A*<br/>
Она может двигать собой<br/>
            A*<br/>
Она может двигать,<br/>
            A*<br/>
Она может двигать собой<br/>
          D*  D*<br/>
В полный рост - <br/>
                         A*  A*<br/>
Она знает толк в полный рост;<br/>
 E                       D<br/>
Мама, что мы будем делать,<br/>
                    A* E<br/>
Когда она двинет собой? <br/>
<br/>
Алый шёлк, <br/>
Вещие сны<br/>
Ветви июля, <br/>
Фазы луны<br/>
В полный рост, <br/>
Она знает толк в полный рост; <br/>
Мама, что мы будем делать,<br/>
Когда она двинет собой? Ва-а-а-а-а-а-у!<br/>
<br/>
Проигрыш: <br/>
A* - 4p. D* - 2p. A* - 2p. E D A* E<br/>
<br/>
Кроткий нрав, <br/>
Возвышенный чин,<br/>
Великая стройка, <br/>
Новый почин -<br/>
В полный рост, <br/>
Она знает толк в полный рост!<br/>
Мама, что мы будем делать,<br/>
Когда она двинет собой? Ва-а-а-а-а-а-у!<br/>
<br/>
Проигрыш: <br/>
A* - 4p. D* - 2p. A* - 2p. E D A* E<br/>
<br/>
Она может двигать,<br/>
Она может двигать собой<br/>
Она может двигать,<br/>
Она может двигать собой<br/>
В полный рост - <br/>
Она знает толк в полный рост. <br/>
Мама, что мы будем делать,<br/>
                    A  4:VII 3:VI 2:V 1:V 2:V 3:VI Asus4(V) A(V) <br/>
Когда она двинет собой?<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
          <b>D*<br/></b>
E-2-2-2-2-2-2-2-2-2-<br/>
H-3-3-3-3-3-3-3-3-3-<br/>
G-2-2-4-2-5-2-4-2-4-<br/>
D-0-0-0-0-0-0-0-0-0-<br/>
A-------------------<br/>
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Asus4(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
