{% extends "chords.html" %}

{% set title = "Они назовут это блюз" %}
{% set handbook_unid = "716e0ec839d7213fc325679d006af0d2" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ФЕОДАЛИЗМ - они назовут это блюз<br/>
</span><span style="color:red"> <br/>
ОНИ НАЗОВУТ ЭТО БЛЮЗ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
  E                            E/g E<br/>
E-----------------------------------<br/>
H-----------------------------------<br/>
G-1-1sl4sl1sl4sl1-1sl4sl1sl4sl1----- - 4p.<br/>
D-2-2sl5sl2sl5sl2-2sl5sl2sl5sl2-----<br/>
A-2-2sl5sl2sl5sl2-2sl5sl2sl5sl2-----<br/>
E-----------------------------------<br/>
<br/>
                E          E                  <br/>
Он движется молча словно бы налегке,<br/>
            E             E                   <br/>
Глядя на небо, исследуя след на песке.<br/>
                 A(V) G(III) A(V)                    C#m H<br/>
Он знает, где минус,            он хочет туда, где плюс.<br/>
   G(III)   A(V)                E <br/>
Когда-нибудь они назовут это "блюз".<br/>
<br/>
Проигрыш: <br/>
  E                            E/g E<br/>
E-----------------------------------<br/>
H-----------------------------------<br/>
G-1-1sl4sl1sl4sl1-1sl4sl1sl4sl1----- - 2p.<br/>
D-2-2sl5sl2sl5sl2-2sl5sl2sl5sl2-----<br/>
A-2-2sl5sl2sl5sl2-2sl5sl2sl5sl2-----<br/>
E-----------------------------------<br/>
<br/>
В двери звонят - мы делаем вид, что мы спим.<br/>
У всех есть дело - нет времени, чтобы заняться им.<br/>
А он пьёт воду, он хочет запомнить вкус.<br/>
Он не знает, что они назовут это "блюз".<br/>
<br/>
Проигрыш: A A E E A A E E G(III) A(V) E E<br/>
<br/>
           E               E<br/>
Наступает ночь, потом иногда наступает день.<br/>
           A        F#m<br/>
Он пишет: Нет, я бессилен, когда я злюсь.<br/>
               A(V) G(III) A(V)                  C#m H<br/>
Начнём всё с начала          и сделаем песню светлей.<br/>
   G(III)        A(V)            E  A H E<br/>
Право, - какое забавное слово "блюз"<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E/g<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
