{% extends "chords.html" %}

{% set title = "Остров Сент-Джорджа" %}
{% set handbook_unid = "b00ffd923c022de2c325679d006af24c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ДОИСТОРИЧЕСКИЕ ПЕСНИ - ПРИТЧИ ГРАФА ДИФФУЗОРА - остров сент-джорджа<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
остров сент-джорджа <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Раз... Два... Три... Четыре... Пять...<br/></i>
 <br/>
Вступление: 6:0 6:I 6:II G(III) A(V) H(VII) E E<br/>
<br/>
A(V)                     E<br/>
   Уйдут года, уйдут и дни,<br/>
A(V)                    E<br/>
   Но не погаснут те огни,<br/>
C#m                   F#<br/>
   Огни, которые впервые мы зажгли<br/>
G(III) A(V)           H(VII)  E<br/>
    Над островом Сент-Джорджа. <br/>
<br/>
Вокруг него течет река,<br/>
Она хранит слова его песка;<br/>
Мы будем счастливы, пока бегут века,<br/>
G(III)        A(V)         H(VII)<br/>
    Хранит нас остров Сент-Джорджа. <br/>
<br/>
Проигрыш: <br/>
C#m, E, G(III) A(V) H(VII)<br/>
A(V) E, A(V) E, C#m F#, G(III) A(V) H(VII)<br/>
C#m, E, G(III) A(V) H(VII)<br/>
<br/>
Моим друзьям - моя рука,<br/>
Пусть мы идем издалека,<br/>
Мы будем счастливы, пока бегут века;<br/>
G(III)        A(V)           H(VII)<br/>
     Хранит нас остров Сент-Джорджа. <br/>
<br/>
Заключени: A(V) E, A(V) E, A(V)<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII    H(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:131.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
