{% extends "chords.html" %}

{% set title = "Отчего Саратов стонет" %}
{% set handbook_unid = "817e207593771dbdc3256b4c006a2dff" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - отчего саратов стонет<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
отчего саратов стонет<br/>
</span><i>народная<br/></i>
 <br/>
Проигрыш: D G D A - 4р.<br/>
<br/>
D          G<br/>
 Отчего Саратов стонет?<br/>
D           A<br/>
 Отчего он весь в тоске?<br/>
D              G<br/>
 Пароход с блядями тонет<br/>
D              A      <br/>
 В Волге-матушке реке...<br/>
<br/>
Проигрыш: D G D A - 2р.<br/>
<br/>
Разнесу деревню хуем,<br/>
До последнего крыльца.<br/>
Сын не пой военных песен - <br/>
Не растраивай отца...<br/>
<br/>
Заключение: D G D A - 6р. D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
