{% extends "chords.html" %}

{% set title = "Отец яблок" %}
{% set handbook_unid = "c37e372ac57835c7c325679d006af105" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛЮБИМЫЕ ПЕСНИ РАМЗЕСА IV - отец яблок<br/>
</span><span style="color:red"> <br/>
ОТЕЦ ЯБЛОК<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление:<br/>
E-----2-4-2-1-2------2-4-2-1-2---0---0---0---0---0---0<br/>
H---4--------------4---------------4---4-------4---4--<br/>
G-4------------4-4-------------2-----------2---------- - 3p. <br/>
D-----------------------------------------------------<br/>
A-----------------------------------------------------<br/>
<br/>
E-----2-4-2-1-2------2-4-2-1-2---0---0---0-----------------   ----------------<br/>
H---4------------4-----------------4---4-------------------   ----------------<br/>
G-4------------4-4-------------2------------------0-------- D -------0-------- D/5- G F# F E F G<br/>
D---------------------------------------------0-2---4-2-0-2   ---0-2---4-2-0-2<br/>
A-------------------------------------------0--------------   -0--------------<br/>
<br/>
E----------------   ---------------- <br/>
H----------------   ----------------<br/>
G-------0-------- D -------0-------- D/5- G F A A<br/>
D---0-2---4-2-0-2   ---0-2---4-2-0-2<br/>
A-0--------------   -0--------------<br/>
<br/>
D    D/c#<br/>
 Отец яблок<br/>
  D/c       G+7/h       A      D<br/>
Пристально смотрит в небесный сад;<br/>
   Em       F#m G<br/>
Странный взгляд.<br/>
D    D/c#<br/>
 Отцу яблок<br/>
   D/c   G+7/h      A       D<br/>
Слышно движенье корней во сне.<br/>
  Em       F#m G<br/>
Зимы к весне;<br/>
G        A        D  <br/>
 Его любви здесь нет.<br/>
G       A       F#m              Hm<br/>
 Его любовь: ей минус пятнадцать лет.<br/>
      A      D         G<br/>
Она ждёт за ветхим крылом,<br/>
    Em        F#m<br/>
За тёмным стеклом<br/>
  G        A<br/>
И ей бесконечно странно.<br/>
<br/>
Проигрыш: <br/>
  D   A   D     G       D   A   D   G <br/>
E-----0---2-3-5-3-2-0-------0---2---3-<br/>
H-3-------------------3-3---------3--- - 2p.<br/>
G---2---2-----------------2---2-------<br/>
<br/>
A A G A A G A<br/>
<br/>
E----------------   ---------------- <br/>
H----------------   ----------------<br/>
G-------0-------- D -------0-------- D/5- G F# F E F G<br/>
D---0-2---4-2-0-2   ---0-2---4-2-0-2<br/>
A-0--------------   -0--------------<br/>
<br/>
E----------------   ---------------- <br/>
H----------------   ----------------<br/>
G-------0-------- D -------0-------- D/5- G F A<br/>
D---0-2---4-2-0-2   ---0-2---4-2-0-2<br/>
A-0--------------   -0--------------<br/>
G F# E G F#, Hm E G F# A<br/>
<br/>
Отец яблок<br/>
Явственно слышит родную речь;<br/>
Все здесь.<br/>
Отец яблок<br/>
Просит присяжных занять места<br/>
И скромно сесть.<br/>
Моя любовь проста.<br/>
Мою любовь видит один из ста -<br/>
Она ждёт<br/>
За долгой зимой<br/>
Рядом со мной -<br/>
И нам бесконечно странно.<br/>
<br/>
Заключение: <br/>
  D   A   D     G       D   A   D   G <br/>
E-----0---2-3-5-3-2-0-------0---2---3-<br/>
H-3-------------------3-3---------3--- - 4p.<br/>
G---2---2-----------------2---2-------<br/>
<br/>
  D   A   D     G       D   A   D   G <br/>
E-----0---2-3-5-3-2-0-------0---2---3-<br/>
H-3-------------------3-3---------3--- - 16p.<br/>
G---2---2-----------------2---2-------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D/5-<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D/c#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/c<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G+7/h<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
x D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
