{% extends "chords.html" %}

{% set title = "Пани Ирэна" %}
{% set handbook_unid = "9c83c518385c0389c325679d006af2b8" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ АЛЕКСАНДРА ВЕРТИНСКОГО - пани ирэна<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
пани ирэна<br/>
</span><i>А.Вертинский<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: G, D Dsus2 D, C, D Dsus4 D, G<br/>
<br/>
           G         E        Am<br/>
Я безумно боюсь золотистого плена<br/>
       Am      C D     G D<br/>
Ваших медно-змеиных волос<br/>
    G                   E      Am<br/>
Я влюблен в Ваше тонкое имя "Ирэна"<br/>
        C        C+g   D      G<br/>
И в следы Ваших слез, Ваших слез<br/>
<br/>
       Em         Am     C        H7<br/>
Я влюблен в Ваши гордые польские руки<br/>
        D       Am D     G<br/>
В эту кровь голубых королей<br/>
        G          C         D         G<br/>
В эту бледность лица, до восторга, до муки<br/>
     C       D       G<br/>
Обожженного песней моей<br/>
<br/>
D               G        E        Am<br/>
 Разве можно забыть эти детские плечи<br/>
      Am         C D      G  D<br/>
Этот горький заплаканный рот<br/>
     G                    E         Am<br/>
И акцент Вашей странной изысканной речи<br/>
      C      C+g D     G<br/>
И ресниц утомленных полет?<br/>
<br/>
      Em    Am       C       H7<br/>
А крылатые брови? А лоб Беатриче?<br/>
      C        D      G<br/>
А весну в повороте лица?<br/>
        G       C           D       G      <br/>
О как трудно любить в этом мире приличий<br/>
       C        D           G<br/>
О как больно любить без конца<br/>
<br/>
       H7         Em          D        G<br/>
И бледнеть, и терпеть, и не сметь увлекаться<br/>
     H7                  Em<br/>
И зажав свое сердце в руке<br/>
             C         D      G<br/>
Осторожно уйти, навсегда отказаться<br/>
    C     D          G<br/>
И еще улыбаясь в тоске<br/>
<br/>
      H7       Em      D          G<br/>
Не могу, не хочу, наконец - не желаю!<br/>
      H7                  Em<br/>
И приветствуя радостный плен<br/>
                           C        G<br/>
Я со сцены Вам сердце как мячик бросаю<br/>
       C         D      G<br/>
Ну, ловите, принцесса Ирэн!<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
