{% extends "chords.html" %}

{% set title = "Партизаны полной луны" %}
{% set handbook_unid = "9cb010ab6d768449c325679d006af1ec" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАВНОДЕНСТВИЕ - партизаны полной луны<br/>
</span><span style="color:red"> <br/>
ПАРТИЗАНЫ ПОЛНОЙ ЛУНЫ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: G – 6р.<br/>
<br/>
G                G/f       Gaug/d#  G<br/>
 Тем, кто держит камни для долгого дня,<br/>
              G/f   Gaug/d#    Em<br/>
Братьям винограда и сёстрам огня,<br/>
           Hm<br/>
О том, что есть во мне, <br/>
    C          Cm            G<br/>
Но радостно не только для меня.<br/>
        G/f      Gaug/d#    G<br/>
Я вижу признаки великой весны,<br/>
            G/f     Gaug/d#   Em<br/>
Серебряное пламя в ночном небе,<br/>
            Hm<br/>
У нас есть всё, что есть.<br/>
     C           Cm            Em<br/>
Пришла пора, откроем ли мы дверь?<br/>
<br/>
Em               C    D        G<br/>
  Вот едут партизаны полной луны,<br/>
G/f#     Em   D<br/>
Моё место здесь.<br/>
G              C    D       Hm<br/>
 Вот едут партизаны полной луны.<br/>
   C D G  <br/>
 Пускай...<br/>
<br/>
Проигрыш: G D/f# C D - 3p. F D<br/>
G D/f# C D - 3p. F D<br/>
<br/>
У них есть знания на том берегу,<br/>
Белые олени на чёрном снегу.<br/>
Я знаю всё, что есть, любовь моя,<br/>
Но разве я могу? <br/>
Так кто у нас начальник и где его плеть?<br/>
Страх - его праздник и вина - его сеть.<br/>
Мы будем только петь, любовь моя,<br/>
Но мы не откроем дверь.<br/>
<br/>
Вот едут партизаны полной луны,<br/>
Моё место здесь.<br/>
Вот едут партизаны полной луны.<br/>
Пускай...<br/>
<br/>
G               C    D        G<br/>
 Вот едут партизаны полной луны,<br/>
G/f#     Em   D<br/>
Моё место здесь.<br/>
G               C    D           Hm<br/>
 Вот едут партизаны подпольной луны.<br/>
    C     D   G<br/>
Пускай их едут.<br/>
<br/>
Проигрыш: G D/f# C D – 2p.<br/>
G D/f# Em D/f# C F D<br/>
<br/>
<img border="0" height="313" id="_x0000_i1025" src="/img/партизаны.png" width="188"/><br/>
<br/>
Заключение:<br/>
G D/f# C D – 2p. G D/f#<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G/f<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Gaug/d#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Cm<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
