{% extends "chords.html" %}

{% set title = "Пабло" %}
{% set handbook_unid = "0dfb4f2f8d85a711c3256d2c00695266" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСНИ РЫБАКА - пабло<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Пабло<br/>
</span><i>Б. Гребенщиков</i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Проигрыш: <br/>
E-8-7-10-10h11-10h11-10h11-11-11-13-15-10-8-10-10h11-10h11-10h11-11-11-20-<br/>
H-------------------------------------------------------------------------<br/>
G-------------------------------------------------------------------------<br/>
G D – 8p. <br/>
  D     D     D     D     D     D<br/>
E-2-3-3-2-3-3-2-3-3-2-3-3-2-3-3-2-3-3-2h3<br/>
H----------------------------------------<br/>
G----------------------------------------<br/>
<br/>
 G    D                    G  D<br/>
Пабло - не поминай к ночи беса;<br/>
G       G/f# Em<br/>
 Не торгуй оружием<br/>
      Hm                  D<br/>
И вообще не сбивайся с пути;<br/>
C            D#<br/>
 Судя по выраженью лица,<br/>
       G          G/f#      C<br/>
Ты совсем недавно вышел из леса,<br/>
   C       C/h          Am<br/>
А судя по тому, как ты смотришь вокруг,<br/>
          C              D<br/>
Ты снова хочешь туда зайти.<br/>
<br/>
Проигрыш: G D - 4p.<br/>
<br/>
Пабло - я восхищён твоим талантом тащиться;<br/>
Скажи - откуда ты всё время берёшь тех,<br/>
Кто согласен тебя тащить?<br/>
И знаешь, Пабло, говоря о жене,<br/>
Тебе могла бы подойти крановщица,<br/>
Она сидит себе между небом и землёй,<br/>
Ей по фиг, как кто хочет жить.<br/>
<br/>
Проигрыш: G D - 4p.<br/>
<br/>
   Cm(III)             G/f#(III)<br/>
Случилось так, что наша совесть и честь<br/>
        D                  G<br/>
Была записана у нас на кассетах;<br/>
  G        G/f#      Em<br/>
Кто-то принёс новой музыки<br/>
             Hm            D<br/>
Нам больше нечего было стирать.<br/>
C                D#               G       G/f#     C<br/>
 Знаешь, Пабло, будь у тебя даже мучо миллионас песетас -<br/>
      C        C/h       Am<br/>
Если хочешь научиться красиво жить?<br/>
          C               D<br/>
Давай сначала научись умирать.<br/>
<br/>
Проигрыш: D - 4p. <br/>
G D G D, G G/f# Em Hm D, C D# G G/f# C, C C Am C D<br/>
G D - 4p.<br/>
<br/>
В этом городе, Пабло, кроме выпить, больше нечего делать.<br/>
К чёрту политкорректность,<br/>
Судьба здесь тяжела и слепа,<br/>
Нам хватит на билеты, <br/>
Если выгресть из карманов всю мелочь,<br/>
Я буду называть тебя Пабло,<br/>
               C                D<br/>
Ты можешь обращаться ко мне "Papa".<br/>
<br/>
Проигрыш: G D - 4p.<br/>
<br/>
Пабло - мы встретились сравнительно поздно;<br/>
Я уже не очень охотно дышу<br/>
И не всегда помню, как меня звать -<br/>
Но, Пабло, если б я отдал тебе то,<br/>
Что, в принципе, отдать невозможно -<br/>
Ты забыл бы о любви значительно больше,<br/>
            C       D      G<br/>
Чем они когда-либо будут знать.<br/>
<br/>
Заключение: 6:II<br/>
G D - 16p. G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   III       D#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Cm(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|-■-|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">        G/f#(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|-■-|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
