{% extends "chords.html" %}

{% set title = "Песня о кайфе" %}
{% set handbook_unid = "de75999b3ad20285c325679d006af2a0" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ДОИСТОРИЧЕСКИЕ ПЕСНИ - ИСКУШЕНИЕ СВЯТОГО АКВАРИУМА - песня о кайфе<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
песня о кайфе<br/>
</span><i>А.Гуницкий<br/></i>
 <br/>
<i>Эй, мэн, вставай, что-за дела!<br/></i>
 <br/>
<i>Исполняется монотонно</i>: E Am <br/>
<br/>
Кайф-это концепция <br/>
Всего живого на земле<br/>
И апогей всего живого<br/>
<br/>
Пусть наступит вечный кайф<br/>
Пусть всем людям будет в кайф<br/>
<br/>
Я певец .......... кайфа<br/>
Призываю вечный кайф<br/>
Пусть скорей наступит кайф<br/>
Пусть наступит вечный кайф<br/>
<br/>
Кайф... Не в кайф<br/>
Кайф... Не в кайф<br/>
<br/>
Нет, не в кайф<br/>
Не в кайф<br/>
Нет, не в кайф<br/>
Нет, не в кайф<br/>
<br/>
Как не в кайф, какие ломки<br/>
Но опять я славлю кайф<br/>
И всеобщее блаженство<br/>
Будет если будет в кайф<br/>
<br/>
Не в кайф... Кайф<br/>
Не в кайф... Кайф<br/>
Не в кайф... Кайф<br/>
Не в кайф...<br/>
<br/>
Кайф<br/>
Кайф<br/>
Кайф<br/>
Кайф<br/>
Кайф <br/>
Кайф<br/>
Кайф<br/>
Кайф<br/>
Кайф<br/>
Кайф<br/>
Кайф... Не в кайф<br/>
Кайф... Не в кайф<br/>
Кайф... Не в кайф<br/>
Кайф... Не в кайф<br/>
Кайф... Не в кайф<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
