{% extends "chords.html" %}

{% set title = "Песня про перкуссиониста Шара" %}
{% set handbook_unid = "b8fc6e6087dfeaf4c3256b23005ff2bf" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - песня про перкуссиониста шара<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
песня про перкуссиониста шара<br/>
</span><i>Б.Гребенщиков<br/>
 <br/></i>
Вступление: Asus2 Am <br/>
<i> <br/></i>
       E                 Am<br/>
Как написано где-то в Коране<br/>
         Dm      E      Am<br/>
Пусть ликуют и млад и стар<br/>
      Am            Am<br/>
В заштатном городе Вятке<br/>
    C         G      C<br/>
Появился прекрасный Шар<br/>
     E                 Am<br/>
У него есть молельный коврик<br/>
     A7              Dm<br/>
У него Рамадан в крови<br/>
  Am                Dm<br/>
И его заскорузлым членам<br/>
   Am       E       Am<br/>
Чужда круговерть любви<br/>
<br/>
Но однажды в Нижнем Тагиле<br/>
Он тронулся головой<br/>
Когда бури в кожаной сбруе<br/>
Перепутали СПИД с травой<br/>
И душа восстала из праха<br/>
И по членам забегал ток<br/>
И карающий шейхер алмаза<br/>
Превратился в нежный цветок<br/>
<br/>
       E             Am<br/>
Он забросил свои привычки<br/>
    C       G         C<br/>
Он вылил сотерм и шабли<br/>
      Am           Am<br/>
И он часто падает наземь<br/>
       Dm      Dm/c       E<br/>
Когда над ним летят журавли<br/>
   G               C<br/>
И пусть его путь труден<br/>
      G             C E<br/>
И он часто немыт и бос<br/>
       Am             Dm<br/>
Но когда он играет в бубен<br/>
       Am       E       Am<br/>
В его конги стучит Христос<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/c<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
