{% extends "chords.html" %}

{% set title = "Песенка про чёрного кота" %}
{% set handbook_unid = "4b3f4f54e749b13fc325685f0074bd10" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ БУЛАТА ОКУДЖАВЫ - песенка про чёрного кота<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
песенка про чёрного кота <br/>
</span><i>Б.Окуджава<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: Em - 2p.<br/>
<br/>
       Em                          Am<br/>
Со двора подъезд известный под названьем “черный ход”<br/>
          H                                       Em<br/>
В том подъезде, как в поместье, проживает Черный кот.<br/>
<br/>
Он в усы усмешку прячет, темнота ему как щит.<br/>
Все коты поют и плачут – этот Черный кот молчит.<br/>
<br/>
Он и звука не проронит – только ест и только пьет,<br/>
Грязный пол когтями тронет как по сердцу проскребет.<br/>
<br/>
Он давно мышей не ловит, усмехается в усы,<br/>
Ловит нас на честном слове, на кусочке колбасы.<br/>
<br/>
Он не требует, не просит, желтый глаз его горит,<br/>
Каждый сам ему выносит и спасибо говорит.<br/>
<br/>
От того-то, знать не весел дом в котором мы живем<br/>
Надо б лампочку повесить - денег всё не собирем.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
