{% extends "chords.html" %}

{% set title = "Пески Петербурга" %}
{% set handbook_unid = "ec5b9df8c7bc10dbc325679d006af1fe" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ИХТИОЛОГИЯ - пески петербурга<br/>
</span><span style="color:red"> <br/>
ПЕСКИ ПЕТЕРБУРГА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Проигрыш: C Am - 2p. G G7<br/>
<br/>
        F              Em<br/>
Ты - животное лучше любых других,<br/>
        F                G<br/>
Я лишь дождь на твоём пути.<br/>
     F               Em<br/>
Золотые драконы в лесах твоих,<br/>
      F              G<br/>
От которых мне не уйти.<br/>
     F                 Em<br/>
И отмеченный светом твоих зрачков<br/>
      F                   G<br/>
Не сумеет замкнуть свой круг,<br/>
    F         Em      Dm     C<br/>
Но пески Петербурга заносят нас<br/>
      F                G<br/>
И следы наших древних рук.<br/>
<br/>
Проигрыш: C Am – 2p.<br/>
<br/>
Ты могла бы быть луком - но кто стрелок,<br/>
Если каждый не лучше всех?<br/>
Здесь забыто искусство спускать курок<br/>
И ложиться лицом на снег.<br/>
И порою твой взгляд нестерпим для глаз,<br/>
А порою ты - как зола;<br/>
Но пески Петербурга заносят нас<br/>
Всех по эту сторону стекла...<br/>
<br/>
Проигрыш: C Am – 2p.<br/>
<br/>
Ты спросил у нас: "Кто?" Я ответил: "Я",<br/>
Не сочтя ещё это за честь.<br/>
Ты спросила: "Куда?" Я сказал: "С тобой,<br/>
Если там хоть что-нибудь есть".<br/>
Ты спросила: "А если?" - и я промолчал,<br/>
Уповая на чей-нибудь дом.<br/>
Ты сказала: "Я лгу"; я сказал: "Пускай,<br/>
Тем приятнее будет вдвоём";<br/>
<br/>
Проигрыш: C Am – 4p.<br/>
<br/>
И когда был разорван занавес дня,<br/>
Наши кони пустились в пляс,<br/>
По песку, по воде и среди огня<br/>
Окончательно бросив нас.<br/>
Потому что твой взгляд - как мои слова:<br/>
Не надёжнее, чем вода.<br/>
Но спросили меня: "А жив ли ты?"<br/>
Я сказал: "Если с ней - то да".<br/>
<br/>
Заключение: C Am – 3p. C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
