{% extends "chords.html" %}

{% set title = "Песня о несостоявшемся отъезде" %}
{% set handbook_unid = "d42365e8ea3427e8c325679d006af174" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ АНТОЛОГИЙ И СБОРНИКОВ - КУНСТКАМЕРА - песня о несостоявшемся отъезде<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
песня о несостоявшемся отъезде <br/>
</span><i>Б.Гребенщиков <br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
<i>One, two, three, four…<br/></i>
 <br/>
Вступление: C Am F G - 4p.<br/>
<br/>
C         Am     F        G<br/>
 Сегодня мне не хочется спать.<br/>
C            Am        F      G<br/>
 Стакан портвейна, пустая кровать.<br/>
C Am         F             G          C  Am F G<br/>
 И  как мне хочется, чтобы я был не здесь.<br/>
<br/>
Порою мне кажется, что все это зря,<br/>
И мне жаль, что это затеял я,<br/>
И как мне хочется, чтобы я был не здесь.<br/>
<br/>
Am                     E<br/>
  Но если б я был не здесь,<br/>
     F            F/e       D<br/>
Все было б точно также, как есть.<br/>
F       F/e   Dm7   G<br/>
 Все дело во мне самом,<br/>
F         F/e         Dm7     G<br/>
 И если б я был чуть тверже умом,<br/>
   F        F/e      Dm7      F/e<br/>
Я был бы в пути, но мне все равно,<br/>
 F             G<br/>
Там я, или я здесь.<br/>
<br/>
Проигрыш: C Am F G - 2р.<br/>
F G C Am F G<br/>
<br/>
Ложиться спать, наверное, смысла уж нет.<br/>
Я знаю, скоро будет рассвет.<br/>
Закрой за мной свою дверь и выключи свет.<br/>
F           F/e       Dm      G        C  Am F G<br/>
 Закрой за мной свою дверь и выключи свет.<br/>
<br/>
Заключение: C Am F G C <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm7<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
