{% extends "chords.html" %}

{% set title = "Песенка о Смоленской дороге" %}
{% set handbook_unid = "a7c30e7622ec7342c325685f0074d461" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ БУЛАТА ОКУДЖАВЫ - песенка о смоленской дороге<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
песенка о смоленской дороге <br/>
</span><i>Б.Окуджава<br/></i>
 <br/>
Вступление: Am - 5p.<br/>
<br/>
       Am                Dm     E    Am<br/>
По Смоленской дороге - леса, леса, леса.<br/>
       Am                   G               C<br/>
По Смоленской дороге - столбы, столбы, столбы.<br/>
      Am                 E           F  Dm<br/>
Над дорогой Смоленскою, как твои глаза, -<br/>
       Am                  Dm   E      Am<br/>
Две вечерних звезды - голубых моих судьбы.<br/>
<br/>
По Смоленской дороге метель в лицо, в лицо.<br/>
Всё нас из дому гонят дела, дела, дела.<br/>
Может, будь понадежнее рук твоих кольцо -<br/>
Покороче б, наверно, дорога мне легла.<br/>
<br/>
По Смоленской дороге - леса, леса, леса.<br/>
По Смоленской дороге - столбы гудят, гудят.<br/>
На дорогу Смоленскую, как твои глаза,<br/>
Две холодных звезды голубых глядят, глядят.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
