{% extends "chords.html" %}

{% set title = "Перекрёсток" %}
{% set handbook_unid = "6e211efc9539b703c325679d006af2f4" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- КОНЦЕРТНЫЕ ЗАПИСИ - перекрёсток<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
перекрёсток <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: C Em C F, C G C G - 2p.<br/>
<br/>
C             Em          F              G<br/>
 Я не могу остаться здесь, душа моя в пути<br/>
C                 Em           F           G<br/>
 Задуйте свеч дрожащих свет и дайте мне уйти<br/>
C                  Em       F        Em<br/>
 Я слишком вас люблю и потому уйти я должен<br/>
       Dm           F         G G<br/>
Чтоб свет ваш на ладонях унести<br/>
<br/>
Молитесь за меня, пусть я не буду одинок<br/>
И без того до боли мал отпущенный мне срок<br/>
Бессмертны только песни, лепестки которых я собрал<br/>
На перекрестке тысячи дорог<br/>
<br/>
Заключение: C Em C F C G F F, C Em C F C G F Em C G C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
