{% extends "chords.html" %}

{% set title = "Пепел" %}
{% set handbook_unid = "eac24dcfdd1c06fbc325679d006af2cd" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ТАБУ - пепел<br/>
</span><span style="color:red"> <br/>
ПЕПЕЛ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: E B(VI) D(V) A(V) – 5p.<br/>
<br/>
   A(V)          B(VI)               A(V)<br/>
Я вижу провода, я жду наступленья тепла.<br/>
    A(V)            B(VI)            A(V)<br/>
Мне кажется порой, что я из стекла и ты из стекла.<br/>
C(VIII)   B(VI)           A(V) C(VIII)<br/>
Часто мне кажется что-то ещё -<br/>
              D(V)<br/>
Мне снится пепел. <br/>
<br/>
Проигрыш: D(V) B(VI) E – 4p.<br/>
<br/>
Моя эффективность растёт с каждым днём;<br/>
Я люблю свои стены, и я называю их "дом".<br/>
Ко мне поступают сигналы с разных сторон;<br/>
Мне снится пепел. <br/>
<br/>
Проигрыш: D(V) B(VI) E – 8p.<br/>
<br/>
Мне нравится сталь тем, что она чиста;<br/>
Мне нравится жизнь тем, что она проста.<br/>
Напомни мне улыбнуться, когда ты видишь меня;<br/>
              D(V) B(VI) E<br/>
Мне снится пепел.<br/>
<span style="color:#292929">              D(V) B(VI) E<br/>
Мне снится пепел.<br/>
              D(V) B(VI) E<br/>
Мне снится пепел!<br/>
              D(V) B(VI) E<br/>
Мне снится пепел!<br/>
             D(V)   B(VI)  E   <br/>
Мне снится пепел, пепел…<br/>
             D(V)   B(VI)  E<br/>
Мне снится пепел, пепел…<br/>
             D(V)  B(VI)  E       <br/></span>
Мне снится пепел, пепел, пепел, пепел…<br/>
 D(V)   B(VI)  E     <br/>
Пепел, пепел, пепел, пепел…<br/>
           D(V) B(VI) E<br/>
Мне снится пепел!..<br/>
           D(V) B(VI) E<br/>
Мне снится пепел!..<br/>
          D(V)    B(VI)   E       <br/>
Мне снится пепел, пепел, пепел, пепел…<br/>
 D(V)  B(VI)      <br/>
Пепел, пепел<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VI     B(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     D(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">  VIII   C(VIII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
