{% extends "chords.html" %}

{% set title = "Песня для нового быта" %}
{% set handbook_unid = "a7054602116e175fc325679d006af1e3" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - песня для нового быта<br/>
</span><span style="color:red"> <br/>
ПЕСНЯ ДЛЯ НОВОГО БЫТА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление:<br/>
E-10-7-7--7--8-5-5-5-<br/>
H-7--7-10-7--5-5-8-5-<br/>
G-7--7-7--7--5-5-5-5- D Dsus4 D5<br/>
D-7--7-7--7--5-5-5-5-<br/>
A-0--0-0--0--0-0-0-0-<br/>
E-x--x-x--x--x-x-x-x-<br/>
<br/>
  Am               D<br/>
E-7----5--7-5--10--7-------7--7-<br/>
H-5----5--5-5--7---7-------10-7-<br/>
G-5----5--5-5--7---7-------7--7-<br/>
D-5----5--5-5--7---7-------7--7-<br/>
A-0----0--0-0--0---0-------0--0-<br/>
E-x----x--x-x--x---x-------x--x-<br/>
Все, кто были, по-моему, сплыли,<br/>
E-7-<br/>
H-7-<br/>
G-9- G(III)     F       E<br/>
D-7-<br/>
A-0-<br/>
E-x-<br/>
  А  те, кто остался, спят.<br/>
 Am<br/>
Один лишь я<br/>
   D             G<br/>
Сижу на этой стене,<br/>
      C           D<br/>
Как свойственно мне.<br/>
  Am                  D<br/>
E-7----5---7----5---10-7----7--7-<br/>
H-5----5---5----5---7--7----10-7-<br/>
G-5----5---5----5---7--7----7--7-<br/>
D-5----5---5----5---7--7----7--7-<br/>
A-0----0---0----0---0--0----0--0-<br/>
E-x----x---x----x---x--x----x--x-<br/>
   Мне сказали, что к этим винам<br/>
E-7-<br/>
H-7-<br/>
G-9-  G(III)  F          E<br/>
D-7-<br/>
A-0-<br/>
E-x-             <br/>
   Подмешан таинственный яд;<br/>
    Am              D                  G G7<br/>
А мне смешно - ну что они смыслят в вине?<br/>
<br/>
C              D     G<br/>
Эй, вы, как живётся там?<br/>
C            G G/f# E<br/>
 У вас есть гиппопотам,<br/>
  Am<br/>
А мы в чулане<br/>
    Hm<br/>
С дырой в кармане,<br/>
     C      C/h<br/>
Но здесь забавно,<br/>
     Am      D<br/>
Здесь так забавно... <br/>
<br/>
Проигрыш:<br/>
  Am        D<br/>
E-7-5-7-5-10-7-7--7-7-<br/>
H-5-5-5-5-7--7-10-7-7-<br/>
G-5-5-5-5-7--7-7--7-9-<br/>
D-5-5-5-5-7--7-7--7-7-<br/>
A-0-0-0-0-0--0-0--0-0-<br/>
E-x-x-x-x-x--x-x--x-x-<br/>
G(III) F E Am D G G7<br/>
<br/>
C               D      G<br/>
 И вот путь, ведущий вниз,<br/>
C           D      G<br/>
 А вот - вода из крана;<br/>
 C           D         G<br/>
Вот кто-то влез на карниз -<br/>
    Am                 Cm/d#   D<br/>
Не чтобы прыгнуть, а просто спьяну;<br/>
<br/>
Am              D<br/>
E-7-5-7-5-10-7-7---7-<br/>
H-5-5-5-5-7--7-10--7-<br/>
G-5-5-5-5-7--7-7---7-<br/>
D-5-5-5-5-7--7-7---7-<br/>
A-0-0-0-0-0--0-0---0-<br/>
E-x-x-x-x-x--x-x---x-<br/>
Всё к тому, что этот день<br/>
E-7-<br/>
H-7-<br/>
G-9-     G(III)      F      E<br/>
D-7-<br/>
A-0-<br/>
E-x-            <br/>
   Был не худшим из наших дней;<br/>
    Am               D       G   C D<br/>
Посмотрим, что принесёт эта ночь;<br/>
  Am           D<br/>
E-7-5-7-5-10-7-7----7-<br/>
H-5-5-5-5-7--7-10---7-<br/>
G-5-5-5-5-7--7-7----7-<br/>
D-5-5-5-5-7--7-7----7-<br/>
A-0-0-0-0-0--0-0----0-<br/>
E-x-x-x-x-x--x-x----x-<br/>
Мне не нужно много света,<br/>
E-7-<br/>
H-7-<br/>
G-9-   G(III)     F        E<br/>
D-7-<br/>
A-0-<br/>
E-x-             <br/>
   Мне хочется, чтобы светлей;<br/>
   Am    <br/>
И радостно, что<br/>
 D                  G  G7<br/>
Ты можешь в этом помочь;<br/>
<br/>
C                  D     G<br/>
 Но эй, вы, как живётся там?<br/>
C            G G/f# E<br/>
 У вас есть гиппопотам,<br/>
   Am<br/>
А мы в чулане<br/>
     Hm<br/>
С дырой в кармане,<br/>
     C     C/h<br/>
Но здесь забавно,<br/>
  Am         D<br/>
Здесь так забавно...<br/>
<br/>
Заключение:<br/>
  Am      D<br/>
E-7-5-7-5-10-7-7--7-7-<br/>
H-5-5-5-5-7--7-10-7-7-<br/>
G-5-5-5-5-7--7-7--7-9-<br/>
D-5-5-5-5-7--7-7--7-7-<br/>
A-0-0-0-0-0--0-0--0-0-<br/>
E-x-x-x-x-x--x-x--x-x-<br/>
G(III) C G D G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D5<br/>
  E---|---|---|---|-■-|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Cm/d#<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
