{% extends "chords.html" %}

{% set title = "Песня о лётчике Талалихине" %}
{% set handbook_unid = "54df7bfe8a2e445bc3256d9b003a5fbc" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЧУЖИЕ ПЕСНИ - песня о лётчике талалихине<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
песня о лётчикЕ талалихине<br/>
</span><i>Х.З.<br/>
<br/>
Каподастр на 2-м ладу<br/>
 <br/></i>
Вступление: C - 5p.<br/>
<br/>
         C                G         C<br/>
Славный летчик Талалихин небо бороздил.<br/>
     C                 G        C<br/>
И нечаянно совсем в фашиста угодил<br/>
  G    Am                  G           C<br/>
Превратил в лепешку гада, выкинул с небес,<br/>
 G       Am            G              C<br/>
Но от страшного удара сам свалился в лес.<br/>
  G   Am                     G   C<br/>
Приземлился, оглянулся: "Ебаная мать!!!<br/>
 G  Am               G           <br/>
Ни хуя не могут эти фюрреры летать!<br/>
         Dm         <br/>
Что им, гадам, неба мало?!<br/>
     G              Dm<br/>
Щелкают еблом - вот ебись теперь, <br/>
           G<br/>
Ищи родной, аэродром!".<br/>
<br/>
     C            C<br/>
Талалихин, ша-ла-ла<br/>
     C      G     C<br/>
Шалалихин, та-ла-ла<br/>
     C            C<br/>
Талалихин, ша-ла-ла<br/>
     C      G     C G C6/g(V)<br/>
Шалалихин, та-ла-ла<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C6/g(V)<br/>
  E---|---|---|---|-■-|<br/>
  H---|---|---|---|-■-|<br/>
  G---|---|---|---|-■-|<br/>
  D---|---|---|---|-■-|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
