{% extends "chords.html" %}

{% set title = "Песня о встречном" %}
{% set handbook_unid = "651af3b665aeb4bfc325679d006af08a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- МИТЬКОВСКИЕ ПЕСНИ - песня о встречном<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
песня о встречном <br/>
</span><i>Д.Шостакович - Б.Корнилов <br/></i>
 <br/>
Вступление: C C/h F F - 4p.<br/>
<br/>
    C        С/h        C<br/>
Нас утро встречает прохладой <br/>
     C        С/h       C<br/>
Нас ветром встречает река <br/>
    C      С/h         C  Am7<br/>
Кудрявая, что ж ты не рада <br/>
   F      G        C<br/>
Веселому пенью гудка? <br/>
<br/>
    Dm       G       C Am7<br/>
Не спи, вставай, кудрявая! <br/>
     F     G C C7<br/>
В цехах, звеня, <br/>
     F    G        C  Am7<br/>
Страна встает со славою <br/>
       F G   C<br/>
На встречу дня. <br/>
<br/>
Проигрыш: C C/h F F - 2p.<br/>
<br/>
И радость поет, не скончая<br/>
И песня навстречу идет,<br/>
И люди смеются, встречая<br/>
И встречное солнце встает -<br/>
<br/>
Горячее и бравое<br/>
Бодрит меня.<br/>
Страна встает со славою <br/>
На встречу дня. <br/>
<br/>
Проигрыш: C C/h F F - 2p. <br/>
Am Am G G - 3p. F F G G<br/>
<br/>
И с ней до победного края<br/>
Ты, молодость наша, пройдешь,<br/>
Покуда не выйдет вторая<br/>
Навстречу тебе молодежь.<br/>
<br/>
Любить, грешно ль, кудрявая<br/>
Когда звеня,<br/>
Страна встает со славою <br/>
       F G   C Am7<br/>
На встречу дня. <br/>
    F      G       C Am7<br/>
Страна встает со славою <br/>
       F G   C<br/>
На встречу дня. <br/>
<br/>
Заключение: C C/h F F - 4p. C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:131.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">           Am7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:114.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="152">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
