{% extends "chords.html" %}

{% set title = "Песенка о голубом шарике" %}
{% set handbook_unid = "e70b6b76f8b65203c325685f00768fed" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ БУЛАТА ОКУДЖАВЫ - песенка о голубом шарике<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
песенка о голубом шарике <br/>
</span><i>Б.Окуджава<br/></i>
 <br/>
Вступление: Am<br/>
<br/>
Am        Dm   E          Am<br/>
Девочка плачет: шарик улетел.<br/>
Am      Dm       E       Am<br/>
  Ее утешают, а шарик летит.<br/>
<br/>
Девушка плачет: жениха все нет.<br/>
Ее утешают, а шарик летит.<br/>
<br/>
Женщина плачет: муж ушел к другой.<br/>
Ее утешают, а шарик летит.<br/>
<br/>
Плачет старуxа: мало пожила...<br/>
А шарик вернулся, а он голубой.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
