{% extends "chords.html" %}

{% set title = "Песня" %}
{% set handbook_unid = "d8b930626241f604c325679d006aeff1" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ДОИСТОРИЧЕСКИЕ ПЕСНИ - С ТОЙ СТОРОНЫ ЗЕРКАЛЬНОГО СТЕКЛА - песня<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
песня <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
E-----------<br/>
H--------0--<br/>
G-0-1-------<br/>
D---------2-<br/>
 Любовь моя,<br/>
E----------------<br/>
H----------1----0<br/>
G-------0-----0--<br/>
D-2---4----------<br/>
  Я светел оттого,<br/>
E-----------------<br/>
H----0---2--2---4-<br/>
G-1----2---------2<br/>
D-----------------<br/>
Что ничего не знаю -<br/>
E-0---------------------<br/>
H-----4---1----0--------<br/>
G---------------2---0---<br/>
D----------------------3<br/>
 Только свет твоей любви; <br/>
<br/>
E----------<br/>
H------0---<br/>
G-0-1------<br/>
D--------2-<br/>
  И я пою:<br/>
E-----------------------<br/>
H-------1---4----1---3--<br/>
G-1--3------------------<br/>
D-----------------------<br/>
  О, ангел мой, не плачь,<br/>
E--------0---1--<br/>
H-1--3----------<br/>
G---------------<br/>
D---------------<br/>
Смотри, как ночь<br/>
E------------------------------<br/>
H-3--4-5--6---5--4----3-2--1--0-<br/>
G-------------------------------<br/>
D-------------------------------<br/>
 Танцует за стеклом твоей любви...<br/>
{% endraw %}
{% endblock %}
