{% extends "chords.html" %}

{% set title = "Письма с границы между светом и тенью" %}
{% set handbook_unid = "b206e7a9492c7610c325679d006af07e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПУШКИНСКАЯ, 10 - письма с границы между светом и тенью<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Письма с границы между светом и тенью<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Каподастр на 2-м ладу<br/>
<br/>
Вступление: G D/f# Em C - 4p.<br/>
<br/>
G             D/f#<br/>
 На что я смотрю<br/>
       Em             C<br/>
На тополя под моим окном?<br/>
G           D/f#                   Em C<br/>
 Все меньше листьев, скоро будет зима.<br/>
G          D/f#<br/>
 Но даже если<br/>
              Em  C<br/>
Зима будет долгой,<br/>
G         D/f#           Em C<br/>
 Едва ли она будет вечной.<br/>
<br/>
G          D/f#<br/>
 Ну а тем временем<br/>
           Em                C<br/>
Что же мне делать с такой бедой?<br/>
G      D/f#                 Em  C<br/>
 Какая роль здесь положена мне?<br/>
G               D/f#         Em                   C<br/>
 Для тех кто придёт ко мне - чайник держать на огне<br/>
C           D<br/>
 И молча писать<br/>
C/e             D                   G    D/f# Em C<br/>
   Письма с границы между светом и тенью.<br/>
<br/>
Проигрыш: G D/f# Em C - 3p.<br/>
<br/>
G            D/f#<br/>
 Мы движемся медленно,<br/>
    Em              C<br/>
Но движемся наверняка,<br/>
G           D/f#           Em C<br/>
 Меняя пространство наощупь.<br/>
G         D/f#   <br/>
 От самой нижней границы<br/>
    Em               C<br/>
До самой вершины холма<br/>
G           D/f#              Em C<br/>
 Я знаю всё собственным телом.<br/>
<br/>
G             D/f#         Em         C<br/>
 Никто не пройдёт за нас по этой черте.<br/>
G          D/f#                Em        C<br/>
 Никто не сможет сказать, что здесь есть.<br/>
G         D/f#                 Em                C<br/>
 Но каждый юный географ скоро сможет об этом прочесть<br/>
C             D<br/>
 В полном собрании<br/>
                                   G    D/f# Em    C     G   G      D  D<br/>
                                 E----7-5----7--10-8--12-10---5-7-10----<br/>
                                 H-8-------------------------8------10--<br/>
C/e            D                 G--------------------------------------<br/>
                                 D--------------------------------------<br/>
   Писем с границы между светом и тенью. <br/>
<br/>
Заключение: <br/>
  G    D/f# Em    C     G   G      D  D<br/>
E----7-5----7--10-8--12-10---5-7-10----<br/>
H-8-------------------------8------10-- - 4p.<br/>
G--------------------------------------<br/>
D--------------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
о A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/e<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
