{% extends "chords.html" %}

{% set title = "Пиратская лирическая" %}
{% set handbook_unid = "c73e3bfc107671a4c325685f00733c4e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ПЕСНИ БУЛАТА ОКУДЖАВЫ - пиратская лирическая<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
пиратская лирическая <br/>
</span><i>Б.Окуджава<br/></i>
 <br/>
Вступление: C G C G C G C G <br/>
<br/>
   C          G        C<br/>
В ночь перед бурею на мачте<br/>
C          G           C<br/>
 Горят святого Эльма свечки<br/>
C       G         C<br/>
 Отогревают наши души<br/>
C          G        C <br/>
 За все минувшие года<br/>
         E            Am<br/>
Когда воротимся мы в Портленд <br/>
           A7         Dm<br/>
Мы будем кротки, как овечки. <br/>
                          E<br/>
Но только в Портленд воротиться <br/>
                     Am<br/>
Нам не придется никогда. <br/>
<br/>
  G                             C<br/>
Что ж, если в Портленд нет возврата,<br/>
 G                       C<br/>
Пускай несёт нас черный парус.<br/>
         G               C<br/>
Пусть будет крепок ром ямайский<br/>
  G                C<br/>
Всё остальное ерунда<br/>
         E            Am<br/>
Когда воротимся мы в Портленд <br/>
        A7           Dm<br/>
Ей Богу я во всем покаюсь. <br/>
                          E<br/>
Да только в Портленд воротиться <br/>
                     Am<br/>
Нам не придется никогда. <br/>
<br/>
  G                             C<br/>
Что ж, если в Портленд нет возврата,<br/>
G                       C<br/>
 Тогда умри купец со страху.<br/>
G                       C<br/>
 Ни Бог ни дьявол не помогут<br/>
G                    C<br/>
 Тебе спасти свои суда<br/>
         E           Am<br/>
Когда воротимся мы в Портленд <br/>
            A7             Dm<br/>
Клянусь, я сам взойду на плаху. <br/>
                          E<br/>
Да только в Портленд воротиться <br/>
                     Am<br/>
Нам не придется никогда. <br/>
<br/>
  G                             C<br/>
Что ж, если в Портленд нет возврата,<br/>
G                      C<br/>
 Поделим золото, как братья.<br/>
G                     C<br/>
 Поскольку денежки чужие<br/>
  G                   C<br/>
Мне достаются без труда.<br/>
         E            Am<br/>
Когда воротимся мы в Портленд <br/>
           A7          Dm<br/>
Нас примет родина в объятья. <br/>
                          E    <br/>
Да только в Портленд воротиться <br/>
                       Am    A<br/>
Не дай нам, Боже, никогда<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
