{% extends "chords.html" %}

{% set title = "Плоскость" %}
{% set handbook_unid = "cd4d1a812aa86de1c325679d006af06c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СИНИЙ АЛЬБОМ - плоскость<br/>
</span><span style="color:red"> <br/>
ПЛОСКОСТЬ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: G6/d D, Dsus4 D, G6/d D, D Dsus4 D A Asus2 A - 2p.<br/>
G G6/d D D A Asus2 A G G G6/d D Dsus4 D G6/d D Dsus4 D<br/>
<br/>
     D             Dsus4 D G6/d D<br/>
Мы стояли на плоскости <br/>
       D                A   Asus2 A<br/>
С переменным углом отражения,<br/>
      D       Dsus4 D G6/d D<br/>
Наблюдая закон, <br/>
      D                  A   Asus2 A<br/>
Приводящий пейзажи в движение;<br/>
      G<br/>
Повторяя слова, <br/>
                   G6/d D<br/>
Лишённые всякого смысла,<br/>
             A  Asus2 A<br/>
Но без напряжения, <br/>
          G         <br/>
Без напряжения...<br/>
<br/>
Проигрыш: D Dsus4 D G6/d D D A Asus2 A<br/>
D Dsus4 D G6/d D D A Asus2 A<br/>
G G6/d D A Asus2 A G<br/>
G6/d D Dsus4 D G6/d D Dsus4 D<br/>
<br/>
Их несколько здесь - <br/>
Измеряющих время звучанием,<br/>
На хороший вопрос <br/>
Готовых ответить мычанием;<br/>
И глядя вокруг, <br/>
Я вижу, что их появленье<br/>
Весьма неслучайно, <br/>
Весьма неслучайно...<br/>
<br/>
Заключение: <br/>
D Dsus4 D G6/d D D A Asus2 A<br/>
D Dsus4 D G6/d D D A Asus2 A<br/>
G G6/d D A Asus2 A G<br/>
G6/d D Dsus4 D G6/d D Dsus4 D<br/>
D Dsus4 D G6/d D D A Asus2 A<br/>
D Dsus4 D G6/d D D A Asus2 A<br/>
G G6/d D A Asus2 A G<br/>
G6/d D Dsus4 D G6/d D Dsus4 D<br/>
D Dsus4 D G6/d D D A Asus2 A<br/>
D Dsus4 D G6/d D D A Asus2 A<br/>
G G6/d D A Asus2 A G<br/>
G6/d D Dsus4 D G6/d D Dsus4 D<br/>
D Dsus4 D G6/d D D A Asus2 A<br/>
D Dsus4 D G6/d D D A Asus2 A<br/>
G G6/d D A Asus2 A G<br/>
G6/d D Dsus4 D G6/d D Dsus4 D<br/>
G6/d D Dsus4 D G6/d D Dsus4 D G6/d D Dsus4 D<br/>
<span style="color:silver"> <br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<a name="OLE_LINK5"></a><a name="OLE_LINK4"></a><a name="OLE_LINK3"><b><span style="font-size:8.0pt">          G6/d</span></b></a><br/>
<b><span style="font-size:8.0pt">o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
