{% extends "chords.html" %}

{% set title = "Пленение И.В. Сталина ирландским народным героем Фер Диадом" %}
{% set handbook_unid = "e52d522a9ddb4edbc325679d006af38a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ САУНДТРЕКОВ - ЧЁРНАЯ РОЗА - ЭМБЛЕМА ПЕЧАЛИ, КРАСНАЯ РОЗА - ЭМБЛЕМА ЛЮБВИ - пленение И.в.сталина ирландским народнм героем фер диадом<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
пленение и.в.сталина ирландским народным героем фер диадом<br/>
</span><i>А.Романов - Б.Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
A G D A, A G D A, A G D A, A G D A, E A, E A, E A, E A - 5p. <br/>
<br/>
A              G         D A<br/>
Уйдибаломдум скип дибалом<br/>
A              G         D A<br/>
Уйдибаломдум скип дибалом <br/>
A              G         D A<br/>
Уйдибаломдум скип дибалом<br/>
A              G         D A<br/>
Уйдибаломдум скип дибалом   Уй!<br/>
<br/>
Проигрыш: E A, E A, E A, E A<br/>
A G D A, A G D A, A G D A, A G D A, E A, E A, E A, E A<br/>
<br/>
Уйдибаломдум скип дибалом<br/>
Уйдибаломдум скип дибалом <br/>
Уйдибаломдум скип дибалом<br/>
Уйдибаломдум скип дибалом   Уй!<br/>
<br/>
Уйдибаломдум скип дибалом<br/>
Уйдибаломдум скип дибалом <br/>
Уйдибаломдум скип дибалом<br/>
Уйдибаломдум скип дибалом   Уй!<br/>
<br/>
Уйдибаломдум скип дибалом<br/>
Уйдибаломдум скип дибалом <br/>
Уйдибаломдум скип дибалом<br/>
Уйдибаломдум скип дибалом   <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
