{% extends "chords.html" %}

{% set title = "Поутру в поле" %}
{% set handbook_unid = "fa835c5888707b1943257d0e007082c1" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - поутру в поле<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
поутру в поле<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Каподастр на 5-м ладу<br/>
<br/>
Вступление: <br/>
C G:C F:C G:C F:C G:C F:C G:C<br/>
<br/>
  F           C         G        C<br/>
Кто бы рассказал про странствия сердца<br/>
 F         C       G         Am<br/>
Как оно горело на полпути к раю<br/>
 G       F      C       Dm   <br/>
Как оно пело, чтобы согреться<br/>
          F               G<br/>
Как танцевало по самому краю<br/>
<br/>
Куда бы мы ни шли: всё было мелко<br/>
Куда бы ни пришли: всё никакое<br/>
А потом руками раздвинули ветви<br/>
   F   G          C  C<br/>
И вышли поутру в поле<br/>
<br/>
   F        G     G       Am<br/>
А поутру в поле крёстная сила<br/>
 F        G      G           Am<br/>
Поутру в поле - боже, как красиво!<br/>
 C            F         F         Dm<br/>
Боже, как красиво! Мое сердце на воле<br/>
 F      G        C  C<br/>
Вот мы поутру в поле<br/>
<br/>
F            C                  G<br/>
 Багровый и белый пришли в мои песни<br/>
F C                  G<br/>
 Мы здесь не ради парада<br/>
Am          G               F   F/e<br/>
 Мы стоим вместе и падаем вместе<br/>
Dm                   G                G<br/>
 Но я буду петь тебе, если ты будешь рада<br/>
<br/>
Проигрыш: <br/>
C G:C F:C G:Am<br/>
G:F F/e:Dm Dm/c:F G<br/>
C G:C F:C G:Am<br/>
G:F F/e:Dm Dm/c:F C C<br/>
<br/>
Багровый и белый пришли в мои песни<br/>
Мы здесь не ради парада<br/>
Мы стоим вместе и падаем вместе<br/>
И я буду петь тебе, если ты будешь рада<br/>
                C  C<br/>
Если ты будешь рада<br/>
<br/>
По пояс в заре босыми ногами<br/>
Вот мы пришли, мы танцуем с богами<br/>
Небо и земля - вот наша доля<br/>
          F       G        Am<br/>
Нам дали вольную поутру в поле<br/>
 G        F       G        Am<br/>
Нам дали вольную поутру в поле<br/>
 G        F       G         C<br/>
Нам дали вольную поутру в поле<br/>
<br/>
Заключение: <br/>
C F:C G:C F:C G:Am G:F F/e:Dm G G<br/>
C G:C F:C G:Am G:F F/e:Dm Dm/c:F G:Am<br/>
G:F G:Am G:F G:C C!<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/c<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
