{% extends "chords.html" %}

{% set title = "Поколение дворников" %}
{% set handbook_unid = "a336497c8ab55d8fc325679d006af12c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАВНОДЕНСТВИЕ - поколение дворников<br/>
</span><span style="color:red"> <br/>
ПОКОЛЕНИЕ ДВОРНИКОВ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
     G<br/>
Поколение дворников и сторожей потеряло друг друга <br/>
                           Em                     C<br/>
В просторах бесконечной земли все разошлись по домам.<br/>
           G<br/>
В наше время, когда каждый третий - герой,<br/>
                 Em                    C<br/>
Они не пишут статей, они не шлют телеграмм,<br/>
<br/>
C  D               G<br/>
 Они стоят как ступени,<br/>
C         D              G      <span style="color:#5F5F5F">G/f#     </span>G<br/>
 Когда горящая нефть хлещет с этажа на этаж,<br/>
C     D                   G<br/>
 И откуда-то им слышится пение.<br/>
C           G              D<br/>
 И кто я такой, чтобы говорить им, что это мираж?<br/>
<br/>
Проигрыш: C G D – 2р.<br/>
<br/>
Мы молчали, как цуцики, пока шла торговля всем,<br/>
Что только можно продать, включая наших детей,<br/>
И отравленный дождь падает в гниющий залив.<br/>
А мы всё ещё смотрим в экран, мы всё ещё ждём новостей.<br/>
<br/>
   C       D               G<br/>
И наши отцы никогда не солгут нам.<br/>
C  D            G<br/>
 Они не умеют лгать,<br/>
C     D                  G<br/>
 Как волк не умеет есть мясо,<br/>
C      G               D<br/>
 Как птицы не умеют летать.<br/>
<br/>
Проигрыш: <br/>
  G             G                 Em             C                                                        <br/>
E-12-10-10--7-8-12-10-10--8-7-5-7-5-3-3--7-5-3-5-3-<br/>
H-------------------------------------------------- - 2p.<br/>
G--------------------------------------------------<br/>
<br/>
Скажи мне, что я сделал тебе, за что эта боль?<br/>
Но это без объяснений, это видимо что-то в крови,<br/>
Но я сам разжёг огонь, который выжег меня изнутри.<br/>
Я ушёл от закона, но так и не дошёл до любви.<br/>
<br/>
      C              D                    G<br/>
Но молись за нас, молись за нас, если ты можешь.<br/>
C   D                G<br/>
 У нас нет надежды, но этот путь наш<br/>
C       D                       G<br/>
 И голоса звучат всё ближе и строже,<br/>
                              6:II 6:0 5:V<br/>
C           G                  D   <br/>
 И будь я проклят, если это мираж.<br/>
<br/>
Заключение: <br/>
  G             G                 Em             C                                                          <br/>
E-12-10-10--7-8-12-10-10--8-7-5-7-5-3-3--7-5-3-5-3-<br/>
H-------------------------------------------------- - 4p.<br/>
G--------------------------------------------------<br/>
G - 6p. G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
