{% extends "chords.html" %}

{% set title = "Полукровка" %}
{% set handbook_unid = "2d9cc5927ffc0fe2c325679d006af024" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ АЛЕКСАНДРА ВЕРТИНСКОГО - полукровка<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
полукровка<br/>
</span><i>А.Вертинский<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
                 Am          A7      Dm<br/>
Мне не нужно женщины. Мне нужна лишь тема,<br/>
                  G                    C  E <br/>
Чтобы в сердце вспыхнувшем зазвучал напев.<br/>
          Am           A7   Dm<br/>
Я могу из падали создавать поэмы,<br/>
            G                    C  G  C <br/>
Я люблю из горничных делать королев.<br/>
<br/>
Am                      Am<br/>
Раз в вечернем дансинге как-то ночью Мая,<br/>
Am      G        C               G   C<br/>
   Где тела сплетенные колыхал джаз-банд,<br/>
Am                 A7            Dm<br/>
Я так мило выдумал Вас, моя простая,<br/>
 G           C     G             C  G  C <br/>
Вас, моя волшебница недалеких стран.<br/>
<br/>
      C          A7       Dm<br/>
Как поет в хрусталях электричество <br/>
       F          G       C<br/>
Я влюблен в Вашу тонкую бровь.<br/>
      A7            Dm<br/>
Вы танцуете, Ваше величество,<br/>
     G      C  G  C <br/>
Королева Любовь.<br/>
<br/>
Раз в вечернем дансинге как-то ночью Мая,<br/>
Где тела сплетенные колыхал джаз-банд,<br/>
Я так глупо выдумал Вас, моя простая,<br/>
Вас, моя волшебница недалеких стран.<br/>
<br/>
     C        A7     Dm<br/>
И души Вашей нищей убожество<br/>
      F       G       C<br/>
Было так тяжело разгадать.<br/>
     A7                Dm<br/>
Вы уходите... Ваше ничтожество<br/>
      C         G      C <br/>
Полукровка... Ошибка опять.<br/>
<br/>
Am                      Am                G  C <br/>
Раз в вечернем дансинге как-то ночью Мая...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
