{% extends "chords.html" %}

{% set title = "Посвящение" %}
{% set handbook_unid = "42763188aae85d5fc325679d006af138" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - ПРИБЕЖИЩЕ - посвящение (final dedication)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
посвящение (</span><span style="color:red">FINAL DEDICATION)<br/>
</span><i>Б.Гребенщиков - канонический текст<br/>
 <br/></i>
Вступление: A Hm7 - 8p.<br/>
<br/>
 A    Hm7     A   Hm7<br/>
Ге ва ди-ий дрова кюн<br/>
 A    Hm7   A       Hm7<br/>
Сонам йеше цог дзог-нэй<br/>
 A    Hm7   A     Hm7<br/>
Сонам йеше лэй юнгва<br/>
 A    Hm7    A Hm7  A<br/>
Дампа куньи тобпар шог<br/>
<br/>
Заключение: A Hm7 - 14p. A<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm7<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
