{% extends "chords.html" %}

{% set title = "Последний поворот" %}
{% set handbook_unid = "2c088e9b2c845c90c325679d006af018" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАВИГАТОР - последний поворот<br/>
</span><span style="color:red"> <br/>
ПОСЛЕДНИЙ ПОВОРОТ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 1-м ладу<br/></i>
 <br/>
        Am    Dm      E   Am<br/>
Меня зовут последний поворот,<br/>
   G      C     G C<br/>
Меня вы знаете сами<br/>
     A7   Dm   G           Am<br/>
По вкусу водки из сырой земли<br/>
    Dm  Am     E Am<br/>
И хлеба со слезами.<br/>
<br/>
    E    Am       G        Am<br/>
В моём дому всё хрен да полынь,<br/>
   G       C      G C<br/>
Дыра в башке - обнова;<br/>
     A7    Dm      G           Am<br/>
Мне нож по сердцу там, где хорошо,<br/>
  Dm   Am          E Am<br/>
Я дома там, где херово.<br/>
<br/>
Проигрыш: E Am G Am G C G C A7 Dm G Am Dm Am E Am<br/>
<br/>
    E       Am      Dm     E   Am<br/>
На кой мне хрен ваш город золотой,<br/>
    G        C          G  C<br/>
На кой мне хрен петь складно -<br/>
    A7    Dm      G          Am<br/>
В моей душе семь сотен лет пожар,<br/>
  Dm       Am      E  Am<br/>
Забыть бы всё - и ладно.<br/>
<br/>
  E     Am       G     Am<br/>
А если завтра в чистый рай<br/>
     G    C     G     C <br/>
Под белы руки взят буду -<br/>
  A7     Dm       G          Am<br/>
Апостол Пётр, ой батька Николай,<br/>
 Dm     Am    E Am<br/>
Пусти меня отсюда.<br/>
<br/>
     E     Am     G     Am<br/>
А в чистом небе два крыла<br/>
    G     C     G  C    <br/>
Чертят дугу исправно...<br/>
   A7     Dm      G        Am<br/>
Я сам хромой, и все мои дела -<br/>
   Dm   Am      E  Am<br/>
Налей ещё - и славно.<br/>
   G      C      A7        Dm<br/>
Я сам хромой, и все мои дела -<br/>
   Dm   Am      E  Am<br/>
Налей ещё - и славно.<br/>
<br/>
Заключение: E Am G Am G C G C A7 Dm G Am Dm Am E Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
