{% extends "chords.html" %}

{% set title = "Послезавтра" %}
{% set handbook_unid = "fd84eb5d70b4e9cbc3256d2500304f48" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСНИ РЫБАКА - послезавтра<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Послезавтра <br/>
</span><i>Б. Гребенщиков</i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: 1:VII 1:V 1:III C G D G, C G D G G<br/>
<br/>
  C          G<br/>
Много лет назад<br/>
          D        G<br/>
В тени чужих мостовых<br/>
    C       G<br/>
Я увидел тебя и подумал:<br/>
    G/f#               Em<br/>
Как редко встречаешь своих.<br/>
 C       G<br/>
Как оно было тогда - <br/>
 D        C<br/>
Так оно и есть.<br/>
   C          G<br/>
Сегодня я прощаюсь,<br/>
      D                    G<br/>
Послезавтра я опять буду здесь.<br/>
<br/>
Проигрыш: C G D G G<br/>
<br/>
Я учусь у Луны;<br/>
Я сам себе господин.<br/>
Кто бы ни был со мной,<br/>
Я всё равно изначально один.<br/>
Вышел из пламени,<br/>
Отсюда вся моя спесь.<br/>
Но если я прощаюсь,<br/>
Послезавтра я опять буду здесь.<br/>
<br/>
Проигрыш: C G D G G<br/>
<br/>
Если буря смоет город -<br/>
Ну, извини!<br/>
Я был в обиде на тебя,<br/>
Моё сердце было в тени.<br/>
Через стены этой гордости<br/>
Не так легко перелезть -<br/>
Но если я прощаюсь,<br/>
Послезавтра я опять буду здесь.<br/>
<br/>
Проигрыш: C G D G - 2p. G<br/>
G G G G/f# Em, G G G G/f# Em, C G D G<br/>
<br/>
У меня плохая память<br/>
И омерзительный нрав.<br/>
Я не могу принять сторону,<br/>
Я не знаю никого, кто не прав.<br/>
Но в мире есть что-то,<br/>
Чего не выпить, не съесть.<br/>
Если что-то не так,<br/>
То послезавтра я опять буду здесь.<br/>
<br/>
Никого внизу<br/>
И никого наверху.<br/>
Я бы соврал,<br/>
Если бы сказал, что я в курсе -<br/>
Но Бог не ангел;<br/>
Он просто такой, как он есть;<br/>
  C          G<br/>
И если я прощаюсь,<br/>
      D                   Em<br/>
Послезавтра я опять буду здесь;<br/>
              G<br/>
Сегодня я прощаюсь,<br/>
      D                    G<br/>
Послезавтра я опять буду здесь.<br/>
<br/>
Заключение: <br/>
1:VII 1:V 1:III C G D G, C G D G<br/>
C G D G, C G D G C+g G C+g G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
