{% extends "chords.html" %}

{% set title = "Пой, пой лира" %}
{% set handbook_unid = "cff55ddf29254d5dc325679d006af126" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - КОСТРОМА MON AMOUR - пой, пой лира<br/>
</span><span style="color:red"> <br/>
ПОЙ, ПОЙ ЛИРА<br/>
</span><i>Б. Гребенщиков - А. Гуницкий<br/></i>
 <br/>
Вступление: Am – 8p.<br/>
<br/>
Dm        Am<br/>
Пой, пой, лира;<br/>
Dm                Am<br/>
Пой о том, как полмира<br/>
 Dm          Am   Dm            F E<br/>
Мне она подарила - а потом прогнала;<br/>
 Dm        Am<br/>
Пой, пой, лира,<br/>
    Dm                 Am<br/>
Про то, как на улице Мира<br/>
  Dm              Am    E           Am<br/>
В меня попала мортира - а потом умерла.<br/>
<br/>
Проигрыш: Dm Am – 3p. E Am<br/>
<br/>
Пой, пой, лира,<br/>
О глупостях древнего мира,<br/>
О бешеном члене сатира и тщете его ремесла;<br/>
Пой, пой, лира,<br/>
О возгласах "майна" и "вира",<br/>
О парусных волнах эфира и скрипе сухого весла.<br/>
<br/>
     C            G        C<br/>
Говорят, трижды три  - двенадцать;<br/>
      C         G       C<br/>
Я не верю про это, но всё ж<br/>
        C        G        C<br/>
Я с мечтой не хочу расставаться,<br/>
        F                G<br/>
Пусть моя экзистенция - ложь;<br/>
        C         G       C<br/>
Там вдали - ипподром Нагасаки,<br/>
       F        G      C<br/>
Где задумчиво блеет коза;<br/>
         C        G        C<br/>
Всё на свете - загадка и враки,<br/>
       F              E<br/>
А над нами бушует гроза.<br/>
<br/>
Проигрыш: Am – 4p. <br/>
Am C Dm Am Dm Am Dm E Dm Am Dm Am Dm Am E Am<br/>
<br/>
Пой, пой, лира,<br/>
О тайнах тройного кефира,<br/>
О бездуховности клира и первой любови козла;<br/>
Пой, пой, лира,<br/>
О том, как с вершины Памира<br/>
Она принесла мне кумира, а потом унесла.<br/>
 F   Am    F    G<br/>
Пой, пой, пой, пой...<br/>
 F   Am<br/>
Пой, пой,<br/>
 F  E            Am<br/>
Пой – и подохни, лира!<br/>
<br/>
Проигрыш: Dm Am E Am – 2p.<br/>
<br/>
Стоп!<br/>
<br/>
Заключение: Dm Am E Am – 2p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
