{% extends "chords.html" %}

{% set title = "Подмосковные вечера" %}
{% set handbook_unid = "4341ff231098f12ac325679d006af09c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - КОНЦЕРТНЫЕ ЗАПИСИ - подмосковные вечера<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
подмосковные вечера <br/>
</span><i>В.Соловьёв-Седой - М.Матусовский<br/></i>
 <br/>
<i>А сейчас будет известная всем русская песня, переходящая во что-то другое.<br/>
Узнаете вы или нет, интересно? По первому аккорду...<br/>
<br/>
Am…<br/>
<br/>
Нет, нет, нет, нет, это не "Мой друг музыкант". Это старинная, старинная песня... Не наша... <br/></i>
 <br/>
Вступление: Am - 4p.<br/>
<br/>
Am             Dm     Am E Am<br/>
Не слышны в саду даже шорохи<br/>
  C             F       C<br/>
Все здесь замерло до утра.<br/>
H7 E     Am               Dm<br/>
Если б знали вы, как мне дороги<br/>
       Am     E   Am<br/>
Подмосковные вечера.<br/>
H7 E     Am               Dm<br/>
Если б знали вы, как мне дороги<br/>
       Am     E  Am Am Am<br/>
Подмосковные вечера.<br/>
<br/>
 Am<br/>
Не слышны в саду даже шорохи!<br/>
  Dm                    Am<br/>
Все здесь замерло до утра!<br/>
         Am<br/>
Если б знали вы, как мне дороги!<br/>
       Am     E   Am<br/>
Подмосковные вечера!<br/>
                      Am<br/>
А я не помню дальше слов...<br/>
                      Am<br/>
А я не помню дальше слов...<br/>
                      Am<br/>
А я не помню дальше слов...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
