{% extends "chords.html" %}

{% set title = "Почему не падает небо" %}
{% set handbook_unid = "5b52b1653008fbfcc325679d006af0db" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - почему не падает небо<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Почему не падает небо<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
  E-7-5-3       -7-5-3<br/>
D H-8-5-3 D D D -8-5-2 D D7<br/>
  G-7-6-5       -7-6-5<br/>
<br/>
     G  G/f# Em         A        D   D7<br/>
Он слышал её имя - он ждал повторенья;<br/>
     G      G/f#   Em        A       D  D7<br/>
Он бросил в огонь всё, чего было не жаль.<br/>
        G       G/f#     Em       A<br/>
Он смотрел на следы её, жаждал воды её,<br/>
 D             D7<br/>
Шёл далеко в свете звезды её;<br/>
                                     E-7-5       <br/>
   G    G/f#  Em          A        D H-8-7 A7 D G D A D D7<br/>
                                     G-7-7       <br/>
В пальцах его снег превращался в сталь.<br/>
<br/>
И он встал у реки, чтобы напиться молчанья;<br/>
Смыть с себя всё, и снова остаться живым.<br/>
Чтобы голос найти её, в сумрак войти её,<br/>
Странником стать в долгом пути её;<br/>
                                     E-7-5       <br/>
   G    G/f#  Em          A        D H-8-7 A7 D G D A D<br/>
                                     G-7-7            <br/>
В пальцах его вода превращалась в дым.<br/>
<br/>
И когда его день кончился молча и странно,<br/>
И кони его впервые остались легки,<br/>
То пламя свечей её, кольца ключей её,<br/>
Нежный, как ночь, мрамор плечей её,<br/>
                              E-7-5       <br/>
   G    G/f#  Em       A    D H-8-7 A7 D G D A D<br/>
                              G-7-7 <br/>
Молча легли в камень его руки.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
