{% extends "chords.html" %}

{% set title = "Праздник Урожая во Дворце Труда" %}
{% set handbook_unid = "c4e4a5337d52c14443257c29001fb717" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - Аквариум + - ПРАЗДНИК УРОЖАЯ ВО ДВОРЦЕ ТРУДА - ПРАЗДНИК УРОЖАЯ ВО ДВОРЦЕ ТРУДА<br/>
</span><span style="text-transform:uppercase"> <br/>
</span><span style="color:red;text-transform:uppercase">праздник урожая во дворце труда<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: Am7<br/>
<br/>
E--------0h2-0----------------------<br/>
H-------------3-1-------------------<br/>
G--0-2-----------2-----2---2---2----<br/>
D---------------------------------0-<br/>
A-0---------------0--0---3---0---3--<br/>
E-----------------------------------<br/>
<br/>
Am Am/c:Am/d Am Am:Am/g Am Am<br/>
Am:Am/g Am Am7 Am/g:Am Am:Am/g Am Am/g:Am Am/g:Am<br/>
<br/>
Am               G                      Am<br/>
  Сколько мы не пели, всё равно что молчали <br/>
Am        G             Em            Am             <br/>
 Поэтому мёртвой стала наша святая вода <br/>
C          G               Dm <br/>
 По нам проехали колёса печали <br/>
F             G                Em               Am Am<br/>
 И вот мы идём на Праздник Урожая во Дворце Труда <br/>
<br/>
<br/>
Время уклоняться, но как уклониться <br/>
Уйти с этой зоны, вырвать из себя провода <br/>
C               G        Dm               F<br/>
 А Роза Леспромхоза и Мария Подвенечная Птица <br/>
F                                  Dm<br/>
 Готовы отдать всё, что есть за билет <br/>
                G                Am Am<br/>
На Праздник Урожая во Дворце Труда <br/>
<br/>
<br/>
E                 E7                Am<br/>
 Мы знаем, что машина вконец неисправна <br/>
E                 E7         Am<br/>
 Мы знаем, что дороги нет и не было здесь никогда <br/>
C           G                     C                G<br/>
 Закрой глаза, чтоб не видеть крадущегося по полю фавна <br/>
Dm                  E<br/>
 В двери стучит сорвавшаяся с неба звезда - <br/>
E             E7               Am<br/>
 Праздник Урожая во Дворце Труда <br/>
<br/>
<br/>
Проигрыш: Am - 11p. Am7<br/>
<br/>
Красная, как флаг, чёрная сажа <br/>
В античных руинах разорванные в хлам поезда <br/>
C               G    Dm            F<br/>
 Под ногами прохожих - холсты Эрмитажа <br/>
F                        Dm<br/>
 Дирижёр абсолютно глухой - <br/>
             G                Am Am<br/>
Праздник Урожая во Дворце Труда <br/>
<br/>
Сколько мы не пели, всё равно что молчали <br/>
Поэтому мёртвой стала наша святая вода <br/>
C            G    Dm                  F<br/>
 И звёздной ночью я буду ждать на причале <br/>
F                  Dm<br/>
 Мы в самом начале - <br/>
             G                Am<br/>
Праздник Урожая во Дворце Труда <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/c<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/d<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/g<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am7<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
