{% extends "chords.html" %}

{% set title = "Прощание с \"Аббатской дорогой\"" %}
{% set handbook_unid = "6eb6dac7972d368dc325679d006af252" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ДОИСТОРИЧЕСКИЕ ПЕСНИ - ПРИТЧИ ГРАФА ДИФФУЗОРА - прощание с «аббатской дорогой»<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
прощание с «аббатской дорогой» <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: Edim Dm - 2p. <br/>
<br/>
Edim                   Dm<br/>
    Ушла "Аббатская дорога",<br/>
Edim                     Dm<br/>
    Ушли "Орбита" и "Сайгон",<br/>
F                     C  C/h<br/>
 Нам остается так немного<br/>
Am           G           F  F C<br/>
  От наших сказочных времен; <br/>
<br/>
Остались цифры телефонов,<br/>
В которых нас не узнают;<br/>
Осталось в улицах знакомых<br/>
Опять искать себе приют.<br/>
<br/>
    G G G/f#<br/>
Пускай <br/>
 Em              Am   H7<br/>
Уходят годы, друзья и боги,<br/>
     G G G/f#<br/>
Для нас <br/>
  Em          Am    H7<br/>
Поют неназванные дороги,<br/>
    Dm  E<br/>
Других мы назовем своими друзьями,<br/>
F                 Em<br/>
Если нам не по пути... <br/>
<br/>
Проигрыш: <br/>
C 5:III 5:II 5:0 G 6:III 5:II 6:II Em   <br/>
Am Em - 7p. Am Edim Dm Edim Dm Dm<br/>
<br/>
Но все ж ночами вижу лица,<br/>
И здесь не властен циферблат;<br/>
Боюсь проснуться, если снится<br/>
Тот, кто мне раньше был как брат.<br/>
<br/>
Пускай <br/>
Уходят годы, друзья и боги,<br/>
Для нас <br/>
Поют неназванные дороги,<br/>
Других я назову своими друзьями,<br/>
Если нам не по пути... <br/>
<br/>
Заключение: <br/>
C 5:III 5:II 5:0 G 6:III 5:II 6:II Em 6:0 6:II 6:III<br/>
C 5:3 5:II 5:0 G 6:III 5:II 6:II Em 6:0 6:II 6:III C <br/>
C 5:III 5:II 5:0 G 6:III 5:II 6:II Em 6:0 6:II 6:III<br/>
C 5:3 5:II 5:0 G…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Edim<br/>
  E---|---|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
