{% extends "chords.html" %}

{% set title = "Прекрасный дилетант" %}
{% set handbook_unid = "94a0ada8b6783aebc325679d006af0e1" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЭЛЕКТРИЧЕСТВО - прекрасный дилетант<br/>
</span><span style="color:red"> <br/>
ПРЕКРАСНЫЙ ДИЛЕТАНТ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
  Em               A7               C                A7      H7<br/>
E-7-0-2h3-7-0-2h3--7-0-2h3-7-0-2h3--7-0-2h3-7-0-2h3--7-0-2h3-7-0-2h3-<br/>
H------------------------------------------------------------------- - 3p.<br/>
G-------------------------------------------------------------------<br/>
<br/>
      Em<br/>
Она боится огня, ты боишься стен;<br/>
 A7<br/>
Тени в углах, вино на столе.<br/>
    C<br/>
Послушай, ты помнишь, зачем ты здесь;<br/>
   A7                 H7<br/>
Кого ты здесь ждал, кого ты здесь ждал?<br/>
<br/>
Мы знаем новый танец, но у нас нет ног;<br/>
Мы шли на новый фильм, кто-то выключил ток;<br/>
Ты встретил здесь тех, кто несчастней тебя;<br/>
Того ли ты ждал, того ли ты ждал?<br/>
<br/>
Проигрыш: Em A7 C A7 H7<br/>
<br/>
G(III)                   D#+7<br/>
Я не знал, что это моя вина.<br/>
   Em(VII)           Am(V)<br/>
Я просто хотел быть любим,<br/>
    D(V)               C# <br/>
Я просто хотел быть любим...<br/>
C#        C#      C#7         <br/>
О-о-о-о-А  О-о-о-А-А!<br/>
<br/>
Проигрыш: Em A7 C A7 H7 - 2p.<br/>
<br/>
Она плачет по утрам, ты не можешь помочь;<br/>
За каждым новым днём - новая ночь;<br/>
Прекрасный дилетант на пути в гастроном -<br/>
Того ли ты ждал, того ли ты ждал?<br/>
<br/>
Проигрыш: Em A7 C A7 H7 <br/>
<br/>
   Em<br/>
             О-ё-ё-ё-ё-о<br/>
Того ли ты ждал?..<br/>
   A7<br/>
-о-о-о-о-о             Сате<br/>
Того ли ты ждал?..<br/>
C<br/>
            Омбаса ё ё ё ё<br/>
Того ли ты ждал?..<br/>
  A7            H7<br/>
              О е…<br/>
Того ли ты ждал?..<br/>
<br/>
             О-ё-ё-ё-ё-о<br/>
Того ли ты ждал?..<br/>
-о-о-о-о-о             Сате<br/>
Того ли ты ждал?..<br/>
            Омбаса ё ё ё ё<br/>
Того ли ты ждал?..<br/>
              О е…<br/>
Того ли ты ждал?..<br/>
<br/>
            О-ё-ё-ё-ё-о<br/>
Того ли ты ждал?..<br/>
-о-о-о-о-о             Сате<br/>
Того ли ты ждал?..<br/>
            Омбаса ё ё ё ё<br/>
Того ли ты ждал?..<br/>
             О е…<br/>
Того ли ты ждал?..<br/>
<br/>
             О-ё-ё-ё-ё-о<br/>
Того ли ты ждал?..<br/>
-ё           Сате-а-а-а-а!<br/>
Того ли ты ждал?..<br/>
            Омбаса ё ё ё ё<br/>
Того ли ты ждал?..<br/>
ё-о-о-о-о   О е…<br/>
Того ли ты ждал?..<br/>
<br/>
            О-ё-ё-ё-ё-о<br/>
Того ли ты ждал?..<br/>
-о-о-о-о-о             Сате<br/>
Того ли ты ждал?..<br/>
            Омбаса ё ё ё ё<br/>
Того ли ты ждал?..<br/>
              О е…<br/>
Того ли ты ждал?..<br/>
<br/>
           О-й-а-а-а-а<br/>
Того ли ты ждал?..<br/>
-а-а—а-а-а-а-а-а-<br/>
Того ли ты ждал?..<br/>
-а-а-а-а-а-а-а-а--а<br/>
Того ли ты ждал?..<br/>
-а-а-а-а—а-а-а-а—а…<br/>
Того ли ты ждал?..<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   III     D#+7<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII   Em(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Am(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     D(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#7<br/>
  E-■-|---|---|-■-|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
