{% extends "chords.html" %}

{% set title = "Примета" %}
{% set handbook_unid = "9656ccfe83b7d433c325685f0074ff37" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ БУЛАТА ОКУДЖАВЫ - примета<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
примета <br/>
</span><i>Б.Окуджава<br/></i>
 <br/>
Вступление: Am - 2p.<br/>
<br/>
Am<br/>
Если ворон в вышине,<br/>
Am<br/>
Дело, стало быть, к войне!<br/>
      F          Dm               <br/>
Если дать ему кружить,<br/>
      F          Dm              <br/>
Если дать ему кружить,<br/>
  E                      Am<br/>
Значит, всем на фронт иттить.<br/>
<br/>
Чтобы не было войны,<br/>
Надо ворона убить.<br/>
Чтобы ворона убить,<br/>
Чтобы ворона убить,<br/>
Надо ружья зарядить.<br/>
<br/>
А как станем заряжать,<br/>
Всем захочется стрелять.<br/>
Ну а как стрельба пойдет,<br/>
Ну а как стрельба пойдет,<br/>
Пуля дырочку найдет.<br/>
<br/>
Ей не жалко никого,<br/>
Ей попасть бы хоть в кого.<br/>
Хоть в чужого, хоть в свово,<br/>
Лишь бы всех до одного<br/>
Во - и боле ничего.<br/>
<br/>
Во - и боле ничего,<br/>
Во - и боле никого,<br/>
Во - и боле никого,<br/>
Кроме ворона того -<br/>
Стрельнуть некому в него...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="width:131.55pt;border-collapse:collapse" width="175">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
