{% extends "chords.html" %}

{% set title = "Пригородный блюз" %}
{% set handbook_unid = "046420d77ea6b848c325679d006af31b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЧУЖИЕ ПЕСНИ - пригородный блюз<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
пригороднй блюз<br/>
</span><i>М.Науменко<br/>
 <br/></i>
Вступление: E - 4p.<br/>
<br/>
E<br/>
Я сижу в сортире и читаю "Rolling Stone",<br/>
 E<br/>
Венечка на кухне разливает самогон,<br/>
 E<br/>
Вера спит на чердаке, хотя орет магнитофон,<br/>
 E                       E7<br/>
Ее давно пора будить, но это будет моветон.<br/>
 A<br/>
Дождь идет второй день,<br/>
 A7<br/>
Нужно спать, но спать - лень,<br/>
 E                                  E<br/>
Хочется курить, но не осталось папирос....<br/>
H7<br/>
Я боюсь думать - наверно, я трус.<br/>
 A            A7       G          A E<br/>
Денег нет, зато есть пригородный блюз!<br/>
<br/>
Проигрыш: E - 2p.<br/>
<br/>
Какая-то мадам звонит мне третий час,<br/>
От нее меня тошнит, тошнит уже не в первый раз,<br/>
Я говорю ей: "Ненавижу, не люблю и не хочу! ",<br/>
Говорю, - "Меня здесь нет, я давно ушел к врачу"...<br/>
Разбиваю телефон, иду пить самогон...<br/>
Хочется курить, но не осталось папирос...<br/>
Я боюсь думать - наверно, я трус.<br/>
Денег нет, зато есть пригородный блюз!<br/>
<br/>
Проигрыш: E - 4p.<br/>
<br/>
Часы пробили ровно одиннадцать часов,<br/>
Венечка взял сумку с тарой и без лишних слов<br/>
Надел мой старый макинтош и тотчас был таков,<br/>
Вера слезла с чердака, чтоб сварить нам плов.<br/>
Двадцать лет - как бред, двадцать бед - один ответ,<br/>
Хочется курить, но не осталось папирос...<br/>
Я боюсь жить - наверно, я трус.<br/>
Денег нет, зато есть пригородный блюз!<br/>
<br/>
Заключение: E - 8p. H7 A A7  E E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
