{% extends "chords.html" %}

{% set title = "Проснувшись, друид идёт за пивом" %}
{% set extra_title = "(инструментал)" %}
{% set handbook_unid = "4ab2c91c25ce37f2c325679d006af393" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ИНСТРУМЕНТАЛЫ - проснувшись, друид идёт за пивом<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">проснувшись, друид идёт за пивом<br/>
</span><i>А.Романов, Б.Гребенщиков<br/>
 <br/></i>
E------10---<br/>
H-10-12--12- <br/>
G-----------<br/>
A:E 5:0 5:II E E E E 5:0 5:II E - 6p. E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
