{% extends "chords.html" %}

{% set title = "Предчувствие гражданской войны" %}
{% set handbook_unid = "20c097a317c77a08c325679d006aeead" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ АНТОЛОГИЙ И СБОРНИКОВ - ИСТОРИЯ АКВАРИУМА. АРХИВ. ТОМ III - предчувствие гражданской войны<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
ПРЕдчувствие гражданской войны <br/>
</span><i>Б.Гребенщиков - А.Гуницкий<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: <br/>
      Dm<br/>
E----0-1-0---1-<br/>
H---3-----3--3-<br/>
G--2-------2-2-<br/>
D-0----------0-<br/>
<br/>
Dm                         Gm<br/>
  Грустит сапог под желтым небом,<br/>
B                  A<br/>
 Но впереди его печаль.<br/>
Dm                     Gm<br/>
  Зеленых конвергенций жаль,<br/>
     B                     A<br/>
Как жаль червей, помятых хлебом. <br/>
<br/>
Dm                        Gm<br/>
   С морского дна кричит охотник<br/>
B                     A<br/>
 О безвозвратности воды<br/>
Gm                 Gm<br/>
  Камней унылые гряды<br/>
    B                   A  Dm<br/>
Давно срубил жестокий плотник.<br/>
<br/>
Заключение: Dm Gm B Dm/f A, Dm Gm B Dm/f<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:131.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
