{% extends "chords.html" %}

{% set title = "Пустые места" %}
{% set handbook_unid = "1032fd89af9dc030c325679d006af0e7" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ТАБУ - пустые места <br/>
</span><span style="color:red"> <br/>
ПУСТЫЕ МЕСТА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
D-------------------------------------------------------<br/>
A-------------------------------------------------------<br/>
E-0—9-10---10-12-10-10h11-12—-0-9-10---10-12-10-10h11-12<br/>
  E                           E<br/>
D-------------------------------------------------------<br/>
A-------------------------------------------------------<br/>
E-0—9-10---10-12-10-10h11-12—-0-9-10---10-12-10-10h11-12<br/>
<br/>
       E <br/>
Она использует меня, чтоб заполнить пустые места.<br/>
   E<br/>
Использует меня, чтоб заполнить пустые места.<br/>
Em                Em+7<br/>
  Знаешь, если бы мы были вместе,<br/>
  Em7            Em/c#<br/>
То эта задача проста;<br/>
     C+7                                E<br/>
Но я дал тебе руку, и рука осталась пуста. <br/>
<br/>
Проигрыш: E – 3p.<br/>
<br/>
Мы шли через реку, пока нам хватало моста.<br/>
Мы шли через реку, пока нам хватало моста.<br/>
Мы что-то обещали друг другу,<br/>
Кто был первым, ты или я?<br/>
И вот мы всё ещё идём, но вода под нами чиста. <br/>
<br/>
Проигрыш: E – 7p.<br/>
<br/>
В своём кругу мы выбивали двести из ста.<br/>
В своём кругу мы выбивали двести из ста.<br/>
Но каждый из нас стрелял в своё солнце,<br/>
И времени было в обрез;<br/>
Теперь я знаю песню, и эта песня проста. <br/>
<br/>
Проигрыш: E<br/>
<br/>
      E<br/>
Мы используем друг друга, чтоб заполнить пустые места.<br/>
   E<br/>
Используем друг друга, чтоб заполнить пустые места...<br/>
      E<br/>
Мы используем друг друга, чтоб заполнить пустые места.<br/>
      E<br/>
Мы используем друг друга, чтоб заполнить пустые места.<br/>
   E<br/>
Используем друг друга, чтоб заполнить пустые места...<br/>
   E<br/>
Используем друг друга, чтоб заполнить пустые места...<br/>
   E<br/>
Используем…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em+7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em/c#<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
