{% extends "chords.html" %}

{% set title = "Пускай погибну безвозвратно" %}
{% set handbook_unid = "ccde085fea77982ec325679d006af14a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- МИТЬКОВСКИЕ ПЕСНИ - пускай погибну безвозвратно<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
пускай погибну безвозвратно<br/>
</span><i>народная<br/></i>
 <br/>
    C     A7           Dm<br/>
Пускай погибну безвозвратно<br/>
   G                   C(III) C(III) H B A<br/>
Навек, друзья, навек, друзья<br/>
                       Dm<br/>
Но все ж покамест аккуратно<br/>
          C        G   C(III) C(III) H B A<br/>
Пить буду я, пить буду я<br/>
                       Dm<br/>
Но все ж покамест аккуратно<br/>
          C        G   C<br/>
Пить буду я, пить буду я<br/>
<br/>
Я пью и с радости и с скуки<br/>
Забыв весь мир, забыв весь свет<br/>
Беру бокал я смело в руки<br/>
Пью - горя нет, пью - горя нет<br/>
Беру бокал я смело в руки<br/>
Пью - горя нет, пью - горя нет<br/>
<br/>
Когда я пьян, а пьян всегда я,<br/>
Ничто меня не устрашит<br/>
И никакая сила ада<br/>
Мое блаженство не смутит<br/>
И никакая сила ада<br/>
Мое блаженство не смутит<br/>
<br/>
Проигрыш: <br/>
C A7 Dm, G C(III) C(III) H B, A Dm ,C G C(III) C(III) H B, A Dm, C G C<br/>
<br/>
Сейчас я только полупьяный<br/>
Я часто вспоминаю Вас<br/>
И по щеке моей румяной<br/>
Слеза скатилась с пьяных глаз<br/>
И по щеке моей румяной<br/>
Слеза скатилась с пьяных глаз<br/>
<br/>
Без пиджака, в одном халате<br/>
Шинель продета в рукава<br/>
Фуражка теплая на вате<br/>
Чтоб не болела голова<br/>
Фуражка теплая на вате<br/>
Чтоб не болела голова<br/>
<br/>
Я возвращался на рассвете<br/>
Всегда б был весел, водку пил<br/>
И на цыганском факультете<br/>
Образованье получил<br/>
И на цыганском факультете<br/>
Образованье получил<br/>
<br/>
Белеет парус одинокий<br/>
В житейском море, господа,<br/>
Привет, немытая Россия <br/>
Гори, гори, моя звезда <br/>
Привет, немытая Россия <br/>
Гори, гори, моя звезда <br/>
<br/>
Заключение:<br/>
C A7 Dm, G C(III) C(III) H B, A Dm ,C G C(III) C(III) H B, A Dm, C G C - 2р. C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
