{% extends "chords.html" %}

{% set title = "Разве можно от женщины..." %}
{% set handbook_unid = "f01175c2e6ab9ac2c325679d006af153" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ АЛЕКСАНДРА ВЕРТИНСКОГО - разве можно от женщины...<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Разве можно от женщины... <br/>
</span><i>А.Вертинский<br/></i>
 <br/>
                C        G         C    G<br/>
Разве можно от женщины требовать многого?<br/>
        F       C        G        C G C<br/>
Вы так мило танцуете, в Вас есть шик.<br/>
                C       G       C    G<br/>
А от Вас и не ждут поведения строгого,<br/>
     F       C        G       C<br/>
Никому не мешает Ваш муж, старик.<br/>
           Am     E        Am<br/>
Только не надо играть в загадочность<br/>
             G     Em        G<br/>
И делать из жизни "Le vin triste".<br/>
            C           G      C       G <br/>
Это все пустяки - Вы и Ваша порядочность,<br/>
      F       C          G       C  G C    <br/>
Это просто кокетливость фиговый лист.<br/>
<br/>
У Вас, несомненно, большие данные:<br/>
Три-четыре банкротства - приличный стаж.<br/>
Только Вас воспитали чуть-чуть по-странному,<br/>
Я б сказал, европейски - фокстрот и пляж.<br/>
Я Вас так понимаю, я так Вам сочувствую,<br/>
              D                   G<br/>
Я готов разорваться на сто частей.<br/>
Восемнадцатый раз я привычно присутствую<br/>
При одной из обычных для Вас "смертей".<br/>
<br/>
Я давно уже выучил все завещание<br/>
И готов повторить Вам в любой момент:<br/>
Фокстерьера Жужу отослать в Испанию,<br/>
Где живет Ваш любовник, один студент.<br/>
Ваши платья и шляпки раздать учащимся,<br/>
                                        G<br/>
А "dessous" сдать в музей прикладных искусств.<br/>
А потом с вашим мужем вдвоем мы потащимся<br/>
Покупать вам на гроб сирени куст.<br/>
<br/>
                C        G         C    G<br/>
Разве можно от женщины требовать многого?<br/>
           F         C         G          G C<br/>
Там, где глупость божественна, ум - ничто!<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
