{% extends "chords.html" %}

{% set title = "Растаманы из глубинки" %}
{% set handbook_unid = "8d4e4b85c3d1ee52c3256b23005f9d93" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СЕСТРА ХАОС - растаманы из глубинки<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Растаманы из глубинки<br/>
</span><i>Б. Гребенщиков</i>
 <br/>
<i>А теперь большой большой звук<br/>
Ликвидирующий крышу всему, что вокруг<br/>
Забудьте страдания и всяческих мук<br/>
Слово бакалавру естественных наук<br/>
<br/>
Каподастр на 2-м ладу<br/></i>
 <br/>
Проигрыш: G C D - 11p. G G7 C7 <span style="color:#999999">D<br/></span>
 <br/>
             G<br/>
Нам в школе выдали линейку, <br/>
       C        D       G C D<br/>
Чтобы мерить объём головы;<br/>
 G        Em<br/>
Выдали линейку, <br/>
       Am               D D<br/>
Чтобы мерить объём головы.<br/>
Am<br/>
Мама, в каникулы мы едем на Джамейку<br/>
 C<br/>
Мама, в каникулы мы едем на Джамейку<br/>
D                          G C D G C D<br/>
 Работать над курением травы.<br/>
<br/>
В Байкале крокодилы, <br/>
Баобабы вдоль Волги-реки.<br/>
В Байкале крокодилы, <br/>
Баобабы вдоль Волги-реки...<br/>
Мама, как нам справиться с глобальным потепленьем?<br/>
Мама, как нам справиться с глобальным потепленьем?<br/>
Покрепче прибивать косяки.<br/>
<br/>
Проигрыш: <br/>
G C D - 2p. <br/>
G Em Am D D Am C D  <br/>
G C D - 2p. <br/>
<br/>
Em                               H<br/>
  Не плачь, мама, твои дети в порядке;<br/>
Em                                   G<br/>
  Не плачь, мама, наша установка верна.<br/>
Am<br/>
  Садовник внимательно следит <br/>
    C<br/>
За каждым корнеплодом на грядке;<br/>
    Am<br/>
Мы знаем, что есть только два пути:<br/>
  D           D7<br/>
Джа Растафара или война - <br/>
<br/>
У нас два по всем наукам, <br/>
Но ботанику мы знаем на пять.<br/>
Два по всем наукам, <br/>
Но ботанику мы знаем на пять - <br/>
Пока живы растаманы из глубинки - <br/>
Пока живы растаманы из глубинки - <br/>
Вавилону будет не устоять.<br/>
<br/>
Заключение: <br/>
G C D - 2p. <br/>
G Em Am D D Am C D D7 <br/>
G C D - 4p. G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:131.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
