{% extends "chords.html" %}

{% set title = "Расти, борода, расти!" %}
{% set handbook_unid = "81bafc086e06ce2343257a740075142d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ИНТЕРНЕТ-СИНГЛЫ - Расти, борода, Расти!<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Расти, борода, расти!<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: <br/>
E(VII) D(V) A(V), E(VII) D(V) A(V) G(III)<br/>
E(VII) D(V) A(V) <br/>
G(III)<br/>
Em G D - 4p.<br/>
<br/>
Em    С              G Dsus4 D Dsus2 D<br/>
  Расти, борода, расти!<br/>
Em     С                G Dsus4 D Dsus2 D<br/>
  Нас некому больше пасти<br/>
Em    C                G                D<br/>
  По метру в день, по метру в день, по метру в день, ехо<br/>
Em    С              G Dsus4 D Dsus2 D<br/>
  Расти, борода, расти!<br/>
<br/>
Стальное сплетение стрел<br/>
Вода. Но кораблям Одиссея сюда<br/>
Не плыть. Гавань закрыта на цепь<br/>
Цепь весом в года, значит как всегда, значит, пить, так пить<br/>
<br/>
Расти, борода, расти!<br/>
Нас некому больше пасти<br/>
По метру в день, по метру в день, по метру в день, ехо<br/>
Расти, борода, расти!<br/>
<br/>
Проигрыш: Em G D - 2p.<br/>
<br/>
А голос лапши звучит<br/>
Как звон, голос лапши жжёт, горячечный бред<br/>
Волхвам никогда не войти в этот загон, <br/>
Em С                 G Dsus4 D   Dsus2 D     Em Em<br/>
    Но закон есть закон,      а нет, значит нет<br/>
<br/>
С        Am               D<br/>
 Протрезвитесь и падайте ниц<br/>
С  Am               D<br/>
 Чтобы не видеть лица<br/>
G    D                  Em<br/>
 В моих небесах нет границ<br/>
C   Am                D             Em<br/>
 И жажде моей нет конца, пить, так пить!<br/>
<br/>
Проигрыш: Em C G D - 4p.<br/>
<br/>
Расти, борода, расти!<br/>
Нас некому больше пасти<br/>
По метру в день, по метру в день, по метру в день, ехо<br/>
Расти, борода, расти!<br/>
<br/>
Расти, борода, расти!<br/>
Нас некому больше пасти<br/>
По метру в день, по метру в день, по метру в день,ехо<br/>
Расти, борода, расти!<br/>
<br/>
Заключение: Em C G D - 4p. <br/>
Em G D - 4p. Em<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII    E(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     D(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
