{% extends "chords.html" %}

{% set title = "Растафара" %}
{% set handbook_unid = "10092a5b2a78c10dc325679d006aec1c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - растафара<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
растафара <br/>
</span><i>М.Науменко<br/>
 <br/></i>
Вступление: E A - 12p.<br/>
<i> <br/></i>
        E                  A                      E  A  <br/>
Кто пришел ко мне утром и разбудил меня? -- Растафара.<br/>
      E                         A                            E  A  <br/>
Кто съел весь мой завтрак, не сказав мне спасибо? -- Натти Дреда.<br/>
     E                   A                         E  A  <br/>
Кто выпил все пиво, что было в моем доме? -- Растафара.<br/>
       E                  A                          E  A  <br/>
Кто обкурил сенсимильей всю мою квартиру? -- Натти Дреда.<br/>
        E                        A                        E  A  <br/>
Кто заставил меня слушать Боба Марли целый день? -- Растафара.<br/>
      E                   A                       E  A  <br/>
Кто ушел через неделю и увел мою жену? -- Натти Дреда.<br/>
        E                    A                         E    A  <br/>
Кто вернулся через месяц и привел ее обратно? -- Растафара.<br/>
<br/>
Проигрыш: E A - 16p.<br/>
<br/>
Кто пришел ко мне утром и разбудил меня? -- Растафара.<br/>
Кто съел мой завтрак, не сказав мне спасибо? -- Натти Дреда.<br/>
Кто обкурил сенсимильей всю мою квартиру?-- Растафара.<br/>
Кто выпил все пиво, что было в моем доме? -- Натти Дреда.<br/>
Кто заставил меня слушать Блэк Ухуру целый день? -- Растафара.<br/>
Кто ушел через неделю и увел мою жену? -- Натти Дреда.<br/>
Кто вернулся через месяц и привел ее обратно? -- Растафара.<br/>
<br/>
Заключение: E A - 20p. E <br/>
E A - 8p. E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
