{% extends "chords.html" %}

{% set title = "Радио Шао-Линь" %}
{% set handbook_unid = "209bd64c4f9b1ca2c325679d006af294" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАДИО АФРИКА - радио шао-линь<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Радио Шао-Линь<br/>
</span><i>Б. Гребенщиков<br/>
<br/>
Каподастр на 6-м ладу<br/></i>
 <br/>
Вступление: C Cadd9 C+g – 9p.<br/>
<br/>
 C         Cadd9 C+g<br/>
Шао-Линь, Шао-Линь…<br/>
<br/>
Проигрыш: C Cadd9 C+g – 7p.<br/>
<br/>
Шао-Линь, Шао-Линь…<br/>
<br/>
Заключение: C Cadd9 C+g – 7p. <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Cadd9<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
