{% extends "chords.html" %}

{% set title = "Реквием" %}
{% set extra_title = "(инструментал)" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ИНСТРУМЕНТАЛЫ - реквием<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">реквием<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
  Am            F            G(III)     Em                                 Em<br/>
E----12-10-12-----12-10-12-----10--10----------------------------------------<br/>
H-10---------13-10--------10-12--13--12-12-13-12-13-12-13-12-13-12-13-12-13--<br/>
G--------------------------------------------------------------------------9-<br/>
D----------------------------------------------------------------------------<br/>
  Am            F            G(III)     Em                                 Em<br/>
E----12-10-12-----12-10-12-----10--10--------------------------------------12<br/>
H-10---------13-10--------10-12--13--12-12-13-12-13-12-13-12-13-12-13-12-13--<br/>
G----------------------------------------------------------------------------<br/>
D----------------------------------------------------------------------------<br/>
  Am            F            G(III)     Em                                 Em<br/>
E----12-10-12-----12-10-12-----10--10----------------------------------------<br/>
H-10---------13-10--------10-12--13--12-12-13-12-13-12-13-12-13-12-13-12-13--<br/>
G--------------------------------------------------------------------------9-<br/>
D----------------------------------------------------------------------------<br/>
  Am            F            G(III)     Em                                 Em<br/>
E----12-10-12-----12-10-12-----10--10----------------------------------------<br/>
H-10---------13-10--------10-12--13--12-12-13-12-13-12-13-12-13-12-13-12-13--<br/>
G--------------------------------------------------------------------------9-<br/>
D----------------------------------------------------------------------------<br/>
<br/>
Am<br/>
Ски-ла-я<br/>
  F<br/>
Ски-ла-я<br/>
G(III)<br/>
Рада-ли-ли-лай Рада-ли-ли-лай<br/>
Em<br/>
Сай-ай-йо<br/>
<br/>
Ски-ла-я<br/>
Ски-ла-я<br/>
Рада-ли-ли-лай Рада-ли-ли-лай<br/>
Сай-ай-йо<br/>
<br/>
  C       C   C       Em  Am       Em Dm    F E<br/>
E-3--0-1-3----3--0-1-3----------------------8-7----<br/>
H---------1-----------0---1--0-1-3-0---3--6--------<br/>
G--------------------------------------------------<br/>
D--------------------------------------------------<br/>
  C       C   C       Em  Am       Em Dm    F E<br/>
E-3--0-1-3----3--0-1-3----------------------8-7-8--<br/>
H---------1-----------0---1--0-1-3-0---3--6------5-<br/>
G--------------------------------------------------<br/>
D--------------------------------------------------<br/>
  Am            F            G(III)     Em                                 Em<br/>
E----12-10-12-----12-10-12-----10--10----------------------------------------<br/>
H-10---------13-10--------10-12--13--12-12-13-12-13-12-13-12-13-12-13-12-13--<br/>
G--------------------------------------------------------------------------9-<br/>
D----------------------------------------------------------------------------<br/>
  Am            F            G(III)     Em                                 Em<br/>
E----12-10-12-----12-10-12-----10--10----------------------------------------<br/>
H-10---------13-10--------10-12--13--12-12-13-12-13-12-13-12-13-12-13-12-13--<br/>
G--------------------------------------------------------------------------9-<br/>
D----------------------------------------------------------------------------<br/>
<br/>
Ски-ла-я<br/>
Ски-ла-я<br/>
Рада-ли-ли-лай Рада-ли-ли-лай<br/>
Сай-ай-йо<br/>
<br/>
Ски-ла-я<br/>
Ски-ла-я<br/>
Рада-ли-ли-лай Рада-ли-ли-лай<br/>
Сай-ай-йо<br/>
<br/>
  Am            F            G(III)     Em                                 Em<br/>
E----12-10-12-----12-10-12-----10--10----------------------------------------<br/>
H-10---------13-10--------10-12--13--12-12-13-12-13-12-13-12-13-12-13-12-13--<br/>
G--------------------------------------------------------------------------9-<br/>
D----------------------------------------------------------------------------<br/>
  Am            F            G(III)     Em                                 Em<br/>
E----12-10-12-----12-10-12-----10--10----------------------------------------<br/>
H-10---------13-10--------10-12--13--12-12-13-12-13-12-13-12-13-12-13-12-13--<br/>
G--------------------------------------------------------------------------9-<br/>
D----------------------------------------------------------------------------<br/>
  Am            F            G(III)     Em                                 Em<br/>
E----12-10-12-----12-10-12-----10--10----------------------------------------<br/>
H-10---------13-10--------10-12--13--12-12-13-12-13-12-13-12-13-12-13-12-13--<br/>
G--------------------------------------------------------------------------9-<br/>
D----------------------------------------------------------------------------<br/>
  C       C   C       Em  Am       Em Dm    F E<br/>
E-3--0-1-3----3--0-1-3----------------------8-7----<br/>
H---------1-----------0---1--0-1-3-0---3--6--------<br/>
G--------------------------------------------------<br/>
D--------------------------------------------------<br/>
  C       C   C       Em  Am       Em Dm    F E<br/>
E-3--0-1-3----3--0-1-3----------------------8-7-8--<br/>
H---------1-----------0---1--0-1-3-0---3--6------5-<br/>
G--------------------------------------------------<br/>
D--------------------------------------------------<br/>
<br/>
Ски-ла-я<br/>
Ски-ла-я<br/>
Рада-ли-ли-лай Рада-ли-ли-лай<br/>
Сай-ай-йо<br/>
<br/>
Ски-ла-я<br/>
Ски-ла-я<br/>
Рада-ли-ли-лай Рада-ли-ли-лай<br/>
Сай-ай-йо<br/>
<br/>
Ски-ла-я<br/>
Ски-ла-я<br/>
Рада-ли-ли-лай Рада-ли-ли-лай<br/>
Сай-ай-йо<br/>
<br/>
Ски-ла-я<br/>
Ски-ла-я<br/>
Рада-ли-ли-лай Рада-ли-ли-лай<br/>
Сай-ай-йо<br/>
<br/>
Ски-ла-я<br/>
Ски-ла-я<br/>
Рада-ли-ли-лай Рада-ли-ли-лай<br/>
Сай-ай-йо<br/>
<br/>
  Am            F            G(III)     Em                                 Em<br/>
E----12-10-12-----12-10-12-----10--10----------------------------------------<br/>
H-10---------13-10--------10-12--13--12-12-13-12-13-12-13-12-13-12-13-12-13--<br/>
G--------------------------------------------------------------------------9-<br/>
D----------------------------------------------------------------------------<br/>
<br/>
E-3--0-1-3----3--0-1-3----------------------8-7----<br/>
H---------1-----------0---1--0-1-3-0---3--6--------<br/>
G--------------------------------------------------<br/>
D--------------------------------------------------<br/>
<br/>
E-3--0-1-3----3--0-1-3----------------------8-7-8--<br/>
H---------1-----------0---1--0-1-3-0---3--6------5-<br/>
G--------------------------------------------------<br/>
D--------------------------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
