{% extends "chords.html" %}

{% set title = "Ребята ловят кайф" %}
{% set handbook_unid = "5ad0fc94de44114dc325679d006aee80" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЭЛЕКТРИЧЕСТВО - ребята ловят кайф<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Ребята ловят кайф<br/>
</span><i>Б. Гребенщиков</i>
 <br/>
Вступление: C Am Dm Em G – 2p.<br/>
<br/>
 C               Am<br/>
Вытри слёзы, если есть ещё слёзы<br/>
       Dm                    Em      G<br/>
Значит то, что случилось не так уж плохо.<br/>
C             Am<br/>
 Вытри кровь. Их не догонишь.<br/>
 Dm                 Em          G<br/>
А если догонишь, то может быть хуже.<br/>
<br/>
Em                                 Hm<br/>
  Мы всегда гордились тем, что мы вне<br/>
 C               Am<br/>
Нам повезло - мы остались живы<br/>
      Dm             Em        G<br/>
Мы могли бы стоять лицом к стене,<br/>
  C           G<br/>
А это просто, это просто<br/>
   С      Am             Dm          Em  G<br/>
Ребята, ребята ловят, ребята ловят свой кайф<br/>
   С      Am             Dm          Em  G<br/>
Ребята, ребята ловят, ребята ловят свой кайф<br/>
   С      Am             Dm          Em  G<br/>
Ребята, ребята ловят, ребята ловят свой кайф<br/>
<br/>
Проигрыш: C Am Dm Em G<br/>
<br/>
И нет прекрасней дружбы мужчин;<br/>
Один за всех и все как каждый.<br/>
Плечом к плечу. Нам вместе не стыдно.<br/>
И смерть всем тем, кто идёт не с нами<br/>
<br/>
Em<br/>
  Мы – это ваше светлое завтра<br/>
 Hm<br/>
Наши ботинки подкованы сталью<br/>
C                  Am<br/>
 У наших девушек сломаны лица<br/>
   Dm          G                 <br/>
И мы выходим (Мы выходим!) <br/>
 Dm          G<br/>
Мы выходим (Мы выходим!)<br/>
 Dm<br/>
Мы выходим,<br/>
     Em      G        C           G<br/>
ведь мы - ребята, а все ребята, все ребята<br/>
   С      Am             Dm          Em  G<br/>
Ребята, ребята ловят, ребята ловят свой кайф<br/>
   С      Am             Dm          Em  G<br/>
Ребята, ребята ловят, ребята ловят свой кайф<br/>
   С      Am             Dm          Em  G<br/>
Ребята, ребята ловят, ребята ловят свой кайф<br/>
<br/>
Проигрыш: C Am Dm Em G - 2p.<br/>
<span style="color:#333333">C Am</span> <span style="color:#5F5F5F">Dm Em</span> <span style="color:gray">G C</span> <span style="color:#B2B2B2">Am Dm</span> <span style="color:#DDDDDD">Em </span><span style="color:#EAEAEA">G<br/></span>
 <br/>
Ребя...<br/>
Ребята-а-а-а<br/>
Ребята ловят с-с-с-с-с-с<br/>
Ребята ловят сво-о-о-о-о-о-о-о-о-о-о-ой!..<br/>
Ка-а-айф!<br/>
<br/>
   С      Am             Dm          Em  G<br/>
Ребята, ребята ловят, ребята ловят свой кайф<br/>
   С      Am             Dm          Em  G<br/>
Ребята, ребята ловят, ребята ловят свой кайф<br/>
   С      Am             Dm          Em  G<br/>
Ребята, ребята ловят, ребята ловят свой кайф<br/>
<br/>
Заключение: C Am Dm Em G C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
