{% extends "chords.html" %}

{% set title = "Рождественская ночь" %}
{% set handbook_unid = "dbd4a455b4c33262c32577b8005321c7" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ИНТЕРНЕТ-СИНГЛЫ - рождественская ночь<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Рождественская ночь<br/>
</span><i>Б. Гребенщиков - А. Фет<br/></i>
 <br/>
Вступление: C - 4 p.<br/>
<br/>
 C              F      C<br/>
Ночь тиха. За твердью зыбкой<br/>
  F    C   G     C<br/>
Звёзды южные дрожат.<br/>
C        F     C<br/>
Очи Матери с улыбкой<br/>
  F     C  G     C<br/>
В ясли тихие глядят.<br/>
 F<br/>
Ни ушей, ни взоров лишних, <br/>
 C          D/f# G<br/>
Вот пропели петухи — <br/>
    F      C    G      Am<br/>
И вместе с Ангелами в вышних<br/>
F        C    G    C C<br/>
 Славят Бога пастухи.<br/>
<br/>
Ясли тихо светят взору,<br/>
Озарен Марии лик.<br/>
Звёздный хор к иному хору<br/>
Слухом трепетным приник.<br/>
И над Ним горит высоко<br/>
Та звезда далёких стран:<br/>
С ней несут цари востока<br/>
  F      C    G    C <br/>
Злато, смирну и ливан.<br/>
<br/>
Проигрыш: <br/>
  C            F         C  F      C   G         C   <br/>
E-12--13-15-12-17-20-15-12-13--17-15------12-13-12<br/>
H-----------------------------------13-15---------<br/>
G-------------------------------------------------<br/>
D-------------------------------------------------<br/>
  C            F         C  F      C   G         C   <br/>
E-12--13-15-12-17-20-15-12-13--17-15--------------<br/>
H-----------------------------------13-15-13-12-13<br/>
G-------------------------------------------------<br/>
D-------------------------------------------------<br/>
  F                         C           D/f#   G<br/>
E-17--15-17-15-17-19-20-17--15-17-20-12----12-15--<br/>
H---------------------------------------15--------<br/>
G-------------------------------------------------<br/>
D-------------------------------------------------<br/>
  F      C      G     Am  F      C    G         C  C                      <br/>
E-17--20-15-12-13-12--12--17--20-15-12------------<br/>
H-------------------15----------------15-13-12-13-<br/>
G-------------------------------------------------<br/>
D-------------------------------------------------<br/>
<br/>
Ночь тиха. По тверди зыбкой<br/>
Звёзды южные дрожат.<br/>
Очи Матери с улыбкой<br/>
В ясли тихие глядят.<br/>
Ни ушей, ни взоров лишних, <br/>
Вот пропели петухи — <br/>
И вместе с Ангелами в вышних<br/>
  F     C    G    C<br/>
Славят Бога пастухи.<br/>
<br/>
Заключение: C F C F C G C C F C F C G C F C D/f# G F C G Am F C G C - 2p. <span style="color:#333333">C</span> <span style="color:gray">C </span><span style="color:silver">C<br/></span>
 <br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
