{% extends "chords.html" %}

{% set title = "Роскошь" %}
{% set handbook_unid = "556dd52a6481efe6c325679d006af15c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - роскошь<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
роскошь<br/>
</span><i>Б.Гребенщиков<br/>
<br/>
Каподастр на 3-м ладу<br/>
 <br/></i>
Вступление: G(III) - 4p.<br/>
<br/>
   G(III)             G(III)  <br/>
Это роскошь, она любит роскошь. <br/>
D                                            C  C/b Am7 G#<br/>
Она любит роскошь весь день и роскошь - всю ночь.<br/>
    G(III)              G(III)<br/>
Это роскошь, она любит роскошь,<br/>
          D                                    C  C/b Am7 G#<br/>
Но я не знаю никого, кто хотел бы ей в этом помочь.<br/>
<br/>
D                      G(III)<br/>
 Они приходят вместе с кем-то<br/>
D              G(III)<br/>
Туда, где ярче свет;<br/>
D             G(III)<br/>
Они готовы поддержать разговор,<br/>
D                 G(III)<br/>
Хотя не знают предмет;<br/>
Em          Am           D<br/>
  Но им не нужно быть с кем-то,<br/>
Am                  D<br/>
  Им нужно только иметь;<br/>
  G        D          C        G<br/>
И если ты хочешь посмеяться всласть,<br/>
     G        D      C             <br/>
Смотри, как они расставляют сеть.<br/>
<br/>
Это роскошь, она любит роскошь. <br/>
Она любит роскошь весь день и роскошь - всю ночь.<br/>
Это роскошь, она любит роскошь,<br/>
Но я не знаю никого, кто хотел бы ей в этом помочь.<br/>
<br/>
Они заводятся в любых домах<br/>
От запаха хороших духов;<br/>
Живут на диете из шампанских вин<br/>
И дорогих коньяков;<br/>
И я считаю, что мне повезло,<br/>
Что мой бумажник пуст;<br/>
И я стою, прислонясь к дверям,<br/>
Совсем один, и смеюсь, смеюсь...<br/>
<br/>
Это роскошь, она любит роскошь. <br/>
Она любит роскошь весь день и роскошь - всю ночь.<br/>
Это роскошь, она любит роскошь,<br/>
Но я не знаю никого, кто хотел бы ей в этом помочь.<br/>
<br/>
           D<br/>
Она любит роскошь...<br/>
           D<br/>
Она любит роскошь...<br/>
           D<br/>
Она любит роскошь...<br/>
           D<br/>
Она любит роскошь...<br/>
 D               G<br/>
Роскошь, роскошь...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/b<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
