{% extends "chords.html" %}

{% set title = "Рок-н-ролл мёртв" %}
{% set handbook_unid = "82b3a2f19dc7084cc325679d006aef6d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАДИО АФРИКА - рок-н-ролл мёртв<br/>
</span><span style="color:red"> <br/>
РОК-Н-РОЛЛ МЁРТВ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
      Em Hm  C  Em Hm    С       Em         Hm    C <br/>
<i>Гитара 1</i>:<br/>
E-------------------------------------------------0-----0-0-0<br/>
H-------------------------------------------------1-----1-1-1<br/>
G------0---4-----0---4------------0-----------4—--0-----0-0-0<br/>
D-----2---4-----2-—-4------------2-----------4----------2-2-2<br/>
A--------2---3-----2-----3------------------2-----3---3-3-3-3<br/>
E------------------------------------------------------------<br/>
<i>Гитара 2</i>:<br/>
E----19-24----7-12-14-19-19-24---14-12-10-7-5-3-0------------<br/>
H-------------------------------------------------3----------<br/>
G------------------------------------------------------------<br/>
<br/>
Em Hm C C – 4p.<br/>
<br/>
       Em     Hm      D      Em<br/>
Какие нервные лица - быть беде;<br/>
   Em         Hm          D      Em<br/>
Я помню, было небо, я не помню где;<br/>
       G        D        Hm         Em<br/>
Мы встретимся снова, мы скажем "Привет", -<br/>
  C                    D<br/>
В этом есть что-то не то;<br/>
<br/>
   Am          Em      D      Em<br/>
Но рок-н-ролл мёртв, а я ещё нет,<br/>
Am          Em      D   Em<br/>
Рок-н-ролл мёртв, а я-а-а;<br/>
 G           D       Hm          Em<br/>
Те, что нас любят, смотрят нам вслед.<br/>
 C          G       D      Em <br/>
Рок-н-ролл мёртв, а я ещё нет. <br/>
<br/>
Проигрыш: Em Hm C C – 4p.<br/>
<br/>
Отныне время будет течь по прямой;<br/>
Шаг вверх, шаг вбок - их мир за спиной.<br/>
Я сжёг их жизнь, как ворох газет -<br/>
Остался только грязный асфальт;<br/>
<br/>
Но рок-н-ролл мёртв, а я ещё нет,<br/>
Рок-н-ролл мёртв, а я-а-а;<br/>
Те, что нас любят, смотрят нам вслед.<br/>
 C          G       D<br/>
Рок-н-ролл мёртв, а я...<br/>
        Em<br/>
...ещё нет. <br/>
<br/>
Проигрыш: Em Hm C C – 8p.<br/>
<br/>
Локоть к локтю, кирпич в стене;<br/>
Мы стояли слишком гордо - мы платим втройне:<br/>
За тех, кто шёл с нами, за тех, кто нас ждал,<br/>
За тех, кто никогда не простит нам то, что<br/>
<br/>
Рок-н-ролл мёртв - а мы ещё нет,<br/>
Рок-н-ролл мёртв, а мы;<br/>
Те, что нас любят, смотрят нам вслед.<br/>
Рок-н-ролл мёртв, а мы-ы-ы…<br/>
<br/>
Рок-н-ролл мёртв, а я ещё нет,<br/>
Рок-н-ролл мёртв, а я-а-а;<br/>
Те, что нас любят, смотрят нам вслед,<br/>
 C          G       D<br/>
Рок-н-ролл мёртв, а я...<br/>
<br/>
Заключение: <br/>
Em Hm C C – 8p. E<span style="background:#E5E5E5">m</span><span style="background:#E0E0E0">
</span><span style="color:#4D4D4D;background:#E0E0E0">Hm </span><span style="color:#777777;background:#E0E0E0">C </span><span style="color:#777777;background:#E5E5E5">C</span><span style="background:#E5E5E5"> </span><span style="color:#969696">Em Hm</span><span style="color:#B2B2B2"> <span style="background:#E9E9E9">C</span></span><span style="color:#EAEAEA;background:#E6E6E6">_</span><span style="color:#EAEAEA;background:#E5E5E5">_</span><span style="color:#EAEAEA;background:#E0E0E0">______________ <br/>
<br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
