{% extends "chords.html" %}

{% set title = "Русская симфония" %}
{% set handbook_unid = "6f949612a8caf1bdc325679d006aee86" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РУССКИЙ АЛЬБОМ - русская симфония<br/>
</span><span style="color:red"> <br/>
РУССКАЯ СИМФОНИЯ<br/>
</span><i>Б. Гребенщиков - А. Гуницкий<br/></i>
 <br/>
Вступление: <br/>
  <span style="color:gray">Am       </span><span style="color:#333333">Am          Am          Am          Am<br/>
</span><span style="color:#999999">E--</span><span style="color:gray">-</span><span style="color:#333333">-</span>0-<span style="color:#333333">--0----0--0--0-----0--0--0-----0--0--0-----0--0--0--<br/>
</span><span style="color:#999999">H--</span><span style="color:gray">-</span><span style="color:#333333">-</span>--<span style="color:#333333">-1----1--1--1--1--1--1--1--1--1--1--1--1--1--1--1--1<br/>
</span><span style="color:#999999">G--</span><span style="color:gray">-</span><span style="color:#333333">2</span>--<span style="color:#333333">2----2--2--2--2--2--2--2--2--2--2--2--2--2--2--2--2-<br/>
</span><span style="color:#999999">D--</span><span style="color:gray">2</span><span style="color:#333333">-</span>--<span style="color:#333333">----2-----------2-----------2-----------2-----------<br/>
</span><span style="color:#999999">A-0-</span><span style="color:#333333">-</span>--<span style="color:#333333">----------------------------------------------------<br/></span>
Am E Am Am E Am C G E Am Am Dm E Am – 2p. Am<br/>
<br/>
   Am       E    Am<br/>
Издалека течёт река,<br/>
   Am             E    Am<br/>
Ей жить осталось года три.<br/>
     C      G    E     Am<br/>
В объятьях чёрного крюка<br/>
  Dm  Dm/c    E     Am<br/>
Она умрёт, а ты смотри:<br/>
     Am         E    Am<br/>
Там на горе у трёх осин<br/>
   Am      E  Am<br/>
Гуляет полуидиот,<br/>
  C        G    E      Am<br/>
Жуёт он сгнивший апельсин<br/>
   Dm  Dm/c  E     Am<br/>
И корочки плюёт вперёд.<br/>
<br/>
Проигрыш: Am E Am Am E Am C G E Am Am Dm E Am – 2p.<br/>
C F C G – 4p.<br/>
<br/>
    C    F    C    G<br/>
Он шёл упорно и упрямо,<br/>
    C        F  C    G<br/>
Он верил в старую сову.<br/>
   C     F      C     G<br/>
Но у дверей святого храма<br/>
  C     F    C   G<br/>
Ему сломали голову.<br/>
  Am      Em     F    Em<br/>
Он умер - ну а что сова?<br/>
   F         G<br/>
Цела, здорова и жива!<br/>
<br/>
Проигрыш: C F C G – 4p.<br/>
<br/>
    C     G    C    <span style="color:gray">G<br/></span>
Когда мы были молоды,<br/>
     C     G    C    <br/>
Мы все растили бороды,<br/>
     A7        Dm<br/>
Мы все носили волосы<br/>
   F          E<br/>
И пели ясным голосом.<br/>
Am         E       F<br/>
Теперь другой расклад,<br/>
  Dm    E     F    <br/>
Дороги нет назад...<br/>
<br/>
Проигрыш: <br/>
<span style="color:#333333">  E                          E<br/>
E-----0------------------------0-<br/>
H----0--5-4-5-6-5-3-1-0-------0--<br/>
G---1------------------3-2-1-----<br/>
D--2-------------------------2---<br/>
A-2------------------------------<br/></span>
Am Dm E Am - 4p.<br/>
<br/>
     Am              Dm<br/>
Зеркала вы мои, зеркала!<br/>
E                        Am<br/>
 Потому что я пьяница, что ли,<br/>
A7                         Dm<br/>
  Возвращаюсь я к вам поневоле,<br/>
     F Dm             E<br/>
Позабыв про другие дела;<br/>
     Dm        E      Am<br/>
Зеркала вы мои, зеркала;<br/>
<br/>
Проигрыш: <br/>
  Am     Dm E                             Am              <br/>
E-0--1-0-5--15-13-13-13-12-15-13-13-13-12-15-13-12-12-5-<br/>
H-------------------------------------------------------<br/>
G-------------------------------------------------------<br/>
  Am     Dm      E                 Am<br/>
E-6-5-0--15--13--13-12-12-12-10-12-10-8-<br/>
H---------------------------------------<br/>
G---------------------------------------<br/>
<br/>
Am                    H7<br/>
  Гастроном на улице Ракова<br/>
         E              Am<br/>
Был построен зодчим из Кракова,<br/>
  Am             H7<br/>
Но его забыла История;<br/>
       E            Am<br/>
Вот такая, брат, ебатория…<br/>
<br/>
Заключение: <br/>
  Am           Dm            E        Am              <br/>
E-12-10-8-7-5--13-12-10-8-5--16-17-19-19-17-17-17-19-17--<br/>
H--------------------------------------------------------<br/>
G--------------------------------------------------------<br/>
  Am           Dm             E          Am<br/>
E-12-10-8-7-5--13-12-10-8-7---16---------17--------------<br/>
H--------------------------------------------------------<br/>
G--------------------------------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/c<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
