{% extends "chords.html" %}

{% set title = "Русская нирвана" %}
{% set handbook_unid = "ff5db728bdb70445c325679d006af07b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - КОСТРОМА MON AMOUR - русская нирвана<br/>
</span><span style="color:red"> <br/>
РУССКАЯ НИРВАНА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: <br/>
    С*  C*<br/>
E-----------<br/>
H-----------<br/>
G-1---1---1- C* C*<br/>
D-2---2---2- <br/>
A-2---2---2-<br/>
E-0---0---0-<br/>
<br/>
    C*         G*          G7*           C*<br/>
На чём ты медитируешь, подруга светлых дней?<br/>
   C*         G*          G7*       C*<br/>
Какую мантру дашь душе измученной моей?<br/>
   F*           C*       G*           C*<br/>
Горят кресты горячие на куполах церквей -<br/>
     F*           C*         G*   G7*      C<br/>
И с ними мы в согласии, внедряя в жизнь У Вэй.<br/>
<br/>
Сай Рам, отец наш батюшка; Кармапа - свет души;<br/>
Ой, ламы линии Кагью - до чего ж вы хороши!<br/>
Я сяду в лотос поутру посереди Кремля<br/>
И вздрогнет просветлённая сырая мать-земля.<br/>
<br/>
Проигрыш: <br/>
    C       G     G7     C<br/>
E-3-3-0-5-3-3-1--0-1-5-3-3--<br/>
H--------------3----3------- - 2p.<br/>
G---------------------------<br/>
    F       C        G     C <br/>
E-8-8-5-1-8-8-3-0--0-0-1-0-3--<br/>
H---------------------3-------<br/>
G-----------------------------<br/>
    F       C        G G7  C<br/>
E-8-8-5-1-8-8-3-0--0-0-1-0----<br/>
H---------------------3----1--<br/>
G-----------------------------<br/>
<br/>
На что мне жемчуг с золотом, на что мне art nouveau;<br/>
Мне кроме просветления не нужно ничего.<br/>
Мандала с махамудрою мне светят свысока -<br/>
Ой, Волга, Волга-матушка, буддийская река!<br/>
<br/>
Заключение: <br/>
    C       G     G7     C<br/>
E-3-3-0-5-3-3-1--0-1-5-3-3--<br/>
H--------------3----3------- - 2p.<br/>
G---------------------------<br/>
    F       C        G     C <br/>
E-8-8-5-1-8-8-3-0--0-0-1-0-3--<br/>
H---------------------3-------<br/>
G-----------------------------<br/>
    F       C        G G7  C <br/>
E-8-8-5-1-8-8-3-0--0-0-1-0----<br/>
H---------------------3----1-- C C<br/>
G-----------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C*<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|---|---|-■-|<br/>
  G---|---|---|---|-■-|<br/>
x D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G*<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|---|-■-|---|<br/>
x D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   III     G7*<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|-■-|---|<br/>
  G---|-■-|---|---|---|<br/>
x D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V      F*<br/>
  E-■-|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
x D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
