{% extends "chords.html" %}

{% set title = "Русская (Хочу чаю)" %}
{% set handbook_unid = "9205e2365cfe2223c325679d006af10e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - русская (хочу чаю)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
русская (ХОЧУ ЧАЮ)<br/>
</span><i>С.Чиграков<br/>
<br/>
Каподастр на 2-м ладу<br/>
 <br/></i>
          F  G      C  Am<br/>
Ой, хочу чаю, хочу чаю,       <br/>
     F   G   C    <br/>
Чаю кипяченого!<br/>
          F   G     C <br/>
Ох, не мажора я люблю, <br/>
   Am   Dm   G    C     <br/>
А политзаключенного!<br/>
<br/>
А он не бымший секретарь,<br/>
Он не намоченный,<br/>
А он с рождения такой<br/>
Совдепом замороченный.<br/>
<br/>
Он был простой советский рокер,<br/>
Во барабаны громко бил.<br/>
А, но лиха беда случилась,<br/>
А КГБ его забрил.<br/>
<br/>
А суд недолго продолжался,<br/>
А присудили Колыму.<br/>
А, наказали, чтобы песен своих<br/>
Не пел он никому.<br/>
<br/>
Ой, хочу чаю - аж кончаю -<br/>
Чаю кипяченого!<br/>
Ох, не мажора я люблю,<br/>
А политзаключенного!<br/>
<br/>
А мне и больно, мне и сладко,<br/>
Что он не такой, как все.<br/>
А тех, кто правду ищет, гонют<br/>
На родимой стороне.<br/>
<br/>
Хочу водки! Дайте водки!<br/>
Чтобы боль свою залить.<br/>
Ох, не простое это дело -<br/>
Заключенного любить.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
