{% extends "chords.html" %}

{% set title = "Рутман" %}
{% set handbook_unid = "85fee457a0b83f8bc325679d006af15f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СИНИЙ АЛЬБОМ - рутман<br/>
</span><span style="color:red"> <br/>
РУТМАН<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
 G<br/>
Рутман, где твоя голова?<br/>
Моя голова там, где Джа.<br/>
<br/>
Рутман, где твоя голова?<br/>
Моя голова там, где Джа.<br/>
<br/>
Рутман, где твоя голова? Джа!<br/>
Моя голова там, где Джа.<br/>
<br/>
Рутман, где твоя голова?<br/>
Моя голова там, где Джа.<br/>
<br/>
E-3-3--3-3-7-10---7-8-8-8-7-5-3---------<br/>
H--0--0------------------------1--------<br/>
G---------------------------------------<br/>
               О-о…             Джа, Джа<br/>
E-3-3--3-3-7-10---7-8-8-8-7-5-3---10~~~~<br/>
H--0--0------------------------1-----13~<br/>
G---------------------------------------<br/>
               О-оу…<br/>
<br/>
Рутман, где твоя голова?<br/>
Моя голова там, где Джа.<br/>
<br/>
Рутман, где твоя голова? О!<br/>
Моя голова там, где Джа.<br/>
<br/>
E-3-3--3-3-7-10-------7-8-8-8-7-5-3---10~~~~~~~~~<br/>
H--0--0----------------------------1-------------<br/>
G------------------------------------------------<br/>
               Джа, Джа!            Джаааа…<br/>
E-3-3--3-3-7-10-------7-8-8-8-7-5-3--------------<br/>
H--0--0----------------------------1-------------<br/>
G------------------------------------------------<br/>
               Джа.                 Джа Растафари!<br/>
<br/>
Рутман, где твоя голова?<br/>
Моя голова там, где Джа.<br/>
<br/>
Рутман, где твоя голова?<br/>
Моя голова там, где Джа.<br/>
<span style="color:silver"> <br/>
<br/>
</span><b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/></span></b>
{% endraw %}
{% endblock %}
