{% extends "chords.html" %}

{% set title = "Рыбаки обсуждают закат солнца" %}
{% set extra_title = "(инструментал)" %}
{% set handbook_unid = "4561988398ce7780c325679d006af396" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ИНСТРУМЕНТАЛЫ - рыбаки обсуждают закат солнца<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">рыбаки обсуждают закат солнца<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
E-8---7--7-8---------<br/>
H--10--10---10------- - 2p.<br/>
G----9--------9-7-5-7<br/>
<br/>
  Am Asus2 Am   Asus4<br/>
E-8---7--7-8---------<br/>
H--10--10---10------- - 18p. Am Asus2 Am<br/>
G----9--------9-7-5-7<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
