{% extends "chords.html" %}

{% set title = "Рыба" %}
{% set handbook_unid = "13e91d73c6a36b2fc325679d006aef67" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ИХТИОЛОГИЯ - рыба<br/>
</span><span style="color:red"> <br/>
РЫБА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: <span style="color:silver">С</span> <span style="color:gray">С<br/></span>
  C       F         C         G C <br/>
E-----0-3-1-1-1-5-8----3-5-3-0----<br/>
H-1--1--------------1---------3-1-<br/>
G---------------------------------<br/>
  C       F         C         G    C<br/>
E-----0-3-1-1-1-3-5----10-5-3-0-0----<br/>
H-1--1--------------1----------3-3-1- C<br/>
G------------------------------------<br/>
<br/>
C          Am          F          G    C<br/>
 Какая рыба в океане плавает быстрее всех?<br/>
C          Am          F          G    C<br/>
 Какая рыба в океане плавает быстрее всех?<br/>
Am             Em          Am                 D<br/>
 Я хочу знать, я хочу знать, я всегда хотел знать,<br/>
F          C     Am    F          G    C<br/>
 Какая рыба в океане плавает быстрее всех.<br/>
<br/>
   C                Am              F           G        C<br/>
Я долго был занят чужими делами, я пел за ненакрытым столом.<br/>
C                   Am                     F      G       F  G<br/>
 Кто сказал вам, что я пел с вами, что мы пели одно об одном?<br/>
    F                Em                F                    D<br/>
Вы видели шаги по ступеням, но кто сказал вам, что я шёл наверх?<br/>
    F                    C    Am   F        G    C<br/>
Я просто ставил опыты о том, какая рыба быстрее всех.<br/>
<br/>
C              Am                     F       G       C<br/>
 Я не хочу говорить вам "нет", но поймёте ли вы мое "да"?<br/>
  C               Am                F       G    F G<br/>
Двери открыты, ограда тю-тю, но войдёте ли вы сюда?<br/>
       F                 Em                      F                   D<br/>
Я спросил у соседа: "Почему ты так глуп?" - он принял мои слёзы за смех.<br/>
       F                    C      Am  F        G    C<br/>
Он ни разу не раздумывал о том, какая рыба быстрее всех.<br/>
<br/>
Проигрыш: <br/>
C Am F G C C Am F G C Am Em F D F C Am F G C<br/>
<br/>
D          Hm                  G          A         D<br/>
 Вавилон - город как город, печалиться об этом не след.<br/>
D                     Hm                       G        A         G A<br/>
Если ты идёшь, то мы идём в одну сторону - другой стороны просто нет.<br/>
    G                F#m               G                E<br/>
Ты выбежал на угол купить вина, ты вернулся, но вместо дома - стена.<br/>
G                      D      Hm       G              A   D<br/>
 Зайди ко мне, и мы подумаем вместе о рыбе, что быстрее всех. <br/>
<br/>
D     G D A D<br/>
<span style="color:#999999"> К</span><span style="color:silver">акая…<br/></span>
 <br/>
D          Hm          G          A    D<br/>
 Какая рыба в океане плавает быстрее всех?<br/>
D          Hm          G          A    D<br/>
 Какая рыба в океане плавает быстрее всех?<br/>
Hm            F#m          Hm                 E<br/>
 Я хочу знать, я хочу знать, я всегда хотел знать,<br/>
G          D     Hm    G          A    D<br/>
 Какая рыба в океане плавает быстрее всех.<br/>
<br/>
D          Hm          G          A    D<br/>
 Какая рыба в океане плавает быстрее всех?<br/>
D          Hm          G          A     D<br/>
 Какая рыба в океане плавает быстрее всех?<br/>
Hm           F#m         Hm                  E<br/>
Я хочу знать, я хочу знать, я всегда хотел знать,<br/>
G            D   Hm        G          A    D<br/>
 Ка-ка-ка-ка-ка-кая рыба плавает быстрее всех.<br/>
  Какая рыба в океане<br/>
<br/>
Заключение: D G D A D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
