{% extends "chords.html" %}

{% set title = "С утра шёл снег" %}
{% set handbook_unid = "3e598076be4c5b0bc325679d006aee7a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАДИО АФРИКА - с утра шёл снег<br/>
</span><span style="color:red"> <br/>
С УТРА ШЁЛ СНЕГ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
  G            C   D     G            C   D     G            C   D     G            C   D<br/>
<span style="color:#777777;background:#E6E6E6">G----</span><span style="color:#4D4D4D;background:#E6E6E6">---0</span><span style="color:#4D4D4D;background:#E9E9E9">-0</span><span style="background:#E9E9E9">-</span><span style="background:#EEEEEE">---</span><span style="background:#F1F1F1">--</span><span style="background:#F7F7F7">---------</span>-----0-0--------------------0-0--------------------0-0-------------<br/>
<span style="color:#777777;background:#E6E6E6">D----</span><span style="color:#4D4D4D;background:#E6E6E6">----</span><span style="color:#4D4D4D;background:#E9E9E9">--</span><span style="background:#E9E9E9">-</span><span style="background:#EEEEEE">---</span><span style="background:#F1F1F1">0-</span><span style="background:#F7F7F7">2-4-4-4--</span>------------0-2-4-4-4----------------0-2-4-4--------------0-2-4-4-4<br/>
<span style="color:#777777;background:#E6E6E6">A----</span><span style="color:#4D4D4D;background:#E6E6E6">5-5-</span><span style="color:#4D4D4D;background:#E9E9E9">---</span><span style="color:#4D4D4D;background:#EEEEEE">-</span><span style="background:#EEEEEE">3-</span><span style="background:#F1F1F1">--</span><span style="background:#F7F7F7">----5-5--</span>--5-5-----3-------5-5----5-5-----3-5-----5-5----5-5-----3-------5-5<br/>
<span style="color:#777777;background:#E6E6E6">E-3-3</span><span style="color:#4D4D4D;background:#E6E6E6">----</span><span style="color:#4D4D4D;background:#E9E9E9">---</span><span style="background:#EEEEEE">---</span><span style="background:#F1F1F1">--</span><span style="background:#F7F7F7">--------3</span>-3--------------------3-3--------------------3-3-------------------<br/>
<br/>
G C D – 4p. <br/>
<br/>
G          C D<br/>
 Выключи свет,<br/>
G                     C       D<br/>
 Оставь записку, что нас нет дома -<br/>
    G                 C       D<br/>
На цыпочках мимо открытых дверей,<br/>
   G                     C           D<br/>
Туда, где всё светло, туда, где всё молча; <br/>
<br/>
И можно быть надменной, как сталь,<br/>
И можно говорить, что всё не так, как должно быть,<br/>
И можно делать вид, что ты играешь в кино<br/>
О людях, живущих под высоким давленьем - но<br/>
<br/>
G             C D<br/>
 С утра шёл снег,<br/>
G             C D<br/>
 С утра шёл снег;<br/>
    G              C      D<br/>
Ты можешь делать что-то ещё,<br/>
G               C        D<br/>
Если ты хочешь, если ты хочешь... <br/>
<br/>
Проигрыш: G C D – 8p.<br/>
<br/>
Ты помнишь, я знал себя,<br/>
Мои следы лежали как цепи,<br/>
Я жил, уверенный в том, что я прав;<br/>
Но вот выпал снег, и я опять не знаю, кто я; <br/>
<br/>
И кто-то сломан и не хочет быть целым,<br/>
И кто-то занят собственным делом,<br/>
Можно быть рядом, но не ближе, чем кожа,<br/>
Но есть что-то лучше, и это так просто;<br/>
<br/>
С утра шёл снег,<br/>
С утра шёл снег;<br/>
Ты можешь делать что-то ещё,<br/>
Если ты хочешь, если ты хочешь...<br/>
<br/>
С утра шёл снег,<br/>
С утра шёл снег;<br/>
Ты можешь быть кем-то ещё,<br/>
Если ты хочешь, если ты хочешь...<br/>
<br/>
Проигрыш: G C D – 4p.<br/>
<br/>
G C D      G C D<br/>
     О-хо-хо<br/>
G C D      G C D<br/>
     О-хо-хо<br/>
G C <span style="background:#F1F1F1">D   </span><span style="background:#EAEAEA">   </span><span style="color:#4D4D4D;background:#E6E6E6">G</span><span style="background:#E6E6E6"> </span><span style="color:#969696;background:#E6E6E6">C</span><span style="background:#E6E6E6"> </span><span style="color:silver;background:#E6E6E6">D<br/></span>
     <span style="background:#F1F1F1">О-</span><span style="color:#333333;background:#F1F1F1">хо</span><span style="color:#333333;background:#EAEAEA">-</span><span style="color:#777777;background:#EAEAEA">х</span><span style="color:#777777;background:#E6E6E6">о<br/>
</span><span style="color:silver;background:#E6E6E6">G</span><span style="background:#E6E6E6"> </span><span style="color:gray;background:#E6E6E6">C</span><span style="background:#E6E6E6"> </span><span style="color:silver;background:#E6E6E6">D</span><span style="background:#E6E6E6">      </span><span style="color:gray;background:#E6E6E6">G</span><span style="background:#E6E6E6"> </span><span style="color:#DDDDDD;background:#E6E6E6">C D<br/>
</span><span style="color:#999999;background:#E6E6E6">     О-хо</span><span style="background:#E6E6E6">-</span><span style="color:gray;background:#E6E6E6">хо</span><span style="color:#EAEAEA;background:#E6E6E6">____<br/>
<br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
