{% extends "chords.html" %}

{% set title = "С той стороны зеркального стекла" %}
{% set handbook_unid = "8c0ec0e862eabe0dc325679d006af13e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - с той стороны зеркального стекла<br/>
</span><span style="color:red"> <br/>
С ТОЙ СТОРОНЫ ЗЕРКАЛЬНОГО СТЕКЛА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: F+7add11+/d Em – 3p. Em E<br/>
<br/>
F+7add11+/d                     C<br/>
Последний дождь - уже почти не дождь;<br/>
F+7add11+/d                       Am<br/>
Смотри, как просто в нём найти покой.<br/>
F+7add11+/d                     C     C/h   Am<br/>
И если верить в то, что завтра будет новый день,<br/>
 F+7/5-/c            Em<br/>
Тогда совсем легко..<br/>
<br/>
Проигрыш: F Em<br/>
<br/>
F+7add11+/d                    C<br/>
Ах, только б не кончалась эта ночь;<br/>
F+7add11+/d                 Em<br/>
Мне кажется, мой дом уже не дом.<br/>
F+7add11+/d                    C     C/h     Am<br/>
Смотри, как им легко - они играют в жизнь свою<br/>
 F+7/5-/c             Em<br/>
На стенке за стеклом.<br/>
<br/>
Проигрыш: F Em - 4p. <br/>
<br/>
F+7add11+/d            Em<br/>
Мне кажется, я узнаю себя<br/>
F+7add11+/d                 Em <br/>
В том мальчике, читающем стихи;<br/>
F+7add11+/d                        C     C/h  Am<br/>
Он стрелки сжал рукой, чтоб не кончалась эта ночь,<br/>
F+7/5-/c              Em<br/>
И кровь течёт с руки.<br/>
<br/>
Проигрыш: F Em – 8p. Em E<br/>
<br/>
  Dm7(V)      E7/d(IV)     Am<br/>
Но кажется, что это лишь игра<br/>
 Dm7(V)         E7/d(IV)      Am<br/>
С той стороны зеркального стекла;<br/>
   Dm7(V)          E7/d(IV)    Am  C/h  C<br/>
А здесь рассвет, но мы не потеряли ничего:<br/>
  Dm            C         G      Am<br/>
Сегодня тот же день, что был вчера.<br/>
<br/>
Заключение:<br/>
E-1--5-4-----<br/>
H-1--5-5---0-<br/>
G----------5-<br/>
D----------7-<br/>
A----------7-<br/>
E------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">      </span>F+7add11+/d<br/>
<span style="font-size:8.0pt">o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|---|---|---|-■-|<br/>
  D---|---|-■-|---|---|<br/>
  A---|---|---|---|-■-|<br/>
х E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">        </span>F+7/5-/c<br/>
<span style="font-size:8.0pt">o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Dm7(V)<br/>
  E-■-|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         E7/d(IV)<br/>
  E---|---|---|-■-|---|<br/>
  H---|---|---|---|-■-|<br/>
  G---|---|---|-■-|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
