{% extends "chords.html" %}

{% set title = "Самый быстрый самолёт" %}
{% set handbook_unid = "56b55ffff86fa013c325679d006af0a5" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАВИГАТОР - самый быстрый самолёт<br/>
</span><span style="color:red"> <br/>
САМЫЙ БЫСТРЫЙ САМОЛЁТ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 6-м ладу<br/></i>
 <br/>
Вступление: 1:0 1:I 1:0 2:III 2:I 2:0 Am D/f# G C G Am Em H7 Em<br/>
<br/>
      H7         Em          D/f#     G D/f# G<br/>
Не успели всё разлить, а полжизни за кормою,<br/>
        C              G         Am      Em<br/>
И ни с лупой, ни с ружьём не найти её следы;<br/>
 E                Am        D/f#    G Am Em<br/>
Самый быстрый самолёт не успеет за тобою,<br/>
    Am           Em         H7               Em<br/>
А куда деваться мне - я люблю быть там, где ты.<br/>
<br/>
Вроде глупо так стоять, да не к месту целоваться;<br/>
Белым голубем взлететь - только на небе темно;<br/>
Остаётся лишь одно - пить вино да любоваться;<br/>
Если б не было тебя, я б ушёл давным-давно.<br/>
<br/>
Проигрыш: <br/>
H7 Em D/f# G D/f# G C G Am Em E Am D/f# G Am Em Am Em H7 Em<br/>
<br/>
Всё, что можно пожелать - всё давным-давно сбылося,<br/>
Я ушёл бы в тёмный лес, да нельзя свернуть с тропы;<br/>
Ох, я знаю, отчего мне сегодня не спалося -<br/>
Видно где-то рядом ты, да глаза мои слепы.<br/>
<br/>
Так что хватит запрягать, хватит гнаться за судьбою,<br/>
Хватит попусту гонять в чистом море корабли:<br/>
Самый быстрый самолёт не поспеет за тобою -<br/>
Но, когда ты прилетишь, я махну тебе с земли.<br/>
 E                 Am        D/f#   G Am Em<br/>
Самый быстрый самолёт не поспеет за тобою -<br/>
        Am         Em         H7           Em<br/>
Но, когда ты прилетишь, я махну тебе с земли.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
