{% extends "chords.html" %}

{% set title = "Святой Герман" %}
{% set handbook_unid = "92044ec68bbbd0d9c325679d006af16e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ФЕОДАЛИЗМ - святой герман<br/>
</span><span style="color:red"> <br/>
СВЯТОЙ ГЕРМАН<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
E----------------------<br/>
H-1-0------------------<br/>
G-2-0-2-0--------------<br/>
D-----4-2-2—-0-2-4—-2-0<br/>
A---------3—-2-3-5—-3-0<br/>
E----------------------<br/>
  G         C  <span style="color:gray">C/h</span> Am    <span style="color:gray">C/h</span> C     D <br/>
E-7~7-8-10-12~8-10-12~10~8~7~3-2-3-5~3-2<br/>
H--------------------------------------- – 2p.<br/>
G---------------------------------------<br/>
D---------------------------------------<br/>
<br/>
G                 C <span style="color:gray">C/h<br/></span>
 Святой князь Герман<br/>
Am                         G   D<br/>
  Сейчас румяный, а ранее как мел<br/>
G             C   <span style="color:gray">C/h<br/></span>
 Герман был сломан,<br/>
Am                      G    D<br/>
  Но божьим промыслом опять цел<br/>
G         G/f#<br/>
 И всякая божия тварь<br/>
 Em                   A7  <br/>
Поёт ему и радует взгляд<br/>
Am   Hm  C  Hm   Am <br/>
 <span style="color:#4D4D4D">У – у – у – у – у <br/></span>
D                       <br/>
 Святой Герман<br/>
<br/>
Проигрыш: <br/>
  G         C  <span style="color:gray">C/h</span> Am    <span style="color:gray">C/h</span> C     D <br/>
E-7~7-8-10-12~8-10-12~10~8~7~3-2-3-5~3-2<br/>
H--------------------------------------- – 2p.<br/>
G---------------------------------------<br/>
D---------------------------------------<br/>
<br/>
Кто-то сказал "Welcome"<br/>
А он ответил "The pleasure is mine, please"<br/>
Герман был свинчен,<br/>
Посажен в бочку и взят далеко вниз<br/>
А ветер смеялся с небес<br/>
И хор из заоблачных сфер пел:<br/>
<span style="color:#4D4D4D">У – у – у – у – у<br/></span>
Ах, сэр Герман<br/>
<br/>
Проигрыш: <br/>
  G         C  <span style="color:gray">C/h</span> Am    <span style="color:gray">C/h</span> C     D <br/>
E-7~7-8-10-12~8-10-12~10~8~7~3-2-3-5~3-2<br/>
H--------------------------------------- – 2p.<br/>
G---------------------------------------<br/>
D---------------------------------------<br/>
<br/>
Потом он вернулся, но странно<br/>
Ему с Небес на голову лил свет,<br/>
Как будто босой в тундре,<br/>
Как будто с иконой, которой ещё нет.<br/>
Он шёл по жизни, как скир кламан скин<br/>
Лам скин гудрах ламетан. И все пели: <br/>
<span style="color:#4D4D4D">У – у – у – у – у<br/></span>
"Святой Герман!"<br/>
<br/>
Проигрыш: <br/>
  G         C  <span style="color:gray">C/h</span> Am    <span style="color:gray">C/h</span> C     D <br/>
E-7~7-8-10-12~8-10-12~10~8~7~3-2-3-5~3-2<br/>
H--------------------------------------- – 2p.<br/>
G---------------------------------------<br/>
D---------------------------------------<br/>
<br/>
G C C/h Am G D – 2p. G G/f# Em A7 Am Hm C Hm Am D<br/>
<br/>
  G         C  <span style="color:gray">C/h</span> Am    <span style="color:gray">C/h</span> C     D <br/>
E-7~7-8-10-12~8-10-12~10~8~7~3-2-3-5~3-2<br/>
H--------------------------------------- – 2p.<br/>
G---------------------------------------<br/>
D---------------------------------------<br/>
<br/>
Святой Герман пришёл к Святому Петру<br/>
Сели в сторожку и начали пить смесь<br/>
Отсюда прямой путь в святцы,<br/>
Но, как ни странно, Герман опять здесь<br/>
Утешенье коням в пальто<br/>
Причина всем диким цветам петь:<br/>
<span style="color:#4D4D4D">А – а – а – а – а<br/></span>
А наш Герман был там<br/>
<br/>
Проигрыш: G C Am C D – 2p.<br/>
<br/>
Святой князь Герман<br/>
Сейчас румян, а ранее как мел<br/>
Хром, глух и сломан,<br/>
Но божьим промыслом опять цел<br/>
И всякая божия тварь<br/>
Поёт ему и радует взгляд<br/>
<span style="color:#4D4D4D">У – у – у – у – у<br/></span>
Святой Герман<br/>
<br/>
Заключение: <br/>
  G         C  <span style="color:gray">C/h</span> Am    <span style="color:gray">C/h</span> C     D <br/>
E-7~7-8-10-12~8-10-12~10~8~7~3-2-3-5~3-2<br/>
H--------------------------------------- – 2p. G<br/>
G---------------------------------------<br/>
D---------------------------------------<br/>
<span style="color:#5F5F5F"> <br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
