{% extends "chords.html" %}

{% set title = "Сварог" %}
{% set handbook_unid = "ca4e9f46e6c7ef68c32568df00618227" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - Ψ - сварог<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Сварог<br/>
</span><i>Б. Гребенщиков  <br/>
Каподастр на 1-м ладу<br/></i>
 <br/>
Вступление: Em - 4p.<br/>
Em Em Em Em G G Em Em - 2p.<br/>
<br/>
C  C    G    Em Em<br/>
  Зарн зарн зарн<br/>
C  C    G    Em Em<br/>
  Зарн зарн зарн<br/>
<br/>
Em           Em<br/>
  Цаувей лама<br/>
Em           Em<br/>
  Цаувей лама<br/>
G         G         Em Em<br/>
 Тика-тика Тика-тика<br/>
<br/>
Цаувей лама<br/>
Цаувей лама<br/>
Тика-тика Тика-тика<br/>
<br/>
Зарн зарн зарн<br/>
Зарн зарн зарн<br/>
<br/>
G         F# <br/>
 Голя-хуёма Голя-хуёма<br/>
H          H<br/>
 Голя-хуёма Голя-хуёма<br/>
A          G<br/>
 Голя-хуёма Голя-хуёма<br/>
C          H          Em Em<br/>
 Голя-хуёма Голя-хуёма<br/>
<br/>
Цаувей лама<br/>
Цаувей лама<br/>
Тика-тика Тика-тика<br/>
<br/>
Цаувей лама<br/>
Цаувей лама<br/>
Тика-тика Тика-тика<br/>
<br/>
Проигрыш: C C G Em Em - 2p.<br/>
D# D#/c# D#/c E<br/>
D# C# H(VII) E<br/>
Em - 4p.<br/>
<br/>
Цаувей лама<br/>
Цаувей лама<br/>
Тика-тика Тика-тика<br/>
<br/>
Цаувей лама<br/>
Цаувей лама<br/>
Тика-тика Тика-тика<br/>
<br/>
Проигрыш: C C G Em Em - 2p.<br/>
Em Em Em Em Em Em Em Em…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:131.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">   III       D#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:131.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">   III     D#/c#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:148.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="198">
<b><span style="font-size:8.0pt">   III     D#/c<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII    H(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="border:none;padding:0cm 0cm 0cm 0cm" width="221"> <br/></td>
</tr>
</table>
{% endraw %}
{% endblock %}
