{% extends "chords.html" %}

{% set title = "Северо-запад" %}
{% set extra_title = "(инструментал)" %}
{% set handbook_unid = "a7e502c0a86a69b6c3256f5b0049eb32" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СНЕЖНЫЙ ЛЕВ - северо-запад<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">северо-запад<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/>
 <br/></i>
    Em<br/>
E---0---0-<br/>
H-0---0---<br/>
G---------<br/>
D-2---2---<br/>
<br/>
  Em                 H7  C      Am          D       D7 <br/>
E-7-5-7--7-5-7-5-7-8-5---3-2-3--3-2-3-2-3-5-2-3-2-0----<br/>
H--------------------------------------------------3-1-<br/>
G------------------------------------------------------<br/>
D------------------------------------------------------<br/>
  G                  D   C           F     Am   C    H7                H7<br/>
E-7-5-7--7-5-7-5-7-8-5---3-2-3-2-3-5-7-5-3-2-0-------------------------------------------<br/>
H---------------------------------------------1-0----------------------------------------<br/>
G-------------------------------------------------2--------------------------------------<br/>
D--------------------------------------------------5-4-5-4-5-4-5-4-5-4-5-4-5-4-5-4-5-4~~~<br/>
  Em                 H7  C      Am          D       D7 <br/>
E-7-5-7--7-5-7-5-7-8-5---3-2-3--3-2-3-2-3-5-2-3-2-0----<br/>
H--------------------------------------------------3-1-<br/>
G------------------------------------------------------<br/>
D------------------------------------------------------<br/>
  G                  D   C           F     Am   C    H7                H7<br/>
E-7-5-7--7-5-7-5-7-8-5---3-2-3-2-3-5-7-5-3-2-0-------------------------------------------<br/>
H---------------------------------------------1-0----------------------------------------<br/>
G-------------------------------------------------2--------------------------------------<br/>
D--------------------------------------------------5-4-5-4-5-4-5-4-5-4-5-4-5-4-5-4-5-4~~~<br/>
  Em                 H7  C      Am          D       D7 <br/>
E-7-5-7--7-5-7-5-7-8-5---3-2-3--3-2-3-2-3-5-2-3-2-0----<br/>
H--------------------------------------------------3-1-<br/>
G------------------------------------------------------<br/>
D------------------------------------------------------<br/>
  G                  D   C           F     Am   C    H7                H7<br/>
E-7-5-7--7-5-7-5-7-8-5---3-2-3-2-3-5-7-5-3-2-0-------------------------------------------<br/>
H---------------------------------------------1-0----------------------------------------<br/>
G-------------------------------------------------2--------------------------------------<br/>
D--------------------------------------------------5-4-5-4-5-4-5-4-5-4-5-4-5-4-5-4-5-4~~~<br/>
  H7           H7<br/>
E------0---3-2-8--7~~~<br/>
H-1--0---4------------<br/>
G---------------------<br/>
D---------------------<br/>
  Em                 H7  C      Am          D       D7 <br/>
E-7-5-7--7-5-7-5-7-8-5---3-2-3--3-2-3-2-3-5-2-3-2-0----<br/>
H--------------------------------------------------3-1-<br/>
G------------------------------------------------------<br/>
D------------------------------------------------------<br/>
  G                  D   C           F     Am   C    H7                H7   <br/>
E-7-5-7--7-5-7-5-7-8-5---3-2-3-2-3-5-7-5-3-2-0-----------------------------------------<br/>
H---------------------------------------------1-0--------------------------------------<br/>
G-------------------------------------------------2------------------------------------<br/>
D--------------------------------------------------5-4-5-4-5-4-5-4-5-4-5-4-5-4-5-4-5-4-<br/>
  H7                H7<br/>
E---------------------------------------<br/>
H---------------------------------------   <b><i><span style="color:gray;letter-spacing:-1.0pt">Em…</span></i></b>     <br/>
G---------------------------------------<br/>
D-5-4-5-4-5-4-5-4-5-4-5-4-5-4-5-4-5-4~~~<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
