{% extends "chords.html" %}

{% set title = "Сердце" %}
{% set handbook_unid = "eb783391894424edc325679d006aef55" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- МИТЬКОВСКИЕ ПЕСНИ - сердце<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
сердце<br/>
</span><i>И.Дунаевский - В.Лебедев-Кумач<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: С F G - 16p.<br/>
<br/>
                     C F G<br/>
Как много девушек хороших<br/>
                     C F G<br/>
Как много ласковых имен<br/>
                       C F G<br/>
И лишь одно из них тревожит<br/>
               C F           G<br/>
Унося покой и сон когда влюблен<br/>
                    C F  G<br/>
Любовь нечаянно нагрянет<br/>
                     C  F G<br/>
Когда ее совсем не ждешь<br/>
                       C F G<br/>
И каждый вечер сразу станет<br/>
               C F       G  G7<br/>
Изумительно хорош и ты поешь<br/>
<br/>
 C                         G<br/>
Сердце, тебе не хочется покоя<br/>
 G                           C  G<br/>
Сердце, как хорошо на свете жить<br/>
 C            C7             F<br/>
Сердце, как хорошо что ты такое<br/>
  Fm      C               G           C<br/>
Спасибо, сердце, что ты умеешь так любить<br/>
<br/>
Проигрыш: С F G - 20p.<br/>
<br/>
Я Вам пишу, чего же боле?<br/>
Что я могу еще сказать?<br/>
Теперь я знаю - в Вашей воле<br/>
Меня презреньем наказать<br/>
Но мимо тещиного дома<br/>
Я все ж без шуток не хожу:<br/>
То "Тихий Дон" в окно засуну<br/>
То "Кама-Сутру" покажу<br/>
<br/>
Сердце, тебе не хочется покоя<br/>
Сердце, как хорошо на свете жить<br/>
Сердце, как хорошо что ты такое<br/>
Спасибо, сердце, что ты умеешь так любить<br/>
<br/>
Проигрыш: С F G - 20p.<br/>
<br/>
Сердце, тебе не хочется покоя<br/>
Сердце, как хорошо на свете жить<br/>
Сердце, как хорошо что ты такое<br/>
  Fm      C               G           C  F G<br/>
Спасибо, сердце, что ты умеешь так любить<br/>
<br/>
Сердце, тебе не хочется покоя<br/>
Сердце, как хорошо на свете жить<br/>
Сердце, как хорошо что ты такое<br/>
Спасибо, сердце, что ты умеешь так любить<br/>
   С F G<br/>
Любить...<br/>
   С F G<br/>
Любить...<br/>
   С F G<br/>
Любить...<br/>
<br/>
Заключение: С F G - 5p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Fm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
