{% extends "chords.html" %}

{% set title = "Северный цвет" %}
{% set handbook_unid = "1f1f5e1d652c80d143256b12003ccdf7" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СЕСТРА ХАОС - северный цвет<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Северный цвет<br/>
</span><i>Б. Гребенщиков  <br/>
Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
E--------------------3-0-------------3-5-5h1-3-0-<br/>
H-5--5h3-5-6---3--5-3------5-5h3-5-6-------------<br/>
G------------------------------------------------<br/>
D------------------------------------------------<br/>
<br/>
E------------------------------<br/>
H-5--3-1h3-5-3-5---0-1-0-3-3h1-<br/>
G------------------------------<br/>
D------------------------------<br/>
<br/>
Am Am Dmadd9/f E – 4р. Am<br/>
<br/>
Am               E7sus4/h<br/>
  Вороника на крыльце;<br/>
C              Dm               Am<br/>
 В доме спит зверь, в доме ждёт ангел;<br/>
Dmadd9/f         Esus4 E<br/>
В доме далеко до утра.<br/>
Am                  G<br/>
  Вороника на крыльце, <br/>
  C                  Dm            Am<br/>
Она по ту сторону стекла и я бы открыл ей, <br/>
Dmadd9/f                    Esus4 E Esus4 E<br/>
Если бы я знал, где здесь дверь...<br/>
<br/>
Список кораблей <br/>
Никто не прочтёт до конца; кому это нужно - <br/>
Увидеть там свои имена...<br/>
Мы шли туда, где стена, <br/>
Туда, где должна быть стена, но там только утро <br/>
Dmadd9/f       Esus4 E<br/>
И тени твоего лица.<br/>
<br/>
F            F+7-5/h          Em  Am<br/>
 Оторвись от земли, Северный Цвет;<br/>
F   F+7-5/h                      Em  Am<br/>
 Ты знаешь, как должно быть в конце;<br/>
F            Am   <br/>
 Отпои меня нежностью<br/>
   Dm               Dm/e<br/>
Своей подвенечной земли,<br/>
Dm/f             Dm/e                F         <br/>
    Я не вижу причин, чтобы быть острожным -<br/>
        Em                     Am        <br/>
В доме зверь, Вороника на крыльце.<br/>
<br/>
Проигрыш: Am E7sus4/h C Dm Am Am Dmadd9/f E - 2p. E Am <br/>
<br/>
C           G                      Dm<br/>
 И если ты хочешь, то земля станет мёртвой;<br/>
C         G       Dm<br/>
 Если ты хочешь - камни воспоют тебе славу;<br/>
C           G    Dm<br/>
 И если ты хочешь - сними <br/>
F                          Esus4 E<br/>
 Эту накипь с моего сердца.<br/>
<br/>
Оторвись от земли, Северный Цвет;<br/>
Ты знаешь, как должно быть в конце;<br/>
Отпои меня нежностью<br/>
Своей подвенечной земли,<br/>
Я не вижу причин, чтобы быть острожным -<br/>
В доме зверь, Вороника на крыльце.<br/>
<br/>
Проигрыш: Am E7sus4/h C Dm Am Am Dmadd9/f E - 2p. Am<br/>
<br/>
Am        F         Esus4          E<br/>
  Ключ к северу лежит там, где никто не ищет<br/>
Am        F         Esus4    E<br/>
  Ключ к северу ждёт между биениями сердца<br/>
Am    F                 C         G<br/>
  Я знаю, отчего ты не можешь заснуть ночью<br/>
Dmadd9/f         E<br/>
   Мы с тобой одной крови.<br/>
Dmadd9/f         E        Am<br/>
   Мы с тобой одной крови.<br/>
<br/>
Заключение: Am Am Dmadd9/f E - 12p. Am Am Dm  E  Am <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Dmadd9/f<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">        E7sus4/h<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Esus4<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         F+7-5/h<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/e<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
