{% extends "chords.html" %}

{% set title = "Серебро Господа моего" %}
{% set handbook_unid = "dd70d4c3e142801cc325679d006af30f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАВНОДЕНСТВИЕ - серебро господа моего<br/>
</span><span style="color:red"> <br/>
СЕРЕБРО ГОСПОДА МОЕГО<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Три, четыре…<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление:<br/>
                       Am7                          Am7       Dsus4 D<br/>
E--7--5--3--0h2-0h2----------1---7--5--3--0h2-0h2---------1------3--2<br/>
H—-7—-5—-4-—0h2-0h2----1--1---1—-7—-5—-4-—0h2-0h2---1--1---1----3-3--<br/>
G---------------------0--0--0--0-------------------0--0--0--0--2---2-<br/>
D--------------------2--2--2----------------------2--2--2-----0------<br/>
A-------------------0----------------------------0-------------------<br/>
<br/>
          G    C     G               Em<br/>
Я ранен светлой стрелой - меня не излечат.<br/>
           G    C G            D<br/>
Я ранен в сердце - чего мне желать ещё?<br/>
              C       D               C         D<br/>
Как будто бы ночь нежна, как будто бы есть ещё путь -<br/>
           C G/h Am    G        D Dsus4 D <br/>
Старый прямой    путь нашей любви.<br/>
<br/>
А мы всё молчим, а мы всё считаем и ждём,<br/>
А мы всё поём о себе - о чём же нам петь ещё?<br/>
Но словно бы что-то не так, словно бы блёклы цвета,<br/>
Словно бы нам опять не хватает Тебя...<br/>
<br/>
E--------------------<br/>
H----------0---------<br/>
G----0—-2----2--0--0- G<br/>
D--4--------------4--<br/>
A--------------------<br/>
  Серебро Господа моего...<br/>
        Hm<br/>
Серебро Господа...<br/>
          Am C/h C          D            Dsus4 D  <br/>
Разве я знаю слова, чтобы сказать о тебе?<br/>
E--------------------<br/>
H----------0---------<br/>
G----0—-2----2--0--0- G<br/>
D--4--------------4--<br/>
A--------------------<br/>
  Серебро Господа моего...<br/>
           Hm C<br/>
Серебро Господа...<br/>
       G           D<br/>
Выше звёзд, выше слов,<br/>
                   Am C/h C<br/>
Вровень с нашей тоской...<br/>
 <br/>Проигрыш: <br/>Em(II) Emadd9 Em(II) D C Em(II) Emadd9 Em(II) D C <br/>
E-3-------2-----3----2-0---3-------2-----3----2-0-<br/>
H-------------------------------------------------<br/>
G-------------------------------------------------<br/>
Em(II) Emadd9 Em(II) D    C C/h C C/h <br/>
E-12----10-----12---10-5--3--2--3----<br/>
H----------------------------------3- Am Am/c D Dsus4 D<br/>
G------------------------------------<br/>
<br/>
Как деревенский кузнец, я выйду засветло.<br/>
Туда, куда я - за мной не уйдёт никто.<br/>
И может быть, я был слеп, и может быть, это не так,<br/>
Но я знаю, что ждёт перед самым концом пути. <br/>
<br/>
Серебро Господа моего...<br/>
Серебро Господа...<br/>
Разве я знаю слова, чтобы сказать о тебе?<br/>
Серебро Господа моего...<br/>
Серебро Господа...<br/>
Выше звёзд, выше слов,<br/>
Вровень с нашей тоской...<br/>
<br/>
Заключение:<br/>
Em(II) Emadd9 Em(II)D   C C/h <br/>
E-3------2------3---2-2-0----<br/>
H--------------------------3- Am D G<br/>
G----------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em(II)<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Emadd9<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/c<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
