{% extends "chords.html" %}

{% set title = "Сентябрь" %}
{% set handbook_unid = "5fc373f8af2a1e0cc325679d006af2a6" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ТАБУ - сентябрь<br/>
</span><span style="color:red"> <br/>
СЕНТЯБРЬ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: Am(V) G(III) D F G(III) – 8p.<br/>
<br/>
Am(V)  G(III)  D        F G(III)  Am(V) G(III) D F G(III)<br/>
   Этой ночью небо не станет светлей<br/>
Am(V)     G(III)   D         F G(III)    Am(V) G(III) D F G(III)<br/>
   У нас сентябрь, утро нужно ждать до утра<br/>
Am(V) G(III)       D      F G(III) Am(V) G(III) D F G(III)        <br/>
    Он пьёт, но едва ли ему веселей<br/>
       Dm                G<br/>
Он не хочет веселья, он хочет вина,<br/>
       F                G            Am(V) G(III) D F G(III)<br/>
Чтоб ещё чуть-чуть отложить слово "пора"<br/>
<br/>
Проигрыш: Am(V) G(III) D F G(III) – 7p.<br/>
<br/>
Сентябрь - праздник, который всегда с тобой<br/>
Сентябрь сладок, как папиросный дым<br/>
У каждого есть свой метод, и я знаю твой:<br/>
Чужое дыханье на чьём-то плече<br/>
    F             G<br/>
Когда оно было твоим.<br/>
<br/>
Am(V)  G(III)       D  F  G(III)   Am(V) G(III) D F G(III)<br/>
   Будь один, если хочешь быть молодым…<br/>
Am(V)  G(III)       D  F  G(III)   Am(V) G(III) D F G(III)<br/>
   Будь один, если хочешь быть молодым…<br/>
Am(V)  G(III)       D  F  G(III)   Am(V) G(III) D F G(III)<br/>
   Будь один, если хочешь быть молодым…<br/>
Am(V)  G(III)       D  F  G(III)   Am(V) G(III) D F G(III) <br/>
   Одиииииииииииииииииииииииииииииииииииин…<br/>
<br/>
Проигрыш: Am(V) G(III) D F G(III) – 16p.<br/>
<br/>
Все вниз, сегодня будем праздновать ночь<br/>
Сентябрь сладок. Праздновать ночь без конца<br/>
Белый стол, чёрный чай, пурпурное вино<br/>
Я знал того, кто знал её,<br/>
         F           G<br/>
Но я не помню его лица<br/>
<br/>
Am(V) G(III) D        F   G(III)     Am(V) G(III) D F G(III)<br/>
              Праздновать ночь без конца.<br/>
Am(V) G(III) D        F   G(III)     Am(V) G(III) D F G(III)<br/>
              Праздновать ночь без конца.<br/>
Am(V) G(III) D        F   G(III)     Am(V) G(III) D F G(III)<br/>
              Праздновать ночь без конца.<br/>
Am(V) G(III) D        F   G(III)     Am(V) G(III) D F G(III)<br/>
              Праздновать ночь без конца.<br/>
Am(V) G(III) D        F   G(III)     Am(V) Am(V)<br/>
              Праздновать ночь без конца…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     Am(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
