{% extends "chords.html" %}

{% set title = "Сельские леди и джентельмены" %}
{% set handbook_unid = "5525cfe073f345e9c325679d006af11d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСКИ ПЕТЕРБУРГА - сельские лэди и джентельмены<br/>
</span><span style="color:red"> <br/>
СЕЛЬСКИЕ ЛЭДИ И ДЖЕНТЕЛЬМЕНЫ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: D D G A – 4p. A <br/>
<br/>
      D<br/>
Пограничный Господь стучится мне в дверь,<br/>
G                      D<br/>
 Звеня бороды своей льдом.<br/>
     D<br/>
Он пьёт мой портвейн и смеётся,<br/>
              E A<br/>
Так сделал бы я;<br/>
     G                      A<br/>
А потом, словно дьявол с серебряным ртом,<br/>
       D                  G G<br/>
Он диктует строку за строкой,<br/>
      D                   E<br/>
И когда мне становится страшно писать,<br/>
      G               A<br/>
Говорит, что строка моя;<br/>
<br/>
Он похож на меня, как две капли воды,<br/>
Нас путают, глядя в лицо.<br/>
Разве только на мне есть кольцо,<br/>
А он без колец,<br/>
И обычно я и ни то и не сё,<br/>
Но порой я кажусь святым;<br/>
А он выглядит чёртом, хотя он Господь,<br/>
Но нас ждёт один конец;<br/>
<br/>
        G                    A<br/>
Так как есть две земли, и у них никогда<br/>
      D<br/>
Не бывало общих границ,<br/>
     G<br/>
И узнавший путь<br/>
   A               Hm D7<br/>
Кому-то обязан молчать.<br/>
           G                 A<br/>
Так что в лучших книгах всегда нет имён,<br/>
     D                 G G<br/>
И в лучших картинах - лиц,<br/>
       D            E<br/>
Чтобы сельские леди и джентльмены<br/>
       G  A               D<br/>
Продолжали свой утренний чай.<br/>
<br/>
Проигрыш: D D G A – 4p. A<br/>
<br/>
Та, кого я считаю своей женой -<br/>
Дай ей, Господи, лучших дней,<br/>
Для неё он страшнее чумы,<br/>
Таков уж наш брак.<br/>
Но её сестра за зеркальным стеклом<br/>
С него не спускает глаз,<br/>
И я знаю, что если бы я был не здесь,<br/>
Дело было б совсем не так;<br/>
<br/>
        D                 Hm<br/>
Ах, я знаю, что было бы, будь он как я,<br/>
D                   Hm<br/>
 Но я человек, у меня есть семья,<br/>
  D                    E<br/>
А он - Господь, он глядит сквозь неё,<br/>
G                      A<br/>
 И он глядит сквозь меня;<br/>
<br/>
Так как есть две земли, и у них никогда<br/>
Не бывало общих границ,<br/>
И узнавший путь<br/>
Кому-то обязан молчать.<br/>
Так что в лучших книгах всегда нет имён,<br/>
И в лучших картинах - лиц,<br/>
Чтобы сельские леди и джентльмены<br/>
Продолжали свой утренний чай.<br/>
<br/>
Проигрыш: D D G A – 4p. D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
