{% extends "chords.html" %}

{% set title = "Сегодня ночью" %}
{% set handbook_unid = "3d0f4232a9f1dc9ac325679d006aedcf" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ТАБУ - сегодня ночью<br/>
</span><span style="color:red"> <br/>
СЕГОДНЯ НОЧЬЮ КТО-ТО<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: Em C – 6 р.<br/>
<br/>
Em<br/>
  Бери свою флейту;<br/>
   G(III)<br/>
Я уже упаковал свой<br/>
    F#<br/>
Станок с неизвестным количеством струн,<br/>
     C<br/>
Я едва ли вернусь сегодня домой.<br/>
Em<br/>
   Не надо звонить,<br/>
      G(III)<br/>
Мы поймаем машину внизу;<br/>
     F#<br/>
Я надеюсь, что ты разбудишь меня<br/>
    C<br/>
Не раньше, чем нас довезут. <br/>
<br/>
Проигрыш: Em C – 2 p.<br/>
<br/>
Em<br/>
  Ещё один вечер;<br/>
  G(III)<br/>
Ещё один камень, смотри на круги.<br/>
       F#<br/>
Нас забудут не раньше, чем в среду к утру,<br/>
    C                                    Em<br/>
Я опять не замечу, когда нам скажут: "Беги".<br/>
Пора выезжать;<br/>
       G(III)<br/>
Нет, она сказала, что позвонит сама,<br/>
    F#                                    C<br/>
Я опять должен петь, но мне нужно видеть её -<br/>
                      Em<br/>
Я, наверно, схожу с ума. <br/>
  C                         Em       <br/>
Но - сегодня ночью кто-то ждёт<br/>
    С                          Em       <br/>
Н-а-а-с сегодня ночью кто-то ждёт<br/>
    С                          Em       <br/>
Н-а-а-с сегодня ночью кто-то ждёт<br/>
    С        <br/>
Н-а-а-а-с...<br/>
<br/>
Проигрыш: Em C – 4 p.<br/>
<br/>
Em<br/>
  Из города в город;<br/>
    G(III)<br/>
Из дома в дом,<br/>
                       F#<br/>
По квартирам чужих друзей -<br/>
                            C<br/>
Наверно, когда я вернусь домой,<br/>
Это будет музей.<br/>
Em<br/>
  Вперёд, флейтист;<br/>
  G(III)<br/>
Стоять на пороге тринадцатый год,<br/>
    F#<br/>
И хотя бы два дня, хотя бы два дня<br/>
           C<br/>
Там, где светит солнце,<br/>
                       Am<br/>
И где нас никто не найдёт...<br/>
  C                        Em       <br/>
Но - сегодня ночью кто-то ждёт<br/>
    С                         Em       <br/>
Н-а-а-с сегодня ночью кто-то ждёт<br/>
    С                         Em       <br/>
Н-а-а-с сегодня ночью кто-то ждёт<br/>
    С        <br/>
Н-а-а-а-с...<br/>
<br/>
Заключение: Em C – 11 p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
