{% extends "chords.html" %}

{% set title = "Семистрочная молитва" %}
{% set handbook_unid = "77febbfe979afd8bc325679d006af183" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - ПРИБЕЖИЩЕ - семистрочная молитва (seven line prayer)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
семистрочная молитва (SEVEN LINE PRAYER)<br/>
</span><i>Б.Гребенщиков - канонический текст<br/>
 <br/></i>
Вступление: 5:0 5:II - 4р.<br/>
<br/>
A Hm<br/>
Ом...<br/>
<br/>
Проигрыш: A Hm - 7р.<br/>
<br/>
A      Hm      A        Hm<br/>
Оргьен юл-гьи нуб-джанг цам<br/>
 A    Hm     A      E<br/>
Пэма гесар донг-по ла<br/>
A      Hm      A      Hm<br/>
Ямцен чок-ги нгодруб нье<br/>
 A     Hm       A     E<br/>
Пэма джунг-нэй шесу драг<br/>
  A       Hm     A      Hm<br/>
Кхор-ду кхандро манг-по кор<br/>
   A      Hm    A        E<br/>
Кхье-кьи джесу дагдруб кьи<br/>
  A      Hm     A     Hm<br/>
Джингьи лабчир шегсу сол<br/>
 A    Hm   A      E<br/>
Гуру Пэма сиддхи хи<br/>
A Hm<br/>
Ом...<br/>
<br/>
Заключение: A Hm - 2р. A E A<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
