{% extends "chords.html" %}

{% set title = "Сестра" %}
{% set handbook_unid = "625712bebe32a901c325679d006af189" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ФЕОДАЛИЗМ - сестра<br/>
</span><span style="color:red"> <br/>
СЕСТРА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: G(III) Hm Em C D – 4p.<br/>
<br/>
G(III)   Hm Em C D<br/>
    Сестра,<br/>
G(III)  Hm           Em C D<br/>
     Здравствуй, сестра;<br/>
G(III)     Hm          Em         C           D<br/>
    Нам не так уж долго осталось быть здесь вместе,<br/>
G(III) Hm           Em C D<br/>
    Здравствуй, сестра.<br/>
<br/>
G(III)           Hm         Em            C          D<br/>
     Когда мы глядим на небо, откуда должны придти звёзды,<br/>
G(III)           Hm         Em            C         D<br/>
     Когда мы глядим на горы, откуда должна придти помощь,<br/>
G(III)        Hm         Em          C  D<br/>
     Ни новое солнце днём, ни эта луна ночью<br/>
G(III)       Hm      Em        C     D<br/>
     Не остановят нас, не остановят нас;<br/>
G(III)     Hm Em  C   D<br/>
     Сестра,    дык, ёлы-палы,<br/>
G(III)  Hm            Em C D<br/>
      Здравствуй, сестра;<br/>
G(III)     Hm          Em         C           D<br/>
    Нам не так уж долго осталось быть здесь вместе,<br/>
G(III) Hm           Em C D<br/>
    Здравствуй, сестра…<br/>
<br/>
Попытайся простить мне, что я не всегда пел чисто,<br/>
Попытайся простить мне, что я не всегда был честен.<br/>
Попытайся простить мне, я не хотел плохого;<br/>
Ведь я не умел любить, но я хотел быть любимым;<br/>
Сестра, дык, ёлы-палы,<br/>
Здравствуй, сестра;   <br/>
Нам не так уж долго осталось быть здесь вместе;<br/>
Здравствуй, сестра... <br/>
<br/>
Проигрыш: G(III) Hm Em C D – 8p.<br/>
<br/>
И когда мы приходим, мы смотрим на небо;<br/>
Мы смотрим на небо, мы смотрим в него так долго,<br/>
Может быть, это картина, иллюзия и картина.<br/>
Но может быть, это правда; скорее всего это правда.<br/>
Сестра, дык, ёлы-палы,<br/>
Здравствуй, сестра;   <br/>
Нам не так уж долго осталось быть здесь вместе;<br/>
Здравствуй, сестра... <br/>
<br/>
G(III)    Hm Em C   D<br/>
     Сестра,   дык, ёлы-палы,<br/>
G(III)  Hm           Em  C D<br/>
     Здравствуй, сестра; <br/>
G(III)     Hm          Em         C           D<br/>
    Нам не так уж долго осталось быть здесь вместе,<br/>
G(III) Hm           Em C D<br/>
    Здравствуй, сестра… <br/>
<br/>
G(III)       Hm    Em C D<br/>
<span style="color:#5F5F5F">      У – у – у – у <br/></span>
G(III)       Hm    Em C D<br/>
<span style="color:#5F5F5F">      У – у – у – у <br/></span>
G(III)       Hm    Em C D<br/>
<span style="color:#5F5F5F">      У – у – у – у <br/></span>
G(III)       Hm    Em C D<br/>
<span style="color:#5F5F5F">      У – у – у – у <br/></span>
G(III)       Hm    Em C D<br/>
<span style="color:#5F5F5F">      У – у – у – у   <br/></span>
G(III)       Hm    Em C D<br/>
<span style="color:#5F5F5F">      У – у – у – у     <br/></span>
G(III)       Hm    Em C D<br/>
<span style="color:#5F5F5F">      У – у – у – у <br/></span>
G(III)       Hm    Em C D<br/>
<span style="color:#5F5F5F">      У – у – у – у <br/></span>
 <br/>
Заключение: G(III) Hm Em C D – 4p. G(III)<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
