{% extends "chords.html" %}

{% set title = "Сестра Хаос" %}
{% set handbook_unid = "9e90c59b412e092cc3256c7d004951d3" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - сестра хаос<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
сестра хаос<br/>
</span><i>Б.Гребенщиков, The Troggs <br/>
<br/>
Каподастр на 5-м ладу<br/></i>
 <br/>
Вступление: С F G - 4p.<br/>
<br/>
 C        F G<br/>
Wild thing<br/>
             C        F G<br/>
You make my heart sing<br/>
         C         F G<br/>
You make everything<br/>
 C        F G<br/>
Wild thing<br/>
<br/>
Хаос<br/>
Сестра Хаос<br/>
Господи, помилуй нас<br/>
Хаос<br/>
<br/>
C                F<br/>
 Пой мне, сестра<br/>
C                     F<br/>
 По свои сладкие песни <br/>
C                             F<br/>
 Завтрашний день будет завтра<br/>
C <br/>
 Пой мне<br/>
<br/>
Проигрыш: С F G - 8p.<br/>
<br/>
Хаос<br/>
Сестра Хаос<br/>
Господи, помилуй нас<br/>
Хаос<br/>
<br/>
Пой, сестра, пой<br/>
По свои сладкие песни <br/>
Завтрашний день будет завтра<br/>
Пой мне<br/>
<br/>
Заключение: С F G - 16p. C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
