{% extends "chords.html" %}

{% set title = "Скорбец" %}
{% set handbook_unid = "a8ad181bbe376bd8c325679d006af2fd" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - БЕСПЕЧНЫЙ РУССКИЙ БРОДЯГА - скорбец<br/>
</span><span style="font-size:12.0pt;color:red;text-transform:uppercase"> <br/>
</span><span style="color:red">СКОРБЕЦ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление:<br/>
E-----------<br/>
H-1----2----<br/>
G-1----2----<br/>
D-----------<br/>
<br/>
          Am*<br/>
E-------------------<br/>
H--1---------------1<br/>
G-2----------------- - 3p.<br/>
D-2----------------- <br/>
A------0-3-0-0h3-5-0<br/>
E---0-3-------------<br/>
<br/>
  Am<br/>
E--------<br/>
H--1-----<br/>
G-2------<br/>
D-2------<br/>
A------0-<br/>
E---0-3--<br/>
<br/>
Am*           <br/>
  Очнулся в цифрах ангельских крыл<br/>
    Am*<br/>
Высоко над землёй, где я так долго жил<br/>
   Am*<br/>
Небесные созданья несли мою постель -<br/>
  Am*<br/>
Ворон, птица Сирин и к-к-к-к-коростель<br/>
         F               <br/>
Земля лежала, как невеста,<br/>
     D                    Am*<br/>
С которой спьяну сняли венец<br/>
     F     <br/>
Прекрасна и чиста, но<br/>
           E         Am*<br/>
В глазах особый скорбец.<br/>
<br/>
Проигрыш: Am*<br/>
<br/>
На льду Бел-озера один на один<br/>
Сошлись наш Ангел Алкоголь и их Демон Кокаин<br/>
Из Китеж-града шёл на выручку клир<br/>
Внесли святой червонец и опять вышел мир<br/>
Мадонну Джекки Браун взял <br/>
В жёны наш Бог-Отец<br/>
Вначале было плохо,<br/>
Потом пришёл обычный скорбец<br/>
<br/>
    Am*<br/>
...бец<br/>
    Am*<br/>
...бец<br/>
    Am*<br/>
...бец<br/>
<br/>
Проигрыш: Am - 8p.<br/>
F D Am* F D Am<br/>
<br/>
    Am              <br/>
Я спрашивал у матери, я мучил отца<br/>
            Am<br/>
Вопросом - как мне уйти от моего скорбеца<br/>
        Am<br/>
Потом меня прижал в углу херувим<br/>
      Am<br/>
Сказал - без скорбеца ты здесь не будешь своим<br/>
С тех пор я стал цыганом<br/>
Сам себе пастух и сам дверь<br/>
И я молюсь, как могу,<br/>
Чтобы мир сошёл вам в души теперь<br/>
<br/>
Заключение: Am* - 12p. Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
