{% extends "chords.html" %}

{% set title = "Слишком много любви" %}
{% set handbook_unid = "3b1eb51ffbdcf488c3256ac30040027a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СЕСТРА ХАОС - слишком много любви<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Слишком много любви<br/>
</span><i>Б. Гребенщиков  <br/>
Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: G F – 4p. <br/>
G F G F G F G<br/>
<br/>
          F       G<br/>
Слишком много любви, <br/>
          F       G<br/>
Слишком много любви.<br/>
    F       G<br/>
Открой всё настежь - <br/>
          F       G<br/>
Слишком много любви.<br/>
           Em<br/>
В метрополитене,<br/>
                A<br/>
По колено в крови,<br/>
   C               D<br/>
Душа летит, как лебедь -<br/>
                  G F G<br/>
Слишком много любви.<br/>
<br/>
Ты скажешь "How much?"<br/>
Я скажу "Fuck you!"<br/>
Каждый хочет чужую, <br/>
Никто не хочет свою.<br/>
Тем, кто младше меня,<br/>
Не выбраться из колеи;<br/>
Хэй, поднимите мне веки - <br/>
Слишком много любви<br/>
<br/>
Проигрыш: F G F G <br/>
<br/>
Апостол Павел, <br/>
Апостол Фома<br/>
Спорили друг с другом - <br/>
Что такое тюрьма?<br/>
Один был снаружи, <br/>
Другой внутри;<br/>
Победила дружба, их обоих распяли, <br/>
Слишком много любви<br/>
<br/>
     C<br/>
А я парень хоть куда, у меня кольцо в ухе,<br/>
G<br/>
 У меня на груди два соска.<br/>
A<br/>
 Удались от меня, мученье; <br/>
Cm(III)                  D  <br/>
    Удались от меня, тоска.<br/>
<br/>
Проигрыш: G F G F G F G<br/>
<br/>
Выйди на палубу - <br/>
Всё море в крестах;<br/>
Мы дети подземелья, <br/>
Мы увяли в кустах;<br/>
Ягода-малина, <br/>
Газпром - MTV;<br/>
Дорогу санитарам леса -<br/>
Слишком много любви.<br/>
<br/>
     C<br/>
Я сидел в пещерах, пытался найти безмятежность;<br/>
     G<br/>
Блуждал по трубам, как вода в душевых -<br/>
      A<br/>
Но куда бы я ни шёл, передо мной твоя нежность,<br/>
        C               C/h<br/>
И я тоскую по тебе, как мёртвый тоскует <br/>
    Am               D  D<br/>
По жадности крови живых<br/>
<br/>
Проигрыш: G F – 4p. <br/>
G F G F G F G<br/>
<br/>
Слишком много любви,<br/>
Слишком много любви.<br/>
Подними глаза к небу - <br/>
Слишком много любви:<br/>
То летят самолеты, <br/>
То поют соловьи...<br/>
      C         D<br/>
Одно маленькое сердце -<br/>
              G  Hm<br/>
Так много любви... <br/>
 C         D<br/>
Маленькое сердце -<br/>
              G  Hm<br/>
Так много любви... <br/>
C          D<br/>
 Одно сердце -<br/>
              G  Hm<br/>
Так много любви... <br/>
C          D<br/>
 Одно сердце -<br/>
              G  Hm<br/>
Так много любви... <br/>
<br/>
Заключение: C D G Hm C G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:131.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Cm(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|-■-|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:131.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td colspan="2" style="border:none;padding:0cm 0cm 0cm 0cm" width="374"> <br/></td>
</tr>
</table>
{% endraw %}
{% endblock %}
