{% extends "chords.html" %}

{% set title = "Славное море священный Байкал" %}
{% set handbook_unid = "b15dbd6da03832c9c325782f0068799c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ИНТЕРНЕТ-СИНГЛЫ - славное море священный байкал<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
славное море священный байкал <br/>
</span><i>народная <br/></i>
 <br/>
Вступление: С G D G<br/>
<br/>
  G                          D<br/>
Славное море - священный Байкал,<br/>
  G                         D<br/>
Славный корабль - омулёвая бочка.<br/>
C                  G<br/>
Эй, баргузин, пошевеливай вал,<br/>
 D                 C  G G7<br/>
Молодцу плыть недалёчко.<br/>
<br/>
Проигрыш: С G D G<br/>
<br/>
Долго я тяжкие цепи носил,<br/>
Долго скитался в горах Акатуя,<br/>
Старый матрос мне бежать пособил,<br/>
Ожил я, волю почуя.<br/>
<br/>
Проигрыш: С G D C G<br/>
<br/>
Шилка и Нерчинск не страшны теперь,<br/>
Горная стража меня не догнала,<br/>
В тундре не съел ослепительный зверь,<br/>
Пуля и та миновала.<br/>
<br/>
Проигрыш: <br/>
С G D C G<br/>
G D, G D, C G, D G G7 <br/>
C G D G<br/>
<br/>
Славное море - священный Байкал,<br/>
Славный корабль - омулёвая бочка.<br/>
Эй, баргузин, пошевеливай вал,<br/>
Молодцу плыть недалёчко.<br/>
C                  G<br/>
Эй, баргузин, пошевеливай вал,<br/>
 D                 C  G<br/>
Молодцу плыть недалёчко.<br/>
<br/>
Заключение: G D, G D, C G, D G G7, C G, D G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
