{% extends "chords.html" %}

{% set title = "Слова Растамана" %}
{% set handbook_unid = "9c65ab0b4765ae0dc3256e7e0043b1dc" %}

{% block content %}
{% raw %}
<span style="color:red;text-transform:uppercase">слова растамана <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: Em Am Em H7 - 4p.<br/>
<br/>
Em                  Am           Em               Am<br/>
  Какая радость, когда человек слышит слова растамана,<br/>
Em                  Am                   Em  H7<br/>
  Какая радость, когда человек что-то слышит.<br/>
Em                  Am           Em               Am<br/>
  Какая радость, когда человек слышит слова растамана,<br/>
Em                  Am                  Em   H7<br/>
  Какая радость, когда человек что-то слышит.<br/>
<br/>
Проигрыш: Em Am Em Am Em Am Em H7<br/>
<br/>
Аврорафобы - те, кто боятся рассвета, вот ваше имя.<br/>
Дети подземелья, снимайте растяжки и мины.<br/>
Если ты не знаешь, зачем ты живёшь, это не повод стрелять разрывными,<br/>
Ты можешь попасть прямо в сердце своей половины.<br/>
<br/>
Какая радость, когда человек слышит слова растамана,<br/>
Какая радость, когда человек что-то слышит.<br/>
Какая радость, когда человек слышит слова растамана,<br/>
Какая радость, когда человек что-то слышит.<br/>
<br/>
Случилось так, что в саду наших душ вместо ангелов ходят артисты,<br/>
Ходят за деньги, прямо по цветам сапогами.<br/>
До счастья было рукой подать, но всё испортили сепаратисты,<br/>
Em                    Am                    Em Em<br/>
Теперь нам придётся идти к нему своими ногами.<br/>
<br/>
          Am   Am/h  Am/c      Am          Em    Em<br/>
Когда Джа-Джа поёт, ты делаешь вид, что не слышишь,<br/>
  Am       Am/h      Am/c      Am          Em   Em<br/>
Джа-Джа танцует, ты где-то всегда в другом месте.<br/>
Am        Am/h       Am/c    Am       Em              Em<br/>
Если ты забудешь, никто не напомнит тебе, как ты дышишь,<br/>
Am       Am/h      Am/c     Am       D<br/>
Музыка свяжет по рукам и ногам и заставит вертеться на месте.<br/>
<br/>
Проигрыш: Em Am Em H7 - 4p. <br/>
<br/>
По радио снова транслируют то, что унижает человеческий ум,<br/>
Этот низкий потолок страшнее чумы и проказы.<br/>
Война удобна - она избавляет от необходимости думать,<br/>
Но с каких пор ты стал любить повиноваться приказам?<br/>
<br/>
Какая радость, когда человек слышит слова растамана,<br/>
Какая радость, когда человек что-то слышит.<br/>
Какая радость, когда человек слышит слова растамана,<br/>
Какая радость, когда человек что-то слышит.<br/>
<br/>
Какая радость...<br/>
Какая радость...<br/>
Какая радость, когда человек что-то слышит.<br/>
<br/>
Заключение: Em Am Em Am Em Am Em H7 - 4p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am/c<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
