{% extends "chords.html" %}

{% set title = "Снимай своё платье - пойдём играть в прятки..." %}
{% set handbook_unid = "f0102620a44503d644257a3f00505c36" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - Неизданные русскоязычные песни - снимай своё платье - пойдём играть в прятки...<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
снимай своё платье - пойдём играть в прятки...<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: E G(III) A(V) G(III) - 8p.<br/>
<br/>
    E      G(III) A(V)       G(III)    E G(III) A(V) G(III)<br/>
Снимай своё платье - пойдем играть в прятки <br/>
    E        G(III)  A(V)    G(III)   E G(III) A(V) G(III)<br/>
Ты можешь называть меня губернатором Вятки, <br/>
   E      G(III) A(V)   G(III)   E  G(III) A(V) G(III)<br/>
Я буду катать тебя в машине с мигалкой, <br/>
   E     G(III) A(V)  G(III)  E  G(III) A(V) G(III)<br/>
Я буду любить тебя резиновой палкой. <br/>
   C                 D      E<br/>
С детства мечтал быть инквизицией, <br/>
   С              D     E  <br/>
Но я съеден заживо оппозицией. <br/>
<br/>
Проигрыш: E G(III) A(V) G(III) - 4p.<br/>
<br/>
Реальным мужчинам нужно свежее мясо, <br/>
сделай мне сладко - я налью тебе кваса <br/>
Купленное не в церкви опасно для жизни <br/>
Пьешь Кока-Колу - изменяешь отчизне! <br/>
С детства мечтал быть инквизицией, <br/>
Но я заживо съеден оппозицией. <br/>
<br/>
Проигрыш: E G(III) A(V) G(III) - 16p.<br/>
E G(III) A(V) - 4р.<br/>
<br/>
Сильной власти нужны малолетки, не думай, <br/>
Всей думой мы слижем с тебя порошки и таблетки. <br/>
Мы будем это делать без конца, без антракта, <br/>
Ты станешь звездой большого контракта! <br/>
С детства мечтал быть инквизицией, <br/>
Но я заживо съеден оппозицией.<br/>
<br/>
Заключение: E G(III) A(V) G(III) - 8p. E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
