{% extends "chords.html" %}

{% set title = "Сонет" %}
{% set handbook_unid = "18fafbfc32c5af93c325679d006af198" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - сонет<br/>
</span><span style="color:red"> <br/>
СОНЕТ<br/>
</span><i>Б. Гребенщиков - А. Гуницкий<br/>
 <br/></i>
Вступление:<br/>
  Em    Am   H7      Em     Em Am H7  Em     Em        Am     H7      Em      Em   Am    H7  Em<br/>
E---------------------------------------------------------------------0---2-3-2-3--------------<br/>
H----0--1----------------------------------------0--0--1--0--1--4--4---------------1-0---------<br/>
G-2--------2--2---2--2--0------------------0--2-----------------------------------------2-0----<br/>
D---------------------------2--2--1--2--2---------------------------------------------------1-2<br/>
Em Am H7 Em - 4p. Em<br/>
<br/>
          Em     C         Am H7<br/>
Служенье муз не терпит колеса,<br/>
       Em         C           Am Hm<br/>
А если терпит - право, не случайно.<br/>
          Am    H7        Em  G<br/>
Но я вам не раскрою этой тайны,<br/>
          Am   C          H7<br/>
А лучше брошу ногу в небеса.<br/>
<br/>
Ты возражаешь мне, проклятая роса;<br/>
Ты видишь суть в объятии трамвайном;<br/>
Но всё равно не верю я комбайну -<br/>
Ведь он не различает голоса.<br/>
<br/>
  C      Am     C    Am       Hm<br/>
Таинственный бокал похож на крюк,<br/>
    C    Am     C   Am   C Hm<br/>
Вокруг него рассыпаны алмазы...<br/>
        Am   H7            Em G<br/>
Не целовался я с тобой ни разу,<br/>
         Am    C              H7<br/>
Мой омерзительный, безногий друг;<br/>
   C         D               G G/f# Em<br/>
Упрёки я приму - но лишь тогда,<br/>
            Am      H7         Em<br/>
Когда в пакгаузе затеплится вода...<br/>
<br/>
Заключение:  <br/>
  Em    Am   H7  Em         Em     Am    H7      Em    <br/>
E---------------------------0--0---0--0-2-3-2-2-2-0--<br/>
H----0--1--0--1--1-0-0-0---------4-------------------<br/>
G-2--------------------------------------------------<br/>
D----------------------------------------------------<br/>
  Em     Am        H7     Em      Em     Am    H7   Em<br/>
-0-2-3--7-7-7-5--2-3-2-0-0-0--0-2-2h3-3-2-2-0--0-----0-<br/>
-------------------------------------------------4-4---<br/>
-------------------------------------------------------<br/>
-------------------------------------------------------<br/>
Em Am H7 Em - 16p. <br/>
Em Am <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
