{% extends "chords.html" %}

{% set title = "Сон Бананана №2" %}
{% set extra_title = "(инструментал)" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ИНСТРУМЕНТАЛЫ - сон бананана №2<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">сон бананана №2 <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Esus2…<br/>
<br/>
Em+g G+7/f#(IV) G+h(V) G+7/f#(IV) - 2p.<br/>
Em+g G+7/f#(IV) G+h(V) C+7/a(VII) - 2p.<br/>
Em+g G+7/f#(IV) G+h(V) G+7/f#(IV) - 2p.<br/>
Em+g G+7/f#(IV) G+h(V) C+7/a(VII) - 2p.<br/>
Em+g G+7/f#(IV) G+h(V) G+7/f#(IV) - 7p…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Esus2<br/>
x E---|---|---|---|---|<br/>
x H---|---|---|---|---|<br/>
  G---|---|---|-■-|---|<br/>
  D---|---|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em+g<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">        G+7/f#(IV)<br/>
  E---|---|---|---|-■-|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|---|---|-■-|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     G+h(V)<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII   C+7/a(VII)<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
