{% extends "chords.html" %}

{% set title = "Солнце в холодной воде" %}
{% set handbook_unid = "3fc37f8e4f1b1f1fc325679d006af066" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - солнце в холодной воде<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
солнце в холодной воде<br/>
</span><i>Б.Гребенщиков<br/>
 <br/></i>
Вступление: G D C - 8p.<br/>
<br/>
G      D         C      <br/>
 Мы сдвинемся с места<br/>
      G     D          C    <br/>
При счете один, два, три.<br/>
G      D       C              <br/>
 Мы будем смотреть снаружи<br/>
    G     D          C    <br/>
На полых женщин внутри.<br/>
G      D     C                  <br/>
 Так трудно быть вертикальным<br/>
     G       D        C    <br/>
При нашем тяжелом труде.<br/>
     G       G/f#     Em        <br/>
Но все, что может спасти меня -<br/>
C            D                   G D C <br/>
Это немного солнца в холодной воде.<br/>
<br/>
Проигрыш: G D C - 3p.<br/>
<br/>
Когда матросы падают в море,<br/>
Они помнят свою страну.<br/>
У капитанов есть мостик,<br/>
И им легче идти ко дну.<br/>
Но даже если забраться на мачту,<br/>
Став ближе к полярной звезде,<br/>
Все, что может спасти морехода -<br/>
Это немного солнца в холодной воде.<br/>
<br/>
Проигрыш: G D C - 7p.<br/>
<br/>
И все трамваи идут на север<br/>
Где всегда бушует метель.<br/>
И их колеса режут асфальт,<br/>
И в каждом стоит постель.<br/>
Но мы остаемся здесь<br/>
Так же, как и везде,<br/>
Внося в свою жизнь элементы фри-джаза,<br/>
В виде солнца в холодной воде. <br/>
<br/>
Заключение: G D C - 7p. G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
