{% extends "chords.html" %}

{% set title = "Спи, мой ангел" %}
{% set handbook_unid = "4ee217977ef8e595c325679d006af1aa" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - спи, мой ангел<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Спи, мой ангел<br/>
</span><i>М.Глинка - Н.Кукольник<br/>
<br/>
Каподастр на 1-м ладу<br/></i>
 <br/>
Вступление: Em Em+g Em+f# Em H - 2p.<br/>
<br/>
Em         H           Em<br/>
  Спи, мой ангел, почивай,<br/>
Em       H           Em<br/>
 Ясных глаз не открывай.<br/>
Em    G   D   G<br/>
 Баю-баюшки-баю,<br/>
     G       G<br/>
Баю-баюшки-баю.<br/>
G          Em        Am<br/>
 Неслышно время пролетит,<br/>
    H     Em Am    H<br/>
И грозны тучи соберутся.<br/>
Em   Am E     Am<br/>
И страсти завьются,<br/>
         G     D   G<br/>
И время жизни закипит.<br/>
     Em    G# C#m<br/>
И страсти гордые проснутся,<br/>
    G    H   Em Em+f# Em<br/>
И время жизни закипит,<br/>
Em Em+f# Em Am        H<br/>
   И время жизни закипит.<br/>
  E H        E<br/>
Спаси, сохрани<br/>
E        H         E<br/>
 Его от бури всемогущей,<br/>
E           H        E   H<br/>
 Рассей земных волнений тучи<br/>
          H        E H<br/>
И тихим счастьем озари.<br/>
 H         Am          A+7  <br/>
Рассей земных волнений тучи<br/>
   E A    Asus2  H   E H E H E<br/>
И тихим счастьем осени.<br/>
<br/>
проигрыш: Em Em+g Em+f# Em H - 2p.<br/>
<br/>
Спи, мой ангел, почивай,<br/>
Ясных глаз не открывай.<br/>
Баю-баюшки-баю,<br/>
Баю-баюшки-баю.<br/>
Чу, на пороге слышен шум.<br/>
Враги пришли, стучатся в двери.<br/>
Страданья и потери,<br/>
Рой страшных грез и горьких дум.<br/>
Страданья, жертвы и потери,<br/>
Рой страшных грез и горьких дум,<br/>
Рой страшных грез и горьких дум.<br/>
Спаси, сохрани<br/>
Его от бури всемогущей,<br/>
Рассей земных волнений тучи<br/>
И тихим счастьем озари.<br/>
Рассей земных волнений тучи<br/>
   E A    Asus2  H   E H E <br/>
И тихим счастьем осени.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em+g<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em+f#<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A+7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
