{% extends "chords.html" %}

{% set title = "Стоп машина" %}
{% set handbook_unid = "c219567b1fdedc60c32567a7006fba99" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - Ψ - стоп машина<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Стоп машина<br/>
</span><i>Б. Гребенщиков  <br/>
Каподастр на 2-м ладу<br/></i>
 <br/>
Проигрыш: G Em C D – 4p.<br/>
<br/>
G                  Em           C              D<br/>
 Стоп машина, мой свет - в этом омуте нечего слышать<br/>
G            Em     C                     D<br/>
 Стирай свой файл, выкини винчестер в кусты.<br/>
G             Hm            F                 E<br/>
 Я хочу познакомить тебя с теми, кто всё ещё дышит;<br/>
   A7                                 Cm(III)                  D D<br/>
Я до сих пор не видел на этой земле кого-либо прекрасней, чем ты.<br/>
<br/>
Изумлённых здесь нет. Здесь все, кто рождён, уже в курсе.<br/>
И Никола-С-Ларьком невесело курит во мгле:<br/>
Все святые места давно разворованы, в них теперь пусто -<br/>
Но, знаешь, даже сам Нестор Махно бледнеет, когда ты в седле.<br/>
<br/>
       C                   D                 G           Em<br/>
И чем больше мы выпьем за первый присест, тем останется меньше.<br/>
C           D                     G                     Em<br/>
 Чем ближе каменный гость, тем дешевле бриллианты в колье -<br/>
   C                Cm(III)                 G   Em<br/>
Но если я тот, про кого был написан мой паспорт,<br/>
          A7                               Cm(III)            D D<br/>
Скажи, зачем я танцую на самом краю в этом вышитом нижнем белье?<br/>
<br/>
Проигрыш: G Em C D - 4p. <br/>
<br/>
CТОП!!!<br/>
<br/>
Эпоха первородного греха имела свои моменты,<br/>
Но похоже Атлантида и Му уже пляшут на наших костях.<br/>
Улыбка под этой юбкой заставляет дрожать континенты -<br/>
Так на что нам сдались эти зомби в правительственных новостях?<br/>
<br/>
И чем больше мы выпьем за первый присест, тем останется меньше.<br/>
Чем ближе каменный гость, тем дешевле бриллианты в колье -<br/>
Но если мы те, про кого был написан наш паспорт,<br/>
Скажи - зачем? Зачем? Зачем? Зачем? Skip it. Skip it. Delete. Delete. Delete.<br/>
<br/>
Чем больше мы выпьем за первый присест, тем останется меньше.<br/>
Чем ближе каменный гость, тем дешевле бриллианты в колье -<br/>
Но если мы те, про кого был написан наш паспорт,<br/>
Скажи, зачем мы танцуем на самом краю в этом вышитом нижнем белье?<br/>
<br/>
G          Em          C           D<br/>
 Skip it up. Skip it up. Skip it up. Skip it up.<br/>
<br/>
Skip it up. Skip it up. Skip it up. Skip it up.<br/>
<br/>
Skip it up. Skip it up. Skip it up. Skip it up.<br/>
<br/>
Skip it up. Skip it up. Skip it up. Ua-ua-ua-ua-ua-ua-ua!<br/>
<br/>
Skip it up. Skip it up. Skip it up. Skip it up.<br/>
G          Em          C           D            G<br/>
 Skip it up. Skip it up. Skip it up. Skip it up…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Cm(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|-■-|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
