{% extends "chords.html" %}

{% set title = "Стань поп-звездой" %}
{% set handbook_unid = "f21c979684005bb7c325679d006af28b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ДОИСТОРИЧЕСКИЕ ПЕСНИ - ПРИТЧИ ГРАФА ДИФФУЗОРА - стань поп-звездой<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Стань поп-звездой <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: Gm F - 2p. Gm<br/>
<br/>
    Gm                       F<br/>
Что может быть в жизни проще:<br/>
  Gm                 F<br/>
Купи себе фуз и квак,<br/>
  Gm                 F<br/>
Купи усилитель мощный,<br/>
   Gm<br/>
Подай музыкантам знак,<br/>
    F<br/>
И стань поп-звездой. <br/>
    A<br/>
И стань поп-звездой. <br/>
    С              С<br/>
И стань поп-звездой... <br/>
<br/>
Проигрыш: Gm F - 2p.<br/>
<br/>
Вокруг завизжат мочалки,<br/>
Поп-фаны забьют косяк.<br/>
И это всего лишь начало;<br/>
Чего ж ты хотел, чудак?<br/>
Ты стал поп-звездой. <br/>
Стал поп-звездой. <br/>
Стал поп-звездой. <br/>
<br/>
Проигрыш: Gm F - 3p. Gm Am(V) Bm(VI) Hm(VII) Cm(VIII)<br/>
<br/>
В "Сайгоне" тебя полюбят,<br/>
И ты, разучившись петь,<br/>
Пьешь кофе, подобно людям,<br/>
Кто в жизни уже успел<br/>
Стать поп-звездой. <br/>
Стать поп-звездой. <br/>
  C              C/5+/f# <br/>
Стать поп-звездой. <br/>
<br/>
Проигрыш: Gm F - 2p.<br/>
<br/>
Но смех перемешан с болью,<br/>
И я от нее устал.<br/>
Кто есть здесь, кто хочет больше,<br/>
Стать поп-звездой? <br/>
Стать поп-звездой? <br/>
Стать поп-звездой? <br/>
<br/>
  F<br/>
Стать поп-звездой? <br/>
  A<br/>
Стать поп-звездой? <br/>
  С              С<br/>
Стать поп-звездой? <br/>
<br/>
  F<br/>
Стать поп-звездой? <br/>
  A<br/>
Стать поп-звездой? <br/>
  С              С<br/>
Стать поп-звездой?..<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:131.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">    V     Am(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VI     Bm(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII   Hm(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">  VIII   Cm(VIII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:114.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="152">
<b><span style="font-size:8.0pt">   IV    C/5+/f#<br/>
  E-■-|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
