{% extends "chords.html" %}

{% set title = "Сталь" %}
{% set handbook_unid = "8b37e9c743d64911c325679d006af2ee" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - сталь<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Сталь<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
      <br/>
Вступление: A Asus4 A Asus2 – 4р. A <br/>
<br/>
       Hm               E<br/>
Я не знаю, зачем ты вошла в этот дом,<br/>
       A                F#m<br/>
Но давай проведём этот вечер вдвоём;<br/>
     C#m                   E<br/>
Если кончится день, нам останется ром,<br/>
     D                  E   E<br/>
Я купил его в давешней лавке.<br/>
     Hm                      E<br/>
Мы погасим весь свет, и мы станем смотреть,<br/>
       A              F#m<br/>
Как соседи напротив пытаются петь,<br/>
    C#m                E<br/>
Обрекая бессмертные души на смерть,<br/>
        D          E          A Asus4 A Asus2 A Asus4 A Asus2 A<br/>
Чтоб остаться в живых в этой давке.<br/>
<br/>
Здесь дворы как колодцы, но нечего пить;<br/>
Если хочешь здесь жить, то умерь свою прыть,<br/>
Научись то бежать, то слегка тормозить,<br/>
Подставляя соседа под вожжи.<br/>
И когда по ошибке зашёл в этот дом<br/>
Александр Сергеич с разорванным ртом,<br/>
То распяли его, перепутав с Христом,<br/>
И узнав об ошибке днём позже.<br/>
<br/>
Проигрыш: A Asus4 A Asus2 - 2p. A<br/>
<br/>
Здесь развито искусство смотреть из окна,<br/>
И записывать тех, кто не спит, имена.<br/>
Если ты невиновен, то чья в том вина?<br/>
Важно первым успеть с покаяньем.<br/>
Ну а ежели кто не ещё, а уже,<br/>
И душа как та леди верхом в неглиже,<br/>
То Вергилий живет на втором этаже,<br/>
      D         E      A Asus4 A Asus2 A <br/>
Он поделится с ним подаяньем.<br/>
<br/>
Здесь вполголоса любят, здесь тихо кричат,<br/>
В каждом яде есть суть, в каждой чаше есть яд;<br/>
От напитка такого поэты не спят,<br/>
Издыхая от недосыпанья.<br/>
И в оправе их глаз - только лёд и туман,<br/>
Но порой я не верю, что это обман;<br/>
Я напитком таким от рождения пьян,<br/>
Это здешний каприз мирозданья.<br/>
<br/>
Проигрыш: <br/>
F#m C#m D E A F#m C#m D E E E E<br/>
<br/>
Нарисуй на стене моей то, чего нет;<br/>
Твоё тело как ночь, но глаза как рассвет.<br/>
Ты - не выход, но, видимо, лучший ответ;<br/>
Ты уходишь, и я улыбаюсь...<br/>
И назавтра мне скажет повешенный раб:<br/>
"Ты не прав, господин"; и я вспомню твой взгляд,<br/>
И скажу ему: "Ты перепутал, мой брат:<br/>
        D       E     A<br/>
В этой жизни я не ошибаюсь".<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
