{% extends "chords.html" %}

{% set title = "Станочек" %}
{% set handbook_unid = "8b658e503b00eb77c325679d006aeec8" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - МИТЬКОВСКИЕ ПЕСНИ - станочек<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
станочек<br/>
</span><i>Б.Прозоровский - Б.Тимофеев<br/></i>
 <br/>
Вступление: <br/>
3:II Dm Dm, Gm Dm, Gm Dm, A7 Dm A7 <br/>
Dm Dm, Gm Dm, Gm Dm, A7 Dm <br/>
<br/>
      A  A/f   Dm         D7          Gm<br/>
Дело было на заводе у прядильного станка<br/>
         C           F          Gm    A7   Dm<br/>
Где простую песнь заводят до привычного гудка<br/>
       A A/f  Dm        D7       Gm<br/>
Под шумящие колеса эта песня горяча<br/>
         C            F         Gm Gm6/e  A7 <br/>
Здесь любить мне довелося развеселого ткача<br/>
<br/>
    Dm                     Gm   Dm<br/>
Станочек мой, станочек, о чем поешь?<br/>
   Gm              Dm        A7    Dm  A7<br/>
Таких, как мой дружочек, уж не найдешь<br/>
    Dm                    Gm    Dm<br/>
Станочек мой, станочек, о чем поешь?<br/>
   Gm              Dm       A7     Dm   <br/>
Таких, как мой дружочек, уж не найдешь<br/>
<br/>
Проигрыш: <br/>
3:II Dm Dm, Gm Dm, Gm Dm, A7 Dm A7 <br/>
Dm Dm, Gm Dm, Gm Dm, A7 Dm <br/>
<br/>
Я работаю на пряже чуть дрожащею рукой -<br/>
Разлюбил, не вспомнил даже, от меня ушел к другой.<br/>
День рабочий на исходе раздается зов гудка<br/>
Это было на заводе у прядильного станка<br/>
<br/>
Станочек мой, станочек, о чем поешь?<br/>
Таких, как мой дружочек, уж не найдешь<br/>
Станочек мой, станочек, о чем поешь?<br/>
   Gm             Dm        A7    Dm  A7<br/>
Таких, как мой дружочек, уж не найдешь<br/>
<br/>
Заключение: Dm Dm, Gm Dm, Gm Dm, A7 Dm A7 - 2р. <br/>
Dm Dm, Gm Dm, Gm Dm, A7 Dm<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A/f<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Gm6/e<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
