{% extends "chords.html" %}

{% set title = "Странный вопрос" %}
{% set handbook_unid = "cdacf85b3cc2b5cec325679d006aeefe" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ИХТИОЛОГИЯ - странный вопрос<br/>
</span><span style="color:red"> <br/>
СТРАННЫЙ ВОПРОС<br/>
</span><i>Б. Гребенщиков<br/>
<br/>
Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <span style="color:gray">D </span><span style="color:#5F5F5F">G</span><span style="color:gray"> </span><span style="color:#333333">D</span><span style="color:gray"> </span><span style="color:#333333">A <br/></span>
D G D A – 2p.<br/>
<br/>
         D<br/>
Здесь слишком много сквозняка,<br/>
     D<br/>
Но слишком сильный дух;<br/>
        D<br/>
Здесь много старых женщин,<br/>
      D<br/>
Они все читают вслух;<br/>
     G     <br/>
Ко мне подходят люди<br/>
    <span style="color:#333333">Em           G</span>        D<br/>
С намереньем разбить мне нос,<br/>
   A7         <br/>
А ты удивлена, отчего я не живу здесь -<br/>
  G                   <span style="color:#333333">Em              G</span>         D<br/>
Милая, ты знаешь, мне кажется, это странный вопрос.<br/>
<br/>
Проигрыш: D G D A - 2p. <br/>
<br/>
В табачном производстве<br/>
Все борются за власть,<br/>
Или гонят самогон<br/>
Из того, что нет смысла красть;<br/>
А начальник цеха не был здесь год,<br/>
Он на это забил;<br/>
А ты удивлена, отчего я не курю -<br/>
Милая,  может быть я идиот, но я не дебил.<br/>
<br/>
Проигрыш: D G D A - 2p.<br/>
<br/>
Один твой друг<br/>
Ест ложкой гудрон,<br/>
А другой стреляет всех,<br/>
Кто знает больше, чем он.<br/>
Ко мне подходит некто с автоматом и говорит:<br/>
"А бежишь ли ты кросс?"<br/>
А ты удивлена, отчего я здесь проездом -<br/>
Милая, ты знаешь, мне кажется, это ты не всерьёз.<br/>
<br/>
Проигрыш: D G D A - 2p. A A<br/>
<br/>
Ты пришла ко мне утром,<br/>
Ты села на кровать,<br/>
Ты спросила, есть ли у меня<br/>
Разрешенье дышать,<br/>
И действителен ли мой пропуск,<br/>
Чтобы выйти в кино?<br/>
Теперь ты говоришь: «Ну куда же ты отсюда?"<br/>
     G                <span style="color:#333333">Em       G     </span>     D <span style="color:#333333">G</span><span style="color:gray"> D </span><span style="color:silver">A D<br/></span>
Ты знаешь, главное - прочь, а там всё равно.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
