{% extends "chords.html" %}

{% set title = "Стаканы" %}
{% set handbook_unid = "8b7d187481b84288c32570b700339fc8" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - БЕСПЕЧНЫЙ РУССКИЙ БРОДЯГА - стаканы<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Стаканы <br/>
</span><i>Кельтская народная, Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: G - 4p.<br/>
<br/>
 G<br/>
Ну-ка мечи стаканы на стол,<br/>
 D<br/>
Ну-ка мечи стаканы на стол;<br/>
 G<br/>
Ну-ка мечи стаканы на стол<br/>
   Em       D G  <br/>
И прочую посуду.<br/>
  G<br/>
Все говорят, что пить нельзя,<br/>
  C<br/>
Все говорят, что пить нельзя;<br/>
  G<br/>
Все говорят, что пить нельзя,<br/>
Em               D G<br/>
  Я говорю, что буду.<br/>
<br/>
Проигрыш: G C G G D G, G C G Em D G<br/>
<br/>
Рано с утра, пока темно<br/>
Пока темно - пока темно <br/>
Рано с утра, пока темно<br/>
И мир ещё в постели<br/>
Чтобы понять, куда идти<br/>
Чтобы понять, зачем идти <br/>
Без колебаний прими сто грамм <br/>
И ты достигнешь цели.<br/>
<br/>
Ну-ка мечи стаканы на стол,<br/>
Ну-ка мечи стаканы на стол;<br/>
Ну-ка мечи стаканы на стол<br/>
И прочую посуду.<br/>
Все говорят, что пить нельзя,<br/>
Все говорят, что пить нельзя;<br/>
Все говорят, что пить нельзя,<br/>
Я говорю, что буду.<br/>
<br/>
Проигрыш: G D G Em D G, G C G Em D G<br/>
<br/>
Я не хотел тянуть баржу<br/>
Поэтому я хожу-брожу<br/>
Если дойду до конца земли  <br/>
Пойду бродить по морю<br/>
Если сломается аппарат<br/>
Стану пиратом и буду рад<br/>
Без колебаний пропью линкор<br/>
Но флот не опозорю<br/>
<br/>
Проигрыш: G D G Em D G, G C G Em D G<br/>
<br/>
Ну-ка мечи стаканы на стол,<br/>
Ну-ка мечи стаканы на стол;<br/>
Ну-ка мечи стаканы на стол<br/>
И прочую посуду.<br/>
Все говорят, что пить нельзя,<br/>
Все говорят, что пить нельзя;<br/>
Все говорят, что пить нельзя,<br/>
Я говорю, что буду.<br/>
<br/>
Ну-ка мечи стаканы на стол,<br/>
Ну-ка мечи стаканы на стол;<br/>
Ну-ка мечи стаканы на стол<br/>
И прочую посуду.<br/>
Все говорят, что пить нельзя,<br/>
Все говорят, что пить нельзя;<br/>
Все говорят, что пить нельзя,<br/>
Я говорю, что буду.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
