{% extends "chords.html" %}

{% set title = "Сторож Сергеев" %}
{% set handbook_unid = "6233aab1eb219cbdc325679d006aef0d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАДИО АФРИКА - сторож сергеев (</span><span style="font-size:8.0pt">studio version</span><span style="font-size:8.0pt;text-transform:uppercase">)<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Сторож Сергеев (</span><span style="color:red">studio version</span><span style="color:red;text-transform:uppercase">)<br/>
</span><i>Б. Гребенщиков</i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: G – 4p.<br/>
<br/>
   G              Am<br/>
Зелёная лампа и грязный стол,<br/>
    D             G<br/>
И правила над столом.<br/>
  G               Am<br/>
Сторож Сергеев глядит в стакан<br/>
 D          G<br/>
Думает о былом;<br/>
    G               Hm<br/>
Но вот приходят к нему друзья,<br/>
    Am              D<br/>
Прервав его мыслей ход.<br/>
   G                  Am<br/>
И быстро вливают портвейна литр<br/>
  D              G<br/>
Сторожу прямо в рот.<br/>
<br/>
Проигрыш: G Am D G – 2p.<br/>
<br/>
Друзья пришли к нему неспроста,<br/>
Пройдя не одну версту.<br/>
Они желают видеть его<br/>
На боевом посту.<br/>
И сторож Сергеев, забыв свой долг,<br/>
Ловит беседы нить;<br/>
И ставит стулья друзьям своим,<br/>
Поскольку им негде пить.<br/>
<br/>
Проигрыш: G Am D G – 2p.<br/>
<br/>
И он говорит с ними до утра,<br/>
Забыв обойти свой двор.<br/>
Он пьёт, не глядя совсем на дверь,<br/>
Куда мог забраться вор;<br/>
Но ночь проходит, приходит день,<br/>
Как в мире заведено,<br/>
И сторож Сергеев упал под стол,<br/>
Допив до конца вино.<br/>
<br/>
Проигрыш: G Am D G – 2p.<br/>
<br/>
Зелёная лампа горит чуть-чуть,<br/>
Сменщик уж час как здесь.<br/>
А сторож Сергеев едва встаёт,<br/>
Синий с похмелья весь.<br/>
И он, трясясь, выходит за дверь,<br/>
Не зная ещё куда;<br/>
Желает пива и лечь поспать<br/>
Скромный герой труда.<br/>
<br/>
Заключение: <br/>
G Am D G – 3p. G Am D C 5:III 5:II 5:0 G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
