{% extends "chords.html" %}

{% set title = "Стучаться в двери травы" %}
{% set handbook_unid = "0e2379b0f918c97bc325679d006af2c7" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕСЯТЬ СТРЕЛ - стучаться в двери травы<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">СТУЧАТЬСЯ В ДВЕРИ ТРАВЫ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <span style="color:silver">C</span> <span style="color:#999999">C</span> <span style="color:gray">C</span> C<br/>
<br/>
   C <br/>
Я видел, как реки идут на юг,<br/>
        Am<br/>
И как боги глядят на восток.<br/>
   C<br/>
Я видел в небе стальные ветра,<br/>
     Am<br/>
Я зарыл свои стрелы в песок.<br/>
F               Fm<br/>
Я был бы рад остаться здесь,<br/>
      C         C/h    F<br/>
Но твои, как всегда, правы;<br/>
         C       C/h     Am     Em<br/>
Так не плачь обо мне, когда я уйду<br/>
    F         <span style="color:gray">G</span>       C Am F G<br/>
Стучаться в двери травы.<br/>
<br/>
Проигрыш: C Am F G – 3p.<br/>
<br/>
Твоя мать даёт мне свой сладкий чай,<br/>
Но отвечает всегда о другом,<br/>
А отец считает свои дела<br/>
И считает меня врагом.<br/>
И в доме твоём слишком мало дверей,<br/>
И все зеркала кривы;<br/>
Так не плачь обо мне, когда я уйду<br/>
Стучаться в двери травы.<br/>
<br/>
Проигрыш: C Am F G – 3p.<br/>
<br/>
Я видел в небе тысячу птиц,<br/>
Но они улетели давно.<br/>
Я видел тысячу зорких глаз,<br/>
Что смотрят ко мне в окно.<br/>
И ты прекрасна, как день, но мне надоело<br/>
Обращаться к тебе на "Вы";<br/>
Так не плачь обо мне, когда я уйду<br/>
Стучаться в двери травы.<br/>
<br/>
Заключение: C Am F G – 2p. C<br/>
<br/>
<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Fm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
