{% extends "chords.html" %}

{% set title = "Стаканчики гранёные упали со стола..." %}
{% set handbook_unid = "37fadca413ca7819c325679d006af1b3" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - стаканчики гранёные упали со стола...<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
СТАКАНЧИКИ ГРАНЁНЫЕ УПАЛИ СО СТОЛА...<br/>
</span><i>народная<br/>
 <br/></i>
    Am<br/>
Стаканчики гранёные<br/>
  Dm      Dm/c  Am<br/>
Упали да со стола.<br/>
      Dm      Dm/c     Am<br/>
С тех пор, как ты, красавица<br/>
   E        Am<br/>
Покинула меня.<br/>
      Dm      Dm/c     Am<br/>
С тех пор, как ты, красавица<br/>
   E        Am Am<br/>
Оставила меня.<br/>
<br/>
     Am<br/>
Мне на полу стаканчиков<br/>
   Dm      Dm/c   Am<br/>
Разбитых да не собрать...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/c<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
