{% extends "chords.html" %}

{% set title = "Сувлехим Такац" %}
{% set handbook_unid = "2d6badbc72a7aa4dc325679d006aeee0" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - КОСТРОМА MON AMOUR - сувлехим такац<br/>
</span><span style="color:red"> <br/>
СУВЛЕХИМ ТАКАЦ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: G G/f# Em Em/d C G G D G – 2p.<br/>
<br/>
G     G/f#      Em    Em/d<br/>
 Его звали Сувлехим Такац,<br/>
  C             D       G  D G<br/>
И он служил почтовой змеёй.<br/>
 G        G/f#       Em      Em/d<br/>
Женщины несли свои тела как ножи,<br/>
      C          C/h     Am<br/>
Когда он шёл со службы домой;<br/>
C          D          G     G/f#  Em<br/>
 И как-то ночью он устал глядеть вниз,<br/>
   Hm                  C<br/>
И поднял глаза в небосвод;<br/>
         G         G/f#        Em    Em/d<br/>
И он сказал: "Я не знаю, что такое грехи,<br/>
        C          D                         G<br/>
Но мне душно здесь - пора вводить парусный флот!".<br/>
<br/>
Проигрыш: G G/f# Em Em/d C G G D G – 2p.<br/>
<br/>
Они жили в полутёмной избе,<br/>
В которой нечего было стеречь;<br/>
Они следили за развитьем легенд,<br/>
Просто открывая дверь в печь;<br/>
И каждый раз, когда король бывал прав,<br/>
И ночь подходила к ним вброд,<br/>
Королева говорила: "Подбрось ещё дров,<br/>
И я люблю тебя, и к нам идёт парусный флот!".<br/>
<br/>
Проигрыш: G G/f# Em Em/d C G G D G – 2p.<br/>
G G/f# Em Em/d C D G D G G G/f# Em Em/d C C/h Am <br/>
C D G G/f# Em Hm C G G/f# Em Em/d C D <br/>
G G/f# Em Em/d C G G D G – 2p.<br/>
<br/>
Так сделай то, что хочется сделать,<br/>
Спой то, что хочется спеть.<br/>
Спой мне что-нибудь, что больше, чем слава,<br/>
И что-нибудь, что больше, чем смерть;<br/>
И может быть, тогда откроется дверь,<br/>
И звёзды замедлят свой ход,<br/>
И мы встанем на пристани вместе,<br/>
Взявшись за руки; глядя на парусный флот.<br/>
<br/>
Заключение: G G/f# Em Em/d C G G D G <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em/d<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
