{% extends "chords.html" %}

{% set title = "Сутра Ледоруба" %}
{% set handbook_unid = "584fb5e9cada1363c325679d006af2a3" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - Аквариум + - сутра ледоруба<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">сутра ледоруба<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/>
 <br/></i>
Вступление: C Am - 4p.<br/>
<br/>
C       Am        C       Am<br/>
Это не песня - это шаг вброд,<br/>
 C         Am     C         Am<br/>
Шашка мескалина, вересковый мед,<br/>
     Dm            F<br/>
Это сутра ледоруба - <br/>
        C          Am           C      Am<br/>
Чтобы вновь было слово, чтобы тронулся лед,<br/>
 G                                  Dm F         C<br/>
Вера и надежда лязгают зубами в кустах - харе-харе<br/>
<br/>
Проигрыш: C Am - 4p.<br/>
<br/>
Её не нужно будет слушать, не нужно будет ждать,<br/>
Не нужно репетировать, не нужно писать, <br/>
Ей не нужно делать мастер - <br/>
Она мать всех слов, сама себе мастер.<br/>
Белая кобыла точет копыта и ждёт - харе-харе<br/>
<br/>
Проигрыш: C Am - 4p.<br/>
<br/>
 G                                      Dm          <br/>
Дети пепси-колы заслуженно отходят ко сну,<br/>
  Dm                Em<br/>
А осень патриарха длится так долго, <br/>
        F                      F   G<br/>
Что рискует превратиться в весну. Хэй<br/>
<br/>
Проигрыш: <br/>
C Am - 4p. Dm F C Am C Am, G Dm F   <br/>
C Am - 4p.<br/>
<br/>
Так что это не песня, это шаг в брод,<br/>
Шашка мескалина, движущийся лед,<br/>
Это новый снег на губы,<br/>
Это месть партизана, сутра ледоруба,<br/>
Аста маньяна, мы движемся теперь на восход Хэй, харе-харе<br/>
<br/>
Проигрыш: C Am - 4p.<br/>
<br/>
         F      <br/>
И вот летят наши души, <br/>
      C          Am      C       Am<br/>
Как японские матросы в поисках суши, <br/>
   F       <br/>
А мир всё глуше, <br/>
    C         Am      C       Am<br/>
А японские матросы в поисках суши, <br/>
  C          Am     C      Am<br/>
Японские матросы в поисках суши, <br/>
  C          Am   C   Am<br/>
Японские матросы ха-а-ай, <br/>
  C          Am   C Am С<br/>
Японские матросы ха-а-ай.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
