{% extends "chords.html" %}

{% set title = "Сыновья молчаливых дней" %}
{% set handbook_unid = "d3f61438fb8c9628c325679d006af1c8" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ТАБУ - сыновья молчаливых дней<br/>
</span><span style="color:red"> <br/>
СЫНОВЬЯ МОЛЧАЛИВЫХ ДНЕЙ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
  Em                A7<br/>
E-19--14----14-19---19--14----14-19--<br/>
H---17----17-----17---17----17-----17 - 20p.<br/>
G-------16----------------16---------<br/>
<br/>
Em                     A7<br/>
  Сыновья молчаливых дней<br/>
Em                 A7<br/>
  Смотрят чужое кино,<br/>
Em                  A7<br/>
  Играют в чужих ролях,<br/>
Em                   A7<br/>
  Стучатся в чужую дверь;<br/>
<br/>
Сыновья молчаливых дней<br/>
Боятся смотреть в окно,<br/>
Боятся шагов внизу,<br/>
Боятся своих детей; <br/>
<br/>
Дайте немного воды<br/>
Сыновьям молчаливых дней...<br/>
Дайте немного воды<br/>
Сыновьям молчаливых дней...<br/>
<br/>
Проигрыш: Em A7 – 10p.<br/>
<br/>
Дайте немного воды<br/>
Сыновьям молчаливых дней...<br/>
Дайте немного воды<br/>
Сыновьям молчаливых дней...<br/>
<br/>
Дайте немного воды<br/>
Сыновьям молчаливых дней...<br/>
Дайте немного воды<br/>
Em                      A7  Em… <br/>
  Сыновьям молчаливых дней...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
