{% extends "chords.html" %}

{% set title = "Танцы на грани весны" %}
{% set handbook_unid = "52ec6b151d8c7d99c325679d006af171" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕТИ ДЕКАБРЯ - танцы на грани весны<br/>
</span><span style="color:red"> <br/>
ТАНЦЫ НА ГРАНИ ВЕСНЫ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 1-м ладу<br/></i>
 <br/>
Вступление: D Am7 – 4p.<br/>
<br/>
D                   Am7<br/>
 Сегодня днём я смотрел с крыши,<br/>
D                      Am7<br/>
 Сегодня ночью я буду жечь письма.<br/>
D                     Am7<br/>
 Камни в моих руках, камни, держащие мир,<br/>
D                   Am7<br/>
 Это не одно и то же.<br/>
B              C<br/>
 Я мог бы написать эпос,<br/>
  Am            D<br/>
Но к чему рисковать камуфляжем?<br/>
B              C<br/>
 Мог бы взять холст и кисти,<br/>
Am            D<br/>
  Но это ничего не меняет.<br/>
B                C<br/>
 Мог бы сделать шаг назад,<br/>
F                  C<br/>
 Я мог бы сделать шаг назад,<br/>
  Am<br/>
Но  это не то, что мне нужно,<br/>
C<br/>
 Это не то, что мне нужно -<br/>
<br/>
F     C           Dm        Am      B Am<br/>
 Это только наши танцы на грани весны;<br/>
F     C           Dm        Am      B Am<br/>
 Это только наши танцы на грани весны;<br/>
<br/>
Проигрыш: D Am7 – 4р.<br/>
<br/>
Я вижу твой берег, но что там блестит в кустах?<br/>
Я видел что-то подобное в одном из видеофильмов.<br/>
Я знаю твой голос лучше, чем свой,<br/>
Но я хочу знать, кто говорит со мной;<br/>
Я мог бы остаться целым,<br/>
Но это не в правилах цирка.<br/>
Мог бы остаться целым,<br/>
Но это не в моих свойствах;<br/>
Мог бы признаться в любви,<br/>
Я мог бы признаться тебе в любви,<br/>
Но разве ты этого хочешь?<br/>
И разве это что-то меняет?<br/>
<br/>
Это только наши танцы на грани весны;<br/>
Это только наши танцы на грани весны.<br/>
<br/>
Проигрыш: D Am – 4р. D Am7 – 8р.<br/>
<br/>
Сегодня днём я смотрел с крыши,<br/>
Сегодня ночью я буду жечь письма.<br/>
Камни в моих руках, камни, держащие мир,<br/>
Это не одно и то же.<br/>
Я мог бы написать эпос,<br/>
Но к чему рисковать камуфляжем?<br/>
Мог бы взять холст и кисти,<br/>
Но это ничего не меняет.<br/>
Мог бы сделать шаг назад,<br/>
Я мог бы сделать шаг назад,<br/>
Но это не то, что мне нужно,<br/>
Нет, это не то, что мне нужно -<br/>
<br/>
Это только наши танцы на грани весны;<br/>
Это только наши танцы на грани весны;<br/>
<br/>
Это только наши танцы на грани весны;<br/>
Это только наши танцы на грани весны.<br/>
<br/>
Заключение: D Am7 – 8р. D<span style="color:gray"> <br/>
<br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
