{% extends "chords.html" %}

{% set title = "Таможенный блюз" %}
{% set handbook_unid = "71258528d7cfea1bc325679d006af312" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАВИГАТОР - таможенный блюз<br/>
</span><span style="color:red"> <br/>
ТАМОЖЕННЫЙ БЛЮЗ<br/>
</span><i>Б. Гребенщиков<br/>
</i><span style="font-size:12.0pt"> <br/>
</span><i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: 2sl3h0 E E/g E - 4p.<br/>
E E/g E - 8p.<br/>
<br/>
E<br/>
 Я родился в таможне,<br/>
    E<br/>
Когда я выпал на пол.<br/>
E     <br/>
 Мой отец был торговец,<br/>
    E<br/>
Другой отец - Интерпол;<br/>
  E<br/>
Третий отец - Дзержинский,<br/>
    E<br/>
Четвёртый отец - кокаин;<br/>
      E7<br/>
С тех пор, как они в Мавзолее, мама,<br/>
     E7<br/>
Я остался совсем один.<br/>
                 A<br/>
У меня есть две фазы, мама,<br/>
                       E<br/>
Я - чистый бухарский эмир.<br/>
          H7<br/>
Когда я трезв, я - Му-Му и Герасим, мама;<br/>
A7                   E E/g E E E/g E<br/>
  А так я - Война и Мир.<br/>
<br/>
Я удолбан весь день,<br/>
Уже лет двенадцать подряд.<br/>
Не дышите, когда я вхожу:<br/>
Я - наркотический яд.<br/>
Моё сердце из масти,<br/>
Кровь - диэтиламид;<br/>
Не надо смотреть на меня,<br/>
Потому что иначе ты вымрешь, как вид -<br/>
У меня есть две фазы, мама,<br/>
Я чистый бухарский эмир.<br/>
Когда я трезв, я - Му-Му и Герасим, мама;<br/>
A7                   E E/g E <br/>
  А так я - Война и Мир.<br/>
<br/>
Проигрыш: A E – 4p.<br/>
<br/>
На юге есть бешеный кактус,<br/>
На севере - тундра с тайгой;<br/>
И там, и сям есть шаманы, мама,<br/>
Я тоже шаман, но другой -<br/>
Я не выхожу из астрала,<br/>
А выйду - так пью вино;<br/>
Есть много высоких материй, мама,<br/>
Но я их свожу в одно.<br/>
У меня есть две фазы, мама,<br/>
Моя родина - русский эфир;<br/>
Когда я трезв, я - Му-Му и Герасим, мама,<br/>
A7                   E E/g E <br/>
  А так я - Война и Мир.<br/>
<br/>
Заключение: A E – 4p. E/g E  E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E/g<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
