{% extends "chords.html" %}

{% set title = "Танец" %}
{% set handbook_unid = "01f8c5341a882c0bc325679d006af1d7" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ДОИСТОРИЧЕСКИЕ ПЕСНИ - С ТОЙ СТОРОНЫ ЗЕРКАЛЬНОГО СТЕКЛА - танец<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
танец <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: A Em - 4p.<br/>
<br/>
    A         Em      A Em<br/>
Танцуем на склоне холма,<br/>
   A        Em          A  5:V 5:IV 5:III<br/>
И полдень поет, как свирель.<br/>
  Hm      E      A 5:IV 5:III 5:II <br/>
Тебя называют Зима,<br/>
   Hm     E     C#m 5:III 5:II 5:I <br/>
Меня называют Апрель.<br/>
<br/>
Проигрыш: A Em - 4p.<br/>
<br/>
Ах, как высоки небеса:<br/>
Их даже рукой не достать;<br/>
И хочется ветром писать<br/>
Мелодию этого сна.<br/>
<br/>
Проигрыш: A Em G D A Em A    <br/>
E-9-8-7<br/>
H------ A Em A Em<br/>
G-9-8-7<br/>
<br/>
И нас никому не догнать,<br/>
Затем, что, не зная пути,<br/>
Хранили частицу огня<br/>
И верили - все впереди. <br/>
<br/>
Заключение: <br/>
                E-9-8-7<br/>
A Em G D A Em A H------ - 2р. A Em G D A Em A<br/>
                G-9-8-7<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:131.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td colspan="2" style="border:none;padding:0cm 0cm 0cm 0cm" width="374"> <br/></td>
</tr>
</table>
{% endraw %}
{% endblock %}
