{% extends "chords.html" %}

{% set title = "Таруса" %}
{% set handbook_unid = "b647d6588c46ac42c325679d006af273" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ АНТОЛОГИЙ И СБОРНИКОВ - таруса<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
таруса<br/>
</span><i>В.Красновский - Н.Заболоцкий<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: C G, Am F, Am E Am<br/>
<br/>
Am              E     Am  C             G  C<br/>
 Целый день стирает прачка муж ушел за водкой<br/>
A7     Dm    E     Am      Dm          E  Am<br/>
 Во дворе сидит собачка с маленькой бородкой<br/>
<br/>
Целый день она таращит умные глазенки<br/>
Если в доме кто заплачет, загрустит в сторонке<br/>
<br/>
А кому сегодня плакать в городе Тарусе<br/>
Есть кому сегодня плакать - девушке Марусе<br/>
<br/>
Да и как же ей не плакать в городе Тарусе<br/>
Петухи одни да гуси, Господи Исусе<br/>
<br/>
Как бы мне такие перья, да такие крылья<br/>
Улетела б прямо в дверья - бросилась в ковыль я<br/>
<br/>
Чтоб глаза мои на свете больше б не глядели<br/>
Петухи да гуси эти больше бы не галдели<br/>
<br/>
Проигрыш: <br/>
Am E Am, C G C, A7 Dm E Am, Dm E Am, A7 Dm E Am, Dm E Am<br/>
<br/>
Опостылили Марусе петухи да гуси<br/>
Сколь их бродит по Тарусе, Господи Исусе<br/>
  A7       Dm  E     Am    Dm        E Am<br/>
Сколь их бродит по Тарусе, Господи Иисусе<br/>
<br/>
Заключение: C G, Am F, Am E Am Am G<br/>
C G, Am F, Am E Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
