{% extends "chords.html" %}

{% set title = "Тень твоего крыла" %}
{% set handbook_unid = "8935464371f6270bc325679d006aef7f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - тень твоего крыла<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
тень твоего крыла<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: D G A G D A - 2p. D<br/>
<br/>
D                A<br/>
 Когда жизнь темна, <br/>
   Hm                   D A<br/>
И некуда идти, как в бреду<br/>
D                   A     <br/>
 Когда в душе моей копоть и гарь,<br/>
   Hm                  F#m<br/>
Языков огня горящих в аду<br/>
G                     D  A<br/>
 Я не спешу прыгать в окна,<br/>
    G            D  A<br/>
Я знаю, чьи это дела,<br/>
      D      G A                  D<br/>
И я ищу вверху отблеск твоего крыла.<br/>
<br/>
Проигрыш: D G A G D A - 2p. D<br/>
<br/>
Когда ночь встает коленом на грудь,<br/>
Слова мои пусты и горьки.<br/>
И в каждом радио слышатся песни<br/>
Тех, кто пьёт у тебя из руки - <br/>
Ты слаще, чем деньги<br/>
Дремучее, чем зеркала<br/>
И сладок рай под сенью твоего крыла.<br/>
<br/>
Hm G<br/>
  Черная бровь,<br/>
D  A<br/>
 Жгучая кровь.<br/>
Hm         G<br/>
  Ты безнадежно больна<br/>
       G                A<br/>
Ты считаешь, что это любовь.<br/>
<br/>
Проигрыш: D G A G D A - 2p. <br/>
G D A G D A D G A D D<br/>
<br/>
Много жизней назад <br/>
Мой корабль нашел твой причал.<br/>
Теперь я знаю каждый нерв в твоем теле<br/>
И Китеж-град в начале начал<br/>
Я люблю тебя нежно<br/>
Всё, что ты дала и взяла<br/>
         D  G        A              Hm F#7sus4<br/>
Я не стану жить под сенью твоего крыла<br/>
     D    G        A              Hm F#7sus4<br/>
Не стану жить под сенью твоего крыла<br/>
       D    G        A               D C G G/f# A D<br/>
Я не стану жить под сенью твоего крыла<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         F#7sus4<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
