{% extends "chords.html" %}

{% set title = "Терапевт" %}
{% set handbook_unid = "e3b2233791b5df50c3256d2c00336098" %}

{% block content %}
{% raw %}
<span style="color:red;text-transform:uppercase">Терапевт <br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: C D G C+g G - 4p.<br/>
<br/>
C<br/>
 Отрубился в час, а проснулся в три<br/>
      D<br/>
Полнолуние выжгло тебя изнутри <br/>
             G G/f# Em<br/>
На углу у аптеки горят фонари <br/>
      D  Dsus4 D<br/>
И ты едешь<br/>
Am<br/>
  Ты хотел бы напиться хоть чем-нибудь всласть<br/>
      D<br/>
Ты пытаешься, но не можешь упасть<br/>
              G       G/f#      Em<br/>
И кто-то внутри говорит: "Это счастье"<br/>
         D    Dsus4 D<br/>
Или ты бредишь.<br/>
C       D                G  C G<br/>
 Вкус крови лишил тебя слова<br/>
C D                      G  C G<br/>
  И к бровям подходит вода...<br/>
C               G6/h  G   G/f#      Em  Em/d<br/>
 Где-то именно здесь пал Пламенный Вестник<br/>
Am          Am/g                  D Dsus4 D<br/>
  И сегодня ещё раз всё та же среда<br/>
C       D           G C+g G<br/>
 Да хранит тебя Изида!<br/>
<br/>
Ты подходишь к кому-то сказать: "Привет!"<br/>
И вдруг понимаешь, что нет ничего конкретного <br/>
И прохожие смотрят тебе вослед<br/>
С издёвкой<br/>
На улице летом метёт метель<br/>
И ветер срывает двери с петель<br/>
И прибежище, там где была постель,<br/>
Теперь - яма с верёвкой.<br/>
Так взлетев вопреки всех правил<br/>
Разорвав крылом провода<br/>
Ты оказываешься опять там, где всем нужно спать<br/>
Где каждый день, как всегда<br/>
Да хранит тебя Изида!<br/>
<br/>
Все говорят и все не про то<br/>
Эта комната сделана из картона<br/>
И ты смотришь вокруг - неужели <br/>
Никто не слышит<br/>
Но вдруг ракурс меняется - ты за стеклом<br/>
А друзья - в купе уходящего поезда<br/>
Уезжают, даже не зная о том, <br/>
Что ты вышел.<br/>
И оставшись один на перроне,<br/>
Выпав из дельты гнезда.<br/>
Теперь ты готов к духовной жизни, <br/>
Но она тебе не нужна<br/>
Да хранит тебя Изида!<br/>
<br/>
Проигрыш: аккорды куплета<br/>
<br/>
И ты слышал, что где-то за часом пик,<br/>
В тишине алтаря или в списках книг,<br/>
Есть неизвестный тебе язык <br/>
На котором<br/>
Сказано всё, что ты хочешь знать,<br/>
В чём ты боялся даже признаться<br/>
И отчего все святые глядят на тебя <br/>
С укором.<br/>
Перестань делать вид, что не можешь понять их<br/>
Ты один на пути, навсегда!<br/>
Улыбнись, растворись в шорохе листьев,<br/>
В шёпоте летнего льда<br/>
Да хранит тебя Изида!<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em/d<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/g<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
