{% extends "chords.html" %}

{% set title = "Тибетское танго" %}
{% set handbook_unid = "23c290353db77bdbc325679d006af0cf" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАДИО АФРИКА - тибетское танго<br/>
</span><span style="color:red"> <br/>
ТИБЕТСКОЕ ТАНГО<br/>
</span><i>С. Курёхин – Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
<span style="color:#EAEAEA;background:#E5E5E5">_____</span><span style="background:#E5E5E5"> </span><span style="color:#5F5F5F;background:#E5E5E5">C(III)</span><span style="background:#E5E5E5"> </span><span style="color:#333333;background:#E5E5E5">H</span><span style="background:#E5E5E5"> B</span><span style="background:#E6E6E6"> </span><span style="background:#E9E9E9">H<br/></span>
C(III) H B H – 3p.<br/>
<br/>
C(III)H B H<br/>
Ом, хохом.<br/>
C(III)H B H<br/>
Ом, хохом.<br/>
C(III)H B H<br/>
Ом, хохом.<br/>
C(III)H B H<br/>
Ом, хохом.<br/>
C(III) H     B H<br/>
Ку-ку-кум фифи<br/>
C(III) H     B H<br/>
Ку-ку-кум фифи<br/>
C(III) H     B H<br/>
Ку-ку-кум фифи<br/>
C(III) H B H<br/>
Фи<br/>
<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Фи<br/>
<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Фи<br/>
<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Фи<br/>
<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Фи<br/>
<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Фи<br/>
<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Фи<br/>
<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Фи<br/>
<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
Ом, хохом.<br/>
4:V 4:V 4:III 4:III 4:I 4:I 4:0 4:0<br/>
Ом,                хохом. <br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Ку-ку-кум фифи<br/>
Фи<br/>
<br/>
<span style="color:#333333;background:#F1F1F1">Ом, хохом.<br/>
</span><span style="color:#333333;background:#E9E9E9">Ом, хохом.<br/>
</span><span style="color:#333333;background:#E5E5E5">Ом, хохом.<br/>
</span><span style="color:#333333;background:#E0E0E0">Ом, хохом.<br/>
</span><span style="color:#5F5F5F;background:#E0E0E0">Ку-ку-кум</span><span style="background:#E0E0E0"> </span><span style="color:gray;background:#E0E0E0">фифи</span><span style="color:#EAEAEA;background:#E0E0E0">-_____________</span><span style="color:#EAEAEA;background:#E9E9E9">_</span><span style="color:#EAEAEA;background:#FAFAFA">_</span><span style="color:#EAEAEA;background:#F1F1F1">_</span><span style="color:#EAEAEA;background:#E9E9E9">_</span><span style="color:#EAEAEA;background:#E0E0E0">____</span><span style="color:#EAEAEA;background:#EAEAEA">_</span><span style="color:#EAEAEA;background:#FAFAFA">_<br/></span>
 <br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
