{% extends "chords.html" %}

{% set title = "Ткачиха" %}
{% set handbook_unid = "d499648a57e6fb7bc325714f0043ccc4" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - БЕСПЕЧНЫЙ РУССКИЙ БРОДЯГА - ткачиха<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Ткачиха <br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
  D              D<br/>
E--------------------------------<br/>
H-7-7-7-7-5-8-7--7-7-7-7-8-7-8-7- - 2p.<br/>
G-7-7-7-7-7-7-7--7-7-7-7-9-7-9-7-<br/>
D--------------------------------<br/>
  G                   G<br/>
E-10-10-10-10-9--9--7--7-7-7-9--9--7-7-5-<br/>
H-12-12-12-12-10-10-8--8-8-8-10-10-8-8-7-<br/>
G----------------------------------------<br/>
D----------------------------------------<br/>
  D              D<br/>
E--------------------------------<br/>
H-7-7-7-7-5-8-7--7-7-7-7-8-7-8-7- <br/>
G-7-7-7-7-7-7-7--7-7-7-7-9-7-9-7-<br/>
D--------------------------------<br/>
  A                    A<br/>
E-9--9--9--9--10-10-9---9--9--9--9--7-7-5-5-3-<br/>
H-10-10-10-10-12-12-10--10-10-10-10-8-8-7-7-5-<br/>
G---------------------------------------------<br/>
D---------------------------------------------<br/>
  D              D<br/>
E--------------------------------<br/>
H-7-7-7-7-5-8-7--7-7-7-7-8-7-8-7- <br/>
G-7-7-7-7-7-7-7--7-7-7-7-9-7-9-7-<br/>
D--------------------------------<br/>
<br/>
      D<br/>
Мне снилось, что я ткачиха<br/>
   D                           D D D D Dsus2 Dsus4 D, D D D D Dsus4 D Dsus4 D<br/>
Которая часто бывает мною во сне<br/>
   D                          D<br/>
Я долго не мог понять - то ли я снюсь ей<br/>
                       D D D D Dsus2 Dsus4 D, D D D D Dsus4 D Dsus4 D<br/>
То ли это она снится мне<br/>
        G<br/>
Да, я знаю, что об этом писали китайцы<br/>
     G                                       D D D D Dsus2 Dsus4 D, D D D D Dsus4 D Dsus4 D<br/>
Но теория суха, а древо жизни зеленеет в листах;<br/>
    A<br/>
Придётся проснуться и поехать в Иваново<br/>
    A                                          D D D D Dsus2 Dsus4 D, D D D D Dsus4 D Dsus4 D<br/>
Проверить, как реально обстоят там дела на местах.<br/>
<br/>
Волга шумит волнами;<br/>
Редкая птица долетит до её берегов<br/>
А на всех берегах черно от тех, кто<br/>
Ожидает, когда течение пронесёт мимо тела их врагов.<br/>
И только полная луна оживляет<br/>
Чередование этих верхов и низин<br/>
Слава Богу, что она никогда не читала<br/>
Ни "Цветочков Франциска Ассизского", ни Дао Дэ Цзин.<br/>
<br/>
В пустыне бредут верблюды<br/>
У каждого из них что-то своё на уме<br/>
Один знакомый тоже шёл на Северный полюс<br/>
Оказался предпринимателем в Костроме<br/>
Так начинания, вознёсшиеся мощно, <br/>
Сворачивают в сторону, теряют имя действия - какой срам<br/>
Я не вижу причины куда-то стремиться, если в итоге ты всегда <br/>
Оказываешься где-то не там<br/>
<br/>
Проигрыш: D D D D D D G G D D A A D D<br/>
<br/>
Я сижу на пустынной скале<br/>
Наблюдаю, как плывут облака<br/>
Сердце, как старый пепел<br/>
Глаза, как у полного дурака<br/>
Я ничего не начинаю, пускай всё<br/>
Течёт само по себе, как Волга-река<br/>
Под лестницей сидит холодная кошка<br/>
Пойду-ка спущусь выставлю ей молока<br/>
<br/>
Заключение: D D D D D D D D G G D D A A D D<br/>
D D D D D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
