{% extends "chords.html" %}

{% set title = "То, что я должен сказать" %}
{% set handbook_unid = "70a091e3ca336ceec325679d006af2eb" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ АЛЕКСАНДРА ВЕРТИНСКОГО - то, что я должен сказать<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
То, что я должен сказать <br/>
</span><i>А.Вертинский <br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
             Am             Am<br/>
Я не знаю зачем и кому это нужно<br/>
                   C   G              C<br/>
Кто послал их на смерть недрожащей рукой<br/>
                Am          A7      Dm<br/>
Только так бесполезно, так зло и ненужно<br/>
    Am         Dm E     Am<br/>
Опускали их в Вечный Покой<br/>
<br/>
Равнодушные зрители молча кутались в шубы<br/>
И какая-то женщина с искаженным лицом<br/>
Целовала покойника в посиневшие губы<br/>
И швырнула в священника обручальным кольцом<br/>
<br/>
Забросали их елками, закидали их грязью<br/>
И пошли по домам под шумок толковать<br/>
Что пора положить уже конец безобразию<br/>
Что и так уже скоро мы все начнем голодать<br/>
<br/>
И никто не додумался просто встать на колени<br/>
И сказать этим мальчикам что в бездарной стране<br/>
Даже светлые подвиги это только ступени<br/>
В бесконечные пропасти к недоступной Весне<br/>
<br/>
Я не знаю зачем и кому это нужно<br/>
Кто послал их на смерть недрожащей рукой<br/>
Только так бесполезно, так зло и ненужно<br/>
Опустили их в Вечный Покой<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:131.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
