{% extends "chords.html" %}

{% set title = "Трамонтана" %}
{% set handbook_unid = "2beb899fea03d095c3256ef7003d4847" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ZOOM ZOOM ZOOM - трамонтана<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Трамонтана<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
Em G(III) A(V) H(VII) Em C G H7 – 2p. Em Em<br/>
<br/>
Em        C        Em          C       Em<br/>
  Один китаец был мастером подземного пенья.<br/>
C        G         H7<br/>
 Он пел только частушки.<br/>
Em         C        Em            C<br/>
Каждый четверг он ходил в чайный дом,<br/>
     Em       C            G      H7<br/>
Где его поджидали две сестры-хохотушки.<br/>
Em    C           G     Am<br/>
  Он пел, когда его одевали;<br/>
    Em C        G     H7<br/>
Он пел, когда его хоронили.<br/>
Em         C        G    Am<br/>
  Когда закончился репертуар<br/>
       Em     C           G         H7<br/>
Он сказал: Теперь мне не место в могиле.<br/>
<br/>
 G        H7       Em       C<br/>
Жизнь ползёт как змея в траве<br/>
G         D         G        H7<br/>
 Пока мы водим хоровод у фонтана<br/>
    Em       C<br/>
Сейчас ты в дамках<br/>
     G        Am<br/>
Но что ты запляшешь<br/>
   Em        C<br/>
Когда из-за гор<br/>
        G          H7<br/>
Начнет дуть трамонтана<br/>
<br/>
<br/>
Проигрыш: Em G(III) A(V) H(VII) Em C G H7 – 2p.<br/>
<br/>
Одна женщина преподавала язык Атлантиды,<br/>
Сидя на крыше.<br/>
Соседи видели, как каждую ночь<br/>
К ней слетаются йоги и летучие мыши.<br/>
Один священник вступил с ней в спор;<br/>
Он втайне всегда желал её тела;<br/>
Когда он вытащил свой аргумент,<br/>
Она засмеялась, она улетела...<br/>
<br/>
Жизнь ползёт как змея в траве<br/>
Пока мы водим хоровод у фонтана<br/>
Сейчас ты в дамках<br/>
Но что ты запляшешь<br/>
Когда из-за гор<br/>
Начнет дуть трамонтана<br/>
<br/>
<br/>
Проигрыш: Em G(III) A(V) H(VII)<br/>
Em C Em C Em C G H7 - 2p.<br/>
Em C G Am Em C G H7 - 2p. Em Em<br/>
<br/>
Один матрос реставрировал старинную мебель<br/>
И хлебнул с ней горя<br/>
Каждую ночь он спускался в гараж<br/>
И рыл подземный ход, чтоб добраться до моря<br/>
Тридцать лет - он закончил рыть<br/>
Он вышел где-то в пустыне<br/>
Он пал на колени в солёные волны<br/>
И приник к ним губами, как будто к святыне<br/>
<br/>
Жизнь ползёт как змея в траве<br/>
Пока мы водим хоровод у фонтана<br/>
Сейчас ты в дамках<br/>
Но что ты запляшешь<br/>
Когда из-за гор<br/>
Начнет дуть трамонтана<br/>
<br/>
Жизнь ползёт как змея в траве<br/>
Пока мы водим хоровод у фонтана<br/>
Сейчас ты в дамках<br/>
Но что ты запляшешь<br/>
Когда из-за гор<br/>
Начнет дуть трамонтана<br/>
<br/>
Заключение: <br/>
Em G(III) A(V) H(VII) Em C G H7 Em G(III) A(V) H(VII) Em<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII    H(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:131.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
