{% extends "chords.html" %}

{% set title = "Трамвай" %}
{% set handbook_unid = "fa2a65a72fd6c26fc325679d006aedd8" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕСЯТЬ СТРЕЛ - трамвай<br/>
</span><span style="color:red"> <br/>
ТРАМВАЙ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
D(V) C/d(III) G/d(III) D(V) – 4p.<br/>
<br/>
D(V)         C/d(III)<br/>
   Близилась ночь;<br/>
G/d(III)          D(V)<br/>
Рельсы несли свой груз.<br/>
D(V)             C/d(III)<br/>
   Трамвай не был полон,<br/>
   G/d(III)        D(V)<br/>
Фактически он был пуст.<br/>
D(V)                 A(V)<br/>
   Кроме двух-трёх плотников,<br/>
  G(III)<br/>
Которых не знал никто,<br/>
   B(VI)        A(V)<br/>
Судьи, который ушёл с работы,<br/>
   G(III)           D(V) <br/>
И джентльмена в пальто.<br/>
<br/>
Судья сказал: "Уже поздно,<br/>
Нам всем пора по домам.<br/>
Но Будда в сердце, а бес в ребро:<br/>
Молчать сейчас - это срам.<br/>
Скамья подсудимых всегда полна,<br/>
Мы по крайней мере в этом равны.<br/>
Но если каждый из нас возьмёт вину на себя,<br/>
То на всех не хватит вины."<br/>
<br/>
Проигрыш: D(V) C/d(III) G/d(III) D(V) - 2p.<br/>
D(V) A(V) G(III) B(VI) A(V) G(III) D(V) D(V)<br/>
<br/>
Плотник поставил стаканы на пол<br/>
И ответил: "Да, дело - труба.<br/>
Многие здесь считают жизнь шуткой,<br/>
Но это не наша судьба.<br/>
Лично я готов ответить за всё,<br/>
А мне есть за что отвечать.<br/>
Но я пою, когда я строю свой город,<br/>
И я не могу молчать."<br/>
<br/>
Проигрыш: D(V) C/d(III) G/d(III) D(V) - 2p.<br/>
D(V) A(V) G(III) B(VI) A(V) G(III) D(V) <br/>
D(V) - 4p.<br/>
<br/>
Судья достал из кармана деньги<br/>
И выбросил их в окно.<br/>
Он сказал: "Я знаю, что это не нужно,<br/>
Но всё-таки - где здесь вино?<br/>
Едва ли мы встретимся здесь ещё раз<br/>
Под этим синим плащом,<br/>
И я прошу прощенья за всё, что я сделал,<br/>
И я хочу быть прощён!"<br/>
<br/>
Когда вошёл контролёр,<br/>
Скорость перевалила за сто.<br/>
Он даже не стал проверять билеты,<br/>
Он лишь попросил снять пальто.<br/>
В вагоне было светло,<br/>
И ночь подходила к концу,<br/>
И трамвай уже шёл там, где не было рельсов,<br/>
Выходя напрямую к кольцу.<br/>
<br/>
Заключение: <br/>
D(V) C/d(III) G/d(III) D(V) - 2p. <br/>
D(V) A(V) G(III) B(VI) A(V) G(III) D(V)<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     D(V)<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C/d(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|---|---|-■-|<br/>
  G---|---|---|---|-■-|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G/d(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|---|-■-|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VI     B(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
