{% extends "chords.html" %}

{% set title = "Трудовая пчела" %}
{% set handbook_unid = "eeb2b88eba18c8b7c325679d006af2b2" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАША ЖИЗНЬ С ТОЧКИ ЗРЕНИЯ ДЕРЕВЬЕВ - трудовая пчела<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">трудовая пчела<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: G  G - 4p. G(VII) D(V) - 6p.<br/>
<br/>
       G(VII)                  D(V)<br/>
Я - трудовая пчела на белом снегу,<br/>
     G(VII)                D(V)<br/>
Трудовая пчела на белом снегу,<br/>
D(V)         C(VIII)<br/>
   Я совершаю свои круги под стеклом.<br/>
H(VII)                       B(VI)<br/>
     Мы станем друзьями - я знаю, что будет потом,<br/>
 G(III)        A(V)               D(V)<br/>
Я знаю что будет, и я ничего не могу.<br/>
<br/>
Ты живёшь здесь, твоя листва на ветру,<br/>
Я - только гость здесь, я ценен тем, что уйду.<br/>
Мы рв`мся к теплу, как дети в зимнем лесу,<br/>
Наши руки - в огне, наши тела - на весу,<br/>
Я скажу тебе "Здравствуй" имея это в виду.<br/>
<br/>
Проигрыш: G(VII) D(V) - 2p. <br/>
D(V) C(VIII) H(VII) B(VI) G(III) A(V) D(V)<br/>
<br/>
А в сотах ждёт мёд, трепещущий и живой.<br/>
В моих сотах ждёт мёд, ты знаешь его - он твой.<br/>
Так открой мои двери своим беззвучным ключом.<br/>
Мне сладко быть радостью, но мне страшно стать палачом,<br/>
Но одно идёт вместе с другим, пока в сотах ждёт мёд.<br/>
<br/>
Проигрыш: G(VII) D(V) G(VII) D(V) D(V) C(VIII) H(VII) B(VI) G(III) A(V) D(V) - 2p.<br/>
<br/>
Я - трудовая пчела на белом снегу,<br/>
Я - трудовая пчела на декабрьском белом снегу,<br/>
Я совершаю свои круги под стеклом.<br/>
Мы станем друзьями - я знаю, что будет потом,<br/>
Я знаю, что будет, и я ничего не могу.  <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII    G(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
x D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     D(V)<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">  VIII   C(VIII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII   H(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VI     B(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
