{% extends "chords.html" %}

{% set title = "Троллейбус" %}
{% set handbook_unid = "f5dc7a7c9fb1bedac325679d006af036" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - троллейбус<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Троллейбус<br/>
</span><i>В.Цой<br/>
<br/>
Каподастр на 4-м ладу<br/>
 <br/></i>
Вступление: <br/>
H-----------<br/>
G-----------<br/>
D---------0- D C F - 4p.<br/>
A--0-0-0-0-0<br/>
E-0-3-0-3---<br/>
<br/>
    Am                  Em<br/>
Мое место слева, и я должен там сесть,<br/>
      Dm                   Am<br/>
Hе пойму, почему мне так холодно здесь,<br/>
Am              Em<br/>
………………………………………………………<br/>
       Dm                    Am<br/>
И каждый тонет, хотя каждый знает, где брод.<br/>
<br/>
<br/>
   Dm                  Am<br/>
И каждый с надеждой глядит в потолок<br/>
      Dm              Am<br/>
Троллейбуса, который идет на восток.<br/>
      Dm              Am<br/>
Троллейбуса, который идет на восток.<br/>
      Dm        G     Am       <br/>
Троллейбуса, который идёт...<br/>
<br/>
Проигрыш: <br/>
H-----------<br/>
G-----------<br/>
D---------0- D C F - 4p.<br/>
A--0-0-0-0-0<br/>
E-0-3-0-3---<br/>
<br/>
Все люди - братья, мы - седьмая вода,<br/>
И мы едем, не знаю, зачем и куда.<br/>
Мой сосед не может, он хочет уйти,<br/>
Hо не может уйти, он не знает пути,<br/>
<br/>
И вот мы гадаем, какой может быть прок<br/>
В троллейбусе, который идет на восток.<br/>
В троллейбусе, который идет на восток.<br/>
В троллейбусе, который идёт...<br/>
<br/>
Проигрыш: <br/>
H-----------<br/>
G-----------<br/>
D---------0- D C F - 2p.<br/>
A--0-0-0-0-0<br/>
E-0-3-0-3---<br/>
Am Em Dm Am - 8p.<br/>
Dm Am - 3p. Dm G Am<br/>
<br/>
В кабине нет шофера, но троллейбус идет,<br/>
И мотор заржавел, но мы едем вперед,<br/>
Мы сидим не дыша, смотрим туда,<br/>
Где на долю секунды показалась звезда,<br/>
<br/>
Мы молчим, но мы знаем, нам в этом помог,<br/>
Троллейбус, который идет на восток.<br/>
Троллейбус, который идет на восток.<br/>
Троллейбус, который идёт...<br/>
<br/>
Заключение: <br/>
H-----------<br/>
G-----------<br/>
D---------0- D C F - 2p.<br/>
A--0-0-0-0-0<br/>
E-0-3-0-3---<br/>
Am Em Dm Am - 14p. Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
