{% extends "chords.html" %}

{% set title = "Тучи над городом встали" %}
{% set handbook_unid = "388a97781f7b2344c325679d006af1f8" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- МИТЬКОВСКИЕ ПЕСНИ - тучи над городом встали<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
тучи над городом встали<br/>
</span><i>П.Арманд<br/></i>
 <br/>
Вступление: Dm Dm/f Am Am/c E Am<br/>
<br/>
Am        E         Am<br/>
Тучи над городом встали,<br/>
  Am       G         C<br/>
В воздухе пахнет грозой.<br/>
      Dm   Dm/f         Am Am/c<br/>
За далекою Нарвской заставой<br/>
 E               Am<br/>
Парень идет молодой.<br/>
     E             Am<br/>
Далека ты, путь-дорога...<br/>
          G           C<br/>
Выйди ж, милая, встречай!<br/>
        Dm      Dm/f     Am Am/c<br/>
Мы простимся с тобой у порога,<br/>
         E          Am        <br/>
Ты мне счастья пожелай.<br/>
        Dm      Dm/f      Am Am/c<br/>
Мы простимся с тобой у порога,<br/>
         E          Am   <br/>
Ты мне счастья пожелай.<br/>
<br/>
Проигрыш: Am E Am, Am G C, Dm Dm/f Am Am/c E Am<br/>
<br/>
Жаркою страстью пылаю,<br/>
Сердцу тревожно в груди.<br/>
Кто ты? Тебя я не знаю,<br/>
Но наша любовь впереди.<br/>
Приходи же, друг мой милый,<br/>
Поцелуй меня в уста.<br/>
И клянусь, я тебя до могилы<br/>
Не забуду никогда!<br/>
И клянусь, я тебя до могилы<br/>
Не забуду никогда!<br/>
<br/>
Am        E         Am<br/>
Тучи над городом встали,<br/>
  Am       G         C<br/>
В воздухе пахнет грозой.<br/>
      Dm   Dm/f         Am Am/c<br/>
За далекою Нарвской заставой<br/>
 E               Am<br/>
Парень идет молодой.<br/>
<br/>
Заключение: Dm Dm/f Am Am/c E Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/c<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
