{% extends "chords.html" %}

{% set title = "Тяжёлый танцор" %}
{% set handbook_unid = "fb1e1687bececb8dc325679d006af21c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - КОНЦЕРТНЫЕ ЗАПИСИ - тяжёлый танцор<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Тяжёлый танцор <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: E E E<br/>
E Esus4 E Esus4 E Esus4 E - 4p.<br/>
E Esus4 E Esus4 E Esus4 E Esus4 E - 4p.<br/>
<br/>
          E                     A                    E Esus4 E Esus4 E Esus4 E Esus4 E<br/>
Ты самый быстрый танцор, ты танцуешь под прицелом зимы.<br/>
          A      A/d#          F#m                   E Esus4 E Esus4 E Esus4 E Esus4 E<br/>
Ты самый быстрый танцор, ты танцуешь под прицелом зимы.<br/>
E                      F#<br/>
 Ты носишь губы в стеклянном чехле,<br/>
   A          A/g#      F#m   <br/>
Cмеешься обезвреженным ртом,<br/>
       A                                 H           E Esus4 E Esus4 E Esus4 E Esus4 E      <br/>
Но когда приходит ночь, ты видишь в ней больше, чем мы.<br/>
<br/>
Проигрыш: E Esus4 E Esus4 E Esus4 E Esus4 E<br/>
<br/>
Твои сиамские сны небезопасны для носителей брюк,<br/>
Твои сиамские сны небезопасны для носителей брюк.<br/>
Большие мужчины не знают тебя,<br/>
Для них ты не больше чем снег.<br/>
Но для тех, кому пятнадцать, ты как-будто бы смотришь на юг.<br/>
<br/>
Проигрыш: E, E7, E E7    <br/>
A F#m E Esus4 E Esus4 E Esus4 E Esus4 E<b> -</b> 4p.<br/>
E Esus4 E Esus4 E Esus4 E Esus4 E - 10p.<br/>
<br/>
Ты самый быстрый танцор, ты танцуешь под прицелом зимы.<br/>
Ты самый быстрый танцор, ты танцуешь под прицелом зимы.<br/>
Ты спускаешся в самый глубокий подвал,<br/>
В дискотеку центральной двери,<br/>
И ты зажигаешь там свет, и ты видишь там больше, чем мы.<br/>
       F#m         A      F#m        H           E Esus4 E Esus4 E Esus4 E Esus4 E <br/>
Ты зажигаешь там свет, и видишь там больше, чем мы.<br/>
        F#m         A         F#m         H           E Esus4 E Esus4 E Esus4 E Esus4 E <br/>
Ты открываешь там дверь, и ты видишь там больше, чем мы.<br/>
<br/>
Заключение: E, E7, E E7    <br/>
A F#m E Esus4 E Esus4 E Esus4 E Esus4 E<b> -</b> 4p. E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Esus4<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A/d#<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A/g#<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|---|-■-|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
