{% extends "chords.html" %}

{% set title = "Тяжёлый рок" %}
{% set handbook_unid = "9f99df0f58ed6b35c325679d006aedfc" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛИЛИТ - тяжёлый рок<br/>
</span><span style="color:red"> <br/>
ТЯЖЁЛЫЙ РОК<br/>
</span><i>Б. Гребенщиков<br/>
<br/>
Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: G D F Em C C G6/h Am G D – 2p. D<br/>
<br/>
G                    C G    C      G6/h      Am<br/>
 В мире что-то не так - или это у меня в голове?<br/>
G           Hm            Am                     A7<br/>
 Невидимые пятна на солнце, какая-то пыль на траве.<br/>
G            G7          C           G6/h       Am<br/>
 Счастье не греет; оно где-то за стеклянной стеной.<br/>
      G     G/f#  Em             C G6/h Am    G D<br/>
Иногда мне кажется - тяжёлый рок висит надо мной.<br/>
<br/>
Проигрыш: G G/f# Em C G6/h Am G D<br/>
<br/>
Я пошёл к цыганке - узнать о своей судьбе:<br/>
Не вредно ли думать так много, причём, в основном, о тебе.<br/>
Она бросила карты на пол, закрыла глаза рукой<br/>
И сказала: "Бриллиантовый мой, тяжёлый рок висит над тобой."<br/>
<br/>
Проигрыш: G G/f# Em C G6/h Am G D – 2p.<br/>
<br/>
Всё лишилось смысла. Любовь завела меня в тень<br/>
А чем выше залезаешь в астрал, тем больше несёшь дребедень<br/>
Просто хотелось вечного лета, а лето стало зимой<br/>
           G    G/f#   Em             C G6/h Am  G <br/>
То ли это рок, то ли законы природы висят надо мной<br/>
<br/>
Cm(III)                                   D<br/>
   Одни говорят - Сегодня в шесть конец света<br/>
Hm                               F#m<br/>
  Другие просто депрессивны в доску<br/>
  C                    G6/h                Am<br/>
Третьи терпят любовь за то, что она без ответа -<br/>
    A                                          C              D<br/>
Но каждый из них зарежет, если только тронуть пальцем его тоску...<br/>
<br/>
Проигрыш: <br/>
G C G C G6/h Am, G Hm Am A7, G G7 C G6/h Am, G G/f# Em C G6/h Am G D<br/>
<br/>
D                   G            C         G6/h     Am  <br/>
 Вчера заходил один ангел - я узнал его по холоду крыл<br/>
Я уже не тот, за которым он гнался, да и он уже не тот, что был<br/>
Я сказал: "Заходи, садись, я не враг тебе, наслаждайся моей тишиной<br/>
И давай выпьем за того бедолагу, что висит надо мной"<br/>
<br/>
     G                   C G               C                G G/f# <br/>
Ты знаешь, я живу от перрона к перрону, однажды взлетел, лечу<br/>
Но если тебе стало хоть немного легче, это всё, чего я хочу<br/>
Спасибо ветру в моих парусах, крыльям за моей спиной<br/>
Одно из них - ты, а другое - тот коллега, что висит надо мной<br/>
<br/>
Заключение: <br/>
G C G C G D, G Hm Am A7, G G7 C G6/h Am, G G/f# Em C G6/h Am G D, G G/f# Em C G6/h Am G <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Cm(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|-■-|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
