{% extends "chords.html" %}

{% set title = "Тёмная ночь" %}
{% set handbook_unid = "1ec99fe84f3f0e27c325679d006af1ef" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- МИТЬКОВСКИЕ ПЕСНИ - тёмная ночь<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
тёмная ночь <br/>
</span><i>Н.Богословский - В.Агатов<br/></i>
 <br/>
One, two, three, four…<br/>
<br/>
Вступление: Em Em/g Am/f# H7 - 2p.<br/>
<br/>
Em      Em/g Am       Am/c     Em       Em/g<br/>
Темная ночь.   Только пули свистят по степи<br/>
Am       Am/c   Em        Em/g<br/>
 Только ветер гудит в проводах<br/>
Am        H7       Em  Em/g Am/f# H7<br/>
 Тускло звезды мерцают<br/>
  Em     Em/g Am      Am/c    Em      Em/g<br/>
В темную ночь   ты, любимая, знаю не спишь<br/>
Am    Am/c       Em       Em/g<br/>
  И у детской кроватки тайком<br/>
Am      H7    Em   Em/g Am/f# H7<br/>
  Ты слезу утираешь<br/>
<br/>
E7                           Am         Am/c<br/>
Как я люблю глубину твоих ласковых глаз.<br/>
D7                             G  Am Edim  H7<br/>
Как я хочу к ним прижаться сейчас губа  -  ми<br/>
Em     Em/g Am    Am/c    Em   Em/g<br/>
Темная ночь  разделяет любимая нас<br/>
Am     Am/c    Em    Em/g Am      H7        Em<br/>
  И тревожная черная степь  пролегла между нами.<br/>
<br/>
Проигрыш: Em Em/g Am/f# H7 - 2p.<br/>
<br/>
Верю в тебя. Дорогую подругу мою<br/>
Эта вера от пули меня <br/>
Темной ночью хранила<br/>
Радостно мне. Я спокоен в смертельном бою.<br/>
Знаю встретишь с любовью меня, <br/>
Что б со мной не случилось.<br/>
<br/>
Смерть не страшна. Мы не раз с ней встречались в степи.<br/>
Вот и теперь надо мною она кружится. <br/>
Ты меня ждешь ты у детской кроватки не спишь.<br/>
И поэтому знаю со мной ничего не случится.<br/>
<br/>
Проигрыш: Em Em/g Am Am/c - 2p. <br/>
Em Em/g Am H7 Em Em/g Am/f# H7<br/>
Em Em/g Am Am/c Em Em/g<br/>
<br/>
Am   Am/c    Em     Em/g Am    H7        Em  Em/g Am/f# H7 Em<br/>
  И поэтому знаю со мной   ничего не случится.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em/g<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/f#<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/c<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Edim<br/>
  E---|---|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
