{% extends "chords.html" %}

{% set title = "У меня шузня" %}
{% set handbook_unid = "5c03d81ae60a642bc325679d006af23a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ДОИСТОРИЧЕСКИЕ ПЕСНИ - ИСКУШЕНИЕ СВЯТОГО АКВАРИУМА - у меня шузня<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
У меня шузня<br/>
</span><i>Б.Гребенщиков/А.Гуницкий<br/></i>
 <br/>
Вступление: A D A E E<br/>
<br/>
A           E<br/>
 У меня шузня<br/>
A             E<br/>
 У меня джинсня<br/>
A         D<br/>
 У меня-а-а<br/>
     D    A     E        A F# D F# D<br/>
У меня-а ва-а-а-a-a-лостня<br/>
F#     D     F# D<br/>
  У меня приход<br/>
F#     D     F# D<br/>
  У меня прихват<br/>
F#     D   F# D<br/>
  У меня ломы<br/>
F#     D    F# F# F E E<br/>
  У меня облом<br/>
<br/>
У меня прикид<br/>
У меня фирма<br/>
У меня-а-а<br/>
У меня-а есть тен<br/>
У меня есть фуз<br/>
У меня есть квак<br/>
У меня есть ворс<br/>
Я куплю фиат<br/>
<br/>
A           E<br/>
 У меня шузня<br/>
A             E<br/>
 У меня джинсня<br/>
A         D<br/>
 У меня-а-а<br/>
       D  A     E        A<br/>
У меня-а ва-а-а-a-a-лостня<br/>
<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
