{% extends "chords.html" %}

{% set title = "У императора Нерона" %}
{% set handbook_unid = "8864b20661707d74c325679d006af22e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ▼ - у императора нерона<br/>
</span><span style="color:red"> <br/>
У ИМПЕРАТОРА НЕРОНА<br/>
</span><i>Б. Гребенщиков - А. Гуницкий<br/></i>
 <br/>
<i>Каподастр на 5-м ладу<br/></i>
 <br/>
<br/>
Вступление:<br/>
  C     F   G     C <br/>
E-3-5-7-8-8-10-10-12-12-<br/>
H-----------------------<br/>
G-----------------------<br/>
  C     F   G     C<br/>
E-3-5-7-8-8-10-10-12-<br/>
H--------------------<br/>
G--------------------<br/>
  C            F     G     C<br/>
E-12-12-13-15-17-20-10-15-12-15-<br/>
H-------------------------------<br/>
G-------------------------------<br/>
  Am       F   G  C<br/>
E-8-12-10-13-7-10-8-<br/>
H-------------------<br/>
G-------------------<br/>
  C         F     G     C<br/>
E-12-13-15-17-20-10-15-12-15-<br/>
H----------------------------<br/>
G----------------------------<br/>
  Am       F   G  C<br/>
E-8-12-10-13-7-10-8-<br/>
H-------------------<br/>
G-------------------<br/>
<br/>
C      F   G    C<br/>
У императора Нерона<br/>
C           F     G    C<br/>
В гостиной жили два барона,<br/>
C         F      G   C<br/>
И каждый был без языка;<br/>
    Am       F     G    C<br/>
Что делать, жизнь нелегка.<br/>
C         F      G   C<br/>
И каждый был без языка;<br/>
    Am       F     G    C<br/>
Что делать, жизнь нелегка.<br/>
<br/>
У императора в гостиной<br/>
Изрядно отдавало псиной;<br/>
Причём здесь пёс - оставь вопрос,<br/>
Спеши к восходу, альбатрос.<br/>
Причём здесь пёс - оставь вопрос,<br/>
   Am       F    G      C F G<br/>
Спеши к восходу, альбатрос.<br/>
<br/>
Заключение:<br/>
  C     F   G     C <br/>
E-3-5-7-8-8-10-10-12-12-<br/>
H-----------------------<br/>
G-----------------------<br/>
  C     F   G     C<br/>
E-3-5-7-8-8-10-10-12-<br/>
H--------------------<br/>
G--------------------<br/>
  C            F     G     C<br/>
E-12-12-13-15-17-20-10-15-12-15-<br/>
H-------------------------------<br/>
G-------------------------------<br/>
  Am       F   G  C<br/>
E-8-12-10-13-7-10-8-<br/>
H-------------------<br/>
G-------------------<br/>
  C         F     G     C<br/>
E-12-13-15-17-20-10-15-12-15-<br/>
H----------------------------<br/>
G----------------------------<br/>
  Am       F   G  C<br/>
E-8-12-10-13-7-10-8-<br/>
H-------------------<br/>
G-------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
