{% extends "chords.html" %}

{% set title = "Уйдёшь своим путём" %}
{% set handbook_unid = "4912791fd1248828c325679d006aefa6" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ИХТИОЛОГИЯ - уйдёшь своим путём<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Уйдёшь своим путём<br/>
</span><i>Б. Гребенщиков</i>
 <br/>
                C9<br/>
Когда    я    встал на перекрёстке,<br/>
                          G<br/>
Я заметил, что места там нет<br/>
       C9<br/>
И я стоял и ждал,<br/>
                G<br/>
Когда погасят свет<br/>
    H7<br/>
И кто-то, по виду из тех гусей,<br/>
        Em<br/>
Что когда-то спасали Рим,<br/>
              C                    D<br/>
Сказал мне: Жди когда она уйдёт своим путём,<br/>
      C        D      G G7<br/>
И тогда ты пойдёшь своим<br/>
<br/>
Она обернулась, она сказала: <br/>
Послушай, ты мёртв давно, зачем ты здесь?<br/>
Он засмеялся и сел<br/>
На поезд, что уходит в час шесть<br/>
И тогда она забыла вчерашний день,<br/>
Чтобы яснее увидеть суть,<br/>
Но я стоял и смотрел, как горит звезда <br/>
Того, кто ушёл в свой путь<br/>
<br/>
И есть разные лица в виде дверей<br/>
И есть твоё, что в виде стены<br/>
И есть руки мои, что ждут лебедей,<br/>
Не вернувшихся с места войны<br/>
А ты твердишь, что нет на моём пути<br/>
Огня, и там один лишь дым<br/>
Ну что же, давай обсудим достоинства наших путей,<br/>
Когда мы оба уйдём своим. Сарсаборилла…<br/>
<br/>
Проигрыш: C9 G C9 G H7 Em C D C D G G7<br/>
<br/>
И я всё равно был выше твоих небес<br/>
И я был ниже твоих глубин,<br/>
Но все, кого я любил, одеты в смерть или в митрил<br/>
И это значит что я здесь один <br/>
И ты недурна, но всё время идёшь за мной<br/>
Рождая страсть от тебя отдохнуть<br/>
Я совсем не аскет, но я хочу спросить:<br/>
Ну, не пора ли тебе в твой путь?<br/>
<br/>
И хочешь верь или не верь, когда ты закроешь дверь,<br/>
Я не вспомню даже лица<br/>
Я буду чертовски рад, когда ты вернёшься назад,<br/>
Но это где-нибудь ближе к преддверью конца<br/>
Ну, а теперь, пока у меня есть я,<br/>
Поверь мне, я хочу быть с ним<br/>
И я буду счастлив, когда ты уйдёшь своим путём<br/>
   C          D   G C G<br/>
И дашь мне идти моим<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C9<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
