{% extends "chords.html" %}

{% set title = "Укравший дождь" %}
{% set handbook_unid = "027eb4fed41db1bdc325679d006af2dc" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - укравший дождь<br/>
</span><span style="color:red"> <br/>
УКРАВШИЙ ДОЖДЬ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
  C   C   C   C<br/>
E-----------------<br/>
H-----------------<br/>
G--0-0-0-0-0-0-0-0<br/>
D---2---2---2---2-<br/>
A-3---3---3---3---<br/>
E-----------------<br/>
<br/>
   C               G<br/>
Я думаю, ты не считал себя богом,<br/>
     Am<br/>
Ты просто хотел наверх,<br/>
   C               C/h                Am<br/>
Резонно решив, что там теплей, чем внизу.<br/>
    C             G<br/>
И мне любопытно, как ты себя<br/>
Am<br/>
Чувствуешь там теперь -<br/>
   D                                 G G7<br/>
Теперь, когда все брёвна в твоем глазу;<br/>
<br/>
Ты смеялся в лицо, ты стрелял со спины, <br/>
Ты бросал мне песок в глаза;<br/>
Ты создал себе карму на десять жизней вперёд.<br/>
Ты думал, что если двое молчат,<br/>
То и третий должен быть "за",<br/>
Забыв уточнить, чем ты зашил ему рот.<br/>
<br/>
   Am                         C<br/>
Теперь нам пора прощаться, но я не подам руки,<br/>
    Am                              C<br/>
Мне жаль тебя, но пальцы твои в грязи;<br/>
    Am                Em<br/>
И мне наплевать, как ты будешь жить<br/>
    Am           Em<br/>
У убитой тобой реки, <br/>
    F     G                    C<br/>
И что ты чувствуешь в этой связи.<br/>
<br/>
Ты жил, продавая девственницам<br/>
Свой портрет, рубль в полчаса -<br/>
Тот, что я написал с тебя позавчера;<br/>
Ты кричал о ветрах - но горе тому,<br/>
Кто подставил тебе паруса:<br/>
Ведь по стойке "смирно" застыли твои флюгера;<br/>
<br/>
И ты флейтист, но это не флейта неба,<br/>
Это даже не флейта земли;<br/>
Слава богу, ты не успел причинить вреда.<br/>
Ведь я говорил, что они упадут -<br/>
И они тебя погребли;<br/>
Небес без дождя не бывало ещё никогда.<br/>
<br/>
     Am                       C<br/>
Не жди от меня прощенья, не жди от меня суда;<br/>
   Am                                 C<br/>
Ты сам свой суд, ты сам построил тюрьму.<br/>
   Am          Em<br/>
Но ежели некий ангел<br/>
   Am             Em<br/>
Случайно войдет сюда -<br/>
     F              G               C<br/>
Я хотел бы знать, что ты ответишь ему.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
