{% extends "chords.html" %}

{% set title = "Упади на песок" %}
{% set handbook_unid = "49792612ba75f7f2c325679d006af24f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ДОИСТОРИЧЕСКИЕ ПЕСНИ - ИСКУШЕНИЕ СВЯТОГО АКВАРИУМА - упади на песок<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
упади на песок <br/>
</span><i>Б.Гребенщиков/А.Гуницкий<br/></i>
 <br/>
G--------------------<br/>
D---------------5----<br/>
A--------2-5-7-7-7-5-<br/>
E-0-0-0-------0------<br/>
         Упади, <br/>
G--------------<br/>
D-------7--5-2-<br/>
A-2-5-7--------<br/>
E--------------<br/>
Упади на песок,<br/>
G--------------------------------------------------<br/>
D-5--4-2-4-2---0-2--0------------------------------<br/>
A----------------------3--5-3---2-2-2-2-2-0-2-2-0-2<br/>
E--------------------------------------------------<br/>
Где молекулы скачут и грешные птицы,<br/>
G-------------------------------------------<br/>
D-10--9-7-9-7--5-7---5-3-5-3--2-2-2-0-0-0-0-<br/>
A-------------------------------------------<br/>
E-------------------------------------------<br/>
Где прощения просят чужие зарницы;<br/>
G---------------<br/>
D--------7--5-2-<br/>
A-2-5-7---------<br/>
E---------------<br/>
  Упади на песок...<br/>
<br/>
Проигрыш:<br/>
G--------2-0-------------------------------------------------------<br/>
D-2-0-0-2---2-0-2-3-5-7-5-2-0------------2---2-5-2-0-2-0-2-----5-2-<br/>
A----2------------------------3-2-1--0-3--2-3-------------2-5-7----<br/>
E-----------------------------------3------------------------------<br/>
<br/>
G-------------<br/>
D--------5----<br/>
A-2-5-7-7-7-5-<br/>
E------0------<br/>
 Позабудь,<br/>
G-----------------<br/>
D---------7--5--2-<br/>
A-2-5-7-----------<br/>
E-----------------<br/>
 Позабудь о зерне,<br/>
G---------------------------------------------------<br/>
D-5---4-2--4--2--0--2--0----------------------------<br/>
A-------------------------3-5--3-2-2-2-2-2-0-2-2-0-2<br/>
E---------------------------------------------------<br/>
 Как забыл о любви Чингисхана чиновник.<br/>
G-------------------------------------------------------------<br/>
D-10----9-7-9---7---5----7--5-3-3-3-3-3-3-2-2-2-2-2-2-0-0-0-0-<br/>
A-------------------------------------------------------------<br/>
E-------------------------------------------------------------<br/>
  Как свирепый Бап Таш, ты вино            вник;<br/>
G-----------------<br/>
D---------7--5--2-<br/>
A-2-5-7-----------<br/>
E-----------------<br/>
 Позабудь о зерне...<br/>
<br/>
Заключение:<br/>
G------------------------------------------------------<br/>
D-0-2-5-7-5-2-0-2-0----------0-2-0-2-5-2---------0-2-2-<br/>
A------------------2-3-1----3-----------0-5-7-0-5------<br/>
E-----------------------3-1----------------------------<br/>
<br/>
G--------------------------------------------------------<br/>
D-5-2-0-0-2-5-7-5-3-2-0-2--3-2-5-5-5-5-7-7-7-7-5-5-5-5-2-<br/>
A------2-------------------------------------------------<br/>
E--------------------------------------------------------<br/>
<br/>
G--------------------------------------------------------<br/>
D-4-3-3-0-0-0-0-0-0-0------------------------------------<br/>
A--------------------------------------------------------<br/>
E---------------------0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0--<br/>
{% endraw %}
{% endblock %}
