{% extends "chords.html" %}

{% set title = "Услышь меня, хорошая" %}
{% set handbook_unid = "b7a3cb60b68fbc7bc325732400680c36" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - услышь меня, хорошая<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Услышь меня, хорошая<br/>
</span><i>В.Соловьёв-Седой - М.Исаковский<br/>
<br/>
Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: Am Dm E F Dm E Am <br/>
<br/>
Am         E        Am<br/>
 Услышь меня, хорошая, <br/>
          G         C<br/>
Услышь меня, красивая - <br/>
       Dm   E   F<br/>
Заря моя вечерняя, <br/>
         Dm  E  Am<br/>
Любовь неугасимая! <br/>
<br/>
Иду я вдоль по улице, <br/>
А месяц в небе светится, <br/>
А месяц в небе светится, <br/>
Чтоб нам с тобою встретиться. <br/>
<br/>
Ещё косою острою <br/>
В лугах трава не скошена, <br/>
Ещё не вся черёмуха <br/>
В твоё окошко брошена; <br/>
<br/>
Проигрыш: Am E Am, G C, Dm E F, Dm E Am<br/>
<br/>
Ещё не скоро молодость <br/>
Да с нами распрощается. <br/>
Люби ж, покуда любится, <br/>
Встречай, пока встречается. <br/>
<br/>
Услышь меня, хорошая, <br/>
Услышь меня, красивая - <br/>
Заря моя вечерняя, <br/>
Любовь неугасимая! <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
