{% extends "chords.html" %}

{% set title = "Уткина заводь" %}
{% set handbook_unid = "71553e238a405c7ac3256d25003002ea" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСНИ РЫБАКА - уткина заводь<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Уткина заводь <br/>
</span><i>Б. Гребенщиков</i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: 1:X 1:XII C C G C D# G E C D G C D<br/>
<br/>
 G                                            G G7<br/>
Раньше мы не знали друг друга. Теперь это не так.<br/>
       C             C7                       C<br/>
Я просто шёл по улице, возможно, в этом был знак.<br/>
        G                  G7<br/>
А ты ходила без юбки по отвесной стене<br/>
      C                       D#<br/>
Под звуки модных песен в абсолютной тишине...<br/>
     G            E           C                 D      G  C D<br/>
Моё сердце остановилось, кардиолог сказал, что дело табак.<br/>
<br/>
Возможно, ты буддистка, в тебе до хрена пустоты.<br/>
Я принёс тебе букет, ты засушила и скурила цветы.<br/>
Ты проходила мимо цеха, там взорвался мартен,<br/>
Таких штучек не может даже сам Бен Ладен.<br/>
Хорошо, что не все в этом мире могут быть такими, как ты.<br/>
<br/>
Ты давала интервью, ты объясняла, отчего я тону.<br/>
Я всё могу понять, но зачем при этом выть на луну?<br/>
У тебя в ванной живёт учёная коза<br/>
Вас можно перепутать, если закрыть глаза,<br/>
Но ты значительно лучше, с тобой можно пить "Ржавчину".<br/>
<br/>
Заходила сестра Хаос, оставила после себя бардак.<br/>
Уже четырнадцать суток я не могу соскрести со стен шлак.<br/>
Но рядом с тобой она сущее дитя,<br/>
Ты оставила у меня на стене след своего когтя,<br/>
Я отнёс его в музей, мне сказали что ты динозавр, скажи, что это не так.<br/>
<br/>
<br/>
Проигрыш: <br/>
  G                   G      G7 <br/>
E------0-----0-----0-3-----------<br/>
H-0-3-4-0-3-4-0-3-4---3---1-0----<br/>
G----------------------------2-0-<br/>
  C          C7             C <br/>
E-------------------------7h8--8-5-3-3h5-<br/>
H-0-----0-----0-----0--------------------<br/>
G--3-2-0-3-2-0-3-2-0-3-2-0---------------<br/>
  G      G7            C     D#<br/>
E-10--15-19--15-14-13-12--15-11--11-9-<br/>
H-------------------------------------<br/>
G-------------------------------------<br/>
  G   E         C           D G C        D        G<br/>
E-15--17-15-14-12-10-12-14-15---9-8-7-12-10-12-10-15-<br/>
H----------------------------------------------------<br/>
G----------------------------------------------------<br/>
<br/>
Раньше мы не знали друг друга; теперь это не так.<br/>
Но я снова шёл по улице и снова мне привиделся знак -<br/>
Я слишком долго был глухой и немой.<br/>
Садись в вагонетку, отвезу тебя домой<br/>
В Уткину Заводь - учиться там плясать краковяк.<br/>
<br/>
Заключение: G G G7 C C7 C G G7 C D# G E C D G C G7 G7<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   III       D#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
