{% extends "chords.html" %}

{% set title = "Фикус религиозный" %}
{% set handbook_unid = "42985e983fcad7fac325679d006af0c9" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАВИГАТОР - фикус религиозный<br/>
</span><span style="color:red"> <br/>
ФИКУС РЕЛИГИОЗНЫЙ<br/>
</span><i>Б. Гребенщиков<br/>
</i><span style="font-size:12.0pt"> <br/>
</span><i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
<i>  </i>Am                                  Am<br/>
<i>Гитара 1</i>:<br/>
E-------------12-------12-------------------------12----12------------<br/>
H----13-12-13----13-12----12-13-12-13----13-12-13----12---12-13-12-13-<br/>
G-14----------------------------------14------------------------------<br/>
D---------------------------------------------------------------------<br/>
<i>Гитара 2</i>:<br/>
E---------------------------------------------------------------------<br/>
H---------------------------------------------------------------------<br/>
G--------------------------------------2~~~~~~~~----------------------<br/>
D---------------------------------------------------------------------<br/>
  Am                                  Am<br/>
<i>Гитара 1</i>:<br/>
E-------------12-------12-13-12-------------------12----12-<br/>
H----13-12-13----13-12----------12-13----13-12-13----13----<br/>
G-14----------------------------------14-------------------<br/>
D----------------------------------------------------------<br/>
<i>Гитара 2</i>:<br/>
E----------0--------0--------0--------------------------0--<br/>
H----1--0-----1--0-----0--1-----0--1--------1--0--1--------<br/>
G-2--------------------------------------2-----------2-----<br/>
D-------------------------------------2--------------------<br/>
<br/>
                   E                 F  Am<br/>
Ой ты, фикус мой, фикус; фикус религиозный.<br/>
               C Dm              Am<br/>
Что стоишь одиноко возле края земли?<br/>
            Dm                 Am<br/>
Иноверцы-злодеи тебя шашкой рубили,<br/>
              E                 Am<br/>
Затупили все шашки и домой побрели.<br/>
<br/>
Ясно солнце с луною над тобой не заходят,<br/>
Вкруг корней твоих реки золотые текут;<br/>
А на веточке верхней две волшебные птицы,<br/>
Не смыкая очей, всё тебя стерегут.<br/>
<br/>
Одну звать Евдундоксия, а другую - Снандулия;<br/>
У них перья днём - жемчуг, а в ночи - бирюза;<br/>
У них сердце - как камень, а слеза - как железо,<br/>
И, любимые мною, с переливом глаза.<br/>
<br/>
Проигрыш: <br/>
  E        Am       C    Dm    Am <br/>
E-10--8-7---8--7-5--3-5h3-5--7--8--<br/>
H----------------------------------<br/>
G----------------------------------<br/>
  Dm     Am       E      Am<br/>
E-8--7-5--8--7-5--7--5-4-5--<br/>
H---------------------------<br/>
G---------------------------<br/>
<br/>
Я читал в одной книге, что, когда станет плохо,<br/>
И над миром взойдут ледоруб да пила -<br/>
Они снимутся с ветки, они взовьются в небо<br/>
И возьмут нас с тобою под тугие крыла.<br/>
                Dm                    Am<br/>
Они снимутся с ветки, они взовьются в небо<br/>
                   E                Am<br/>
И возьмут нас с тобою под тугие крыла.<br/>
<br/>
Заключение: <br/>
  Dm       Am      E      Am Am/c <br/>
E-10--8-7--8--7-5--7--5-4--5-----<br/>
H--------------------------------<br/>
G--------------------------------<br/>
  Dm       Am      E       Am<br/>
E-10--8-7--8--7-5--7--5-4--5-----<br/>
H--------------------------------<br/>
G--------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/c<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
