{% extends "chords.html" %}

{% set title = "Хавай меня, хавай" %}
{% set handbook_unid = "7512bf160172281fc325679d006aecd0" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ИНТЕРНЕТ-СИНГЛЫ - хавай меня, хавай<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
хавай меня, хавай <br/>
</span><i>Б.Гребенщиков <br/></i>
 <br/>
Вступление: A<br/>
  A    C A    A      D C    A    C A<br/>
E-----------------------------------<br/>
H------1-----------1h3-1---------1-- C D A G E<br/>
G-2-0-2--2----2-0-2---------2-0-2--2<br/>
D--2-----------2-------------2------<br/>
<br/>
 A           C A<br/>
Хавай меня, хавай!<br/>
 A           D C  A<br/>
Хавай меня, хавай!<br/>
 A           C A<br/>
Хавай меня, хавай!<br/>
 C  D A G E E<br/>
Без еды!<br/>
<br/>
Проигрыш: A - 8p.<br/>
<br/>
    A              E<br/>
Ты суперсистемный малый,<br/>
   A             E<br/>
Заводит меня в умат<br/>
      H            F#<br/>
Твой хаер трехгодовалый,<br/>
      H                F#<br/>
Твой шизофреничный взгляд.<br/>
<br/>
Когда ты торчал на Горке,<br/>
Меня пробирала дрожь.<br/>
Ты хавал гнилые корки<br/>
И был на облом похож.<br/>
<br/>
Проигрыш: A C D E<br/>
<br/>
Хавай меня, хавай!<br/>
Хавай меня, хавай!<br/>
Хавай меня, хавай!<br/>
 C  D A G E <br/>
Без еды!<br/>
<br/>
Проигрыш: A - 8p.<br/>
<br/>
В солнечный день погожий<br/>
Я знаю, что будет так:<br/>
Нас в крейзи с тобой положат<br/>
И мы приторчим ништяк<br/>
<br/>
Нам будет с тобой по кайфу<br/>
Наступит крутой ...<br/>
Когда ж будет финиш лайфу<br/>
Дохаваешь ты мой ...<br/>
<br/>
Проигрыш: A C D E<br/>
<br/>
Хавай меня, хавай!<br/>
Хавай меня, хавай!<br/>
Хавай меня, хавай!<br/>
 C  D A G E <br/>
Без еды!<br/>
<br/>
Хавай меня, хавай!<br/>
Хавай меня, хавай!<br/>
Хавай меня, хавай!<br/>
 C  D A G E A<br/>
Без еды!<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
