{% extends "chords.html" %}

{% set title = "Холодное пиво" %}
{% set handbook_unid = "1a2d630adce0fbfbc325679d006aee08" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- КОНЦЕРТНЫЕ ЗАПИСИ - холодное пиво<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
холодное пиво <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
E----9-12-9-7-7-----<br/>
H-8h9---------------<br/>
G------------------- H7 E E, E E7, A7 A7, E7 E7, H7 A7 E E<br/>
D-------------------<br/>
A---------------0-1-<br/>
<br/>
E                   E<br/>
 В мою ночь рожденья был смерч и ураган<br/>
E                             E7<br/>
 И каждый кто был при этом напился смертельно пьян<br/>
A7                                  E7<br/>
  Холодное пиво, ты можешь меня спасти<br/>
H7             A7                   E7 E7<br/>
  Холодное пиво, мне до тебя не дойти<br/>
<br/>
Я знаю два слова: "арокс" или "штер"<br/>
В моей голове как бронетранспортер<br/>
Холодное пиво, ты можешь меня спасти<br/>
Холодное пиво, мне до тебя не дойти<br/>
<br/>
Проигрыш: E E, E E7, A7 A7, E7 E7, H7 A7 E E<br/>
<br/>
За окнами метель.- Правда? Четвертые сутки прочь<br/>
Я что-то не вижу ларька, его должно быть снесли за ночь<br/>
Холодное пиво, ты можешь меня спасти<br/>
Холодное пиво, мне до тебя не дойти<br/>
<br/>
Проигрыш: E E, E E7, A7 A7, E7 E7, H7 A7 E E   <br/>
<br/>
Я очень люблю алкоголь и, не взирая на вид,<br/>
Я пил тормозную жидкость, но меня от нее тормозит<br/>
Холодное пиво, ты можешь меня спасти<br/>
Холодное пиво, мне до тебя не дойти<br/>
H7              A7                  E E/d E/c# E/c E/h<br/>
  Холодное пиво, мне до тебя не дойти <br/>
<br/>
Заключение: H7 A7 E E/d E/c# E/c E/h  F E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E/d<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E/c#<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E/c<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E/h<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
