{% extends "chords.html" %}

{% set title = "Хозяин" %}
{% set handbook_unid = "fb6d90fa28af3575c325679d006af261" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕСЯТЬ СТРЕЛ - хозяин<br/>
</span><span style="color:red"> <br/>
ХОЗЯИН<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: A G 6:III 5:0 5:II 6:III – 8p.<br/>
A G – 4p.<br/>
<br/>
   A                    G#<br/>
Хозяин, прости, что тревожу тебя,<br/>
    G(III)               F#m<br/>
Это несколько странный визит.<br/>
   A                     G#<br/>
Я видел свет в окнах твоего этажа,<br/>
        G(III)              D<br/>
Дверь открыта, вахтёр уже спит.<br/>
   E<br/>
У новых жильцов вечеринка,<br/>
      F                     D<br/>
Они, выпив, кричат, что ты миф;<br/>
      A     E              D       A<br/>
Но я помню день, когда я въехал сюда,<br/>
          D   D/c G6/h F           A G<br/>
И я действительно     рад, что ты жив.<br/>
<br/>
Проигрыш: A G – 3p.<br/>
<br/>
Хозяин, я просто шёл от друзей,<br/>
Я думал о чём-то своём.<br/>
Они живут в этих новых домах,<br/>
И по-детски довольны жильём.<br/>
Но я вспоминаю свой прокуренный угол,<br/>
Фонарь в окне, купол с крестом,<br/>
И мне светло, как в снежную ночь,<br/>
И я смеюсь над их колдовством.<br/>
<br/>
Проигрыш: A G – 7p.<br/>
<br/>
Хозяин, да, я веду странную жизнь,<br/>
И меня не любит завхоз;<br/>
Твои слуги, возможно, милые люди,<br/>
Но тоже не дарят мне роз.<br/>
И я иду мимо них, как почётный гость,<br/>
Хотя мне просто сдан угол внаём;<br/>
Но, Хозяин, прости за дерзость,<br/>
Я не лишний в доме твоём.<br/>
<br/>
Проигрыш: A G – 3p. D C – 4p.<br/>
<br/>
Хозяин, да, я плачу не как все,<br/>
Но я плачу тем, что есть.<br/>
Хозяин, моя вера слаба,<br/>
Но я слышал добрую весть.<br/>
Хозяин, я никудышный фундамент,<br/>
И, наверно, плохое весло -<br/>
Но, Хозяин, когда ты захочешь пить,<br/>
Ты вспомнишь моё ремесло.<br/>
<br/>
Заключение: A G – 7p. A<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/c<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
