{% extends "chords.html" %}

{% set title = "Хорал" %}
{% set handbook_unid = "1fec253c7df928a6c325679d006af288" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ▼ - хорал<br/>
</span><span style="color:red"> <br/>
ХОРАЛ<br/>
</span><i>Б. Гребенщиков - А. Гуницкий<br/></i>
 <br/>
 С#5<br/>
Что лучше, пена или дом,<br/>
Давай-ка вместе поразмыслим;<br/>
Тогда, дай Бог, все наши мысли<br/>
                     C5<br/>
Исчезнут в небе голубом...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    IV     C#5<br/>
x E---|---|---|---|---|<br/>
x H---|---|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C5<br/>
x E---|---|---|---|---|<br/>
x H---|---|---|---|---|<br/>
  G---|---|---|---|-■-|<br/>
  D---|---|---|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
