{% extends "chords.html" %}

{% set title = "Царь сна" %}
{% set handbook_unid = "db6d56082a3501c7c325679d006af1bf" %}

{% block content %}
{% raw %}
<span style="color:red">ЦАРЬ СНА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление:<br/>
E—--1-0-3-5-----------       E—--1-0-3-5--------0--<br/>
H---3-3-5-6---3-1-1---       H---3-3-5-6---1-1-----<br/>
G---2-2-4-5----------3 - 3p. G---2-2-4-5-------3-3-<br/>
D-0--------0-3------0-       D-0--------2h3-2-2----<br/>
A---------------------       A---------------------<br/>
 <br/> Dm   G*  F* <br/>E—--1-0-3-5-      <br/>H---3-3-5-6-      <br/>G---2-2-4-3- G* - 4p. <br/>D-0---------      <br/>
A-----------<br/>
<br/>
  Dm G*F*       G*      Dm G*F* G*Dm G*F* G*DmG* F*          G*<br/>
E-10---5--6--8--6--5--1--5---3--0--1---0--6---1--0--1--0--1--3<br/>
H----3---------------------3---------3------------------------ - 2p.<br/>
G-------------------------------------------2-----------------<br/>
<br/>
Dm          G*           F*          G*      Dm G* F* G*<br/>
  Скучно в доме, если в доме ни креста, ни ножа;<br/>
Dm         G*       F*         G*     Dm G* F* G*<br/>
  Хотел уйти, но в доме спит моя госпожа;<br/>
F                 G  F                A<br/>
 А у неё крутой нрав, Рамзес IV был прав;<br/>
     Dm        G*      F*  G*      Dm G* F* G*<br/>
То ли ангелы поют, то ли мои сторожа...<br/>
<br/>
Проигрыш: <br/>
  Dm G*F*       G*      Dm G*F* G*Dm G*F* G*DmG* F*          G*<br/>
E-10---5--6--8--6--5--1--5---3--0--1---0--6---1--0--1--0--1--3<br/>
H----3---------------------3---------3------------------------ - 2p.<br/>
G-------------------------------------------2-----------------<br/>
<br/>
Царица Шеба прекрасна, но она ни при чём;<br/>
Пернатый змей - тень в небе со своим ключом.<br/>
Новая страна на простынях из синего льна.<br/>
Нерушимая стена; леший за моим плечом.<br/>
<br/>
Проигрыш: Dm G* F* G* - 8p.<br/>
<br/>
Цвет яблони под юбкой ледяная броня;<br/>
Царь сна крёстным ходом на стального коня;<br/>
В лебединый день лепо ли хотеть голубя?<br/>
Но я хотел и этот голубь взлетел, и голубь был похож на тебя...<br/>
<br/>
Проигрыш: <br/>
  Dm G*F*       G*      Dm G*F* G*Dm G*F* G*DmG* F*          G*<br/>
E-10---5--6--8--6--5--1--5---3--0--1---0--6---1--0--1--0--1--3<br/>
H----3---------------------3---------3------------------------ - 2p.<br/>
G-------------------------------------------2-----------------<br/>
<br/>
Знак сторожа над мёртвой водой - твой пост;<br/>
Сигнал из центра недвусмысленно прост;<br/>
Тирн Рам, Тирн Хлад.<br/>
Свирепый лён; балтийский палисад;<br/>
      Dm            C       G6/h Gm6/b<br/>
Мне всё равно, чем кончится ваш<br/>
A            Dm<br/>
 Отход на Север.<br/>
<br/>
Проигрыш: Dm G* 6:0 6:I 6:III 6:I 6:0 G*<br/>
Dm G* - 51 p.<br/>
<br/>
Dm G* Dm G* Dm G* Dm G* Dm G* Dm G* Dm G* Dm G*<b><i><span style="color:gray">                    <br/>
</span><span style="color:#4D4D4D">…отс</span><span style="color:#333333">                    <br/></span></i></b>
Dm G*   Dm     G* Dm G*    Dm G* Dm G* Dm G* Dm G* Dm G*<br/>
<b><i>…йэйарчирэнэмнечнав   блойэнысн…                   <br/></i></b>
Dm G* Dm G* Dm G*       Dm          G* <br/>
<b><i>             …эзморкйэрбтовибкэчибтсамт…  <br/></i></b>
Dm G* Dm G* Dm G*       Dm           G* <i><br/>
</i><b><i>             …эзморкйэрбтовибкэчибтсамт…  <br/></i></b>
Dm G* Dm G* Dm G*       Dm           G* <br/>
<b><i>             …эзморкйэрбтовибкэчибтсамт…  <br/></i></b>
Dm G* Dm G* Dm G*       Dm           G* <br/>
<b><i>             …эзморкйэрбтовибкэчибтсамт…  <br/></i></b>
 <br/>
Проигрыш: Dm G* - 7p.<br/>
<br/>
Скучно в доме, если в доме ни креста, ни ножа.<br/>
Хотел уйти, но в доме спит моя госпожа;<br/>
А у неё крутой нрав - Рамзес IV был прав;<br/>
      Dm       C        G6/h Gm6/b<br/>
То ли ангелы поют, то ли...<br/>
<br/>
Заключение: <br/>
 Dm Em    F     G      F  Em Dm Am<br/>E—------------------------------------<br/>H-------------------------------------<br/>G------------------------------------- - 2p.<br/>D-0---2---3-5-7-5-3-2--3--2--0--------<br/>
A-------------------------------0-----<br/>
 <br/> Dm  Em  F     G      F Em Dm Am<br/>E—1---3--5-6-8-6-5-3--5--3--1--0-----<br/>H------------------------------------<br/>G------------------------------------<br/>D------------------------------------<br/>
A------------------------------------<br/>
 <br/> Dm  Em  F     G     F  Em Dm  С<br/>E—1---3--5-6-8-6-5-3--5--3--1--0~~~~<br/>H-----------------------------------<br/>G-----------------------------------<br/>D-0---2--3-5-7-5-3-2--3--2--0-------<br/>
A------------------------------3~~~~<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<a name="OLE_LINK5"></a><a name="OLE_LINK4"></a><a name="OLE_LINK3"><b><span style="font-size:8.0pt">      G*(Gsus2add13)</span></b></a><br/>
<b><span style="font-size:8.0pt">o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">     F*(Gsus2add13/f)<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Gm6/b<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
