{% extends "chords.html" %}

{% set title = "Цветы Йошивары" %}
{% set handbook_unid = "9204460a0a440ba9c32567a7006f4470" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - Ψ - цветы йошивары<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Цветы Йошивары<br/>
</span><i>Б. Гребенщиков  <br/>
Каподастр на 3-м ладу<br/></i>
 <br/>
Я назван в честь цветов Йошивары.<br/>
Я был рождён в Валентинов день.<br/>
G           C               G<br/>
 У меня приказ внутри моей кожи,<br/>
     Dm          F        C       G    C<br/>
И я иду, как и все, спотыкаясь об эту тень.<br/>
<br/>
     G       C                  G<br/>
У меня есть дом, в котором мне тесно,<br/>
             Dm F          C             G<br/>
У меня есть рот, которым поёт кто-то другой,<br/>
             C            G<br/>
И когда я сплю - моё отраженье<br/>
               Dm        F                   C          G         C        <br/>
Ходит вместо меня с необрезанным сердцем и третьей хрустальной ногой.<br/>
<br/>
Проигрыш: G C G, Dm F C G, C G, Dm F C G C<br/>
<br/>
G          C                G<br/>
Я был на дне - но вся вода вышла.<br/>
          Dm  F           C      G<br/>
Я ушёл в тень - я был совсем плохой.<br/>
          C                 G<br/>
Я просил пить - и мне дали чашу,<br/>
                Dm F         C     G       C <br/>
И прибили к кресту - но их гвозди были трухой.<br/>
<br/>
            Am              C<br/>
И теперь я здесь - и я под током,<br/>
           Am                    C         G<br/>
Семь тысяч вольт - товарищ, не тронь проводов.<br/>
          C                 G<br/>
Я отец и сын, мы с тобой одно и то же,<br/>
               Dm F          C    G          C <br/>
Я бы всё объяснил - но я не помню истинных слов.<br/>
<br/>
G           C                G<br/>
Я назван в честь цветов Йошивары.<br/>
         Dm F              C   G<br/>
Я был рождён в Валентинов день.<br/>
               C                 G<br/>
Я загнан как зверь в тюрьму этой кожи,<br/>
        Dm       F       C       G    C<br/>
Но я смеюсь, когда спотыкаюсь об эту тень<br/>
<br/>
Заключение: <br/>
  G   C             G        Dm  F   C  G C<br/>
E-0-1-3-8--8-10-8-7-3-1--5-3-0-------0-------<br/>
H-----------------------------3--1--3---3-1--<br/>
G--------------------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
