{% extends "chords.html" %}

{% set title = "Центр циклона" %}
{% set handbook_unid = "285ff034fbd5ff9ac325679d006aee71" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СНЕЖНЫЙ ЛЕВ - центр циклона<br/>
</span><span style="color:red"> <br/>
ЦЕНТР ЦИКЛОНА<br/>
</span><i>Б. Гребенщиков<br/>
 <br/></i>
         D      A        D<br/>
Вчера я пил, и был счастливый,<br/>
        Hm   G      D<br/>
Сегодня я хожу больной,<br/>
              G              D<br/>
Ох что ж ты, мать - сыра природа,<br/>
            D     A      D    <br/>
Настоль безжалостна со мной?<br/>
<br/>
Проигрыш: A Hm G D A G G/f# C G D A<br/>
<br/>
            D       A       D<br/>
Снился мне сон, что я был трезвый,<br/>
        A<br/>
Ангелы пели в небесах.<br/>
         G              D<br/>
А я проснулся в чёрном теле,<br/>
            D          A<br/>
Звезда застряла в волосах.<br/>
              D        A     D<br/>
Говорила мне мать - летай пониже,<br/>
           Hm      G        D<br/>
Говорила жена - уйдёшь на дно...<br/>
       G              D<br/>
А я живу в центре циклона,<br/>
            D          A    D<br/>
И вверх и вниз - мне всё одно.<br/>
<br/>
Проигрыш: G D A D D7 G D A G D<br/>
D A D, A A, G D, D A, D A D, Hm G D, G D A G D A<br/>
<br/>
А люди работают за деньги,<br/>
Смотрят в окно на белый свет.<br/>
В нашем полку - все камикадзе,<br/>
Кто всё успел - того здесь нет.<br/>
Так скажем "Банзай", и Бог с ней, с твердью;<br/>
Всё, что прошло - сдадим в утиль.<br/>
И здесь у нас в центре циклона,<br/>
Снежные львы и полный штиль.<br/>
<br/>
Проигрыш: G D A D D7 G D A G D<br/>
<br/>
 A      D   A         D<br/>
Сегодня я опять счастливый,<br/>
        Hm   G        D<br/>
А завтра я опять больной,<br/>
              G              D<br/>
За что ж ты, мать - сыра природа,<br/>
            D     A      D <br/>
Настоль безжалостна со мной?<br/>
D/c#       Hm       G       D <br/>
Опомнись, мать - сыра природа,<br/>
          D     A     D<br/>
Я всё же сын тебе родной!<br/>
<br/>
Заключение: G D A D D7 G D A G D <br/>
5:0h5:III - 4p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D/c#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
