{% extends "chords.html" %}

{% set title = "Человек из Кемерова" %}
{% set handbook_unid = "cfaad42e5d328ca1c3256cd4001f976e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСНИ РЫБАКА - человек из кемерова<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Человек из Кемерова<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Проигрыш: Am 6:III 5:0 5:III Am – 4p. <br/>
<br/>
Am                 F<br/>
  У меня были проблемы;<br/>
    Am       Em      Am<br/>
Я зашёл чересчур далеко;<br/>
Am            F<br/>
Нижнее днище нижнего ада<br/>
       C                  G<br/>
Мне казалось не так глубоко,<br/>
Dm                Am<br/>
 Я позвонил своей маме,<br/>
Dm                G<br/>
  И мама была права -<br/>
C      C/h       Dm       Am<br/>
 Она сказала: “Немедля звони<br/>
     F       Em   Am<br/>
Человеку из Кемерова”.<br/>
<br/>
Проигрыш: Am 6:III 5:0 5:III Am<br/>
<br/>
Он скуп на слова, как де Ниро;<br/>
С ним спорит только больной.<br/>
Его не проведёшь на мякине,<br/>
Он знает ходы под землёй.<br/>
Небо рухнет на землю,<br/>
Перестанет расти трава -<br/>
Он придёт и молча поправит всё,<br/>
Человек из Кемерова.<br/>
<br/>
Проигрыш: Am 6:III 5:0 5:III Am<br/>
<br/>
Адам стал беженцем,<br/>
Авель попал на мобильную связь,<br/>
Ной не достроил того, что он строил,<br/>
Нажрался и упал лицом в грязь;<br/>
История человечества<br/>
Была бы не так крива,<br/>
Если б они догадались связаться<br/>
С человеком из Кемерова.<br/>
<br/>
Проигрыш: Am 6:III 5:0 5:III Am<br/>
Am F, Am Em Am, Am F, C G <br/>
Dm Am, Dm G, C C/h Dm Am, F Em Am<br/>
Am 6:0 5:0 5:III Am<br/>
<br/>
Мне звонили из Киева,<br/>
Звонили из Катманду;<br/>
Звонили с открытья пленума -<br/>
Я сказал им, что я не приду.<br/>
Нужно будет выпить на ночь два литра воды,<br/>
Чтоб с утра была цела голова -<br/>
Ведь сегодня я собираюсь пить<br/>
С человеком из Кемерова.<br/>
<br/>
Заключение: Am 6:III 5:0 5:III Am – 4p. Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
