{% extends "chords.html" %}

{% set title = "Что нам делать с пьяным матросом?" %}
{% set handbook_unid = "125274877426e49fc325730c0034930d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛОШАДЬ БЕЛАЯ - что нам делать с пьяным матросом?<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
ЧТО нам делать с пьяным матросом?<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу <br/></i>
 <br/>
Вступление:<br/>
  C           C       C       C          C<br/>
E-----10--10------10------10------10-------<br/>
H---13--13--13--13--13--13--13--13--13--13- C C C<br/>
G-12----------12------12------12------12---<br/>
D------------------------------------------<br/>
<br/>
  C                G<br/>
Что нам делать с пьяным матросом?<br/>
  C                F<br/>
Что нам делать с пьяным матросом?<br/>
  C                G<br/>
Что нам делать с пьяным матросом?<br/>
 F    G      C C С С<br/>
Господи, спаси!<br/>
<br/>
   C            G<br/>
В центре Земли ветхий и древний<br/>
C                F<br/>
Есть один змей твёрдый как кремний,<br/>
 C             G<br/>
Мы ходили смотреть всей деревней,<br/>
Dm          G<br/>
Ой, не голоси.<br/>
<br/>
C          G<br/>
Он лежит, сам еле дышит,<br/>
  C           F<br/>
Глаз закрыт, жар так и пышет,<br/>
 C             G<br/>
Но кто скажет, он всё услышит.<br/>
 F    G      C C C C<br/>
Господи, спаси!<br/>
<br/>
 C               G<br/>
Семь кораблей несутся по морю,<br/>
  C           F<br/>
Все спешат помочь его горю<br/>
C            G<br/>
И везут ему разного зелья, <br/>
Dm          G<br/>
Ой, не голоси.<br/>
<br/>
C             G<br/>
Один матрос взял зашатался,<br/>
C                F<br/>
Он крепился, но не удержался<br/>
C            G<br/>
И упал в подвал с этим зельем.<br/>
 F    G      C C<br/>
Господи, спаси!<br/>
<br/>
Проигрыш: <br/>
  C         B Am     G#         C          F#  F  Em G <br/>
E---------------------------------------------------------<br/>
H------------3--------------------------------------------<br/>
G--------------5-5-5-5-------5-5---5-5-5-5-3-3-2-2-------- <br/>
D-----0-2-3-5---------6-6-6-6---2--5-5-5---4---3--2--0-2-0<br/>
A-3-3---------------------------------------------2-------<br/>
E---------------------------------------------------------<br/>
<br/>
  C             B Am       G#     C   F#  F  G <br/>
E----------------------------------------------------<br/>
H----------------3-----------------------------------<br/>
G------------------5-5-5-5-5----5-5-5-3-3-2-2--------<br/>
D---------0-2-3-5-----------6-6---5---4---3--0--0-2-0<br/>
A-3-3-3-3------------------------------------2-------<br/>
E----------------------------------------------------<br/>
<br/>
  C                G<br/>
Что нам делать с пьяным матросом?<br/>
  C                F<br/>
Что нам делать с пьяным матросом?<br/>
  C                G<br/>
Что нам делать с пьяным матросом?<br/>
 Dm               G<br/>
Что нам делать, что же нам делать с ним?<br/>
<br/>
  C                G<br/>
Что нам делать с пьяным матросом?<br/>
  C                F<br/>
Что нам делать с пьяным матросом?<br/>
  C                G<br/>
Что нам делать с пьяным матросом?<br/>
 F    G      C C C C<br/>
Господи, спаси!<br/>
<br/>
     C                     G<br/>
Так вот что нам делать с пьяным матросом<br/>
C             F<br/>
 Укрепить его якорным тросом<br/>
C         G<br/>
И одеть его Хьюго Боссом,<br/>
Dm          G<br/>
Ой, не голоси.<br/>
<br/>
C          G<br/>
И как веревочке ни виться,<br/>
  C           F<br/>
Знай, душа устанет томиться,<br/>
C                G<br/>
Он восстанет и преобразится.<br/>
 F    G      C<br/>
Господи, спаси!<br/>
<br/>
     C                     G<br/>
Так вот что нам делать с пьяным матросом<br/>
 C                     F<br/>
Вот что нам делать с пьяным матросом<br/>
 C                     G<br/>
Вот что нам делать с пьяным матросом<br/>
 F    G      C С<br/>
Господи, спаси!<br/>
<br/>
Заключение: C G D A E H7 F G C G B Am F G C C  C!<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
