{% extends "chords.html" %}

{% set title = "Чубчик" %}
{% set handbook_unid = "72539324f0fe0091c325679d006af291" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - МИТЬКОВСКИЕ ПЕСНИ - чубчик<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
чубчик<br/>
</span><i>народная<br/></i>
 <br/>
Вступление: Am E Am, C G C, Am Dm Am, Dm Am E Am - 6p.<br/>
<br/>
Am               E          Am<br/>
Чубчик, чубчик, чубчик кучерявый<br/>
C             G            С<br/>
 Развевайся, чубчик по ветру<br/>
Am              Dm        Am     <br/>
Раньше, чубчик, я тебя любила<br/>
Dm     Am     E            Am<br/>
  А теперь забыть вот не могу<br/>
<br/>
Бывало, шапку закинешь на затылок<br/>
Пойдешь гулять ты днем иль вечерком<br/>
А из под шапки чубчик так и вьется<br/>
Эх, так и вьется, вьется по ветру<br/>
<br/>
Проигрыш: Am E Am, C G C, Am Dm Am, Dm Am E Am <br/>
<br/>
А что б в Сибири - Сибири не боюся<br/>
Сибирь ведь тоже русская земля<br/>
Так вейся ж, вейся, чубчик кучерявый<br/>
Развевайся, чубчик по ветру<br/>
<br/>
Заключение: Am E Am, C G C, Am Dm Am, Dm Am E Am - 4p. Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
