{% extends "chords.html" %}

{% set title = "Чудесный вальс" %}
{% set handbook_unid = "ccac6747a1cb0bb2c325679d006af05d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - чудесный вальс<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
чудесный вальс<br/>
</span><i>Б.Окуджава<br/>
 <br/></i>
    Am               E        E        Am<br/>
Музыкант в лесу под деревом наигрывает вальс.<br/>
Am                  H7 Dm                  E    E<br/>
  Он наигрывает вальс    то ласково, то страстно.<br/>
       G        C         E            Am<br/>
Что касается меня, то я опять гляжу на вас,<br/>
       Dm          E           E          Am      Am<br/>
А вы глядите на него, а он глядит в пространство.<br/>
<br/>
Целый век играет музыка. Затянулся наш пикник.<br/>
Тот пикник, где пьют и плачут, любят и бросают.<br/>
Музыкант приник губами к флейте. Я бы к вам приник!<br/>
Но вы, наверно, тот родник, который не спасает.<br/>
<br/>
А музыкант играет вальс. И он не видит ничего.<br/>
Он стоит, к стволу березовому прислонясь плечами.<br/>
И березовые ветки вместо пальцев у него,<br/>
А глаза его березовые строги и печальны.<br/>
<br/>
А перед ним стоит сосна, вся в ожидании весны.<br/>
А музыкант врастает в землю... Звуки вальса льются...<br/>
И его худые ноги словно корни той сосны -<br/>
Они в земле переплетаются, никак не расплетутся.<br/>
<br/>
Третий век играет музыка. Затянулся наш роман.<br/>
Он затянулся в узелок, горит он - не сгорает...<br/>
Так давайте ж успокоимся! Разойдемся по домам!..<br/>
Но вы глядите на него... А музыкант играет.<br/>
       G           C            E         Am<br/>
Так давайте ж успокоимся! Разойдемся по домам!..<br/>
       Dm           E           E      Am<br/>
Но вы глядите на него... А музыкант играет.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
