{% extends "chords.html" %}

{% set title = "Чёрный брахман" %}
{% set handbook_unid = "bb229eee806ec1a1c325679d006aef88" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СНЕЖНЫЙ ЛЕВ - чёрный брахман<br/>
</span><span style="color:red"> <br/>
ЧЁРНЫЙ БРАХМАН<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Каподастр на 3-м ладу<br/>
<br/>
Вступление: <br/>
G D, G C, G D C G D, Em Hm, C E, Am G, C D G <br/>
<br/>
       G                    D<br/>
Когда летний туман пахнет вьюгой,<br/>
         C      C/h      Am<br/>
Когда с неба крошится труха,<br/>
          D                G C<br/>
Когда друга прирежет подруга,<br/>
     G                  D<br/>
И железная вздрогнет соха,<br/>
    E              Am<br/>
Я один не теряю спокойства,<br/>
    C        Cm(III)     D<br/>
Я один не пру против рожна.<br/>
           G             Am<br/>
Мне не нужно не пушек ни войска,<br/>
      G       D        G<br/>
И родная страна не нужна.<br/>
<br/>
Что мне ласковый шёпот засады,<br/>
Что мне жалобный клёкот врага?<br/>
Я не жду от тиранов награды,<br/>
И не прячу от них пирога.<br/>
У меня за малиновой далью,<br/>
На далёкой лесной стороне,<br/>
Спит любимая в маленькой спальне<br/>
И во сне говорит обо мне...<br/>
<br/>
Проигрыш: <br/>
G D C C/h Am D G C G D E Am C Cm(III) D G Am G D G - 2p.<br/>
<br/>
Ей не нужны ни ведьмы ни судьи,<br/>
Ей не нужно ни плакать ни петь,<br/>
Между левой и правою грудью<br/>
На цепочке у ней моя смерть.<br/>
Пусть ехидны и дядьки с крюками<br/>
Вьются по небу, словно гроза -<br/>
Чёрный брахман с шестью лысниками<br/>
Охраняет родные глаза.<br/>
<br/>
Прекращайся немедленно, вьюга,<br/>
Возвращайся на небо, труха.<br/>
Воскрешай свово друга, подруга,<br/>
Не грусти, дорогая соха.<br/>
У меня за малиновой далью,<br/>
Равнозначная вечной весне,<br/>
Спит любимая в маленькой спальне,<br/>
       G      D        Em C<br/>
И во сне говорит обо мне,<br/>
     G      D        G<br/>
Всегда говорит обо мне.<br/>
<br/>
Проигрыш: <br/>
G D, G C, G D C G D, Em Hm, C E, Am G, C D G, С D G, C D G<br/>
E-----<br/>
H-3~~~<br/>
G-4~~~<br/>
D-5~~~<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Cm(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|-■-|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
