{% extends "chords.html" %}

{% set title = "Шинкарёвский романс" %}
{% set handbook_unid = "30b073b1bce2761ec325679d006af078" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - МИТЬКОВСКИЕ ПЕСНИ - шинкарёвский романс<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
шинкарёвский романс<br/>
</span><i>В.Шинкарёв<br/></i>
 <br/>
Вступление: Am - 2p.<br/>
<br/>
       Am                      Am<br/>
На февральском снегу наст не сломанный<br/>
       Am            E<br/>
Над каналами свет погас<br/>
         E                E<br/>
Что ж сегодня так люто и холодно<br/>
        E                  Am  E<br/>
Вынь, браток, из кармана фугас<br/>
       Am              Am<br/>
Я в крутую жировку не верую<br/>
         A7              Dm<br/>
Нам не светит объятий и ласк<br/>
     Dm              Am<br/>
На запоры закрытые двери<br/>
      E              Am  E<br/>
Наши жены уснули без нас<br/>
<br/>
Проигрыш: <br/>
Am Am Am E, E E E Am E, Am Am A7 Dm, Dm Am E Am E<br/>
<br/>
<br/>
Открывай же фугас, ключик ломаный,<br/>
Век жировки теперь не видать<br/>
Так жируй же, браток, дожировывай<br/>
Завтра будут лишь ножки торчать<br/>
Вихрь колючий под ватник ударится<br/>
Песнь заглохнет, замерзнет вино<br/>
Что же с нами, мой братушка, станется<br/>
Может завтра затопчут в говно<br/>
<br/>
Проигрыш: <br/>
Am Am Am E, E E E Am E, Am Am A7 Dm, Dm Am E Am E<br/>
<br/>
Не сносить тебе, братушка, голову<br/>
Дочь заплачет, заохает мать<br/>
Мы оттянемся с братушкой поровну<br/>
Не ложиться нам нынче в кровать<br/>
Ну давай напоследок по полной<br/>
Нам до смерти стоять да стоять<br/>
И давай, дорогой, дожировывай<br/>
Завтра будут лишь ножки торчать<br/>
<br/>
Заключение: <br/>
Am Am Am Am E, E E E Am E, Am Am A7 Dm, Dm Am E Am E <br/>
Am Am Am Am E, E E E Am E, Am Am A7 Dm, Dm Am E Am Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
