{% extends "chords.html" %}

{% set title = "Шумелка" %}
{% set handbook_unid = "cf433e97636f1f59c3256a230032b4be" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - БЕСПЕЧНЫЙ РУССКИЙ БРОДЯГА - шумелка<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Шумелка<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Ito-ho<br/></i>
 <br/>
Вступление: <br/>
A G D E – 8p.<br/>
<br/>
A     G      D            E         A G D E<br/>
Я, я, я, я ушёл в тонкий мир с головой<br/>
      A            G           D         E    A  G D E<br/>
Мне снилось, что я умер, мне снится, что я живой<br/>
   A               A/g<br/>
Пошёл в магазин, купил себе брошюру<br/>
  A/f#         F<br/>
Даже у моей козы есть гуру<br/>
A     G      D            E         A G D E<br/>
Я, я, я, я ушёл в тонкий мир с головой<br/>
<br/>
Проигрыш: A G D E – 4p.<br/>
<br/>
Вышел на улицу - с аурами что-то не то<br/>
Я вышел на улицу - с аурами что-то не то<br/>
Я сижу в лотосе, но этого мало<br/>
Где, где, где, где, где моя Шамбала<br/>
Как мне жить, если с аурами что-то не то<br/>
<br/>
 A      G       D<br/>
Рам Лам Ям Мам Бам<br/>
     E          A   G D E<br/>
Поцелуй меня в чакру <br/>
A      G       D<br/>
Рам Лам Ям Мам Бам<br/>
     E          A   G D E<br/>
Поцелуй меня в чакру<br/>
A      G       D<br/>
Рам Лам Ям Мам Бам<br/>
     E          A   G D E<br/>
Поцелуй меня в чакру<br/>
A      G       D<br/>
Рам Лам Ям Мам Бам<br/>
     E          A   G D E<br/>
Поцелуй меня в чакру<br/>
<br/>
Проигрыш: A G D E – 8p.<br/>
<br/>
Рам Лам Ям Мам Бам<br/>
Поцелуй меня в чакру <br/>
Рам Лам Ям Мам Бам<br/>
Поцелуй меня в чакру<br/>
Рам Лам Ям Мам Бам<br/>
Поцелуй меня в чакру<br/>
Рам Лам Ям Мам Бам<br/>
     E          A   G A G A G<br/>
Поцелуй меня в чакру<br/>
<br/>
<span style="color:#333333">E-9-7-9-7-9-7-7-5--7-5-7-5-7-5-5-4-<br/>
H----9---9---9--------7---7---7---- - 2p.<br/>
G----------------------------------<br/>
<br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:131.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">           A/g<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="width:131.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">           A/f#<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td colspan="2" style="border:none;padding:0cm 0cm 0cm 0cm" width="374"> <br/></td>
</tr>
</table>
{% endraw %}
{% endblock %}
