{% extends "chords.html" %}

{% set title = "Шуба-дуба блюз" %}
{% set handbook_unid = "c5c48d4c42bc839ec325687c00715fd1" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - шуба-дуба блюз<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Шуба-дуба блюз<br/>
</span><i>П.Мамонов<br/>
 <br/></i>
Вступление: Am Am/c H7 B Am Am/c H7 F - 8p.<br/>
<br/>
Am   Am/c     H7   B<br/>
  Проснулся я утром<br/>
Am Am/c    H7 F<br/>
  Часов в пять<br/>
Am   Am/c H7    B<br/>
  И сразу понял:<br/>
Am   Am/c     H7  F<br/>
  Ты ушла от меня.<br/>
      G# G(III) F# F<br/>
Ну и что!<br/>
       G# G(III) F# F          Am Am/c H7 B      Am Am/c H7 B<br/>
Ну и что!            Что ты ушла           от меня.<br/>
        F           E<br/>
Все равно опять напьюсь!<br/>
        Am      Am/c H7 B Am Am/c H7 F<br/>
В Шуба-дуба блюз!<br/>
<br/>
Проигрыш: Am Am/c H7 B Am Am/c H7 F - 4p.<br/>
<br/>
Проснулся я днем<br/>
Часа в два<br/>
И сразу понял:<br/>
Ты ушла от меня.<br/>
Ну и что!<br/>
Ну и что! Что ты ушла от меня.<br/>
Все равно опять напьюсь!<br/>
В Шуба-дуба блюз!<br/>
<br/>
Проигрыш: Am Am/c H7 B Am Am/c H7 F - 2p.<br/>
G# G(III) F# F - 2p.<br/>
Am Am/c H7 B - 2p. F E<br/>
Am Am/c H7 B Am Am/c H7 F<br/>
<br/>
Проснулся я ночью<br/>
Часа в три<br/>
И сразу понял:<br/>
Ты ушла от меня.<br/>
Ну и что!<br/>
Ну и что! Что ты ушла от меня.<br/>
Все равно опять напьюсь!<br/>
В Шуба-дуба блюз!<br/>
<br/>
Заключение: Am Am/c H7 B Am Am/c H7 F - 2p.<br/>
G# G(III) F# F - 2p.<br/>
Am Am/c H7 B - 2p. F E<br/>
Am Am/c H7 B Am Am/c H7 F - 2p. Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/c<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
