{% extends "chords.html" %}

{% set title = "Эвакуация" %}
{% set handbook_unid = "120db2eda8e273fec32577bf006ae35b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - эвакуация<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Эвакуация<br/>
</span><i>Б.Гребенщиков<br/>
<br/>
Каподастр на 3-м ладу<br/>
 <br/></i>
Вступление: D C G - 8p.<br/>
<br/>
D                         C            G    D C G<br/>
Эй, пойду ль - выйду я, в путь ли соберусь я<br/>
D                   C           G    D C G<br/>
 То ли на Украину, то ли в Беларусь я<br/>
     D                        C        G  D C G<br/>
С Саратова в Самарканд, с Валдая на Алтай.<br/>
        C                     A           A G A<br/>
А ты записывай, записывай, сиди не болтай!<br/>
<br/>
Проигрыш: D C G - 4p.<br/>
<br/>
Я вышел из ветра и потока, я играю в дуду<br/>
Я словно перехожу эту реку по тонкому льду<br/>
Иду справа от Солнца, слева от Луны<br/>
Недаром народы Поднебесной были потрясены<br/>
<br/>
Проигрыш: D C G - 24p.<br/>
<br/>
Не откажите мне в любезности<br/>
Эвакуируйте отсюда всех, кого можно спасти<br/>
Я ушел с Острова Мёртвых, сжёг за собою мосты<br/>
И я не вижу вокруг ничего, кроме красоты<br/>
<br/>
Заключение: Проигрыш: D C G - 12p. D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
