{% extends "chords.html" %}

{% set title = "Электрическая птица" %}
{% set handbook_unid = "f8648aa29310b31cc3256923004057f4" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - ТЕРРАРИУМ - ПЯТИУГОЛЬНЫЙ ГРЕХ - электрическая птица<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
электрическая птица<br/>
</span><i>Б.Гребенщиков - А.Гуницкий<br/></i>
 <br/>
Вступление: <br/>
  E <br/>
E----------------<br/>
H-------------5~~<br/>
G---------6~~~---<br/>
D-2~~~~6h4---6---<br/>
A----------------<br/>
E-0~~~~----------<br/>
<br/>
E - 4p.<br/>
<br/>
      E<br/>
Электрическая птица <br/>
Из соцветья Алой Розы,<br/>
Электрическая птица,<br/>
Разрывающая воздух,<br/>
Уходящая на Запад<br/>
От канонов Восьмиречья, <br/>
Где войны тяжелый запах <br/>
Разорвал на части вечность.<br/>
<br/>
Проигрыш: E - 4p.<br/>
<br/>
Электрические птицы, <br/>
Уничтоженные в марте, <br/>
Электрические птицы, <br/>
Отраженные на карте, <br/>
Улетающие в море <br/>
В заповедники скрипенья, <br/>
Где не будет больше горя <br/>
И булавок песнопенья<br/>
<br/>
Проигрыш: E - 4p.<br/>
  E          E         E        E<br/>
E-7-----7-7--7----7-7--7--7-7---7-7---7-7-<br/>
H---9-10------9-10------9----9-----9-9----<br/>
G-----------------------------------------<br/>
D-----------------------------------------<br/>
E - 20p.<br/>
<br/>
Электрические птицы, <br/>
Уничтоженные в марте, <br/>
Электрические птицы, <br/>
Отраженные на карте, <br/>
Улетающие в море <br/>
В заповедники скрипенья, <br/>
Где не будет больше горя <br/>
И булавок песнопенья<br/>
<br/>
Проигрыш: E - 4p. <br/>
  E          E         E        E<br/>
E-7-----7-7--7----7-7--7--7-7---7-7---7-7-<br/>
H---9-10------9-10------9----9-----9-9----<br/>
G-----------------------------------------<br/>
D-----------------------------------------<br/>
Hm - 4p. E - 16p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
