{% extends "chords.html" %}

{% set title = "Электрический пёс" %}
{% set handbook_unid = "7299a6b86e53585ec325679d006aeeda" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СИНИЙ АЛЬБОМ - электрический пёс<br/>
</span><span style="color:red"> <br/>
ЭЛЕКТРИЧЕСКИЙ ПЁС<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу <br/></i>
 <br/>
Вступление: <br/>
....<br/>
    C      Am        <br/>
E-4h5-3-0----<br/>
H------------<br/>
G------------<br/>
....<br/>
   C          Am            C         Am<br/>
E-4h5-3-0---3-4h5-0-----3-4h5-0------------<br/>
H--------3---------3-1---------3-1--1-0-1-3<br/>
G------------------------------------------<br/>
     C          Am            C         Am<br/>
E-3-4h5-3-0---3-4h5-0-----3-4h5-0------------<br/>
H----------3---------3-1---------3-1--1-0-1-3<br/>
G--------------------------------------------<br/>
<br/>
 C             Am<br/>
Долгая память хуже, чем сифилис,<br/>
  C                 Am<br/>
Особенно в узком кругу.<br/>
  C             Am<br/>
Идёт вакханалия воспоминаний<br/>
 C               Am<br/>
Не пожелать и врагу.<br/>
     Dm    Dm/c      G<br/>
И стареющий юноша в поисках кайфа<br/>
   C                    F<br/>
Лелеет в зрачках своих вечный вопрос,<br/>
      Dm      C       Dm        C<br/>
И поливает вином, и откуда-то сбоку<br/>
                                             C           G<br/>
                                        E-3-4h5-3-0---3-4h5-0-------<br/>
     Dm        Dm/c        G            H----------3---------3-1-3-1<br/>
                                        G---------------------------<br/>
С прицельным вниманьем глядит электрический пёс.<br/>
<br/>
И мы несём свою вахту в прокуренной кухне,<br/>
В шляпах из перьев и трусах из свинца,<br/>
И если кто-то издох от удушья,<br/>
То отряд не заметил потери бойца.<br/>
И сплочённость рядов есть свидетельство дружбы -<br/>
Или страха сделать свой собственный шаг.<br/>
И над кухней-замком возвышенно реет<br/>
Похожий на плавки и пахнущий плесенью флаг.<br/>
<br/>
И у каждого здесь есть излюбленный метод<br/>
Приводить в движенье сияющий прах.<br/>
Гитаристы лелеют свои фотоснимки,<br/>
А поэты торчат на чужих номерах.<br/>
Но сами давно звонят лишь друг другу,<br/>
Обсуждая, насколько прекрасен наш круг.<br/>
А этот пёс вгрызается в стены<br/>
В вечном поиске новых и ласковых рук.<br/>
<br/>
Но женщины - те, что могли быть, как сёстры, -<br/>
Красят ядом рабочую плоскость ногтей,<br/>
И во всём, что движется, видят соперниц,<br/>
Хотя уверяют, что видят блядей.<br/>
И от таких проявлений любви к своим ближним<br/>
Мне становится страшно за рассудок и нрав.<br/>
Но этот пёс не чужд парадоксов:<br/>
Он влюблён в этих женщин,<br/>
И с его точки зренья он прав.<br/>
<br/>
Потому что другие здесь не вдохновляют<br/>
Ни на жизнь, ни на смерть, ни на несколько строк;<br/>
И один с изумлением смотрит на Запад,<br/>
А другой с восторгом глядит на Восток.<br/>
И каждый уже десять лет учит роли,<br/>
О которых лет десять как стоит забыть.<br/>
А этот пёс смеётся над нами:<br/>
Он не занят вопросом, каким и зачем ему быть.<br/>
<br/>
Проигрыш: C Am - 4p.<br/>
Dm Dm/c G C F Dm C Dm C Dm Dm/c G C G<br/>
<br/>
У этой песни нет конца и начала,<br/>
Но есть эпиграф - несколько фраз:<br/>
Мы выросли в поле такого напряга,<br/>
Где любое устройство сгорает на раз.<br/>
И, логически мысля, сей пёс невозможен -<br/>
Но он жив, как не снилось и нам, мудрецам.<br/>
И друзья меня спросят: «О ком эта песня?»<br/>
                                              C           G         C<br/>
                                         E-3-4h5-3-0---3-4h5-0--------<br/>
      Dm     Dm/c          G             H----------3---------3-1-3-1-<br/>
                                         G----------------------------<br/>
И я отвечу загадочно: «Ах, если б я знал это сам...»<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/c<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
