{% extends "chords.html" %}

{% set title = "Эта женщина! Увижу и немею..." %}
{% set handbook_unid = "a4af9ccf5d33046fc325685f00739d0d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ БУЛАТА ОКУДЖАВЫ - эта женщина! Увижу и немею...<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Эта женщина! Увижу и немею... <br/>
</span><i>Б.Окуджава<br/></i>
 <br/>
Вступление: Am - 2p.<br/>
<br/>
     Am        Dm      E Am<br/>
Эта женщина! Увижу и немею.<br/>
     C          G            C<br/>
Оттого-то, понимаешь, не гляжу.<br/>
     Dm                        Am<br/>
Ни кукушкам, ни ромашкам я не верю,<br/>
       E                      Am<br/>
И к цыганкам, понимаешь, не хожу.<br/>
      Dm                      Am<br/>
Ни кукушкам, ни ромашкам я не верю,<br/>
       E                      Am<br/>
И к цыганкам, понимаешь, не хожу.<br/>
<br/>
Напророчут: "Не люби ее такую!"<br/>
Набормочут: "До рассвета заживет!"<br/>
Наколдуют, нагадают, накукуют...<br/>
А она на нашей улице живет!<br/>
Наколдуют, нагадают, накукуют...<br/>
А она на нашей улице живет!<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="width:394.65pt;border-collapse:collapse" width="526">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="width:263.1pt;border-collapse:collapse" width="351">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
