{% extends "chords.html" %}

{% set title = "Юрьев день" %}
{% set handbook_unid = "cae077cf638f766fc325679d006af321" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСКИ ПЕТЕРБУРГА - юрьев день<br/>
</span><span style="color:red"> <br/>
ЮРЬЕВ ДЕНЬ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: 1:XXI<br/>
G D G C G D/f# C C D – 2p. G G<br/>
<br/>
    G         D/f#      C      G<br/>
Я стоял и смотрел, как ветер рвёт<br/>
C                   G D/f#<br/>
 Венки с твоей головы.<br/>
    G          D/f#   C         G<br/>
А один из нас сделал рыцарский жест -<br/>
C            D<br/>
 Пой песню, пой...<br/>
   G             D/f#      C         G<br/>
Теперь он стал золотом в списках святых,<br/>
         C                 G  D/f#<br/>
Он твой новый последний герой.<br/>
     Em        D/f#      G          C<br/>
Говорили, что следующим должен быть я -<br/>
     C      D                     G G<br/>
Прости меня, это будет кто-то другой.<br/>
<br/>
Проигрыш: G D C G C G D Em D C G C G D G G<br/>
<br/>
Незнакомка с Татьяной торгуют собой<br/>
В тени твоего креста,<br/>
Благодаря за право на труд;<br/>
А ты пой песню, пой...<br/>
Твой певец исчез в глубине твоих руд,<br/>
Резная клетка пуста.<br/>
Говорили, что я в претендентах на трон -<br/>
Прости меня, там будет кто-то другой.<br/>
<br/>
Проигрыш: G D G C G D/f# C C D – 2p. G G<br/>
<br/>
В небесах из картона летят огни,<br/>
Унося наших девушек прочь.<br/>
Анубис манит тебя левой рукой,<br/>
А ты пой, не умолкай...<br/>
Обожжённый матрос с берегов Ориона<br/>
Избран сыном полка.<br/>
Ты считала, что это был я<br/>
Той ночью -<br/>
Прости меня, но это был кто-то другой.<br/>
<br/>
       D<br/>
Но когда семь звёзд над твоей головой<br/>
   C<br/>
Встанут багряным серпом,<br/>
    D<br/>
И пьяный охотник спустит собак<br/>
    Em        G/f#      G<br/>
На просторы твоей пустоты,<br/>
D<br/>
Я вспомню тех, кто красивей тебя,<br/>
   C           Am<br/>
Умнее тебя, лучше тебя;<br/>
  D<br/>
Но кто из них шёл по битым стеклам<br/>
C                        D<br/>
  Так же грациозно, как ты?<br/>
<br/>
Проигрыш: G D G C G D/f# C C D – 2p. G G<br/>
<br/>
Скоро Юрьев день, и всё больше свечей<br/>
У заброшенных царских врат.<br/>
Но жги их, не жги, они не спасут -<br/>
Лучше пой, пой…<br/>
Вчера пионеры из монастыря<br/>
Принесли мне повестки на суд,<br/>
И сказали, что я буду в списках судей -<br/>
Прости меня, там будет кто-то другой.<br/>
<br/>
Проигрыш: G D G C G D C C D – 2p. G C G C G C G<br/>
<br/>
<span style="color:silver">G             D/f#                        G C<br/></span>
 От угнанных в рабство я узнал про твой свет.<br/>
<span style="color:#999999">G                 D/f#                   Em C<br/></span>
 От синеглазых волков - про все твои чудеса.<br/>
<span style="color:gray">G        D/f#    G               C<br/></span>
 В белом кружеве, на зелёной траве<br/>
<span style="color:#333333">           G<br/></span>
Заблудилась моя душа;<br/>
<span style="color:#333333">D/f#                    Em C<br/></span>
    Заблудились мои глаза.<br/>
G              D/f#                    G  C<br/>
 С берегов Боттичелли белым снегом в огонь,<br/>
G               D/f#                 C  D G D G C<br/>
 С лебединых кораблей ласточкой - в тень.<br/>
      G                    D/f#<br/>
Скоро Юрьев день, радость моя<br/>
                  C<br/>
И мы отправимся вверх -<br/>
D            G<br/>
 Вверх по теченью.<br/>
<br/>
Заключение: G D G C G D/f# C C D – 2p. G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
