{% extends "chords.html" %}

{% set title = "Я - змея" %}
{% set handbook_unid = "217e2501c4fdd56bc325679d006af21f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕТИ ДЕКАБРЯ - я - змея<br/>
</span><span style="color:red"> <br/>
Я - ЗМЕЯ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
E---------6h7-------6-7-------6h7------7-7-<br/>
H------------------------------------------<br/>
G------------------------------------------<br/>
D----0h2---------2---------2--------2------<br/>
A------------------------------------------<br/>
E-0h1---3-----0-1-3-----0-1-3----0-1-3-----<br/>
<br/>
Em<br/>
  Ты улыбаешься,<br/>
   H<br/>
Наверно, ты хочешь пить.<br/>
Em<br/>
  Я наблюдаю,<br/>
       A<br/>
Я ничего не хочу говорить. <br/>
     Em G Em<br/>
Я змея,<br/>
              H<br/>
Я сохраняю покой.<br/>
 A<br/>
Сядь ко мне ближе, ты<br/>
C           H      Em <br/>
 Узнаешь, кто я такой. <br/>
<br/>
Проигрыш: Em G Em G7 - 2p.<br/>
<br/>
Я знаю тепло камня,<br/>
Я знаю запах и цвет.<br/>
Но когда поднимаются птицы,<br/>
Я подолгу гляжу им вслед,<br/>
Я змея;<br/>
Я сохраняю покой.<br/>
Сядь ко мне ближе, ты<br/>
Узнаешь, кто я такой. <br/>
<br/>
Проигрыш: Em G Em G <br/>
A G Em Em - 3p.<br/>
<br/>
Иногда я гоню их прочь;<br/>
Иногда я хочу им петь.<br/>
Иногда мне хочется спрятаться в угол,<br/>
Затихнуть и умереть,<br/>
        Em<br/>
Но я змея;<br/>
И я сохраняю покой.<br/>
Сядь ко мне ближе, ты<br/>
Узнаешь, кто я такой. <br/>
<br/>
Проигрыш: Em G Em G <br/>
<br/>
Ты улыбаешься,<br/>
Должно быть, ты ждёшь ответ -<br/>
Дай руки; я покажу тебе,<br/>
Как живое дерево станет пеплом;<br/>
Я змея;<br/>
Я сохраняю покой.<br/>
Смотри на свои ладони - теперь<br/>
Ты знаешь, кто я такой.<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
