{% extends "chords.html" %}

{% set title = "Я - Шизо" %}
{% set handbook_unid = "8fe38f9f41d451d9c325679d006af2b5" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ДОИСТОРИЧЕСКИЕ ПЕСНИ - ИСКУШЕНИЕ СВЯТОГО АКВАРИУМА - я - шизо<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Я - Шизо <br/>
</span><i>Б.Гребенщиков/А.Гуницкий<br/></i>
 <br/>
      Hm<br/>
Я - Шизо<br/>
      Hm<br/>
Я - Шизо<br/>
       D<br/>
Я - Шизо<br/>
      F#<br/>
Я - Шизо<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
И я торчу<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
И я торчу<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
И я торчу<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
И я торчу<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
И я торчу<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я торчу<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я торчу<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
И я торчу<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я торчу<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
И я торчу<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
<br/>
      Hm<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
Я - Шизо<br/>
<br/>
Я - Шизо…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
