{% extends "chords.html" %}

{% set title = "Я не хотел бы быть тобой в тот день" %}
{% set handbook_unid = "a4d6de9cb4c66d09c325679d006af210" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСКИ ПЕТЕРБУРГА - я не хотел бы быть тобой в тот день<br/>
</span><span style="color:red"> <br/>
Я НЕ ХОТЕЛ БЫ БЫТЬ С ТОБОЙ В ТОТ ДЕНЬ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <span style="color:#EAEAEA">G…</span> <span style="color:#DDDDDD">G…</span> <span style="color:#B2B2B2">G…</span> <span style="color:gray">G…</span> <span style="color:#5F5F5F">G…</span> <span style="color:#333333">G…</span> <span style="color:#1C1C1C">G…<br/></span>
G G C D – 4p.<br/>
<br/>
        G             C       G<br/>
Ты неизбежна, словно риф в реке,<br/>
         C              G  C G D/f#<br/>
Ты повергаешь всех во прах;<br/>
         G             C G<br/>
Вожжа небес в твоей руке,<br/>
             C        G  C G D/f#<br/>
Власть пустоты - в губах;<br/>
         G                       G7<br/>
И, раз увидевший тебя, уж не поднимется с колен,<br/>
        C                          A7<br/>
Ты утончённа, словно Пруст, и грациозна, как олень;<br/>
          G       D/f#  Em                   C<br/>
Но будет день - и ты забудешь, что значит "трах",<br/>
        G            D/f#       G  D<br/>
Я не хотел бы быть тобой в тот день.<br/>
<br/>
Проигрыш: G G C D – 4p.<br/>
<br/>
Люблю смотреть, как ты вершишь свой суд<br/>
Верхом на цинковом ведре;<br/>
Твои враги бегут,<br/>
Ты Бонапарт в своём дворе;<br/>
Возможно, ты их просветишь, укажешь им - где ночь, где день,<br/>
Возможно, ты их пощадишь, когда казнить их будет лень,<br/>
Но будет день - и нищий с паперти протянет тебе пятак,<br/>
Я не хотел бы быть тобой в тот день.<br/>
<br/>
Проигрыш: G G C D – 4p. G G7 C A7 G D/f# Em C G D/f# G D<br/>
<br/>
Слепые снайперы поют твой гимн,<br/>
Пока ты спишь под их стволом;<br/>
Нечеловечески проста<br/>
Твоя звезда Шалом.<br/>
Твои орлы всегда зорки, пока едят с твоей руки;<br/>
Твои колодцы глубоки, карманы широки;<br/>
Но будет день - и дети спросят тебя:"Что значит слово "дом"?<br/>
Я не хотел бы быть тобой в тот день.<br/>
<br/>
Заключение: G G C D – 4p. G G7 C A7 G D/f# Em C G D/f# G G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
