{% extends "chords.html" %}

{% set title = "Я хочу быть с тобой" %}
{% set handbook_unid = "a2ed208d38a70b3ac325679d006af30c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЧУЖИЕ ПЕСНИ - я хочу быть с тобой<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
я хочу быть с тобой <br/>
</span><i>В.Бутусов - И.Кормильцев<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: …Am Dm Am E<br/>Am Dm Am7 Dm Am Dm Am F Esus4 E<br/>F F Esus4 E<br/> <br/>     Am      Dm       C Dm<br/>Я пытался уйти от любви <br/>       C        Dm       Am      E<br/>Я брал острую бритву и правил себя<br/>     Am         Dm     C Dm<br/>Я укрылся в подвале я резал<br/> C   Dm     Am     F      Esus4      E<br/>Кожаные ремни, стянувшие слабую грудь<br/> <br/>C    G           C<br/>Я хочу быть с тобой<br/>C    G           Am Am G<br/>Я хочу быть с тобой<br/>C    G           C<br/>Я хочу быть с тобой<br/>   C     G          Am<br/>Я так хочу быть с тобой<br/>  F        Esus4 E<br/>И я буду с тобой<br/> <br/>Проигрыш: F F Esus4 E - 2p.<br/> <br/>     Am      Dm          C<br/>Твое имя давно стало другим<br/>    C        Dm     Am         E<br/>Глаза навсегда потеряли свой цвет<br/>         Am         Dm               C<br/>Пьяный врач мне сказал, тебя больше нет<br/>   C      Dm          Am         F        Esus4 E<br/>Пожарный выдал мне справку, что дом твой сгорел<br/> <br/>Но я хочу быть с тобой<br/>Я хочу быть с тобой<br/>Я хочу быть с тобой<br/>Я так хочу быть с тобой<br/>И я буду с тобой<br/> <br/>Проигрыш: Am G C G Am G Dm Dm - 2p. <br/>F E - 4p. E<br/> <br/>     Am      G        Dm       Am<br/>Я ломал стекло как шоколад в руке<br/>   Am        G         Am      G<br/>Я резал эти пальцы за то что они<br/>    F                      Esus4 E<br/>Не могут прикоснуться к тебе<br/>       Am        Dm                   C<br/>Я смотрел в эти лица и не мог им простить<br/>   C        G       Am    Dm         Esus4 E<br/>Того что у них нет тебя и они могут жить<br/> <br/>Я хочу быть с тобой<br/>Я хочу быть с тобой<br/>Я хочу быть с тобой<br/>Я так хочу быть с тобой<br/>И я буду с тобой<br/>  F        Esus4 <br/>И я буду с тобой<br/> <br/>   Am        G          Am<br/>В комнате с белым потолком<br/>    G          Am  G Am G<br/>С правом на надежду<br/>   Am        G          Am<br/>В комнате с видом на огни<br/>   G         Am  G Am G<br/>С верою в любовь<br/> <br/>В комнате с белым потолком<br/>С правом на надежду<br/>В комнате с видом на огни<br/>С верою в любовь<br/> <br/>В комнате с белым потолком<br/>С правом на надежду<br/>В комнате с видом на огни<br/>С верою в любовь<br/> <br/>В комнате с белым потолком<br/>С правом на надежду<br/>В комнате с видом на огни<br/>С верою в любовь<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Esus4<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
