{% extends "chords.html" %}

{% set title = "Я хотел петь" %}
{% set handbook_unid = "40ab170eea785344c325679d006af2f1" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСКИ ПЕТЕРБУРГА - я хотел петь<br/>
</span><span style="color:red"> <br/>
Я ХОТЕЛ ПЕТЬ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: С С/h F G F F/e G C<br/>
<br/>
C<br/>
Я не знаю, при чём здесь законы войны,<br/>
   G                         G7<br/>
Но я никогда не встречал настолько весёлых времён.<br/>
          F<br/>
При встрече с медвежьим капканом<br/>
            F                         <br/>
Пойди объясни, что ты не медведь.<br/>
 G   C    G       F       G    F           G<br/>
Но, Господи, ты знаешь меня; всё, что я хотел,<br/>
  F           Em<br/>
Всё, что я хотел,<br/>
  F           G             C<br/>
Всё, что я хотел,- я хотел петь.<br/>
<br/>
Проигрыш: C F F/e G - 2p.<br/>
<br/>
На паперти как-то странно с весельем, в подвалах - могильный мрак.<br/>
Ты знаешь, когда всё время стреляют, наверное, что-то не так.<br/>
Спасибо за этот подарок,<br/>
Но раньше он назывался плеть.<br/>
Но, Господи, ты знаешь меня: всё, что я хотел,<br/>
Всё, что я хотел,<br/>
Всё, что я хотел - я хотел петь.<br/>
<br/>
Проигрыш: C F F/e G - 4p.<br/>
<br/>
Ты знаешь сам, мне нужно немного - хотя бы увидеть весну;<br/>
И я не знаю, зачем мне привесили груз, который тянет ко дну.<br/>
Но я знаю, что, если зажать меня в угол,<br/>
Едва ли я буду там впредь.<br/>
Но, Господи, ты знаешь меня: всё, что я хотел,<br/>
Всё, что я хотел<br/>
Всё, что я хотел - я хотел петь.<br/>
<br/>
Заключение: C F F/e G - 3p. С<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
