{% extends "chords.html" %}

{% set title = "Яблочные дни" %}
{% set handbook_unid = "c2badbffff922201c325679d006af0fc" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕСЯТЬ СТРЕЛ - яблочные дни<br/>
</span><span style="color:red"> <br/>
ЯБЛОЧНЫЕ ДНИ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
E-5-0-5-0-7--- -5-0-5-0-7--           -5-0-5-0-7--<br/>
H---------10-- ---------10- <span style="color:gray">драг-драг</span>
---------10- A<br/>
G---------9--- ---------9--           ---------9-- <br/>
D A D A D A A A<br/>
<br/>
                  D  Em A                D<br/>
Они говорили всю ночь;  я говорил, как все.<br/>
Em              A                  D D/c#  Hm<br/>
  Но правду сказать, я не знаю, о чём шла речь:<br/>
                 G<br/>
Я был занят одним,<br/>
                    A<br/>
Тем, насколько ты близко ко мне.<br/>
                     D<br/>
Я могу сказать тебе то,<br/>
Em A                    D<br/>
  То, что ты знала во сне;<br/>
Em       F#          Hm       A         G<br/>
  Я предлагаю тебе работать вместе со мной,<br/>
    A<br/>
Ожидая<br/>
                       D<br/>
Наступления яблочных дней.<br/>
<br/>
Проигрыш: A D A D A A A A<br/>
<br/>
Я мог бы купить тебе дом по эту сторону дня,<br/>
Но, чтобы идти сквозь стекло, нужно владеть собой,<br/>
А это одно из тех качеств,<br/>
Которых нет у меня.<br/>
Но кто-то играет, и я должен петь,<br/>
И с каждым днём всё сильней.<br/>
Моё ощущение, что это просто мой метод любви,<br/>
И я ожидаю<br/>
Наступления яблочных дней.<br/>
<br/>
Проигрыш: A D A D A D A A<br/>
<br/>
У этой науки нет книг, но кто пишет книги весной?<br/>
И если, закрыв глаза, смотреть на солнечный свет,<br/>
То можно увидеть кого-то из тех,<br/>
Кто работает вместе со мной.<br/>
И деревья, растущие здесь,<br/>
Растут из древних корней.<br/>
Ты спросишь меня, зачем капитаны стоят на башнях -<br/>
Они ожидают<br/>
Наступления яблочных дней.<br/>
<br/>
Заключение: A D A D A D A D A!!!!! A D!!!!! D A!!!!! A D!!!!!<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D/c#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
