<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Аквариум, БГ, Борис Гребенщиков, аккорды, aquariumchords, separationend.narod.ru">
    <meta name="author" content="Iakov Davydov">
    <link rel="icon" href="/favicon.ico">

    <title>Аквариум и Борис Гребещников (БГ), аккорды, aquraiumchords</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% include 'tracking.html' %}
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Аквариум и БГ, аккорды</h3>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
	  {% for item in chords1 %}
	    <p><a href="{{ item.url }}">{{ item.title }}</a> {{ item.extra_title }}</p>
	  {% endfor %}
        </div>
        <div class="col-lg-6">
	  {% for item in chords2 %}
	    <p><a href="{{ item.url }}">{{ item.title }}</a> {{ item.extra_title }}</p>
	  {% endfor %}
        </div>
      </div>

      <footer class="footer">
        <p>На основе подборов Павла Сорокина, 2006-2014 г.</p>
      </footer>

    </div>
  </body>
</html>
